<section class="section-left">
    <app-item-attribute1></app-item-attribute1>
    <app-item-attribute2></app-item-attribute2>
    <app-item-attribute3></app-item-attribute3>
    <app-item-attribute4></app-item-attribute4>
    <app-item-attribute5></app-item-attribute5>
    
</section>

