<section
  class="content"
  id="component1"
  #epltable
  style="margin: 0px 18px 0 18px"
>
  <div class="container" style="border: 1px solid black">
    <div class="card" style="page-break-after: always">
      <div class="header">
        <img
          src="{{ previewImage1 }}"
          height="100"
          style="width: 100%"
          alt="background image"
          *ngIf="header_full_image"
        />

        <div style="height: 120px; position: relative" *ngIf="NotFullImage">
          <div style="top: 8px; left: 16px; position: absolute">
            <img
              src="{{ previewImage1 }}"
              height="50"
              width="300px"
              alt="background image"
              *ngIf="header_image_logo && header_text_top_left"
            />
          </div>
          <div style="top: 8px; right: 16px; position: absolute">
            <img
              src="{{ previewImage1 }}"
              height="50"
              width="300px"
              alt="background image"
              *ngIf="header_image_logo && header_text_top_right"
            />
          </div>
          <div style="top: 8px; left: 50%; position: absolute">
            <img
              src="{{ previewImage1 }}"
              height="50"
              width="300px"
              alt="background image"
              *ngIf="header_image_logo && header_text_top_center"
            />
          </div>
          <div style="bottom: 8px; right: 16px; position: absolute">
            <img
              src="{{ previewImage1 }}"
              height="50"
              width="300px"
              alt="background image"
              *ngIf="header_image_logo && header_text_bottom_right"
            />
          </div>
          <div style="bottom: 8px; left: 16px; position: absolute">
            <img
              src="{{ previewImage1 }}"
              height="50"
              width="300px"
              alt="background image"
              *ngIf="header_image_logo && header_text_bottom_left"
            />
          </div>
          <div style="bottom: 8px; left: 50%; position: absolute">
            <img
              src="{{ previewImage1 }}"
              height="50"
              width="300px"
              alt="background image"
              *ngIf="header_image_logo && header_text_bottom_center"
            />
          </div>
          <div style="top: 50%; left: 50%; position: absolute">
            <img
              src="{{ previewImage1 }}"
              height="50"
              width="300px"
              alt="background image"
              *ngIf="header_image_logo && header_text_center_center"
            />
          </div>
          <div style="top: 50%; left: 16px; position: absolute">
            <img
              src="{{ previewImage1 }}"
              height="50"
              width="300px"
              alt="background image"
              *ngIf="header_image_logo && header_text_center_left"
            />
          </div>
          <div style="top: 50%; right: 16px; position: absolute">
            <img
              src="{{ previewImage1 }}"
              height="50"
              width="300px"
              alt="background image"
              *ngIf="header_image_logo && header_text_center_right"
            />
          </div>

          <p
            style="
              width: 400px;
              word-break: break-all;
              bottom: 8px;
              right: 16px;
              position: absolute;
              font-weight: bold;
              text-align: right;
              font-size: 16px;
            "
            *ngIf="headeratextpplicable && bottom_right"
          >
            {{ headerText }}
          </p>
          <p
            style="
              width: 400px;
              word-break: break-all;
              bottom: 8px;
              left: 16px;
              position: absolute;
              font-weight: bold;
              font-size: 16px;
            "
            *ngIf="headeratextpplicable && bottom_left"
          >
            {{ headerText }}
          </p>
          <p
            style="
              width: 400px;
              word-break: break-all;
              bottom: 8px;
              left: 50%;
              transform: translateX(-50%);
              position: absolute;
              font-weight: bold;
              font-size: 16px;
            "
            *ngIf="headeratextpplicable && bottom_center"
          >
            {{ headerText }}
          </p>
          <p
            style="
              width: 400px;
              word-break: break-all;
              top: 50%;
              right: 16px;
              transform: translateY(-50%);
              position: absolute;
              font-weight: bold;
              font-size: 16px;
            "
            *ngIf="headeratextpplicable && center_right"
          >
            {{ headerText }}
          </p>
          <p
            style="
              width: 400px;
              word-break: break-all;
              top: 50%;
              left: 16px;
              transform: translateY(-50%);
              position: absolute;
              font-weight: bold;
              font-size: 16px;
            "
            *ngIf="headeratextpplicable && center_left"
          >
            {{ headerText }}
          </p>
          <p
            style="
              width: 400px;
              word-break: break-all;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              position: absolute;
              font-weight: bold;
              font-size: 16px;
              text-align: center;
            "
            *ngIf="headeratextpplicable && center_center"
          >
            {{ headerText }}
          </p>
          <p
            style="
              width: 400px;
              word-break: break-all;
              top: 8px;
              right: 16px;
              position: absolute;
              font-weight: bold;
              text-align: right;
              font-size: 16px;
            "
            *ngIf="headeratextpplicable && top_right"
          >
            {{ headerText }}
          </p>
          <p
            style="
              width: 400px;
              word-break: break-all;
              top: 8px;
              left: 16px;
              position: absolute;
              font-weight: bold;
              text-align: left;
              font-size: 16px;
            "
            *ngIf="headeratextpplicable && top_left"
          >
            {{ headerText }}
          </p>
          <p
            style="
              width: 400px;
              word-break: break-all;
              top: 8px;
              left: 50%;
              transform: translateX(-50%);
              position: absolute;
              font-weight: bold;
              font-size: 16px;
              text-align: center;
            "
            *ngIf="headeratextpplicable && top_center"
          >
            {{ headerText }}
          </p>
        </div>

        <hr style="border-top: 5px solid #000" *ngIf="headerapplicable" />
        <h4 style="text-align: center">
          <strong>{{ screenName }}</strong>
        </h4>

        <div class="table-container">
          <div class="table">
            <table style="margin-left: 1px common-table">
              <tr>
                <th>Buyer :{{ tenant_name }}</th>
              </tr>
              <tr>
                <td><strong>Address:</strong>{{ byer_adderess }}</td>
              </tr>
              <tr>
                <td><strong>GSTIN/UIN:</strong>{{ byer_gst_no }}</td>
              </tr>
            </table>
            <hr
              style="
                margin-top: 0;
                margin-bottom: 0;
                border-top: 2px solid #000;
              "
            />
            <table style="margin-left: 1px common-table">
              <tr>
                <th>Consignee : {{ tenant_name }}</th>
              </tr>

              <tr>
                <td><strong>Address:</strong>{{ byer_adderess }}</td>
              </tr>
              <tr>
                <td><strong>GSTIN/UIN:</strong>{{ byer_gst_no }}</td>
              </tr>
            </table>
          </div>
          <div class="table">
            <table style="margin-left: 1px common-table">
              <tr class="top-line">
                <td><b>PO No:</b></td>
                <td>{{ po_no }}</td>

                <td><b>Date:</b> {{ po_date | date : "dd/MM/yyyy" }}</td>
                <!-- <td>{{ po_date | date : "dd/MM/yyyy" }}</td> -->
              </tr>

              <tr>
                <td><b>PO Type:</b></td>
                <td>{{ po_type }}</td>

                <td><b>PO Item Type:</b></td>
                <td>{{ po_item_type }}</td>
              </tr>
            </table>
            <hr
              style="
                margin-top: 0;
                margin-bottom: 0;
                border-top: 2px solid #000;
              "
            />
            <table style="margin-left: 1px common-table">
              <!-- <tr class="top-line">

                          </tr> -->

              <tr>
                <td><b>Supplier Name: </b>{{ supplier_name }}</td>
              </tr>
              <tr>
                <td><b>Address:</b>{{ customer_address_bill }}</td>
              </tr>

              <tr>
                <td><strong>GSTIN/UIN:</strong> {{ gst_no }}</td>
              </tr>
              <tr>
                <td><b>Payment Terms:</b> {{ payment_terms }}</td>
              </tr>
              <!-- <tr>
                              <td><b>Agent: </b>{{agent_name}}</td>
                          </tr> -->
              <tr>
                <td><b>Delivery Terms: </b>{{ mode_of_delivary_terms }}</td>
              </tr>
              <tr>
                <td><b>Contact Person:</b>{{ contact_person }}</td>
              </tr>
            </table>
          </div>
        </div>

        <div>
          <div class="bordered-table-container">
            <table class="bordered-table common-table">
              <thead>
                <tr>
                  <th>S.N.</th>
                  <th style="width: 50%">Item</th>
                  <th>HSN Code</th>
                  <th>Expected Delivery Date</th>
                  <th>UOM</th>
                  <th>Quantity</th>
                  <th>Rate</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let itemData of itemDataList; let i = index">
                  <td style="border-bottom: 1px solid black">{{ i + 1 }}</td>
                  <td>{{ itemData.item_name }}</td>
                  <td>{{ itemData.hsn_sac_no }}</td>
                  <td>
                    {{ itemData.expected_delivery_date | date : "dd/MM/yyyy" }}
                  </td>
                  <td>{{ itemData.uom }}</td>
                  <td style="text-align: right">
                    {{ itemData.quantity | number : "1.4-4" }}
                  </td>
                  <td style="text-align: right">
                    {{ itemData.rate | number : "1.2-2" }}
                  </td>
                  <td style="text-align: right">
                    {{ itemData.txn_currency_amount | number : "1.2-2" }}
                  </td>
                </tr>
                <tr class="bottom-line">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="amount-class"><b>Total Amount</b></td>
                  <td style="text-align: right">
                    <strong>{{ totalAmount | number : "1.2-2" }}</strong>
                  </td>
                </tr>
              </tbody>
            </table>
            <table class="bordered-table invoice-border-table">
              <thead>
                <tr>
                  <th style="text-align: center" rowspan="2">Item</th>
                  <th style="text-align: center" rowspan="2">HSN/SAC</th>
                  <th style="text-align: center" colspan="2">IGST</th>
                  <th style="text-align: center" colspan="2">CGST</th>
                  <th style="text-align: center" colspan="2">SGST</th>
                  <th style="text-align: center" rowspan="2">Tax Amount</th>
                </tr>
                <tr>
                  <th>Rate</th>
                  <th>Amount</th>
                  <th>Rate</th>
                  <th>Amount</th>
                  <th>Rate</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let itemData of itemDataList">
                  <td style="text-align: center">{{ itemData.item_name }}</td>
                  <td style="text-align: center">{{ itemData.hsn_sac_no }}</td>
                  <td style="text-align: right">
                    {{ itemData.txn_currency_igst_rate }}
                  </td>
                  <td style="text-align: right">
                    {{ itemData.txn_currency_igst_amount | number : "1.2-2" }}
                  </td>
                  <td style="text-align: right">
                    {{ itemData.txn_currency_cgst_rate }}
                  </td>
                  <td style="text-align: right">
                    {{ itemData.txn_currency_cgst_amount | number : "1.2-2" }}
                  </td>
                  <td style="text-align: right">
                    {{ itemData.txn_currency_sgst_rate }}
                  </td>
                  <td style="text-align: right">
                    {{ itemData.txn_currency_sgst_amount | number : "1.2-2" }}
                  </td>
                  <td style="text-align: right">
                    {{ itemData.txn_currency_tax_amount | number : "1.2-2" }}
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td style="text-align: center" rowspan="2">
                    <strong>Grand Total</strong>
                  </td>
                  <td style="text-align: right">
                    <strong>{{ amount | number : "1.2-2" }}</strong>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <hr style="border-top: 1px solid #000" />
          <p class="amount-in-words">
            <strong>Amount In Words : {{ convertToWords(amount) }}</strong>
          </p>
          <hr style="border-top: 1px solid #000" />
          <p class="terms-conditions"><strong>Terms & Conditions :</strong></p>
          <p class="terms-conditions">{{ remark }}</p>

          <hr style="border-top: 1px solid #000" />

          <br /><br />
          <p style="text-align: right"><strong>Authorised Signatory</strong></p>

          <!-- <table class="footer-table">
                      <tr>
                          <td>
                              <p class="footer"></p>
                          </td>
                          <td>
                              <p></p>
                          </td>
                          <td>
                              <p><strong>{{tenant_name}}</strong></p>
                          </td>
                      </tr>
                      <br>
                      <br>
                      <br>
                      <br>
                      <tr>
                          <td>
                              <p class="footer"><strong>Receiver's Signature</strong> </p>
                          </td>
                          <td>
                              <p class="footer"><strong> Authorised Signatory</strong></p>

                          </td>
                          <td>
                              <p class="footer" ><strong>Authorised Signatory</strong> </p>
                          </td>
                         
                      </tr>
                  </table> -->
        </div>
      </div>

      <hr style="border-top: 1px solid #000" *ngIf="footerapplicable" />

      <img
        width="100%"
        height="100"
        src="{{ previewImage2 }}"
        alt="background image"
        *ngIf="footer_full_image"
      />

      <div class="footer" *ngIf="NotFullImageFooter">
        <div style="top: 8px; right: 16px; position: absolute">
          <img
            src="{{ previewImage2 }}"
            height="50"
            width="400px"
            alt="background image"
            *ngIf="footer_image_logo && footer_image_top_right"
          />
        </div>
        <div style="top: 8px; left: 16px; position: absolute">
          <img
            src="{{ previewImage2 }}"
            height="50"
            width="300px"
            alt="background image"
            *ngIf="footer_image_logo && footer_image_top_left"
          />
        </div>
        <div style="top: 8px; left: 50%; position: absolute">
          <img
            src="{{ previewImage2 }}"
            height="50"
            width="300px"
            alt="background image"
            *ngIf="footer_image_logo && footer_image_top_center"
          />
        </div>
        <div style="bottom: 8px; right: 16px; position: absolute">
          <img
            src="{{ previewImage2 }}"
            height="50"
            width="300px"
            alt="background image"
            *ngIf="footer_image_logo && footer_image_bottom_right"
          />
        </div>
        <div style="bottom: 8px; left: 16px; position: absolute">
          <img
            src="{{ previewImage2 }}"
            height="50"
            width="300px"
            alt="background image"
            *ngIf="footer_image_logo && footer_image_bottom_left"
          />
        </div>
        <div style="bottom: 8px; left: 50%; position: absolute">
          <img
            src="{{ previewImage2 }}"
            height="50"
            width="300px"
            alt="background image"
            *ngIf="footer_image_logo && footer_image_bottom_center"
          />
        </div>
        <div style="top: 50%; left: 50%; position: absolute">
          <img
            src="{{ previewImage2 }}"
            height="50"
            width="300px"
            alt="background image"
            *ngIf="footer_image_logo && footer_image_center_center"
          />
        </div>
        <div style="top: 50%; left: 16px; position: absolute">
          <img
            src="{{ previewImage2 }}"
            height="50"
            width="300px"
            alt="background image"
            *ngIf="footer_image_logo && footer_image_center_left"
          />
        </div>
        <div style="top: 50%; right: 16px; position: absolute">
          <img
            src="{{ previewImage2 }}"
            height="50"
            width="300px"
            alt="background image"
            *ngIf="footer_image_logo && footer_image_center_right"
          />
        </div>

        <p
          style="
            width: 400px;
            word-break: break-all;
            bottom: 8px;
            right: 16px;
            position: absolute;
            font-weight: bold;
            text-align: right;
            font-size: 16px;
          "
          *ngIf="headeratextpplicable && bottom_right"
        >
          {{ headerText }}
        </p>
        <p
          style="
            width: 400px;
            word-break: break-all;
            bottom: 8px;
            left: 16px;
            position: absolute;
            font-weight: bold;
            font-size: 16px;
          "
          *ngIf="headeratextpplicable && bottom_left"
        >
          {{ headerText }}
        </p>
        <p
          style="
            width: 400px;
            word-break: break-all;
            bottom: 8px;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            font-weight: bold;
            font-size: 16px;
          "
          *ngIf="headeratextpplicable && bottom_center"
        >
          {{ headerText }}
        </p>
        <p
          style="
            width: 400px;
            word-break: break-all;
            top: 50%;
            right: 16px;
            transform: translateY(-50%);
            position: absolute;
            font-weight: bold;
            font-size: 16px;
          "
          *ngIf="headeratextpplicable && center_right"
        >
          {{ headerText }}
        </p>
        <p
          style="
            width: 400px;
            word-break: break-all;
            top: 50%;
            left: 16px;
            transform: translateY(-50%);
            position: absolute;
            font-weight: bold;
            font-size: 16px;
          "
          *ngIf="headeratextpplicable && center_left"
        >
          {{ headerText }}
        </p>
        <p
          style="
            width: 400px;
            word-break: break-all;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            font-weight: bold;
            font-size: 16px;
          "
          *ngIf="headeratextpplicable && center_center"
        >
          {{ headerText }}
        </p>
        <p
          style="
            width: 400px;
            word-break: break-all;
            top: 8px;
            right: 16px;
            position: absolute;
            font-weight: bold;
            text-align: right;
            font-size: 16px;
          "
          *ngIf="headeratextpplicable && top_right"
        >
          {{ headerText }}
        </p>
        <p
          style="
            width: 400px;
            word-break: break-all;
            top: 8px;
            left: 16px;
            position: absolute;
            font-weight: bold;
            text-align: left;
            font-size: 16px;
          "
          *ngIf="headeratextpplicable && top_left"
        >
          {{ headerText }}
        </p>
        <p
          style="
            width: 400px;
            word-break: break-all;
            top: 8px;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            font-weight: bold;
            font-size: 16px;
          "
          *ngIf="headeratextpplicable && top_center"
        >
          {{ headerText }}
        </p>
      </div>
    </div>
  </div>
  <div id="printButtonContainer" style="text-align: center">
    <div class="button-demo">
      <button
        class="btn btn-primary print"
        id="printPageButton"
        type="button"
        (click)="printComponent()"
      >
        Print
      </button>

      <button
        class="btn btn-danger"
        id="backButton"
        type="button"
        (click)="Back()"
      >
        Back
      </button>
    </div>
  </div>
</section>
