body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.right {
  text-align: right;
  font-size: 18px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}

.screen-name {
  font-size: 1.2em;
}

@media print {
  html,
  body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-size: 10pt;
    margin-left: 50px;
  }
  #printButtonContainer {
    display: none;
  }

  .template {
    overflow: hidden;
  }
  img {
    width: 100%;
  }

  @page {
    size: B4;
  }
  th,
  td {
    padding: 1px;
    text-align: left;
    font-size: 18px;
  }
}

.table-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border: 1px solid #464545;
  width: 100%;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border: none;
  border-width: 0;
  border-style: none;
}

.bordered-table {
  border-collapse: collapse;
  width: 100%;
  height: 200px;
}

.bordered-table th,
.bordered-table td {
  border: 1px solid #000;
  padding: 8px;
  text-align: center;
}

.bordered-table th {
  background-color: #f0f0f0;
  font-weight: bold;
}

.table {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  border: 1px solid #000;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 1px;
  text-align: left;
  font-size: 14px;
}

th {
  font-weight: bold;
}

td {
  border: none;
}

.invoice-table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 5px;
}

.invoice-table th,
.invoice-table td {
  border: 1px solid #000;
  padding: 8px;
  text-align: left;
}

.invoice-table th {
  background-color: #f8f8f8;
  font-weight: bold;
}

.invoice-table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

.invoice-table tbody tr:last-child {
  background-color: #fffafa;
}

.bordered-table .bottom-line {
  border-bottom: 1px solid #000;
}
.footer-table {
  border-collapse: collapse;
  width: 100%;
}

.footer-table td {
  border: none;
  padding: 8px;
  text-align: center;
}

.footer-table p {
  margin: 0;
}

.footer-table td:first-child {
  margin-top: 50px;
}

.amount-class {
  font-size: 10px;
}

.bottom-line {
  height: 10px;
}
.invoice-border-table {
  height: 10px;
  font-size: 8px;
  width: 100%;
}

.table-transport {
  border-collapse: collapse;
  width: 100%;
}

.table-transport td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
.amount-in-words {
  font-size: 14px;
}
