<div class="edit_pop_up override_edit_pop_up">
  <div class="big-model">
    <div class="header">
      <p>{{ screenName }}</p>
      <button (click)="onCancelForm()">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
    <div class="body overflow_model">
      <div class="details-form">
        <form [formGroup]="dispatchNoteForm">
          <div class="personal">
            <!-- <p class="m-0 p-0">Personal Details</p> -->
            <div class="row d-flex">
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Transaction Date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="transaction_date"
                    id="transaction_date"
                    placeholder="Transaction Date"
                    formControlName="transaction_date"
                    [(ngModel)]="todayDate"
                    required
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="transaction_date"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #transaction_date></mat-datepicker>
                  <mat-error
                    *ngIf="
                      dispatchNoteForm.controls['transaction_date'].hasError(
                        'required'
                      )
                    "
                    >Transaction Date Is Required.</mat-error
                  >
                </mat-form-field>
              </div>

              <div
                class="col-md-3"
                *ngIf="viewEdit"
                matTooltip="This will be filled automatically"
              >
                <mat-form-field class="example-full-width">
                  <mat-label>Dispatch Number</mat-label>
                  <input
                    matInput
                    id="transaction_ref_no"
                    placeholder="Enter Dispatch Number"
                    formControlName="transaction_ref_no"
                    readonly
                  />
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Customer Name</mat-label>
                  <mat-select
                    formControlName="customer_ref_id"
                    id="customer_ref_id"
                    placeholder="Select Customer Name"
                    (selectionChange)="customerChange($event.value)"
                    required
                  >
                    <mat-select-filter
                      [placeholder]="'Search'"
                      [displayMember]="'key'"
                      [array]="customerData"
                      (filteredReturn)="filterCustomerData = $event"
                    ></mat-select-filter>
                    <mat-option
                      *ngFor="let data of filterCustomerData"
                      [value]="data.id"
                      style="padding-top: 8px; padding-bottom: 8px"
                    >
                      {{ data.key }}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="
                      dispatchNoteForm.controls['customer_ref_id'].hasError(
                        'required'
                      )
                    "
                    >Customer Name Is Required.</mat-error
                  >
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Sales Order</mat-label>
                  <mat-select
                    formControlName="so_ref_id"
                    id="so_ref_id"
                    placeholder="Select Sales Order"
                    (selectionChange)="soChange($event.value)"
                    required
                  >
                    <mat-select-filter
                      [placeholder]="'Search'"
                      [displayMember]="'transaction_ref_no'"
                      [array]="soData"
                      (filteredReturn)="filterSoData = $event"
                    ></mat-select-filter>
                    <mat-option
                      *ngFor="let data of filterSoData"
                      [value]="data.id"
                      style="padding-top: 8px; padding-bottom: 8px"
                    >
                      {{ data.transaction_ref_no }}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="
                      dispatchNoteForm.controls['so_ref_id'].hasError(
                        'required'
                      )
                    "
                    >Sales Order Is Required.</mat-error
                  >
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Sales Order Type</mat-label>
                  <mat-select
                    formControlName="so_type_id"
                    id="so_type_id"
                    placeholder="Select Sales Order Type"
                  >
                    <mat-option
                      *ngFor="let data of soTypeData"
                      [value]="data.id"
                    >
                      {{ data.master_value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Customer Bill To</mat-label>
                  <mat-select
                    formControlName="customer_bill_to"
                    id="customer_bill_to"
                    placeholder="Select Customer Bill To"
                  >
                    <mat-option
                      *ngFor="let data of billAddress"
                      [value]="data.id"
                      style="padding-top: 8px; padding-bottom: 8px"
                    >
                      {{ data.address }}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="
                      dispatchNoteForm.controls['customer_bill_to'].hasError(
                        'required'
                      )
                    "
                    >Customer Bill To Is Required.</mat-error
                  >
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Customer Ship To</mat-label>
                  <mat-select
                    formControlName="customer_ship_to"
                    id="customer_ship_to"
                    placeholder="Select Customer Ship To"
                  >
                    <mat-option
                      *ngFor="let data of shipAddress"
                      [value]="data.id"
                      style="padding-top: 8px; padding-bottom: 8px"
                    >
                      {{ data.address }}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="
                      dispatchNoteForm.controls['customer_ship_to'].hasError(
                        'required'
                      )
                    "
                    >Customer Ship To Is Required.</mat-error
                  >
                </mat-form-field>
              </div>

              <div
                class="col-md-3"
                matTooltip="This will be filled automatically"
              >
                <mat-form-field class="example-full-width">
                  <mat-label>Grand Total Amount</mat-label>
                  <input
                    matInput
                    id="txn_currency_grand_total_amount"
                    placeholder="Enter Grand Total Amount"
                    formControlName="txn_currency_grand_total_amount"
                    required
                    readonly
                  />
                  <mat-error
                    *ngIf="
                      dispatchNoteForm.controls[
                        'txn_currency_grand_total_amount'
                      ].hasError('required')
                    "
                  >
                    Grand Total Amount Is Required.</mat-error
                  >
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Division</mat-label>
                  <mat-select formControlName="division_ref_id">
                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of DivisionData"
                      >{{ obj.key }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Department</mat-label>
                  <mat-select formControlName="department_ref_id">
                    <mat-option [value]="">Select Department Name</mat-option>
                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of DepartmentData"
                      >{{ obj.key }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Type Of Sale</mat-label>
                  <mat-select formControlName="sale_type_ref_id">
                    <mat-option [value]="">Select Sale Type</mat-option>

                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of SaleTypeData"
                      >{{ obj.key }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Location</mat-label>
                  <mat-select formControlName="location_ref_id">
                    <mat-option [value]="">Select Location</mat-option>

                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of LocationData"
                      >{{ obj.key }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>

              <cdk-accordion>
                <cdk-accordion-item
                  #accordionItem="cdkAccordionItem"
                  tabindex="0"
                  [attr.id]="'accordion-header-'"
                  [attr.aria-expanded]="accordionItem.expanded"
                  [attr.aria-controls]="'accordion-body-'"
                >
                  <div (click)="accordionItem.toggle()">
                    <div class="header accordian">
                      <p
                        class="fas fa-angle-down example-accordion-item-description"
                      >
                        <i class="bi bi-chevron-down"></i>
                        <strong
                          >Additional Details<span
                            class="fas fa-angle-down example-accordion-item-description"
                          >
                          </span>
                        </strong>
                      </p>
                    </div>
                  </div>
                  <div [formGroup]="dispatchNoteForm">
                    <div
                      role="region"
                      [style.display]="accordionItem.expanded ? '' : 'none'"
                      [attr.id]="'accordion-body-'"
                      [attr.aria-labelledby]="'accordion-header-'"
                      class="row clearfix"
                    >
                      <div class="card">
                        <div class="body">
                          <div class="row clearfix">
                            <div class="col-md-3">
                              <mat-form-field class="example-full-width">
                                <mat-label>LR Number</mat-label>
                                <input
                                  matInput
                                  id="lr_no"
                                  placeholder="Enter LR Number"
                                  formControlName="lr_no"
                                  maxlength="50"
                                />
                              </mat-form-field>
                            </div>

                            <div class="col-md-3">
                              <div class="d-flex">
                                <label class="custom-file-upload mx-8">
                                  <div class="file-container">
                                    <div class="btn-container">
                                      <button
                                        type="button"
                                        mat-raised-button
                                        (click)="fileInput.click()"
                                        *ngIf="!fileName"
                                      >
                                        Choose LR Attachment
                                      </button>
                                      <input
                                        hidden
                                        (change)="setAttachment($event)"
                                        #fileInput
                                        type="file"
                                        id="file"
                                        accept=".png, .jpg, .pdf"
                                      />
                                    </div>
                                  </div>
                                </label>
                                <div class="status-text">
                                  <div>
                                    <!-- <p class="file-upload-text m-0 p-0">

                                    </p> -->
                                    <div class="intraction-container">
                                      <p class="file-upload-text m-0 p-0">
                                        <span *ngIf="!fileName"
                                          >No File Uploaded</span
                                        >
                                        <span *ngIf="fileName">{{
                                          fileName
                                        }}</span>
                                      </p>
                                      <div
                                        class="intraction"
                                        *ngIf="!submitBtn"
                                      >
                                        <button
                                          *ngIf="fileName"
                                          (click)="openImage(lrAttachmentUrl)"
                                        >
                                          View
                                        </button>

                                        <span
                                          class="vline"
                                          *ngIf="fileName"
                                        ></span>
                                        <button
                                          *ngIf="fileName"
                                          (click)="
                                            downloadImage(lrAttachmentUrl)
                                          "
                                        >
                                          Download
                                        </button>
                                        <button
                                          *ngIf="fileName"
                                          (click)="deleteSelectedFile()"
                                        >
                                          Remove
                                        </button>
                                      </div>
                                    </div>
                                  </div>

                                  <p class="m-0 status-para p-0">
                                    <!-- <span
                                      class="uploaderror"
                                      *ngIf="uploaderror"
                                      >File size should be less than 2MB</span
                                    > -->
                                    <span class="added" *ngIf="fileName"
                                      >File Added</span
                                    >
                                    <span *ngIf="!fileName"
                                      >Formats allowed: .png, .jpg, .pdf</span
                                    >
                                  </p>
                                </div>
                              </div>
                              <!-- <mat-label>LR Attachment</mat-label><br />
                              <a
                                *ngIf="previewImage && !fileName"
                                href="{{ previewImage }}"
                                target="_blank"
                                >Download<mat-icon>download</mat-icon></a
                              >
                              <label
                                for="lr_attachment"
                                class="btn btn-primary btn-border-radius waves-effect"
                                >Choose File</label
                              >

                              <input
                                #fileInput
                                type="file"
                                (change)="setAttachment($event)"
                                id="lr_attachment"
                                hidden
                                required
                              />
                              <br />
                              {{ fileName
                              }}<i
                                class="fa fa-spinner fa-spin"
                                *ngIf="showFileLoader"
                              ></i> -->
                            </div>

                            <div class="col-md-3">
                              <mat-form-field class="example-full-width">
                                <mat-label>E-way Bill Number</mat-label>
                                <input
                                  matInput
                                  id="e_way_bill_no"
                                  placeholder="Enter E-way Bill Number"
                                  formControlName="e_way_bill_no"
                                />
                                <mat-error
                                  *ngIf="
                                    dispatchNoteForm.controls[
                                      'e_way_bill_no'
                                    ].hasError('required')
                                  "
                                >
                                  E-way Bill Number Is Required.</mat-error
                                >
                              </mat-form-field>
                            </div>

                            <div class="col-md-3">
                              <mat-form-field class="example-full-width">
                                <mat-label>Packaging Charges</mat-label>
                                <input
                                  matInput
                                  type="number"
                                  min="0"
                                  step="0.01"
                                  id="txn_currency_packaging_charges"
                                  placeholder="Enter Packaging Charges"
                                  formControlName="txn_currency_packaging_charges"
                                  oninput="validity.valid||(value='');"
                                  (keyup)="chargesChange()"
                                />
                              </mat-form-field>
                            </div>

                            <div class="col-md-3">
                              <mat-form-field class="example-full-width">
                                <mat-label>Insurance Charges</mat-label>
                                <input
                                  matInput
                                  type="number"
                                  min="0"
                                  step="0.01"
                                  id="txn_currency_insurance_charges"
                                  placeholder="Enter Insurance Charges"
                                  formControlName="txn_currency_insurance_charges"
                                  oninput="validity.valid||(value='');"
                                  (keyup)="chargesChange1()"
                                />
                              </mat-form-field>
                            </div>

                            <div class="col-md-3" *ngIf="isTransportationView">
                              <mat-form-field class="example-full-width">
                                <mat-label>Transportation Charges</mat-label>
                                <input
                                  matInput
                                  type="number"
                                  min="0"
                                  step="0.01"
                                  id="txn_currency_transportation_charges"
                                  placeholder="Enter Transportation Charges"
                                  formControlName="txn_currency_transportation_charges"
                                  oninput="validity.valid||(value='');"
                                  (keyup)="chargesChange2()"
                                />
                                <mat-error
                                  *ngIf="
                                    dispatchNoteForm.controls[
                                      'txn_currency_transportation_charges'
                                    ].hasError('required')
                                  "
                                >
                                  Transportation Charges Is required.</mat-error
                                >
                              </mat-form-field>
                            </div>

                            <div class="col-md-3">
                              <mat-form-field class="example-full-width">
                                <mat-label>Sub Total Amount</mat-label>
                                <input
                                  matInput
                                  id="txn_currency_sub_total_amount"
                                  placeholder="Enter Sub Total Amount"
                                  formControlName="txn_currency_sub_total_amount"
                                  required
                                  readonly
                                />
                                <mat-error
                                  *ngIf="
                                    dispatchNoteForm.controls[
                                      'txn_currency_sub_total_amount'
                                    ].hasError('required')
                                  "
                                  >Sub Total Amount Is Required.</mat-error
                                >
                              </mat-form-field>
                            </div>

                            <div class="col-md-3">
                              <mat-form-field class="example-full-width">
                                <mat-label>Tax Rate</mat-label>
                                <input
                                  matInput
                                  id="txn_currency_tax_rate"
                                  placeholder="Enter Tax Rate"
                                  formControlName="txn_currency_tax_rate"
                                  required
                                  readonly
                                />
                                <mat-error
                                  *ngIf="
                                    dispatchNoteForm.controls[
                                      'txn_currency_tax_rate'
                                    ].hasError('required')
                                  "
                                  >Tax Rate Is Required.</mat-error
                                >
                              </mat-form-field>
                            </div>

                            <div class="col-md-3">
                              <mat-form-field class="example-full-width">
                                <mat-label>Tax Amount</mat-label>
                                <input
                                  matInput
                                  id="txn_currency_tax_amount"
                                  placeholder="Enter Tax Amount"
                                  formControlName="txn_currency_tax_amount"
                                  required
                                  readonly
                                />
                                <mat-error
                                  *ngIf="
                                    dispatchNoteForm.controls[
                                      'txn_currency_tax_amount'
                                    ].hasError('required')
                                  "
                                >
                                  Tax Amount Is Required.</mat-error
                                >
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </cdk-accordion-item>
              </cdk-accordion>

              <div>
                <div class="header accordian">
                  <p
                    class="fas fa-angle-down example-accordion-item-description"
                  >
                    <strong
                      >Dispatch Note Details<span
                        class="fas fa-angle-down example-accordion-item-description"
                      >
                      </span
                    ></strong>
                  </p>
                </div>
              </div>
              <div [formGroup]="dispatchNoteForm">
                <div class="card">
                  <div class="body">
                    <div class="row clearfix">
                      <div
                        class="table-responsive"
                        formArrayName="dispatch_note_details"
                      >
                        <table
                          id="tableExport1"
                          class="display table table-hover table-checkable order-column m-t-20 width-per-100 table-bordered"
                        >
                          <caption></caption>
                          <thead>
                            <tr>
                              <th style="text-align: center">QC Parameter</th>
                              <th style="text-align: center">Item Name</th>
                              <th style="text-align: center">
                                Order Quantity (MT)
                              </th>
                              <th style="text-align: center">UOM</th>
                              <th style="text-align: center">
                                Available Stock Quantity (MT)
                              </th>
                              <th style="text-align: center">
                                Dispatch Quantity (MT)
                              </th>
                              <th style="text-align: center">No Of Bags</th>
                              <th style="text-align: center">SO Rate</th>
                              <th style="text-align: center">Amount</th>
                              <th style="text-align: center">Tax Rate</th>
                              <th style="text-align: center">Tax Amount</th>
                              <th style="text-align: center">Total Amount</th>
                            </tr>
                          </thead>
                          <tbody class="main_tbody">
                            <tr
                              *ngFor="
                                let dynamic of formArr['controls'];
                                let j = index
                              "
                              [formGroupName]="j"
                            >
                              <td class="col_input">
                                <div
                                  class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                >
                                  <button
                                    type="button"
                                    [disabled]="btnDisable"
                                    class="parameter-button"
                                    (click)="addQcParameterDetails(j)"
                                  >
                                    Quality Check
                                  </button>
                                </div>
                              </td>

                              <td class="col_input">
                                <mat-form-field class="example-full-width">
                                  <mat-label>Item Name</mat-label>
                                  <mat-select
                                    formControlName="item_ref_id"
                                    id="item_ref_id{{ j + 1 }}"
                                    placeholder="Select Item Name"
                                  >
                                    <mat-option
                                      *ngFor="let data of itemData"
                                      [value]="data.id"
                                    >
                                      {{ data.name }}
                                    </mat-option>
                                  </mat-select>
                                  <mat-error
                                    *ngIf="
                                      formArr.controls[j]
                                        .get('item_ref_id')
                                        ?.hasError('required')
                                    "
                                    >Item Name Is Required.</mat-error
                                  >
                                </mat-form-field>
                              </td>

                              <td class="col_input">
                                <mat-form-field class="example-full-width">
                                  <mat-label>Order Quantity (MT)</mat-label>
                                  <input
                                    matInput
                                    id="order_qty{{ j + 1 }}"
                                    placeholder="Enter Order Quantity (MT)"
                                    formControlName="order_qty"
                                    required
                                    readonly
                                  />
                                  <mat-error
                                    *ngIf="
                                      formArr.controls[j]
                                        .get('order_qty')
                                        ?.hasError('required')
                                    "
                                    >Order Quantity Is Required.</mat-error
                                  >
                                </mat-form-field>
                              </td>

                              <td class="col_input">
                                <mat-form-field class="example-full-width">
                                  <mat-label>UOM</mat-label>
                                  <mat-select
                                    formControlName="uom"
                                    id="uom{{ j + 1 }}"
                                    placeholder="Select UOM"
                                  >
                                    <mat-option
                                      *ngFor="let data of uomData"
                                      [value]="data.id"
                                    >
                                      {{ data.uom_code }}
                                    </mat-option>
                                  </mat-select>
                                  <mat-error
                                    *ngIf="
                                      formArr.controls[j]
                                        .get('uom')
                                        ?.hasError('required')
                                    "
                                    >UOM Is Required.</mat-error
                                  >
                                </mat-form-field>
                              </td>

                              <td class="col_input">
                                <mat-form-field class="example-full-width">
                                  <mat-label
                                    >Available Stock Quantity (MT)</mat-label
                                  >
                                  <input
                                    matInput
                                    id="available_stock_qty{{ j + 1 }}"
                                    placeholder="Enter Available Stock Quantity (MT)"
                                    formControlName="available_stock_qty"
                                    required
                                    readonly
                                  />
                                  <mat-error
                                    *ngIf="
                                      formArr.controls[j]
                                        .get('available_stock_qty')
                                        ?.hasError('required')
                                    "
                                    >Available Stock Quantity (MT) Is
                                    Required.</mat-error
                                  >
                                </mat-form-field>
                              </td>

                              <td class="col_input">
                                <mat-form-field class="example-full-width">
                                  <mat-label>Dispatch Quantity (MT)</mat-label>
                                  <input
                                    matInput
                                    type="number"
                                    id="dispatch_qty{{ j + 1 }}"
                                    placeholder="Enter Dispatch Quantity (MT)"
                                    formControlName="dispatch_qty"
                                    min="0"
                                    step="0.0001"
                                    oninput="validity.valid||(value='');"
                                    (keyup)="dispatchQtyChange($event, j)"
                                    required
                                  />
                                  <mat-error
                                    *ngIf="
                                      formArr.controls[j]
                                        .get('dispatch_qty')
                                        ?.hasError('required')
                                    "
                                    >Dispatch Quantity Is Required.</mat-error
                                  >
                                </mat-form-field>
                              </td>

                              <td class="col_input">
                                <mat-form-field class="example-full-width">
                                  <mat-label>No Of bags</mat-label>
                                  <input
                                    matInput
                                    type="number"
                                    min="1"
                                    id="dispatch_no_of_bags{{ j + 1 }}"
                                    placeholder="Enter No Of bags"
                                    oninput="validity.valid||(value='');"
                                    formControlName="dispatch_no_of_bags"
                                    required
                                  />
                                  <mat-error
                                    *ngIf="
                                      formArr.controls[j]
                                        .get('dispatch_no_of_bags')
                                        ?.hasError('required')
                                    "
                                  >
                                    No Of Bags Is Required.</mat-error
                                  >
                                </mat-form-field>
                              </td>

                              <td class="col_input">
                                <mat-form-field class="example-full-width">
                                  <mat-label>SO Rate</mat-label>
                                  <input
                                    matInput
                                    id="rate{{ j + 1 }}"
                                    placeholder="Enter SO Rate"
                                    formControlName="rate"
                                    required
                                    readonly
                                  />
                                  <mat-error
                                    *ngIf="
                                      formArr.controls[j]
                                        .get('rate')
                                        ?.hasError('required')
                                    "
                                    >SO Rate Is Required.</mat-error
                                  >
                                </mat-form-field>
                              </td>

                              <td class="col_input">
                                <mat-form-field class="example-full-width">
                                  <mat-label>Amount</mat-label>
                                  <input
                                    matInput
                                    id="txn_currency_amount{{ j + 1 }}"
                                    placeholder="Enter Amount"
                                    formControlName="txn_currency_amount"
                                    required
                                    readonly
                                  />
                                  <mat-error
                                    *ngIf="
                                      formArr.controls[j]
                                        .get('txn_currency_amount')
                                        ?.hasError('required')
                                    "
                                    >Amount Is Required.</mat-error
                                  >
                                </mat-form-field>
                              </td>

                              <td class="col_input">
                                <mat-form-field class="example-full-width">
                                  <mat-label>Tax Rate</mat-label>
                                  <input
                                    matInput
                                    id="tax_rate{{ j + 1 }}"
                                    placeholder="Enter Tax Rate"
                                    formControlName="tax_rate"
                                    required
                                    readonly
                                  />
                                  <mat-error
                                    *ngIf="
                                      formArr.controls[j]
                                        .get('tax_rate')
                                        ?.hasError('required')
                                    "
                                    >Tax Rate Is Required.</mat-error
                                  >
                                </mat-form-field>
                              </td>

                              <td class="col_input">
                                <mat-form-field class="example-full-width">
                                  <mat-label>Tax Amount</mat-label>
                                  <input
                                    matInput
                                    id="txn_currency_tax_amount{{ j + 1 }}"
                                    placeholder="Enter Tax Amount"
                                    formControlName="txn_currency_tax_amount"
                                    required
                                    readonly
                                  />
                                  <mat-error
                                    *ngIf="
                                      formArr.controls[j]
                                        .get('txn_currency_tax_amount')
                                        ?.hasError('required')
                                    "
                                    >Tax Amount Is Required.</mat-error
                                  >
                                </mat-form-field>
                              </td>

                              <td class="col_input">
                                <mat-form-field class="example-full-width">
                                  <mat-label>Total Amount</mat-label>
                                  <input
                                    matInput
                                    id="txn_currency_total_amount{{ j + 1 }}"
                                    placeholder="Enter Total Amount"
                                    formControlName="txn_currency_total_amount"
                                    required
                                    readonly
                                  />
                                  <mat-error
                                    *ngIf="
                                      formArr.controls[j]
                                        .get('txn_currency_total_amount')
                                        ?.hasError('required')
                                    "
                                    >Total Amount Is Required.</mat-error
                                  >
                                </mat-form-field>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="body" *ngIf="viewBill">
              <div
                class="row clearfix"
                *ngFor="let dyn of farmerAllocated; let val = index"
              >
                <!-- <div class="row clearfix"> -->
                <div class="right">
                  <ul class="tbl-export-btn">
                    <li>
                      <div class="export-button m-l-10" matTooltip="XLSX">
                        <img
                          src="assets/images/icons/xlsx.png"
                          alt=""
                          (click)="exportExcel(val)"
                        />
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="table-responsive">
                  <!-- <div class="table-responsive" formArrayName="farmer_bill_details"> -->
                  <table
                    id="tableExport1"
                    class="display table table-hover table-checkable order-column m-t-20 width-per-100 table-bordered"
                  >
                    <caption></caption>
                    <thead>
                      <tr>
                        <th style="text-align: center">Bill Date</th>
                        <th style="text-align: center">Bill Number</th>
                        <th style="text-align: center">Farmer Name</th>
                        <th style="text-align: center">Item</th>
                        <th style="text-align: center">UOM</th>
                        <th style="text-align: center">No Of Bags</th>
                        <th style="text-align: center">Quantity (KG)</th>
                        <th style="text-align: center">Base Rate</th>
                        <th style="text-align: center">QC Rate</th>
                        <th style="text-align: center">Amount</th>
                        <th style="text-align: center">Final Rate</th>
                        <th style="text-align: center">Amount</th>
                        <th
                          style="text-align: center"
                          *ngFor="let pd of parameterData[val]; let ind = index"
                        >
                          {{ pd }}
                        </th>
                      </tr>
                    </thead>
                    <tbody class="main_tbody">
                      <tr
                        *ngFor="
                          let dynamic of farmerAllocated[val].value;
                          let i = index
                        "
                      >
                        <td class="col_input">{{ dynamic.bill_date }}</td>
                        <td class="col_input">{{ dynamic.farmer_bill_no }}</td>
                        <td class="col input">{{ dynamic.farmer_name }}</td>
                        <td class="col_input">{{ dynamic.item_name }}</td>
                        <td class="col_input">{{ dynamic.uom_name }}</td>
                        <td class="col_input">{{ dynamic.no_of_bags }}</td>
                        <td class="col_input">{{ dynamic.quantity }}</td>
                        <td class="col_input">{{ dynamic.base_rate }}</td>
                        <td class="col_input">{{ dynamic.qc_rate }}</td>
                        <td class="col_input">{{ dynamic.amount }}</td>
                        <td class="col_input">{{ dynamic.agreed_rate }}</td>
                        <td class="col_input">{{ dynamic.agreed_amount }}</td>
                        <td
                          class="col_input"
                          *ngFor="
                            let av of dynamic.actual_value;
                            let ind = index
                          "
                        >
                          {{ av }}
                        </td>
                      </tr>

                      <tr>
                        <td class="col_input"></td>
                        <td class="col_input"></td>
                        <td class="col_input"></td>
                        <td class="col_input"></td>
                        <td class="col_input"></td>
                        <td class="col_input"></td>
                        <td class="col_input">{{ quantity[val] }}</td>
                        <td class="col_input">{{ base_rate[val] }}</td>
                        <td class="col_input">{{ qc_rate[val] }}</td>
                        <td class="col_input">{{ amount[val] }}</td>
                        <td class="col_input">{{ agreed_rate[val] }}</td>
                        <td class="col_input">{{ agreed_amount[val] }}</td>
                        <td
                          class="col_input"
                          *ngFor="
                            let av of avgActualValue[val];
                            let ind = index
                          "
                        >
                          {{ av }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <!-- <div class="body" style="text-align: center" *ngIf="viewBtn">
              <div class="example-button-row">
                <button
                  mat-flat-button
                  color="primary"
                  type="submit"
                  *ngIf="submitBtn"
                  [disabled]="showLoader"
                  name="submit"
                  value="Submit"
                  (click)="onSubmit($event)"
                >
                  {{ btnVal }}
                  <i class="fa fa-spinner fa-spin" *ngIf="showLoader"></i>
                </button>
                <button
                  mat-flat-button
                  style="background-color: gray; color: white"
                  type="button"
                  *ngIf="submitBtn && showReset"
                  (click)="onResetForm()"
                  [disabled]="showLoader"
                >
                  Reset
                </button>
                <button
                  mat-flat-button
                  color="warn"
                  type="button"
                  (click)="onCancelForm()"
                >
                  Back
                </button>
              </div>
            </div> -->
            <div
              class="body"
              style="text-align: center"
              *ngIf="!viewBtn"
              [innerHTML]="myTemplate | safeHtml"
            ></div>
          </div>
        </form>
      </div>
    </div>
    <div class="footer">
      <div class="left">
        <button class="cancel" (click)="onCancelForm()">Cancel</button>
      </div>
      <div class="right d-flex">
        <button
          class="send"
          (click)="onResetForm()"
          [disabled]="showLoader"
          *ngIf="submitBtn"
        >
          Reset
        </button>
        <button
          class="submit"
          (click)="onSubmit($event)"
          *ngIf="submitBtn"
          [disabled]="showLoader"
        >
          {{ btnVal }}
          <i class="fa fa-spinner fa-spin" *ngIf="showLoader"></i>
        </button>
      </div>
    </div>
  </div>
</div>
