.apply-button-danger {
  display: flex;
  width: 81px;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--blue-800, #c51d17);
  color: var(--grey-0, #fff);
  text-align: center;
  font-family: Mukta;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  border: none;
  outline: none;
}
.apply-button {
  display: flex;
  width: 81px;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--blue-800, #3d79a9);
  color: var(--grey-0, #fff);
  text-align: center;
  font-family: Mukta;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  border: none;
  outline: none;
  background: var(--blue-800, #3d79a9);
}
.example-button-row {
  display: flex;
  justify-content: center;
  align-self: center;
}
.submit {
  height: 42px;
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--blue-800, #3d79a9);
  color: var(--grey-0, #fff);
  text-align: center;
  font-family: Mukta;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  border: none;
  outline: none;
}
.cancel {
  height: 42px;
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  border: 1.6px solid var(--blue-800, #3d79a9);
  background: var(--blue-50, #e6f4fa);
  color: var(--blue-800, #3d79a9);
  text-align: center;
  font-family: Mukta;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}
.mat-dialog-content {
  margin: 0px !important;
  padding: 0px !important;
}
.big-model {
  width: 900px;
  height: auto;
}
