<form [formGroup]="qualityParameterdetails">
  <div class="big-model">
    <mat-dialog-content>
      <div class="header accordian">
        <p class="fas fa-angle-down example-accordion-item-description">
          <strong
            >Quality Parameter Details<span
              class="fas fa-angle-down example-accordion-item-description"
            >
            </span
          ></strong>
        </p>
      </div>

      <div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" role="region">
          <div class="row clearfix">
            <div class="card">
              <div class="body">
                <div
                  class="table-responsive"
                  formArrayName="qc_parameter_details"
                >
                  <table
                    id="tableExport1"
                    class="display table table-hover table-checkable order-column m-t-20 width-per-100 table-bordered"
                  >
                    <caption></caption>
                    <thead>
                      <tr>
                        <th style="text-align: center" *ngIf="submitBtn">
                          Action
                        </th>

                        <th style="text-align: center">Quality Parameter</th>

                        <th style="text-align: center">Min Value</th>

                        <th style="text-align: center">Max Value</th>
                      </tr>
                    </thead>
                    <tbody class="main_tbody">
                      <tr
                        *ngFor="
                          let dynamic of formArrQcp['controls'];
                          let j = index
                        "
                        [formGroupName]="j"
                      >
                        <td *ngIf="submitBtn">
                          <button
                            type="button"
                            *ngIf="j === qualityParameter.length - 1"
                            class="apply-button"
                            (click)="addNewRow()"
                          >
                            <i class="fa fa-plus"></i>
                          </button>
                          <button
                            type="button"
                            *ngIf="j >= qualityParameter.length"
                            class="apply-button-danger"
                            (click)="deleteRow(j)"
                          >
                            <i class="fa fa-minus"></i>
                          </button>
                        </td>

                        <td class="col_input">
                          <mat-form-field class="example-full-width">
                            <mat-label>Quality Parameter</mat-label>
                            <mat-select
                              formControlName="item_quality_parameter_ref_id"
                            >
                              <mat-option
                                *ngFor="let obj of qualityData"
                                [value]="obj.id"
                                >{{ obj.master_key }}</mat-option
                              >
                            </mat-select>
                          </mat-form-field>
                        </td>

                        <td class="col_input">
                          <mat-form-field class="example-full-width">
                            <mat-label>Min Value </mat-label>
                            <input
                              matInput
                              formControlName="min_value"
                              min="0"
                              required
                              type="number"
                              placeholder="Min Value"
                            />
                            <mat-error
                              *ngIf="
                                formArrQcp.controls[j]
                                  .get('min_value')
                                  ?.hasError('pattern')
                              "
                              >Min Value Should Be Positive Number
                            </mat-error>
                            <mat-error
                              *ngIf="
                                formArrQcp.controls[j]
                                  .get('min_value')
                                  ?.hasError('required')
                              "
                              >Min Value is required.</mat-error
                            >
                          </mat-form-field>
                        </td>

                        <td class="col_input">
                          <mat-form-field class="example-full-width">
                            <mat-label>Max Value </mat-label>
                            <input
                              matInput
                              formControlName="max_value"
                              min="0"
                              required
                              type="number"
                              placeholder="Max Value"
                            />
                            <mat-error
                              *ngIf="
                                formArrQcp.controls[j]
                                  .get('max_value')
                                  ?.hasError('pattern')
                              "
                              >Max Value Should Be Positive Number
                            </mat-error>
                            <mat-error
                              *ngIf="
                                formArrQcp.controls[j]
                                  .get('max_value')
                                  ?.hasError('required')
                              "
                              >Max Value is required.</mat-error
                            >
                          </mat-form-field>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="body" style="text-align: center">
        <div class="example-button-row">
          <button class="submit" *ngIf="submitBtn" (click)="onSubmit()">
            Ok
            <i class="fa fa-spinner fa-spin" *ngIf="showLoader"></i>
          </button>
          <div class="left">
            <button class="cancel" (click)="onCancelForm()">Cancel</button>
          </div>
          <!-- <button class="cancel" (click)="onCancelForm()">Cancel</button> -->
        </div>
      </div>
      <mat-dialog-content> </mat-dialog-content
    ></mat-dialog-content>
  </div>
</form>
