.farmer-status,
.invoice_popup_modal .farmer-status {
  display: flex;
  min-height: 50px;
  // height: 440px;
  padding: 16px;
  flex-direction: column;
  gap: 16px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--grey-0, #fff);
}
.farmer-status .header,
.invoice_popup_modal .farmer-status .header {
  display: flex;
  padding: 4px 0px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.farmer-status .header p,
.invoice_popup_modal .farmer-status .header p {
  color: var(--grey-900, #212121);
  font-family: Mukta;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
  padding: 0;
}

.farmer-status .header .icons,
.invoice_popup_modal .farmer-status .header .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.farmer-status .header .icons span,
.invoice_popup_modal .farmer-status .header .icons span {
  height: 20px;
  width: 2px;
  background-color: #9e9e9e;
}
.farmer-status .header .icons .filter,
.farmer-status .header .icons .zoom,
.invoice_popup_modal .farmer-status .header .icons .filter,
.invoice_popup_modal .farmer-status .header .icons .zoom {
  display: flex;
  color: var(--blue-900, #2c5a88);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  gap: 4px;
  padding: 6px;
  cursor: pointer;
}

.farmer-status .header .icons .filter button,
.farmer-status .header .icons .zoom button,
.invoice_popup_modal .farmer-status .header .icons .filter button,
.invoice_popup_modal .farmer-status .header .icons .zoom button {
  display: flex;
  color: var(--blue-900, #2c5a88);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  gap: 4px;
  padding: 6px;
  background-color: transparent;
  border: none;
  outline: none;
}

.farmer-status .header .icons .filter p,
.farmer-status .header .icons .zoom p,
.invoice_popup_modal .farmer-status .header .icons .filter p,
.invoice_popup_modal .farmer-status .header .icons .zoom p {
  display: flex;
  color: var(--blue-900, #2c5a88);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 137.5% */
}
