<div class="card farmer-status">
  <div class="header">
    <p>{{ title }}</p>
    <div class="icons">
      <div class="filter" (click)="filterClick.emit($event)">
        <i class="bi bi-funnel"></i>
        <p class="p-0 m-0">Filters</p>
      </div>
      <span></span>
      <div class="zoom">
        <button (click)="zoomClick.emit()">
          <i class="bi bi-arrows-fullscreen"></i>
          <p class="p-0 m-0">View complete data</p>
        </button>
      </div>
    </div>
  </div>
  <div class="custom-legend">
    <div *ngFor="let item of legendData" class="legend-item d-flex flex-column">
      <div class="data">
        <div [ngClass]="item.color"></div>
        <div class="status">{{ item.label }}</div>
      </div>
      <!-- <div class="number">{{ item.value }}</div> -->
    </div>
  </div>
  <div class="body">
    <div class="col-12">
      <div class="card">
        <div class="body">
          <div echarts [options]="chartOptions" class="echart-height"></div>
        </div>
      </div>
    </div>
  </div>
</div>
