.edit_pop_up {
  height: 100%;
  position: fixed;
}

.overflow_model {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

// .big_model{
//   max-height: calc(100vh - 200px);
//   overflow-y: auto;
// }
.switch-container {
  display: flex;
  align-items: center;
}

.switch-container .switch {
  margin: 0 10px;
}
