<div class="edit_pop_up">
  <div class="big-model">
    <div class="header">
      <p>{{ screenName }}</p>
      <button (click)="onCancelForm()">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
    <div class="body overflow_model">
      <div class="details-form">
        <form [formGroup]="debitNoteForm">
          <div class="personal">
            <div class="row d-flex">
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Transaction Date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="transaction_date"
                    id="transaction_date"
                    placeholder="Transaction Date"
                    formControlName="transaction_date"
                    [(ngModel)]="currentDate"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="transaction_date"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #transaction_date></mat-datepicker>
                  <mat-error
                    *ngIf="
                      debitNoteForm.controls['transaction_date'].hasError(
                        'backdatedEntry'
                      )
                    "
                    >Back Dated Selection not allowed.
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Supplier Name</mat-label>
                  <mat-select
                    formControlName="supplier_ref_id"
                    required
                    (selectionChange)="supplierNameChange($event)"
                  >
                    <mat-select-filter
                      [placeholder]="'Search'"
                      [displayMember]="'key'"
                      [array]="SearchDataSupplier"
                      (filteredReturn)="SupplierData = $event"
                    ></mat-select-filter>
                    <mat-option
                      *ngFor="let obj of SupplierData"
                      style="padding-top: 8px; padding-bottom: 8px"
                      [value]="obj.id"
                      >{{ obj.key }}</mat-option
                    >
                  </mat-select>
                  <mat-error
                    *ngIf="
                      debitNoteForm.controls['supplier_ref_id'].hasError(
                        'required'
                      )
                    "
                    >Supplier Name Is Required.
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Purchase Booking Number</mat-label>
                  <mat-select
                    formControlName="purchase_booking_ref_id"
                    (selectionChange)="handlePurchaseBookingChange($event)"
                  >
                    <mat-select-filter
                      [placeholder]="'Search'"
                      [displayMember]="'purchase_booking_ref_id'"
                      [array]="SearchData"
                      (filteredReturn)="purchaseBookingData = $event"
                    ></mat-select-filter>
                    <mat-option
                      *ngFor="let obj of purchaseBookingData"
                      [value]="obj.id"
                      >{{ obj.transaction_ref_no }}</mat-option
                    >
                  </mat-select>
                  <mat-error
                    *ngIf="
                      debitNoteForm.controls[
                        'purchase_booking_ref_id'
                      ].hasError('required')
                    "
                    >Purchase Booking Number is required.
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Supplier Bill No </mat-label>
                  <input
                    matInput
                    formControlName="supplier_bill_no"
                    type="text"
                    step="0.01"
                    min="0"
                    placeholder="Supplier Bill No"
                    readonly="readonly"
                    [disabled]="true"
                  />
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Purchase Booking Txn Amount </mat-label>
                  <input
                    matInput
                    formControlName="purchase_booking_txn_amount"
                    type="text"
                    step="0.01"
                    min="0"
                    placeholder="Purchase Booking Txn Amount"
                    readonly="readonly"
                    [disabled]="true"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Transaction Currency </mat-label>
                  <input
                    matInput
                    formControlName="transaction_currency"
                    type="text"
                    step="0.01"
                    min="0"
                    placeholder="Transaction Currency"
                    readonly="readonly"
                    [disabled]="true"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-label>Is With Quantity</mat-label>
                <div class="active-switch">
                  <div class="switch-container">
                    <label>No</label>

                    <label class="switch">
                      <input
                        checked=""
                        type="checkbox"
                        formControlName="is_with_qty"
                        (change)="changeStatus($event)"
                      />
                      <div class="slider">
                        <div class="circle">
                          <svg
                            class="cross"
                            xml:space="preserve"
                            style="enable-background: new 0 0 512 512"
                            viewBox="0 0 365.696 365.696"
                            y="0"
                            x="0"
                            height="6"
                            width="6"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            version="1.1"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <g>
                              <path
                                data-original="#000000"
                                fill="currentColor"
                                d="M243.188 182.86 356.32 69.726c12.5-12.5 12.5-32.766 0-45.247L341.238 9.398c-12.504-12.503-32.77-12.503-45.25 0L182.86 122.528 69.727 9.374c-12.5-12.5-32.766-12.5-45.247 0L9.375 24.457c-12.5 12.504-12.5 32.77 0 45.25l113.152 113.152L9.398 295.99c-12.503 12.503-12.503 32.769 0 45.25L24.48 356.32c12.5 12.5 32.766 12.5 45.247 0l113.132-113.132L295.99 356.32c12.503 12.5 32.769 12.5 45.25 0l15.081-15.082c12.5-12.504 12.5-32.77 0-45.25zm0 0"
                              ></path>
                            </g>
                          </svg>
                          <svg
                            class="checkmark"
                            xml:space="preserve"
                            style="enable-background: new 0 0 512 512"
                            viewBox="0 0 24 24"
                            y="0"
                            x="0"
                            height="10"
                            width="10"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            version="1.1"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <g>
                              <path
                                class=""
                                data-original="#000000"
                                fill="currentColor"
                                d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z"
                              ></path>
                            </g>
                          </svg>
                        </div>
                      </div>
                    </label>
                    <label>Yes</label>
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Remark </mat-label>
                  <textarea
                    matInput
                    formControlName="remark"
                    type="text"
                    placeholder="Remark"
                  ></textarea>
                </mat-form-field>
              </div>
            </div>

            <div>
              <div class="header accordian">
                <p class="fas fa-angle-down example-accordion-item-description">
                  <strong
                    >{{ screenName }} Details<span
                      class="fas fa-angle-down example-accordion-item-description"
                    >
                    </span
                  ></strong>
                </p>
              </div>
            </div>
            <div [formGroup]="debitNoteForm">
              <div class="card">
                <div class="body">
                  <div class="row clearfix">
                    <div
                      class="table-responsive"
                      formArrayName="debit_note_details"
                    >
                      <table
                        id="tableExport1"
                        class="display table table-hover table-checkable order-column m-t-20 width-per-100 table-bordered"
                      >
                        <caption></caption>
                        <thead>
                          <tr>
                            <th
                              style="text-align: center"
                              *ngIf="isColumnHidden"
                            >
                              Quantity
                            </th>
                            <th
                              style="text-align: center"
                              *ngIf="isColumnHidden"
                            >
                              Rejected Quantity
                            </th>
                            <th style="text-align: center">Item Name</th>
                            <th style="text-align: center">Rate</th>
                            <th style="text-align: center">Amount</th>
                            <th style="text-align: center">Tax Rate</th>
                            <th style="text-align: center">Tax Amount</th>
                            <th style="text-align: center">Debit Amount</th>
                          </tr>
                        </thead>
                        <tbody class="main_tbody">
                          <tr
                            *ngFor="
                              let dynamic of formArrgate['controls'];
                              let j = index
                            "
                            [formGroupName]="j"
                          >
                            <td class="col_input" *ngIf="isColumnHidden">
                              <mat-form-field class="example-full-width">
                                <mat-label>Quantity </mat-label>
                                <input
                                  matInput
                                  formControlName="quantity"
                                  type="number"
                                  step="0.01"
                                  min="0"
                                  oninput="validity.valid||(value='');"
                                  readonly
                                  placeholder="Quantity"
                                />
                                <mat-error
                                  *ngIf="
                                    formArrgate.controls[j]
                                      .get('quantity')
                                      ?.hasError('pattern')
                                  "
                                  >Negative values not allowed.</mat-error
                                >
                                <mat-error
                                  *ngIf="
                                    formArrgate.controls[j]
                                      .get('quantity')
                                      ?.hasError('required')
                                  "
                                >
                                  PO Quantity Is Required.</mat-error
                                >
                              </mat-form-field>
                            </td>

                            <td class="col_input" *ngIf="isColumnHidden">
                              <mat-form-field class="example-full-width">
                                <mat-label>Rejected Quantity </mat-label>
                                <input
                                  matInput
                                  formControlName="rejected_qty"
                                  type="number"
                                  step="0.01"
                                  min="0"
                                  oninput="validity.valid||(value='');"
                                  (input)="calculateQuantity(debitNoteForm, j)"
                                  (change)="checkValidation($event, j)"
                                  placeholder="Rejected Quantity"
                                  required
                                />

                                <!-- <mat-error *ngIf="dynamic.get('rejected_qty')?.controls.hasError('maxlength')">Maximum 20
                                    characters.</mat-error> -->
                              </mat-form-field>
                            </td>

                            <td class="col_input">
                              <mat-form-field class="example-full-width">
                                <mat-label>Item Name</mat-label>
                                <mat-select
                                  formControlName="item_ref_id"
                                  [disabled]="true"
                                >
                                  <mat-option
                                    *ngFor="let obj of itemRefId"
                                    [value]="obj.id"
                                    >{{ obj.key }}</mat-option
                                  >
                                </mat-select>
                              </mat-form-field>
                            </td>

                            <td class="col_input">
                              <mat-form-field class="example-full-width">
                                <mat-label>Rate </mat-label>
                                <input
                                  matInput
                                  formControlName="rate"
                                  (input)="calculateQuantity(debitNoteForm, j)"
                                  oninput="validity.valid||(value='');"
                                  placeholder="Rate"
                                />
                              </mat-form-field>
                            </td>

                            <td class="col_input">
                              <mat-form-field class="example-full-width">
                                <mat-label>Amount </mat-label>
                                <input
                                  matInput
                                  formControlName="amount"
                                  (input)="calculateQuantity(debitNoteForm, j)"
                                  oninput="validity.valid||(value='');"
                                  placeholder="Amount"
                                />
                              </mat-form-field>
                            </td>

                            <td class="col_input">
                              <mat-form-field class="example-full-width">
                                <mat-label>Tax Rate </mat-label>
                                <input
                                  matInput
                                  formControlName="tax_rate"
                                  oninput="validity.valid||(value='');"
                                  placeholder="Tax Rate"
                                  (input)="calculateQuantity(debitNoteForm, j)"
                                />
                              </mat-form-field>
                            </td>

                            <td class="col_input">
                              <mat-form-field class="example-full-width">
                                <mat-label>Tax Amount</mat-label>
                                <input
                                  matInput
                                  formControlName="tax_amount"
                                  (input)="calculateQuantity(debitNoteForm, j)"
                                  oninput="validity.valid||(value='');"
                                />
                              </mat-form-field>
                            </td>

                            <td class="col_input">
                              <mat-form-field class="example-full-width">
                                <mat-label>Debit Amount </mat-label>
                                <input
                                  matInput
                                  formControlName="debit_amount"
                                  (input)="calculateQuantity(debitNoteForm, j)"
                                  placeholder="Debit Amount"
                                  oninput="validity.valid||(value='');"
                                />
                              </mat-form-field>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="body"
              style="text-align: center"
              *ngIf="!viewBtn"
              [innerHTML]="myTemplate | safeHtml"
            >
              <button class="cancel" (click)="onCancelForm()">Back</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="footer" *ngIf="viewBtn">
      <div class="left">
        <button class="cancel" (click)="onCancelForm()">Cancel</button>
      </div>
      <div class="right d-flex">
        <button
          class="send"
          *ngIf="submitBtn && showReset"
          (click)="onResetForm()"
          [disabled]="showLoader"
        >
          Reset
        </button>
        <button
          class="submit"
          type="submit"
          *ngIf="submitBtn"
          [disabled]="showLoader"
          name="submit"
          value="Submit"
          (click)="onSubmit(btnVal)"
        >
          {{ btnVal }}
          <i class="fa fa-spinner fa-spin" *ngIf="showLoader"></i>
        </button>
      </div>
    </div>
  </div>
</div>
