<section
  class="content"
  id="component1"
  #epltable
  style="margin: 0px 18px 0 18px"
>
  <div class="container" style="border: 1px solid black">
    <div class="card" style="page-break-after: always">
      <div class="header">
        <img
          src="{{ previewImage1 }}"
          height="100"
          style="width: 100%"
          alt="background image"
          *ngIf="header_full_image"
        />

        <div style="height: 120px; position: relative" *ngIf="NotFullImage">
          <div style="top: 8px; left: 16px; position: absolute">
            <img
              src="{{ previewImage1 }}"
              height="50"
              width="300px"
              alt="background image"
              *ngIf="header_image_logo && header_text_top_left"
            />
          </div>
          <div style="top: 8px; right: 16px; position: absolute">
            <img
              src="{{ previewImage1 }}"
              height="50"
              width="300px"
              alt="background image"
              *ngIf="header_image_logo && header_text_top_right"
            />
          </div>
          <div style="top: 8px; left: 50%; position: absolute">
            <img
              src="{{ previewImage1 }}"
              height="50"
              width="300px"
              alt="background image"
              *ngIf="header_image_logo && header_text_top_center"
            />
          </div>
          <div style="bottom: 8px; right: 16px; position: absolute">
            <img
              src="{{ previewImage1 }}"
              height="50"
              width="300px"
              alt="background image"
              *ngIf="header_image_logo && header_text_bottom_right"
            />
          </div>
          <div style="bottom: 8px; left: 16px; position: absolute">
            <img
              src="{{ previewImage1 }}"
              height="50"
              width="300px"
              alt="background image"
              *ngIf="header_image_logo && header_text_bottom_left"
            />
          </div>
          <div style="bottom: 8px; left: 50%; position: absolute">
            <img
              src="{{ previewImage1 }}"
              height="50"
              width="300px"
              alt="background image"
              *ngIf="header_image_logo && header_text_bottom_center"
            />
          </div>
          <div style="top: 50%; left: 50%; position: absolute">
            <img
              src="{{ previewImage1 }}"
              height="50"
              width="300px"
              alt="background image"
              *ngIf="header_image_logo && header_text_center_center"
            />
          </div>
          <div style="top: 50%; left: 16px; position: absolute">
            <img
              src="{{ previewImage1 }}"
              height="50"
              width="300px"
              alt="background image"
              *ngIf="header_image_logo && header_text_center_left"
            />
          </div>
          <div style="top: 50%; right: 16px; position: absolute">
            <img
              src="{{ previewImage1 }}"
              height="50"
              width="300px"
              alt="background image"
              *ngIf="header_image_logo && header_text_center_right"
            />
          </div>

          <p
            style="
              width: 400px;
              word-break: break-all;
              bottom: 8px;
              right: 16px;
              position: absolute;
              font-weight: bold;
              text-align: right;
              font-size: 16px;
            "
            *ngIf="headeratextpplicable && bottom_right"
          >
            {{ headerText }}
          </p>
          <p
            style="
              width: 400px;
              word-break: break-all;
              bottom: 8px;
              left: 16px;
              position: absolute;
              font-weight: bold;
              font-size: 16px;
            "
            *ngIf="headeratextpplicable && bottom_left"
          >
            {{ headerText }}
          </p>
          <p
            style="
              width: 400px;
              word-break: break-all;
              bottom: 8px;
              left: 50%;
              transform: translateX(-50%);
              position: absolute;
              font-weight: bold;
              font-size: 16px;
            "
            *ngIf="headeratextpplicable && bottom_center"
          >
            {{ headerText }}
          </p>
          <p
            style="
              width: 400px;
              word-break: break-all;
              top: 50%;
              right: 16px;
              transform: translateY(-50%);
              position: absolute;
              font-weight: bold;
              font-size: 16px;
            "
            *ngIf="headeratextpplicable && center_right"
          >
            {{ headerText }}
          </p>
          <p
            style="
              width: 400px;
              word-break: break-all;
              top: 50%;
              left: 16px;
              transform: translateY(-50%);
              position: absolute;
              font-weight: bold;
              font-size: 16px;
            "
            *ngIf="headeratextpplicable && center_left"
          >
            {{ headerText }}
          </p>
          <p
            style="
              width: 400px;
              word-break: break-all;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              position: absolute;
              font-weight: bold;
              font-size: 16px;
              text-align: center;
            "
            *ngIf="headeratextpplicable && center_center"
          >
            {{ headerText }}
          </p>
          <p
            style="
              width: 400px;
              word-break: break-all;
              top: 8px;
              right: 16px;
              position: absolute;
              font-weight: bold;
              text-align: right;
              font-size: 16px;
            "
            *ngIf="headeratextpplicable && top_right"
          >
            {{ headerText }}
          </p>
          <p
            style="
              width: 400px;
              word-break: break-all;
              top: 8px;
              left: 16px;
              position: absolute;
              font-weight: bold;
              text-align: left;
              font-size: 16px;
            "
            *ngIf="headeratextpplicable && top_left"
          >
            {{ headerText }}
          </p>
          <p
            style="
              width: 400px;
              word-break: break-all;
              top: 8px;
              left: 50%;
              transform: translateX(-50%);
              position: absolute;
              font-weight: bold;
              font-size: 16px;
              text-align: center;
            "
            *ngIf="headeratextpplicable && top_center"
          >
            {{ headerText }}
          </p>
        </div>

        <hr style="border-top: 5px solid #000" *ngIf="headerapplicable" />
        <h4 style="text-align: center">
          <strong>{{ screenName }}</strong>
        </h4>
        <div class="table-container">
          <div class="table">
            <table>
              <tr>
                <th>Buyer (Bill To): {{ customer_name }}</th>
              </tr>
              <tr>
                <td>{{ customer_address_bill }}</td>
              </tr>
              <tr>
                <td><strong>GSTIN/UIN:</strong> {{ gst_no }}</td>
              </tr>
              <tr>
                <td><strong>State :</strong> {{ state_name }}</td>
              </tr>
            </table>
            <hr style="margin-bottom: 0; border-top: 2px solid #000" />
            <table>
              <tr>
                <th>Consignee (Ship To): {{ customer_name }}</th>
              </tr>
              <tr>
                <td>{{ customer_address_ship }}</td>
              </tr>
              <tr>
                <td><strong>GSTIN/UIN:</strong>{{ gst_no }}</td>
              </tr>
              <tr>
                <td><strong>State :</strong>{{ state_name }}</td>
              </tr>
            </table>
          </div>
          <div class="table">
            <table>
              <tr>
                <td><b>INV No : </b>{{ invoice_no }}</td>

                <td>
                  <b>INV Date : </b>{{ invoice_date | date : "dd/MM/yyyy" }}
                </td>
              </tr>
              <tr>
                <td><b>Order No : </b>{{ customer_po_number }}</td>

                <td>
                  <b>Order Date : </b
                  >{{ customer_po_date | date : "dd/MM/yyyy" }}
                </td>
              </tr>
            </table>
            <hr style="margin-bottom: 0; border-top: 2px solid #000" />
            <table>
              <tr>
                <td><b>Eway Bill No : </b>{{ e_way_bill_no }}</td>
              </tr>
              <tr>
                <td><b>LR No : </b>{{ lr_no }}</td>
              </tr>
              <tr>
                <td><b>Vehicle No :</b></td>
                <td></td>
              </tr>
              <tr>
                <td><b>Payment Terms : </b>{{ payment_terms }}</td>
              </tr>
              <tr>
                <td><b>Agent:</b>{{ agent_name }}</td>
              </tr>
              <tr>
                <td><b>Delivery : </b>{{ mode_of_delivary }}</td>
                <td><b>Delivery Terms : </b>{{ mode_of_delivary_terms }}</td>
              </tr>
            </table>
          </div>
        </div>
        <div>
          <div class="bordered-table-container">
            <table class="bordered-table">
              <thead>
                <tr>
                  <th>S.N.</th>
                  <th style="width: 40%">Description of Goods</th>
                  <th>UOM</th>
                  <th>HSN Code</th>
                  <th>No. of Bags</th>
                  <th>Quantity(MT)</th>
                  <th>Rate</th>
                  <th>Amount(INR)</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let itemData of itemDataList; let i = index">
                  <td style="border-bottom: 1px solid black">{{ i + 1 }}</td>
                  <!-- <td style="text-align: left">
                    {{ itemData.item_name }}
                    <span *ngIf="showCommissionMessage">
                      - Service charges for soyabean
                    </span>
                  </td> -->
                  <td style="text-align: left">
                    <ng-container
                      *ngIf="!showCommissionMessage; else commissionMessage"
                    >
                      {{ itemData.item_name }}
                    </ng-container>
                    <ng-template #commissionMessage>
                      Service Charges for {{ itemData.item_name }}
                    </ng-template>
                  </td>

                  <td>{{ itemData.uom }}</td>
                  <td>{{ itemData.hsn_sac_no }}</td>
                  <td>{{ itemData.dispatch_no_of_bags | number : "1.2-2" }}</td>
                  <td style="text-align: right">
                    {{ itemData.quantity }}
                  </td>
                  <td style="text-align: right">
                    <span *ngIf="!showCommissionMessage">
                      {{ itemData.rate | number : "1.2-2" }}
                    </span>
                  </td>
                  <td style="text-align: right">
                    {{ itemData.txn_currency_amount | number : "1.2-2" }}
                  </td>
                </tr>
                <tr class="bottom-line">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="amount-class"><b>Total Amount</b></td>
                  <td style="text-align: right">
                    <strong>{{ totalAmount | number : "1.2-2" }}</strong>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="invoice-table-container">
              <table class="bordered-table invoice-border-table">
                <thead>
                  <tr>
                    <th rowspan="2">Item</th>
                    <th rowspan="2">HSN/SAC</th>
                    <th rowspan="2">Taxable Value</th>
                    <th colspan="2">IGST</th>
                    <th colspan="2">CGST</th>
                    <th colspan="2">SGST</th>
                    <th rowspan="2">Total Tax Amount</th>
                  </tr>
                  <tr>
                    <th>Rate</th>
                    <th>Amount</th>
                    <th>Rate</th>
                    <th>Amount</th>
                    <th>Rate</th>
                    <th>Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let itemData of itemDataList">
                    <!-- <td>{{ itemData.item_name }}</td> -->
                    <td style="text-align: left">
                      <ng-container
                        *ngIf="!showCommissionMessage; else commissionMessage"
                      >
                        {{ itemData.item_name }}
                      </ng-container>
                      <ng-template #commissionMessage>
                        Service Charges for {{ itemData.item_name }}
                      </ng-template>
                    </td>
                    <td>{{ itemData.hsn_sac_no }}</td>
                    <td>
                      {{ itemData.txn_currency_amount | number : "1.2-2" }}
                    </td>
                    <td>{{ itemData.igst_rate | number : "1.2-2" }}</td>
                    <td>{{ itemData.igst_amount | number : "1.2-2" }}</td>
                    <td>{{ itemData.cgst_rate | number : "1.2-2" }}</td>
                    <td>{{ itemData.cgst_amount | number : "1.2-2" }}</td>
                    <td>{{ itemData.sgst_rate | number : "1.2-2" }}</td>
                    <td>{{ itemData.sgst_amount | number : "1.2-2" }}</td>
                    <td>{{ itemData.total_tax_amount | number : "1.2-2" }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <br />
          <hr style="margin-bottom: 0; border-top: 2px solid #000" />
          <br />

          <p class="terms-conditions"><strong>Additional Charges</strong></p>
          <div class="invoice-table-container">
            <table class="bordered-table invoice-border-table">
              <thead>
                <tr>
                  <th>Transportation Charges</th>
                  <th>Packaging Charges</th>
                  <th>Insurance Charges</th>
                  <th>Tax Rate</th>
                  <th>Tax Amount</th>
                  <th>Sub Total Amount</th>
                  <th>Grand Total</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>{{ transportation_charges | number : "1.2-2" }}</td>
                  <td>{{ packaging_charges | number : "1.2-2" }}</td>
                  <td>{{ insurance_charges | number : "1.2-2" }}</td>
                  <td>{{ txn_tax_rate | number : "1.2-2" }}</td>
                  <td>{{ txn_tax_amount | number : "1.2-2" }}</td>
                  <td>{{ sub_total | number : "1.2-2" }}</td>
                  <td>
                    <strong>{{
                      txn_currency_grand_total_amount | number : "1.2-2"
                    }}</strong>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <hr style="border-top: 1px solid #000" />
          <p class="amount-in-words">
            <strong
              >Amount In Words :
              {{
                txn_currency_grand_total_amount
                  ? convertToWords(txn_currency_grand_total_amount)
                  : "Invalid Amount"
              }}</strong
            >
          </p>
          <hr style="border-top: 1px solid #000" />
          <p class="terms-conditions"><strong>Terms & Conditions</strong></p>
          <hr style="border-top: 1px solid #000" />

          <table class="footer-table">
            <br />
            <br />
            <tr>
              <td>
                <p class="footer-table">
                  <strong>Receiver's Signature</strong>
                </p>
              </td>
              <td>
                <p class="footer-table"><strong>Driver's Signature</strong></p>
              </td>
              <td>
                <p class="footer-table">
                  <strong> Authorised Signatory</strong>
                </p>
              </td>
            </tr>
          </table>
        </div>
        <!-- </div> -->
      </div>

      <hr style="border-top: 1px solid #000" *ngIf="footerapplicable" />
      <div class="footer">
        <img
          width="100%"
          height="100"
          src="{{ previewImage2 }}"
          alt="background image"
          *ngIf="footer_full_image"
        />

        <div class="footer" *ngIf="NotFullImageFooter">
          <div style="top: 8px; right: 16px; position: absolute">
            <img
              src="{{ previewImage2 }}"
              height="50"
              width="400px"
              alt="background image"
              *ngIf="footer_image_logo && footer_image_top_right"
            />
          </div>
          <div style="top: 8px; left: 16px; position: absolute">
            <img
              src="{{ previewImage2 }}"
              height="50"
              width="300px"
              alt="background image"
              *ngIf="footer_image_logo && footer_image_top_left"
            />
          </div>
          <div style="top: 8px; left: 50%; position: absolute">
            <img
              src="{{ previewImage2 }}"
              height="50"
              width="300px"
              alt="background image"
              *ngIf="footer_image_logo && footer_image_top_center"
            />
          </div>
          <div style="bottom: 8px; right: 16px; position: absolute">
            <img
              src="{{ previewImage2 }}"
              height="50"
              width="300px"
              alt="background image"
              *ngIf="footer_image_logo && footer_image_bottom_right"
            />
          </div>
          <div style="bottom: 8px; left: 16px; position: absolute">
            <img
              src="{{ previewImage2 }}"
              height="50"
              width="300px"
              alt="background image"
              *ngIf="footer_image_logo && footer_image_bottom_left"
            />
          </div>
          <div style="bottom: 8px; left: 50%; position: absolute">
            <img
              src="{{ previewImage2 }}"
              height="50"
              width="300px"
              alt="background image"
              *ngIf="footer_image_logo && footer_image_bottom_center"
            />
          </div>
          <div style="top: 50%; left: 50%; position: absolute">
            <img
              src="{{ previewImage2 }}"
              height="50"
              width="300px"
              alt="background image"
              *ngIf="footer_image_logo && footer_image_center_center"
            />
          </div>
          <div style="top: 50%; left: 16px; position: absolute">
            <img
              src="{{ previewImage2 }}"
              height="50"
              width="300px"
              alt="background image"
              *ngIf="footer_image_logo && footer_image_center_left"
            />
          </div>
          <div style="top: 50%; right: 16px; position: absolute">
            <img
              src="{{ previewImage2 }}"
              height="50"
              width="300px"
              alt="background image"
              *ngIf="footer_image_logo && footer_image_center_right"
            />
          </div>

          <p
            style="
              width: 400px;
              word-break: break-all;
              bottom: 8px;
              right: 16px;
              position: absolute;
              font-weight: bold;
              text-align: right;
              font-size: 16px;
            "
            *ngIf="headeratextpplicable && bottom_right"
          >
            {{ headerText }}
          </p>
          <p
            style="
              width: 400px;
              word-break: break-all;
              bottom: 8px;
              left: 16px;
              position: absolute;
              font-weight: bold;
              font-size: 16px;
            "
            *ngIf="headeratextpplicable && bottom_left"
          >
            {{ headerText }}
          </p>
          <p
            style="
              width: 400px;
              word-break: break-all;
              bottom: 8px;
              left: 50%;
              transform: translateX(-50%);
              position: absolute;
              font-weight: bold;
              font-size: 16px;
            "
            *ngIf="headeratextpplicable && bottom_center"
          >
            {{ headerText }}
          </p>
          <p
            style="
              width: 400px;
              word-break: break-all;
              top: 50%;
              right: 16px;
              transform: translateY(-50%);
              position: absolute;
              font-weight: bold;
              font-size: 16px;
            "
            *ngIf="headeratextpplicable && center_right"
          >
            {{ headerText }}
          </p>
          <p
            style="
              width: 400px;
              word-break: break-all;
              top: 50%;
              left: 16px;
              transform: translateY(-50%);
              position: absolute;
              font-weight: bold;
              font-size: 16px;
            "
            *ngIf="headeratextpplicable && center_left"
          >
            {{ headerText }}
          </p>
          <p
            style="
              width: 400px;
              word-break: break-all;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              position: absolute;
              font-weight: bold;
              font-size: 16px;
            "
            *ngIf="headeratextpplicable && center_center"
          >
            {{ headerText }}
          </p>
          <p
            style="
              width: 400px;
              word-break: break-all;
              top: 8px;
              right: 16px;
              position: absolute;
              font-weight: bold;
              text-align: right;
              font-size: 16px;
            "
            *ngIf="headeratextpplicable && top_right"
          >
            {{ headerText }}
          </p>
          <p
            style="
              width: 400px;
              word-break: break-all;
              top: 8px;
              left: 16px;
              position: absolute;
              font-weight: bold;
              text-align: left;
              font-size: 16px;
            "
            *ngIf="headeratextpplicable && top_left"
          >
            {{ headerText }}
          </p>
          <p
            style="
              width: 400px;
              word-break: break-all;
              top: 8px;
              left: 50%;
              transform: translateX(-50%);
              position: absolute;
              font-weight: bold;
              font-size: 16px;
            "
            *ngIf="headeratextpplicable && top_center"
          >
            {{ headerText }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div id="printButtonContainer" style="text-align: center">
    <div class="button-demo">
      <button
        class="btn btn-primary print"
        id="printPageButton"
        type="button"
        (click)="printComponent()"
      >
        Print
      </button>

      <button
        class="btn btn-danger"
        id="backButton"
        type="button"
        (click)="Back()"
      >
        Back
      </button>
    </div>
  </div>
</section>
