<div id="new_entry_form" class="edit_pop_up override_edit_pop_up">
  <div class="big-model">
    <div class="header">
      <p>{{ screenName }}</p>
      <button (click)="onCancelForm()">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
    <div class="body overflow_model">
      <div class="details-form">
        <form [formGroup]="ScreenToRole_Form" (ngSubmit)="onSubmit()">
          <div class="personal">
            <div class="row d-flex">
              <div class="col-xl-6 col-lg-4 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width">
                  <mat-label>Role</mat-label>
                  <mat-select
                    formControlName="role"
                    id="role"
                    [disabled]="shouldDisable"
                    placeholder="Select Role"
                    required
                  >
                    <mat-option *ngFor="let data of roledata" [value]="data.id">
                      {{ data.role_name }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="ScreenToRole_Form.get('role')"
                    >Please Select Role</mat-error
                  >
                </mat-form-field>
              </div>
            </div>

            <div class="card">
              <div class="body">
                <div class="form-group">
                  <mat-table
                    #table
                    matTableExporter
                    [dataSource]="leftpaneldata"
                    matSort
                    class="mat-cell"
                  >
                    <ng-container matColumnDef="check">
                      <mat-header-cell
                        *matHeaderCellDef
                        style="background-color: #cad5e2"
                      >
                      </mat-header-cell>
                      <mat-cell
                        *matCellDef="let leftpanel"
                        [style.background-color]="
                          leftpanel.is_parent === 'Y'
                            ? '#90e0ef'
                            : 'd0efff' && leftpanel.is_child === 'Y'
                            ? '#caf0f8'
                            : 'd0efff'
                        "
                      >
                        <div id="list">
                          <input
                            type="checkbox"
                            value="{{ leftpanel.id }}"
                            (click)="onCheckboxChange(leftpanel, $event)"
                            [checked]="leftpanel.check"
                          />
                        </div>
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="form_name">
                      <mat-header-cell
                        *matHeaderCellDef
                        style="background-color: #cad5e2"
                        >Form Name
                      </mat-header-cell>
                      <mat-cell
                        *matCellDef="let leftpanel"
                        [style.background-color]="
                          leftpanel.is_parent === 'Y'
                            ? '#90e0ef'
                            : 'd0efff' && leftpanel.is_child === 'Y'
                            ? '#caf0f8'
                            : 'd0efff'
                        "
                      >
                        <b>{{ leftpanel.form_name }}</b></mat-cell
                      >
                    </ng-container>

                    <ng-container matColumnDef="read_access">
                      <mat-header-cell
                        *matHeaderCellDef
                        style="background-color: #cad5e2"
                      >
                        Read Access
                      </mat-header-cell>
                      <mat-cell
                        *matCellDef="let leftpanel"
                        [style.background-color]="
                          leftpanel.is_parent === 'Y'
                            ? '#90e0ef'
                            : 'd0efff' && leftpanel.is_child === 'Y'
                            ? '#caf0f8'
                            : 'd0efff'
                        "
                      >
                        <section>
                          No
                          <mat-slide-toggle
                            class="example-margin"
                            style="
                              margin-left: 0.5rem;
                              margin-right: 0.5rem;
                              margin-top: 0.5rem;
                            "
                            (change)="read(leftpanel, $event)"
                            [checked]="leftpanel.readAccess"
                            [disabled]="leftpanel.writeAccess"
                            >Yes
                          </mat-slide-toggle>
                        </section>
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="write_access">
                      <mat-header-cell
                        *matHeaderCellDef
                        style="background-color: #cad5e2"
                        >Write Access</mat-header-cell
                      >
                      <mat-cell
                        *matCellDef="let leftpanel"
                        [style.background-color]="
                          leftpanel.is_parent === 'Y'
                            ? '#90e0ef'
                            : '#d0efff' && leftpanel.is_child === 'Y'
                            ? '#caf0f8'
                            : 'd0efff'
                        "
                      >
                        <section>
                          No
                          <mat-slide-toggle
                            class="example-margin"
                            style="
                              margin-left: 0.5rem;
                              margin-right: 0.5rem;
                              margin-top: 0.5rem;
                            "
                            (change)="write(leftpanel, $event)"
                            [checked]="leftpanel.writeAccess"
                            [disabled]="leftpanel.deleteAccess"
                            >Yes
                          </mat-slide-toggle>
                        </section>
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="delete_access">
                      <mat-header-cell
                        *matHeaderCellDef
                        style="background-color: #cad5e2"
                        >Delete Access</mat-header-cell
                      >
                      <mat-cell
                        *matCellDef="let leftpanel"
                        [style.background-color]="
                          leftpanel.is_parent === 'Y'
                            ? '#90e0ef'
                            : 'd0efff' && leftpanel.is_child === 'Y'
                            ? '#caf0f8'
                            : 'd0efff'
                        "
                      >
                        <section>
                          No
                          <mat-slide-toggle
                            class="example-margin"
                            style="
                              margin-left: 0.5rem;
                              margin-right: 0.5rem;
                              margin-top: 0.5rem;
                            "
                            (change)="delete(leftpanel, $event)"
                            [checked]="leftpanel.deleteAccess"
                            >Yes
                          </mat-slide-toggle>
                        </section>
                      </mat-cell>
                    </ng-container>
                    <mat-header-row
                      *matHeaderRowDef="displayColumn"
                    ></mat-header-row>
                    <mat-row
                      *matRowDef="let row; columns: displayColumn"
                      matRipple
                    ></mat-row>
                  </mat-table>
                </div>
              </div>
            </div>
            <div class="footer">
              <div class="left">
                <button class="cancel" (click)="onCancelForm()">Cancel</button>
              </div>
              <div class="right d-flex">
                <button
                  class="send"
                  *ngIf="submitBtn && showReset"
                  (click)="onResetForm()"
                  [disabled]="showLoader"
                >
                  Reset
                </button>
                <button
                  class="submit"
                  type="submit"
                  *ngIf="submitBtn"
                  [disabled]="showLoader"
                  (click)="onSubmit()"
                >
                  {{ BTN_VAL }}
                  <i class="fa fa-spinner fa-spin" *ngIf="showLoader"></i>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
