<div class="edit_pop_up override_edit_pop_up">
  <div class="big-model">
    <div class="header">
      <p>{{ screenName }}</p>
      <button (click)="onCancelForm()">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
    <div class="body overflow_model">
      <div class="details-form">
        <form [formGroup]="tenantForm" (ngSubmit)="onSubmit()">
          <div class="personal">
            <div class="row d-flex">
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Organization Name </mat-label>
                  <input
                    matInput
                    formControlName="tenant_name"
                    placeholder="Organization Name"
                    required
                  />
                  <mat-error
                    *ngIf="
                      tenantForm.controls['tenant_name'].hasError('required')
                    "
                    >Organization Name is Required.</mat-error
                  >
                  <mat-error
                    *ngIf="
                      tenantForm.controls['tenant_name'].hasError('maxlength')
                    "
                    >Maximum 30 characters.</mat-error
                  >
                  <mat-error
                    *ngIf="
                      tenantForm.controls['tenant_name'].hasError('pattern')
                    "
                    >Special Character(s) are not allowed.</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Short Name </mat-label>
                  <input
                    matInput
                    formControlName="tenant_short_name"
                    placeholder="Short Name"
                  />
                  <mat-error
                    *ngIf="
                      tenantForm.controls['tenant_short_name'].hasError(
                        'maxlength'
                      )
                    "
                    >Maximum 30 characters.</mat-error
                  >
                  <mat-error
                    *ngIf="
                      tenantForm.controls['tenant_short_name'].hasError(
                        'required'
                      )
                    "
                    >Short Name is Required.</mat-error
                  >
                  <mat-error
                    *ngIf="
                      tenantForm.controls['tenant_short_name'].hasError(
                        'pattern'
                      )
                    "
                    >Special Character(s) are not allowed.</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Ownership Status </mat-label>
                  <mat-select formControlName="ownership_status" required>
                    <mat-option
                      *ngFor="let obj of ownershipStatusData"
                      [value]="obj.id"
                      >{{ obj.master_value }}</mat-option
                    >
                  </mat-select>
                  <mat-error
                    *ngIf="
                      tenantForm.controls['ownership_status'].hasError(
                        'required'
                      )
                    "
                    >Ownership Status is Required.</mat-error
                  >
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>PAN</mat-label>
                  <input
                    matInput
                    formControlName="pan_no"
                    placeholder="PAN"
                    required
                  />
                  <mat-error
                    *ngIf="tenantForm.controls['pan_no'].hasError('pattern')"
                    >PAN Not Valid.</mat-error
                  >
                  <mat-error
                    *ngIf="tenantForm.controls['pan_no'].hasError('required')"
                    >PAN is Required.</mat-error
                  >
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>GSTIN</mat-label>
                  <input
                    matInput
                    formControlName="gst_no"
                    placeholder="GST"
                    required
                  />
                  <mat-error
                    *ngIf="tenantForm.controls['gst_no'].hasError('pattern')"
                    >GSTIN Valid.</mat-error
                  >
                  <mat-error
                    *ngIf="tenantForm.controls['gst_no'].hasError('required')"
                    >GSTIN is Required.</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>TAN</mat-label>
                  <input matInput formControlName="tan_no" placeholder="TAN" />
                  <mat-error
                    *ngIf="tenantForm.controls['tan_no'].hasError('pattern')"
                    >TAN Not Valid.</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>CIN</mat-label>
                  <input
                    matInput
                    formControlName="cin_no"
                    placeholder="CIN"
                    required
                  />
                  <mat-error
                    *ngIf="tenantForm.controls['cin_no'].hasError('pattern')"
                    >CIN Not Valid.</mat-error
                  >
                  <mat-error
                    *ngIf="tenantForm.controls['cin_no'].hasError('required')"
                    >CIN is Required.</mat-error
                  >
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <div class="active-switch">
                  <mat-label style="margin-left: 50px"
                    >Status-Inactive</mat-label
                  >

                  <label class="switch" style="margin-left: 10px">
                    <input
                      checked=""
                      type="checkbox"
                      formControlName="is_active"
                      (change)="changeStatus($event)"
                    />
                    <div class="slider">
                      <div class="circle">
                        <svg
                          class="cross"
                          xml:space="preserve"
                          style="enable-background: new 0 0 512 512"
                          viewBox="0 0 365.696 365.696"
                          y="0"
                          x="0"
                          height="6"
                          width="6"
                          xmlns:xlink="http://www.w3.org/1999/xlink"
                          version="1.1"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <g>
                            <path
                              data-original="#000000"
                              fill="currentColor"
                              d="M243.188 182.86 356.32 69.726c12.5-12.5 12.5-32.766 0-45.247L341.238 9.398c-12.504-12.503-32.77-12.503-45.25 0L182.86 122.528 69.727 9.374c-12.5-12.5-32.766-12.5-45.247 0L9.375 24.457c-12.5 12.504-12.5 32.77 0 45.25l113.152 113.152L9.398 295.99c-12.503 12.503-12.503 32.769 0 45.25L24.48 356.32c12.5 12.5 32.766 12.5 45.247 0l113.132-113.132L295.99 356.32c12.503 12.5 32.769 12.5 45.25 0l15.081-15.082c12.5-12.504 12.5-32.77 0-45.25zm0 0"
                            ></path>
                          </g>
                        </svg>
                        <svg
                          class="checkmark"
                          xml:space="preserve"
                          style="enable-background: new 0 0 512 512"
                          viewBox="0 0 24 24"
                          y="0"
                          x="0"
                          height="10"
                          width="10"
                          xmlns:xlink="http://www.w3.org/1999/xlink"
                          version="1.1"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <g>
                            <path
                              class=""
                              data-original="#000000"
                              fill="currentColor"
                              d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z"
                            ></path>
                          </g>
                        </svg>
                      </div>
                    </div>
                  </label>
                  <mat-label style="margin-left: 10px">Status-Active</mat-label>
                </div>

                <!-- <mat-label>Status</mat-label>
                <section>
                  Inactive
                  <mat-slide-toggle
                    class="example-margin"
                    formControlName="is_active"
                    style="
                      margin-left: 0.5rem;
                      margin-right: 0.5rem;
                      margin-top: 0.5rem;
                    "
                    (change)="changeStatus($event)"
                    >Active
                  </mat-slide-toggle>
                </section> -->
              </div>
            </div>

            <div>
              <cdk-accordion>
                <cdk-accordion-item
                  #accordionItem="cdkAccordionItem"
                  tabindex="0"
                  [attr.id]="'accordion-header-'"
                  [attr.aria-expanded]="accordionItem.expanded"
                  [attr.aria-controls]="'accordion-body-'"
                >
                  <div>
                    <div (click)="accordionItem.toggle()">
                      <div class="header accordian">
                        <p
                          class="fas fa-angle-down example-accordion-item-description"
                        >
                          <strong
                            >Address Details<span
                              class="fas fa-angle-down example-accordion-item-description"
                            >
                            </span
                          ></strong>
                        </p>
                      </div>
                    </div>
                    <div>
                      <div
                        role="region"
                        [style.display]="accordionItem.expanded ? '' : 'none'"
                        [attr.id]="'accordion-body-'"
                        [attr.aria-labelledby]="'accordion-header-'"
                      >
                        <div class="row d-flex">
                          <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                              <mat-label>Country </mat-label>
                              <mat-select formControlName="country" required>
                                <mat-option
                                  *ngFor="let obj of countrydata"
                                  [value]="obj.id"
                                  >{{ obj.country_name }}</mat-option
                                >
                              </mat-select>
                              <mat-error
                                *ngIf="
                                  tenantForm.controls['country'].hasError(
                                    'required'
                                  )
                                "
                                >Country is Required.</mat-error
                              >
                            </mat-form-field>
                          </div>
                          <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                              <mat-label>State </mat-label>
                              <mat-select
                                formControlName="state"
                                required
                                [disabled]="stateData.length == 0 || !submitBtn"
                              >
                                <mat-option
                                  [value]="obj.id"
                                  *ngFor="let obj of stateData"
                                  >{{ obj.state_name }}</mat-option
                                >
                              </mat-select>
                              <mat-error
                                *ngIf="
                                  tenantForm.controls['state'].hasError(
                                    'required'
                                  )
                                "
                                >State is Required.</mat-error
                              >
                            </mat-form-field>
                          </div>
                          <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                              <mat-label>District </mat-label>
                              <mat-select
                                formControlName="district"
                                required
                                [disabled]="
                                  districtData.length == 0 || !submitBtn
                                "
                              >
                                <mat-option
                                  [value]="obj.id"
                                  *ngFor="let obj of districtData"
                                  >{{ obj.district_name }}</mat-option
                                >
                              </mat-select>
                              <mat-error
                                *ngIf="
                                  tenantForm.controls['district'].hasError(
                                    'required'
                                  )
                                "
                                >District is Required.</mat-error
                              >
                            </mat-form-field>
                          </div>
                          <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                              <mat-label>Taluka</mat-label>
                              <mat-select formControlName="taluka">
                                <mat-option
                                  [value]="obj.id"
                                  *ngFor="let obj of talukaData"
                                  >{{ obj.sub_district_name }}</mat-option
                                >
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                              <mat-label>Address1 </mat-label>
                              <input
                                matInput
                                type="text"
                                formControlName="address"
                                placeholder="Address1"
                                required
                              />
                              <mat-error
                                *ngIf="
                                  tenantForm.controls['address'].hasError(
                                    'required'
                                  )
                                "
                                >Address1 is Required.</mat-error
                              >
                            </mat-form-field>
                          </div>
                          <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                              <mat-label>Address2</mat-label>
                              <input
                                matInput
                                type="text"
                                formControlName="address1"
                                placeholder="Address2"
                              />
                            </mat-form-field>
                          </div>
                          <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                              <mat-label>Pin/Zip Code </mat-label>
                              <input
                                matInput
                                formControlName="pin_code"
                                placeholder="Pin/Zip Code"
                                maxlength="6"
                                required
                              />
                              <mat-error
                                *ngIf="
                                  tenantForm.controls['pin_code'].hasError(
                                    'pattern'
                                  )
                                "
                                >Pincode Not Valid.</mat-error
                              >
                              <mat-error
                                *ngIf="
                                  tenantForm.controls['pin_code'].hasError(
                                    'required'
                                  )
                                "
                                >Pincode is Required.</mat-error
                              >
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </cdk-accordion-item>
              </cdk-accordion>
            </div>

            <div>
              <cdk-accordion>
                <cdk-accordion-item
                  #accordionItem1="cdkAccordionItem"
                  tabindex="0"
                  [attr.id]="'accordion-header-'"
                  [attr.aria-expanded]="accordionItem1.expanded"
                  [attr.aria-controls]="'accordion-body-'"
                >
                  <div (click)="accordionItem1.toggle()">
                    <div class="header accordian">
                      <p
                        class="fas fa-angle-down example-accordion-item-description"
                      >
                        <strong
                          >Primary Contact Details<span
                            class="fas fa-angle-down example-accordion-item-description"
                          >
                          </span
                        ></strong>
                      </p>
                    </div>
                  </div>
                  <div>
                    <div
                      role="region"
                      [style.display]="accordionItem1.expanded ? '' : 'none'"
                      [attr.id]="'accordion-body-'"
                      [attr.aria-labelledby]="'accordion-header-'"
                    >
                      <div class="row d-flex">
                        <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                            <mat-label>Primary Contact Name </mat-label>
                            <input
                              matInput
                              formControlName="contact_person_name"
                              placeholder="Primary Contact Name"
                              required
                            />
                            <mat-error
                              *ngIf="
                                tenantForm.controls[
                                  'contact_person_name'
                                ].hasError('required')
                              "
                              >Primary Contact Name is Required.</mat-error
                            >
                            <mat-error
                              *ngIf="
                                tenantForm.controls[
                                  'contact_person_name'
                                ].hasError('pattern')
                              "
                              >Special Character(s) are not allowed.</mat-error
                            >
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                            <mat-label>Primary Email </mat-label>
                            <input
                              matInput
                              formControlName="email_id"
                              type="email"
                              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                              placeholder="Email Id"
                              required
                            />
                            <mat-error
                              *ngIf="
                                tenantForm.controls['email_id'].hasError(
                                  'pattern'
                                )
                              "
                              >Enter Valid Email.</mat-error
                            >
                            <mat-error
                              *ngIf="
                                tenantForm.controls['email_id'].hasError(
                                  'required'
                                )
                              "
                              >Email is Required.</mat-error
                            >
                            <mat-error
                              *ngIf="
                                tenantForm.controls['email_id'].hasError(
                                  'email_id'
                                )
                              "
                              >Email id not valid.</mat-error
                            >
                            <mat-error
                              *ngIf="
                                tenantForm.controls['email_id'].hasError(
                                  'maxlength'
                                )
                              "
                              >Maximum 30 characters.</mat-error
                            >
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                            <mat-label>Primary Phone </mat-label>
                            <input
                              matInput
                              formControlName="phone_no"
                              type="text"
                              placeholder="Phone No"
                              pattern="^((\\+91-?)|0)?[0-9]{10}$"
                              required
                            />
                            <mat-error
                              *ngIf="
                                tenantForm.controls['phone_no'].hasError(
                                  'required'
                                )
                              "
                              >Phone Number is Required.</mat-error
                            >
                            <mat-error
                              *ngIf="
                                tenantForm.controls['phone_no'].hasError(
                                  'pattern'
                                )
                              "
                              >Enter Valid Mobile Number.</mat-error
                            >
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                </cdk-accordion-item>
              </cdk-accordion>
            </div>

            <div>
              <cdk-accordion>
                <cdk-accordion-item
                  #accordionItem5="cdkAccordionItem"
                  tabindex="0"
                  [attr.id]="'accordion-header-'"
                  [attr.aria-expanded]="accordionItem5.expanded"
                  [attr.aria-controls]="'accordion-body-'"
                >
                  <div (click)="accordionItem5.toggle()">
                    <div class="header accordian">
                      <p
                        class="fas fa-angle-down example-accordion-item-description"
                      >
                        <strong
                          >Header Details<span
                            class="fas fa-angle-down example-accordion-item-description"
                          >
                          </span
                        ></strong>
                      </p>
                    </div>
                  </div>
                  <div>
                    <div
                      role="region"
                      [style.display]="accordionItem5.expanded ? '' : 'none'"
                      [attr.id]="'accordion-body-'"
                      [attr.aria-labelledby]="'accordion-header-'"
                    >
                      <div class="row d-flex">
                        <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                            <mat-label>Image Type</mat-label>
                            <mat-select
                              formControlName="header_image_type"
                              (selectionChange)="
                                header_image_type($event.value)
                              "
                            >
                              <mat-option value="">Select</mat-option>
                              <mat-option value="logo">Logo</mat-option>
                              <mat-option value="full_image"
                                >Full Image</mat-option
                              >
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                            <mat-label>Image Position</mat-label>
                            <mat-select formControlName="header_image_position">
                              <mat-option value="">Select</mat-option>
                              <mat-option value="top-center"
                                >Top Center</mat-option
                              >
                              <mat-option value="top-left">Top Left</mat-option>
                              <mat-option value="top-right"
                                >Top Right</mat-option
                              >
                              <mat-option value="center-center"
                                >Center Center</mat-option
                              >
                              <mat-option value="center-left"
                                >Center Left</mat-option
                              >
                              <mat-option value="center-right"
                                >Center Right</mat-option
                              >
                              <mat-option value="bottom-left"
                                >Bottom Left</mat-option
                              >
                              <mat-option value="bottom-right"
                                >Bottom Right</mat-option
                              >
                              <mat-option value="bottom-center"
                                >Bottom Center</mat-option
                              >
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                            <mat-label>Header Text</mat-label>
                            <input
                              matInput
                              formControlName="header_text_details"
                              placeholder="Header Text"
                            />
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                            <mat-label>Text Position</mat-label>
                            <mat-select formControlName="header_text_position">
                              <mat-option value="">Select</mat-option>
                              <mat-option value="top-center"
                                >Top Center</mat-option
                              >
                              <mat-option value="top-left">Top Left</mat-option>
                              <mat-option value="top-right"
                                >Top Right</mat-option
                              >
                              <mat-option value="center-center"
                                >Center Center</mat-option
                              >
                              <mat-option value="center-left"
                                >Center Left</mat-option
                              >
                              <mat-option value="center-right"
                                >Center Right</mat-option
                              >
                              <mat-option value="bottom-left"
                                >Bottom Left</mat-option
                              >
                              <mat-option value="bottom-right"
                                >Bottom Right</mat-option
                              >
                              <mat-option value="bottom-center"
                                >Bottom Center</mat-option
                              >
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <ng-container *ngIf="!submitBtn">
                            <label>Header Image Upload</label><br />
                            <a
                              *ngIf="previewImage1"
                              href="{{ previewImage1 }}"
                              target="_blank"
                              >Download<mat-icon>download</mat-icon>
                            </a>
                          </ng-container>
                          <ng-container
                            *ngIf="submitBtn"
                            class="example-full-width"
                          >
                            <label>Header Upload</label><br />
                            <img
                              *ngIf="previewImage1 && previewImageType1"
                              [src]="previewImage1"
                              alt="image"
                              style="width: 5rem"
                            />
                            <br *ngIf="previewImage1 && previewImageType1" />
                            <a
                              *ngIf="previewImage1 && !previewImageType1"
                              href="{{ previewImage1 }}"
                              target="_blank"
                              >Download<mat-icon>download</mat-icon></a
                            >
                            <mat-icon
                              matDatepickerToggleIcon
                              *ngIf="previewImage1"
                              (click)="removeImage()"
                              >clear</mat-icon
                            >
                            <br *ngIf="previewImage1 && !previewImageType1" />
                            {{ fileName }}
                            <i
                              class="fa fa-spinner fa-spin"
                              *ngIf="showFileLoader"
                            ></i>
                            <span style="color: green">{{ uploadStatus }}</span>
                            <br *ngIf="fileName" />
                            <label
                              for="bank_upload"
                              class="btn btn-primary btn-border-radius waves-effect"
                              >Choose File</label
                            >
                            <input
                              #fileInput
                              type="file"
                              (change)="setAttachment($event)"
                              id="bank_upload"
                              hidden
                              required
                            />
                            <br />
                            <span style="font-size: 1rem">
                              ( Formats allowed: .png, .jpg, .pdf )
                            </span>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                  </div>
                </cdk-accordion-item>
              </cdk-accordion>
            </div>

            <div>
              <cdk-accordion>
                <cdk-accordion-item
                  #accordionItem6="cdkAccordionItem"
                  tabindex="0"
                  [attr.id]="'accordion-header-'"
                  [attr.aria-expanded]="accordionItem6.expanded"
                  [attr.aria-controls]="'accordion-body-'"
                >
                  <div (click)="accordionItem6.toggle()">
                    <div class="header accordian">
                      <p
                        class="fas fa-angle-down example-accordion-item-description"
                      >
                        <strong
                          >Footer Details<span
                            class="fas fa-angle-down example-accordion-item-description"
                          >
                          </span
                        ></strong>
                      </p>
                    </div>
                  </div>
                  <div>
                    <div
                      role="region"
                      [style.display]="accordionItem6.expanded ? '' : 'none'"
                      [attr.id]="'accordion-body-'"
                      [attr.aria-labelledby]="'accordion-header-'"
                    >
                      <div class="row d-flex">
                        <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                            <mat-label>Image Type</mat-label>
                            <mat-select
                              formControlName="footer_image_type"
                              (selectionChange)="
                                footer_image_type($event.value)
                              "
                            >
                              <mat-option value="">Select</mat-option>
                              <mat-option value="logo">Logo</mat-option>
                              <mat-option value="full_image"
                                >Full Image</mat-option
                              >
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                            <mat-label>Image Position</mat-label>
                            <mat-select formControlName="footer_image_position">
                              <mat-option value="">Select</mat-option>
                              <mat-option value="top-center"
                                >Top Center</mat-option
                              >
                              <mat-option value="top-left">Top Left</mat-option>
                              <mat-option value="top-right"
                                >Top Right</mat-option
                              >
                              <mat-option value="center-center"
                                >Center Center</mat-option
                              >
                              <mat-option value="center-left"
                                >Center Left</mat-option
                              >
                              <mat-option value="center-right"
                                >Center Right</mat-option
                              >
                              <mat-option value="bottom-left"
                                >Bottom Left</mat-option
                              >
                              <mat-option value="bottom-right"
                                >Bottom Right</mat-option
                              >
                              <mat-option value="bottom-center"
                                >Bottom Center</mat-option
                              >
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                            <mat-label>Footer Text</mat-label>
                            <input
                              matInput
                              formControlName="footer_text_details"
                              placeholder="Footer Text"
                            />
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                            <mat-label>Text Position</mat-label>
                            <mat-select formControlName="footer_text_position">
                              <mat-option value="">Select</mat-option>
                              <mat-option value="top-center"
                                >Top Center</mat-option
                              >
                              <mat-option value="top-left">Top Left</mat-option>
                              <mat-option value="top-right"
                                >Top Right</mat-option
                              >
                              <mat-option value="center-center"
                                >Center Center</mat-option
                              >
                              <mat-option value="center-left"
                                >Center Left</mat-option
                              >
                              <mat-option value="center-right"
                                >Center Right</mat-option
                              >
                              <mat-option value="bottom-left"
                                >Bottom Left</mat-option
                              >
                              <mat-option value="bottom-right"
                                >Bottom Right</mat-option
                              >
                              <mat-option value="bottom-center"
                                >Bottom Center</mat-option
                              >
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <ng-container *ngIf="!submitBtn">
                            <label>Footer Image Upload</label><br />
                            <a
                              *ngIf="previewImage2"
                              href="{{ previewImage2 }}"
                              target="_blank"
                              >Download<mat-icon>download</mat-icon></a
                            >
                          </ng-container>
                          <ng-container
                            *ngIf="submitBtn"
                            class="example-full-width"
                          >
                            <label>Footer Upload</label><br />
                            <img
                              *ngIf="previewImage2 && previewImageType2"
                              [src]="previewImage2"
                              alt="image"
                              style="width: 5rem"
                            />
                            <br *ngIf="previewImage2 && previewImageType2" />
                            <a
                              *ngIf="previewImage2 && !previewImageType2"
                              href="{{ previewImage2 }}"
                              target="_blank"
                              >Download<mat-icon>download</mat-icon></a
                            >
                            <mat-icon
                              matDatepickerToggleIcon
                              *ngIf="previewImage2"
                              (click)="removeImage1()"
                              >clear</mat-icon
                            >
                            <br *ngIf="previewImage2 && !previewImageType2" />
                            {{ fileName1 }}
                            <i
                              class="fa fa-spinner fa-spin"
                              *ngIf="showFileLoader1"
                            ></i>
                            <span style="color: green">{{
                              uploadStatus1
                            }}</span>
                            <br *ngIf="fileName1" />
                            <label
                              for="bank_upload1"
                              class="btn btn-primary btn-border-radius waves-effect"
                              >Choose File</label
                            >
                            <input
                              #fileInput
                              type="file"
                              (change)="setAttachment1($event)"
                              id="bank_upload1"
                              hidden
                              required
                            />
                            <br />
                            <span style="font-size: 1rem">
                              ( Formats allowed: .png, .jpg, .pdf )
                            </span>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                  </div>
                </cdk-accordion-item>
              </cdk-accordion>
            </div>

            <div>
              <cdk-accordion>
                <cdk-accordion-item
                  #accordionItem2="cdkAccordionItem"
                  tabindex="0"
                  [attr.id]="'accordion-header-'"
                  [attr.aria-expanded]="accordionItem2.expanded"
                  [attr.aria-controls]="'accordion-body-'"
                >
                  <div>
                    <div (click)="accordionItem2.toggle()">
                      <div class="header accordian">
                        <p
                          class="fas fa-angle-down example-accordion-item-description"
                        >
                          <strong
                            >Contract Details<span
                              class="fas fa-angle-down example-accordion-item-description"
                            >
                            </span
                          ></strong>
                        </p>
                      </div>
                    </div>
                    <div>
                      <div>
                        <div
                          class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                          role="region"
                          [style.display]="
                            accordionItem2.expanded ? '' : 'none'
                          "
                          [attr.id]="'accordion-body-'"
                          [attr.aria-labelledby]="'accordion-header-'"
                        >
                          <div class="card">
                            <div class="body">
                              <div class="row clearfix">
                                <div
                                  class="table-responsive"
                                  formArrayName="contract_details"
                                >
                                  <table
                                    id="tableExport1"
                                    class="display table table-hover table-checkable order-column m-t-20 width-per-100 table-bordered"
                                  >
                                    <caption></caption>
                                    <thead>
                                      <tr>
                                        <th style="text-align: center">
                                          Action
                                        </th>
                                        <th style="text-align: center">
                                          From Date
                                        </th>
                                        <th style="text-align: center">
                                          To Date
                                        </th>
                                        <th style="text-align: center">
                                          Revision Status
                                        </th>
                                        <th style="text-align: center">
                                          Max No of user
                                        </th>
                                        <th style="text-align: center">
                                          Concurrent user
                                        </th>
                                      </tr>
                                    </thead>

                                    <tbody class="main_tbody">
                                      <tr
                                        *ngFor="
                                          let dynamic of formArrcontract[
                                            'controls'
                                          ];
                                          let j = index
                                        "
                                        [formGroupName]="j"
                                      >
                                        <td *ngIf="j == 0">
                                          <button
                                            type="button"
                                            class="apply-button"
                                            (click)="addNewRow1()"
                                          >
                                            <i class="fa fa-plus"></i>
                                          </button>
                                        </td>
                                        <td *ngIf="j > 0">
                                          <button
                                            type="button"
                                            class="apply-button-danger"
                                            (click)="deleteRow1(j)"
                                          >
                                            <i class="fa fa-minus"></i>
                                          </button>
                                        </td>

                                        <td class="col_input">
                                          <mat-form-field
                                            class="example-full-width"
                                          >
                                            <mat-label>From Date</mat-label>
                                            <input
                                              matInput
                                              [matDatepicker]="from_date"
                                              id="from_date"
                                              placeholder="From Date"
                                              formControlName="from_date"
                                              id="from_date{{ j + 1 }}"
                                            />
                                            <mat-datepicker-toggle
                                              matSuffix
                                              [for]="from_date"
                                            ></mat-datepicker-toggle>
                                            <mat-datepicker
                                              #from_date
                                            ></mat-datepicker>
                                          </mat-form-field>
                                        </td>
                                        <td class="col_input">
                                          <mat-form-field
                                            class="example-full-width"
                                          >
                                            <mat-label>To Date</mat-label>
                                            <input
                                              matInput
                                              [matDatepicker]="to_date"
                                              id="to_date"
                                              placeholder="To Date"
                                              formControlName="to_date"
                                              id="to_date{{ j + 1 }}"
                                            />
                                            <mat-datepicker-toggle
                                              matSuffix
                                              [for]="to_date"
                                            ></mat-datepicker-toggle>
                                            <mat-datepicker
                                              #to_date
                                            ></mat-datepicker>
                                          </mat-form-field>
                                        </td>
                                        <td class="col_input">
                                          <mat-form-field
                                            class="example-full-width"
                                            readonly
                                          >
                                            <mat-label
                                              >Revision Status</mat-label
                                            >
                                            <input
                                              matInput
                                              placeholder="Revision Status"
                                              formControlName="revision_status"
                                              type="text"
                                              id="revision_status{{ j + 1 }}"
                                            />
                                          </mat-form-field>
                                        </td>
                                        <td class="col_input">
                                          <mat-form-field
                                            class="example-full-width"
                                          >
                                            <mat-label
                                              >Max No Of User</mat-label
                                            >
                                            <input
                                              matInput
                                              placeholder="Max No Of User"
                                              formControlName="max_no_of_users"
                                              type="number"
                                              id="max_no_of_users{{ j + 1 }}"
                                              readonly
                                            />
                                          </mat-form-field>
                                        </td>
                                        <td class="col_input">
                                          <mat-form-field
                                            class="example-full-width"
                                          >
                                            <mat-label
                                              >Concurrent User</mat-label
                                            >
                                            <input
                                              matInput
                                              placeholder="Concurrent User"
                                              formControlName="concurent_user"
                                              type="number"
                                              id="concurent_user{{ j + 1 }}"
                                              readonly
                                            />
                                          </mat-form-field>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </cdk-accordion-item>
              </cdk-accordion>
            </div>

            <div>
              <cdk-accordion>
                <cdk-accordion-item
                  #accordionItem3="cdkAccordionItem"
                  tabindex="0"
                  [attr.id]="'accordion-header-'"
                  [attr.aria-expanded]="accordionItem3.expanded"
                  [attr.aria-controls]="'accordion-body-'"
                >
                  <div>
                    <div (click)="accordionItem3.toggle()">
                      <div class="header accordian">
                        <p
                          class="fas fa-angle-down example-accordion-item-description"
                        >
                          <strong
                            >Other Contact Details<span
                              class="fas fa-angle-down example-accordion-item-description"
                            >
                            </span
                          ></strong>
                        </p>
                      </div>
                    </div>
                    <div>
                      <div>
                        <div
                          class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                          role="region"
                          [style.display]="
                            accordionItem3.expanded ? '' : 'none'
                          "
                          [attr.id]="'accordion-body-'"
                          [attr.aria-labelledby]="'accordion-header-'"
                        >
                          <div class="card">
                            <div class="body">
                              <div class="row clearfix">
                                <div
                                  class="table-responsive"
                                  formArrayName="contact_details"
                                >
                                  <table
                                    id="tableExport1"
                                    class="display table table-hover table-checkable order-column m-t-20 width-per-100 table-bordered"
                                  >
                                    <caption></caption>
                                    <thead>
                                      <tr>
                                        <th style="text-align: center">
                                          Action
                                        </th>
                                        <th style="text-align: center">
                                          Full Name
                                        </th>
                                        <th style="text-align: center">
                                          Phone Number
                                        </th>
                                        <th style="text-align: center">
                                          Email
                                        </th>
                                        <th style="text-align: center">
                                          Department
                                        </th>
                                        <th style="text-align: center">
                                          Sub Department
                                        </th>
                                        <th style="text-align: center">
                                          Designation
                                        </th>
                                      </tr>
                                    </thead>
                                    <tbody class="main_tbody">
                                      <tr
                                        *ngFor="
                                          let dynamic of formArrcontact[
                                            'controls'
                                          ];
                                          let j = index
                                        "
                                        [formGroupName]="j"
                                      >
                                        <td *ngIf="j == 0">
                                          <button
                                            type="button"
                                            class="apply-button"
                                            (click)="addNewRow2()"
                                          >
                                            <i class="fa fa-plus"></i>
                                          </button>
                                        </td>
                                        <td *ngIf="j > 0">
                                          <button
                                            type="button"
                                            class="apply-button-danger"
                                            (click)="deleteRow2(j)"
                                          >
                                            <i class="fa fa-minus"></i>
                                          </button>
                                        </td>

                                        <td class="col_input">
                                          <mat-form-field
                                            class="example-full-width"
                                          >
                                            <mat-label>Full Name</mat-label>
                                            <input
                                              matInput
                                              placeholder="Full Name"
                                              formControlName="full_name"
                                              type="text"
                                              id="full_name{{ j + 1 }}"
                                            />
                                          </mat-form-field>
                                        </td>
                                        <td class="col_input">
                                          <mat-form-field
                                            class="example-full-width"
                                          >
                                            <mat-label>Phone Number</mat-label>
                                            <input
                                              matInput
                                              placeholder="Phone Number"
                                              formControlName="phone_no"
                                              type="number"
                                              id="phone_no{{ j + 1 }}"
                                            />
                                          </mat-form-field>
                                        </td>
                                        <td class="col_input">
                                          <mat-form-field
                                            class="example-full-width"
                                          >
                                            <mat-label>Email</mat-label>
                                            <input
                                              matInput
                                              placeholder="Email"
                                              formControlName="email"
                                              type="text"
                                              id="email{{ j + 1 }}"
                                            />
                                          </mat-form-field>
                                        </td>
                                        <td class="col_input">
                                          <mat-form-field
                                            class="example-full-width"
                                          >
                                            <mat-label>Department</mat-label>
                                            <input
                                              matInput
                                              placeholder="Department"
                                              formControlName="department"
                                              type="text"
                                              id="department{{ j + 1 }}"
                                            />
                                          </mat-form-field>
                                        </td>

                                        <td class="col_input">
                                          <mat-form-field
                                            class="example-full-width"
                                          >
                                            <mat-label
                                              >Sub Department</mat-label
                                            >
                                            <input
                                              matInput
                                              placeholder="Sub Department"
                                              formControlName="sub_department"
                                              type="text"
                                              id="sub_department{{ j + 1 }}"
                                            />
                                          </mat-form-field>
                                        </td>

                                        <td class="col_input">
                                          <mat-form-field
                                            class="example-full-width"
                                          >
                                            <mat-label>Designation</mat-label>
                                            <input
                                              matInput
                                              placeholder="Designation"
                                              formControlName="designation"
                                              type="text"
                                              id="designation{{ j + 1 }}"
                                            />
                                          </mat-form-field>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </cdk-accordion-item>
              </cdk-accordion>
            </div>

            <div>
              <cdk-accordion>
                <cdk-accordion-item
                  #accordionItem4="cdkAccordionItem"
                  tabindex="0"
                  [attr.id]="'accordion-header-'"
                  [attr.aria-expanded]="accordionItem4.expanded"
                  [attr.aria-controls]="'accordion-body-'"
                >
                  <div>
                    <div (click)="accordionItem4.toggle()">
                      <div class="header accordian">
                        <p
                          class="fas fa-angle-down example-accordion-item-description"
                        >
                          <strong
                            >KYC Details<span
                              class="fas fa-angle-down example-accordion-item-description"
                            >
                            </span
                          ></strong>
                        </p>
                      </div>
                    </div>
                    <div>
                      <div>
                        <div
                          class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                          role="region"
                          [style.display]="
                            accordionItem4.expanded ? '' : 'none'
                          "
                          [attr.id]="'accordion-body-'"
                          [attr.aria-labelledby]="'accordion-header-'"
                        >
                          <div>
                            <div class="card">
                              <div class="body">
                                <div class="row clearfix">
                                  <div
                                    class="table-responsive"
                                    formArrayName="kyc_details"
                                  >
                                    <table
                                      id="tableExport1"
                                      class="display table table-hover table-checkable order-column m-t-20 width-per-100 table-bordered"
                                    >
                                      <caption></caption>
                                      <thead>
                                        <tr>
                                          <th style="text-align: center">
                                            Action
                                          </th>
                                          <th style="text-align: center">
                                            Document Name
                                          </th>
                                          <th style="text-align: center">
                                            Document Number
                                          </th>
                                          <th style="text-align: center">
                                            Attachment
                                          </th>
                                        </tr>
                                      </thead>

                                      <tbody class="main_tbody">
                                        <tr
                                          *ngFor="
                                            let dynamic of formArrkyc[
                                              'controls'
                                            ];
                                            let i = index
                                          "
                                          [formGroupName]="i"
                                        >
                                          <td>
                                            <ng-container *ngIf="i == 0">
                                              <td>
                                                <button
                                                  type="button"
                                                  class="apply-button"
                                                  (click)="addNewRow3(i)"
                                                >
                                                  <i class="fa fa-plus"></i>
                                                </button>
                                              </td>
                                            </ng-container>
                                            <ng-container *ngIf="i > 0">
                                              <td>
                                                <button
                                                  type="button"
                                                  class="apply-button-danger"
                                                  (click)="deleteRow3(i)"
                                                >
                                                  <i class="fa fa-minus"></i>
                                                </button>
                                              </td>
                                            </ng-container>
                                          </td>

                                          <td class="col_input">
                                            <mat-form-field
                                              class="example-full-width"
                                            >
                                              <mat-label
                                                >Select Document Name</mat-label
                                              >
                                              <mat-select
                                                formControlName="document_name"
                                                required
                                              >
                                                <mat-option
                                                  [value]="data.id"
                                                  *ngFor="
                                                    let data of KYCTypeData
                                                  "
                                                >
                                                  {{ data.master_value }}
                                                </mat-option>
                                              </mat-select>
                                              <mat-error
                                                *ngIf="
                                                  formArrkyc.controls[i]
                                                    .get('document_name')
                                                    ?.hasError('required')
                                                "
                                              >
                                                Document Name is
                                                Required.</mat-error
                                              >
                                            </mat-form-field>
                                          </td>
                                          <td class="col_input">
                                            <mat-form-field
                                              class="example-full-width"
                                            >
                                              <input
                                                matInput
                                                placeholder="Document Number"
                                                formControlName="document_seq_number"
                                                type="text"
                                                id="document_seq_number{{
                                                  i + 1
                                                }}"
                                                required
                                              />
                                              <mat-error
                                                *ngIf="
                                                  formArrkyc.controls[i]
                                                    .get('document_seq_number')
                                                    ?.hasError('required')
                                                "
                                              >
                                                Document Number is
                                                Required.</mat-error
                                              >
                                            </mat-form-field>
                                          </td>

                                          <td
                                            class="mat-cell"
                                            style="padding: 2rem"
                                          >
                                            <ng-container *ngIf="!submitBtn">
                                              <a
                                                *ngIf="
                                                  dynamic.value[
                                                    'href_attachment_path'
                                                  ].value != ''
                                                "
                                                href="{{
                                                  dynamic.value[
                                                    'href_attachment_path'
                                                  ]
                                                }}"
                                                target="_blank"
                                                >Click to view
                                              </a>
                                            </ng-container>
                                            <ng-container
                                              *ngIf="submitBtn"
                                              class="example-full-width"
                                            >
                                              <a
                                                *ngIf="
                                                  dynamic.value[
                                                    'href_attachment_path'
                                                  ].value != ''
                                                "
                                                href="{{
                                                  dynamic.value[
                                                    'href_attachment_path'
                                                  ]
                                                }}"
                                                target="_blank"
                                                >Download<mat-icon
                                                  >download</mat-icon
                                                ></a
                                              >
                                              <br />
                                              <input
                                                #fileInput
                                                type="file"
                                                (change)="setFile($event, i)"
                                                id="upload"
                                                required
                                              />
                                              <mat-error
                                                *ngIf="
                                                  formArrkyc.controls[i]
                                                    .get('document_path')
                                                    ?.hasError('required')
                                                "
                                              >
                                                File Attachment is
                                                Required.</mat-error
                                              >

                                              <br />
                                              <span style="font-size: 1rem">
                                                ( Formats allowed: .png, .jpg,
                                                .pdf )
                                              </span>
                                            </ng-container>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </cdk-accordion-item>
              </cdk-accordion>
            </div>
          </div>
          <div class="footer">
            <div class="left">
              <button class="cancel" (click)="onCancelForm()">Cancel</button>
            </div>
            <div class="right d-flex">
              <button
                class="send"
                *ngIf="submitBtn && showReset"
                (click)="onResetForm()"
                [disabled]="showLoader"
              >
                Reset
              </button>
              <button
                class="submit"
                type="submit"
                *ngIf="submitBtn"
                [disabled]="showLoader"
                (click)="onSubmit()"
              >
                {{ btnVal }}
                <i class="fa fa-spinner fa-spin" *ngIf="showLoader"></i>
              </button>
            </div>
          </div>
          <!-- <div class="body" style="text-align: center">
            <div class="example-button-row">
              <button
                mat-flat-button
                color="primary"
                type="submit"
                *ngIf="submitBtn"
                [disabled]="showLoader"
                name="submit"
                value="Submit"
              >
                {{ btnVal }}
                <i class="fa fa-spinner fa-spin" *ngIf="showLoader"></i>
              </button>
              <button
                mat-flat-button
                style="background-color: gray; color: white"
                type="button"
                *ngIf="submitBtn && showReset"
                (click)="onResetForm()"
                [disabled]="showLoader"
              >
                Reset
              </button>
              <button
                mat-flat-button
                color="warn"
                type="button"
                (click)="onCancelForm()"
              >
                Back
              </button>
            </div>
          </div> -->
        </form>
      </div>
    </div>
  </div>
</div>
