<!-- <div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form [formGroup]="farmerForm" >
            <div class="card">
                <div class="body">
                    <div class="row clearfix"> 
                        <div class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2" *ngIf="FederationView && showReset == false ">
                            <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Transaction Date</mat-label> 
                            <input matInput [matDatepicker]="transaction_date" id="transaction_date" placeholder="Transaction Date" formControlName="transaction_date" [min]="todayDate" >
                            <mat-datepicker-toggle matSuffix [for]="transaction_date"></mat-datepicker-toggle>
                            <mat-datepicker #transaction_date></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2" *ngIf="FederationView && showReset == false ">
                            <mat-form-field class="example-full-width" appearance="outline" >
                              <mat-label>Purchase Booking Number</mat-label>
                              <input matInput formControlName="purchase_booking_ref_id"   />
                            </mat-form-field>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2" *ngIf="FederationView && showReset == false ">
                            <mat-form-field class="example-full-width" appearance="outline" >
                              <mat-label>Farmer Bill Number</mat-label>
                              <input matInput formControlName="farmer_bill_no"   />
                            </mat-form-field>
                        </div>
                        
                        <div class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2"  >
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Farmer Name</mat-label>
                                <input matInput formControlName="transaction_ref_no"   />                              
                            </mat-form-field>
                        </div> 
                        <div class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Gate Pass Number</mat-label>
                                <input matInput formControlName="gate_pass_ref_id" readonly />
                            </mat-form-field>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Vehicle Number</mat-label>
                                <input matInput formControlName="vehicle_number" readonly/>
                            </mat-form-field>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Village Name</mat-label>
                                <input matInput formControlName="address"/>
                            </mat-form-field>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Mobile Number</mat-label>
                                <input matInput formControlName="contact_number"/>
                            </mat-form-field>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Labor Charges </mat-label>
                                <input matInput formControlName="labour_charges"  />
                            </mat-form-field>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Total Amount</mat-label>
                                <input matInput formControlName="total_transaction_amount"  />
                            </mat-form-field>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Payment Status</mat-label>
                                <input matInput formControlName="payment_status"   />
                            </mat-form-field>
                        </div>
                        
                        
                    </div>
                    

                    <div class="row clearfix">  
                        <div class="row clearfix">
                            <div class="header">
                                <h2>
                                    <strong>Bill Details</strong>
                                </h2>
                            </div>

                            <div class="card">
                                <div class="body">
                                    <div class="table-responsive"
                                        formArrayName="fpc_farmer_bill">
                                        <table id="tableExport"
                                            class="display table table-hover table-checkable order-column m-t-20 width-per-100 table-bordered">
                                            <caption></caption>
                                            <thead>
                                                <tr>
                                                   
                                                    <th style="text-align:center">
                                                        Item</th>
                                                    <th style="text-align:center">
                                                        No. of Gunny Bags</th>
                                                    <th style="text-align:center">
                                                        Item Quantity</th>    
                                                    <th style="text-align:center">
                                                        UOM</th>
                                                   
                                                    <th style="text-align:center">
                                                        Weight of Gunny Bags</th> 
                                                    <th style="text-align:center">
                                                        Net Quantity</th> 
                                                    <th style="text-align:center">
                                                        Item Base Rate</th> 
                                                   
                                                    <th style="text-align:center">
                                                        Rate as Per QC </th> 
                                                    <th style="text-align:center">
                                                        Final Rate </th>  
                                                   
                                                    <th style="text-align:center">
                                                        Weight Details</th> 
                                                                 
                                                </tr>
                                            </thead>

                                            <tbody class="main_tbody">
                                                <tr *ngFor="let dynamic of formArrfarmer['controls']; let j = index"
                                                    [formGroupName]="j">


                                                    
                                                    <td class="col_input">                            
                                                        <mat-form-field class="example-full-width" appearance="outline">
                                                            <mat-label>Item</mat-label>
                                                            <input matInput formControlName="item_ref_id"  />
                                                        </mat-form-field>
                                                    </td>
                                                    <td class="col_input">
                                                        <mat-form-field class="example-full-width" appearance="outline">
                                                            <mat-label>Number of Gunny Bags </mat-label>
                                                            <input matInput formControlName="no_of_bags"
                                                            placeholder="Number of Gunny Bags" >
                                                        </mat-form-field>
                                                    </td>
                                                    <td class="col_input">
                                                        <mat-form-field class="example-full-width" appearance="outline">
                                                            <mat-label>Item Quantity</mat-label>
                                                            <input matInput formControlName="quantity" 
                                                            placeholder="Item Quantity" >
                                                        </mat-form-field>
                                                    </td>
                                                    <td class="col_input">
                                                        <mat-form-field class="example-full-width" appearance="outline">
                                                            <mat-label>UOM</mat-label>
                                                            <input matInput formControlName="uom"   />
                                                        </mat-form-field>
                                                    </td>
                                                    <td class="col_input">
                                                        <mat-form-field class="example-full-width" appearance="outline">
                                                            <mat-label>Weight of Gunny Bags</mat-label>
                                                            <input matInput formControlName="weight_of_empty_bags" (input)="calculateQuantity( j)" 
                                                            placeholder="Weight of Gunny Bags" >
                                                        </mat-form-field>
                                                    </td>
                                                    <td class="col_input">
                                                        <mat-form-field class="example-full-width" appearance="outline">
                                                            <mat-label>Net Quantity</mat-label>
                                                            <input matInput formControlName="net_quantity"
                                                            placeholder="Net Quantity" >
                                                        </mat-form-field>
                                                    </td>
                                                    <td class="col_input">
                                                        <mat-form-field class="example-full-width" appearance="outline">
                                                            <mat-label>Item Base Rate</mat-label>
                                                            <input matInput formControlName="rate"
                                                            placeholder="Item Base Rate" >
                                                        </mat-form-field>
                                                    </td>      
                                                    <td class="col_input">
                                                        <mat-form-field class="example-full-width" appearance="outline">
                                                            <mat-label>Rate as Per QC</mat-label>
                                                            <input matInput formControlName="rate" 
                                                            placeholder="Rate as Per QC" >
                                                        </mat-form-field>
                                                    </td>   
                                                    <td class="col_input">
                                                        <mat-form-field class="example-full-width" appearance="outline">
                                                            <mat-label>Final Rate</mat-label>
                                                            <input matInput formControlName="final_rate"  (input)="calculateAmount( farmerForm,j)" 
                                                            placeholder="Final Rate" >
                                                        </mat-form-field>
                                                    </td>   
                                                  
                                                    <td class="col_input">
                                                        <mat-form-field class="example-full-width" appearance="outline">
                                                            <mat-label>Weight Details</mat-label>
                                                            <input matInput formControlName="weight_detail"
                                                            placeholder="Weight Detail" >
                                                        </mat-form-field>
                                                    </td>  
                                                                                               
                                                </tr> 
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div> 

                            
                    <div class="row clearfix">   
                        <div class="row clearfix">
                            <div class="header">
                                <h2>
                                <strong>Quality Details</strong>
                                </h2>
                            </div>    
                            <div class="card">
                                <div class="body">
                                    <div class="table-responsive"
                                        formArrayName="fpc_farmer_bill">
                                        <table id="tableExport2"
                                            class="display table table-hover table-checkable order-column m-t-20 width-per-100 table-bordered">
                                            <caption></caption>
                                            <thead>
                                                <tr>
                                                   
                                                    <th style="text-align:center">
                                                        Moisture</th>
                                                    <th style="text-align:center">
                                                        Foreign Material</th>
                                                    <th style="text-align:center">
                                                        Damaged Seeds</th>    
                                                                      
                                                </tr>
                                            </thead>

                                            <tbody class="main_tbody">
                                                <tr *ngFor="let dynamic of formArrfarmer['controls']; let j = index"
                                                    [formGroupName]="j">

                                                    <td class="col_input">                            
                                                        <mat-form-field class="example-full-width" appearance="outline">
                                                            <mat-label>Moisture</mat-label>
                                                            <input matInput formControlName="qc_parameter_value"   />

                                                        </mat-form-field>
                                                    </td>
                                                    <td class="col_input">
                                                        <mat-form-field class="example-full-width" appearance="outline">
                                                            <mat-label>Foreign Material</mat-label>
                                                            <input matInput formControlName="qc_value"
                                                            placeholder="Number of Gunny Bags" >
                                                        </mat-form-field>
                                                    </td>
                                                    <td class="col_input">
                                                        <mat-form-field class="example-full-width" appearance="outline">
                                                            <mat-label>Damaged Seed</mat-label>
                                                            <input matInput formControlName="qc_value" 
                                                            placeholder="Item Quantity" >
                                                        </mat-form-field>
                                                    </td>
                                                                                                  
                                                </tr> 
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </div>         
 

                    
                    <div class="row clearfix">  
                        <div class="row clearfix">
                            <div class="header">
                                <h2>
                                    <strong>Payment Details</strong>
                                </h2>
                            </div>
                            <div class="card">
                                <div class="body">
                                    <div class="table-responsive"
                                        formArrayName="fpc_farmer_bill">
                                        <table id="tableExport3"
                                            class="display table table-hover table-checkable order-column m-t-20 width-per-100 table-bordered">
                                            <caption></caption>
                                            <thead>
                                                <tr>
                                                   
                                                    <th style="text-align:center">
                                                        Date</th>
                                                    <th style="text-align:center">
                                                        Payment no.</th>
                                                    <th style="text-align:center">
                                                        Amount</th>
                                                    <th style="text-align:center">
                                                        Mode</th>        
                                                                    
                                                </tr>
                                            </thead>

                                            <tbody class="main_tbody">
                                                <tr *ngFor="let dynamic of formArrfarmer['controls']; let j = index"
                                                    [formGroupName]="j">

                                                    <td class="col_input">                            
                                                        <mat-form-field class="example-full-width" appearance="outline">
                                                            <mat-label>Date</mat-label>
                                                                <input matInput formControlName="date" type="text"  />
                                                        </mat-form-field>
                                                    </td>
                                                    <td class="col_input">
                                                        <mat-form-field class="example-full-width" appearance="outline">
                                                            <mat-label>Payment no.</mat-label>
                                                            <input matInput formControlName="payment_no"
                                                            placeholder="Payment no." >
                                                        </mat-form-field>
                                                    </td>
                                                    <td class="col_input">
                                                        <mat-form-field class="example-full-width" appearance="outline">
                                                            <mat-label>Amount</mat-label>
                                                            <input matInput formControlName="amount" 
                                                            placeholder="Amount" >
                                                        </mat-form-field>
                                                    </td>
                                                    <td class="col_input">
                                                        <mat-form-field class="example-full-width" appearance="outline">
                                                            <mat-label>Mode</mat-label>
                                                            <input matInput formControlName="mode" 
                                                            placeholder="Mode" >
                                                        </mat-form-field>
                                                    </td>
                                                                                                  
                                                </tr> 
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>        


                    <div class="body" style="text-align: center">
                        <div class="example-button-row">
                            <!-- <button mat-flat-button color="primary" type="submit" *ngIf="submitBtn"
                                [disabled]="showLoader" name="submit" value="Submit">
                                {{ btnVal }}
                                <i class="fa fa-spinner fa-spin" *ngIf="showLoader"></i>
                            </button> -->
                            <!-- <button mat-flat-button style="background-color: gray; color: white" type="button"
                                *ngIf="submitBtn && showReset" (click)="onResetForm()" [disabled]="showLoader">
                                Reset
                            </button> -->
                            
                            <!-- <button class="btn btn-primary print" id="printPageButton" type="button" (click)="printComponent()">
                                Print
                            </button> 

                            <button mat-flat-button color="warn" type="button" (click)="onCancelForm()">
                                Back
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>    
    </div>
</div> -->
