<div [formGroup]="form">
    <div *ngFor="let opt of field.options" >
      <mat-checkbox  value="opt.id" style="margin: 10px;">
        {{opt.field_label}}
      </mat-checkbox>
    </div>
</div> 



  
