  <div class="container-fluid p-0">
    <div class="row g-0">
      <div class="col-lg-4">
        <div class="auth-content p-4 d-flex align-items-center min-vh-100">
          <div class="w-100">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <div>
                  <div class="text-center">
                    <div>
                      <a routerLink="" class="logo-full"><img src="assets/images/logo-full.png" alt="logo-full"></a>
                    </div>
                    <h4 class="font-20 mt-4">Register New User</h4>
                    <p class="text-muted">Lifetime Free Account.</p>
                  </div>
                  <div class="p-2 mt-5">
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                      <div class="form-group auth-form-group mb-4">
                        <mat-icon matSuffix class="auth-page-icon">face</mat-icon>
                        <input type="text" formControlName="username" class="form-control auth-control" id="username"
                          placeholder="Username" [ngClass]="{ 'is-invalid': submitted && form['username'].errors }">
                        <div *ngIf="submitted && form['username'].errors" class="invalid-feedback">
                          <div *ngIf="form['username'].errors['required']">Username is Required</div>
                        </div>
                      </div>
                      <div class="form-group auth-form-group mb-4">
                        <mat-icon matSuffix class="auth-page-icon">email</mat-icon>
                        <input type="email" formControlName="email" class="form-control auth-control" id="email"
                          placeholder="Email" [ngClass]="{ 'is-invalid': submitted && form['email'].errors } ">
                        <div *ngIf="submitted && form['email'].errors" class="invalid-feedback">
                          <div *ngIf="form['email'].errors['required']">Email is Required</div>
                          <div *ngIf="form['email'].errors['email']">Email must be a valid email address</div>
                        </div>
                      </div>

                      <div class="form-group auth-form-group mb-4">
                        <mat-icon matSuffix class="auth-page-icon">vpn_key</mat-icon>
                        <input type="password" formControlName="password" class="form-control auth-control"
                          id="password" [ngClass]="{ 'is-invalid': submitted && form['password'].errors }"
                          placeholder="Password" />
                        <div *ngIf="submitted && form['password'].errors" class="invalid-feedback">
                          <div *ngIf="form['password'].errors['required']">Password is Required</div>
                        </div>
                      </div>

                      <div class="form-group auth-form-group mb-4">
                        <mat-icon matSuffix class="auth-page-icon">vpn_key</mat-icon>
                        <input type="password" formControlName="cpassword" class="form-control auth-control"
                          id="cpassword" [ngClass]="{ 'is-invalid': submitted && form['cpassword'].errors }"
                          placeholder="Confirm Password" />
                        <div *ngIf="submitted && form['cpassword'].errors " class="invalid-feedback">
                          <div *ngIf="form['cpassword'].errors['required']">Confirm Password is Required</div>
                        </div>
                      </div>

                      <div class="flex-sb-m w-full p-t-15 p-b-20">
                        <div>
                          <span>Already Registered? <a routerLink="/authentication/signin">
                              Login
                            </a></span>
                        </div>
                      </div>

                      <div class="container-login100-form-btn">
                        <button mat-flat-button color="primary" class="login100-form-btn" type="submit">
                          Register
                        </button>
                      </div>
                    </form>
                  </div>
                  <div class="mt-3 text-center">
                    <p> or sign up using </p>
                    <ul class="list-unstyled social-icon mb-0 mt-3">
                      <li class="list-inline-item m-2"><a href="javascript:void(0)" class="rounded">
                          <i class="fab fa-google"></i>
                        </a></li>
                      <li class="list-inline-item m-2"><a href="javascript:void(0)" class="rounded flex-c-m">
                          <i class="fab fa-facebook-f"></i>
                        </a></li>
                      <li class="list-inline-item m-2"><a href="javascript:void(0)" class="rounded">
                          <i class="fab fa-twitter"></i>
                        </a></li>
                      <li class="list-inline-item m-2"><a href="javascript:void(0)" class="rounded">
                          <i class="fab fa-linkedin-in"></i>
                        </a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="auth-bg">
          <div class="bg-overlay"></div>
        </div>
      </div>
    </div>
  </div>
