
<div [formGroup]="form">
    <mat-form-field class="example-full-width" >
      <mat-label>{{field.field_label}}</mat-label>
      <mat-select  [id]="field_id" [formControlName]="field.field_key"
        (selectionChange)="(field.is_onchange_event==true || field.is_onchange_concatenate==true) && onSelectionChange($event)">
        <mat-select-filter [placeholder]="'Search'" [displayMember]="'key'" [array]="field.dropdown_raw_query"
        (filteredReturn)="field.filter_dropdown_raw_query = $event"></mat-select-filter>
        <mat-option *ngIf="field.is_required==false"  value=0>Select {{field.field_label}}</mat-option> 
        <mat-option *ngFor="let opt of field.filter_dropdown_raw_query" [value]="opt.id">{{opt.key}}
        </mat-option >
      </mat-select>
      <mat-error *ngIf="field.is_required==true"> 
        {{field.field_placeholder}} Is Required
       </mat-error>
    </mat-form-field>
</div> 
  