<div class="container-fluid p-0">
  <div class="row g-0">
    <div class="col-lg-4">
      <div class="auth-content p-4 d-flex align-items-center min-vh-100">
        <div class="w-100">
          <div class="row justify-content-center">
            <div class="col-lg-9">
              <div>
                <div class="text-center">
                  <div>
                    <a routerLink="" class="logo-full"
                      ><img src="assets/images/alogo.png" alt="logo-full"
                    /></a>
                  </div>
                  <div *ngIf="isForgotScreen">
                    <h4 class="font-20 mt-4">Forgot Password ?</h4>
                    <p class="text-muted">
                      Enter your username to reset your password
                    </p>
                  </div>
                  <div *ngIf="!isForgotScreen">
                    <h4 class="font-20 mt-4">New Password ?</h4>
                    <p class="text-muted">
                      Enter OTP and Password with Confirm Password
                    </p>
                  </div>
                </div>

                <div class="p-2 mt-5">
                  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div *ngIf="error" class="alert alert-danger mb-3 mt-0">
                      {{ error }}
                    </div>
                    <div
                      class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2"
                      *ngIf="isForgotScreen"
                    >
                      <mat-form-field
                        class="example-full-width"
                        appearance="outline"
                      >
                        <mat-label>Username</mat-label>
                        <input
                          matInput
                          formControlName="username"
                          required
                          onselectstart="return false"
                          oncut="return false"
                          oncopy="return false"
                          onpaste="return false"
                          ondrag="return false"
                          ondrop="return false"
                        />
                        <mat-error
                          *ngIf="
                            loginForm.get('username')?.hasError('required')
                          "
                        >
                          Username is Required
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div *ngIf="!isForgotScreen">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <mat-form-field
                          class="example-full-width"
                          appearance="outline"
                        >
                          <mat-label>One Time Password</mat-label>
                          <input
                            matInput
                            formControlName="otp"
                            [type]="hideOtp ? 'password' : 'text'"
                            required
                            onselectstart="return false"
                            oncut="return false"
                            oncopy="return false"
                            onpaste="return false"
                            ondrag="return false"
                            ondrop="return false"
                          />
                          <mat-icon matSuffix (click)="hideOtp = !hideOtp">
                            {{
                              hideOtp ? "visibility_off" : "visibility"
                            }}</mat-icon
                          >
                          <mat-error
                            *ngIf="loginForm.get('otp')?.hasError('required')"
                          >
                            One Time Password is Required
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <mat-form-field
                          class="example-full-width"
                          appearance="outline"
                        >
                          <mat-label>Password</mat-label>
                          <input
                            matInput
                            formControlName="password"
                            [type]="hidePassword ? 'password' : 'text'"
                            required
                            onselectstart="return false"
                            oncut="return false"
                            oncopy="return false"
                            onpaste="return false"
                            ondrag="return false"
                            ondrop="return false"
                          />
                          <mat-icon
                            matSuffix
                            (click)="hidePassword = !hidePassword"
                          >
                            {{
                              hidePassword ? "visibility_off" : "visibility"
                            }}</mat-icon
                          >
                          <mat-error
                            *ngIf="
                              loginForm.get('password')?.hasError('required')
                            "
                          >
                            Password is Required
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <mat-form-field
                          class="example-full-width"
                          appearance="outline"
                        >
                          <mat-label>Confirm Password</mat-label>
                          <input
                            matInput
                            formControlName="confirmpassword"
                            [type]="hidecPassword ? 'password' : 'text'"
                            required
                            onselectstart="return false"
                            oncut="return false"
                            oncopy="return false"
                            onpaste="return false"
                            ondrag="return false"
                            ondrop="return false"
                          />
                          <mat-icon
                            matSuffix
                            (click)="hidecPassword = !hidecPassword"
                          >
                            {{
                              hidecPassword ? "visibility_off" : "visibility"
                            }}</mat-icon
                          >
                          <mat-error
                            *ngIf="
                              loginForm
                                .get('confirmpassword')
                                ?.hasError('required')
                            "
                          >
                            Confirm Password is Required
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="container-login100-form-btn">
                      <button
                        mat-flat-button
                        color="primary"
                        *ngIf="isForgotScreen"
                        class="login100-form-btn"
                        type="submit"
                      >
                        Reset My Password
                        <i class="fa fa-spinner fa-spin" *ngIf="showLoader"></i>
                      </button>
                    </div>
                    <div class="container-login100-form-btn">
                      <button
                        mat-flat-button
                        color="primary"
                        *ngIf="!isForgotScreen"
                        (click)="updatePassword()"
                        class="login100-form-btn"
                        type="button"
                      >
                        Update Password
                        <i class="fa fa-spinner fa-spin" *ngIf="showLoader"></i>
                      </button>
                    </div>
                  </form>
                </div>

                <div class="mt-5 text-center">
                  <p>
                    Want To Login ?
                    <a
                      routerLink="/authentication/signin"
                      class="font-weight-medium text-primary"
                    >
                      Log in
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="auth-bg">
        <div class="bg-overlay"></div>
      </div>
    </div>
  </div>
</div>
