<div class="container-fluid p-0">
  <div class="row g-0">
    <div class="col-lg-4">
      <div class="auth-content p-4 d-flex align-items-center min-vh-100">
        <div class="w-100">
          <div class="row justify-content-center">
            <div class="col-lg-9">
              <div>
                <div class="text-center">
                  <div>
                    <a routerLink="" class="logo-full"
                      ><img src="assets/images/alogo.png" alt="logo-full"
                    /></a>
                  </div>
                  <h4 class="font-20 mt-4">OTP</h4>
                </div>

                <div class="p-2 mt-5">
                  <form [formGroup]="loginForm" (ngSubmit)="login(OTP.value)">
                    <div *ngIf="error" class="alert alert-danger mb-3 mt-0">
                      {{ error }}
                    </div>
                    <div
                      *ngIf="errorAttempts"
                      class="alert alert-danger mb-3 mt-0"
                    >
                      {{ errorAttempts }}
                    </div>
                    <div class="form-group auth-form-group mb-4">
                      <mat-label>OTP</mat-label>
                      <mat-form-field
                        class="example-full-width"
                        appearance="outline"
                      >
                        <input
                          matInput
                          #OTP
                          formControlName="OTP"
                          placeholder="OTP"
                          [type]="hide ? 'password' : 'text'"
                          required
                        />
                        <mat-icon matSuffix (click)="hide = !hide">
                          {{ hide ? "visibility_off" : "visibility" }}</mat-icon
                        >
                        <mat-error
                          *ngIf="loginForm.controls['OTP'].hasError('required')"
                        >
                          OTP is Required
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <div class="flex-sb-m w-full p-t-15 p-b-20">
                      <div>
                        OTP not received?<a
                          class="txt1"
                          [routerLink]="['/authentication/signin']"
                          routerLinkActive="router-link-active"
                          >Try again!</a
                        >
                      </div>
                    </div>

                    <div class="container-login100-form-btn">
                      <button
                        mat-flat-button
                        color="primary"
                        class="login100-form-btn"
                        type="submit"
                        [disabled]="submitted"
                      >
                        VERIFY OTP
                      </button>
                    </div>
                  </form>
                </div>
                <div class="mt-5 text-center"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="auth-bg">
        <div class="bg-overlay"></div>
      </div>
    </div>
  </div>
</div>
