p {
  margin: 0;
  padding: 0;
}
.card-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  z-index: 2;
  gap: 16px;
}
.card-section {
  gap: 16px;
  height: 599px;
  position: relative;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
.bg {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 332px;
  width: 100%;
  background: var(--blue-50, #e6f4fa);
}
.standard,
.premium {
  display: flex;
  width: 193px;
  padding: 32px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  border-radius: 12px;
  border: 2px solid var(--blue-900, #2c5a88);
  height: 502px;
  background: white;
}
.std-p1 {
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
}
.std-p2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
}
.std-p3 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
button {
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #3d79a9;
  color: white;
  text-align: center;
  border: none;
  /* m b */
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}
.price p:nth-child(1) {
  color: var(--blue-900, #2c5a88);
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}
.para1 {
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
}
.hline1 {
  width: 282px;
  height: 1px;
  background-color: #eeeeee;
  padding: 0px;
  margin: 0;
}
.hline2 {
  width: 161px;
  height: 0.5px;
  background-color: #bdbdbd;
  padding: 0px;
  margin: 0;
}
.feature-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.feature-list p {
  color: var(--grey-900, #212121);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 138.462% */
}
.feature-list .bi {
  font-size: 18px !important;
  color: #111827;
}
.popular {
  position: relative;
  top: 0;
  display: flex;
  width: 100%;
  padding: 2px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px 10px 0px 0px;
  background: var(--green-600, #52ae59);
  color: var(--grey-0, #fff);
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 138.462% */
}

.professional {
  border-radius: 12px;
  border: 2px solid var(--blue-900, #2c5a88);
  width: 193px;
  display: flex;
  flex-direction: column;
  background: white;
}
.pro-content {
  display: flex;
  padding: 32px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.features {
  display: flex;
  width: 346px;
  padding: 0px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 6px;
}

.features p:nth-child(1) {
  font-weight: 700 !important;
  font-size: 16px !important;
  padding-bottom: 10px !important;
}
.features p {
  color: var(--grey-900, #212121);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 138.462% */
}
.feature-content {
  display: flex;
  padding: 32px 16px;
  flex-direction: column;
  justify-content: space-between;
  height: 502px;
  align-items: flex-start;
}
.bi-dash {
  height: 20.32px !important;
}

.footer {
  padding: 20px 0;
  background-color: white;
  gap: 16px;
  border-radius: 8px;
}

.footer .bi {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  height: 48px;
  width: 48px;
  color: black;
  background-color: #d9d9d9;
  padding: 8px;
  border-radius: 50%;
}
.footer p:nth-child(1) {
  font-size: 16px;
  font-weight: 400;
}
.footer p:nth-child(2) {
  font-size: 16px;
  font-weight: 700;
}
.footer p:nth-child(3) {
  font-size: 13px;
}
