<!-- <section class="content">
  <div class="card-section">
    <div class="bg" style="z-index: 1"></div>

    <div class="card-container">
      <div class="feature-content">
        <p class="para1">
          Subscribe to Agdi <br />
          services according to <br />
          your business needs <br />
        </p>
        <div class="features">
          <p>Features</p>
          <p>Total Users</p>
          <hr class="hline1" />
          <p>Farmer Member Base</p>
          <hr class="hline1" />
          <p>Sales</p>
          <hr class="hline1" />
          <p>Purchase</p>
          <hr class="hline1" />
          <p>Reports</p>
          <hr class="hline1" />
          <p>Others (Electricity, Rent data, etc)</p>
          <hr class="hline1" />
          <p>Management (HR, Finance, Compliance, etc)</p>
          <hr class="hline1" />
        </div>
      </div>
      <div class="standard">
        <p class="std-p1">Standard</p>
        <div class="price">
          <p class="std-p2">₹6,990</p>
          <p class="std-p3">/org /month</p>
        </div>
        <button>Upgrade Now</button>
        <div class="feature-list text-center">
          <p>10 users</p>
          <hr class="hline2" />
          <p>200</p>
          <hr class="hline2" />
          <p><i class="bi bi-check-lg"></i></p>
          <hr class="hline2" />
          <p><i class="bi bi-check-lg"></i></p>
          <hr class="hline2" />
          <p><i class="bi bi-check-lg"></i></p>
          <hr class="hline2" />
          <i class="bi bi-dash"></i>
          <hr class="hline2" />
          <i class="bi bi-dash"></i>
          <hr class="hline2" />
        </div>
      </div>
      <div class="professional">
        <div class="popular">Most Popular</div>
        <div class="pro-content">
          <p class="std-p1">Professional</p>
          <div class="std-p2" class="price">
            <p>₹8,990</p>
            <p class="std-p3">/org /month</p>
          </div>
          <button>Upgrade Now</button>
          <div class="feature-list text-center">
            <p>20 users</p>
            <hr class="hline2" />
            <p>500</p>
            <hr class="hline2" />
            <p><i class="bi bi-check-lg"></i></p>
            <hr class="hline2" />
            <p><i class="bi bi-check-lg"></i></p>
            <hr class="hline2" />
            <p><i class="bi bi-check-lg"></i></p>
            <hr class="hline2" />
            <p><i class="bi bi-check-lg"></i></p>
            <hr class="hline2" />
            <i class="bi bi-dash"></i>
            <hr class="hline2" />
          </div>
        </div>
      </div>
      <div class="premium">
        <p class="std-p1">Premium</p>
        <div class="price">
          <p class="std-p2">₹12,490</p>
          <p class="std-p3">/org /month</p>
        </div>
        <button>Upgrade Now</button>
        <div class="feature-list text-center">
          <p>50 users</p>
          <hr class="hline2" />
          <p>1000</p>
          <hr class="hline2" />
          <p><i class="bi bi-check-lg"></i></p>
          <hr class="hline2" />
          <p><i class="bi bi-check-lg"></i></p>
          <hr class="hline2" />
          <p><i class="bi bi-check-lg"></i></p>
          <hr class="hline2" />
          <p><i class="bi bi-check-lg"></i></p>
          <hr class="hline2" />
          <p><i class="bi bi-check-lg"></i></p>
          <hr class="hline2" />
        </div>
      </div>
    </div>
  </div>
  <div
    class="footer d-flex flex-column justify-content-center align-items-center mt-4"
  >
    <i class="bi bi-telephone"></i>
    <p class="m-0 p-0">Agdi India Helpline: 18006043021</p>
    <p class="m-0 p-0">
      Feel free to call us every Monday to Friday 9:00 AM to 7:00 PM (Toll Free)
    </p>
    <p class="m-0 p-0">© 2023, Agdi. All Rights Reserved</p>
  </div>
</section> -->

<!-- pppp first static code-->
<!-- <section class="content">
  <div class="card-section">
    <div class="bg" style="z-index: 1"></div>

    <div class="card-container">
      <div class="feature-content">
        <p class="para1">
          Subscribe to Agdi <br />
          services according to <br />
          your business needs <br />
        </p>

        <div class="features">
          <p>Features</p>

          <div class="features" *ngFor="let fea of featuresData">
            {{ fea.label }}
            <hr class="hline1" />
          </div>
        </div>
      </div>

      <div class="standard" *ngFor="let sub of subcription_Data">
        <p class="std-p1">{{ sub.standard }}</p>
        <div class="price">
          <p class="std-p2">{{ sub.price }}</p>
          <p class="std-p3">/org /month</p>
        </div>
        <button>Upgrade Now</button>
        <div class="feature-list text-center">
          <p>{{ sub.total_user }}</p>
          <hr class="hline2" />

          <p>{{ sub.farmer_member_base }}</p>
          <hr class="hline2" />

          <p *ngIf="sub.sales === 'check'"><i class="bi bi-check-lg"></i></p>
          <p *ngIf="sub.sales === 'dash'"><i class="bi bi-dash"></i></p>
          <hr class="hline2" />

          <p *ngIf="sub.purchase === 'check'">
            <i class="bi bi-check-lg"></i>
          </p>
          <p *ngIf="sub.purchase === 'dash'"><i class="bi bi-dash"></i></p>
          <hr class="hline2" />

          <p *ngIf="sub.reports === 'check'">
            <i class="bi bi-check-lg"></i>
          </p>
          <p *ngIf="sub.reports === 'dash'"><i class="bi bi-dash"></i></p>
          <hr class="hline2" />

          <p *ngIf="sub.others === 'check'"><i class="bi bi-check-lg"></i></p>
          <p *ngIf="sub.others === 'dash'"><i class="bi bi-dash"></i></p>
          <hr class="hline2" />

          <p *ngIf="sub.management === 'check'">
            <i class="bi bi-check-lg"></i>
          </p>
          <p *ngIf="sub.management === 'dash'"><i class="bi bi-dash"></i></p>
          <hr class="hline2" />
        </div>
      </div>
    </div>
  </div>
  <div
    class="footer d-flex flex-column justify-content-center align-items-center mt-4"
  >
    <i class="bi bi-telephone"></i>
    <p class="m-0 p-0">Agdi India Helpline: 18006043021</p>
    <p class="m-0 p-0">
      Feel free to call us every Monday to Friday 9:00 AM to 7:00 PM (Toll Free)
    </p>
    <p class="m-0 p-0">© 2023, Agdi. All Rights Reserved</p>
  </div>
</section> -->

<!-- second code -->

<section class="content">
  <div class="card-section">
    <div class="bg" style="z-index: 1"></div>

    <div class="card-container">
      <div class="feature-content">
        <p class="para1">
          Subscribe to Agdi <br />
          services according to <br />
          your business needs <br />
        </p>

        <div class="features">
          <p>Features</p>
          <div class="features" *ngFor="let fea of featuresData">
            {{ fea.label }}
            <hr class="hline1" />
          </div>
        </div>
      </div>

      <div class="standard" *ngFor="let sub of subcription_Data">
        <p class="std-p1">{{ sub.standard }}</p>
        <div class="price">
          <p class="std-p2">{{ sub.price }}</p>
          <p class="std-p3">/org /month</p>
        </div>
        <button>Upgrade Now</button>
        <div class="feature-list text-center">
          <div *ngFor="let fea of featuresData">
            <p>
              <!-- {{ sub[fea.key] }} -->

              <span *ngIf="sub[fea.key] === 'check'"
                ><i class="bi bi-check-lg"></i
              ></span>
              <span *ngIf="sub[fea.key] === 'dash'"
                ><i class="bi bi-dash-lg"></i
              ></span>
              <span *ngIf="sub[fea.key] !== 'check' && sub[fea.key] !== 'dash'">
                {{ sub[fea.key] }}
              </span>
            </p>
            <hr class="hline2" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="footer d-flex flex-column justify-content-center align-items-center mt-4"
  >
    <i class="bi bi-telephone"></i>
    <p class="m-0 p-0">Agdi India Helpline: 18006043021</p>
    <p class="m-0 p-0">
      Feel free to call us every Monday to Friday 9:00 AM to 7:00 PM (Toll Free)
    </p>
    <p class="m-0 p-0">© 2023, Agdi. All Rights Reserved</p>
  </div>
</section>
