<div class="edit_pop_up override_edit_pop_up">
  <div class="big-model">
    <div class="header">
      <p>{{ screenName }}</p>
      <button (click)="onCancelForm()">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
    <div class="body overflow_model">
      <div class="details-form">
        <form [formGroup]="gatepassForm">
          <div class="personal">
            <div class="row d-flex">
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Transaction Date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="transaction_date"
                    id="transaction_date"
                    formControlName="transaction_date"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="transaction_date"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #transaction_date></mat-datepicker>
                </mat-form-field>
              </div>

              <div
                class="col-md-3"
                *ngIf="btnVal !== 'Submit' || submitBtn === false"
              >
                <mat-form-field class="example-full-width">
                  <mat-label>Gate Pass Number </mat-label>
                  <input
                    matInput
                    formControlName="transaction_ref_no"
                    readonly
                    placeholder="Date"
                  />
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Supplier Name</mat-label>
                  <mat-select
                    formControlName="supplier_ref_id"
                    #select
                    required
                  >
                    <mat-select-filter
                      [placeholder]="'Search'"
                      [displayMember]="'key'"
                      [array]="SearchData"
                      (filteredReturn)="SupplierData = $event"
                    ></mat-select-filter>
                    <mat-option
                      *ngFor="let obj of SupplierData"
                      style="padding-top: 8px; padding-bottom: 8px"
                      [value]="obj.id"
                      >{{ obj.key }}</mat-option
                    >
                  </mat-select>
                  <mat-error
                    *ngIf="
                      gatepassForm.controls['supplier_ref_id'].hasError(
                        'required'
                      )
                    "
                    >Supplier Name Is Required.
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Agent Name</mat-label>
                  <mat-select formControlName="agent_ref_id">
                    <mat-option [value]="empty_value"
                      >Select Agent Name</mat-option
                    >
                    <mat-select-filter
                      [placeholder]="'Search'"
                      [displayMember]="'key'"
                      [array]="AgentSearchData"
                      (filteredReturn)="AgentData = $event"
                    ></mat-select-filter>

                    <mat-option
                      *ngFor="let obj of AgentData"
                      [value]="obj.id"
                      >{{ obj.key }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label> Item Type</mat-label>
                  <mat-select
                    formControlName="item_type_ref_id"
                    (selectionChange)="ItemTypeChange($event.value)"
                    required
                  >
                    <mat-option *ngFor="let obj of ItemType" [value]="obj.id">{{
                      obj.master_key
                    }}</mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="
                      gatepassForm.controls['item_type_ref_id'].hasError(
                        'required'
                      )
                    "
                    >Item Type Is Required.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label> Delivery Terms</mat-label>
                  <mat-select
                    formControlName="delivery_type"
                    (selectionChange)="DeliveryTypeChange($event.value)"
                  >
                    <mat-option
                      *ngFor="let obj of DeliveryType"
                      [value]="obj.id"
                      >{{ obj.master_key }}</mat-option
                    >
                  </mat-select>
                  <mat-error
                    *ngIf="
                      gatepassForm.controls['delivery_type'].hasError(
                        'required'
                      )
                    "
                    >Delivery Terms Is Required.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Distance(KM) </mat-label>
                  <input
                    matInput
                    formControlName="distance"
                    type="number"
                    min="0"
                    step="0.01"
                    oninput="validity.valid||(value='');"
                    placeholder="Distance "
                  />
                  <mat-error
                    *ngIf="
                      gatepassForm.controls['distance'].hasError('required')
                    "
                    >Distance Is Required.
                  </mat-error>
                  <mat-error *ngIf="gatepassForm.controls['distance'].dirty"
                    >Distance Should be Positive Number.
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Vehicle Number</mat-label>
                  <input
                    matInput
                    formControlName="vehicle_no"
                    required
                    placeholder="Vehicle Number"
                    oninput="this.value = this.value.toUpperCase()"
                  />
                  <mat-error
                    *ngIf="
                      gatepassForm.controls['vehicle_no'].hasError('required')
                    "
                    >Vehicle Number Is Required.
                  </mat-error>
                  <mat-error
                    *ngIf="
                      gatepassForm.controls['vehicle_no'].hasError('pattern')
                    "
                    >Vehicle Number Format Is Wrong.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Driver Name</mat-label>
                  <input
                    matInput
                    formControlName="driver_name"
                    required
                    placeholder="Driver Name"
                  />
                  <mat-error
                    *ngIf="
                      gatepassForm.controls['driver_name'].hasError('required')
                    "
                    >Driver Name Is Required.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Driver Contact Number</mat-label>
                  <input
                    matInput
                    formControlName="driver_contact_no"
                    type="number"
                    placeholder="Driver Number"
                  />
                  <mat-error
                    *ngIf="
                      gatepassForm.controls['driver_contact_no'].hasError(
                        'required'
                      )
                    "
                    >Driver Contact Is Required.
                  </mat-error>
                  <mat-error
                    *ngIf="
                      gatepassForm.controls['driver_contact_no'].hasError(
                        'pattern'
                      )
                    "
                    >Enter 10 Digit Contact No.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width mb-3">
                  <mat-label>IN Time</mat-label>
                  <input
                    matInput
                    formControlName="in_time"
                    [owlDateTimeTrigger]="time1"
                    [owlDateTime]="time1"
                    required
                  />
                  <mat-icon
                    matSuffix
                    [owlDateTimeTrigger]="time1"
                    class="date-icon"
                    >schedule</mat-icon
                  >
                  <owl-date-time [pickerType]="'timer'" #time1></owl-date-time>

                  <mat-error
                    *ngIf="
                      gatepassForm.controls['in_time'].hasError('required')
                    "
                    >In Time Is Required
                  </mat-error>
                </mat-form-field>
              </div>
              <div
                class="col-md-3"
                *ngIf="btnVal !== 'Submit' || submitBtn === false"
              >
                <mat-form-field class="example-full-width mb-3">
                  <mat-label>OUT Time</mat-label>
                  <input
                    matInput
                    formControlName="out_time"
                    [owlDateTimeTrigger]="time2"
                    [owlDateTime]="time2"
                  />
                  <mat-icon
                    matSuffix
                    [owlDateTimeTrigger]="time2"
                    class="date-icon"
                    >schedule</mat-icon
                  >
                  <owl-date-time [pickerType]="'timer'" #time2></owl-date-time>
                </mat-form-field>
              </div>
              <div
                class="col-md-3"
                *ngIf="btnVal !== 'Submit' || submitBtn === false"
              >
                <mat-form-field class="example-full-width">
                  <mat-label>Remark</mat-label>
                  <input
                    matInput
                    formControlName="remark"
                    type="text"
                    placeholder="Remark"
                  />
                </mat-form-field>
              </div>
            </div>

            <div>
              <div class="header accordian">
                <p class="fas fa-angle-down example-accordion-item-description">
                  <strong
                    >{{ screenName }} Details<span
                      class="fas fa-angle-down example-accordion-item-description"
                    >
                    </span
                  ></strong>
                </p>
              </div>
            </div>
            <div [formGroup]="gatepassForm">
              <div class="card">
                <div class="body">
                  <div class="row clearfix">
                    <div
                      class="table-responsive"
                      formArrayName="gate_pass_details"
                    >
                      <table
                        id="tableExport1"
                        class="display table table-hover table-checkable order-column m-t-20 width-per-100 table-bordered"
                      >
                        <caption></caption>
                        <thead>
                          <tr>
                            <th style="text-align: center">Action</th>
                            <th style="text-align: center">Item</th>

                            <th style="text-align: center">No of Bags</th>
                            <th style="text-align: center">Quantity</th>
                            <th style="text-align: center">UOM</th>

                            <th style="text-align: center">HSN</th>
                          </tr>
                        </thead>
                        <tbody class="main_tbody">
                          <tr
                            *ngFor="
                              let dynamic of formArrgate['controls'];
                              let j = index
                            "
                            [formGroupName]="j"
                          >
                            <td class="col_input" *ngIf="j === 0">
                              <button
                                type="button"
                                [disabled]="addButtonDisable"
                                class="apply-button"
                                (click)="addNewRow()"
                              >
                                <i class="fa fa-plus"></i>
                              </button>
                            </td>
                            <td class="col_input" *ngIf="j > 0">
                              <button
                                type="button"
                                [disabled]="addButtonDisable"
                                class="apply-button-danger"
                                (click)="deleteRow(j)"
                              >
                                <i class="fa fa-minus"></i>
                              </button>
                            </td>

                            <td class="col_input">
                              <mat-form-field class="example-full-width">
                                <mat-label>Item</mat-label>
                                <mat-select
                                  formControlName="item_ref_id"
                                  (selectionChange)="ItemNameChange($event, j)"
                                  required
                                >
                                  <mat-select-filter
                                    [placeholder]="'Search'"
                                    [displayMember]="'name'"
                                    [array]="ItemSearchData"
                                    (filteredReturn)="ItemData = $event"
                                  ></mat-select-filter>
                                  <mat-option
                                    *ngFor="let obj of ItemData"
                                    [value]="obj.id"
                                    >{{ obj.key }}</mat-option
                                  >
                                </mat-select>
                                <mat-error
                                  *ngIf="
                                    formArrgate.controls[j]
                                      .get('item_ref_id')
                                      ?.hasError('required')
                                  "
                                  >Item Is Required.</mat-error
                                >
                              </mat-form-field>
                            </td>

                            <td class="col_input">
                              <mat-form-field class="example-full-width">
                                <mat-label>Number of Bags </mat-label>
                                <input
                                  matInput
                                  formControlName="no_of_bags"
                                  required
                                  min="0"
                                  type="number"
                                  required
                                  step="1"
                                  oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                                  placeholder="Number of Bags"
                                />
                                <mat-error
                                  *ngIf="
                                    formArrgate.controls[j]
                                      .get('no_of_bags')
                                      ?.hasError('required')
                                  "
                                  >Number of Bags Required.</mat-error
                                >
                                <mat-error
                                  *ngIf="
                                    formArrgate.controls[j]
                                      .get('no_of_bags')
                                      ?.hasError('pattern')
                                  "
                                  >Number of Bags Should Be Positive
                                  Number.</mat-error
                                >
                              </mat-form-field>
                            </td>

                            <td class="col_input">
                              <mat-form-field class="example-full-width">
                                <mat-label> Quantity </mat-label>
                                <input
                                  matInput
                                  formControlName="quantity"
                                  placeholder=" Quantity"
                                  min="0"
                                  type="number"
                                />
                                <mat-error
                                  *ngIf="
                                    formArrgate.controls[j]
                                      .get('quantity')
                                      ?.hasError('pattern')
                                  "
                                  >Quantity Should Be Positive
                                  Number.</mat-error
                                >
                              </mat-form-field>
                            </td>
                            <td class="col_input">
                              <mat-form-field class="example-full-width">
                                <mat-label>UOM</mat-label>
                                <mat-select formControlName="uom">
                                  <mat-option
                                    *ngFor="let obj of uomData"
                                    [value]="obj.id"
                                    >{{ obj.key }}</mat-option
                                  >
                                </mat-select>
                              </mat-form-field>
                            </td>
                            <td class="col_input">
                              <!-- {{
                                formArrgate.controls[j].get("hsn_sac_no")?.value
                              }} -->

                              <mat-form-field
                                class="example-full-width"
                                appearance="outline"
                              >
                                <mat-label>HSN</mat-label>
                                <mat-select formControlName="hsn_sac_no">
                                  <mat-option
                                    *ngFor="let obj of HsnData"
                                    [value]="obj.id"
                                    >{{ obj.key }}</mat-option
                                  >
                                </mat-select>
                              </mat-form-field>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            
          </div>
        </form>
      </div>
    </div>
    <div class="footer">
      <div class="left">
        <button class="cancel" (click)="onCancelForm()">Cancel</button>
      </div>
      <div class="right d-flex">
        <button
          class="send"
          *ngIf="submitBtn && showReset"
          (click)="onResetForm()"
          [disabled]="showLoader"
        >
          Reset
        </button>
        <button
          class="submit"
          type="submit"
          *ngIf="submitBtn"
          [disabled]="showLoader"
          name="submit"
          value="Submit"
          (click)="onSubmit(btnVal)"
        >
          {{ btnVal }}
          <i class="fa fa-spinner fa-spin" *ngIf="showLoader"></i>
        </button>
      </div>
    </div>
  </div>
</div>
