<ng-container *ngIf="!submitBtn">
  <ng-container *ngIf="previewImage">
    <ng-container *ngFor="let path of previewImage[key]">
      <button *ngIf="path.id == i" (click)="openImage(lrAttachmentUrl, i)">
        Download<mat-icon>download</mat-icon>
      </button>
    </ng-container>
  </ng-container>
</ng-container>
<ng-container *ngIf="submitBtn" class="d-flex">
  <ng-container *ngFor="let fn of fileNameAttachment"
    ><ng-container *ngIf="fn.id == i"><br /></ng-container
  ></ng-container>
  <label class="custom-file-upload mx-8">
    <div class="file-container">
      <div class="btn-container">
        <button type="button" mat-raised-button (click)="fileInput.click()">
          {{ Fileplaceholder }} File
          <br />
        </button>
        <input
          hidden
          #fileInput
          type="file"
          (change)="setAttachmentFile($event, i)"
          multiple="true"
          id="file"
        />
      </div>
    </div>
  </label>
  <br />
  <div class="status-text">
    <div>
      <div class="intraction-container">
        <ng-container *ngFor="let path of previewImage[key]; let ind = index">
          <a *ngIf="path.id == i" href="{{ path.image }}" target="_blank"
            >View<mat-icon>download</mat-icon> </a
          ><mat-icon
            matDatepickerToggleIcon
            *ngIf="path.id == i"
            (click)="removeinspectionImage(i, ind, path.name)"
            >clear</mat-icon
          >
        </ng-container>

        <p class="file-upload-text m-0 p-0">
          <span *ngIf="!previewImage && !previewImageType3"
            >No File Uploaded</span
          >
          <span *ngIf="previewImage && previewImageType3">{{ fileName }}</span>
        </p>
        <!-- <ng-container *ngFor="let path of previewImage[key]; let ind = index">
          <div class="intraction">
            <button
              *ngIf="path.id == i"
              (click)="openImage(lrAttachmentUrl, ind)"
            >
              View
            </button>
            <span
              class="vline"
              *ngIf="previewImage && previewImageType3"
            ></span>
            <button
              *ngIf="path.id == i"
              (click)="removeinspectionImage(i, ind, path.name)"
            >
              Remove
            </button>
          </div>
        </ng-container> -->
      </div>
    </div>

    <p class="m-0 status-para p-0">
      <span class="added" *ngIf="uploadStatus3"
        >File uploaded successfully</span
      >
      <span *ngIf="!fileName">Formats allowed: .png, .jpg, .pdf</span>
    </p>
  </div>
</ng-container>
