<section class="content">
  <div class="approval-container">
    <div class="header">
      <p>
        <strong>{{ screenName }}</strong>
      </p>
      <div class="approval-form">
        <form [formGroup]="gstr1Form" (ngSubmit)="seerachData()">
          <div class="personal">
            <div class="row d-flex">
              <div class="col-md-3">
                <mat-form-field appearance="fill" floatLabel="always">
                  <input
                    matInput
                    [matDatepicker]="date"
                    placeholder="Date"
                    formControlName="date"
                    id="date"
                    [(ngModel)]="todayDate"
                    class="readonly-input"
                    inputTrim
                    readonly
                    required
                  />
                  <mat-hint>MM/YYYY</mat-hint>
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="date"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #date panelClass="example-month-picker">
                  </mat-datepicker>
                  <mat-error
                    *ngIf="gstr1Form.get('date')?.hasError('required')"
                  >
                    Date is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="row m-0 button-container">
            <button
              class="apply"
              color="primary"
              type="submit"
              *ngIf="submitBtn"
              [disabled]="showLoader"
              name="submit"
              value="Submit"
            >
              Search
              <i class="fa fa-spinner fa-spin" *ngIf="showLoader"></i>
            </button>
            <button
              class="clear"
              type="button"
              *ngIf="submitBtn"
              (click)="onResetForm()"
              [disabled]="showLoader"
            >
              Reset
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="body1" *ngIf="listDiv" style="margin-top: 30px">
    <div class="approval-container">
      <div class="header" style="text-align: center">
        <p>
          <strong>B2B Data</strong>
        </p>
      </div>
      <div class="body">
        <div class="top">
          <button (click)="exportExcel('b2b', reportData)">
            <img src="assets/usedimg/excel_icon.png" alt="" /> Download Excel
          </button>
        </div>
      </div>
    </div>
    <div class="data_table">
      <table class="table table-hover dashboard-task-infos">
        <thead>
          <tr>
            <th style="text-align: center; font-size: 14px; color: black">
              Sr. No
            </th>
            <th style="text-align: center; font-size: 14px; color: black">
              No. of Invoice
            </th>
            <th style="text-align: center; font-size: 14px; color: black">
              Total Invoice Value
            </th>
            <th style="text-align: center; font-size: 14px; color: black">
              Total Taxable value
            </th>
            <th style="text-align: center; font-size: 14px; color: black">
              Total Integrated Tax
            </th>
            <th style="text-align: center; font-size: 14px; color: black">
              Total Central Tax
            </th>
            <th style="text-align: center; font-size: 14px; color: black">
              Total State/UT Tax
            </th>
          </tr>
        </thead>

        <tbody>
          <ng-container *ngFor="let dynamic of reportData; let i = index">
            <tr>
              <td
                style="text-align: center; color: #000; font-size: 14px"
                (click)="dynamic.isExpand = !dynamic.isExpand"
              >
                1
                <i *ngIf="!dynamic.isExpand" class="fas fa-angle-right"></i>
                <i *ngIf="dynamic.isExpand" class="fas fa-angle-down"></i>
              </td>
              <td style="text-align: center; color: #000; font-size: 14px">
                {{ reportData[i]["no_of_invoice"] }}
              </td>
              <td style="text-align: center; color: #000; font-size: 14px">
                {{ reportData[i]["total_invoice_value"] }}
              </td>
              <td style="text-align: center; color: #000; font-size: 14px">
                {{ reportData[i]["total_taxable_value"] }}
              </td>
              <td style="text-align: center; color: #000; font-size: 14px">
                {{ reportData[i]["igst_amount"] }}
              </td>
              <td style="text-align: center; color: #000; font-size: 14px">
                {{ reportData[i]["cgst_amount"] }}
              </td>
              <td style="text-align: center; color: #000; font-size: 14px">
                {{ reportData[i]["sgst_amount"] }}
              </td>
            </tr>

            <tr *ngIf="dynamic.isExpand">
              <td colspan="9" class="margin-left-table">
                <table class="table table-sm">
                  <thead>
                    <th
                      style="
                        text-align: center;
                        font-size: 14px;
                        color: black;
                        font-weight: 500;
                      "
                    >
                      Sr .No
                    </th>
                    <th
                      style="
                        text-align: center;
                        font-size: 14px;
                        color: black;
                        font-weight: 500;
                      "
                    >
                      Invoice Date
                    </th>
                    <th
                      style="
                        text-align: center;
                        font-size: 14px;
                        color: black;
                        font-weight: 500;
                      "
                    >
                      Invoice No
                    </th>
                    <th
                      style="
                        text-align: center;
                        font-size: 14px;
                        color: black;
                        font-weight: 500;
                      "
                    >
                      Customer Name
                    </th>
                    <th
                      style="
                        text-align: center;
                        font-size: 14px;
                        color: black;
                        font-weight: 500;
                      "
                    >
                      Invoice Type
                    </th>
                    <th
                      style="
                        text-align: center;
                        font-size: 14px;
                        color: black;
                        font-weight: 500;
                      "
                    >
                      Invoice Value
                    </th>

                    <th
                      style="
                        text-align: center;
                        font-size: 14px;
                        color: black;
                        font-weight: 500;
                      "
                    >
                      Taxable value
                    </th>
                    <th
                      style="
                        text-align: center;
                        font-size: 14px;
                        color: black;
                        font-weight: 500;
                      "
                    >
                      Integrated Tax Amount
                    </th>
                    <th
                      style="
                        text-align: center;
                        font-size: 14px;
                        color: black;
                        font-weight: 500;
                      "
                    >
                      Central Tax Amount
                    </th>
                    <th
                      style="
                        text-align: center;
                        font-size: 14px;
                        color: black;
                        font-weight: 500;
                      "
                    >
                      State/UT Tax Amount
                    </th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let row of dynamic.addresses; let i = index">
                      <td
                        style="text-align: center; font-size: 14px; color: #000"
                      >
                        {{ row.Sr_No }}
                      </td>
                      <td
                        style="text-align: center; font-size: 14px; color: #000"
                      >
                        {{ row.transaction_date | date : "dd/MM/yyyy" }}
                      </td>
                      <td
                        style="text-align: center; color: #000; font-size: 14px"
                      >
                        {{ row.transaction_ref_no }}
                      </td>
                      <td
                        style="text-align: center; font-size: 14px; color: #000"
                      >
                        {{ row.customer_name }}
                      </td>
                      <td
                        style="text-align: center; font-size: 14px; color: #000"
                      >
                        {{ row.invoice_type }}
                      </td>

                      <td
                        style="text-align: center; font-size: 14px; color: #000"
                      >
                        {{ row.invoice_value }}
                      </td>

                      <td
                        style="text-align: center; font-size: 14px; color: #000"
                      >
                        {{ row.taxable_value }}
                      </td>
                      <td
                        style="text-align: center; font-size: 14px; color: #000"
                      >
                        {{ row.igst_amount }}
                      </td>
                      <td
                        style="text-align: center; font-size: 14px; color: #000"
                      >
                        {{ row.cgst_amount }}
                      </td>
                      <td
                        style="text-align: center; font-size: 14px; color: #000"
                      >
                        {{ row.sgst_amount }}
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="paginator1">
                  <div>
                    <span style="font-size: 12px">Items Per Page:</span>&nbsp;
                    <select
                      id="itemsPerPage"
                      [(ngModel)]="pageLimit"
                      (change)="onPageSizeSelect()"
                      style="
                        font-size: 12px;
                        width: 60px;
                        background: #e6f4fa;
                        height: 40px;
                        border-radius: 5px;
                        border: none;
                      "
                    >
                      <option *ngFor="let size of pageSizes" [value]="size">
                        {{ size }}
                      </option>
                    </select>
                  </div>
                  <div class="pagination-text" style="font-size: 12px">
                    Page <span id="currentPage">{{ pageNumber }}</span>
                  </div>
                  <div class="pagination-icons">
                    <app-feather-icons
                      [icon]="'chevron-left'"
                      (click)="prevPageClick()"
                      [class]="'color-black'"
                    ></app-feather-icons>
                    <app-feather-icons
                      [icon]="'chevron-right'"
                      [class]="'color-black'"
                      (click)="nextPageClick()"
                    ></app-feather-icons>
                  </div>
                  <div class="loading-indicator" *ngIf="isLoading"></div>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>

  <div class="body1" *ngIf="listDiv" style="margin-top: 30px">
    <div class="approval-container">
      <div class="header" style="text-align: center">
        <p>
          <strong>HSN Data</strong>
        </p>
      </div>
      <div class="body">
        <div class="top">
          <button (click)="exportExcel('hsn', reportData1)">
            <img src="assets/usedimg/excel_icon.png" alt="" /> Download Excel
          </button>
        </div>
      </div>
    </div>
    <div class="data_table">
      <table class="table table-hover dashboard-task-infos">
        <thead>
          <tr>
            <th style="text-align: center; font-size: 14px; color: black">
              Sr. No
            </th>
            <th style="text-align: center; font-size: 14px; color: black">
              HSN Sac NO.
            </th>
            <th style="text-align: center; font-size: 14px; color: black">
              Total Value
            </th>
            <th style="text-align: center; font-size: 14px; color: black">
              Total Taxable value
            </th>
            <th style="text-align: center; font-size: 14px; color: black">
              Total Integrated Tax
            </th>
            <th style="text-align: center; font-size: 14px; color: black">
              Total Central Tax
            </th>
            <th style="text-align: center; font-size: 14px; color: black">
              Total State/UT Tax
            </th>
          </tr>
        </thead>

        <tbody>
          <ng-container *ngFor="let dynamic of reportData1; let i = index">
            <tr>
              <td
                style="text-align: center; color: #000; font-size: 14px"
                (click)="dynamic.isExpand = !dynamic.isExpand"
              >
                1
                <i *ngIf="!dynamic.isExpand" class="fas fa-angle-right"></i>
                <i *ngIf="dynamic.isExpand" class="fas fa-angle-down"></i>
              </td>
              <td style="text-align: center; color: #000; font-size: 14px">
                {{ reportData1[i]["hsn_sac_no"] }}
              </td>
              <td style="text-align: center; color: #000; font-size: 14px">
                {{ reportData1[i]["total_amount"] }}
              </td>
              <td style="text-align: center; color: #000; font-size: 14px">
                {{ reportData1[i]["transaction_amount"] }}
              </td>
              <td style="text-align: center; color: #000; font-size: 14px">
                {{ reportData1[i]["igst_amount"] }}
              </td>
              <td style="text-align: center; color: #000; font-size: 14px">
                {{ reportData1[i]["cgst_amount"] }}
              </td>
              <td style="text-align: center; color: #000; font-size: 14px">
                {{ reportData1[i]["sgst_amount"] }}
              </td>
            </tr>

            <tr *ngIf="dynamic.isExpand">
              <td colspan="9" class="margin-left-table">
                <table class="table table-sm">
                  <thead>
                    <th
                      style="
                        text-align: center;
                        font-size: 14px;
                        color: black;
                        font-weight: 500;
                      "
                    >
                      Sr .No
                    </th>
                    <th
                      style="
                        text-align: center;
                        font-size: 14px;
                        color: black;
                        font-weight: 500;
                      "
                    >
                      HSN
                    </th>
                    <th
                      style="
                        text-align: center;
                        font-size: 14px;
                        color: black;
                        font-weight: 500;
                      "
                    >
                      Uom
                    </th>
                    <th
                      style="
                        text-align: center;
                        font-size: 14px;
                        color: black;
                        font-weight: 500;
                      "
                    >
                      Total Quantity
                    </th>
                    <th
                      style="
                        text-align: center;
                        font-size: 14px;
                        color: black;
                        font-weight: 500;
                      "
                    >
                      Total Value
                    </th>
                    <th
                      style="
                        text-align: center;
                        font-size: 14px;
                        color: black;
                        font-weight: 500;
                      "
                    >
                      Taxable value
                    </th>
                    <th
                      style="
                        text-align: center;
                        font-size: 14px;
                        color: black;
                        font-weight: 500;
                      "
                    >
                      Integrated Tax Amount
                    </th>
                    <th
                      style="
                        text-align: center;
                        font-size: 14px;
                        color: black;
                        font-weight: 500;
                      "
                    >
                      Central Tax Amount
                    </th>
                    <th
                      style="
                        text-align: center;
                        font-size: 14px;
                        color: black;
                        font-weight: 500;
                      "
                    >
                      State/UT Tax Amount
                    </th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let row2 of dynamic.addresses; let i = index">
                      <td
                        style="text-align: center; font-size: 14px; color: #000"
                      >
                        {{ row2.Sr_No }}
                      </td>
                      <td
                        style="text-align: center; font-size: 14px; color: #000"
                      >
                        {{ row2.hsn_sac_no }}
                      </td>
                      <td
                        style="text-align: center; color: #000; font-size: 14px"
                      >
                        {{ row2.uom }}
                      </td>
                      <td
                        style="text-align: center; font-size: 14px; color: #000"
                      >
                        {{ row2.total_quantity }}
                      </td>
                      <td
                        style="text-align: center; font-size: 14px; color: #000"
                      >
                        {{ row2.total_amount }}
                      </td>
                      <td
                        style="text-align: center; font-size: 14px; color: #000"
                      >
                        {{ row2.transaction_amount }}
                      </td>
                      <td
                        style="text-align: center; font-size: 14px; color: #000"
                      >
                        {{ row2.igst_amount }}
                      </td>
                      <td
                        style="text-align: center; font-size: 14px; color: #000"
                      >
                        {{ row2.sgst_amount }}
                      </td>
                      <td
                        style="text-align: center; font-size: 14px; color: #000"
                      >
                        {{ row2.cgst_amount }}
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="paginator1">
                  <div>
                    <span style="font-size: 12px">Items Per Page:</span>&nbsp;
                    <select
                      id="itemsPerPage"
                      [(ngModel)]="pageLimit1"
                      (change)="onPageSizeSelect1()"
                      style="
                        font-size: 12px;
                        width: 60px;
                        background: #e6f4fa;
                        height: 40px;
                        border-radius: 5px;
                        border: none;
                      "
                    >
                      <option *ngFor="let size of pageSizes1" [value]="size">
                        {{ size }}
                      </option>
                    </select>
                  </div>
                  <div class="pagination-text" style="font-size: 12px">
                    Page <span id="currentPage">{{ pageNumber1 }}</span>
                  </div>
                  <div class="pagination-icons">
                    <app-feather-icons
                      [icon]="'chevron-left'"
                      (click)="prevPageClick1()"
                      [class]="'color-black'"
                    ></app-feather-icons>
                    <app-feather-icons
                      [icon]="'chevron-right'"
                      [class]="'color-black'"
                      (click)="nextPageClick1()"
                    ></app-feather-icons>
                  </div>
                  <div class="loading-indicator" *ngIf="isLoading1"></div>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>

  <div class="body1" *ngIf="listDiv" style="margin-top: 30px">
    <div class="approval-container" style="text-align: center">
      <div class="header">
        <p>
          <strong>Export Data</strong>
        </p>
      </div>
      <div class="body">
        <div class="top">
          <button (click)="exportExcel('export', reportData2)">
            <img src="assets/usedimg/excel_icon.png" alt="" /> Download Excel
          </button>
        </div>
      </div>
    </div>
    <div class="data_table">
      <table class="table table-hover dashboard-task-infos">
        <thead>
          <tr>
            <th style="text-align: center; font-size: 14px; color: black">
              Sr. No
            </th>
            <th style="text-align: center; font-size: 14px; color: black">
              No. of Invoices
            </th>
            <th style="text-align: center; font-size: 14px; color: black">
              Total Invoice Value
            </th>
            <!-- <th style="text-align: center; font-size: 14px; color: black">
              No. of Shipping Bill
            </th> -->
            <th style="text-align: center; font-size: 14px; color: black">
              Total Taxable Value
            </th>
          </tr>
        </thead>

        <tbody>
          <ng-container *ngFor="let dynamic of reportData2; let i = index">
            <tr>
              <td
                style="text-align: center; color: #000; font-size: 14px"
                (click)="dynamic.isExpand = !dynamic.isExpand"
              >
                1
                <i *ngIf="!dynamic.isExpand" class="fas fa-angle-right"></i>
                <i *ngIf="dynamic.isExpand" class="fas fa-angle-down"></i>
              </td>
              <td style="text-align: center; color: #000; font-size: 14px">
                {{ reportData2[i]["no_of_invoice"] }}
              </td>
              <td style="text-align: center; color: #000; font-size: 14px">
                {{ reportData2[i]["total_invoice_amount"] }}
              </td>
              <!-- <td style="text-align: center; color: #000; font-size: 14px">
                {{ reportData2[i]["shiping_bill_no"] }}
              </td> -->
              <td style="text-align: center; color: #000; font-size: 14px">
                {{ reportData2[i]["total_tax_amount"] }}
              </td>
            </tr>

            <tr *ngIf="dynamic.isExpand">
              <td colspan="9" class="margin-left-table">
                <table class="table table-sm">
                  <thead>
                    <th
                      style="
                        text-align: center;
                        font-size: 14px;
                        color: black;
                        font-weight: 500;
                      "
                    >
                      Sr .No
                    </th>
                    <th
                      style="
                        text-align: center;
                        font-size: 14px;
                        color: black;
                        font-weight: 500;
                      "
                    >
                      Invoice No.
                    </th>
                    <th
                      style="
                        text-align: center;
                        font-size: 14px;
                        color: black;
                        font-weight: 500;
                      "
                    >
                      Invoice Date
                    </th>
                    <th
                      style="
                        text-align: center;
                        font-size: 14px;
                        color: black;
                        font-weight: 500;
                      "
                    >
                      Invoice Value
                    </th>
                    <!-- <th
                      style="
                        text-align: center;
                        font-size: 14px;
                        color: black;
                        font-weight: 500;
                      "
                    >
                      Port Code
                    </th>
                    <th
                      style="
                        text-align: center;
                        font-size: 14px;
                        color: black;
                        font-weight: 500;
                      "
                    >
                      Shipping Bill No.
                    </th>
                    <th
                      style="
                        text-align: center;
                        font-size: 14px;
                        color: black;
                        font-weight: 500;
                      "
                    >
                      Shipping Bill Date
                    </th>
                    <th
                      style="
                        text-align: center;
                        font-size: 14px;
                        color: black;
                        font-weight: 500;
                      "
                    >
                      Rate
                    </th>-->
                    <th
                      style="
                        text-align: center;
                        font-size: 14px;
                        color: black;
                        font-weight: 500;
                      "
                    >
                      Taxable Value
                    </th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let row1 of dynamic.addresses; let i = index">
                      <td
                        style="text-align: center; font-size: 14px; color: #000"
                      >
                        {{ row1.Sr_No }}
                      </td>
                      <td
                        style="text-align: center; font-size: 14px; color: #000"
                      >
                        {{ row1.invoice_no }}
                      </td>
                      <td
                        style="text-align: center; color: #000; font-size: 14px"
                      >
                        {{ row1.invoice_date }}
                      </td>
                      <td
                        style="text-align: center; font-size: 14px; color: #000"
                      >
                        {{ row1.invoice_value }}
                      </td>
                      <!-- <td
                        style="text-align: center; font-size: 14px; color: #000"
                      >
                        {{ row1.port_code }}
                      </td> -->
                      <!-- <td
                        style="text-align: center; font-size: 14px; color: #000"
                      >
                        {{ row1.shiping_bill_no }}
                      </td> -->
                      <!-- <td
                        style="text-align: center; font-size: 14px; color: #000"
                      >
                        {{ row1.shipping_bill_date }}
                      </td> -->
                      <!-- <td
                        style="text-align: center; font-size: 14px; color: #000"
                      >
                        {{ row1.rate }}
                      </td> -->
                      <td
                        style="text-align: center; font-size: 14px; color: #000"
                      >
                        {{ row1.tax_value }}
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="paginator1">
                  <div>
                    <span style="font-size: 12px">Items Per Page:</span>&nbsp;
                    <select
                      id="itemsPerPage"
                      [(ngModel)]="pageLimit2"
                      (change)="onPageSizeSelect2()"
                      style="
                        font-size: 12px;
                        width: 60px;
                        background: #e6f4fa;
                        height: 40px;
                        border-radius: 5px;
                        border: none;
                      "
                    >
                      <option *ngFor="let size of pageSizes2" [value]="size">
                        {{ size }}
                      </option>
                    </select>
                  </div>
                  <div class="pagination-text" style="font-size: 12px">
                    Page <span id="currentPage">{{ pageNumber2 }}</span>
                  </div>
                  <div class="pagination-icons">
                    <app-feather-icons
                      [icon]="'chevron-left'"
                      (click)="prevPageClick2()"
                      [class]="'color-black'"
                    ></app-feather-icons>
                    <app-feather-icons
                      [icon]="'chevron-right'"
                      [class]="'color-black'"
                      (click)="nextPageClick2()"
                    ></app-feather-icons>
                  </div>
                  <div class="loading-indicator" *ngIf="isLoading2"></div>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</section>
