.body1 {
  text-align: center;
  border: 1px solid #ddd;
  padding: 10px;
  background-color: white;
}

.header1 {
  text-align: center;
  font-weight: bolder;
  color: rgb(19, 15, 15);
  padding: 0px;
  font-size: 18px;
}

.data_table {
  margin-top: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  // border: 1px solid #ddd;
  background-color: white;
}

.table th,
.table td {
  // border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.table th {
  background-color: #f2f2f2;
}

.table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tbody tr:hover {
  background-color: #e0f7fa;
}

.margin-left-table {
  margin-left: 20px;
}

.table-sm {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

.table-sm th,
.table-sm td {
  padding: 8px;
  text-align: center;
}

.table-sm th {
  background-color: #f2f2f2;
}

.table-sm tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table-sm tbody tr:hover {
  background-color: #e0f7fa;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.apply,
.clear {
  padding: 10px 20px;
  margin: 0 10px;
}

/* Paginator Styles */
.paginator1 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 14px;
  margin-left: 0;
}

.paginator div {
  display: flex;
  align-items: center;
}

.paginator select {
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.paginator-text {
  font-size: 14px;
  margin-right: 10px;
}

.paginator-icons {
  display: flex;
  align-items: center;
}

.paginator-icons app-feather-icons {
  cursor: pointer;
  margin: 0 5px;
}

// .loading-indicator {
//   margin-left: 10px;
//   border: 3px solid #ccc;
//   border-top: 3px solid #3498db;
//   border-radius: 50%;
//   width: 15px;
//   height: 15px;
//   animation: spin 1s linear infinite;
// }

// .additional-styles {
//   display: flex;
//   justify-content: flex-end;
//   align-items: center;
//   margin-top: 20px;
//   margin-bottom: 20px;
//   font-size: 14px;
//   margin-right: 10px;
// }

// @keyframes spin {
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(360deg);
//   }
// }
