<div class="edit_pop_up override_edit_pop_up">
  <div class="big-model">
    <div class="header">
      <p>{{ screenName }}</p>
      <button (click)="onCancelForm()">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
    <div class="body overflow_model">
      <div class="details-form">
        <form [formGroup]="purchaseForm" (ngSubmit)="onSubmit()">
          <div class="personal">
            <div class="row d-flex">
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Transaction Date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="transaction_date"
                    readonly
                    id="transaction_date"
                    [(ngModel)]="todayDate"
                    formControlName="transaction_date"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="transaction_date"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #transaction_date></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="col-md-3" *ngIf="showReset === false">
                <mat-form-field class="example-full-width">
                  <mat-label>PO Number</mat-label>
                  <input
                    matInput
                    formControlName="transaction_ref_no"
                    inputTrim
                    readonly
                  />
                </mat-form-field>
              </div>
              <!-- <div class="col-md-3" >
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Sales Order</mat-label>
                  <mat-select formControlName="so_ref_id" (selectionChange)="SalesOrderChange($event)">
                      <mat-select-filter [placeholder]="'Search'" [displayMember]="'customer_name'" [array]="SalesOrderData"
                      (filteredReturn)="filterSalesOrderData =$event"></mat-select-filter>
                      <mat-option [value]="">Select Sales Order</mat-option>
                    <mat-option [value]="obj.id" *ngFor="let obj of filterSalesOrderData">{{ obj.key }}</mat-option>

                  </mat-select>

                </mat-form-field>
              </div> -->

              <!-- <div class="col-md-3"  *ngIf="supplierExist==false">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Supplier Name</mat-label>
                  <mat-select formControlName="supplier_ref_id" required  (selectionChange)="FPCChnage($event.value)">
                    <mat-select-filter [placeholder]="'Search'" [displayMember]="'tenant_name'" [array]="FPCData"
                      (filteredReturn)="filterFPCData =$event"></mat-select-filter>
                    <mat-option [value]="obj.id" *ngFor="let obj of filterFPCData">{{ obj.tenant_name }}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="purchaseForm.controls['supplier_ref_id'].hasError('required')">Supplier Name
                    required.</mat-error>
                </mat-form-field>
              </div> -->

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Supplier Name</mat-label>
                  <mat-select
                    formControlName="supplier_ref_id"
                    required
                    (selectionChange)="supplierChnage($event.value)"
                  >
                    <mat-select-filter
                      [placeholder]="'Search'"
                      [displayMember]="'key'"
                      [array]="SupplierData"
                      (filteredReturn)="filterSupplierData = $event"
                    ></mat-select-filter>
                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of filterSupplierData"
                      >{{ obj.key }}</mat-option
                    >
                  </mat-select>
                  <mat-error
                    *ngIf="
                      purchaseForm.controls['supplier_ref_id'].hasError(
                        'required'
                      )
                    "
                    >Supplier Name Required.</mat-error
                  >
                </mat-form-field>
              </div>

              <div class="col-md-3" *ngIf="rolename === 'Federation Admin'">
                <mat-form-field class="example-full-width">
                  <mat-label>Purchase Type</mat-label>
                  <mat-select formControlName="purchase_type">
                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of PurchaseTypeData"
                      >{{ obj.master_key }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>PO Item Type</mat-label>
                  <mat-select
                    formControlName="po_item_type"
                    (selectionChange)="ItemTypeChnage($event.value, '')"
                  >
                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of POItemTypeData"
                      >{{ obj.master_key }}</mat-option
                    >
                  </mat-select>
                  <mat-error
                    *ngIf="
                      purchaseForm.controls['po_item_type'].hasError('required')
                    "
                    >PO Item Type Required.</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>PO Type</mat-label>
                  <mat-select formControlName="po_type" required>
                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of POTypeData"
                      >{{ obj.master_key }}</mat-option
                    >
                  </mat-select>
                  <mat-error
                    *ngIf="
                      purchaseForm.controls['po_type'].hasError('required')
                    "
                    >PO Type Required.</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Transaction Currency</mat-label>
                  <mat-select formControlName="txn_currency">
                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of CurrencyData"
                      >{{ obj.currency_code }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <!-- <div class="col-md-3">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Conversion Rate</mat-label>
                  <input
                    matInput
                    formControlName="conversion_rate"
                    type="Number"
                    inputTrim
                  />
                </mat-form-field>
              </div> -->
              <div
                class="col-md-3"
                matTooltip="This will be filled automatically"
              >
                <mat-form-field class="example-full-width">
                  <mat-label>Total PO Amount</mat-label>
                  <input
                    matInput
                    matInputCommified
                    formControlName="txn_currency_total_amount"
                    inputTrim
                    readonly
                  />
                </mat-form-field>
              </div>
            </div>

            <div class="header accordian">
              <p class="fas fa-angle-down example-accordion-item-description">
                <strong
                  >Supplier Details<span
                    class="fas fa-angle-down example-accordion-item-description"
                  >
                  </span
                ></strong>
              </p>
            </div>
            <div class="row d-flex">
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Payment Terms</mat-label>
                  <mat-select formControlName="supplier_payment_terms" required>
                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of PaymentTermsTypeData"
                      >{{ obj.master_key }}</mat-option
                    >
                  </mat-select>
                  <mat-error
                    *ngIf="
                      purchaseForm.controls['supplier_payment_terms'].hasError(
                        'required'
                      )
                    "
                    >Payment Terms Required.</mat-error
                  >
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Delivery Terms</mat-label>
                  <mat-select
                    formControlName="supplier_delivery_terms"
                    required
                    (selectionChange)="DeliveryTermsChnage($event.value)"
                  >
                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of ModeofDeliveryTypeData"
                      >{{ obj.master_key }}</mat-option
                    >
                  </mat-select>
                  <mat-error
                    *ngIf="
                      purchaseForm.controls['supplier_delivery_terms'].hasError(
                        'required'
                      )
                    "
                    >Delivery Terms Required.</mat-error
                  >
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Packaging Forwarding</mat-label>
                  <mat-select
                    formControlName="packing_forwarding_ref_id"
                    required
                  >
                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of PackageForwardingData"
                      >{{ obj.master_key }}</mat-option
                    >
                  </mat-select>
                  <mat-error
                    *ngIf="
                      purchaseForm.controls[
                        'packing_forwarding_ref_id'
                      ].hasError('required')
                    "
                    >Packaging Forwarding Required.</mat-error
                  >
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Supplier Ship Address</mat-label>
                  <mat-select formControlName="supplier_ship_from" required>
                    <mat-option [value]=""
                      >Select Supplier Ship Address</mat-option
                    >
                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of supplierShipfromData"
                      >{{ obj.Shipping }}</mat-option
                    >
                  </mat-select>
                  <mat-error
                    *ngIf="
                      purchaseForm.controls['supplier_ship_from'].hasError(
                        'required'
                      )
                    "
                  >
                    Supplier Ship Address Required.</mat-error
                  >
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Supplier Billing Address</mat-label>
                  <mat-select formControlName="supplier_bill_from" required>
                    <mat-option [value]=""
                      >Select Supplier Billing Address</mat-option
                    >
                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of supplierbillfromData"
                      >{{ obj.Billing }}</mat-option
                    >
                  </mat-select>
                  <mat-error
                    *ngIf="
                      purchaseForm.controls['supplier_bill_from'].hasError(
                        'required'
                      )
                    "
                  >
                    Supplier Billing Address Required.</mat-error
                  >
                </mat-form-field>
              </div>
            </div>

            <div>
              <div class="header accordian">
                <p class="fas fa-angle-down example-accordion-item-description">
                  <strong
                    >{{ screenName }} Item Details<span
                      class="fas fa-angle-down example-accordion-item-description"
                    >
                    </span
                  ></strong>
                </p>
              </div>
            </div>
            <div [formGroup]="purchaseForm">
              <div class="card">
                <div class="body">
                  <div class="row clearfix">
                    <div
                      class="table-responsive"
                      formArrayName="purchase_order_details"
                    >
                      <table
                        id="tableExport1"
                        class="display table table-hover table-checkable order-column m-t-20 width-per-100 table-bordered"
                      >
                        <caption></caption>
                        <thead>
                          <tr>
                            <th style="text-align: center" *ngIf="submitBtn">
                              Action
                            </th>
                            <th style="text-align: center">Item Name</th>
                            <th style="text-align: center">HSN SAC No</th>
                            <th style="text-align: center">Quantity</th>
                            <th style="text-align: center">Rate</th>
                            <th
                              style="text-align: center"
                              *ngIf="rolename === 'Federation Admin'"
                            >
                              Is Commision in Rate/Percentage?
                            </th>
                            <th
                              style="text-align: center"
                              *ngIf="rolename === 'Federation Admin'"
                            >
                              Commision
                            </th>
                            <th
                              style="text-align: center"
                              *ngIf="rolename === 'Federation Admin'"
                            >
                              Commision Amount
                            </th>
                            <th style="text-align: center">
                              Transaction Amount
                            </th>

                            <th style="text-align: center">IS GST SETUP</th>
                            <th style="text-align: center">Tax Rate</th>
                            <th style="text-align: center">Tax Amount</th>
                            <th style="text-align: center">Total Amount</th>
                            <th style="text-align: center">
                              Expected Delivery Date
                            </th>
                          </tr>
                        </thead>
                        <tbody class="main_tbody">
                          <tr
                            *ngFor="
                              let dynamic of formArray['controls'];
                              let i = index
                            "
                            [formGroupName]="i"
                          >
                            <td class="col_input" *ngIf="i === 0 && submitBtn">
                              <button
                                type="button"
                                class="apply-button"
                                (click)="addNewRow()"
                              >
                                <i class="fa fa-plus"></i>
                              </button>
                            </td>
                            <td class="col_input" *ngIf="i > 0 && submitBtn">
                              <button
                                type="button"
                                class="apply-button-danger"
                                (click)="deleteRow(i)"
                              >
                                <i class="fa fa-minus"></i>
                              </button>
                            </td>

                            <td class="col_input">
                              <mat-form-field class="example-full-width">
                                <mat-label>Item</mat-label>
                                <mat-select
                                  formControlName="item_ref_id"
                                  (selectionChange)="ItemNameChange($event, i)"
                                >
                                  <mat-select-filter
                                    [placeholder]="'Search'"
                                    [displayMember]="'name'"
                                    [array]="ItemSearchData"
                                    (filteredReturn)="ItemDataData = $event"
                                  ></mat-select-filter>
                                  <mat-option
                                    [value]="obj.id"
                                    *ngFor="let obj of ItemDataData"
                                    >{{ obj.code }}</mat-option
                                  >
                                </mat-select>
                                <mat-error
                                  *ngIf="
                                    formArray.controls[i]
                                      .get('item_ref_id')
                                      ?.hasError('required')
                                  "
                                  >Iten Name is Required.</mat-error
                                >
                              </mat-form-field>
                            </td>

                            <td>
                              <mat-form-field
                                class="example-full-width"
                                appearance="outline"
                              >
                                <mat-label>HSN</mat-label>
                                <mat-select formControlName="hsn_sac_no">
                                  <mat-option
                                    *ngFor="let obj of HsnData"
                                    [value]="obj.id"
                                    >{{ obj.key }}</mat-option
                                  >
                                </mat-select>
                              </mat-form-field>
                            </td>

                            <td class="col_input">
                              <mat-form-field class="example-full-width">
                                <mat-label
                                  >Quantity in
                                  {{
                                    formArray.controls[i].get("uom_name")?.value
                                  }}</mat-label
                                >
                                <input
                                  matInput
                                  formControlName="alternate_quantity"
                                  type="Number"
                                  step="0.0001"
                                  min="0"
                                  oninput="validity.valid||(value='');"
                                  (change)="QuantityChange($event, i)"
                                  inputTrim
                                />
                                <mat-error
                                  *ngIf="
                                    formArray.controls[i]
                                      .get('alternate_quantity')
                                      ?.hasError('required')
                                  "
                                  >Quantity is Required.</mat-error
                                >
                              </mat-form-field>
                            </td>

                            <td class="col_input">
                              <mat-form-field class="example-full-width">
                                <mat-label>Rate</mat-label>
                                <input
                                  matInput
                                  formControlName="rate"
                                  type="Number"
                                  step="0.01"
                                  min="0"
                                  readonly
                                  oninput="validity.valid||(value='');"
                                  (change)="RateChange($event, i)"
                                />
                                <mat-error
                                  *ngIf="
                                    formArray.controls[i]
                                      .get('rate')
                                      ?.hasError('required')
                                  "
                                  >Rate is Required.</mat-error
                                >
                              </mat-form-field>
                            </td>

                            <td
                              class="col_input"
                              *ngIf="rolename === 'Federation Admin'"
                            >
                              <mat-label>Rate</mat-label>
                              <mat-slide-toggle
                                formControlName="is_rate_percentage"
                                style="
                                  margin-left: 0.5rem;
                                  margin-right: 0.5rem;
                                  margin-top: 0.5rem;
                                "
                              >
                                Percentage
                              </mat-slide-toggle>
                            </td>

                            <td
                              class="col_input"
                              *ngIf="rolename === 'Federation Admin'"
                            >
                              <mat-form-field class="example-full-width">
                                <mat-label>Commision</mat-label>
                                <input
                                  matInput
                                  formControlName="commision"
                                  type="Number"
                                  readonly
                                  inputTrim
                                />
                              </mat-form-field>
                            </td>

                            <td
                              class="col_input"
                              *ngIf="rolename === 'Federation Admin'"
                            >
                              <mat-form-field
                                class="example-full-width"
                                readonly
                              >
                                <mat-label>Commision Amount</mat-label>
                                <input
                                  matInput
                                  formControlName="txn_currency_commision_amt"
                                  type="Number"
                                  readonly
                                  inputTrim
                                />
                              </mat-form-field>
                            </td>

                            <td class="col_input">
                              <mat-form-field
                                class="example-full-width"
                                readonly
                              >
                                <mat-label>Transaction Amount</mat-label>
                                <input
                                  matInput
                                  matInputCommified
                                  formControlName="txn_currency_amount"
                                  readonly
                                  inputTrim
                                />
                              </mat-form-field>
                            </td>

                            <td class="col_input">
                              <div class="active-switch">
                                <div class="switch-container">
                                  <label>No</label>

                                  <label class="switch">
                                    <input
                                      checked=""
                                      type="checkbox"
                                      formControlName="is_gst_set_off"
                                      (change)="clickEvent($event, i)"
                                    />
                                    <div class="slider">
                                      <div class="circle">
                                        <svg
                                          class="cross"
                                          xml:space="preserve"
                                          style="
                                            enable-background: new 0 0 512 512;
                                          "
                                          viewBox="0 0 365.696 365.696"
                                          y="0"
                                          x="0"
                                          height="6"
                                          width="6"
                                          xmlns:xlink="http://www.w3.org/1999/xlink"
                                          version="1.1"
                                          xmlns="http://www.w3.org/2000/svg"
                                        >
                                          <g>
                                            <path
                                              data-original="#000000"
                                              fill="currentColor"
                                              d="M243.188 182.86 356.32 69.726c12.5-12.5 12.5-32.766 0-45.247L341.238 9.398c-12.504-12.503-32.77-12.503-45.25 0L182.86 122.528 69.727 9.374c-12.5-12.5-32.766-12.5-45.247 0L9.375 24.457c-12.5 12.504-12.5 32.77 0 45.25l113.152 113.152L9.398 295.99c-12.503 12.503-12.503 32.769 0 45.25L24.48 356.32c12.5 12.5 32.766 12.5 45.247 0l113.132-113.132L295.99 356.32c12.503 12.5 32.769 12.5 45.25 0l15.081-15.082c12.5-12.504 12.5-32.77 0-45.25zm0 0"
                                            ></path>
                                          </g>
                                        </svg>
                                        <svg
                                          class="checkmark"
                                          xml:space="preserve"
                                          style="
                                            enable-background: new 0 0 512 512;
                                          "
                                          viewBox="0 0 24 24"
                                          y="0"
                                          x="0"
                                          height="10"
                                          width="10"
                                          xmlns:xlink="http://www.w3.org/1999/xlink"
                                          version="1.1"
                                          xmlns="http://www.w3.org/2000/svg"
                                        >
                                          <g>
                                            <path
                                              class=""
                                              data-original="#000000"
                                              fill="currentColor"
                                              d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z"
                                            ></path>
                                          </g>
                                        </svg>
                                      </div>
                                    </div>
                                  </label>
                                  <label>Yes</label>
                                </div>
                              </div>
                            </td>

                            <td
                              class="col_input"
                              matTooltip="This will be filled automatically"
                            >
                              <mat-form-field class="example-full-width">
                                <mat-label>Tax Rate</mat-label>
                                <input
                                  matInput
                                  formControlName="tax_rate"
                                  type="Number"
                                  inputTrim
                                  readonly
                                />
                              </mat-form-field>
                            </td>
                            <td
                              class="col_input"
                              matTooltip="This will be filled automatically"
                            >
                              <mat-form-field class="example-full-width">
                                <mat-label>Tax Amount</mat-label>
                                <input
                                  matInput
                                  formControlName="txn_currency_tax_amount"
                                  type="Number"
                                  inputTrim
                                  readonly
                                />
                              </mat-form-field>
                            </td>
                            <td
                              class="col_input"
                              matTooltip="This will be filled automatically"
                            >
                              <mat-form-field class="example-full-width">
                                <mat-label>Total Amount</mat-label>
                                <input
                                  matInput
                                  formControlName="total_amount"
                                  type="Number"
                                  inputTrim
                                  readonly
                                />
                              </mat-form-field>
                            </td>
                            <td class="col_input">
                              <mat-form-field class="example-full-width">
                                <mat-label>Expected Delivery Date</mat-label>
                                <input
                                  matInput
                                  [matDatepicker]="expected_delivery_date"
                                  readonly
                                  id="expected_delivery_date{{ i + 1 }}"
                                  formControlName="expected_delivery_date"
                                />
                                <mat-datepicker-toggle
                                  matSuffix
                                  [for]="expected_delivery_date"
                                ></mat-datepicker-toggle>
                                <mat-datepicker
                                  #expected_delivery_date
                                ></mat-datepicker>
                              </mat-form-field>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <cdk-accordion>
              <cdk-accordion-item
                #accordionItem="cdkAccordionItem"
                tabindex="0"
                [attr.id]="'accordion-header-'"
                [attr.aria-expanded]="accordionItem.expanded"
                [attr.aria-controls]="'accordion-body-'"
              >
                <div (click)="accordionItem.toggle()">
                  <div class="header accordian">
                    <p
                      class="fas fa-angle-down example-accordion-item-description"
                    >
                      <i class="bi bi-chevron-down"></i>
                      <strong
                        >Additional Details<span
                          class="fas fa-angle-down example-accordion-item-description"
                        >
                        </span>
                      </strong>
                    </p>
                  </div>
                </div>
                <div [formGroup]="purchaseForm">
                  <div
                    role="region"
                    [style.display]="accordionItem.expanded ? '' : 'none'"
                    [attr.id]="'accordion-body-'"
                    [attr.aria-labelledby]="'accordion-header-'"
                    class="row clearfix"
                  >
                    <div class="card">
                      <div class="body">
                        <div class="row clearfix">
                          <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                              <mat-label>Transportation Charges</mat-label>
                              <input
                                matInput
                                formControlName="transportation_charges"
                                type="number"
                                min="0"
                                oninput="validity.valid||(value='');"
                                inputTrim
                              />
                            </mat-form-field>
                          </div>

                          <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                              <mat-label>Discount (%)</mat-label>
                              <input
                                matInput
                                formControlName="txn_currency_discount_percent"
                                type="number"
                                min="0"
                                oninput="validity.valid||(value='');"
                                inputTrim
                              />
                            </mat-form-field>
                          </div>

                          <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                              <mat-label>Discount Amount</mat-label>
                              <input
                                matInput
                                formControlName="txn_currency_discount_amount"
                                type="Number"
                                min="0"
                                oninput="validity.valid||(value='');"
                                inputTrim
                              />
                            </mat-form-field>
                          </div>

                          <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                              <mat-label>Interest (%)</mat-label>
                              <input
                                matInput
                                formControlName="txn_currency_interest_percent"
                                type="number"
                                min="0"
                                oninput="validity.valid||(value='');"
                                inputTrim
                              />
                            </mat-form-field>
                          </div>

                          <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                              <mat-label>Interest Amount</mat-label>
                              <input
                                matInput
                                formControlName="txn_currency_interest_amount"
                                type="Number"
                                min="0"
                                oninput="validity.valid||(value='');"
                                inputTrim
                              />
                            </mat-form-field>
                          </div>

                          <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                              <mat-label>Guarantee</mat-label>
                              <input
                                matInput
                                formControlName="gurantee"
                                inputTrim
                              />
                            </mat-form-field>
                          </div>

                          <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                              <mat-label>Warranty</mat-label>
                              <input
                                matInput
                                formControlName="warranty"
                                inputTrim
                              />
                            </mat-form-field>
                          </div>

                          <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                              <mat-label>Remark</mat-label>
                              <input
                                matInput
                                formControlName="remark"
                                inputTrim
                              />
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </cdk-accordion-item>
            </cdk-accordion>
          </div>
        </form>
      </div>
    </div>
    <div class="footer">
      <div class="left">
        <button class="cancel" (click)="onCancelForm()">Cancel</button>
      </div>
      <div class="right d-flex">
        <button
          class="send"
          *ngIf="submitBtn && showReset"
          (click)="onResetForm()"
          [disabled]="showLoader"
        >
          Reset
        </button>
        <button
          class="submit"
          type="submit"
          *ngIf="submitBtn"
          [disabled]="showLoader"
          (click)="onSubmit()"
        >
          {{ btnVal }}
          <i class="fa fa-spinner fa-spin" *ngIf="showLoader"></i>
        </button>
      </div>
    </div>
  </div>
</div>
