<section>
    <app-account-category></app-account-category>
    <app-account-sub-category></app-account-sub-category>
    <app-account-main-group></app-account-main-group>
    <app-account-sub-group></app-account-sub-group>
    <app-chart-of-account></app-chart-of-account>
</section>