<section>
  <!-- <app-link-company></app-link-company>
  <app-leder-master></app-leder-master>
  <app-ledger-group></app-ledger-group> -->
  <app-accounting-parameter></app-accounting-parameter>
  <!-- <app-accounting-template></app-accounting-template> -->
  <!-- <app-tax-authority></app-tax-authority>
    <app-tax-rate></app-tax-rate>
    <app-profit-center></app-profit-center>
    <app-cost-center></app-cost-center> -->
</section>
