<div [formGroup]="form">   


  <mat-form-field class="example-full-width" >
    <!-- <mat-label>{{field.field_label}}</mat-label> -->

    
    <input  matInput *ngIf="!['total_cultivation_land_in_hectare_are','cultivation_land_in_hectare_are'].includes(field.field_key)" 
      [id]="field.field_key" [name]="field.field_label" [formControlName]="field.field_key"
      [readonly]="field.is_readonly"   [attr.disabled]="true?'':null" 
      type="Number" step="0.001"  
      min="0" oninput="validity.valid||(value='');" >
     
      <input matInput *ngIf="['total_cultivation_land_in_hectare_are'].includes(field.field_key)"
      [id]="field.field_key" name="hh" [formControlName]="field.field_key"
      type="Number" step="0.001"  
      min="0" oninput="validity.valid||(value='');"
      [readonly]="field.is_readonly"   [attr.disabled]="true?'':null" (change)="totalcultivationchangeHector($event)" >
      
      <input matInput *ngIf="['cultivation_land_in_hectare_are'].includes(field.field_key)"
      [id]="field.field_key" name="hh" [formControlName]="field.field_key"
      type="Number" step="0.001"  
      min="0" oninput="validity.valid||(value='');"
      [readonly]="field.is_readonly"   [attr.disabled]="true?'':null" (change)="cultivationchangeHector($event)" >
      
      

    <mat-error *ngIf="field.is_required==true">
      {{field.field_placeholder}} Is Required
    </mat-error>
   
  </mat-form-field>
</div>


