<section class="content" style="min-height: auto; margin-top: 70px">
  <div class="approval-container">
    <div class="header">
      <p>
        <strong>{{ screenName }}</strong>
      </p>
    </div>

    <app-dynamic-form
      [fields]="ScreenJsonData"
      *ngIf="showList === false"
      (handleSave)="handleSave($event)"
      [screenName]="screenName"
      [BTN_VAL]="BTN_VAL"
      [submitBtn]="submitBtn"
      [rowData]="rowData"
      (handleCancel)="handleCancel($event)"
      [showLoaderSubmit]="showLoaderSubmit"
    >
    </app-dynamic-form>

    <div class="body" [hidden]="listDiv">
      <div class="interaction">
        <button
          class="new_employee"
          (click)="showFormList(false)"
          matTooltip="ADD"
          *ngIf="sidebarData.write_access === 'Y'"
        >
          + Add New {{ screenName }}
        </button>

        <div class="end">
          <div class="search">
            <i class="bi bi-search"></i>
            <input
              type="text"
              placeholder="Search in table"
              type="text"
              #filter
              class="browser-default search-field"
              aria-label="Search box"
            />
          </div>
          <button
            mat-mini-fab
            class="btn btn-primary small-button"
            style="background-color: #2c5a88 !important"
            (click)="refresh()"
          >
            <mat-icon class="col-white">refresh</mat-icon>
          </button>
          <button (click)="exportExcel()">
            <img src="assets/usedimg/excel_icon.png" alt="" /> Download Excel
          </button>
        </div>
      </div>
      <div class="data_table pb-2">
        <div class="mat-elevation-z8">
          <table
            mat-table
            #table
            [dataSource]="dataSource"
            matSort
            class="mat-cell"
          >
            <ng-container
              *ngFor="let col of tableCols; let i = index"
              matColumnDef="{{ col.mat_cell_name }}"
            >
              <ng-container *ngIf="col.mat_cell_name === 'View'">
                <th mat-header-cell *matHeaderCellDef style="width: 2%">
                  <strong>View</strong>
                </th>
                <td mat-cell *matCellDef="let row">
                  <button
                    *ngIf="sidebarData.read_access === 'Y'"
                    (click)="editViewRecord(row, false)"
                  >
                    <i class="bi bi-eye"></i>
                  </button>
                </td>
              </ng-container>
              <ng-container *ngIf="col.mat_cell_name === 'Edit'">
                <th mat-header-cell *matHeaderCellDef><strong>Edit</strong></th>
                <td mat-cell *matCellDef="let row">
                  <button
                    *ngIf="sidebarData.write_access === 'Y'"
                    (click)="editViewRecord(row, true)"
                  >
                    <i class="bi bi-pencil"></i>
                  </button>
                </td>
              </ng-container>
              <ng-container
                *ngIf="
                  col.mat_cell_name !== 'View' && col.mat_cell_name !== 'Edit'
                "
              >
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  <strong>{{ col.mat_header_cell }}</strong>
                </th>
                <td
                  mat-cell
                  *matCellDef="let row; let j = index"
                  (contextmenu)="onContextMenu($event, row)"
                >
                  <app-dynamic-table-data
                    [data]="row[col.mat_cell_name]"
                  ></app-dynamic-table-data>
                </td>
              </ng-container>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedColumns"
              [style.cursor]="'pointer'"
              matRipple
            ></tr>
          </table>

          <div
            *ngIf="!exampleDatabase?.isTblLoading"
            class="no-results"
            [style.display]="dataSource.renderedData.length === 0 ? '' : 'none'"
          >
            No results
          </div>
          <mat-paginator
            #paginator
            showFirstLastButtons
            [length]="dataSource.filteredData.length"
            [pageIndex]="0"
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 50, 100]"
            aria-label="Select page of periodic elements"
          >
          </mat-paginator>
        </div>
      </div>
    </div>
    <!-- </div> -->
  </div>
</section>
