<div class="edit_pop_up override_edit_pop_up">
  <div class="big-model">
    <div class="header">
      <p>{{ screenName }}</p>
      <button (click)="onCancelForm()">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
    <div class="body overflow_model">
      <div class="details-form">
        <form [formGroup]="EXPBForm">
          <div class="personal">
            <div class="row d-flex">
              <div
                class="col-md-3"
                matTooltip="This will be filled automatically"
              >
                <mat-form-field class="example-full-width">
                  <mat-label>Transaction Date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="transaction_date"
                    [min]="todayDate"
                    readonly
                    id="transaction_date"
                    [(ngModel)]="todayDate"
                    formControlName="transaction_date"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="transaction_date"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #transaction_date></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Booking Mode</mat-label>
                  <mat-select formControlName="booking_ref_id" required>
                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of bookingModeData"
                      >{{ obj.master_value }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Employee Name</mat-label>
                  <mat-select formControlName="supplier_ref_id" required>
                    <mat-select-filter
                      [placeholder]="'Search'"
                      [displayMember]="'emp_name'"
                      [array]="SearchDataSupplier"
                      (filteredReturn)="supplierData = $event"
                    ></mat-select-filter>
                    <mat-option
                      *ngFor="let obj of supplierData"
                      style="padding-top: 8px; padding-bottom: 8px"
                      [value]="obj.id"
                      >{{ obj.emp_name }}</mat-option
                    >
                  </mat-select>
                  <mat-error
                    *ngIf="
                      EXPBForm.controls['supplier_ref_id'].hasError('required')
                    "
                    >Employee Name Is Required.
                  </mat-error>
                </mat-form-field>
              </div>

              <div
                class="col-md-3"
                matTooltip="This will be filled automatically"
              >
                <mat-form-field class="example-full-width">
                  <mat-label>Fiscal Year </mat-label>
                  <input
                    matInput
                    formControlName="fiscal_year"
                    type="text"
                    step="0.01"
                    min="0"
                    placeholder="Fiscal Year"
                    readonly="readonly"
                    [disabled]="true"
                  />
                </mat-form-field>
              </div>

              <div
                class="col-md-3"
                matTooltip="This will be filled automatically"
              >
                <mat-form-field class="example-full-width">
                  <mat-label>Period </mat-label>
                  <input
                    matInput
                    formControlName="period"
                    type="text"
                    step="0.01"
                    min="0"
                    placeholder="Period"
                    readonly="readonly"
                    [disabled]="true"
                  />
                </mat-form-field>
              </div>
              <!-- <div class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2">
                 <mat-form-field class="example-full-width" >
                   <mat-label>Transaction Currency </mat-label>
                   <input
                     matInput
                     formControlName="transaction_currency"
                     type="text"
                     step="0.01"
                     min="0"
                     placeholder="Transaction Currency"
                     readonly="readonly"
                     [disabled]="true"
                   />
                 </mat-form-field>
               </div> -->
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Transaction Currency</mat-label>
                  <mat-select formControlName="transaction_currency">
                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of txnCurrency"
                      >{{ obj.currency_code }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <div
                class="col-md-3"
                matTooltip="This will be filled automatically"
              >
                <mat-form-field
                  class="example-full-width"
                  matTooltip="This will be filled automatically"
                >
                  <mat-label>Total Transaction Amount </mat-label>
                  <input
                    matInput
                    formControlName="total_transaction_amount"
                    type="text"
                    step="0.01"
                    min="0"
                    placeholder="Total Transaction Amount"
                    readonly="readonly"
                    [disabled]="true"
                  />
                </mat-form-field>
              </div>

              <div class="col-md-3" *ngIf="isColumnHidden">
                <mat-form-field class="example-full-width">
                  <mat-label>Section</mat-label>
                  <mat-select
                    formControlName="section"
                    (selectionChange)="sectionChange($event)"
                  >
                    <mat-select-filter
                      [placeholder]="'Search'"
                      [displayMember]="'section'"
                      [array]="withHoldingDataSearch"
                      (filteredReturn)="withHoldingData = $event"
                    ></mat-select-filter>
                    <mat-option
                      *ngFor="let obj of withHoldingData"
                      [value]="obj.id"
                      >{{ obj.section }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <div
                class="col-md-3"
                *ngIf="isColumnHidden"
                matTooltip="This will be filled automatically"
              >
                <mat-form-field class="example-full-width">
                  <mat-label>Account Name </mat-label>
                  <input
                    matInput
                    formControlName="account_name"
                    type="text"
                    step="0.01"
                    min="0"
                    placeholder="Account Name "
                    readonly="readonly"
                    [disabled]="true"
                  />
                </mat-form-field>
              </div>
              <div
                class="col-md-3"
                *ngIf="isColumnHidden"
                matTooltip="This will be filled automatically"
              >
                <mat-form-field class="example-full-width">
                  <mat-label>TDS (%) </mat-label>
                  <input
                    matInput
                    formControlName="tds_percent"
                    type="text"
                    step="0.01"
                    min="0"
                    placeholder="TDS (%)"
                    readonly="readonly"
                    [disabled]="true"
                  />
                </mat-form-field>
              </div>
              <div
                class="col-md-3"
                *ngIf="isColumnHidden"
                matTooltip="This will be filled automatically"
              >
                <mat-form-field class="example-full-width">
                  <mat-label>TDS Amount </mat-label>
                  <input
                    matInput
                    formControlName="tds_amount"
                    type="text"
                    step="0.01"
                    min="0"
                    placeholder="TDS Amount"
                    readonly="readonly"
                    [disabled]="true"
                  />
                </mat-form-field>
              </div>
              <!-- <div class="col-md-3">
                <mat-label>Is Clearing Agent?</mat-label>
                <section>
                  No
                  <mat-slide-toggle
                    class="example-margin"
                    formControlName="is_clearing_agent_flag"
                    style="
                      margin-left: 0.5rem;
                      margin-right: 0.5rem;
                      margin-top: 0.5rem;
                    "
                  >
                    Yes
                  </mat-slide-toggle>
                </section>
              </div> -->

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Remark </mat-label>
                  <textarea
                    matInput
                    formControlName="remark"
                    type="text"
                    placeholder="Remark"
                  ></textarea>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Division</mat-label>
                  <mat-select formControlName="division_ref_id">
                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of DivisionData"
                      >{{ obj.key }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Department</mat-label>
                  <mat-select formControlName="department_ref_id">
                    <mat-option [value]="">Select Department Name</mat-option>
                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of DepartmentData"
                      >{{ obj.key }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Type Of Sale</mat-label>
                  <mat-select formControlName="sale_type_ref_id">
                    <mat-option [value]="">Select Sale Type</mat-option>

                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of SaleTypeData"
                      >{{ obj.key }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Location</mat-label>
                  <mat-select formControlName="location_ref_id">
                    <mat-option [value]="">Select Location</mat-option>

                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of LocationData"
                      >{{ obj.key }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <ng-container *ngIf="!submitBtn">
                  <label> Attachment</label><br />
                  <ng-container *ngIf="previewImage1"
                    ><img
                      *ngIf="previewImage1"
                      [src]="previewImage1"
                      alt="image"
                      style="width: 5rem"
                    />
                    <a
                      *ngIf="previewImage1"
                      href="{{ previewImage1 }}"
                      target="_blank"
                      >Download<mat-icon>download</mat-icon>
                    </a></ng-container
                  >
                  <ng-container *ngIf="!previewImage1">
                    No Attachment uploaded
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="submitBtn" class="example-full-width">
                  <label>Attachment Upload</label><br />
                  <img
                    *ngIf="previewImage1 && previewImageType1"
                    [src]="previewImage1"
                    alt="image"
                    style="width: 5rem"
                  />
                  <br *ngIf="previewImage1 && previewImageType1" />
                  <a
                    *ngIf="previewImage1 && !previewImageType1"
                    href="{{ previewImage1 }}"
                    target="_blank"
                    >Download<mat-icon>download</mat-icon></a
                  >
                  <mat-icon
                    matDatepickerToggleIcon
                    *ngIf="previewImage1"
                    (click)="removeImage()"
                    >clear</mat-icon
                  >
                  <br *ngIf="previewImage1 && !previewImageType1" />
                  {{ fileName }}
                  <i class="fa fa-spinner fa-spin" *ngIf="showFileLoader"></i>
                  <span style="color: rgb(17, 108, 192)">{{
                    uploadStatus
                  }}</span>
                  <br *ngIf="fileName" />
                  <label
                    for="bank_upload"
                    class="apply-button"
                    style="width: 201px"
                    >Choose File</label
                  >
                  <input
                    #fileInput
                    type="file"
                    (change)="setAttachment($event)"
                    id="bank_upload"
                    hidden
                    required
                  />
                  <span style="font-size: 1rem">
                    ( Formats allowed: .png, .jpg, .pdf )
                  </span>
                </ng-container>
              </div>
              <div class="col-md-3">
                <div class="active-switch">
                  <mat-label>Is TDS Applicable?</mat-label>
                  <div class="switch-container">
                    <label>No</label>

                    <label class="switch">
                      <input
                        checked=""
                        type="checkbox"
                        formControlName="is_tds_flag"
                        (change)="changeStatus($event)"
                      />
                      <div class="slider">
                        <div class="circle">
                          <svg
                            class="cross"
                            xml:space="preserve"
                            style="enable-background: new 0 0 512 512"
                            viewBox="0 0 365.696 365.696"
                            y="0"
                            x="0"
                            height="6"
                            width="6"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            version="1.1"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <g>
                              <path
                                data-original="#000000"
                                fill="currentColor"
                                d="M243.188 182.86 356.32 69.726c12.5-12.5 12.5-32.766 0-45.247L341.238 9.398c-12.504-12.503-32.77-12.503-45.25 0L182.86 122.528 69.727 9.374c-12.5-12.5-32.766-12.5-45.247 0L9.375 24.457c-12.5 12.504-12.5 32.77 0 45.25l113.152 113.152L9.398 295.99c-12.503 12.503-12.503 32.769 0 45.25L24.48 356.32c12.5 12.5 32.766 12.5 45.247 0l113.132-113.132L295.99 356.32c12.503 12.5 32.769 12.5 45.25 0l15.081-15.082c12.5-12.504 12.5-32.77 0-45.25zm0 0"
                              ></path>
                            </g>
                          </svg>
                          <svg
                            class="checkmark"
                            xml:space="preserve"
                            style="enable-background: new 0 0 512 512"
                            viewBox="0 0 24 24"
                            y="0"
                            x="0"
                            height="10"
                            width="10"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            version="1.1"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <g>
                              <path
                                class=""
                                data-original="#000000"
                                fill="currentColor"
                                d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z"
                              ></path>
                            </g>
                          </svg>
                        </div>
                      </div>
                    </label>
                    <label>Yes</label>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="active-switch">
                  <mat-label>Is Provision?</mat-label>
                  <div class="switch-container">
                    <label>No</label>

                    <label class="switch">
                      <input
                        checked=""
                        type="checkbox"
                        formControlName="is_provision_flag"
                      />
                      <div class="slider">
                        <div class="circle">
                          <svg
                            class="cross"
                            xml:space="preserve"
                            style="enable-background: new 0 0 512 512"
                            viewBox="0 0 365.696 365.696"
                            y="0"
                            x="0"
                            height="6"
                            width="6"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            version="1.1"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <g>
                              <path
                                data-original="#000000"
                                fill="currentColor"
                                d="M243.188 182.86 356.32 69.726c12.5-12.5 12.5-32.766 0-45.247L341.238 9.398c-12.504-12.503-32.77-12.503-45.25 0L182.86 122.528 69.727 9.374c-12.5-12.5-32.766-12.5-45.247 0L9.375 24.457c-12.5 12.504-12.5 32.77 0 45.25l113.152 113.152L9.398 295.99c-12.503 12.503-12.503 32.769 0 45.25L24.48 356.32c12.5 12.5 32.766 12.5 45.247 0l113.132-113.132L295.99 356.32c12.503 12.5 32.769 12.5 45.25 0l15.081-15.082c12.5-12.504 12.5-32.77 0-45.25zm0 0"
                              ></path>
                            </g>
                          </svg>
                          <svg
                            class="checkmark"
                            xml:space="preserve"
                            style="enable-background: new 0 0 512 512"
                            viewBox="0 0 24 24"
                            y="0"
                            x="0"
                            height="10"
                            width="10"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            version="1.1"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <g>
                              <path
                                class=""
                                data-original="#000000"
                                fill="currentColor"
                                d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z"
                              ></path>
                            </g>
                          </svg>
                        </div>
                      </div>
                    </label>
                    <label>Yes</label>
                  </div>
                </div>
              </div>
            </div>

            <div>
              <div class="header accordian">
                <p class="fas fa-angle-down example-accordion-item-description">
                  <strong
                    >{{ screenName }} Details<span
                      class="fas fa-angle-down example-accordion-item-description"
                    >
                    </span
                  ></strong>
                </p>
              </div>
            </div>
            <div [formGroup]="EXPBForm">
              <div class="card">
                <div class="body">
                  <div class="row clearfix">
                    <div
                      class="table-responsive"
                      formArrayName="expense_booking_details"
                    >
                      <table
                        id="tableExport1"
                        class="display table table-hover table-checkable order-column m-t-20 width-per-100 table-bordered"
                      >
                        <caption></caption>
                        <thead>
                          <tr>
                            <th style="text-align: center">Action</th>
                            <th style="text-align: center">Is GST Set Off?</th>
                            <th style="text-align: center">Is RCM?</th>
                            <th style="text-align: center">HSN/SAC</th>
                            <th style="text-align: center">Account Name</th>
                            <th
                              style="text-align: center"
                              *ngFor="
                                let obj of expenseDetailsParametersColumns
                                  | keyvalue
                              "
                            >
                              {{ obj.value }}
                            </th>
                            <th style="text-align: center">
                              Transaction Amount
                            </th>
                            <th style="text-align: center">Tax Rate</th>
                            <th style="text-align: center">Tax Amount</th>
                          </tr>
                        </thead>
                        <tbody class="main_tbody">
                          <tr
                            *ngFor="
                              let dynamic of formArray['controls'];
                              let i = index
                            "
                            [formGroupName]="i"
                          >
                            <td class="col_input" *ngIf="i === 0">
                              <button
                                type="button"
                                class="apply-button"
                                [disabled]="addButtonDisable"
                                (click)="addNewRow()"
                              >
                                <i class="fa fa-plus"></i>
                              </button>
                            </td>
                            <td class="col_input" *ngIf="i > 0">
                              <button
                                type="button"
                                class="apply-button-danger"
                                [disabled]="addButtonDisable"
                                (click)="deleteRow(i)"
                              >
                                <i class="fa fa-minus"></i>
                              </button>
                            </td>

                            <td class="col_input">
                              <div class="active-switch">
                                <div class="switch-container">
                                  <label>No</label>

                                  <label class="switch">
                                    <input
                                      checked=""
                                      type="checkbox"
                                      formControlName="is_gst_set_off"
                                    />
                                    <div class="slider">
                                      <div class="circle">
                                        <svg
                                          class="cross"
                                          xml:space="preserve"
                                          style="
                                            enable-background: new 0 0 512 512;
                                          "
                                          viewBox="0 0 365.696 365.696"
                                          y="0"
                                          x="0"
                                          height="6"
                                          width="6"
                                          xmlns:xlink="http://www.w3.org/1999/xlink"
                                          version="1.1"
                                          xmlns="http://www.w3.org/2000/svg"
                                        >
                                          <g>
                                            <path
                                              data-original="#000000"
                                              fill="currentColor"
                                              d="M243.188 182.86 356.32 69.726c12.5-12.5 12.5-32.766 0-45.247L341.238 9.398c-12.504-12.503-32.77-12.503-45.25 0L182.86 122.528 69.727 9.374c-12.5-12.5-32.766-12.5-45.247 0L9.375 24.457c-12.5 12.504-12.5 32.77 0 45.25l113.152 113.152L9.398 295.99c-12.503 12.503-12.503 32.769 0 45.25L24.48 356.32c12.5 12.5 32.766 12.5 45.247 0l113.132-113.132L295.99 356.32c12.503 12.5 32.769 12.5 45.25 0l15.081-15.082c12.5-12.504 12.5-32.77 0-45.25zm0 0"
                                            ></path>
                                          </g>
                                        </svg>
                                        <svg
                                          class="checkmark"
                                          xml:space="preserve"
                                          style="
                                            enable-background: new 0 0 512 512;
                                          "
                                          viewBox="0 0 24 24"
                                          y="0"
                                          x="0"
                                          height="10"
                                          width="10"
                                          xmlns:xlink="http://www.w3.org/1999/xlink"
                                          version="1.1"
                                          xmlns="http://www.w3.org/2000/svg"
                                        >
                                          <g>
                                            <path
                                              class=""
                                              data-original="#000000"
                                              fill="currentColor"
                                              d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z"
                                            ></path>
                                          </g>
                                        </svg>
                                      </div>
                                    </div>
                                  </label>
                                  <label>Yes</label>
                                </div>
                              </div>
                            </td>
                            <td class="col_input">
                              <div class="active-switch">
                                <div class="switch-container">
                                  <label>No</label>

                                  <label class="switch">
                                    <input
                                      checked=""
                                      type="checkbox"
                                      formControlName="is_rcm"
                                    />
                                    <div class="slider">
                                      <div class="circle">
                                        <svg
                                          class="cross"
                                          xml:space="preserve"
                                          style="
                                            enable-background: new 0 0 512 512;
                                          "
                                          viewBox="0 0 365.696 365.696"
                                          y="0"
                                          x="0"
                                          height="6"
                                          width="6"
                                          xmlns:xlink="http://www.w3.org/1999/xlink"
                                          version="1.1"
                                          xmlns="http://www.w3.org/2000/svg"
                                        >
                                          <g>
                                            <path
                                              data-original="#000000"
                                              fill="currentColor"
                                              d="M243.188 182.86 356.32 69.726c12.5-12.5 12.5-32.766 0-45.247L341.238 9.398c-12.504-12.503-32.77-12.503-45.25 0L182.86 122.528 69.727 9.374c-12.5-12.5-32.766-12.5-45.247 0L9.375 24.457c-12.5 12.504-12.5 32.77 0 45.25l113.152 113.152L9.398 295.99c-12.503 12.503-12.503 32.769 0 45.25L24.48 356.32c12.5 12.5 32.766 12.5 45.247 0l113.132-113.132L295.99 356.32c12.503 12.5 32.769 12.5 45.25 0l15.081-15.082c12.5-12.504 12.5-32.77 0-45.25zm0 0"
                                            ></path>
                                          </g>
                                        </svg>
                                        <svg
                                          class="checkmark"
                                          xml:space="preserve"
                                          style="
                                            enable-background: new 0 0 512 512;
                                          "
                                          viewBox="0 0 24 24"
                                          y="0"
                                          x="0"
                                          height="10"
                                          width="10"
                                          xmlns:xlink="http://www.w3.org/1999/xlink"
                                          version="1.1"
                                          xmlns="http://www.w3.org/2000/svg"
                                        >
                                          <g>
                                            <path
                                              class=""
                                              data-original="#000000"
                                              fill="currentColor"
                                              d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z"
                                            ></path>
                                          </g>
                                        </svg>
                                      </div>
                                    </div>
                                  </label>
                                  <label>Yes</label>
                                </div>
                              </div>
                            </td>
                            <td class="col_input">
                              <mat-form-field class="example-full-width">
                                <mat-label>HSN SAC</mat-label>
                                <mat-select
                                  formControlName="hsn_sac"
                                  [disabled]="true"
                                  (selectionChange)="hsnSacChange(EXPBForm, i)"
                                >
                                  <mat-option
                                    *ngFor="let obj of hsnSacData"
                                    [value]="obj.id"
                                    >{{ obj.key }}</mat-option
                                  >
                                </mat-select>
                              </mat-form-field>
                            </td>
                            <td class="col_input">
                              <mat-form-field class="example-full-width">
                                <mat-label>Account Name</mat-label>
                                <mat-select
                                  formControlName="account_name"
                                  [disabled]="true"
                                >
                                  <mat-option
                                    *ngFor="let obj of accountNameData"
                                    [value]="obj.id"
                                    >{{ obj.key }}</mat-option
                                  >
                                </mat-select>
                              </mat-form-field>
                            </td>
                            <td
                              class="col_input"
                              *ngFor="
                                let obj of expenseDetailsParametersColumns
                                  | keyvalue;
                                let i = index
                              "
                            >
                              <mat-form-field class="example-full-width">
                                <mat-label>{{ obj.value }} Name</mat-label>
                                <mat-select
                                  formControlName="parameter_{{ i + 1 }}"
                                  [disabled]="true"
                                >
                                  <mat-option value="ALL">All</mat-option>
                                  <mat-option
                                    *ngFor="let items of getParameter(i + 1)"
                                    [value]="items.id"
                                    >{{ items.name }}</mat-option
                                  >
                                </mat-select>
                              </mat-form-field>
                            </td>
                            <td class="col_input">
                              <mat-form-field class="example-full-width">
                                <mat-label>Transaction Amount </mat-label>
                                <input
                                  matInput
                                  formControlName="transaction_amount"
                                  type="number"
                                  step="0.01"
                                  min="1"
                                  oninput="validity.valid||(value='');"
                                  placeholder="Transaction Amount"
                                  (input)="calculateTxnAmount(EXPBForm, i)"
                                />
                              </mat-form-field>
                            </td>
                            <td class="col_input">
                              <mat-form-field
                                class="example-full-width"
                                *ngIf="
                                  this.EXPBForm?.get('expense_booking_details')
                                    ?.value[i]['is_gst_set_off'];
                                  else elseBlock
                                "
                              >
                                <mat-label>Tax Rate </mat-label>
                                <input
                                  matInput
                                  formControlName="tax_rate"
                                  oninput="validity.valid||(value='');"
                                  placeholder="Tax Rate"
                                  (input)="calculateTxnAmount(EXPBForm, i)"
                                />
                              </mat-form-field>
                              <ng-template #elseBlock> NA </ng-template>
                            </td>
                            <td class="col_input">
                              <mat-form-field
                                class="example-full-width"
                                *ngIf="
                                  this.EXPBForm?.get('expense_booking_details')
                                    ?.value[i]['is_gst_set_off'];
                                  else elseBlock
                                "
                              >
                                <mat-label>Tax Amount</mat-label>
                                <input
                                  matInput
                                  formControlName="tax_amount"
                                  oninput="validity.valid||(value='');"
                                  placeholder="Tax Amount"
                                  (input)="calculateTxnAmount(EXPBForm, i)"
                                />
                              </mat-form-field>
                              <ng-template #elseBlock> NA </ng-template>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="footer">
      <div class="left">
        <button class="cancel" (click)="onCancelForm()">Cancel</button>
      </div>
      <div class="right d-flex">
        <button
          class="send"
          *ngIf="submitBtn"
          (click)="onResetForm()"
          [disabled]="showLoader"
        >
          Reset
        </button>
        <button
          class="submit"
          type="submit"
          *ngIf="submitBtn"
          [disabled]="showLoader"
          name="submit"
          value="Submit"
          (click)="onSubmit()"
        >
          {{ btnVal }}
          <i class="fa fa-spinner fa-spin" *ngIf="showLoader"></i>
        </button>
      </div>
    </div>
  </div>
</div>
