.right-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 250px);
}
.search {
  width: 520px;
  height: 34px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 4px;
  padding: 6px 12px;
  gap: 6px;
}
.search input[type="text"] {
  width: 100%;
  border: none;
  background-color: #f5f5f5;

  font-size: 16px;
  color: #000;
  font-weight: 500;
  outline: none;
}
.search .bi {
  font-size: 15px;
  font-weight: 800;
}
.details {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.details ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
  margin-bottom: 0;
}
.details ul li {
  align-self:center;
  margin: 0;
  padding: 0;
}
.details ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #212121;
}
