<nav #navbar class="navbar" style="background-color: white">
  <div class="container-fluid">
    <div
      class="collapse d-flex flex-row"
      [ngClass]="isNavbarCollapsed ? '' : 'show'"
    >
      <div class="d-flex align-items-center p-0 m-0" style="width: 250px">
        <button mat-button (click)="callSidemenuCollapse()">
          <app-feather-icons
            [icon]="'menu'"
            [class]="'header-icon'"
          ></app-feather-icons>
        </button>
        <a class="navbar-brand w-auto" routerLink="dashboard/main">
          <img style="height: 35px" src="assets/usedimg/logo.png" alt="" />
        </a>
      </div>
      <div class="right-part d-flex">
        <div class="search">
          <i class="bi bi-search"></i>
          <input type="text" placeholder="Search" />
        </div>
        <div class="details">
          <ul>
            <li><a routerLink="/subscription"> Subscriptions </a></li>

            <li>
              <button mat-button [matMenuTriggerFor]="profilemenu">
                <div class="chip dropdown-toggle" ngbDropdownToggle class="">
                  <img
                    src="assets/images/user.png"
                    class="rounded-circle"
                    width="32"
                    height="32"
                    alt="User"
                  />
                  <span style="color: #000">
                    {{ username }} ({{ userrole }})</span
                  >
                </div>
              </button>
              <mat-menu #profilemenu="matMenu" class="profile-menu">
                <div class="noti-list">
                  <div class="menu">
                    <div class="user_dw_menu">
                      <button mat-menu-item routerLink="/profile">
                        <app-feather-icons
                          [icon]="'settings'"
                          [class]="'user-menu-icons'"
                        ></app-feather-icons
                        >Settings
                      </button>
                      <button mat-menu-item (click)="logout()">
                        <app-feather-icons
                          [icon]="'log-out'"
                          [class]="'user-menu-icons'"
                        ></app-feather-icons
                        >Logout
                      </button>
                    </div>
                  </div>
                </div>
              </mat-menu>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
