.new-events {
  display: flex;
  padding: 20px;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
  background: white;
}

.p-header {
  color: var(--grey-900, #212121);
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 136.842% */
  padding-bottom: 8px;
}
