<div class="edit_pop_up" style="height: 100%">
  <div class="big-model">
    <div class="header">
      <p>{{ screenName }}</p>
      <button (click)="onCancelForm()">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
    <div class="body">
      <div class="details-form">
        <form [formGroup]="userForm">
          <div class="personal">
            <p class="m-0 p-0">Add Employee Details</p>
            <div class="row d-flex">
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Employee Name</mat-label>
                  <input
                    matInput
                    formControlName="emp_name"
                    inputTrim
                    required
                  />
                  <mat-error
                    *ngIf="userForm.controls['emp_name'].hasError('required')"
                    >Employee name is Required.</mat-error
                  >
                  <mat-error
                    *ngIf="userForm.controls['emp_name'].hasError('pattern')"
                    >Special character(s) are not allowed.</mat-error
                  >
                  <mat-error
                    *ngIf="userForm.controls['emp_name'].hasError('maxlength')"
                    >Maximum 15 characters allowed.</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Email</mat-label>
                  <input
                    matInput
                    formControlName="email"
                    type="email"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                    inputTrim
                  />
                  <mat-error
                    *ngIf="
                      userForm.controls['email'].hasError('pattern') ||
                      userForm.controls['email'].hasError('email')
                    "
                    >Enter valid Email.</mat-error
                  >
                  <mat-error
                    *ngIf="userForm.controls['email'].hasError('required')"
                    >Email is Required.</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Phone Number</mat-label>
                  <input
                    matInput
                    formControlName="phone"
                    type="Number"
                    inputTrim
                    required
                  />
                  <mat-error
                    *ngIf="userForm.controls['phone'].hasError('required')"
                    >Phone Number is Required.</mat-error
                  >
                  <mat-error
                    *ngIf="userForm.controls['phone'].hasError('pattern')"
                    >Enter valid Phone Number.</mat-error
                  >
                  <mat-error
                    *ngIf="userForm.controls['phone'].hasError('maxlength')"
                    >Maximum 10 characters allowed.</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Designation</mat-label>
                  <mat-select formControlName="designation">
                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of designationData"
                      >{{ obj.key }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Department</mat-label>
                  <mat-select formControlName="department">
                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of departmentData"
                      >{{ obj.key }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Sub Department</mat-label>
                  <mat-select formControlName="sub_department">
                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of subDepartmentData"
                      >{{ obj.key }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Maker / Checker</mat-label>
                  <mat-select formControlName="maker_checker" required>
                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of makerCheckerData"
                      >{{ obj.master_value }}</mat-option
                    >
                  </mat-select>
                  <mat-error
                    *ngIf="
                      userForm.controls['maker_checker'].hasError('required')
                    "
                    >Maker / Checker is Required.</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-label>Status</mat-label>
                <section>
                  Inactive
                  <mat-slide-toggle
                    class="example-margin"
                    formControlName="is_active"
                    style="
                      margin-left: 0.5rem;
                      margin-right: 0.5rem;
                      margin-top: 0.5rem;
                    "
                    (change)="changeStatus($event)"
                  >
                    Active
                  </mat-slide-toggle>
                </section>
              </div>
            </div>

            <div class="footer">
              <div class="left">
                <button class="cancel" (click)="onCancelForm()">Cancel</button>
              </div>
              <div class="right d-flex">
                <button
                  class="send"
                  *ngIf="submitBtn && showReset"
                  (click)="onResetForm()"
                  [disabled]="showLoader"
                >
                  Reset
                </button>
                <button
                  class="submit"
                  type="submit"
                  *ngIf="submitBtn"
                  [disabled]="showLoader"
                  name="submit"
                  value="Submit"
                  (click)="onSubmit(btnVal)"
                >
                  {{ btnVal }}
                  <i class="fa fa-spinner fa-spin" *ngIf="showLoader"></i>
                </button>
              </div>
            </div>
            <div class="body" style="text-align: center" id="divMessages"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
