
<section class="section-left">
    <app-division></app-division>
    <app-department></app-department>
    <app-sub-department></app-sub-department>
    <app-type-of-sale></app-type-of-sale>
    <app-location></app-location>
</section>