<section class="content">
  <div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="body">
          <div class="header">
            <h2>
              <strong>{{ screenName }}</strong>
            </h2>
          </div>
          <app-stock-adjustment-details
            *ngIf="listDiv === true"
            [rowData]="rowData"
            (handleSave)="handleSave($event)"
            (handleCancel)="handleCancel($event)"
            [submitBtn]="submitBtn"
            [showLoader]="showLoader"
          >
          </app-stock-adjustment-details>

          <div class="materialTableHeader" [hidden]="listDiv">
            <div class="left">
              <ul class="header-buttons-left ms-0">
                <li class="tbl-search-box">
                  <label for="search-input"
                    ><i class="material-icons search-icon">search</i></label
                  >
                  <input
                    placeholder="Search"
                    type="text"
                    #filter
                    class="browser-default search-field"
                    aria-label="Search box"
                  />
                </li>
              </ul>
            </div>

            <div class="right">
              <ul class="tbl-export-btn">
                <li class="tbl-header-btn">
                  <button
                    mat-mini-fab
                    class="btn btn-primary"
                    matTooltip="ADD"
                    *ngIf="sidebarData?.write_access === 'Y'"
                    (click)="showFormList(false)"
                  >
                    <i class="fa fa-plus"></i>
                  </button>
                </li>
                <li class="tbl-header-btn">
                  <div class="m-l-10" matTooltip="REFRESH">
                    <button
                      mat-mini-fab
                      class="btn btn-primary"
                      (click)="refresh()"
                    >
                      <mat-icon class="col-white">refresh</mat-icon>
                    </button>
                  </div>
                </li>
                <li>
                  <div class="export-button m-l-10" matTooltip="XLSX">
                    <img
                      src="assets/images/icons/xlsx.png"
                      alt=""
                      (click)="exportExcel()"
                    />
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="responsive_table" [hidden]="listDiv">
            <table
              mat-table
              #table
              [dataSource]="dataSource"
              matSort
              class="mat-cell"
            >
              <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef
                  ><strong>Actions</strong></mat-header-cell
                >
                <mat-cell *matCellDef="let row">
                  <button
                    *ngIf="sidebarData?.read_access === 'Y'"
                    class="btn tblActnBtn h-auto"
                    (click)="editViewRecord(row, false)"
                    matTooltip="VIEW"
                  >
                    <em class="material-icons">visibility</em>
                  </button>
                  <button
                    *ngIf="sidebarData?.write_access === 'Y'"
                    class="btn tblActnBtn h-auto"
                    (click)="editViewRecord(row, true)"
                    matTooltip="EDIT"
                  >
                    <em class="material-icons">mode_edit</em>
                  </button>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="transaction_date">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                  ><strong>Transaction Date</strong>
                </mat-header-cell>
                <mat-cell
                  *matCellDef="let row"
                  (contextmenu)="onContextMenu($event, row)"
                >
                  <span class="mobile-label">Transaction Date:</span
                  >{{ row.transaction_date }}</mat-cell
                >
              </ng-container>

              <!-- <ng-container matColumnDef="transaction_ref_no">
                  <mat-header-cell *matHeaderCellDef mat-sort-header
                    ><strong>JV Number</strong>
                  </mat-header-cell>
                  <mat-cell
                    *matCellDef="let row"
                    (contextmenu)="onContextMenu($event, row)"
                  >
                    <span class="mobile-label">JV Number:</span
                    >{{ row.transaction_ref_no }}</mat-cell
                  >
                </ng-container> -->

              <ng-container matColumnDef="fiscal_year">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                  ><strong>Fiscal Year</strong>
                </mat-header-cell>
                <mat-cell
                  *matCellDef="let row"
                  (contextmenu)="onContextMenu($event, row)"
                >
                  <span class="mobile-label">Fiscal Year:</span
                  >{{ row.fiscal_year }}</mat-cell
                >
              </ng-container>

              <ng-container matColumnDef="item_type">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                  ><strong>Item Type</strong>
                </mat-header-cell>
                <mat-cell
                  *matCellDef="let row"
                  (contextmenu)="onContextMenu($event, row)"
                >
                  <span class="mobile-label">Item Type:</span
                  >{{ row.item_type }}</mat-cell
                >
              </ng-container>

              <ng-container matColumnDef="txn_currency">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                  ><strong>Currency Name</strong>
                </mat-header-cell>
                <mat-cell
                  *matCellDef="let row"
                  (contextmenu)="onContextMenu($event, row)"
                >
                  <span class="mobile-label">Currency Name:</span
                  >{{ row.currency_name }}</mat-cell
                >
              </ng-container>

              <ng-container matColumnDef="total_txn_amount">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                  ><strong>Total Transaction Amount</strong>
                </mat-header-cell>
                <mat-cell
                  *matCellDef="let row"
                  (contextmenu)="onContextMenu($event, row)"
                >
                  <span class="mobile-label">Total Transaction Amount:</span
                  >{{ row.total_txn_amount }}</mat-cell
                >
              </ng-container>

              <ng-container matColumnDef="base_currency_credit_amount">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                  ><strong>Total Base Credit Amount</strong>
                </mat-header-cell>
                <mat-cell
                  *matCellDef="let row"
                  (contextmenu)="onContextMenu($event, row)"
                >
                  <span class="mobile-label">Total Base Credit Amount:</span
                  >{{ row.base_currency_credit_amount }}</mat-cell
                >
              </ng-container>

              <mat-header-row
                *matHeaderRowDef="displayedColumns"
              ></mat-header-row>
              <mat-row
                *matRowDef="let row; columns: displayedColumns"
                [style.cursor]="'pointer'"
                matRipple
              ></mat-row>
            </table>

            <div
              *ngIf="!exampleDatabase?.isTblLoading"
              class="no-results"
              [style.display]="
                dataSource.filteredData.length === 0 ? '' : 'none'
              "
            >
              No results
            </div>

            <mat-paginator
              #paginator
              [length]="dataSource.filteredData.length"
              [pageIndex]="0"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 50, 100]"
            >
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
