<section class="content">
  <div class="approval-container">
    <div class="header">
      <p>
        <strong>{{ screenName }}</strong>
      </p>
      <div class="approval-form">
        <form [formGroup]="BalanceSheetReportForm">
          <div class="row">
            <div class="col-md-3">
              <mat-form-field class="example-full-width">
                <mat-label for="from_date"></mat-label>
                <input
                  matInput
                  [matDatepicker]="from_date"
                  placeholder="Date"
                  formControlName="date"
                  id="from_date"
                  [(ngModel)]="currentDate"
                  (dateChange)="onSubmit()"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="from_date"
                ></mat-datepicker-toggle>
                <mat-datepicker #from_date></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="body">
      <div class="top">
        <div class="search">
          <i class="bi bi-search"></i>
          <input
            type="text"
            placeholder="Search in table"
            name=""
            id=""
            (input)="searchField($event)"
          />
        </div>

        <button (click)="exportExcel()">
          <img src="assets/usedimg/excel_icon.png" alt="" /> Download Excel
        </button>
      </div>
      <div class="data_table">
        <table class="table table-hover dashboard-task-infos">
          <tr>
            <th>Sr. No</th>
            <th>Category Name</th>
            <th>Total Amount</th>
          </tr>
          <tbody>
            <ng-container *ngFor="let dynamic1 of reportData; let h = index">
              <tr>
                <td
                  style="color: #212121; font-size: 14px; text-align: left"
                  (click)="dynamic1.isExpand = !dynamic1.isExpand"
                >
                  {{ h + 1 }}
                  <i
                    *ngIf="
                      !dynamic1.isExpand && dynamic1.category_level_total !== 0
                    "
                    class="fas fa-angle-right"
                  ></i>
                  <i
                    *ngIf="
                      dynamic1.isExpand && dynamic1.category_level_total !== 0
                    "
                    class="fas fa-angle-up"
                  ></i>
                </td>
                <td
                  *ngIf="dynamic1.account_category !== 'profit-loss'"
                  style="text-align: center"
                >
                  {{ reportData[h]["account_category"] }}
                </td>
                <td
                  *ngIf="dynamic1.account_category === 'profit-loss'"
                  style="text-align: center"
                >
                  <strong> Profit/Loss</strong>
                </td>
                <td
                  *ngIf="dynamic1.account_category !== 'profit-loss'"
                  style="text-align: center"
                >
                  {{ reportData[h]["category_level_total"] }}
                </td>
                <td
                  *ngIf="dynamic1.account_category === 'profit-loss'"
                  style="text-align: center"
                >
                  <strong>{{ reportData[h]["category_level_total"] }}</strong>
                </td>
              </tr>

              <tr *ngIf="dynamic1.isExpand">
                <td colspan="12">
                  <table class="table table-hover dashboard-task-infos">
                    <tbody>
                      <ng-container
                        *ngFor="
                          let dynamic of dynamic1.details_final;
                          let i = index
                        "
                      >
                        <tr>
                          <td
                            style="
                              color: #212121;
                              font-size: 14px;
                              text-align: left;
                            "
                            (click)="dynamic.isExpand = !dynamic.isExpand"
                          >
                            {{ i + 1 }}
                            <i
                              *ngIf="
                                !dynamic.isExpand && dynamic.total_amount !== 0
                              "
                              class="fas fa-angle-right"
                            ></i>
                            <i
                              *ngIf="
                                dynamic.isExpand && dynamic.total_amount !== 0
                              "
                              class="fas fa-angle-up"
                            ></i>
                          </td>
                          <td style="text-align: center">
                            {{ dynamic.sub_category ?? "Null" }}
                          </td>
                          <td style="text-align: center">
                            {{ dynamic.total_amount ?? "0.00" }}
                          </td>
                        </tr>
                        <tr *ngIf="dynamic.isExpand">
                          <td colspan="12">
                            <table
                              class="table table-hover dashboard-task-infos"
                            >
                              <tr>
                                <th style="text-align: left">Sr. No</th>
                                <th style="text-align: center; width: 200px">
                                  Group
                                </th>
                                <th style="text-align: center">Sub-Group</th>
                                <th style="text-align: center">Account Name</th>
                                <th style="text-align: center">Amount</th>
                              </tr>

                              <tbody>
                                <ng-container
                                  *ngFor="
                                    let row2 of dynamic.details;
                                    let j = index
                                  "
                                >
                                  <tr>
                                    <td
                                      style="
                                        color: #212121;
                                        font-size: 14px;
                                        text-align: left;
                                      "
                                      (click)="row2.isExpand = !row2.isExpand"
                                    >
                                      {{ j + 1 }}
                                    </td>
                                    <td style="text-align: center">
                                      {{ row2.main_group_name ?? "Null" }}
                                    </td>
                                    <td style="text-align: center">
                                      {{ row2.sub_group_name ?? "0.00" }}
                                    </td>

                                    <td style="text-align: center">
                                      {{ row2.Account_name ?? "0.00" }}
                                    </td>
                                    <td style="text-align: center">
                                      {{ row2.amount ?? "0.00" }}
                                    </td>
                                  </tr>
                                </ng-container>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>

        <div class="paginator">
          <div>
            <span style="font-size: 12px">Items Per Page:</span>&nbsp;
            <select
              id="itemsPerPage"
              [(ngModel)]="pageLimit"
              (change)="onPageSizeSelect()"
              style="
                font-size: 12px;
                width: 60px;
                background: #e6f4fa;
                height: 40px;
                border-radius: 5px;
                border: none;
              "
            >
              <option *ngFor="let size of pageSizes" [value]="size">
                {{ size }}
              </option>
            </select>
          </div>
          <div class="pagination-text" style="font-size: 12px">
            Page <span id="currentPage">{{ pageNumber }}</span>
          </div>
          <div class="pagination-icons">
            <app-feather-icons
              [icon]="'chevron-left'"
              (click)="prevPageClick()"
              [class]="'color-black'"
            ></app-feather-icons>
            <app-feather-icons
              [icon]="'chevron-right'"
              [class]="'color-black'"
              (click)="nextPageClick()"
            ></app-feather-icons>
          </div>
          <div class="loading-indicator" *ngIf="isLoading"></div>
        </div>
      </div>
    </div>
  </div>
</section>
