.new-events {
  display: flex;
  padding: 20px;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
  background: white;
}

.p-header {
  color: var(--grey-900, #212121);
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 136.842% */
  padding-bottom: 8px;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #e6f4fa !important;
}

.file-container {
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  align-items: center;
}

.hline {
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
  padding: 0px;
  margin: 0;
}

.mat-mdc-raised-button:not(:disabled) {
  height: 48px;
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  border: 1.6px solid var(--blue-800, #3d79a9);
  background: var(--blue-50, #e6f4fa);
  color: var(--blue-800, #3d79a9);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}
.button-container {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  align-items: center;
  margin-top: 30px;
}
.preview {
  width: auto;
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  border: 1.6px solid var(--blue-800, #3d79a9);
  background: var(--blue-50, #e6f4fa);
  color: var(--blue-800, #3d79a9);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}
.send {
  width: auto;
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: none;
  background: var(--blue-800, #3d79a9);
  color: var(--grey-0, #fff);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

.status-text p {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  color: #212121;
}

// event preview
.preview-overlay {
  width: 100%;
  height: 300%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.preview-container {
  display: flex;
  flex-direction: column;
  //   padding: 20px;
  width: 360px;
  height: 482px;
  background-color: white;
  border-radius: 8px;
}
.preview-container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  width: 100%;
  border-bottom: 1px solid var(--grey-300, #e0e0e0);
  padding: 16px 20px;
}

.preview-container .header .eventHeader {
  height: 26px;
  color: var(--grey-900, #212121);
  font-family: Mukta;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}
.preview-container .header button {
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
}
.preview-container .header .bi {
  font-size: 20px;
  display: inline-block;
  height: 20px;
  color: #2c5a88;
}

.preview-container .body {
  height: 360px;
  width: 360px;
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 8px;
  background: #fff;
}
.preview-container .body .file {
  width: 328px;
  height: 164px;
  border-radius: 8px;
  //   background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.preview-container .body .eventDetails {
  height: 84px auto;
  width: 328px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  margin: 0;
}
.preview-container .body .eventName {
  height: 26px auto;
  width: 157px auto;
  color: var(--grey-900, #212121);
  /* l b */
  font-family: Mukta;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
}
.preview-container .body .eventDescription {
  width: 328px auto;
  color: var(--m-3-ref-neutral-neutral-35, #505354);
  /* s */
  font-family: Mukta;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  max-height: 50px; /* Set a maximum height for the description container */
  overflow-y: auto; /* Enable vertical scrolling for content exceeding the container height */
}
.description {
  cursor: pointer;
  text-decoration: none;
  white-space: normal; /* Allow text to wrap within the container */
}

.preview-container .body .datetime {
  width: 266px;
  height: 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.preview-container .body .date {
  height: 18px auto;
  width: 68px auto;
  color: var(--blue-900, #2c5a88);
  /* s b */
  font-family: Mukta;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.preview-container .body .time {
  height: 18px auto;
  width: 114px auto;
  color: var(--blue-900, #2c5a88);
  /* s b */
  font-family: Mukta;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
.preview-container .body .location {
  height: 18px auto;
  width: 250px auto;
  color: var(--blue-900, #2c5a88);
  /* s b */
  font-family: Mukta;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  gap: 2px;
}

.preview-container .body .alternate-text {
  color: red;
  font-weight: bold;
}

.preview-container .footer {
  height: 66px;
  width: 100%;
  display: flex;
  padding: 12px 20px;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-top: 1px solid var(--grey-300, #e0e0e0);
  background: #fff;
  border-radius: 0px 0px 8px 8px;
}
.preview-container .footer .send {
  height: 42px;
  width: 67px;
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--blue-800, #3d79a9);
  color: var(--grey-0, #fff);
  text-align: center;
  /* m b */
  font-family: Mukta;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}

// live events section started

.live-events-container {
  width: 100%;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  border-radius: 8px;
  background: var(--grey-0, #fff);
}

.live-events {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.carousel-control-prev,
.carousel-control-next {
  z-index: 0; /* Set a lower z-index to make the controls appear in the background */
}
// carousel

.live-events-container {
  width: 100%;
}

.live-events-container .carousel {
  width: 360px;
  height: 400px;
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 8px;
  border: 1px solid var(--grey-300, #e0e0e0);
  background: #fff;
}
.live-events-container .card-section {
  gap: 16px;
  margin: 0 auto;
}
.live-events-container .card-section .top-details {
  width: 100%;
  display: flex;
  padding: 8px 16px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 8px;
  background: var(--grey-50, #fafafa);
}
.live-events-container .card-section .top-details .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.live-events-container .card-section .top-details .column .name {
  color: var(--grey-900, #212121);
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  padding: 0;
}
.live-events-container .card-section .top-details .column .number {
  color: var(--grey-900, #212121);
  text-align: center;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
  padding: 0;
}
.live-events-container .card-section .card-img img {
  width: 328px;
  height: 164px;
  border-radius: 8px;
}

.live-events-container .card-section .bottom-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.live-events-container .card-section .bottom-details .title {
  color: var(--grey-900, #212121);
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}
.live-events-container .card-section .bottom-details .description {
  color: var(--m-3-ref-neutral-neutral-35, #505354);
  text-align: left;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.live-events-container .card-section .bottom-details .datetime {
  display: flex;
  gap: 8px;
}
.live-events-container .card-section .bottom-details .datetime p {
  color: var(--blue-900, #2c5a88);
  text-align: left;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
.live-events-container .card-section .bottom-details .location {
  color: var(--blue-900, #2c5a88);
  text-align: left;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
.live-events-container .card-section .bottom-details .buttons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}
.live-events-container .card-section .buttons .update {
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex: 1 0 0;
  border-radius: 8px;
  border: 1.6px solid var(--blue-800, #3d79a9);
  background: var(--blue-50, #e6f4fa);
  color: var(--blue-800, #3d79a9);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}
.live-events-container .card-section .bottom-details .buttons .delete {
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex: 1 0 0;
  border-radius: 8px;
  border: 1.6px solid var(--red-800, #b93830);
  background: var(--red-50, #fcecee);
  color: var(--red-800, #b93830);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}
.arrow {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

/* medium and up screens */
@media (min-width: 768px) {
  .live-events-container .carousel-item-end.active,
  .live-events-container .carousel-item-next {
    transform: translateX(5%);
  }
  .live-events-container .carousel-item-start.active,
  .carousel-item-prev {
    transform: translateX(-5%);
  }
}
.live-events-container .carousel-item-end,
.live-events-container .carousel-item-start {
  transform: translateX(0);
}
.live-events-container .card-section .controls-container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.live-events-container .card-section .controls-container .controls {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.live-events-container .carousel-control-next,
.live-events-container .carousel-control-prev {
  position: relative;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  // height: 50px;
  background-color: green;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: 1;
  transition: opacity 0.35s ease;
}
.live-events-container .carousel-control-next:hover,
.live-events-container .carousel-control-prev:hover {
  opacity: 1;
}
.live-events-container .carousel-control-next-icon {
  background-image: url(../../assets/usedimg/right.png);
}
.live-events-container .carousel-control-prev-icon {
  background-image: url(../../assets/usedimg/left.png);
}
.live-events-container .carousel-control-next-icon,
.live-events-container .carousel-control-prev-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}
