<section class="content pb-3">
  <div class="new-events">
    <div class="p-0 m-0 p-header">Create New Event for Farmers</div>
    <hr class="hline" />
    <div class="basic-details">
      <div class="p-header">Basic Details</div>
      <form [formGroup]="eventForm">
        <div class="row">
          <!-- Name of the Event -->
          <div class="col-md-4">
            <mat-form-field class="example-full-width">
              <input
                matInput
                placeholder="Name of the Event"
                formControlName="event_name"
              />
            </mat-form-field>
          </div>

          <!-- Location -->
          <div class="col-md-8">
            <mat-form-field class="example-full-width">
              <mat-label>Location</mat-label>
              <!-- <input
                matInput
                placeholder="Location"
                formControlName="location_ref_id"
              /> -->
              <!-- <mat-icon matSuffix>location_on</mat-icon> -->

              <mat-select formControlName="location_ref_id">
                <mat-select-filter
                  [placeholder]="'Search'"
                  [displayMember]="'key'"
                  [array]="location"
                  (filteredReturn)="filterlocation = $event"
                ></mat-select-filter>
                <mat-option
                  [value]="obj.id"
                  *ngFor="let obj of filterlocation"
                  >{{ obj.key }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <!-- Date -->
          <div class="col-md-4">
            <mat-form-field class="example-full-width">
              <mat-label>Date</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                placeholder="Date"
                formControlName="event_date"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

          <!-- Start Time -->
          <div class="col-md-4">
            <!-- <mat-form-field class="example-full-width">
              <mat-label>Start Time</mat-label>
              <input
                matInput
                placeholder="Start Time"
                formControlName="event_start_time"
                matTimepicker
              />
              <mat-icon matSuffix>access_time</mat-icon>
            </mat-form-field> -->
            <mat-form-field class="example-full-width mb-3">
              <mat-label>Start Time</mat-label>
              <input
                matInput
                formControlName="event_start_time"
                [owlDateTimeTrigger]="time1"
                [owlDateTime]="time1"
                required
              />
              <mat-icon matSuffix [owlDateTimeTrigger]="time1" class="date-icon"
                >schedule</mat-icon
              >
              <owl-date-time [pickerType]="'timer'" #time1></owl-date-time>
            </mat-form-field>
          </div>

          <!-- End Time -->
          <div class="col-md-4">
            <!-- <mat-form-field class="example-full-width">
              <mat-label>End Time</mat-label>
              <input
                matInput
                placeholder="End Time"
                formControlName="event_end_time"
                matTimepicker
              />
              <mat-icon matSuffix>access_time</mat-icon>
            </mat-form-field> -->
            <mat-form-field class="example-full-width mb-3">
              <mat-label>End Time</mat-label>
              <input
                matInput
                formControlName="event_end_time"
                [owlDateTimeTrigger]="time2"
                [owlDateTime]="time2"
                required
              />
              <mat-icon matSuffix [owlDateTimeTrigger]="time2" class="date-icon"
                >schedule</mat-icon
              >
              <owl-date-time [pickerType]="'timer'" #time2></owl-date-time>
            </mat-form-field>
          </div>
        </div>

        <!-- Description of Event (Text Area) -->
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="example-full-width">
              <mat-label>Description of Event</mat-label>
              <textarea
                matInput
                placeholder="Description of Event"
                formControlName="event_description"
                rows="3"
              ></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <ng-container *ngIf="!submitBtn">
              <div style="margin-left: 10px">
                <button
                  *ngIf="previewImage1"
                  (click)="openImage(lrAttachmentUrl)"
                >
                  Download<mat-icon>download</mat-icon>
                </button>
              </div>
            </ng-container>
            <div class="big-model" *ngIf="submitBtn">
              <div class="body">
                <div class="d-flex">
                  <label class="custom-file-upload mx-8">
                    <div class="file-container">
                      <div class="btn-container">
                        <button
                          type="button"
                          mat-raised-button
                          (click)="fileInput.click()"
                        >
                          Choose File<i style="color: red">*</i>
                          <br />
                        </button>
                        <input
                          hidden
                          (change)="onFileSelected($event)"
                          #fileInput
                          type="file"
                          id="file"
                          accept=".png, .jpg, .pdf"
                        />
                      </div>
                    </div>
                  </label>
                  <div class="status-text">
                    <div>
                      <div class="intraction-container">
                        <p class="file-upload-text m-0 p-0">
                          <span *ngIf="!previewImage1 && !previewImageType1"
                            >No File Uploaded</span
                          >
                          <span *ngIf="previewImage1 && previewImageType1">{{
                            fileName
                          }}</span>
                        </p>
                        <div class="intraction">
                          <button
                            *ngIf="previewImage1 && previewImageType1"
                            (click)="openImage(lrAttachmentUrl)"
                          >
                            View
                          </button>
                          <span
                            class="vline"
                            *ngIf="previewImage1 && previewImageType1"
                          ></span>
                          <button
                            *ngIf="previewImage1 && previewImageType1"
                            (click)="removeImage()"
                          >
                            Remove
                          </button>
                        </div>
                      </div>
                    </div>

                    <p class="m-0 status-para p-0">
                      <span class="added" *ngIf="fileName"
                        >File uploaded successfully</span
                      >
                      <span *ngIf="!fileName"
                        >Formats allowed: .png, .jpg, .pdf</span
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr class="hline" />

        <div class="mt-3 p-header">Target Audience</div>
        <div class="col-md-12">
          <mat-form-field class="example-full-width">
            <mat-label>Select FPC</mat-label>

            <mat-select
              formControlName="fpc_ref_id"
              (selectionChange)="FPCNameChange($event)"
            >
              <mat-select-filter
                [placeholder]="'Search'"
                [displayMember]="'tenant_name'"
                [array]="FPCData"
                (filteredReturn)="filterFPCData = $event"
              ></mat-select-filter>
              <mat-option [value]="obj.id" *ngFor="let obj of filterFPCData">{{
                obj.tenant_name
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row">
          <div class="col-md-4">
            <mat-form-field class="example-full-width">
              <mat-label>District</mat-label>
              <mat-select
                formControlName="district_ref_id"
                (selectionChange)="DistrictNameChange($event)"
              >
                <mat-option [value]="obj.id" *ngFor="let obj of districtData">{{
                  obj.district_name
                }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="example-full-width">
              <mat-label>Taluka</mat-label>
              <mat-select formControlName="taluka_ref_id">
                <mat-option [value]="obj.id" *ngFor="let obj of talukadata">{{
                  obj.sub_district_name
                }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="example-full-width">
              <mat-label>Pincode</mat-label>
              <input
                matInput
                placeholder="Pincode"
                formControlName="pin_code"
              />
            </mat-form-field>
          </div>
        </div>
        <hr class="hline" />
        <div class="mt-3 p-header">Organiser Details (Optional)</div>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="example-full-width">
              <mat-label>Name of the Organizer</mat-label>
              <input
                matInput
                placeholder="Name of the Organizer"
                formControlName="organiser_details"
              />
            </mat-form-field>
          </div>
        </div>
        <hr class="hline" />
        <div class="row button-container">
          <button class="preview" (click)="openPreviewDialog()">
            View Preview
          </button>
          <button class="send" (click)="Onsubmit()">{{ btnVal }}</button>
        </div>
      </form>
    </div>
  </div>

  <!-- dialog  -->

  <div *ngIf="isPreviewOpen" class="preview-overlay">
    <div class="preview-container">
      <div class="header">
        <div class="eventHeader">Event Preview</div>
        <button (click)="closePreviewDialog()">
          <i class="bi bi-x-lg"></i>
        </button>
      </div>

      <div class="body">
        <div *ngIf="selectedFile">
          <img [src]="previewImage1" class="file" />
        </div>
        <div *ngIf="!selectedFile">
          <img src="assets/usedimg/alternateEvent.png" class="file" />
        </div>

        <div class="eventDetails">
          <div class="eventName">
            <span
              [ngClass]="{
                'alternate-text': !eventForm.get('event_name').value
              }"
            >
              {{
                eventForm.get("event_name").value ||
                  "Please enter name of the Event"
              }}
            </span>
          </div>
          <div class="eventDescription">
            <div
              class="description"
              [ngClass]="{
                'alternate-text': !eventForm.get('event_description').value
              }"
            >
              {{
                eventForm.get("event_description").value ||
                  "Please enter the description of the Event"
              }}
            </div>
          </div>
        </div>
        <div class="datetime">
          <div class="date">
            <i class="bi bi-calendar"></i>
            <span
              [ngClass]="{
                'alternate-text': !eventForm.get('event_date').value
              }"
            >
              {{
                (eventForm.get("event_date").value | date : "dd MMM yyyy") ||
                  "Enter Date"
              }}
            </span>
            <i class="bi bi-clock"></i>
            <span
              [ngClass]="{
                'alternate-text': !eventForm.get('event_start_time').value
              }"
            >
              {{
                (eventForm.get("event_start_time").value | date : "h:mm a") ||
                  "Enter Start Time"
              }}
            </span>
            -
            <span
              [ngClass]="{
                'alternate-text': !eventForm.get('event_end_time').value
              }"
            >
              {{
                (eventForm.get("event_end_time").value | date : "h:mm a") ||
                  "Enter End Time"
              }}
            </span>
          </div>
          <div class="location">
            <i class="bi bi-geo-alt"></i
            ><span
              [ngClass]="{
                'alternate-text': !eventForm.get('location_ref_id').value
              }"
              >{{
                eventForm.get("location_name").value ||
                  "Please enter the location of the Event"
              }}
            </span>
          </div>
        </div>
      </div>
      <div class="footer">
        <button *ngIf="allFieldsFilled()" class="send">Send</button>
      </div>
    </div>
  </div>

  <!-- live events -->

  <div class="live-events-container mt-3">
    <div class="card-section">
      <div
        class="controls-container d-flex align-items-center justify-content-between mb-3"
      >
        <p class="p-0 m-0 w-auto">Live Events</p>
        <div class="controls d-flex gap-2">
          <div class="left_click">
            <button class="arrow" (click)="leftClick()">
              <img src="assets/usedimg/left.png" alt="" />
            </button>
          </div>
          <div class="right_click">
            <button class="arrow" (click)="rightClick()">
              <img src="assets/usedimg/right.png" alt="" />
            </button>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row position-relative gap-2">
          <div class="carousel" *ngFor="let event of mediator">
            <!-- <div class="top-details">
              <div class="column">
                <p class="name">Farmers Accepted</p>
                <p class="number">
                  {{ event.farmers_accepted }} /
                  {{ event.total_farmers }}
                </p>
              </div>
              <div class="column">
                <p class="name">No. of FPCs</p>
                <p class="number">{{ event.fpc }}</p>
              </div>
              <div class="column">
                <p class="name">Districts</p>
                <p class="number">{{ event.districts }}</p>
              </div>
            </div> -->

            <div class="card-img">
              <img [src]="event.img" class="img-fluid" />
            </div>
            <div class="bottom-details w-100">
              <p class="title">{{ event.event_name }}</p>
              <div class="datetime">
                <p class="date">
                  <i class="bi bi-calendar"></i> {{ event.event_date }}
                </p>
                <p class="time"></p>
              </div>
              <p class="location">
                <i class="bi bi-geo-alt"></i>
                {{ event.location_name }}
              </p>
              <!-- <p class="location">
                <i class="bi bi-geo-alt"></i>
                Saraswati Hr. Sec. School, Jhanda chok, Kannod
              </p> -->
              <div class="buttons">
                <button class="update" (click)="UpdateEvent(event)">
                  Update
                </button>
                <button class="delete" (click)="deleteEvent(event.id)">
                  Delete
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
