<div class="edit_pop_up override_edit_pop_up">
  <div class="big-model">
    <div class="header">
      <p>{{ screenName }}</p>
      <button (click)="onCancelForm()">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
    <div class="body overflow_model">
      <div class="details-form">
        <form [formGroup]="roleForm" (ngSubmit)="onSubmit()">
          <div class="personal">
            <div class="row d-flex">
              <div>
                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <mat-label>Role</mat-label>
                    <input
                      matInput
                      formControlName="role_name"
                      placeholder="Role"
                      type="text"
                      required
                    />
                    <mat-error
                      *ngIf="
                        roleForm.controls['role_name'].hasError('required')
                      "
                      >Role Name is Required.</mat-error
                    >
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="footer">
              <div class="left">
                <button class="cancel" (click)="onCancelForm()">Cancel</button>
              </div>
              <div class="right d-flex">
                <button
                  class="send"
                  *ngIf="submitBtn && showReset"
                  (click)="onResetForm()"
                  [disabled]="showLoader"
                >
                  Reset
                </button>
                <button
                  class="submit"
                  type="submit"
                  *ngIf="submitBtn"
                  [disabled]="showLoader"
                  (click)="onSubmit()"
                >
                  {{ btnVal }}
                  <i class="fa fa-spinner fa-spin" *ngIf="showLoader"></i>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
