<section class="content">
  <div class="approval-container">
    <div class="header">
      <p>
        <strong>{{ screenName }}</strong>
      </p>
      <div class="approval-form">
        <form action="" [formGroup]="myForm">
          <div class="row">
            <div class="col-md-3">
              <mat-form-field class="example-full-width">
                <mat-label for="from_date"></mat-label>
                <input
                  matInput
                  [matDatepicker]="from_date"
                  placeholder="Date"
                  formControlName="date"
                  id="from_date"
                  [(ngModel)]="currentDate"
                  (dateChange)="onSubmit()"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="from_date"
                ></mat-datepicker-toggle>
                <mat-datepicker #from_date></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="body">
      <div class="top">
        <div class="search">
          <i class="bi bi-search"></i>
          <input
            type="text"
            placeholder="Search in table"
            name=""
            id=""
            (input)="searchField($event)"
          />
        </div>
        <button (click)="exportExcel()">
          <img src="assets/usedimg/excel_icon.png" alt="" /> Download Excel
        </button>
      </div>
      <div>
        <div class="data_table">
          <table>
            <tr>
              <th>Sr. No</th>
              <th>Account Name</th>
              <th>
                Account <br />
                Description
              </th>
              <th>
                Opening <br />
                Balance (Dr.)
              </th>
              <th>
                Opening <br />
                Balance (Cr.)
              </th>
              <th>
                Transactions <br />
                (Dr.)
              </th>
              <th>
                Transactions <br />
                (Cr.)
              </th>
              <th>
                Closing <br />
                Balance (Dr.)
              </th>
              <th>
                Closing <br />
                Balance (Cr.)
              </th>
            </tr>
            <tr *ngFor="let dynamic of trialReportData; let i = index">
              <td style="color: #212121; font-size: 14px">
                {{ (pageNumber - 1) * pageLimit + i + 1 }}
              </td>
              <td>{{ dynamic.name }}</td>
              <td>{{ dynamic.account_description }}</td>
              <td>
                {{ dynamic.opening_balance_debit }}
              </td>
              <td>
                {{ dynamic.opening_balance_credit }}
              </td>
              <td>
                {{ dynamic.transactions_debit }}
              </td>
              <td>
                {{ dynamic.transactions_credit }}
              </td>
              <td>
                {{ dynamic.closing_balance_debit }}
              </td>
              <td>
                {{ dynamic.closing_balance_credit }}
              </td>
            </tr>
          </table>
          <!-- <div class="paginator">
            <div>
              <span>Items Per Page &nbsp;</span>
              <select
                id="itemsPerPage"
                [(ngModel)]="pageLimit"
                (change)="onPageSizeSelect()"
              >
                <option *ngFor="let size of pageSizes" [value]="size">
                  {{ size }}
                </option>
              </select>
            </div>
            <div class="pagination-text">
              Page <span id="currentPage">{{ pageNumber }}</span>
            </div>
            <div class="pagination-icons">
              <span
                id="prevPage"
                (click)="prevPageClick()"
                *ngIf="!isPreviousClickDisable"
                >&#60;</span
              >
              &nbsp;
              <span
                id="nextPage"
                (click)="nextPageClick()"
                *ngIf="!isNextClickDisable"
                >&#62;</span
              >
            </div>
            <div class="loading-indicator" *ngIf="isLoading"></div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
