<section class="content">
  <div class="approval-container">
    <div class="header">
      <p>
        <strong>{{ screenName }}</strong>
      </p>
      <div class="approval-form">
        <form
          [formGroup]="supplierBillForm"
          (ngSubmit)="seerachData()"
          *ngIf="listDiv === false"
        >
          <div class="row d-flex">
            <div class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2">
              <mat-form-field class="example-full-width">
                <mat-label>Supplier Name</mat-label>
                <mat-select formControlName="supplier_id">
                  <mat-option
                    *ngFor="let obj of supplierData"
                    [value]="obj.id"
                    >{{ obj.key }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2">
              <mat-form-field class="example-full-width">
                <mat-label>From Date</mat-label>
                <input
                  matInput
                  [matDatepicker]="from_date"
                  id="from_date"
                  placeholder="From Date"
                  formControlName="from_date"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="from_date"
                ></mat-datepicker-toggle>
                <mat-datepicker #from_date></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2">
              <mat-form-field class="example-full-width">
                <mat-label>To Date</mat-label>
                <input
                  matInput
                  [matDatepicker]="to_date"
                  id="to_date"
                  placeholder="To Date"
                  formControlName="to_date"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="to_date"
                ></mat-datepicker-toggle>
                <mat-datepicker #to_date></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="row d-flex">
            <div class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2">
              <mat-form-field class="example-full-width">
                <mat-label>Payment Status</mat-label>
                <mat-select formControlName="payment_status">
                  <mat-option *ngFor="let obj of paymentData" [value]="obj">{{
                    obj
                  }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row m-0 button-container">
            <button
              class="apply"
              color="primary"
              type="submit"
              *ngIf="submitBtn"
              [disabled]="showLoader"
              name="submit"
              value="Submit"
            >
              Search
              <i class="fa fa-spinner fa-spin" *ngIf="showLoader"></i>
            </button>
            <button
              class="clear"
              type="button"
              *ngIf="submitBtn"
              (click)="onResetForm()"
              [disabled]="showLoader"
            >
              Reset
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="body" [hidden]="listDiv">
      <div class="top">
        <div class="search">
          <i class="bi bi-search"></i>
          <input
            placeholder="Search"
            type="text"
            #filter
            class="browser-default search-field"
            aria-label="Search box"
          />
        </div>
        <div class="m-l-10" matTooltip="REFRESH">
          <button
            mat-mini-fab
            class="btn btn-primary small-button"
            style="background-color: #2c5a88 !important"
            (click)="refresh()"
          >
            <mat-icon class="col-white">refresh</mat-icon>
          </button>
        </div>
        <button (click)="exportExcel()">
          <img src="assets/usedimg/excel_icon.png" alt="" /> Download Excel
        </button>
      </div>

      <div class="data_table pb-2" [hidden]="listDiv">
        <div class="responsive_table">
          <table
            mat-table
            #table
            [dataSource]="dataSource"
            matSort
            class="mat-cell"
          >
            <ng-container matColumnDef="actions">
              <mat-header-cell
                *matHeaderCellDef
                style="background: var(--grey-100, #f5f5f5)"
                ><strong>Actions</strong></mat-header-cell
              >
              <mat-cell *matCellDef="let row">
                <!-- <button
        *ngIf="sidebarData.read_access == 'Y'"
        class="btn tblActnBtn h-auto"
        (click)="editViewRecord(row, false)"
        matTooltip="VIEW"
        >
        <em class="material-icons">visibility</em>
        </button> -->
                <button
                  class="btn tblActnBtn h-auto"
                  (click)="printInvoice(row.id)"
                  matTooltip="PRINT"
                >
                  <i class="bi bi-printer"></i>
                </button>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="transaction_date">
              <mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                style="background: var(--grey-100, #f5f5f5)"
                ><strong>Date</strong>
              </mat-header-cell>
              <mat-cell
                *matCellDef="let row"
                (contextmenu)="onContextMenu($event, row)"
              >
                <span class="mobile-label">Date:</span
                >{{ row.transaction_date | date : "dd/MM/yyyy" }}</mat-cell
              >
            </ng-container>

            <ng-container matColumnDef="bill_number">
              <mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                style="background: var(--grey-100, #f5f5f5)"
                ><strong>Bill Number</strong>
              </mat-header-cell>
              <mat-cell
                *matCellDef="let row"
                (contextmenu)="onContextMenu($event, row)"
              >
                <span class="mobile-label">Bill Number:</span
                >{{ row.transaction_ref_no }}</mat-cell
              >
            </ng-container>

            <ng-container matColumnDef="supplier_name">
              <mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                style="background: var(--grey-100, #f5f5f5)"
                ><strong>Supplier Name</strong>
              </mat-header-cell>
              <mat-cell
                *matCellDef="let row"
                (contextmenu)="onContextMenu($event, row)"
              >
                <span class="mobile-label">Supplier Name:</span
                >{{ row.supplier_name }}</mat-cell
              >
            </ng-container>
            <ng-container matColumnDef="supplier_type">
              <mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                style="background: var(--grey-100, #f5f5f5)"
                ><strong>Supplier Type</strong>
              </mat-header-cell>
              <mat-cell
                *matCellDef="let row"
                (contextmenu)="onContextMenu($event, row)"
              >
                <span class="mobile-label">Supplier Type:</span
                >{{ row.ref_type }}</mat-cell
              >
            </ng-container>

            <ng-container matColumnDef="quantity">
              <mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                style="background: var(--grey-100, #f5f5f5)"
                ><strong>Net Quantity</strong>
              </mat-header-cell>
              <mat-cell
                *matCellDef="let row"
                (contextmenu)="onContextMenu($event, row)"
              >
                <span class="mobile-label">Net Quantity:</span
                >{{ row.quantity }}</mat-cell
              >
            </ng-container>

            <ng-container matColumnDef="total_transaction_amount">
              <mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                style="background: var(--grey-100, #f5f5f5)"
                ><strong>Transaction Amount</strong>
              </mat-header-cell>
              <mat-cell
                *matCellDef="let row"
                (contextmenu)="onContextMenu($event, row)"
              >
                <span class="mobile-label">Transaction Amount:</span
                >{{ row.total_transaction_amount | number }}</mat-cell
              >
            </ng-container>

            <ng-container matColumnDef="payment_status">
              <mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                style="background: var(--grey-100, #f5f5f5)"
                ><strong>Payment Status</strong></mat-header-cell
              >
              <mat-cell
                *matCellDef="let row"
                (contextmenu)="onContextMenu($event, row)"
              >
                <span class="mobile-label">Payment Status:</span>
                {{ row.payment_status }}
              </mat-cell>
            </ng-container>

            <mat-header-row
              *matHeaderRowDef="displayedColumns"
            ></mat-header-row>
            <mat-row
              *matRowDef="let row; columns: displayedColumns"
              [style.cursor]="'pointer'"
              matRipple
            ></mat-row>
          </table>

          <div
            *ngIf="!exampleDatabase?.isTblLoading"
            class="no-results"
            [style.display]="dataSource.renderedData.length === 0 ? '' : 'none'"
          >
            No results
          </div>
          <mat-paginator
            #paginator
            showFirstLastButtons
            [length]="dataSource.filteredData.length"
            [pageIndex]="0"
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25]"
            aria-label="Select page of periodic elements"
          >
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</section>
