<div class="edit_pop_up">
  <div class="big-model">
    <div class="header">
      <p>{{ screenName }}</p>
      <button (click)="onCancelForm()">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
    <div class="body overflow_model">
      <div class="details-form">
        <form [formGroup]="lotForm">
          <div class="personal">
            <div class="row d-flex">
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Sales Order</mat-label>
                  <mat-select
                    formControlName="so_ref_id"
                    (selectionChange)="SalesOrderChnage($event.value)"
                    required
                  >
                    <mat-option [value]="">Select Sales Order</mat-option>
                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of saleddata"
                      >{{ obj.key }}</mat-option
                    >
                  </mat-select>
                  <mat-error
                    *ngIf="lotForm.controls['so_ref_id'].hasError('required')"
                    >Receipt Type Required.</mat-error
                  >
                </mat-form-field>
              </div>
              <div
                class="col-md-3"
                matTooltip="This will be filled automatically"
              >
                <mat-form-field class="example-full-width">
                  <mat-label>LOT Quantity</mat-label>
                  <input
                    matInput
                    formControlName="quantity"
                    type="Number"
                    step="0.0001"
                    min="0"
                    oninput="validity.valid||(value='');"
                    inputTrim
                    readonly
                  />
                </mat-form-field>
              </div>
            </div>
            <div class="header accordian">
              <p class="fas fa-angle-down example-accordion-item-description">
                <strong>Lot Creation Details<span> </span></strong>
              </p>
            </div>
            <div class="card">
              <div class="body">
                <div class="row clearfix">
                  <div class="table-responsive" formArrayName="lot_details">
                    <table
                      id="tableExport1"
                      class="display table table-hover table-checkable order-column m-t-10 width-per-100 table-bordered"
                    >
                      <thead>
                        <tr>
                          <th
                            style="text-align: center"
                            *ngIf="DisabledCheckbox"
                          >
                            <ng-container *ngIf="!checkAllProcess"
                              >Check All</ng-container
                            >

                            <ng-container *ngIf="checkAllProcess"
                              >Uncheck All</ng-container
                            >
                            <mat-checkbox
                              type="checkbox"
                              (change)="checkAll()"
                              [checked]="checkAllProcess"
                            ></mat-checkbox>
                          </th>
                          <th style="text-align: center">Farmer Name</th>
                          <th style="text-align: center">Purchase Quantity</th>
                          <th style="text-align: center">
                            Allocation Quantity
                          </th>
                        </tr>
                      </thead>

                      <tbody class="main_tbody" *ngIf="ShowGrid">
                        <tr
                          *ngFor="
                            let dynamic of formArray['controls'];
                            let i = index
                          "
                          [formGroupName]="i"
                        >
                          <td
                            style="text-align: center"
                            *ngIf="DisabledCheckbox"
                          >
                            <mat-checkbox
                              type="checkbox"
                              [checked]="
                                lotForm.value['lot_details'][i]['isChecked']
                              "
                              (change)="toggle($event, i)"
                            ></mat-checkbox>
                          </td>

                          <td class="col_input">
                            <div
                              class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                            >
                              {{
                                formArray.controls[i].get("farmer_ref_id")
                                  ?.value
                              }}

                              <mat-form-field
                                class="example-full-width"
                                [hidden]="true"
                                readonly
                              >
                                <mat-label>Farmer Name</mat-label>
                                <input
                                  matInput
                                  formControlName="farmer_ref_id"
                                  id="farmer_ref_id{{ i + 1 }}"
                                />
                              </mat-form-field>
                            </div>
                          </td>

                          <td class="col_input">
                            <div
                              class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                            >
                              {{
                                formArray.controls[i].get("purchase_qty")?.value
                              }}

                              <mat-form-field
                                class="example-full-width"
                                [hidden]="true"
                                readonly
                              >
                                <input
                                  matInput
                                  formControlName="purchase_qty"
                                  id="purchase_qty{{ i + 1 }}"
                                />
                              </mat-form-field>
                            </div>
                          </td>

                          <td class="col_input">
                            <mat-form-field class="example-full-width">
                              <input
                                matInput
                                id="allocation_qty{{ i + 1 }}"
                                formControlName="allocation_qty"
                                type="Number"
                                step="0.01"
                                min="0"
                                oninput="validity.valid||(value='');"
                              />
                            </mat-form-field>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
