.readonly-input {
  color: #333; /* Change the color to the desired text color */
  /* Add any other styles you want to customize the appearance */
}

.readonly-input1 {
  color: #333; //* Add any other styles you want to customize the appearance */
  border: 1px solid #ccc;
}
.edit_pop_up {
  height: 100%;
  position: fixed;
}

.overflow_model {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}
