.dialog-header {
	display: flex;
	justify-content: space-between;
	// align-items: center;
	margin-left: 0px;
	margin-right: 15px;
  }
  
  .dialog-title {
	margin-right: 10px;
  }
  .card {
	.body {
		padding: 0px;
	}
  }