<div mat-dialog-title>
  <div class="dialog-header">
    <span class="dialog-title">Product Details</span>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<mat-dialog-content>
  <div class="card">
    <div class="body">
      <div class="row clearfix">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Select Item</mat-label>
            <mat-select
              formControlName="route_ref_id"
              (selectionChange)="onChange($event)"
            >
              <mat-option [value]="type.id" *ngFor="let type of itemData">{{
                type.name
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Select Customer</mat-label>
            <mat-select
              formControlName="route_ref_id"
              (selectionChange)="onChange($event)"
            >
              <mat-option [value]="type.id" *ngFor="let type of customerData">{{
                type.key
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
