.container {
  max-width: 800px;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3 {
  text-align: center;
  margin: 10px 0;
}

table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 2px solid black;
  text-align: left;
  padding: 8px;
  font-size: 14px;
}

.right {
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}

.date-and-screen {
  display: flex;
  align-items: center;
}

.date-and-screen strong {
  margin-right: 10px;
}

.screen-name {
  font-size: 1.2em;
}

body {
  border: 1px solid black;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}
#printButtonContainer {
  margin-top: 20px;
}

@media print {
  #printButtonContainer {
    display: none;
  }

  .container {
    margin: 0;
    padding: 0;
    max-width: none;
    border: none;
  }

  // .container {
  //   display: flex;
  //   width: auto;
  //   min-height: 100vh;
  //   max-width: 800px;
  //   padding: 20px;
  //   border: 1px solid #ccc;
  //   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  //   box-sizing: border-box;
  //   margin: auto;
  // }

  // .footerr {
  //   position: bottom;
  //   bottom: 0;
  //   width: 100%;
  // }

  h1,
  h2,
  h3 {
    text-align: center;
    margin: 0;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  td,
  th {
    border: 2px solid black;
    text-align: left;
    padding: 8px;
    font-size: 14px;
  }

  .right {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
  }

  .date-and-screen strong {
    margin-right: 10px;
  }
}
.table-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border: 1px solid #464545;
  width: 100%;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border: none;
  border-width: 0;
  border-style: none;
}

.bordered-table {
  border-collapse: collapse;
  width: 100%;
  height: 100px;
}

.bordered-table th,
.bordered-table td {
  border: 1px solid #000;
  padding: 8px;
  text-align: center;
}

.bordered-table th {
  background-color: #f0f0f0;
  font-weight: bold;
}

.table {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  border: 1px solid #000;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 1px;
  text-align: left;
  font-size: 14px;
}

th {
  font-weight: bold;
}

td {
  border: none;
}
.table-container .table table {
  height: 150px;
  width: fit-content;
  margin-left: 8px;
}
