<section
  class="content"
  id="component1"
  #epltable
  style="margin: 0px 18px 0 18px"
>
  <div class="container" style="border: 1px solid black">
    <div class="card" style="page-break-after: always">
      <div class="header">
        <img
          src="{{ previewImage1 }}"
          height="100"
          style="width: 100%"
          alt="background image"
          *ngIf="header_full_image"
        />

        <div style="height: 120px; position: relative" *ngIf="NotFullImage">
          <div style="top: 8px; left: 16px; position: absolute">
            <img
              src="{{ previewImage1 }}"
              height="50"
              width="300px"
              alt="background image"
              *ngIf="header_image_logo && header_text_top_left"
            />
          </div>
          <div style="top: 8px; right: 16px; position: absolute">
            <img
              src="{{ previewImage1 }}"
              height="50"
              width="300px"
              alt="background image"
              *ngIf="header_image_logo && header_text_top_right"
            />
          </div>
          <div style="top: 8px; left: 50%; position: absolute">
            <img
              src="{{ previewImage1 }}"
              height="50"
              width="300px"
              alt="background image"
              *ngIf="header_image_logo && header_text_top_center"
            />
          </div>
          <div style="bottom: 8px; right: 16px; position: absolute">
            <img
              src="{{ previewImage1 }}"
              height="50"
              width="300px"
              alt="background image"
              *ngIf="header_image_logo && header_text_bottom_right"
            />
          </div>
          <div style="bottom: 8px; left: 16px; position: absolute">
            <img
              src="{{ previewImage1 }}"
              height="50"
              width="300px"
              alt="background image"
              *ngIf="header_image_logo && header_text_bottom_left"
            />
          </div>
          <div style="bottom: 8px; left: 50%; position: absolute">
            <img
              src="{{ previewImage1 }}"
              height="50"
              width="300px"
              alt="background image"
              *ngIf="header_image_logo && header_text_bottom_center"
            />
          </div>
          <div style="top: 50%; left: 50%; position: absolute">
            <img
              src="{{ previewImage1 }}"
              height="50"
              width="300px"
              alt="background image"
              *ngIf="header_image_logo && header_text_center_center"
            />
          </div>
          <div style="top: 50%; left: 16px; position: absolute">
            <img
              src="{{ previewImage1 }}"
              height="50"
              width="300px"
              alt="background image"
              *ngIf="header_image_logo && header_text_center_left"
            />
          </div>
          <div style="top: 50%; right: 16px; position: absolute">
            <img
              src="{{ previewImage1 }}"
              height="50"
              width="300px"
              alt="background image"
              *ngIf="header_image_logo && header_text_center_right"
            />
          </div>

          <p
            style="
              width: 400px;
              word-break: break-all;
              bottom: 8px;
              right: 16px;
              position: absolute;
              font-weight: bold;
              text-align: right;
              font-size: 16px;
            "
            *ngIf="headeratextpplicable && bottom_right"
          >
            {{ headerText }}
          </p>
          <p
            style="
              width: 400px;
              word-break: break-all;
              bottom: 8px;
              left: 16px;
              position: absolute;
              font-weight: bold;
              font-size: 16px;
            "
            *ngIf="headeratextpplicable && bottom_left"
          >
            {{ headerText }}
          </p>
          <p
            style="
              width: 400px;
              word-break: break-all;
              bottom: 8px;
              left: 50%;
              transform: translateX(-50%);
              position: absolute;
              font-weight: bold;
              font-size: 16px;
            "
            *ngIf="headeratextpplicable && bottom_center"
          >
            {{ headerText }}
          </p>
          <p
            style="
              width: 400px;
              word-break: break-all;
              top: 50%;
              right: 16px;
              transform: translateY(-50%);
              position: absolute;
              font-weight: bold;
              font-size: 16px;
            "
            *ngIf="headeratextpplicable && center_right"
          >
            {{ headerText }}
          </p>
          <p
            style="
              width: 400px;
              word-break: break-all;
              top: 50%;
              left: 16px;
              transform: translateY(-50%);
              position: absolute;
              font-weight: bold;
              font-size: 16px;
            "
            *ngIf="headeratextpplicable && center_left"
          >
            {{ headerText }}
          </p>
          <p
            style="
              width: 400px;
              word-break: break-all;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              position: absolute;
              font-weight: bold;
              font-size: 16px;
              text-align: center;
            "
            *ngIf="headeratextpplicable && center_center"
          >
            {{ headerText }}
          </p>
          <p
            style="
              width: 400px;
              word-break: break-all;
              top: 8px;
              right: 16px;
              position: absolute;
              font-weight: bold;
              text-align: right;
              font-size: 16px;
            "
            *ngIf="headeratextpplicable && top_right"
          >
            {{ headerText }}
          </p>
          <p
            style="
              width: 400px;
              word-break: break-all;
              top: 8px;
              left: 16px;
              position: absolute;
              font-weight: bold;
              text-align: left;
              font-size: 16px;
            "
            *ngIf="headeratextpplicable && top_left"
          >
            {{ headerText }}
          </p>
          <!-- <p style="width: 400px; word-break: break-all; top: 8px; left: 50%; transform: translateX(-50%); position: absolute; font-weight: bold; font-size: 16px;" *ngIf='headeratextpplicable && top_center'>{{headerText}}</p> -->
          <p
            style="
              width: 400px;
              word-break: break-all;
              top: 8px;
              left: 50%;
              transform: translateX(-50%);
              position: absolute;
              font-weight: bold;
              font-size: 16px;
              text-align: center;
            "
            *ngIf="headeratextpplicable && top_center"
          >
            {{ headerText }}
          </p>
        </div>

        <hr style="border-top: 1px solid #000" *ngIf="headerapplicable" />
        <h4 style="text-align: center">
          <strong>{{ screenName }}</strong>
        </h4>

        <div class="body" class="over_flow">
          <div class="table-container">
            <div class="table">
              <table style="margin-left: 1px common-table">
                <tr>
                  <td>
                    <strong>Date:</strong>
                    {{ transaction_date | date : "dd/MM/yyyy" }}
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Gate Pass No : </strong> {{ transaction_ref_no }}
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Vehicle Token No : </strong>{{ vehicle_token_no }}
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Vehicle No : </strong>{{ vehicle_no | uppercase }}
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Supplier Address : </strong> {{ supplier_address }}
                  </td>
                </tr>
              </table>
            </div>
            <div class="table">
              <table style="margin-left: 1px common-table">
                <tr>
                  <td><strong>Supplier Name : </strong> {{ supplier_name }}</td>
                </tr>

                <tr>
                  <td><strong>Driver Name : </strong>{{ driver_name }}</td>
                </tr>
                <tr>
                  <td>
                    <strong>Driver Contact No:</strong>{{ driver_contact_no }}
                  </td>
                </tr>
                <tr>
                  <td><strong>Vehicle In Time : </strong>{{ in_time }}</td>
                </tr>
                <tr>
                  <td><strong>Out Time : </strong> {{ out_time }}</td>
                </tr>
              </table>
            </div>
          </div>
          <div>
            <div class="bordered-table-container">
              <table class="bordered-table common-table">
                <thead>
                  <tr>
                    <th>S.N.</th>
                    <th style="width: 50%">Item</th>
                    <th>UOM</th>
                    <th>No. of Bags</th>
                    <th>Quantity</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let itemData of itemDataList; let i = index">
                    <td style="border-bottom: 1px solid black">{{ i + 1 }}</td>
                    <td>{{ itemData.item_name }}</td>
                    <td style="text-align: center">{{ itemData.uom }}</td>
                    <td style="text-align: center">
                      {{ itemData.no_of_bags }}
                    </td>
                    <td style="text-align: center">{{ itemData.quantity }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <br />
          <br />
          <br />
          <br />
          <br />

          <div style="display: flex; align-items: center">
            <div style="width: 350px; padding-right: 10px">
              <hr style="border-top: 1px solid #000" />
              <b>Security Signature</b>
            </div>
            <div style="width: 20px"></div>
            <div style="width: 350px; padding-right: 10px">
              <hr style="border-top: 1px solid #000" />
              <b>Quality Checker Signature</b>
            </div>
            <div style="width: 20px"></div>
            <div style="width: 350px; padding-right: 10px">
              <hr style="border-top: 1px solid #000" />
              <b>Weight Checker Signature</b>
            </div>
          </div>
        </div>

        <hr style="border-top: 1px solid #000" *ngIf="footerapplicable" />
        <div class="footerr">
          <img
            width="100%"
            height="100"
            src="{{ previewImage2 }}"
            alt="background image"
            *ngIf="footer_full_image"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="footer" *ngIf="NotFullImageFooter">
    <div style="top: 8px; right: 16px; position: absolute">
      <img
        src="{{ previewImage2 }}"
        height="50"
        width="400px"
        alt="background image"
        *ngIf="footer_image_logo && footer_image_top_right"
      />
    </div>
    <div style="top: 8px; left: 16px; position: absolute">
      <img
        src="{{ previewImage2 }}"
        height="50"
        width="300px"
        alt="background image"
        *ngIf="footer_image_logo && footer_image_top_left"
      />
    </div>
    <div style="top: 8px; left: 50%; position: absolute">
      <img
        src="{{ previewImage2 }}"
        height="50"
        width="300px"
        alt="background image"
        *ngIf="footer_image_logo && footer_image_top_center"
      />
    </div>
    <div style="bottom: 8px; right: 16px; position: absolute">
      <img
        src="{{ previewImage2 }}"
        height="50"
        width="300px"
        alt="background image"
        *ngIf="footer_image_logo && footer_image_bottom_right"
      />
    </div>
    <div style="bottom: 8px; left: 16px; position: absolute">
      <img
        src="{{ previewImage2 }}"
        height="50"
        width="300px"
        alt="background image"
        *ngIf="footer_image_logo && footer_image_bottom_left"
      />
    </div>
    <div style="bottom: 8px; left: 50%; position: absolute">
      <img
        src="{{ previewImage2 }}"
        height="50"
        width="300px"
        alt="background image"
        *ngIf="footer_image_logo && footer_image_bottom_center"
      />
    </div>
    <div style="top: 50%; left: 50%; position: absolute">
      <img
        src="{{ previewImage2 }}"
        height="50"
        width="300px"
        alt="background image"
        *ngIf="footer_image_logo && footer_image_center_center"
      />
    </div>
    <div style="top: 50%; left: 16px; position: absolute">
      <img
        src="{{ previewImage2 }}"
        height="50"
        width="300px"
        alt="background image"
        *ngIf="footer_image_logo && footer_image_center_left"
      />
    </div>
    <div style="top: 50%; right: 16px; position: absolute">
      <img
        src="{{ previewImage2 }}"
        height="50"
        width="300px"
        alt="background image"
        *ngIf="footer_image_logo && footer_image_center_right"
      />
    </div>

    <p
      style="
        width: 400px;
        word-break: break-all;
        bottom: 8px;
        right: 16px;
        position: absolute;
        font-weight: bold;
        text-align: right;
        font-size: 16px;
      "
      *ngIf="headeratextpplicable && bottom_right"
    >
      {{ headerText }}
    </p>
    <p
      style="
        width: 400px;
        word-break: break-all;
        bottom: 8px;
        left: 16px;
        position: absolute;
        font-weight: bold;
        font-size: 16px;
      "
      *ngIf="headeratextpplicable && bottom_left"
    >
      {{ headerText }}
    </p>
    <p
      style="
        width: 400px;
        word-break: break-all;
        bottom: 8px;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        font-weight: bold;
        font-size: 16px;
      "
      *ngIf="headeratextpplicable && bottom_center"
    >
      {{ headerText }}
    </p>
    <p
      style="
        width: 400px;
        word-break: break-all;
        top: 50%;
        right: 16px;
        transform: translateY(-50%);
        position: absolute;
        font-weight: bold;
        font-size: 16px;
      "
      *ngIf="headeratextpplicable && center_right"
    >
      {{ headerText }}
    </p>
    <p
      style="
        width: 400px;
        word-break: break-all;
        top: 50%;
        left: 16px;
        transform: translateY(-50%);
        position: absolute;
        font-weight: bold;
        font-size: 16px;
      "
      *ngIf="headeratextpplicable && center_left"
    >
      {{ headerText }}
    </p>
    <p
      style="
        width: 400px;
        word-break: break-all;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        font-weight: bold;
        font-size: 16px;
      "
      *ngIf="headeratextpplicable && center_center"
    >
      {{ headerText }}
    </p>
    <p
      style="
        width: 400px;
        word-break: break-all;
        top: 8px;
        right: 16px;
        position: absolute;
        font-weight: bold;
        text-align: right;
        font-size: 16px;
      "
      *ngIf="headeratextpplicable && top_right"
    >
      {{ headerText }}
    </p>
    <p
      style="
        width: 400px;
        word-break: break-all;
        top: 8px;
        left: 16px;
        position: absolute;
        font-weight: bold;
        text-align: left;
        font-size: 16px;
      "
      *ngIf="headeratextpplicable && top_left"
    >
      {{ headerText }}
    </p>
    <p
      style="
        width: 400px;
        word-break: break-all;
        top: 8px;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        font-weight: bold;
        font-size: 16px;
      "
      *ngIf="headeratextpplicable && top_center"
    >
      {{ headerText }}
    </p>
  </div>
  <div id="printButtonContainer" style="text-align: center">
    <div class="button-demo">
      <button
        class="btn btn-primary print"
        id="printPageButton"
        type="button"
        (click)="printComponent()"
      >
        Print
      </button>
      <button
        class="btn btn-danger print"
        id="printPageButton"
        type="button"
        (click)="handlebackButton()"
      >
        Back
      </button>
    </div>
  </div>
</section>
