.approval-container .data_table {
  display: flex;
  flex-direction: column;
  position: relative;
}
.approval-container .data_table table {
  width: 100%;
  border-collapse: collapse;
  color: var(--grey-900, #212121);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}
.approval-container .data_table table th:first-child,
.approval-container .data_table table td:first-child {
  text-align: center !important;
}

//paginator css//
.approval-container .paginator {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  margin-right: 10px;
}
.approval-container .paginator div {
  margin-right: 20px;
}

.approval-container .paginator .pagination-icons {
  font-size: 20px; /* Increase the icon size */
  font-weight: bold; /* Make the icons bold */
  cursor: pointer;
  display: flex;
  gap: 26px;
}

/* Hover effect for icons (optional) */
.approval-container .paginator .pagination-icons span:hover {
  color: #101011; /* Change to your preferred hover color */
}

.approval-container .paginator .loading-indicator {
  width: 40px;
  height: 40px;
  border: 3px solid #ccc;
  border-radius: 50%;
  border-top: 3px solid #3498db;
  animation: spin 2s linear infinite;
  position: absolute; /* Position the loading indicator absolute within the parent container */
  top: 50%; /* Position from the top */
  left: 50%; /* Position from the left */
  transform: translate(-50%, -50%); /* Center the loading indicator */
  z-index: 1; /* Ensure the loading indicator is above the table content */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
