<div class="edit_pop_up override_edit_pop_up">
  <div class="big-model">
    <div class="header">
      <p>{{ screenName }}</p>
      <button (click)="onCancelForm()">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
    <div class="body overflow_model">
      <div class="details-form">
        <form [formGroup]="userroleForm" (ngSubmit)="onSubmit()">
          <div class="personal">
            <div class="row d-flex">
              <div>
                <div class="col-xl-6 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width">
                    <mat-label>User</mat-label>
                    <mat-select
                      formControlName="user"
                      id="user"
                      placeholder="Select User"
                      required
                    >
                      <mat-option
                        *ngFor="let data of UserName"
                        [value]="data.id"
                      >
                        {{ data.emp_name }}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="userroleForm.controls['user'].hasError('required')"
                      >User is Required.</mat-error
                    >
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="card">
                <div class="body">
                  <div class="table-responsive" formArrayName="initialitemRow">
                    <table
                      id="tableExport1"
                      class="display table table-hover table-checkable order-column m-t-20 width-per-100 table-bordered"
                    >
                      <caption></caption>
                      <thead>
                        <tr>
                          <th style="text-align: center">Action</th>
                          <th style="text-align: center">Role</th>
                        </tr>
                      </thead>

                      <tbody class="main_tbody">
                        <tr
                          *ngFor="
                            let dynamic of formArray['controls'];
                            let i = index
                          "
                          [formGroupName]="i"
                        >
                          <td class="col_input">
                            <button
                              type="button"
                              *ngIf="i == 0"
                              class="apply-button"
                              (click)="addNewRow()"
                            >
                              <i class="fa fa-plus"></i>
                            </button>
                            <button
                              type="button"
                              *ngIf="i > 0"
                              class="apply-button-danger"
                              (click)="deleteRow(i)"
                            >
                              <i class="fa fa-minus"></i>
                            </button>
                          </td>

                          <td class="col_input">
                            <mat-form-field class="example-full-width">
                              <mat-label>Role</mat-label>
                              <mat-select formControlName="role" required>
                                <mat-option
                                  *ngFor="let data of UserRole"
                                  [value]="data.id"
                                >
                                  {{ data.role_name }}
                                </mat-option>
                              </mat-select>
                              <mat-error
                                *ngIf="
                                  formArray.controls[i]
                                    .get('role')
                                    ?.hasError('required')
                                "
                              >
                                Role is Required
                              </mat-error>
                            </mat-form-field>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer">
              <div class="left">
                <button class="cancel" (click)="onCancelForm()">Cancel</button>
              </div>
              <div class="right d-flex">
                <button
                  class="send"
                  *ngIf="submitBtn && showReset"
                  (click)="onResetForm()"
                  [disabled]="showLoader"
                >
                  Reset
                </button>
                <button
                  class="submit"
                  type="submit"
                  *ngIf="submitBtn"
                  [disabled]="showLoader"
                  (click)="onSubmit()"
                >
                  {{ btnVal }}
                  <i class="fa fa-spinner fa-spin" *ngIf="showLoader"></i>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
