.mat-mdc-option.mdc-list-item {
  overflow-wrap: anywhere;
  padding: 10px;
}

.override_edit_pop_up {
  height: 100vh;
  position: fixed;
  overflow: hidden;
}

.overflow_model {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}
