<section class="content">
  <div class="approval-container">
    <div class="header">
      <p>
        <strong>{{ screenName }}</strong>
      </p>
    </div>
    <app-journal-voucher-details
      *ngIf="listDiv === true"
      [rowData]="rowData"
      (handleSave)="handleSave($event)"
      (handleCancel)="handleCancel($event)"
      [submitBtn]="submitBtn"
      [showLoader]="showLoader"
      [screenName]="screenName"
    >
    </app-journal-voucher-details>

    <div class="body">
      <div class="interaction">
        <button
          class="new_employee"
          (click)="showFormList(false)"
          matTooltip="ADD"
          *ngIf="sidebarData.write_access === 'Y'"
        >
          + Add New {{ screenName }}
        </button>
        <div class="end">
          <div class="search">
            <i class="bi bi-search"></i>
            <input
              type="text"
              placeholder="Search in table"
              type="text"
              #filter
              class="browser-default search-field"
              aria-label="Search box"
            />
          </div>
          <button
            mat-mini-fab
            class="btn btn-primary small-button"
            style="background-color: #2c5a88 !important"
            (click)="refresh()"
          >
            <mat-icon class="col-white">refresh</mat-icon>
          </button>
          <button (click)="exportExcel()">
            <img src="assets/usedimg/excel_icon.png" alt="" /> Download Excel
          </button>
        </div>
      </div>

      <div class="data_table pb-2">
        <div class="mat-elevation-z8">
          <table
            mat-table
            #table
            [dataSource]="dataSource"
            matSort
            class="mat-cell"
          >
            <caption></caption>
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>
                <strong>Actions</strong>
              </th>
              <td mat-cell *matCellDef="let row">
                <button
                  *ngIf="sidebarData.read_access === 'Y'"
                  class="btn tblActnBtn h-auto"
                  (click)="editViewRecord(row, false)"
                  matTooltip="VIEW"
                >
                  <i class="bi bi-eye"></i>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="transaction_date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>Transaction Date</strong>
              </th>
              <td
                mat-cell
                *matCellDef="let row"
                (contextmenu)="onContextMenu($event, row)"
              >
                <span class="mobile-label">Transaction Date:</span
                >{{ row.transaction_date }}
              </td>
            </ng-container>

            <ng-container matColumnDef="transaction_ref_no">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>JV Number</strong>
              </th>
              <td
                mat-cell
                *matCellDef="let row"
                (contextmenu)="onContextMenu($event, row)"
              >
                <span class="mobile-label">JV Number:</span
                >{{ row.transaction_ref_no }}
              </td>
            </ng-container>

            <ng-container matColumnDef="txn_currency">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>Currency Name</strong>
              </th>
              <td
                mat-cell
                *matCellDef="let row"
                (contextmenu)="onContextMenu($event, row)"
              >
                <span class="mobile-label">Currency Name:</span
                >{{ row.currency_name }}
              </td>
            </ng-container>

            <ng-container matColumnDef="txn_currency_debit_amount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>Total Transaction Debit Amount</strong>
              </th>
              <td
                mat-cell
                *matCellDef="let row"
                (contextmenu)="onContextMenu($event, row)"
              >
                <span class="mobile-label">Total Transaction Debit Amount:</span
                >{{ row.txn_currency_debit_amount }}
              </td>
            </ng-container>

            <ng-container matColumnDef="txn_currency_credit_amount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>Total Transaction Credit Amount</strong>
              </th>
              <td
                mat-cell
                *matCellDef="let row"
                (contextmenu)="onContextMenu($event, row)"
              >
                <span class="mobile-label"
                  >Total Transaction Credit Amount:</span
                >{{ row.txn_currency_credit_amount }}
              </td>
            </ng-container>

            <ng-container matColumnDef="base_currency_debit_amount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>Total Base Debit Amount</strong>
              </th>
              <td
                mat-cell
                *matCellDef="let row"
                (contextmenu)="onContextMenu($event, row)"
              >
                <span class="mobile-label">Total Base Debit Amount:</span
                >{{ row.base_currency_debit_amount }}
              </td>
            </ng-container>

            <ng-container matColumnDef="base_currency_credit_amount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>Total Base Credit Amount</strong>
              </th>
              <td
                mat-cell
                *matCellDef="let row"
                (contextmenu)="onContextMenu($event, row)"
              >
                <span class="mobile-label">Total Base Credit Amount:</span
                >{{ row.base_currency_credit_amount }}
              </td>
            </ng-container>

            <ng-container matColumnDef="posting_status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>Posting Status</strong>
              </th>
              <td
                mat-cell
                *matCellDef="let row"
                (contextmenu)="onContextMenu($event, row)"
              >
                <span class="mobile-label">Posting Status:</span
                >{{ row.posting_status }}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          <div
            *ngIf="!exampleDatabase?.isTblLoading"
            class="no-results"
            [style.display]="dataSource.filteredData.length === 0 ? '' : 'none'"
          >
            No results
          </div>

          <mat-paginator
            #paginator
            [length]="dataSource.filteredData.length"
            [pageIndex]="0"
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 50, 100]"
          >
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</section>
