<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <form [formGroup]="StockAdjForm" (ngSubmit)="onSubmit()">
      <div class="card">
        <div class="body">
          <div>
            <div class="row clearfix">
              <div class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Transaction Date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="transaction_date"
                    [min]="todayDate"
                    readonly
                    id="transaction_date"
                    [(ngModel)]="todayDate"
                    formControlName="transaction_date"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="transaction_date"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #transaction_date></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Fiscal Year</mat-label>
                  <input
                    matInput
                    formControlName="fiscal_year"
                    inputTrim
                    readonly
                  />
                </mat-form-field>
              </div>

              <div class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Period</mat-label>
                  <input matInput formControlName="period" inputTrim readonly />
                </mat-form-field>
              </div>

              <div class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Item Type</mat-label>
                  <mat-select
                    formControlName="item_type_ref_id"
                    (selectionChange)="ItemTypeChange($event.value)"
                    required=""
                  >
                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of ItemTypeData"
                      >{{ obj.currency_code }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Transaction Currency</mat-label>
                  <mat-select formControlName="txn_currency">
                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of CurrencyData"
                      >{{ obj.currency_code }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Total Transacion Amount</mat-label>
                  <input
                    matInput
                    formControlName="total_txn_currency"
                    readonly
                  />
                </mat-form-field>
              </div>
            </div>
            <br />
            <!-- Stock Adjustment Details -->
            <div class="row clearfix">
              <cdk-accordion>
                <cdk-accordion-item
                  #accordionItem4="cdkAccordionItem"
                  tabindex="0"
                  [attr.id]="'accordion-header-'"
                  [attr.aria-expanded]="accordionItem4.expanded"
                  [attr.aria-controls]="'accordion-body-'"
                >
                  <div>
                    <div (click)="accordionItem4.toggle()">
                      <div class="header">
                        <h2>
                          <strong
                            >Stock Adjustment Details<span
                              style="margin-left: 30px"
                              class="fas fa-angle-down example-accordion-item-description"
                            >
                            </span
                          ></strong>
                        </h2>
                      </div>
                    </div>
                    <hr />
                    <div>
                      <div class="row clearfix">
                        <div
                          class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                          role="region"
                          [style.display]="
                            accordionItem4.expanded ? '' : 'none'
                          "
                          [attr.id]="'accordion-body-'"
                          [attr.aria-labelledby]="'accordion-header-'"
                        >
                          <div class="row clearfix">
                            <div
                              class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                            >
                              <div class="card">
                                <div class="body">
                                  <div
                                    class="table-responsive"
                                    formArrayName="stock_adjustment_details"
                                  >
                                    <table
                                      id="tableExport1"
                                      class="display table table-hover table-checkable order-column m-t-20 width-per-100 table-bordered"
                                    >
                                      <caption></caption>
                                      <thead>
                                        <tr>
                                          <th style="text-align: center">
                                            Action
                                          </th>
                                          <th style="text-align: center">
                                            Is Adjustment with Quantity/Rate?
                                          </th>
                                          <th style="text-align: center">
                                            Item Name
                                          </th>
                                          <th style="text-align: center">
                                            UOM
                                          </th>
                                          <th style="text-align: center">
                                            System Stock Quantity
                                          </th>
                                          <th style="text-align: center">
                                            Rate
                                          </th>
                                          <th style="text-align: center">
                                            Alternate UOM
                                          </th>
                                          <th style="text-align: center">
                                            System Stock Alternate Quantity
                                          </th>
                                          <th style="text-align: center">
                                            Alternate Rate
                                          </th>
                                          <th style="text-align: center">
                                            Physical Stock UOM
                                          </th>
                                          <th style="text-align: center">
                                            Physical Stock Quantity
                                          </th>
                                          <th style="text-align: center">
                                            Physical Stock Alternate UOM
                                          </th>
                                          <th style="text-align: center">
                                            Physical Stock Alternate Quantity
                                          </th>
                                          <th style="text-align: center">
                                            Surplus/Shortage
                                          </th>
                                          <th style="text-align: center">
                                            Request
                                          </th>
                                          <th style="text-align: center">
                                            Damaged Stock UOM
                                          </th>
                                          <th style="text-align: center">
                                            Damaged Stock Quantity
                                          </th>
                                          <th style="text-align: center">
                                            Damaged Stock Alternate UOM
                                          </th>
                                          <th style="text-align: center">
                                            Damaged Stock Alternate Quantity
                                          </th>
                                        </tr>
                                      </thead>
                                      <tbody class="main_tbody">
                                        <ng-container>
                                          <tr
                                            *ngFor="
                                              let dynamic of formArray[
                                                'controls'
                                              ];
                                              let i = index
                                            "
                                            [formGroupName]="i"
                                          >
                                            <ng-container *ngIf="i == 0">
                                              <td>
                                                <button
                                                  type="button"
                                                  class="btn btn-primary btn-rounded waves-effect"
                                                  (click)="addNewRow()"
                                                >
                                                  +
                                                </button>
                                              </td>
                                            </ng-container>
                                            <ng-container *ngIf="i > 0">
                                              <td>
                                                <button
                                                  type="button"
                                                  class="btn btn-danger btn-rounded waves-effect"
                                                  (click)="deleteRow(i)"
                                                >
                                                  -
                                                </button>
                                              </td>
                                            </ng-container>
                                            <td>
                                              <div
                                                class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                              >
                                                <mat-label>Quantity</mat-label>
                                                <mat-slide-toggle
                                                  formControlName="is_adjustment_with_qty_amt"
                                                  style="
                                                    margin-left: 0.5rem;
                                                    margin-right: 0.5rem;
                                                    margin-top: 0.5rem;
                                                  "
                                                >
                                                  Amount
                                                </mat-slide-toggle>
                                              </div>
                                            </td>
                                            <td class="col_input">
                                              <mat-form-field
                                                class="example-full-width"
                                                appearance="outline"
                                              >
                                                <mat-label>Item Name</mat-label>
                                                <mat-select
                                                  formControlName="item_ref_id"
                                                >
                                                  <mat-select-filter
                                                    [placeholder]="'Search'"
                                                    [displayMember]="'key'"
                                                    [array]="ItemData"
                                                    (filteredReturn)="
                                                      filterItemData = $event
                                                    "
                                                  ></mat-select-filter>
                                                  <mat-option
                                                    [value]="obj.id"
                                                    *ngFor="
                                                      let obj of filterItemData
                                                    "
                                                    >{{ obj.key }}</mat-option
                                                  >
                                                </mat-select>
                                                <mat-error
                                                  *ngIf="
                                                    formArray.controls[i]
                                                      .get('item_ref_id')
                                                      ?.hasError('required')
                                                  "
                                                  >Item Name is
                                                  required.</mat-error
                                                >
                                              </mat-form-field>
                                            </td>
                                            <td class="col_input">
                                              {{
                                                formArray.controls[i].get("uom")
                                                  ?.value
                                              }}

                                              <mat-form-field
                                                class="example-full-width"
                                                appearance="outline"
                                                readonly
                                              >
                                                <mat-label>UOM</mat-label>
                                                <input
                                                  matInput
                                                  placeholder="UOM"
                                                  formControlName="uom"
                                                  id="uom{{ i + 1 }}"
                                                />
                                              </mat-form-field>
                                            </td>
                                            <td class="col_input">
                                              {{
                                                formArray.controls[i].get(
                                                  "system_stock_quantity"
                                                )?.value
                                              }}

                                              <mat-form-field
                                                class="example-full-width"
                                                appearance="outline"
                                                readonly
                                              >
                                                <mat-label
                                                  >System Stock Alternate
                                                  Quantity</mat-label
                                                >
                                                <input
                                                  matInput
                                                  placeholder="System Stock Alternate Quantity"
                                                  formControlName="system_stock_quantity"
                                                  id="system_stock_quantity{{
                                                    i + 1
                                                  }}"
                                                />
                                              </mat-form-field>
                                            </td>
                                            <td class="col_input">
                                              {{
                                                formArray.controls[i].get(
                                                  "rate"
                                                )?.value
                                              }}

                                              <mat-form-field
                                                class="example-full-width"
                                                appearance="outline"
                                                readonly
                                              >
                                                <mat-label>Rate</mat-label>
                                                <input
                                                  matInput
                                                  placeholder="Rate"
                                                  formControlName="rate"
                                                  id="rate{{ i + 1 }}"
                                                />
                                              </mat-form-field>
                                            </td>
                                            <td class="col_input">
                                              {{
                                                formArray.controls[i].get(
                                                  "alternate_uom"
                                                )?.value
                                              }}

                                              <mat-form-field
                                                class="example-full-width"
                                                appearance="outline"
                                                readonly
                                              >
                                                <mat-label
                                                  >Alternate Uom</mat-label
                                                >
                                                <input
                                                  matInput
                                                  placeholder="Alternate Uom"
                                                  formControlName="alternate_uom"
                                                  id="alternate_uom{{ i + 1 }}"
                                                />
                                              </mat-form-field>
                                            </td>

                                            <td class="col_input">
                                              {{
                                                formArray.controls[i].get(
                                                  "system_stock_alternate_quantity"
                                                )?.value
                                              }}

                                              <mat-form-field
                                                class="example-full-width"
                                                appearance="outline"
                                                readonly
                                              >
                                                <mat-label
                                                  >System Stock Alternate
                                                  Quantity</mat-label
                                                >
                                                <input
                                                  matInput
                                                  placeholder="System Stock Alternate Quantity"
                                                  formControlName="system_stock_alternate_quantity"
                                                  id="system_stock_alternate_quantity{{
                                                    i + 1
                                                  }}"
                                                />
                                              </mat-form-field>
                                            </td>
                                            <td class="col_input">
                                              {{
                                                formArray.controls[i].get(
                                                  "alternate_rate"
                                                )?.value
                                              }}

                                              <mat-form-field
                                                class="example-full-width"
                                                appearance="outline"
                                                readonly
                                              >
                                                <mat-label
                                                  >Alternate Rate</mat-label
                                                >
                                                <input
                                                  matInput
                                                  placeholder="Alternate Rate"
                                                  formControlName="alternate_rate"
                                                  id="alternate_rate{{ i + 1 }}"
                                                />
                                              </mat-form-field>
                                            </td>
                                            <td class="col_input">
                                              <mat-form-field
                                                class="example-full-width"
                                                appearance="outline"
                                              >
                                                <mat-select
                                                  formControlName="physical_stock_uom"
                                                  class="mat-select"
                                                >
                                                  <mat-option
                                                    [value]="data.id"
                                                    *ngFor="let data of uomData"
                                                  >
                                                    {{ data.key }}
                                                  </mat-option>
                                                </mat-select>
                                              </mat-form-field>
                                            </td>

                                            <td class="col_input">
                                              {{
                                                formArray.controls[i].get(
                                                  "physical_stock_qty"
                                                )?.value
                                              }}

                                              <mat-form-field
                                                class="example-full-width"
                                                appearance="outline"
                                              >
                                                <mat-label
                                                  >Physical Stock QTY</mat-label
                                                >
                                                <input
                                                  matInput
                                                  placeholder="Physical Stock QTY"
                                                  formControlName="physical_stock_qty"
                                                  type="number"
                                                  id="physical_stock_qty{{
                                                    i + 1
                                                  }}"
                                                />
                                              </mat-form-field>
                                            </td>

                                            <td class="col_input">
                                              <mat-form-field
                                                class="example-full-width"
                                                appearance="outline"
                                              >
                                                <mat-select
                                                  formControlName="physical_stock_uom"
                                                  class="mat-select"
                                                >
                                                  <mat-option
                                                    [value]="data.id"
                                                    *ngFor="let data of uomData"
                                                  >
                                                    {{ data.key }}
                                                  </mat-option>
                                                </mat-select>
                                              </mat-form-field>
                                            </td>

                                            <td class="col_input">
                                              {{
                                                formArray.controls[i].get(
                                                  "physical_stock_alternate_qty"
                                                )?.value
                                              }}

                                              <mat-form-field
                                                class="example-full-width"
                                                appearance="outline"
                                              >
                                                <mat-label
                                                  >Physical Stock Alternate
                                                  QTY</mat-label
                                                >
                                                <input
                                                  matInput
                                                  placeholder="Physical Stock Alternate QTY"
                                                  formControlName="physical_stock_alternate_qty"
                                                  type="number"
                                                  id="physical_stock_alternate_qty{{
                                                    i + 1
                                                  }}"
                                                />
                                              </mat-form-field>
                                            </td>
                                            <td class="col_input">
                                              {{
                                                formArray.controls[i].get(
                                                  "suplus_shortage"
                                                )?.value
                                              }}

                                              <mat-form-field
                                                class="example-full-width"
                                                appearance="outline"
                                              >
                                                <mat-label
                                                  >Surplus/Shortage</mat-label
                                                >
                                                <input
                                                  matInput
                                                  placeholder="Surplus/Shortage"
                                                  formControlName="suplus_shortage"
                                                  type="number"
                                                  id="suplus_shortage{{
                                                    i + 1
                                                  }}"
                                                />
                                              </mat-form-field>
                                            </td>
                                            <td class="col_input">
                                              <mat-form-field
                                                class="example-full-width"
                                                appearance="outline"
                                              >
                                                <mat-select
                                                  formControlName="request"
                                                  class="mat-select"
                                                >
                                                  <mat-option
                                                    [value]="data.id"
                                                    *ngFor="
                                                      let data of requestData
                                                    "
                                                  >
                                                    {{ data.key }}
                                                  </mat-option>
                                                </mat-select>
                                              </mat-form-field>
                                            </td>
                                            <td class="col_input">
                                              <mat-form-field
                                                class="example-full-width"
                                                appearance="outline"
                                              >
                                                <mat-select
                                                  formControlName="damaged_stock_uom"
                                                  class="mat-select"
                                                >
                                                  <mat-option
                                                    [value]="data.id"
                                                    *ngFor="let data of uomData"
                                                  >
                                                    {{ data.key }}
                                                  </mat-option>
                                                </mat-select>
                                              </mat-form-field>
                                            </td>
                                            <td class="col_input">
                                              {{
                                                formArray.controls[i].get(
                                                  "damaged_stock_qty"
                                                )?.value
                                              }}

                                              <mat-form-field
                                                class="example-full-width"
                                                appearance="outline"
                                              >
                                                <mat-label
                                                  >Damaged Stock Qty</mat-label
                                                >
                                                <input
                                                  matInput
                                                  placeholder="Damaged Stock Qty"
                                                  formControlName="damaged_stock_qty"
                                                  type="number"
                                                  id="damaged_stock_qty{{
                                                    i + 1
                                                  }}"
                                                />
                                              </mat-form-field>
                                            </td>
                                            <td class="col_input">
                                              <mat-form-field
                                                class="example-full-width"
                                                appearance="outline"
                                              >
                                                <mat-select
                                                  formControlName="damaged_stock_alternate_uom"
                                                  class="mat-select"
                                                >
                                                  <mat-option
                                                    [value]="data.id"
                                                    *ngFor="let data of uomData"
                                                  >
                                                    {{ data.key }}
                                                  </mat-option>
                                                </mat-select>
                                              </mat-form-field>
                                            </td>
                                            <td class="col_input">
                                              {{
                                                formArray.controls[i].get(
                                                  "damaged_stock_alternate_qty"
                                                )?.value
                                              }}

                                              <mat-form-field
                                                class="example-full-width"
                                                appearance="outline"
                                              >
                                                <mat-label
                                                  >Damaged Stock Alternate
                                                  Qty</mat-label
                                                >
                                                <input
                                                  matInput
                                                  placeholder="Damaged Stock Alternate Qty"
                                                  formControlName="damaged_stock_alternate_qty"
                                                  type="number"
                                                  id="damaged_stock_alternate_qty{{
                                                    i + 1
                                                  }}"
                                                />
                                              </mat-form-field>
                                            </td>
                                          </tr>
                                        </ng-container>
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </cdk-accordion-item>
              </cdk-accordion>
            </div>
          </div>
        </div>
        <div class="body" style="text-align: center">
          <div class="example-button-row">
            <button
              mat-flat-button
              color="primary"
              type="submit"
              *ngIf="submitBtn"
              [disabled]="showLoader"
              name="submit"
              value="Submit"
            >
              {{ btnVal }}
              <i class="fa fa-spinner fa-spin" *ngIf="showLoader"></i>
            </button>
            <button
              mat-flat-button
              style="background-color: gray; color: white"
              type="button"
              *ngIf="submitBtn"
              (click)="onResetForm()"
              [disabled]="showLoader"
            >
              Reset
            </button>
            <button
              mat-flat-button
              color="warn"
              type="button"
              (click)="onCancelForm()"
            >
              Back
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
