<div class="edit_pop_up override_edit_pop_up">
  <div class="big-model">
    <div class="header">
      <p>{{ screenName }}</p>
      <button (click)="onCancelForm()">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
    <div class="body overflow_model">
      <div class="details-form">
        <form [formGroup]="calendarForm">
          <div class="personal">
            <div class="row d-flex">
              <div>
                <input
                  type="hidden"
                  formControlName="id"
                  id="id"
                  [value]=""
                  class="form-control"
                />
                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <mat-label>Calender Type</mat-label>
                    <mat-select formControlName="calendar_type_id">
                      <mat-option
                        [value]="calender.id"
                        *ngFor="let calender of CalenderTypeData"
                      >
                        {{ calender.master_key }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div *ngIf="hideGrid == true">
              <div class="header accordian">
                <p class="fas fa-angle-down example-accordion-item-description">
                  <strong
                    >{{ screenName }} Details<span
                      class="fas fa-angle-down example-accordion-item-description"
                    >
                    </span
                  ></strong>
                </p>
              </div>
            </div>

            <div class="card" *ngIf="hideGrid == true">
              <div class="body">
                <div class="row clearfix">
                  <div class="table-responsive" formArrayName="initialItemRow">
                    <table
                      id="tableExport1"
                      class="display table table-hover table-checkable order-column m-t-20 width-per-100 table-bordered"
                    >
                      <caption></caption>
                      <thead>
                        <tr>
                          <th style="text-align: center">Fiscal Year</th>
                          <th style="text-align: center">Period</th>
                          <th style="text-align: center">Start Date</th>
                          <th style="text-align: center">End Date</th>
                          <th style="text-align: center">Month</th>
                          <th style="text-align: center">Status</th>
                        </tr>
                      </thead>
                      <tbody class="main_tbody">
                        <tr
                          *ngFor="
                            let dynamic of formArray['controls'];
                            let i = index
                          "
                          [formGroupName]="i"
                        >
                          <td class="col_input">
                            <mat-form-field class="example-full-width">
                              <mat-label>Fiscal Year</mat-label>
                              <input
                                matInput
                                formControlName="fiscal_year"
                                id="fiscal_year{{ i + 1 }}"
                                readonly
                              />
                            </mat-form-field>
                          </td>
                          <td class="col_input">
                            <mat-form-field class="example-full-width">
                              <mat-label>Period</mat-label>
                              <input
                                matInput
                                formControlName="period"
                                id="period{{ i + 1 }}"
                                readonly
                              />
                            </mat-form-field>
                          </td>

                          <td class="col_input">
                            <mat-form-field class="example-full-width">
                              <mat-label>Start Date</mat-label>
                              <input
                                matInput
                                formControlName="start_date"
                                id="start_date{{ i + 1 }}"
                                readonly
                              />
                            </mat-form-field>
                          </td>
                          <td class="col_input">
                            <mat-form-field class="example-full-width">
                              <mat-label>End Date</mat-label>
                              <input
                                matInput
                                formControlName="end_date"
                                id="end_date{{ i + 1 }}"
                                readonly
                              />
                            </mat-form-field>
                          </td>
                          <td class="col_input">
                            <mat-form-field class="example-full-width">
                              <mat-label>Month</mat-label>
                              <input
                                matInput
                                formControlName="month"
                                id="month{{ i + 1 }}"
                                readonly
                              />
                            </mat-form-field>
                          </td>
                          <td class="col_input">
                            <mat-form-field class="example-full-width">
                              <mat-label>Status</mat-label>
                              <mat-select
                                formControlName="status"
                                id="status{{ i + 1 }}"
                              >
                                <mat-option
                                  [value]="data"
                                  *ngFor="let data of statusData"
                                >
                                  {{ data }}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer">
            <div class="left">
              <button class="cancel" (click)="onCancelForm()">Cancel</button>
            </div>
            <div class="right d-flex">
              <button
                class="send"
                *ngIf="submitBtn && showReset"
                (click)="onResetForm()"
                [disabled]="showLoader"
              >
                Reset
              </button>
              <button
                class="submit"
                type="submit"
                *ngIf="submitBtn"
                [disabled]="showLoader"
                (click)="onSubmit()"
              >
                {{ BTN_VAL }}
                <i class="fa fa-spinner fa-spin" *ngIf="showLoader"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
