<div class="pop-up-form override_edit_pop_up" *ngIf="isOnlyMaster">
  <div class="add-container">
    <div class="header">
      <p>{{ screenName }}</p>
      <button (click)="onCancelForm()">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
    <div class="body">
      <div class="left">
        <button class="new_employee" (click)="onResetForm()" *ngIf="submitBtn">
          <i class="bi bi-plus-lg"></i>
          Add New {{ screenName }}
        </button>
        <ul>
          <li *ngFor="let employee of tableData" (click)="seeDetails(employee)">
            <p class="name">{{ employee.key }}</p>
            <p class="status">Status: {{ employee.is_active }}</p>
          </li>
        </ul>
      </div>
      <span class="vertical_line"> </span>
      <div class="right">
        <form [formGroup]="form">
          <div *ngIf="formDataExist">
            <input
              type="hidden"
              formControlName="id"
              id="id"
              value="[id]"
              class="form-control"
            />
            <div
              class="col-md-12"
              style="margin-bottom: 16px"
              *ngFor="let field of Newformdata"
            >
              <div *ngIf="field.field_key !== 'unique_id'">
                <div [formGroup]="form">
                  <div [ngSwitch]="field.field_type_id">
                    <app-textbox
                      *ngSwitchCase="'text'"
                      [field]="field"
                      [form]="fieldsCtrls['master_data'].controls[0]"
                      [screenName]="screenName"
                    >
                    </app-textbox>
                    <app-textbox
                      *ngSwitchCase="'textarea'"
                      [field]="field"
                      [form]="fieldsCtrls['master_data'].controls[0]"
                      [screenName]="screenName"
                    >
                    </app-textbox>
                    <app-textbox
                      *ngSwitchCase="'integer'"
                      [field]="field"
                      [form]="fieldsCtrls['master_data'].controls[0]"
                      [screenName]="screenName"
                      (change)="
                        field.is_onchange_event === true &&
                          onChangeText($event, field.field_key)
                      "
                    >
                    </app-textbox>
                    <app-textbox
                      *ngSwitchCase="'float'"
                      [field]="field"
                      [form]="fieldsCtrls['master_data'].controls[0]"
                      [screenName]="screenName"
                      (change)="
                        field.is_onchange_event === true &&
                          onChangeText($event, field.field_key)
                      "
                    >
                    </app-textbox>
                    <app-dropdown
                      *ngSwitchCase="'dropdown'"
                      [field]="field"
                      [field_id]="field.field_key"
                      [form]="fieldsCtrls['master_data'].controls[0]"
                      (onChange)="
                        (field.is_onchange_event === true ||
                          field.is_onchange_concatenate === true) &&
                          onChange(
                            $event.value,
                            'master_data',
                            field.id,
                            0,
                            field.is_onchange_concatenate,
                            field.onchange_concatenate_field_name,
                            field.onchange_concatenate_value,
                            field.dropdown_raw_query,
                            field.field_key,
                            field.is_onchange_event
                          )
                      "
                    >
                    </app-dropdown>
                    <app-multiselect-dropdown
                      *ngSwitchCase="'multiselect dropdown'"
                      [field]="field"
                      [field_id]="field.field_key"
                      [form]="fieldsCtrls['master_data'].controls[0]"
                    >
                    </app-multiselect-dropdown>
                    <app-checkbox
                      *ngSwitchCase="'checkbox'"
                      [field]="field"
                      [form]="fieldsCtrls['master_data'].controls[0]"
                      style="margin: 10px"
                    >
                    </app-checkbox>
                    <app-radio
                      *ngSwitchCase="'radio'"
                      [field]="field"
                      [form]="fieldsCtrls['master_data'].controls[0]"
                      style="margin: 10px"
                    >
                    </app-radio>
                    <app-datepicker
                      *ngSwitchCase="'date'"
                      [field]="field"
                      [form]="fieldsCtrls['master_data'].controls[0]"
                      [BTN_VAL]="BTN_VAL"
                    ></app-datepicker>
                    <app-slide-toggle
                      *ngSwitchCase="'boolean'"
                      [field]="field"
                      [form]="fieldsCtrls['master_data'].controls[0]"
                      [isOnlyMaster]="isOnlyMaster"
                      (change)="
                        field.is_onchange_event === true &&
                          onChangeToggle($event, field.field_key)
                      "
                    ></app-slide-toggle>
                    <app-fileupload
                      *ngSwitchCase="'file'"
                      [field]="field"
                      [form]="form"
                      [previewImage1]="previewImage1"
                      [previewImageType1]="previewImageType1"
                    >
                    </app-fileupload>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer">
            <div>
              <button class="cancel" (click)="onCancelForm()">Cancel</button>
            </div>
            <button
              class="send"
              (click)="onResetForm()"
              [disabled]="showLoaderSubmit"
              *ngIf="submitBtn && BTN_VAL !== 'Update'"
            >
              Reset
            </button>
            <button
              (click)="onSubmit()"
              *ngIf="submitBtn"
              [disabled]="showLoaderSubmit"
              class="submit"
            >
              {{ BTN_VAL }}
              <i class="fa fa-spinner fa-spin" *ngIf="showLoaderSubmit"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="edit_pop_up override_edit_pop_up" *ngIf="!isOnlyMaster">
  <div class="big-model">
    <div class="header">
      <p>{{ screenName }}</p>
      <button (click)="onCancelForm()">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
    <div class="body overflow_model">
      <div class="details-form">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <form [formGroup]="form">
            <div class="personal">
              <div>
                <div *ngIf="formDataExist">
                  <div class="row clearfix">
                    <input
                      type="hidden"
                      formControlName="id"
                      id="id"
                      value="[id]"
                      class="form-control"
                    />
                    <div class="col-md-3" *ngFor="let field of Newformdata">
                      <div *ngIf="field.field_key !== 'unique_id'">
                        <div [formGroup]="form">
                          <div [ngSwitch]="field.field_type_id">
                            <app-textbox
                              *ngSwitchCase="'text'"
                              [field]="field"
                              [form]="fieldsCtrls['master_data'].controls[0]"
                              [screenName]="screenName"
                              [submitBtn]="BTN_VAL"
                            >
                            </app-textbox>
                            <app-textbox
                              *ngSwitchCase="'textarea'"
                              [field]="field"
                              [form]="fieldsCtrls['master_data'].controls[0]"
                              [screenName]="screenName"
                            >
                            </app-textbox>
                            <app-textbox
                              *ngSwitchCase="'integer'"
                              [field]="field"
                              [form]="fieldsCtrls['master_data'].controls[0]"
                              [screenName]="screenName"
                              (change)="
                                field.is_onchange_event === true &&
                                  onChangeText($event, field.field_key)
                              "
                            >
                            </app-textbox>
                            <app-textbox
                              *ngSwitchCase="'float'"
                              [field]="field"
                              [form]="fieldsCtrls['master_data'].controls[0]"
                              [screenName]="screenName"
                              (change)="
                                field.is_onchange_event === true &&
                                  onChangeText($event, field.field_key)
                              "
                            >
                            </app-textbox>
                            <app-dropdown
                              *ngSwitchCase="'dropdown'"
                              [field]="field"
                              [field_id]="field.field_key"
                              [form]="fieldsCtrls['master_data'].controls[0]"
                              (onChange)="
                                (field.is_onchange_event === true ||
                                  field.is_onchange_concatenate === true) &&
                                  onChange(
                                    $event.value,
                                    'master_data',
                                    field.id,
                                    0,
                                    field.is_onchange_concatenate,
                                    field.onchange_concatenate_field_name,
                                    field.onchange_concatenate_value,
                                    field.dropdown_raw_query,
                                    field.field_key,
                                    field.is_onchange_event
                                  )
                              "
                            >
                            </app-dropdown>
                            <app-multiselect-dropdown
                              *ngSwitchCase="'multiselect dropdown'"
                              [field]="field"
                              [field_id]="field.field_key"
                              [form]="fieldsCtrls['master_data'].controls[0]"
                            >
                            </app-multiselect-dropdown>
                            <app-checkbox
                              *ngSwitchCase="'checkbox'"
                              [field]="field"
                              [form]="fieldsCtrls['master_data'].controls[0]"
                              style="margin: 10px"
                            >
                            </app-checkbox>
                            <app-radio
                              *ngSwitchCase="'radio'"
                              [field]="field"
                              [form]="fieldsCtrls['master_data'].controls[0]"
                              style="margin: 10px"
                            >
                            </app-radio>
                            <app-datepicker
                              *ngSwitchCase="'date'"
                              [field]="field"
                              [form]="fieldsCtrls['master_data'].controls[0]"
                              [BTN_VAL]="BTN_VAL"
                            ></app-datepicker>
                            <app-slide-toggle
                              *ngSwitchCase="'boolean'"
                              [field]="field"
                              [form]="fieldsCtrls['master_data'].controls[0]"
                              (change)="
                                field.is_onchange_event === true &&
                                  onChangeToggle($event, field.field_key)
                              "
                            ></app-slide-toggle>
                            <app-fileupload
                              *ngSwitchCase="'file'"
                              [field]="field"
                              [form]="form"
                              [previewImage1]="previewImage1"
                              [previewImageType1]="previewImageType1"
                            >
                            </app-fileupload>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="sorted.length > 0">
                    <div *ngFor="let item1 of sorted">
                      <cdk-accordion>
                        <cdk-accordion-item
                          *ngFor="
                            let item of item1 | keyvalue;
                            let index = index
                          "
                          #accordionItem="cdkAccordionItem"
                          tabindex="0"
                          [attr.id]="'accordion-header-' + index"
                          [attr.aria-expanded]="accordionItem.expanded"
                          [attr.aria-controls]="'accordion-body-' + index"
                        >
                          <input
                            type="hidden"
                            formControlName="id"
                            id="id"
                            value="[id]"
                            class="form-control"
                          />
                          <div>
                            <div (click)="accordionItem.toggle()">
                              <div class="header accordian">
                                <p
                                  class="fas fa-angle-down example-accordion-item-description"
                                >
                                  <i class="bi bi-chevron-down"></i>
                                  <strong
                                    >{{ item.key }}
                                    <span
                                      class="fas fa-angle-down example-accordion-item-description"
                                    >
                                    </span
                                  ></strong>
                                </p>
                              </div>
                            </div>

                            <div [formGroup]="form">
                              <div class="row clearfix">
                                <div
                                  class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2"
                                  *ngFor="let field of item1[$any(item).key]"
                                  role="region"
                                  [style.display]="
                                    accordionItem.expanded ? '' : 'none'
                                  "
                                  [attr.id]="'accordion-body-' + index"
                                  [attr.aria-labelledby]="
                                    'accordion-header-' + index
                                  "
                                >
                                  <div *ngIf="field.field_key !== 'unique_id'">
                                    <div [ngSwitch]="field.field_type_id">
                                      <app-textbox
                                        *ngSwitchCase="'text'"
                                        [field]="field"
                                        [form]="
                                          fieldsCtrls['master_data'].controls[0]
                                        "
                                        [screenName]="screenName"
                                        (change)="
                                          field.is_onchange_event === true &&
                                            onChangeText(
                                              $event,
                                              field.field_key
                                            )
                                        "
                                      >
                                      </app-textbox>
                                      <app-textbox
                                        *ngSwitchCase="'textarea'"
                                        [field]="field"
                                        [form]="
                                          fieldsCtrls['master_data'].controls[0]
                                        "
                                        [screenName]="screenName"
                                      >
                                      </app-textbox>
                                      <app-textbox
                                        *ngSwitchCase="'integer'"
                                        [field]="field"
                                        [form]="
                                          fieldsCtrls['master_data'].controls[0]
                                        "
                                        [screenName]="screenName"
                                        (change)="
                                          field.is_onchange_event === true &&
                                            onChangeText(
                                              $event,
                                              field.field_key
                                            )
                                        "
                                      >
                                      </app-textbox>
                                      <app-textbox
                                        *ngSwitchCase="'float'"
                                        [field]="field"
                                        [form]="
                                          fieldsCtrls['master_data'].controls[0]
                                        "
                                        [screenName]="screenName"
                                        (change)="
                                          field.is_onchange_event === true &&
                                            onChangeText(
                                              $event,
                                              field.field_key
                                            )
                                        "
                                      >
                                      </app-textbox>
                                      <app-dropdown
                                        *ngSwitchCase="'dropdown'"
                                        [field]="field"
                                        [field_id]="field.field_key"
                                        [form]="
                                          fieldsCtrls['master_data'].controls[0]
                                        "
                                        (onChange)="
                                          (field.is_onchange_event === true ||
                                            field.is_onchange_concatenate ===
                                              true) &&
                                            onChange(
                                              $event.value,
                                              'master_data',
                                              field.id,
                                              0,
                                              field.is_onchange_concatenate,
                                              field.onchange_concatenate_field_name,
                                              field.onchange_concatenate_value,
                                              field.dropdown_raw_query,
                                              field.field_key,
                                              field.is_onchange_event
                                            )
                                        "
                                      >
                                      </app-dropdown>
                                      <app-checkbox
                                        *ngSwitchCase="'checkbox'"
                                        [field]="field"
                                        [form]="
                                          fieldsCtrls['master_data'].controls[0]
                                        "
                                        style="margin: 10px"
                                      >
                                      </app-checkbox>
                                      <app-radio
                                        *ngSwitchCase="'radio'"
                                        [field]="field"
                                        [form]="
                                          fieldsCtrls['master_data'].controls[0]
                                        "
                                        style="margin: 10px"
                                      >
                                      </app-radio>
                                      <app-datepicker
                                        *ngSwitchCase="'date'"
                                        [field]="field"
                                        [form]="
                                          fieldsCtrls['master_data'].controls[0]
                                        "
                                      ></app-datepicker>
                                      <app-slide-toggle
                                        *ngSwitchCase="'boolean'"
                                        [field]="field"
                                        [form]="
                                          fieldsCtrls['master_data'].controls[0]
                                        "
                                        (change)="
                                          field.is_onchange_event === true &&
                                            onChangeToggle(
                                              $event,
                                              field.field_key
                                            )
                                        "
                                      >
                                      </app-slide-toggle>
                                      <app-fileupload
                                        *ngSwitchCase="'file'"
                                        [field]="field"
                                        [form]="form"
                                        [submitBtn]="submitBtn"
                                        [previewImage1]="previewImage1"
                                        [previewImageType1]="previewImageType1"
                                      >
                                      </app-fileupload>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </cdk-accordion-item>
                      </cdk-accordion>
                    </div>
                  </div>
                </div>

                <cdk-accordion *ngIf="formDatDetailsaExist">
                  <cdk-accordion-item
                    #accordionItem="cdkAccordionItem"
                    tabindex="0"
                    [attr.id]="'accordion-header-'"
                    [attr.aria-expanded]="accordionItem.expanded"
                    [attr.aria-controls]="'accordion-body-'"
                  >
                    <div
                      class="header accordian"
                      *ngIf="
                        ![
                          'Supplier',
                          'Customer',
                          'Item Rate Commision'
                        ].includes(screenName)
                      "
                      (click)="accordionItem.toggle()"
                    >
                      <p
                        class="fas fa-angle-down example-accordion-item-description"
                      >
                        <i class="bi bi-chevron-down"></i>
                        <strong
                          >{{ screenName }} Details
                          <span
                            class="fas fa-angle-down example-accordion-item-description"
                          >
                          </span>
                        </strong>
                      </p>
                    </div>
                    <div
                      class="header accordian"
                      *ngIf="['Supplier', 'Customer'].includes(screenName)"
                      (click)="accordionItem.toggle()"
                    >
                      <p
                        class="fas fa-angle-down example-accordion-item-description"
                      >
                        <i class="bi bi-chevron-down"></i>
                        <strong
                          >Billing/Shipping Address Details
                          <span
                            class="fas fa-angle-down example-accordion-item-description"
                          >
                          </span>
                        </strong>
                      </p>
                    </div>

                    <div
                      class="header accordian"
                      *ngIf="['Item Rate Commision'].includes(screenName)"
                      (click)="accordionItem.toggle()"
                    >
                      <p
                        *ngIf="roleName === 'Federation'"
                        class="fas fa-angle-down example-accordion-item-description"
                      >
                        <i class="bi bi-chevron-down"></i>
                        <strong
                          >{{ screenName }} Details
                          <span
                            class="fas fa-angle-down example-accordion-item-description"
                          >
                          </span>
                        </strong>
                      </p>
                      <p
                        *ngIf="roleName !== 'Federation'"
                        class="fas fa-angle-down example-accordion-item-description"
                      >
                        <i class="bi bi-chevron-down"></i>
                        <strong
                          >Item Rate Details
                          <span
                            class="fas fa-angle-down example-accordion-item-description"
                          >
                          </span>
                        </strong>
                      </p>
                    </div>

                    <div class="row clearfix">
                      <div
                        class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                        role="region"
                        [style.display]="accordionItem.expanded ? '' : 'none'"
                        [attr.id]="'accordion-body-'"
                        [attr.aria-labelledby]="'accordion-header-'"
                      >
                        <div class="card">
                          <div class="body">
                            <div
                              *ngIf="
                                ['Item Rate Commision'].includes(screenName) &&
                                hideUpload
                              "
                            >
                              <div style="text-align: right">
                                <div
                                  class="btn-group"
                                  style="margin-right: 10px"
                                >
                                  <label class="btn btn-secondary">
                                    Upload Template<em
                                      class="fa fa-spinner fa-spin"
                                      *ngIf="showLoaderupload"
                                    ></em>
                                    <input
                                      style="display: none"
                                      type="file"
                                      accept=".xls, .xlsx"
                                      id="bulk-input"
                                      onclick="this.value = null"
                                      (change)="uploadTemplate($event)"
                                    />
                                  </label>
                                </div>

                                <div class="btn-group">
                                  <label
                                    class="btn btn-secondary"
                                    (click)="downloadTemplate()"
                                  >
                                    <span>Download Template</span>
                                  </label>
                                </div>
                              </div>
                            </div>
                            <div
                              class="table-responsive"
                              formArrayName="details_data"
                            >
                              <table
                                id="tableExport"
                                class="display table table-hover table-checkable order-column m-t-20 width-per-100 table-bordered"
                              >
                                <thead>
                                  <tr>
                                    <th
                                      style="text-align: center"
                                      *ngIf="hideButton"
                                    >
                                      Action
                                    </th>
                                    <th
                                      style="text-align: center"
                                      *ngFor="let field of formarraydata"
                                    >
                                      {{ field.field_label }}
                                    </th>
                                  </tr>
                                </thead>
                                <tbody class="main_tbody">
                                  <ng-container>
                                    <tr
                                      *ngFor="
                                        let dynamic of fieldsCtrls[
                                          'details_data'
                                        ].controls;
                                        let i = index
                                      "
                                      [formGroupName]="i"
                                    >
                                      <td
                                        class="col_input"
                                        *ngIf="
                                          i ===
                                            fieldsCtrls['details_data'].controls
                                              .length -
                                              1 && hideButton
                                        "
                                      >
                                        <button
                                          type="button"
                                          class="apply-button"
                                          (click)="addNewRow11()"
                                        >
                                          <i class="fa fa-plus"></i>
                                        </button>
                                      </td>
                                      <td
                                        class="col_input"
                                        *ngIf="
                                          i <
                                            fieldsCtrls['details_data'].controls
                                              .length -
                                              1 && hideButton
                                        "
                                      >
                                        <button
                                          type="button"
                                          class="apply-button-danger"
                                          (click)="deleteRow11(i)"
                                        >
                                          <i class="fa fa-minus"></i>
                                        </button>
                                      </td>

                                      <ng-container>
                                        <td
                                          *ngFor="let field of newArray[i]"
                                          class="col_input"
                                        >
                                          <div [ngSwitch]="field.field_type_id">
                                            <app-grid-textbox
                                              *ngSwitchCase="'text'"
                                              [field]="field"
                                              [form]="
                                                fieldsCtrls['details_data']
                                                  .controls[i]
                                              "
                                            ></app-grid-textbox>
                                            <app-grid-textbox
                                              *ngSwitchCase="'textarea'"
                                              [field]="field"
                                              [form]="
                                                fieldsCtrls['details_data']
                                                  .controls[i]
                                              "
                                            ></app-grid-textbox>
                                            <app-grid-textbox
                                              *ngSwitchCase="'integer'"
                                              [field]="field"
                                              [form]="
                                                fieldsCtrls['details_data']
                                                  .controls[i]
                                              "
                                            ></app-grid-textbox>
                                            <app-grid-dropdown
                                              *ngSwitchCase="'dropdown'"
                                              [field]="field"
                                              [field_id]="field.field_key + i"
                                              [form]="
                                                fieldsCtrls['details_data']
                                                  .controls[i]
                                              "
                                              [i]="[i]"
                                              [formDatDetailsaExist]="
                                                formDatDetailsaExist
                                              "
                                              (onChange)="
                                                (field.is_onchange_event ===
                                                  true ||
                                                  field.is_onchange_concatenate ===
                                                    true) &&
                                                  onChange(
                                                    $event.value,
                                                    'details_data',
                                                    field.id,
                                                    i,
                                                    field.is_onchange_concatenate,
                                                    field.onchange_concatenate_field_name,
                                                    field.onchange_concatenate_value,
                                                    field.dropdown_raw_query,
                                                    field.field_key,
                                                    field.is_onchange_event
                                                  )
                                              "
                                            ></app-grid-dropdown>
                                            <app-grid-checkbox
                                              *ngSwitchCase="'checkbox'"
                                              [field]="field"
                                              [form]="
                                                fieldsCtrls['details_data']
                                                  .controls[i]
                                              "
                                              style="margin: 10px"
                                            ></app-grid-checkbox>
                                            <app-grid-radio
                                              *ngSwitchCase="'radio'"
                                              [field]="field"
                                              [form]="
                                                fieldsCtrls['details_data']
                                                  .controls[i]
                                              "
                                              style="margin: 10px"
                                            ></app-grid-radio>
                                            <app-grid-toggle
                                              *ngSwitchCase="'boolean'"
                                              [field]="field"
                                              [form]="
                                                fieldsCtrls['details_data']
                                                  .controls[i]
                                              "
                                            ></app-grid-toggle>
                                            <app-grid-datepicker
                                              *ngSwitchCase="'date'"
                                              [field]="field"
                                              [form]="
                                                fieldsCtrls['details_data']
                                                  .controls[i]
                                              "
                                            ></app-grid-datepicker>
                                            <app-decimal-grid
                                              *ngSwitchCase="'float'"
                                              [field]="field"
                                              (change)="
                                                field.is_onchange_event ===
                                                  true &&
                                                  onChangefloat(
                                                    $event,
                                                    'details_data',
                                                    field.id,
                                                    i,
                                                    field.field_key
                                                  )
                                              "
                                              [form]="
                                                fieldsCtrls['details_data']
                                                  .controls[i]
                                              "
                                            >
                                            </app-decimal-grid>
                                            <app-grid-fileupload
                                              *ngSwitchCase="'file'"
                                              [field]="field"
                                              [submitBtn]="submitBtn"
                                              d
                                              [form]="
                                                fieldsCtrls['details_data']
                                                  .controls[i]
                                              "
                                              [i]="i"
                                              [previewImage]="previewImage"
                                              [key]="'details_data'"
                                            >
                                            </app-grid-fileupload>
                                          </div>
                                        </td>
                                      </ng-container>
                                    </tr>
                                  </ng-container>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </cdk-accordion-item>
                </cdk-accordion>

                <div *ngIf="formHierarchyDetailsaExist">
                  <div *ngFor="let item of detail_array; let j = index">
                    <cdk-accordion>
                      <cdk-accordion-item
                        *ngFor="let item1 of item | keyvalue; let index = index"
                        #accordionItem="cdkAccordionItem"
                        tabindex="0"
                        [attr.id]="'accordion-header-' + j"
                        [attr.aria-expanded]="accordionItem.expanded"
                        [attr.aria-controls]="'accordion-body-' + j"
                      >
                        <div (click)="accordionItem.toggle()">
                          <div class="header accordian">
                            <p
                              class="fas fa-angle-down example-accordion-item-description"
                            >
                              <i class="bi bi-chevron-down"></i>
                              <strong>
                                {{ item1.key }} Details<span
                                  style="margin-left: 30px"
                                  class="fas fa-angle-down example-accordion-item-description"
                                >
                                </span
                              ></strong>
                            </p>
                          </div>
                        </div>

                        <div class="row clearfix">
                          <div
                            class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                            role="region"
                            [style.display]="
                              accordionItem.expanded ? '' : 'none'
                            "
                            [attr.id]="'accordion-body-' + j"
                            [attr.aria-labelledby]="'accordion-header-' + j"
                          >
                            <div class="card">
                              <div class="body">
                                <div class="table-responsive">
                                  <table
                                    id="tableExport"
                                    class="display table table-hover table-checkable order-column m-t-20 width-per-100 table-bordered"
                                  >
                                    <thead>
                                      <tr>
                                        <th style="text-align: center">
                                          Action
                                        </th>

                                        <th
                                          style="text-align: center"
                                          *ngFor="
                                            let field of $any(item1).value
                                          "
                                        >
                                          <ng-container
                                            *ngIf="
                                              field.field_key !== 'unique_id'
                                            "
                                            >{{
                                              field.field_label
                                            }}</ng-container
                                          >
                                        </th>
                                      </tr>
                                    </thead>
                                    <tbody class="main_tbody">
                                      <tr
                                        *ngFor="
                                          let dynamic of fieldsCtrls[
                                            $any(item1).key
                                          ].controls;
                                          let i = index
                                        "
                                        [formGroupName]="$any(item1).key"
                                      >
                                        <td class="col_input">
                                          <button
                                            type="button"
                                            *ngIf="i === 0"
                                            class="apply-button"
                                            (click)="
                                              addNewRow(
                                                $any(item1).key,
                                                fieldsCtrls[$any(item1).key]
                                                  .controls,
                                                j
                                              )
                                            "
                                          >
                                            <i class="fa fa-plus"></i>
                                          </button>
                                          <button
                                            type="button"
                                            *ngIf="i > 0"
                                            class="apply-button-danger"
                                            (click)="
                                              deleteRow(
                                                i,
                                                $any(item1).key,
                                                fieldsCtrls[$any(item1).key]
                                                  .controls,
                                                j
                                              )
                                            "
                                          >
                                            <i class="fa fa-minus"></i>
                                          </button>
                                        </td>

                                        <td
                                          *ngFor="
                                            let field of $any(item1).value
                                          "
                                        >
                                          <div
                                            [ngSwitch]="field.field_type_id"
                                            *ngIf="
                                              field.field_key !== 'unique_id'
                                            "
                                          >
                                            <app-grid-textbox
                                              *ngSwitchCase="'text'"
                                              [field]="field"
                                              [i]="i + 1"
                                              [form]="
                                                fieldsCtrls[$any(item1).key]
                                                  .controls[i]
                                              "
                                              [form1]="form"
                                              [item]="detail_array"
                                            ></app-grid-textbox>
                                            <app-grid-textbox
                                              *ngSwitchCase="'textarea'"
                                              [field]="field"
                                              [form]="
                                                fieldsCtrls[$any(item1).key]
                                                  .controls[i]
                                              "
                                            ></app-grid-textbox>
                                            <app-grid-textbox
                                              *ngSwitchCase="'integer'"
                                              [i]="i + 1"
                                              [field]="field"
                                              [form]="
                                                fieldsCtrls[$any(item1).key]
                                                  .controls[i]
                                              "
                                            ></app-grid-textbox>
                                            <app-grid-dropdown
                                              *ngSwitchCase="'dropdown'"
                                              [field]="field"
                                              [field_id]="field.field_key + i"
                                              [form]="
                                                fieldsCtrls[$any(item1).key]
                                                  .controls[i]
                                              "
                                              (onChange)="
                                                (field.is_onchange_event ===
                                                  true ||
                                                  field.is_onchange_concatenate ===
                                                    true) &&
                                                  onChange(
                                                    $event.value,
                                                    'details_data',
                                                    field.id,
                                                    i,
                                                    field.is_onchange_concatenate,
                                                    field.onchange_concatenate_field_name,
                                                    field.onchange_concatenate_value,
                                                    field.dropdown_raw_query,
                                                    field.field_key,
                                                    field.is_onchange_event
                                                  )
                                              "
                                              [formDatDetailsaExist]="
                                                formDatDetailsaExist
                                              "
                                            ></app-grid-dropdown>
                                            <app-grid-checkbox
                                              *ngSwitchCase="'checkbox'"
                                              [field]="field"
                                              [form]="
                                                fieldsCtrls[$any(item1).key]
                                                  .controls[i]
                                              "
                                              style="margin: 10px"
                                            ></app-grid-checkbox>
                                            <app-grid-radio
                                              *ngSwitchCase="'radio'"
                                              [field]="field"
                                              [form]="
                                                fieldsCtrls[$any(item1).key]
                                                  .controls[i]
                                              "
                                              style="margin: 10px"
                                            ></app-grid-radio>
                                            <app-grid-toggle
                                              *ngSwitchCase="'boolean'"
                                              [field]="field"
                                              [form]="
                                                fieldsCtrls[$any(item1).key]
                                                  .controls[i]
                                              "
                                            ></app-grid-toggle>
                                            <app-grid-datepicker
                                              *ngSwitchCase="'date'"
                                              [field]="field"
                                              [form]="
                                                fieldsCtrls[$any(item1).key]
                                                  .controls[i]
                                              "
                                            ></app-grid-datepicker>
                                            <app-decimal-grid
                                              *ngSwitchCase="'float'"
                                              [field]="field"
                                              [form]="
                                                fieldsCtrls[$any(item1).key]
                                                  .controls[i]
                                              "
                                            >
                                            </app-decimal-grid>
                                            <app-grid-fileupload
                                              *ngSwitchCase="'file'"
                                              [field]="field"
                                              [submitBtn]="submitBtn"
                                              [form]="
                                                fieldsCtrls[$any(item1).key]
                                                  .controls[i]
                                              "
                                              [i]="i"
                                              [previewImage]="previewImage"
                                              [key]="item1.key"
                                            >
                                            </app-grid-fileupload>
                                          </div>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </cdk-accordion-item>
                    </cdk-accordion>
                  </div>
                </div>
              </div>
            </div>
            <div class="card" *ngIf="formDatSubDetailsaExist">
              <div class="body">
                <div class="header">
                  <h2>
                    <strong>Define {{ screenName }} Sub Details</strong>
                  </h2>
                </div>
                <div class="row clearfix">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                      <div class="body">
                        <div
                          class="table-responsive"
                          formArrayName="sub_details_data"
                        >
                          <table
                            id="tableExport1"
                            class="table-hover table-checkable order-column m-t-20 width-per-100 table-bordered"
                          >
                            <thead>
                              <tr>
                                <th style="text-align: center">Action</th>
                                <th
                                  style="text-align: center"
                                  *ngFor="let field1 of formarraysubdata"
                                >
                                  {{ field1.field_label }}
                                </th>
                              </tr>
                            </thead>
                            <tbody class="main_tbody">
                              <ng-container>
                                <tr
                                  *ngFor="
                                    let dynamic of fieldsCtrls[
                                      'sub_details_data'
                                    ].controls;
                                    let i = index
                                  "
                                  [formGroupName]="i"
                                >
                                  <ng-container *ngIf="i === 0">
                                    <td>
                                      <button
                                        type="button"
                                        class="btn btn-primary btn-rounded waves-effect"
                                        (click)="addNewRow1()"
                                      >
                                        +
                                      </button>
                                    </td>
                                  </ng-container>
                                  <ng-container *ngIf="i > 0">
                                    <td>
                                      <button
                                        type="button"
                                        class="btn btn-danger btn-rounded waves-effect"
                                        (click)="deleteRow1(i)"
                                      >
                                        -
                                      </button>
                                    </td>
                                  </ng-container>
                                  <td *ngFor="let field of formarraysubdata">
                                    <div
                                      [ngSwitch]="field.field_type_id"
                                      *ngIf="field.field_key !== 'unique_id'"
                                    >
                                      <app-grid-textbox
                                        *ngSwitchCase="'text'"
                                        [field]="field"
                                        [form]="
                                          fieldsCtrls['sub_details_data']
                                            .controls[i]
                                        "
                                      ></app-grid-textbox>
                                      <app-grid-textbox
                                        *ngSwitchCase="'integer'"
                                        [field]="field"
                                        [form]="
                                          fieldsCtrls['sub_details_data']
                                            .controls[i]
                                        "
                                      ></app-grid-textbox>
                                      <app-grid-dropdown
                                        *ngSwitchCase="'dropdown'"
                                        [field]="field"
                                        [field_id]="field.field_key + i"
                                        [form]="
                                          fieldsCtrls['sub_details_data']
                                            .controls[i]
                                        "
                                        (onChange)="
                                          (field.is_onchange_event === true ||
                                            field.is_onchange_concatenate ===
                                              true) &&
                                            onChange(
                                              $event,
                                              'details_data',
                                              field.id,
                                              i,
                                              field.is_onchange_concatenate,
                                              field.onchange_concatenate_field_name,
                                              field.onchange_concatenate_value,
                                              field.dropdown_raw_query,
                                              field.field_key,
                                              field.is_onchange_event
                                            )
                                        "
                                      ></app-grid-dropdown>
                                      <app-grid-checkbox
                                        *ngSwitchCase="'checkbox'"
                                        [field]="field"
                                        [form]="
                                          fieldsCtrls['sub_details_data']
                                            .controls[i]
                                        "
                                        style="margin: 10px"
                                      ></app-grid-checkbox>
                                      <app-grid-radio
                                        *ngSwitchCase="'radio'"
                                        [field]="field"
                                        [form]="
                                          fieldsCtrls['sub_details_data']
                                            .controls[i]
                                        "
                                        style="margin: 10px"
                                      ></app-grid-radio>
                                      <app-grid-toggle
                                        *ngSwitchCase="'toggle'"
                                        [field]="field"
                                        [form]="
                                          fieldsCtrls['sub_details_data']
                                            .controls[i]
                                        "
                                      ></app-grid-toggle>
                                      <app-decimal-grid
                                        *ngSwitchCase="'float'"
                                        [field]="field"
                                        [form]="
                                          fieldsCtrls['sub_details_data']
                                            .controls[i]
                                        "
                                      >
                                      </app-decimal-grid>
                                    </div>
                                  </td>
                                </tr>
                              </ng-container>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="left">
        <button class="cancel" (click)="onCancelForm()">Cancel</button>
      </div>
      <div class="right d-flex">
        <button
          class="send"
          (click)="onResetForm()"
          [disabled]="showLoaderSubmit"
          *ngIf="submitBtn && BTN_VAL === 'Submit'"
        >
          Reset
        </button>
        <button
          class="submit"
          (click)="onSubmit()"
          *ngIf="submitBtn"
          [disabled]="showLoaderSubmit"
        >
          {{ BTN_VAL }}
          <i class="fa fa-spinner fa-spin" *ngIf="showLoaderSubmit"></i>
        </button>
      </div>
    </div>
  </div>
</div>
