<div class="edit_pop_up override_edit_pop_up">
  <div class="big-model">
    <div class="header">
      <p>{{ screenName }}</p>
      <button (click)="onCancelForm()">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
    <div class="body overflow_model">
      <div class="details-form">
        <form [formGroup]="paymentsForm">
          <div class="personal">
            <div class="row d-flex">
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Payment Date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="transaction_date"
                    readonly
                    id="transaction_date"
                    [(ngModel)]="todayDate"
                    formControlName="transaction_date"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="transaction_date"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #transaction_date></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Payment Type</mat-label>
                  <mat-select
                    formControlName="payment_type_ref_id"
                    required
                    (selectionChange)="PaymentTypeChnage($event.value)"
                  >
                    <mat-option [value]="">Select Payment Type</mat-option>
                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of PaymentType"
                      >{{ obj.master_key }}</mat-option
                    >
                  </mat-select>
                  <mat-error
                    *ngIf="
                      paymentsForm.controls['payment_type_ref_id'].hasError(
                        'required'
                      )
                    "
                    >Payment Type is Required.</mat-error
                  >
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Supplier Name</mat-label>
                  <mat-select
                    formControlName="supplier_ref_id"
                    required
                    (selectionChange)="supplierChnage($event.value)"
                  >
                    <mat-select-filter
                      [placeholder]="'Search'"
                      [displayMember]="'key'"
                      [array]="SupplierData"
                      (filteredReturn)="filterSupplierData = $event"
                    ></mat-select-filter>
                    <mat-option [value]="">Select Supplier Name</mat-option>
                    <mat-option
                      style="padding-top: 8px; padding-bottom: 8px"
                      [value]="obj.id"
                      *ngFor="let obj of filterSupplierData"
                      >{{ obj.key }}</mat-option
                    >
                  </mat-select>
                  <mat-error
                    *ngIf="
                      paymentsForm.controls['supplier_ref_id'].hasError(
                        'required'
                      )
                    "
                    >Supplier Name Is Required.</mat-error
                  >
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Payment Method</mat-label>
                  <mat-select formControlName="payment_method_ref_id" required>
                    <mat-option [value]="">Select Payment Method</mat-option>
                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of PaymentMethodData"
                      >{{ obj.master_key }}</mat-option
                    >
                  </mat-select>
                  <mat-error
                    *ngIf="
                      paymentsForm.controls['payment_method_ref_id'].hasError(
                        'required'
                      )
                    "
                    >Payment Method Is Required.</mat-error
                  >
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Company Account Number</mat-label>
                  <mat-select formControlName="tenant_account_ref_id" required>
                    <mat-option [value]="">Select Account Number</mat-option>
                    <mat-option [value]="obj.id" *ngFor="let obj of BankData">{{
                      obj.key
                    }}</mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="
                      paymentsForm.controls['tenant_account_ref_id'].hasError(
                        'required'
                      )
                    "
                    >Company Account Number Is Required.</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Supplier Bank Name</mat-label>
                  <input
                    matInput
                    formControlName="supplier_bank_name"
                    inputTrim
                  />
                </mat-form-field>
              </div>
              <div class="col-md-3 readonly-input">
                <mat-form-field class="example-full-width">
                  <mat-label>Supplier Bank IFSC Code</mat-label>
                  <input
                    matInput
                    formControlName="supplier_ifsc_code"
                    placeholder="Supplier Type"
                    inputTrim
                  />
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Supplier Bank Account No</mat-label>
                  <input
                    matInput
                    formControlName="supplier_account_no"
                    placeholder="Supplier Type"
                    inputTrim
                  />
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Gross Transaction Amount</mat-label>
                  <input
                    matInput
                    formControlName="txn_currency_net_amount"
                    type="Number"
                    step="0.01"
                    min="0"
                    oninput="validity.valid||(value='');"
                    inputTrim
                    (change)="netAmountChange($event)"
                  />
                  <mat-error
                    *ngIf="
                      paymentsForm.controls['txn_currency_net_amount'].hasError(
                        'required'
                      )
                    "
                    >Gross Transaction Amount Is Required.</mat-error
                  >
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Bank Charges(In Trans Currency)</mat-label>
                  <input
                    matInput
                    formControlName="txn_currency_bank_charges"
                    type="Number"
                    step="0.01"
                    min="0"
                    oninput="validity.valid||(value='');"
                    inputTrim
                    (change)="BankChargesAmountChange($event)"
                  />
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Bank Charges(In Base Currency)</mat-label>
                  <input
                    matInput
                    formControlName="base_currency_bank_charges"
                    type="Number"
                    step="0.01"
                    min="0"
                    oninput="validity.valid||(value='');"
                    inputTrim
                    (change)="BaseBankChargesAmountChange($event)"
                  />
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Net Transaction Amount</mat-label>
                  <input
                    matInput
                    formControlName="txn_currency_gross_amount"
                    type="Number"
                    step="0.01"
                    min="0"
                    oninput="validity.valid||(value='');"
                    inputTrim
                    readonly
                  />
                </mat-form-field>
              </div>

              <div class="col-md-3" *ngIf="tds_applicable">
                <mat-form-field class="example-full-width">
                  <mat-label>TDS Amount</mat-label>
                  <input
                    matInput
                    formControlName="tds_amount"
                    type="Number"
                    step="0.01"
                    min="0"
                    oninput="validity.valid||(value='');"
                    inputTrim
                    readonly
                  />
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Transaction Currency</mat-label>
                  <mat-select formControlName="txn_currency">
                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of CurrencyData"
                      >{{ obj.currency_code }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div *ngIf="ShowAdvanceGrid">
              <div class="header accordian">
                <p class="fas fa-angle-down example-accordion-item-description">
                  <strong>
                    Advance {{ screenName }} Details<span
                      class="fas fa-angle-down example-accordion-item-description"
                    >
                    </span
                  ></strong>
                </p>
              </div>
            </div>
            <div [formGroup]="paymentsForm">
              <div class="card">
                <div class="body">
                  <div class="row clearfix" *ngIf="ShowAdvanceGrid">
                    <div
                      class="table-responsive"
                      formArrayName="advance_details"
                    >
                      <table
                        id="tableExport1"
                        class="display table table-hover table-checkable order-column m-t-20 width-per-100 table-bordered"
                      >
                        <caption></caption>
                        <thead>
                          <tr>
                            <th style="text-align: center" *ngIf="submitBtn">
                              Action
                            </th>
                            <th style="text-align: center">PO Number</th>
                            <th style="text-align: center">Advance Amount</th>
                          </tr>
                        </thead>
                        <tbody class="main_tbody">
                          <tr
                            *ngFor="
                              let dynamic of formArray1['controls'];
                              let j = index
                            "
                            [formGroupName]="j"
                          >
                            <td class="col_input" *ngIf="j === 0 && submitBtn">
                              <button
                                type="button"
                                class="apply-button"
                                (click)="addNewRow()"
                              >
                                <i class="fa fa-plus"></i>
                              </button>
                            </td>
                            <td class="col_input" *ngIf="j > 0">
                              <button
                                type="button"
                                class="apply-button-danger"
                                (click)="deleteRow(j)"
                              >
                                <i class="fa fa-minus"></i>
                              </button>
                            </td>

                            <td class="col_input" style="text-align: center">
                              <mat-form-field class="example-full-width">
                                <mat-select
                                  formControlName="purchase_expense_booking_ref_id"
                                  (selectionChange)="POChnage($event.value, j)"
                                >
                                  <mat-option
                                    [value]="obj.id"
                                    *ngFor="let obj of POData"
                                    >{{ obj.transaction_ref_no }}</mat-option
                                  >
                                </mat-select>
                              </mat-form-field>
                            </td>

                            <td class="col_input">
                              <mat-form-field class="example-full-width">
                                <input
                                  matInput
                                  id="txn_currency_amount{{ j + 1 }}"
                                  formControlName="txn_currency_amount"
                                  type="Number"
                                  step="0.001"
                                  min="0"
                                  oninput="validity.valid||(value='');"
                                  (change)="advance_amt_change($event, j)"
                                />
                              </mat-form-field>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="ShowPaymentGrid">
              <div class="header accordian">
                <p class="fas fa-angle-down example-accordion-item-description">
                  <strong>
                    {{ screenName }} Details<span
                      class="fas fa-angle-down example-accordion-item-description"
                    >
                    </span
                  ></strong>
                </p>
              </div>
            </div>
            <div [formGroup]="paymentsForm">
              <div class="card" *ngIf="ShowPaymentGrid">
                <div class="body">
                  <div class="row clearfix">
                    <div
                      class="table-responsive"
                      formArrayName="payment_details"
                    >
                      <table
                        id="tableExport1"
                        class="display table table-hover table-checkable order-column m-t-20 width-per-100 table-bordered"
                      >
                        <caption></caption>
                        <thead>
                          <tr>
                            <th
                              style="text-align: center"
                              *ngIf="DisabledCheck"
                            >
                              <div>
                                <ng-container *ngIf="!checkAllProcess"
                                  >Check All</ng-container
                                >

                                <ng-container *ngIf="checkAllProcess"
                                  >Uncheck All</ng-container
                                >
                              </div>
                              <div>
                                <mat-checkbox
                                  type="checkbox"
                                  (change)="checkAll()"
                                  [checked]="checkAllProcess"
                                ></mat-checkbox>
                              </div>
                            </th>
                            <th style="text-align: center">
                              Purchase/Expense Booking No.
                            </th>
                            <th style="text-align: center">Supplier Bill No</th>
                            <th style="text-align: center">
                              Purchase/Expense Booking Amount
                            </th>
                            <th style="text-align: center">
                              Advance Amount Apply
                            </th>
                            <th style="text-align: center">Amount Payable</th>
                          </tr>
                        </thead>
                        <tbody class="main_tbody">
                          <tr
                            *ngFor="
                              let dynamic of formArray['controls'];
                              let i = index
                            "
                            [formGroupName]="i"
                          >
                            <td
                              style="text-align: center"
                              *ngIf="DisabledCheck"
                            >
                              <mat-checkbox
                                type="checkbox"
                                [checked]="
                                  paymentsForm.value['payment_details'][i][
                                    'isChecked'
                                  ]
                                "
                                (change)="toggle($event, i)"
                              ></mat-checkbox>
                            </td>

                            <td class="col_input" style="text-align: center">
                              {{
                                formArray.controls[i].get(
                                  "purchase_expense_booking_ref_name"
                                )?.value
                              }}

                              <mat-form-field
                                class="example-full-width"
                                [hidden]="true"
                                readonly
                              >
                                <mat-label
                                  >Purchase/Expense Booking No.</mat-label
                                >
                                <input
                                  matInput
                                  formControlName="purchase_expense_booking_ref_name"
                                  id="purchase_expense_booking_ref_name{{
                                    i + 1
                                  }}"
                                />
                              </mat-form-field>
                            </td>

                            <td class="col_input">
                              {{
                                formArray.controls[i].get("supplier_bill_no")
                                  ?.value
                              }}

                              <mat-form-field
                                class="example-full-width"
                                [hidden]="true"
                                readonly
                              >
                                <mat-label>Supplier Bill No</mat-label>
                                <input
                                  matInput
                                  formControlName="supplier_bill_no"
                                  id="supplier_bill_no{{ i + 1 }}"
                                />
                              </mat-form-field>
                            </td>

                            <td class="col_input">
                              {{
                                formArray.controls[i].get(
                                  "purchase_expense_booking_amount"
                                )?.value
                              }}

                              <mat-form-field
                                class="example-full-width"
                                [hidden]="true"
                                readonly
                              >
                                <input
                                  matInput
                                  formControlName="purchase_expense_booking_amount"
                                  id="purchase_expense_booking_amount{{
                                    i + 1
                                  }}"
                                />
                              </mat-form-field>
                            </td>

                            <td class="col_input">
                              <mat-form-field class="example-full-width">
                                <input
                                  matInput
                                  id="txn_currency_advance_amount_applied{{
                                    i + 1
                                  }}"
                                  type="Number"
                                  step="0.001"
                                  min="0"
                                  oninput="validity.valid||(value='');"
                                  formControlName="txn_currency_advance_amount_applied"
                                  (change)="advance_amt_apply_change($event, i)"
                                />
                              </mat-form-field>
                            </td>

                            <td class="col_input">
                              <mat-form-field class="example-full-width">
                                <input
                                  matInput
                                  id="txn_currency_amount{{ i + 1 }}"
                                  formControlName="txn_currency_amount"
                                  type="Number"
                                  step="0.001"
                                  min="0"
                                  oninput="validity.valid||(value='');"
                                  (change)="amt_transaction_change($event, i)"
                                />
                              </mat-form-field>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

           
          </div>
        </form>
      </div>
    </div>
    <div class="footer">
      <div class="left">
        <button class="cancel" (click)="onCancelForm()">Cancel</button>
      </div>
      <div class="right d-flex">
        <button
          class="send"
          *ngIf="submitBtn && showReset"
          (click)="onResetForm()"
          [disabled]="showLoader"
        >
          Reset
        </button>
        <button
          class="submit"
          type="submit"
          *ngIf="submitBtn"
          [disabled]="showLoader"
          name="submit"
          value="Submit"
          (click)="onSubmit()"
        >
          {{ btnVal }}
          <i class="fa fa-spinner fa-spin" *ngIf="showLoader"></i>
        </button>
      </div>
    </div>
  </div>
</div>
