<section class="content">
  <div class="approval-container">
    <div class="header">
      <p>
        <strong>{{ screenName }}</strong>
      </p>
      <div class="approval-form">
        <form [formGroup]="gstr3bForm" (ngSubmit)="seerachData()">
          <div class="personal">
            <div class="row d-flex">
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label class="readonly-input">Date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="date"
                    id="date"
                    placeholder="Date"
                    class="readonly-input"
                    formControlName="date"
                    required
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="date"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #date></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="row m-0 button-container">
            <button
              class="apply"
              color="primary"
              type="submit"
              *ngIf="submitBtn"
              [disabled]="showLoader"
              name="submit"
              value="Submit"
            >
              Search
              <i class="fa fa-spinner fa-spin" *ngIf="showLoader"></i>
            </button>
            <button
              class="clear"
              type="button"
              *ngIf="submitBtn"
              (click)="onResetForm()"
              [disabled]="showLoader"
            >
              Reset
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="body1" *ngIf="listDiv" style="margin-top: 30px">
    <div class="approval-container">
      <div class="header" style="text-align: center">
        <p>
          <strong>Sales Data</strong>
        </p>
      </div>
      <div class="body">
        <div class="top">
          <button (click)="exportExcel('sales', reportData)">
            <img src="assets/usedimg/excel_icon.png" alt="" /> Download Excel
          </button>
        </div>
      </div>
    </div>
    <div class="data_table">
      <table class="table table-hover dashboard-task-infos">
        <thead>
          <tr>
            <th style="text-align: center; font-size: 14px; color: black">
              Sr. No
            </th>
            <th style="text-align: center; font-size: 14px; color: black">
              Invoice No.
            </th>
            <th style="text-align: center; font-size: 14px; color: black">
              Transaction Amount
            </th>
            <th style="text-align: center; font-size: 14px; color: black">
              CGST Amount
            </th>
            <th style="text-align: center; font-size: 14px; color: black">
              SGST Amount
            </th>
            <th style="text-align: center; font-size: 14px; color: black">
              IGST Amount
            </th>
          </tr>
        </thead>

        <tbody>
          <ng-container *ngFor="let dynamic of reportData; let i = index">
            <tr>
              <td style="text-align: center; color: #000; font-size: 14px">
                {{ reportData[i]["Sr_No"] }}
                <!-- <i *ngIf="!dynamic.isExpand" class="fas fa-angle-right"></i>
                <i *ngIf="dynamic.isExpand" class="fas fa-angle-down"></i> -->
              </td>
              <td style="text-align: center; color: #000; font-size: 14px">
                {{ reportData[i]["transaction_ref_no"] }}
              </td>
              <td style="text-align: center; color: #000; font-size: 14px">
                {{ reportData[i]["transaction_amount"] }}
              </td>
              <td style="text-align: center; color: #000; font-size: 14px">
                {{ reportData[i]["cgst_amount"] }}
              </td>
              <td style="text-align: center; color: #000; font-size: 14px">
                {{ reportData[i]["sgst_amount"] }}
              </td>
              <td style="text-align: center; color: #000; font-size: 14px">
                {{ reportData[i]["igst_amount"] }}
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <div class="paginator1">
        <div>
          <span style="font-size: 12px">Items Per Page:</span>&nbsp;
          <select
            id="itemsPerPage"
            [(ngModel)]="pageLimit"
            (change)="onPageSizeSelect()"
            style="
              font-size: 12px;
              width: 60px;
              background: #e6f4fa;
              height: 40px;
              border-radius: 5px;
              border: none;
            "
          >
            <option *ngFor="let size of pageSizes" [value]="size">
              {{ size }}
            </option>
          </select>
        </div>
        <div class="pagination-text" style="font-size: 12px">
          Page <span id="currentPage">{{ pageNumber }}</span>
        </div>
        <div class="pagination-icons">
          <app-feather-icons
            [icon]="'chevron-left'"
            (click)="prevPageClick()"
            [class]="'color-black'"
          ></app-feather-icons>
          <app-feather-icons
            [icon]="'chevron-right'"
            [class]="'color-black'"
            (click)="nextPageClick()"
          ></app-feather-icons>
        </div>
        <div class="loading-indicator" *ngIf="isLoading"></div>
      </div>
    </div>
  </div>

  <div class="body1" *ngIf="listDiv" style="margin-top: 30px">
    <div class="approval-container">
      <div class="header" style="text-align: center">
        <p>
          <strong>Purchase Data</strong>
        </p>
      </div>
      <div class="body">
        <div class="top">
          <button (click)="exportExcel('purchase', reportData1)">
            <img src="assets/usedimg/excel_icon.png" alt="" /> Download Excel
          </button>
        </div>
      </div>
    </div>
    <div class="data_table">
      <table class="table table-hover dashboard-task-infos">
        <thead>
          <tr>
            <th style="text-align: center; font-size: 14px; color: black">
              Sr. No
            </th>
            <th style="text-align: center; font-size: 14px; color: black">
              Purchase Booking No.
            </th>
            <th style="text-align: center; font-size: 14px; color: black">
              Transaction Amount
            </th>
            <th style="text-align: center; font-size: 14px; color: black">
              CGST Amount
            </th>
            <th style="text-align: center; font-size: 14px; color: black">
              SGST Amount
            </th>
            <th style="text-align: center; font-size: 14px; color: black">
              IGST Amount
            </th>
          </tr>
        </thead>

        <tbody>
          <ng-container *ngFor="let dynamic of reportData1; let i = index">
            <tr>
              <td style="text-align: center; color: #000; font-size: 14px">
                {{ reportData1[i]["Sr_No"] }}
              </td>
              <td style="text-align: center; color: #000; font-size: 14px">
                {{ reportData1[i]["transaction_ref_no"] }}
              </td>
              <td style="text-align: center; color: #000; font-size: 14px">
                {{ reportData1[i]["transaction_amount"] }}
              </td>
              <td style="text-align: center; color: #000; font-size: 14px">
                {{ reportData1[i]["cgst_amount"] }}
              </td>
              <td style="text-align: center; color: #000; font-size: 14px">
                {{ reportData1[i]["sgst_amount"] }}
              </td>
              <td style="text-align: center; color: #000; font-size: 14px">
                {{ reportData1[i]["igst_amount"] }}
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <div class="paginator1">
        <div>
          <span style="font-size: 12px">Items Per Page:</span>&nbsp;
          <select
            id="itemsPerPage"
            [(ngModel)]="pageLimit1"
            (change)="onPageSizeSelect1()"
            style="
              font-size: 12px;
              width: 60px;
              background: #e6f4fa;
              height: 40px;
              border-radius: 5px;
              border: none;
            "
          >
            <option *ngFor="let size of pageSizes1" [value]="size">
              {{ size }}
            </option>
          </select>
        </div>
        <div class="pagination-text" style="font-size: 12px">
          Page <span id="currentPage">{{ pageNumber1 }}</span>
        </div>
        <div class="pagination-icons">
          <app-feather-icons
            [icon]="'chevron-left'"
            (click)="prevPageClick1()"
            [class]="'color-black'"
          ></app-feather-icons>
          <app-feather-icons
            [icon]="'chevron-right'"
            [class]="'color-black'"
            (click)="nextPageClick1()"
          ></app-feather-icons>
        </div>
        <div class="loading-indicator" *ngIf="isLoading1"></div>
      </div>
    </div>
  </div>

  <div class="body1" *ngIf="listDiv" style="margin-top: 30px">
    <div class="approval-container">
      <div class="header" style="text-align: center">
        <p>
          <strong>Expense Data</strong>
        </p>
      </div>
      <div class="body">
        <div class="top">
          <button (click)="exportExcel('expense', reportData2)">
            <img src="assets/usedimg/excel_icon.png" alt="" /> Download Excel
          </button>
        </div>
      </div>
    </div>
    <div class="data_table">
      <table class="table table-hover dashboard-task-infos">
        <thead>
          <tr>
            <th style="text-align: center; font-size: 14px; color: black">
              Sr. No
            </th>
            <th style="text-align: center; font-size: 14px; color: black">
              Expence Voucher .No
            </th>
            <th style="text-align: center; font-size: 14px; color: black">
              Transaction Amount
            </th>
            <th style="text-align: center; font-size: 14px; color: black">
              CGST Amount
            </th>
            <th style="text-align: center; font-size: 14px; color: black">
              SCGST Amount
            </th>
            <th style="text-align: center; font-size: 14px; color: black">
              IGST Amount
            </th>
          </tr>
        </thead>

        <tbody>
          <ng-container *ngFor="let dynamic of reportData2; let i = index">
            <tr>
              <td style="text-align: center; color: #000; font-size: 14px">
                {{ reportData2[i]["Sr_No"] }}
              </td>
              <td style="text-align: center; color: #000; font-size: 14px">
                {{ reportData2[i]["transaction_ref_no"] }}
              </td>
              <td style="text-align: center; color: #000; font-size: 14px">
                {{ reportData2[i]["transaction_amount"] }}
              </td>
              <td style="text-align: center; color: #000; font-size: 14px">
                {{ reportData2[i]["cgst_amount"] }}
              </td>
              <td style="text-align: center; color: #000; font-size: 14px">
                {{ reportData2[i]["sgst_amount"] }}
              </td>
              <td style="text-align: center; color: #000; font-size: 14px">
                {{ reportData2[i]["igst_amount"] }}
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <div class="paginator1">
        <div>
          <span style="font-size: 12px">Items Per Page:</span>&nbsp;
          <select
            id="itemsPerPage"
            [(ngModel)]="pageLimit2"
            (change)="onPageSizeSelect2()"
            style="
              font-size: 12px;
              width: 60px;
              background: #e6f4fa;
              height: 40px;
              border-radius: 5px;
              border: none;
            "
          >
            <option *ngFor="let size of pageSizes2" [value]="size">
              {{ size }}
            </option>
          </select>
        </div>
        <div class="pagination-text" style="font-size: 12px">
          Page <span id="currentPage">{{ pageNumber2 }}</span>
        </div>
        <div class="pagination-icons">
          <app-feather-icons
            [icon]="'chevron-left'"
            (click)="prevPageClick2()"
            [class]="'color-black'"
          ></app-feather-icons>
          <app-feather-icons
            [icon]="'chevron-right'"
            [class]="'color-black'"
            (click)="nextPageClick2()"
          ></app-feather-icons>
        </div>
        <div class="loading-indicator" *ngIf="isLoading2"></div>
      </div>
    </div>
  </div>

  <div class="body1" *ngIf="listDiv" style="margin-top: 30px">
    <div class="data_table">
      <table class="table table-hover dashboard-task-infos">
        <thead>
          <tr>
            <th style="text-align: center; font-size: 14px; color: black">
              RCM Liability
            </th>

            <th style="text-align: center; font-size: 14px; color: black">
              Sr. No
            </th>
            <th style="text-align: center; font-size: 14px; color: black">
              Expenses
            </th>

            <th style="text-align: center; font-size: 14px; color: black">
              Transaction Amount
            </th>
            <th style="text-align: center; font-size: 14px; color: black">
              CGST Amount
            </th>
            <th style="text-align: center; font-size: 14px; color: black">
              SCGST Amount
            </th>
            <th style="text-align: center; font-size: 14px; color: black">
              IGST Amount
            </th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th style="text-align: center; font-size: 14px; color: black">
              RCM Set Off
            </th>

            <th style="text-align: center; font-size: 14px; color: black">
              Sr. No
            </th>
            <th style="text-align: center; font-size: 14px; color: black">
              Expenses
            </th>

            <th style="text-align: center; font-size: 14px; color: black">
              Transaction Amount
            </th>
            <th style="text-align: center; font-size: 14px; color: black">
              CGST Amount
            </th>
            <th style="text-align: center; font-size: 14px; color: black">
              SCGST Amount
            </th>
            <th style="text-align: center; font-size: 14px; color: black">
              IGST Amount
            </th>
          </tr>
        </thead>
        <!-- <tbody>
          <ng-container *ngFor="let dynamic of reportData1; let i = index">
            <tr>
              <td style="text-align: center; color: #000; font-size: 14px">
                {{ reportData1[i]["Sr_No"] }}
                <!-- <i *ngIf="!dynamic.isExpand" class="fas fa-angle-right"></i>
                <i *ngIf="dynamic.isExpand" class="fas fa-angle-down"></i>
              </td>

              <td style="text-align: center; color: #000; font-size: 14px">
                {{ reportData1[i]["transaction_amount"] }}
              </td>
              <td style="text-align: center; color: #000; font-size: 14px">
                {{ reportData1[i]["cgst_amount"] }}
              </td>
              <td style="text-align: center; color: #000; font-size: 14px">
                {{ reportData1[i]["sgst_amount"] }}
              </td>
              <td style="text-align: center; color: #000; font-size: 14px">
                {{ reportData1[i]["igst_amount"] }}
              </td>
            </tr>
          </ng-container>
        </tbody> -->
      </table>
    </div>
  </div>

  <div class="body1" *ngIf="listDiv" style="margin-top: 30px">
    <div class="data_table">
      <table class="table table-hover dashboard-task-infos">
        <thead>
          <tr>
            <th style="text-align: center; font-size: 14px; color: black"></th>

            <th style="text-align: center; font-size: 14px; color: black">
              Transaction Amount
            </th>
            <th style="text-align: center; font-size: 14px; color: black">
              CGST Amount
            </th>
            <th style="text-align: center; font-size: 14px; color: black">
              SCGST Amount
            </th>
            <th style="text-align: center; font-size: 14px; color: black">
              IGST Amount
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let dynamic of reportData3; let i = index">
            <tr>
              <td style="text-align: center; color: #000; font-size: 14px">
                {{ reportData3[i]["net_payable"] }}
              </td>
              <td style="text-align: center; color: #000; font-size: 14px">
                {{ reportData3[i]["txn_amt"] }}
              </td>
              <td style="text-align: center; color: #000; font-size: 14px">
                {{ reportData3[i]["final_cgst_amt"] }}
              </td>
              <td style="text-align: center; color: #000; font-size: 14px">
                {{ reportData3[i]["final_sgst_amt"] }}
              </td>
              <td style="text-align: center; color: #000; font-size: 14px">
                {{ reportData3[i]["final_igst_amt"] }}
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>

  <!-- <div class="body1" *ngIf="listDiv" style="margin-top: 30px">
    <div class="data_table">
      <table class="table table-hover dashboard-task-infos">
        <thead>
          <tr>
            <th style="text-align: center; font-size: 14px; color: black">
              Transaction Amount
            </th>
            <th style="text-align: center; font-size: 14px; color: black">
              CGST Amount
            </th>
            <th style="text-align: center; font-size: 14px; color: black">
              SCGST Amount
            </th>
            <th style="text-align: center; font-size: 14px; color: black">
              IGST Amount
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let dynamic of reportData3; let i = index">
            <tr>
              <td style="text-align: center; color: #000; font-size: 14px">
                {{ reportData1[i]["net_payable"] }}
              </td>

              <td style="text-align: center; color: #000; font-size: 14px">
                {{ reportData3[i]["txn_amt"] }}
              </td>
              <td style="text-align: center; color: #000; font-size: 14px">
                {{ reportData3[i]["final_cgst_amt"] }}
              </td>
              <td style="text-align: center; color: #000; font-size: 14px">
                {{ reportData3[i]["final_sgst_amt"] }}
              </td>
              <td style="text-align: center; color: #000; font-size: 14px">
                {{ reportData3[i]["final_igst_amt"] }}
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div> -->
</section>
