/* Style for B2B Data Table */
.body1 {
  text-align: center;
  border: 1px solid #ddd; /* Outer border */
  padding: 10px;
  background-color: white; /* Background color */
}

.header1 {
  text-align: center;
  font-weight: bolder;
  color: rgb(19, 15, 15);
  padding: 0px;
  font-size: 18px; /* Adjust the font size as needed */
}

.data_table {
  margin-top: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  // border: 1px solid #ddd; /* Inner border */
  background-color: white; /* Background color */
}

.table th,
.table td {
  // border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.table th {
  background-color: #f2f2f2;
}

.table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tbody tr:hover {
  background-color: #e0f7fa;
}

.margin-left-table {
  margin-left: 20px;
}

.table-sm {
  width: 100%;
  border-collapse: collapse;
  // border: 1px solid #ddd; /* Inner border */
  background-color: white; /* Background color */
}

.table-sm th,
.table-sm td {
  padding: 8px;
  text-align: center;
}

.table-sm th {
  background-color: #f2f2f2;
}

.table-sm tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table-sm tbody tr:hover {
  background-color: #e0f7fa;
}
/* Style for button container */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style for the buttons */
.apply,
.clear {
  /* Add your existing button styles here */
  padding: 10px 20px; /* Adjust padding as needed */
  margin: 0 10px; /* Adjust margin as needed */
}
.paginator1 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 14px;
  margin-left: 0;
}

.paginator div {
  display: flex;
  align-items: center;
}

.paginator select {
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.paginator-text {
  font-size: 14px;
  margin-right: 10px;
}

.paginator-icons {
  display: flex;
  align-items: center;
}

.paginator-icons app-feather-icons {
  cursor: pointer;
  margin: 0 5px;
}
