<section class="content">
  <div class="approval-container">
    <div class="header">
      <p>
        <strong>{{ screenName }}</strong>
      </p>
    </div>

    <app-purchase-order-details
      *ngIf="showList === false"
      [rowData]="rowData"
      (handleSave)="handleSave($event)"
      (handleCancel)="handleCancel($event)"
      [submitBtn]="submitBtn"
      [showLoader]="showLoader"
      [screenName]="screenName"
    >
    </app-purchase-order-details>

    <div class="body" [hidden]="listDiv">
      <div class="interaction">
        <button
          class="new_employee"
          *ngIf="sidebarData.write_access === 'Y'"
          (click)="showFormList(false)"
          matTooltip="ADD"
        >
          + Add New {{ screenName }}
        </button>
        <div class="end">
          <div class="search">
            <i class="bi bi-search"></i>
            <input
              type="text"
              placeholder="Search in table"
              type="text"
              #filter
              class="browser-default search-field"
              aria-label="Search box"
            />
          </div>
          <button
            mat-mini-fab
            class="btn btn-primary small-button"
            style="background-color: #2c5a88 !important"
            (click)="refresh()"
          >
            <mat-icon class="col-white">refresh</mat-icon>
          </button>
          <button (click)="exportExcel()">
            <img src="assets/usedimg/excel_icon.png" alt="" /> Download Excel
          </button>
        </div>
      </div>
    </div>

    <div class="data_table pb-2" [hidden]="listDiv">
      <div class="mat-elevation-z8">
        <table
          mat-table
          #table
          [dataSource]="dataSource"
          matSort
          class="mat-cell"
        >
          <ng-container matColumnDef="view">
            <th mat-header-cell *matHeaderCellDef class="width-2">
              <strong>View</strong>
            </th>
            <td mat-cell *matCellDef="let row">
              <button
                *ngIf="sidebarData.read_access === 'Y'"
                (click)="editViewRecord(row, false)"
                class="btn tblActnBtn h-auto"
                matTooltip="VIEW"
              >
                <i class="bi bi-eye"></i>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef class="width-2">
              <strong>Edit</strong>
            </th>
            <td mat-cell *matCellDef="let row">
              <button
                *ngIf="
                  sidebarData.write_access === 'Y' && row.po_status !== 'Closed'
                "
                class="btn tblActnBtn h-auto"
                (click)="editViewRecord(row, true)"
                matTooltip="EDIT"
              >
                <!-- <em class="material-icons">mode_edit</em> -->
                <i class="bi bi-pencil"></i>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="print">
            <th mat-header-cell *matHeaderCellDef>
              <strong>Print</strong>
            </th>
            <td mat-cell *matCellDef="let row">
              <button
                *ngIf="sidebarData.read_access === 'Y'"
                (click)="printInvoice(row.id)"
                class="btn tblActnBtn h-auto"
                matTooltip="PRINT"
              >
                <i class="bi bi-printer"></i>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="transaction_date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <strong>Transaction Date</strong>
            </th>
            <td
              mat-cell
              *matCellDef="let row"
              (contextmenu)="onContextMenu($event, row)"
            >
              <span class="mobile-label">Transaction Date:</span>
              {{ row.transaction_date | date : "dd/MM/yyyy" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="transaction_ref_no">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <strong>PO Number</strong>
            </th>
            <td
              mat-cell
              *matCellDef="let row"
              (contextmenu)="onContextMenu($event, row)"
            >
              <span class="mobile-label">PO Number</span>
              {{ row.transaction_ref_no }}
            </td>
          </ng-container>
          <ng-container matColumnDef="supplier_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <strong>Supplier Name</strong>
            </th>
            <td
              mat-cell
              *matCellDef="let row"
              (contextmenu)="onContextMenu($event, row)"
            >
              <span class="mobile-label">Supplier Name</span>
              {{ row.supplier_name }}
            </td>
          </ng-container>
          <ng-container matColumnDef="po_status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <strong>PO Status</strong>
            </th>
            <td
              mat-cell
              *matCellDef="let row"
              (contextmenu)="onContextMenu($event, row)"
            >
              <span class="mobile-label">PO Status</span>
              <span
                class="status-dot"
                [ngStyle]="{
                  'background-color': getColorStatus(row.po_status)
                }"
              >
              </span>
              {{ row.po_status }}
            </td>
          </ng-container>
          <ng-container matColumnDef="txn_currency_total_amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <strong>Total PO Amount</strong>
            </th>
            <td
              mat-cell
              *matCellDef="let row"
              (contextmenu)="onContextMenu($event, row)"
            >
              <span class="mobile-label">Total PO Amount</span>
              {{ row.txn_currency_total_amount | number }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <div
          *ngIf="!exampleDatabase?.isTblLoading"
          class="no-results"
          [style.display]="dataSource.renderedData.length === 0 ? '' : 'none'"
        >
          No results
        </div>
        <mat-paginator
          #paginator
          showFirstLastButtons
          [length]="dataSource.filteredData.length"
          [pageIndex]="0"
          [pageSize]="10"
          [pageSizeOptions]="[5, 10, 25, 50]"
          aria-label="Select page of periodic elements"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</section>
