// .approval-container .data_table table tr th {
//   background: var(--grey-100, #f5f5f5);
//   padding: 10px 5px;
//   margin: 0;
// }

// .approval-container .data_table table tr td button {
//   padding: 0px;
//   margin: 0;
// }

.approval-container .data_table table tr th {
  background: var(--grey-100, #f5f5f5);
  padding: 10px 0 10px 20px; /* Adjust the left padding value (e.g., 5px) */
  margin: 0;
}

/* Reduce padding and margin for buttons in table cells (td) */
.approval-container .data_table table tr td button {
  padding: 0px;
  margin: 0;
}

.width-2 {
  width: 2%;
}
