

<div [formGroup]="form">
  <mat-form-field class="example-full-width">
      <mat-label>{{field.field_label}}</mat-label>
      <input  matInput *ngIf="field.field_key!='dob'" [matDatepicker]="picker"  [formControlName]="field.field_key"   
     
      [(ngModel)]="todayDate" >
    
        <input  matInput *ngIf="field.field_key=='dob'" [matDatepicker]="picker"  [formControlName]="field.field_key"   
       
         (dateChange)="countage($event)">
      
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>
