<div class="edit_pop_up override_edit_pop_up">
  <div class="big-model">
    <div class="header">
      <p>{{ screenName }}</p>
      <button (click)="onCancelForm()">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
    <div class="body overflow_model">
      <div class="details-form">
        <form [formGroup]="purchaseBookingForm">
          <div class="personal">
            <div class="row d-flex">
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Purchase Date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="transaction_date"
                    readonly
                    id="transaction_date"
                    [(ngModel)]="todayDate"
                    formControlName="transaction_date"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="transaction_date"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #transaction_date></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="col-md-3" *ngIf="showReset === false">
                <mat-form-field class="example-full-width">
                  <mat-label>Purchase Booking Number</mat-label>
                  <input
                    matInput
                    formControlName="transaction_ref_no"
                    inputTrim
                    readonly
                  />
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Supplier</mat-label>
                  <mat-select
                    formControlName="supplier_ref_id"
                    required
                    (selectionChange)="supplierChnage($event.value)"
                  >
                    <mat-select-filter
                      [placeholder]="'Search'"
                      [displayMember]="'key'"
                      [array]="SupplierData"
                      (filteredReturn)="filterSupplierData = $event"
                    ></mat-select-filter>
                    <mat-option [value]="">Select Supplier Name</mat-option>
                    <mat-option
                      style="padding-top: 8px; padding-bottom: 8px"
                      [value]="obj.id"
                      *ngFor="let obj of filterSupplierData"
                      >{{ obj.key }}</mat-option
                    >
                  </mat-select>
                  <mat-error
                    *ngIf="
                      purchaseBookingForm.controls['supplier_ref_id'].hasError(
                        'required'
                      )
                    "
                    >Supplier Name Is Required.</mat-error
                  >
                </mat-form-field>
              </div>
              <!--
                                <div class="col-md-3">

                    <mat-form-field class="example-full-width">
                      <mat-label>Supplier Type</mat-label>
                      <input matInput formControlName="supplier_ref_type" placeholder="Supplier Type"  inputTrim />
                    </mat-form-field>
                  </div> -->

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>QC</mat-label>
                  <mat-select
                    formControlName="qc_ref_id"
                    (selectionChange)="QCChange($event.value, SupplierQC)"
                    required
                  >
                    <mat-option [value]="">Select QC</mat-option>
                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of SupplierQC"
                      >{{ obj.transaction_ref_no }}</mat-option
                    >
                  </mat-select>
                  <mat-error
                    *ngIf="
                      purchaseBookingForm.controls['qc_ref_id'].hasError(
                        'required'
                      )
                    "
                    >QC Number Is Required.</mat-error
                  >
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>GRN</mat-label>
                  <mat-select formControlName="grn_ref_id">
                    <mat-option [value]="obj.id" *ngFor="let obj of GRNData">{{
                      obj.transaction_ref_no
                    }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>PO</mat-label>
                  <mat-select formControlName="po_ref_id">
                    <!-- <mat-select-filter [placeholder]="'Search'" [displayMember]="'key'" [array]="POData"
                          (filteredReturn)="filterPOData =$event"></mat-select-filter>  -->
                    <mat-option [value]="">Select PO</mat-option>
                    <mat-option [value]="obj.id" *ngFor="let obj of POData">{{
                      obj.transaction_ref_no
                    }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>SO</mat-label>
                  <mat-select formControlName="so_ref_id">
                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of SalesOrderData"
                      >{{ obj.transaction_ref_no }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Payment Terms</mat-label>
                  <mat-select
                    formControlName="supplier_payment_terms_ref_id"
                    required
                  >
                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of PaymentTermsTypeData"
                      >{{ obj.master_key }}</mat-option
                    >
                  </mat-select>
                  <mat-error
                    *ngIf="
                      purchaseBookingForm.controls[
                        'supplier_payment_terms_ref_id'
                      ].hasError('required')
                    "
                    >Payment Terms Is Required.</mat-error
                  >
                </mat-form-field>
              </div>

              <!--               <div class="col-md-3">

                    <mat-form-field class="example-full-width">
                      <mat-label>PO Type</mat-label>
                      <mat-select formControlName="po_type_ref_id">

                        <mat-option [value]="obj.id" *ngFor="let obj of POTypeData">{{ obj.master_key }}</mat-option>

                      </mat-select>

                    </mat-form-field>
                  </div> -->
              <div
                class="col-md-3"
                matTooltip="This will be filled automatically"
              >
                <mat-form-field class="example-full-width">
                  <mat-label>Total Amount</mat-label>
                  <input
                    matInput
                    formControlName="txn_currency_total_amount"
                    type="Number"
                    inputTrim
                    readonly
                  />
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Transaction Currency</mat-label>
                  <mat-select formControlName="txn_currency">
                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of CurrencyData"
                      >{{ obj.currency_code }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Division</mat-label>
                  <mat-select formControlName="division_ref_id">
                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of DivisionData"
                      >{{ obj.key }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Department</mat-label>
                  <mat-select formControlName="department_ref_id">
                    <mat-option [value]="">Select Department Name</mat-option>
                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of DepartmentData"
                      >{{ obj.key }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Type Of Sale</mat-label>
                  <mat-select formControlName="sale_type_ref_id">
                    <mat-option [value]="">Select Sale Type</mat-option>

                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of SaleTypeData"
                      >{{ obj.key }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Location</mat-label>
                  <mat-select formControlName="location_ref_id">
                    <mat-option [value]="">Select Location</mat-option>

                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of LocationData"
                      >{{ obj.key }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div>
              <div class="header accordian">
                <p class="fas fa-angle-down example-accordion-item-description">
                  <strong
                    >{{ screenName }} Details<span
                      class="fas fa-angle-down example-accordion-item-description"
                    >
                    </span
                  ></strong>
                </p>
              </div>
            </div>
            <div>
              <div class="card">
                <div class="body">
                  <div class="row clearfix">
                    <div
                      class="table-responsive"
                      formArrayName="purchase_booking_details"
                    >
                      <table
                        id="tableExport1"
                        class="display table table-hover table-checkable order-column m-t-20 width-per-100 table-bordered"
                      >
                        <caption></caption>
                        <thead>
                          <tr>
                            <th style="text-align: center">
                              Add Quantity Details
                            </th>
                            <th style="text-align: center">Sr.No.</th>
                            <th style="text-align: center">Item Name</th>
                            <th style="text-align: center">HSN SAC No</th>
                            <th style="text-align: center">No of Bags</th>
                            <th style="text-align: center">Quantity</th>
                            <th style="text-align: center">UOM</th>
                            <th style="text-align: center">
                              Empty Bag Weight (KG)
                            </th>
                            <th style="text-align: center">Net Quantity</th>
                            <th style="text-align: center">Rate</th>
                            <th style="text-align: center">Labour Charges</th>
                            <th style="text-align: center">
                              Transaction Amount
                            </th>
                            <th style="text-align: center" *ngIf="isGstSetOff">
                              IS GST SETUP
                            </th>
                            <th style="text-align: center" *ngIf="isGstSetOff">
                              IGST Rate(%)
                            </th>
                            <th style="text-align: center" *ngIf="isGstSetOff">
                              IGST Amount
                            </th>
                            <th style="text-align: center" *ngIf="isGstSetOff">
                              CGST Rate(%)
                            </th>
                            <th style="text-align: center" *ngIf="isGstSetOff">
                              CGST Amount
                            </th>
                            <th style="text-align: center" *ngIf="isGstSetOff">
                              SGST Rate(%)
                            </th>
                            <th style="text-align: center" *ngIf="isGstSetOff">
                              SGST Amount
                            </th>
                            <th style="text-align: center">Total Amount</th>
                          </tr>
                        </thead>
                        <tbody class="main_tbody" *ngIf="GridView">
                          <tr
                            *ngFor="
                              let dynamic of formArray['controls'];
                              let j = index
                            "
                            [formGroupName]="j"
                          >
                            <td class="col_input">
                              <button
                                type="button"
                                class="apply-button"
                                (click)="addQuantityDetails(j)"
                                [disabled]="DisabledAdd"
                              >
                                {{ buttonName }}
                              </button>
                            </td>
                            <td style="vertical-align: top">
                              <div class="col-md-3">
                                <br />
                                {{ j + 1 }}
                              </div>
                            </td>

                            <td class="col_input">
                              <mat-select formControlName="item_ref_id">
                                <mat-option
                                  [value]="obj.id"
                                  *ngFor="let obj of ItemDataData"
                                  >{{ obj.key }}</mat-option
                                >
                              </mat-select>
                            </td>

                            <td style="text-align: center" class="col_input">
                              <mat-form-field
                                class="example-full-width"
                                appearance="outline"
                              >
                                <mat-label>HSN</mat-label>
                                <mat-select formControlName="hsn_sac_no">
                                  <mat-option
                                    *ngFor="let obj of HsnData"
                                    [value]="obj.id"
                                    >{{ obj.key }}</mat-option
                                  >
                                </mat-select>
                              </mat-form-field>
                            </td>

                            <td style="text-align: center" class="col_input">
                              {{
                                formArray.controls[j].get("no_of_bags")?.value
                              }}
                              <mat-form-field
                                class="example-full-width"
                                [hidden]="true"
                              >
                                <mat-label>No of Bags</mat-label>
                                <input
                                  matInput
                                  formControlName="no_of_bags"
                                  type="Number"
                                  step="0.01"
                                  min="0"
                                  oninput="validity.valid||(value='');"
                                  inputTrim
                                />
                              </mat-form-field>
                            </td>

                            <td style="text-align: center" class="col_input">
                              {{
                                formArray.controls[j].get("alternate_qty")
                                  ?.value
                              }}
                              <mat-form-field
                                class="example-full-width"
                                [hidden]="true"
                              >
                                <mat-label>Quantity</mat-label>
                                <input
                                  matInput
                                  formControlName="alternate_qty"
                                  type="Number"
                                  step="0.01"
                                  min="0"
                                  oninput="validity.valid||(value='');"
                                  inputTrim
                                />
                              </mat-form-field>
                            </td>

                            <td style="text-align: center" class="col_input">
                              <mat-select formControlName="alternate_uom">
                                <mat-option
                                  [value]="obj.id"
                                  *ngFor="let obj of UOMData"
                                  >{{ obj.key }}</mat-option
                                >
                              </mat-select>
                            </td>

                            <td style="text-align: center" class="col_input">
                              <mat-form-field class="example-full-width">
                                <mat-label>Empty Bag Weight (KG)</mat-label>
                                <input
                                  matInput
                                  formControlName="empty_bag_weight"
                                  type="Number"
                                  step="0.01"
                                  min="0"
                                  oninput="validity.valid||(value='');"
                                  (change)="EmptyBagQtyChange($event, j)"
                                  inputTrim
                                />
                              </mat-form-field>
                            </td>

                            <td style="text-align: center" class="col_input">
                              {{
                                formArray.controls[j].get("alternate_net_qty")
                                  ?.value
                              }}
                              <mat-form-field
                                class="example-full-width"
                                [hidden]="true"
                              >
                                <mat-label>Net Quantity</mat-label>
                                <input
                                  matInput
                                  formControlName="alternate_net_qty"
                                  min="0"
                                  oninput="validity.valid||(value='');"
                                  inputTrim
                                />
                              </mat-form-field>
                            </td>

                            <td style="text-align: center" class="col_input">
                              <!-- {{ formArray.controls[j].get("rate")?.value }} -->
                              <mat-form-field class="example-full-width">
                                <mat-label>Rate</mat-label>
                                <input
                                  matInput
                                  formControlName="rate"
                                  type="Number"
                                  min="0"
                                  step="0.01"
                                  (change)="rate_change($event, j)"
                                />
                              </mat-form-field>
                            </td>

                            <td style="text-align: center" class="col_input">
                              <mat-form-field class="example-full-width">
                                <mat-label>Labour Charges</mat-label>
                                <input
                                  matInput
                                  formControlName="labour_charges"
                                  type="Number"
                                  step="0.01"
                                  min="0"
                                  oninput="validity.valid||(value='');"
                                  inputTrim
                                  (change)="Freight_change($event, j)"
                                />
                              </mat-form-field>
                            </td>

                            <td style="text-align: center" class="col_input">
                              {{
                                formArray.controls[j].get("txn_currency_amount")
                                  ?.value
                              }}
                              <mat-form-field
                                class="example-full-width"
                                [hidden]="true"
                              >
                                <mat-label>Transaction Amount</mat-label>
                                <input
                                  matInput
                                  formControlName="txn_currency_amount"
                                  type="Number"
                                  inputTrim
                                  readonly
                                />
                              </mat-form-field>
                            </td>
                            <td *ngIf="isGstSetOff" class="col_input">
                              <mat-label>No</mat-label>
                              <mat-slide-toggle
                                formControlName="is_gst_set_off"
                                style="
                                  margin-left: 0.5rem;
                                  margin-right: 0.5rem;
                                  margin-top: 0.5rem;
                                "
                                (change)="clickEvent($event, j)"
                              >
                                Yes
                              </mat-slide-toggle>
                            </td>

                            <td
                              style="text-align: center"
                              class="col_input"
                              *ngIf="isGstSetOff"
                            >
                              <mat-form-field class="example-full-width">
                                <mat-label>IGST Rate(%)</mat-label>
                                <input
                                  matInput
                                  formControlName="txn_currency_igst_rate"
                                  type="Number"
                                  min="0"
                                  inputTrim
                                  (change)="calculate_tax_amount(j, 'IGST')"
                                />
                                <!-- <mat-error *ngIf="formArray.controls[j].get('txn_currency_igst_rate')?.hasError('required')">IGST Is
                            Required.
                        </mat-error> -->
                              </mat-form-field>
                            </td>
                            <td
                              style="text-align: center"
                              class="col_input"
                              *ngIf="isGstSetOff"
                            >
                              {{
                                formArray.controls[j].get(
                                  "txn_currency_igst_amount"
                                )?.value
                              }}
                              <mat-form-field
                                class="example-full-width"
                                [hidden]="true"
                              >
                                <mat-label>IGST Amount</mat-label>
                                <input
                                  matInput
                                  formControlName="txn_currency_igst_amount"
                                  type="Number"
                                  inputTrim
                                  readonly
                                />
                              </mat-form-field>
                            </td>

                            <td
                              style="text-align: center"
                              class="col_input"
                              *ngIf="isGstSetOff"
                            >
                              <mat-form-field class="example-full-width">
                                <mat-label>CGST Rate(%)</mat-label>
                                <input
                                  matInput
                                  formControlName="txn_currency_cgst_rate"
                                  type="Number"
                                  inputTrim
                                  min="0"
                                  (change)="calculate_tax_amount(j, 'CGST')"
                                />
                                <!-- <mat-error *ngIf="formArray.controls[j].get('txn_currency_cgst_rate')?.hasError('required')">CGST Is
                        Required.
                    </mat-error> -->
                              </mat-form-field>
                            </td>
                            <td
                              style="text-align: center"
                              class="col_input"
                              *ngIf="isGstSetOff"
                            >
                              {{
                                formArray.controls[j].get(
                                  "txn_currency_cgst_amount"
                                )?.value
                              }}
                              <mat-form-field
                                class="example-full-width"
                                [hidden]="true"
                              >
                                <mat-label>CGST Amount</mat-label>
                                <input
                                  matInput
                                  formControlName="txn_currency_cgst_amount"
                                  type="Number"
                                  inputTrim
                                  readonly
                                />
                              </mat-form-field>
                            </td>

                            <td
                              style="text-align: center"
                              class="col_input"
                              *ngIf="isGstSetOff"
                            >
                              <mat-form-field class="example-full-width">
                                <mat-label>SGST Rate(%)</mat-label>
                                <input
                                  matInput
                                  formControlName="txn_currency_sgst_rate"
                                  type="Number"
                                  inputTrim
                                  min="0"
                                  (change)="calculate_tax_amount(j, 'SGST')"
                                />
                                <!-- <mat-error *ngIf="formArray.controls[j].get('txn_currency_sgst_rate')?.hasError('required')">SGST Is
          Required.
      </mat-error> -->
                              </mat-form-field>
                            </td>

                            <td
                              style="text-align: center"
                              class="col_input"
                              *ngIf="isGstSetOff"
                            >
                              {{
                                formArray.controls[j].get(
                                  "txn_currency_sgst_amount"
                                )?.value
                              }}

                              <mat-form-field
                                class="example-full-width"
                                [hidden]="true"
                              >
                                <mat-label>SGST Amount</mat-label>
                                <input
                                  matInput
                                  formControlName="txn_currency_sgst_amount"
                                  type="Number"
                                  inputTrim
                                  readonly
                                />
                              </mat-form-field>
                            </td>

                            <td style="text-align: center" class="col_input">
                              {{
                                formArray.controls[j].get(
                                  "txn_currency_total_txn_amount"
                                )?.value
                              }}
                              <mat-form-field
                                class="example-full-width"
                                [hidden]="true"
                              >
                                <mat-label>Total Amount</mat-label>
                                <input
                                  matInput
                                  formControlName="txn_currency_total_txn_amount"
                                  type="Number"
                                  inputTrim
                                  readonly
                                />
                              </mat-form-field>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

              <cdk-accordion>
                <cdk-accordion-item
                  #accordionItem="cdkAccordionItem"
                  tabindex="0"
                  [attr.id]="'accordion-header-'"
                  [attr.aria-expanded]="accordionItem.expanded"
                  [attr.aria-controls]="'accordion-body-'"
                >
                  <div (click)="accordionItem.toggle()">
                    <div class="header accordian">
                      <p
                        class="fas fa-angle-down example-accordion-item-description"
                      >
                        <i class="bi bi-chevron-down"></i>
                        <strong
                          >Other Charges<span
                            class="fas fa-angle-down example-accordion-item-description"
                          >
                          </span>
                        </strong>
                      </p>
                    </div>
                  </div>
                  <div [formGroup]="purchaseBookingForm">
                    <div
                      role="region"
                      [style.display]="accordionItem.expanded ? '' : 'none'"
                      [attr.id]="'accordion-body-'"
                      [attr.aria-labelledby]="'accordion-header-'"
                      class="row clearfix"
                    >
                      <div class="card">
                        <div class="body">
                          <div class="row clearfix">
                            <!--
                              <div class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2">
                                <mat-form-field class="example-full-width" >
                                  <mat-label>Insurance Charges</mat-label>
                                  <input matInput formControlName="txn_currency_insurance_txn_charges" type="Number"
                                    step="0.01"  min="0" oninput="validity.valid||(value='');" inputTrim (change)="Insurance_change($event)" />
                                </mat-form-field>
                              </div>

                              <div class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2">
                                <mat-form-field class="example-full-width" >
                                  <mat-label>Packing & Forwarding Charges</mat-label>
                                  <input matInput formControlName="txn_currency_packing_forwarding_charges" type="Number"
                                  step="0.01"  min="0" oninput="validity.valid||(value='');" inputTrim (change)="p_f_change($event)" />
                                </mat-form-field>
                              </div>

                              <div class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2">
                                <mat-form-field class="example-full-width" >
                                  <mat-label>Discount(%)</mat-label>
                                  <input matInput formControlName="txn_currency_discount_percent" type="Number"
                                   step="0.01"  min="0" oninput="validity.valid||(value='');" inputTrim (change)="discount_change($event)" />
                                </mat-form-field>
                              </div>

                              <div class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2">
                                <mat-form-field class="example-full-width" >
                                  <mat-label>Discount Amount</mat-label>
                                  <input matInput formControlName="txn_currency_discount_amount" type="Number" inputTrim />
                                </mat-form-field>
                              </div> -->

                            <!-- <div class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2">
                            <mat-form-field
                              class="example-full-width"

                            >
                              <mat-label>Total Other Charges</mat-label>
                              <input
                                matInput
                                formControlName="txn_currency_total_other_txn_charges"
                                type="Number"
                                inputTrim
                              />
                            </mat-form-field>
                          </div> -->
                            <div class="col-md-3">
                              <mat-form-field class="example-full-width">
                                <mat-label>Agent Name</mat-label>
                                <mat-select formControlName="agent_ref_id">
                                  <mat-select-filter
                                    [placeholder]="'Search'"
                                    [displayMember]="'key'"
                                    [array]="AgentData"
                                    (filteredReturn)="filterAgentData = $event"
                                  ></mat-select-filter>
                                  <mat-option [value]=""
                                    >Select Agent</mat-option
                                  >
                                  <mat-option
                                    [value]="obj.id"
                                    *ngFor="let obj of filterAgentData"
                                    >{{ obj.key }}</mat-option
                                  >
                                </mat-select>
                              </mat-form-field>
                            </div>

                            <div class="active-switch col-md-3">
                              <mat-label>Is Rate/Percenatge?</mat-label>
                              <div class="switch-container">
                                <label>Rate</label>

                                <label class="switch">
                                  <input
                                    checked=""
                                    type="checkbox"
                                    formControlName="is_rate_percentage"
                                    (change)="
                                      agentIsRatePercenatgeChange($event)
                                    "
                                  />
                                  <div class="slider">
                                    <div class="circle">
                                      <svg
                                        class="cross"
                                        xml:space="preserve"
                                        style="
                                          enable-background: new 0 0 512 512;
                                        "
                                        viewBox="0 0 365.696 365.696"
                                        y="0"
                                        x="0"
                                        height="6"
                                        width="6"
                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                        version="1.1"
                                        xmlns="http://www.w3.org/2000/svg"
                                      >
                                        <g>
                                          <path
                                            data-original="#000000"
                                            fill="currentColor"
                                            d="M243.188 182.86 356.32 69.726c12.5-12.5 12.5-32.766 0-45.247L341.238 9.398c-12.504-12.503-32.77-12.503-45.25 0L182.86 122.528 69.727 9.374c-12.5-12.5-32.766-12.5-45.247 0L9.375 24.457c-12.5 12.504-12.5 32.77 0 45.25l113.152 113.152L9.398 295.99c-12.503 12.503-12.503 32.769 0 45.25L24.48 356.32c12.5 12.5 32.766 12.5 45.247 0l113.132-113.132L295.99 356.32c12.503 12.5 32.769 12.5 45.25 0l15.081-15.082c12.5-12.504 12.5-32.77 0-45.25zm0 0"
                                          ></path>
                                        </g>
                                      </svg>
                                      <svg
                                        class="checkmark"
                                        xml:space="preserve"
                                        style="
                                          enable-background: new 0 0 512 512;
                                        "
                                        viewBox="0 0 24 24"
                                        y="0"
                                        x="0"
                                        height="10"
                                        width="10"
                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                        version="1.1"
                                        xmlns="http://www.w3.org/2000/svg"
                                      >
                                        <g>
                                          <path
                                            class=""
                                            data-original="#000000"
                                            fill="currentColor"
                                            d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z"
                                          ></path>
                                        </g>
                                      </svg>
                                    </div>
                                  </div>
                                </label>
                                <label>Percenatge</label>
                              </div>
                            </div>

                            <!-- <div class="col-md-3">
                              <mat-label>Is Rate/Percenatge?</mat-label>
                              <section>
                                Rate
                                <mat-slide-toggle
                                  class="example-margin"
                                  formControlName="is_rate_percentage"
                                  style="
                                    margin-left: 0.5rem;
                                    margin-right: 0.5rem;
                                    margin-top: 0.5rem;
                                  "
                                  (change)="agentIsRatePercenatgeChange($event)"
                                >
                                  Percentage
                                </mat-slide-toggle>
                              </section>
                            </div> -->

                            <div class="col-md-3">
                              <mat-form-field class="example-full-width">
                                <mat-label>Agent Commision</mat-label>
                                <input
                                  matInput
                                  formControlName="agent_commision"
                                  step="0.01"
                                  min="0"
                                  oninput="validity.valid||(value='');"
                                  (change)="agentCommisionChange($event)"
                                  type="Number"
                                  inputTrim
                                />
                              </mat-form-field>
                            </div>

                            <div class="col-md-3">
                              <mat-form-field class="example-full-width">
                                <mat-label>Agent Commision Amount</mat-label>
                                <input
                                  matInput
                                  formControlName="agent_commision_amt"
                                  type="Number"
                                  inputTrim
                                />
                              </mat-form-field>
                            </div>

                            <div class="col-md-3">
                              <mat-form-field class="example-full-width">
                                <mat-label>Transportation Amount</mat-label>
                                <input
                                  matInput
                                  formControlName="transportation_charges"
                                  type="Number"
                                  step="0.01"
                                  min="0"
                                  oninput="validity.valid||(value='');"
                                  inputTrim
                                />
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </cdk-accordion-item>
              </cdk-accordion>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="footer">
      <div class="left">
        <button class="cancel" (click)="onCancelForm()">Cancel</button>
      </div>
      <div class="right d-flex">
        <button
          class="send"
          *ngIf="submitBtn && showReset"
          (click)="onResetForm()"
          [disabled]="showLoader"
        >
          Reset
        </button>
        <button
          class="submit"
          type="submit"
          *ngIf="submitBtn"
          [disabled]="showLoader"
          name="submit"
          value="Submit"
          (click)="onSubmit(btnVal)"
        >
          {{ btnVal }}
          <i class="fa fa-spinner fa-spin" *ngIf="showLoader"></i>
        </button>
      </div>
    </div>
  </div>
</div>
