<section class="content">
  <div class="approval-container">
    <div class="header">
      <p>
        <strong>{{ screenName }}</strong>
      </p>
    </div>

    <app-receipt-details
      *ngIf="listDiv === true"
      [rowData]="rowData"
      (handleSave)="handleSave($event)"
      (handleCancel)="handleCancel($event)"
      [submitBtn]="submitBtn"
      [showLoader]="showLoader"
      [screenName]="screenName"
    >
    </app-receipt-details>

    <div class="body" [hidden]="listDiv">
      <div class="interaction">
        <button
          class="new_employee"
          (click)="showFormList(false)"
          matTooltip="ADD"
          *ngIf="sidebarData.write_access === 'Y'"
        >
          + Add New {{ screenName }}
        </button>
        <div class="end">
          <div class="search">
            <i class="bi bi-search"></i>
            <input
              type="text"
              placeholder="Search in table"
              type="text"
              #filter
              class="browser-default search-field"
              aria-label="Search box"
            />
          </div>
          <button
            mat-mini-fab
            class="btn btn-primary small-button"
            style="background-color: #2c5a88 !important"
            (click)="refresh()"
          >
            <mat-icon class="col-white">refresh</mat-icon>
          </button>
          <button (click)="exportExcel()">
            <img src="assets/usedimg/excel_icon.png" alt="" /> Download Excel
          </button>
        </div>
      </div>

      <div class="data_table pb-2">
        <div class="mat-elevation-z8">
          <table
            mat-table
            #table
            [dataSource]="dataSource"
            matSort
            class="mat-cell"
          >
            <caption></caption>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>
                <strong>View</strong>
              </th>
              <td mat-cell *matCellDef="let row">
                <button
                  *ngIf="sidebarData.read_access === 'Y'"
                  class="btn tblActnBtn h-auto"
                  (click)="editViewRecord(row, false)"
                >
                  <i class="bi bi-eye"></i>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="transaction_date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>Transaction Date</strong>
              </th>
              <td
                mat-cell
                *matCellDef="let row"
                (contextmenu)="onContextMenu($event, row)"
              >
                <span class="mobile-label">Transaction Date:</span
                >{{ row.transaction_date | date : "dd/MM/yyyy" }}
              </td>
            </ng-container>

            <ng-container matColumnDef="transaction_ref_no">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>Receipt Ref. No</strong>
              </th>
              <td
                mat-cell
                *matCellDef="let row"
                (contextmenu)="onContextMenu($event, row)"
              >
                <span class="mobile-label">Receipt Ref. No:</span
                >{{ row.transaction_ref_no }}
              </td>
            </ng-container>

            <ng-container matColumnDef="customer_name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>Customer Name</strong>
              </th>
              <td
                mat-cell
                *matCellDef="let row"
                (contextmenu)="onContextMenu($event, row)"
              >
                <span class="mobile-label">Customer Name:</span
                >{{ row.customer_name }}
              </td>
            </ng-container>

            <ng-container matColumnDef="payment_method_ref_id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>Payment Method</strong>
              </th>
              <td
                mat-cell
                *matCellDef="let row"
                (contextmenu)="onContextMenu($event, row)"
              >
                <span class="mobile-label">Payment Method:</span
                >{{ row.payment_method_name }}
              </td>
            </ng-container>

            <ng-container matColumnDef="txn_currency_net_amount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>Net Amount</strong>
              </th>
              <td
                mat-cell
                *matCellDef="let row"
                (contextmenu)="onContextMenu($event, row)"
              >
                <span class="mobile-label">Net Amount:</span
                >{{ row.txn_currency_net_amount | number }}
              </td>
            </ng-container>

            <ng-container matColumnDef="txn_currency_gross_amount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>Gross Amount</strong>
              </th>
              <td
                mat-cell
                *matCellDef="let row"
                (contextmenu)="onContextMenu($event, row)"
              >
                <span class="mobile-label">Gross Amount:</span
                >{{ row.txn_currency_gross_amount | number }}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

            <!-- <mat-header-row
              *matHeaderRowDef="displayedColumns"
            ></mat-header-row>
            <mat-row
              *matRowDef="let row; columns: displayedColumns"
              [style.cursor]="'pointer'"
              matRipple
            ></mat-row> -->
          </table>

          <div
            *ngIf="!exampleDatabase?.isTblLoading"
            class="no-results"
            [style.display]="dataSource.filteredData.length === 0 ? '' : 'none'"
          >
            No results
          </div>

          <mat-paginator
            #paginator
            [length]="dataSource.filteredData.length"
            [pageIndex]="0"
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 50, 100]"
          >
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</section>
