<form [formGroup]="qcParameterdetails">
	<mat-dialog-content>
		<div class="body">
			<div class="row clearfix">
				<div class="header">
					<h6>
						<strong>Quality Parameter Details<span style="margin-left: 30px;"> </span></strong>
					</h6>
				</div>
				<hr>
				<div>
					<div class="row clearfix">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" role="region">
							<div class="row clearfix">
								<div class="card">
									<div class="body">
										<div class="table-responsive" formArrayName="qc_parameter_details">
											<table id="tableExport1"
												class="display table table-hover table-checkable order-column m-t-20 width-per-100 table-bordered">
												<caption></caption>
												<thead>
													<tr>

														<th style="text-align:center">
															Quality Parameter</th>

														<th style="text-align:center">
															Actual Value</th>

													</tr>
												</thead>
												<tbody class="main_tbody">
													<tr *ngFor="let dynamic of formArrQcp['controls']; let j = index"
														[formGroupName]="j">

														<td class="col_input">
															<mat-form-field class="example-full-width"
																appearance="outline">
																<mat-label>Quality Parameter</mat-label>
																<mat-select formControlName="quality_parameter_ref_id">
																	<mat-option *ngFor="let obj of qualityData"
																		[value]="obj.id">{{obj.master_key}}</mat-option>
																</mat-select>

															</mat-form-field>
														</td>

														<td class="col_input">
															<mat-form-field class="example-full-width"
																appearance="outline">
																<mat-label>Actual Value </mat-label>
																<input matInput formControlName="actual_value"  min="0"
																required
																type="number"	
																placeholder="Actual Value">
																<mat-error *ngIf="formArrQcp.controls[j].get('actual_value')?.hasError('pattern')">Actual Value Should Be Positive Number </mat-error>
																<mat-error *ngIf="formArrQcp.controls[j].get('actual_value')?.hasError('required')">Actual Value is Required.</mat-error>
																
															</mat-form-field>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>


			</div>
		</div>
		<div class="body" style="text-align: center">
			<div class="example-button-row">
				<button mat-flat-button color="primary" type="button" *ngIf="submitBtn" (click)="onSubmit()">
					Ok
					<i class="fa fa-spinner fa-spin" *ngIf="showLoader"></i>
				</button>

				<button mat-flat-button color="warn" type="button" (click)="onCancelForm()">
					Cancel
				</button>
			</div>
		</div>
		<mat-dialog-content>