<div class="edit_pop_up override_edit_pop_up">
  <div class="big-model">
    <div class="header">
      <p>{{ screenName }}</p>
      <button (click)="onCancelForm()">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
    <div class="body overflow_model">
      <div class="details-form">
        <form [formGroup]="accountingForm">
          <div class="personal">
            <div class="row d-flex">
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Name</mat-label>
                  <input matInput formControlName="name" inputTrim required />
                  <mat-error
                    *ngIf="accountingForm.controls['name'].hasError('required')"
                    >Name Is Required.</mat-error
                  >
                  <mat-error
                    *ngIf="accountingForm.controls['name'].hasError('pattern')"
                    >Special character(s) are not allowed.</mat-error
                  >
                  <mat-error
                    *ngIf="
                      accountingForm.controls['name'].hasError('maxlength')
                    "
                    >Maximum 15 characters allowed.</mat-error
                  >
                </mat-form-field>
              </div>

              <!-- <div>
                <div class="header accordian">
                  <p
                    class="fas fa-angle-down example-accordion-item-description"
                  >
                    <strong
                      >Accounting Definition Details<span
                        class="fas fa-angle-down example-accordion-item-description"
                      >
                      </span
                    ></strong>
                  </p>
                </div>

                <div [formGroup]="accountingForm">
                  <!-- <div
                      role="region"
                      [style.display]="accordionItem.expanded ? '' : 'none'"
                      [attr.id]="'accordion-body-'"
                      [attr.aria-labelledby]="'accordion-header-'"
                      class="row clearfix"
                    >
                  <div class="card">
                    <div class="body">
                      <div class="row clearfix">
                        <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                            <mat-label>Customer PO Number</mat-label>
                            <input
                              matInput
                              formControlName="customer_po_number"
                              type="text"
                              placeholder="Customer PO Number"
                              required
                            />
                            <mat-error
                              *ngIf="
                                salesForm.controls[
                                  'customer_po_number'
                                ].hasError('pattern')
                              "
                              >Special Character(s) Are Not Allowed.</mat-error
                            >
                            <mat-error
                              *ngIf="
                                salesForm.controls[
                                  'customer_po_number'
                                ].hasError('required')
                              "
                              >Customer PO Number Is Required.</mat-error
                            >
                          </mat-form-field>
                        </div>

                        <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                            <mat-label>Customer PO Date</mat-label>
                            <input
                              matInput
                              [matDatepicker]="po_date"
                              id="po_date"
                              placeholder="PO Date"
                              formControlName="customer_po_date"
                              required
                              [max]="todayDate"
                            />
                            <mat-datepicker-toggle
                              matSuffix
                              [for]="po_date"
                            ></mat-datepicker-toggle>
                            <mat-datepicker #po_date></mat-datepicker>
                            <mat-error
                              *ngIf="
                                salesForm.controls[
                                  'customer_po_number'
                                ].hasError('required')
                              "
                              >Customer PO Date Is Required.</mat-error
                            >
                          </mat-form-field>
                        </div>

                        <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                            <mat-label>Customer Billing Address</mat-label>
                            <mat-select
                              formControlName="customer_bill_from"
                              required
                            >
                              <mat-option
                                [value]="obj.id"
                                *ngFor="let obj of billingData"
                                style="padding-top: 8px; padding-bottom: 8px"
                                >{{ obj.address }}</mat-option
                              >
                            </mat-select>
                            <mat-error
                              *ngIf="
                                salesForm.controls[
                                  'customer_bill_from'
                                ].hasError('required')
                              "
                              >Billing Address Is Required
                            </mat-error>
                          </mat-form-field>
                        </div>

                        <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                            <mat-label>Customer Shipping Address</mat-label>
                            <mat-select
                              formControlName="customer_ship_to"
                              required
                            >
                              <mat-option
                                [value]="obj.id"
                                *ngFor="let obj of shippingData"
                                style="padding-top: 8px; padding-bottom: 8px"
                                >{{ obj.address }}</mat-option
                              >
                            </mat-select>
                            <mat-error
                              *ngIf="
                                salesForm.controls['customer_ship_to'].hasError(
                                  'required'
                                )
                              "
                            >
                              Shipping Address Is Required
                            </mat-error>
                          </mat-form-field>
                        </div>

                        <div class="col-md-3" *ngIf="isTransportationView">
                          <mat-form-field class="example-full-width">
                            <mat-label>Payment Terms</mat-label>
                            <mat-select
                              formControlName="payment_terms_ref_id"
                              required
                            >
                              <mat-option
                                [value]="obj.id"
                                *ngFor="let obj of paymentTermData"
                                >{{ obj.master_value }}</mat-option
                              >
                            </mat-select>
                            <mat-error
                              *ngIf="
                                salesForm.controls[
                                  'payment_terms_ref_id'
                                ].hasError('required')
                              "
                              >Payment Terms Is Required
                            </mat-error>
                          </mat-form-field>
                        </div>

                        <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                            <mat-label>Delivery Terms</mat-label>
                            <mat-select
                              formControlName="delivery_terms_ref_id"
                              (selectionChange)="
                                deliveryTypeChange($event.value)
                              "
                            >
                              <mat-option
                                [value]="obj.id"
                                *ngFor="let obj of deliveryTermData"
                                >{{ obj.master_value }}</mat-option
                              >
                            </mat-select>
                            <mat-error
                              *ngIf="
                                salesForm.controls[
                                  'delivery_terms_ref_id'
                                ].hasError('required')
                              "
                              >Delivery Terms Is Required
                            </mat-error>
                          </mat-form-field>
                        </div>

                        <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                            <mat-label>Mode of Delivery</mat-label>
                            <mat-select
                              formControlName="mode_of_delivery_ref_id"
                            >
                              <mat-option
                                [value]="obj.id"
                                *ngFor="let obj of modeOfDeliveryData"
                                >{{ obj.master_value }}</mat-option
                              >
                            </mat-select>
                            <mat-error
                              *ngIf="
                                salesForm.controls[
                                  'mode_of_delivery_ref_id'
                                ].hasError('required')
                              "
                              >Mode Of Delivery Is Required
                            </mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-3" *ngIf="isTransportationView">
                          <mat-form-field class="example-full-width">
                            <mat-label>Transportation Charges</mat-label>
                            <input
                              matInput
                              formControlName="transportation_charges"
                              type="Number"
                              oninput="validity.valid||(value='');"
                              placeholder="Transportation Charges"
                            />
                            <mat-error
                              *ngIf="
                                salesForm.controls[
                                  'transportation_charges'
                                ].hasError('required')
                              "
                            >
                              Transportation Charges Is Required
                            </mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
            </div>

            <div>
              <div class="header accordian">
                <p class="fas fa-angle-down example-accordion-item-description">
                  <strong
                    >Accounting Definition Details<span
                      class="fas fa-angle-down example-accordion-item-description"
                    >
                    </span
                  ></strong>
                </p>
              </div>
            </div>
            <div [formGroup]="accountingForm">
              <div class="card">
                <div class="body">
                  <div class="row clearfix">
                    <div
                      class="table-responsive"
                      formArrayName="accounting_definition_detail"
                    >
                      <table
                        id="tableExport1"
                        class="display table table-hover table-checkable order-column m-t-20 width-per-100 table-bordered"
                      >
                        <caption></caption>
                        <thead>
                          <tr>
                            <th style="text-align: center">Action</th>
                            <th style="text-align: center">Transaction Type</th>
                            <th style="text-align: center">Account Name</th>
                            <th style="text-align: center">Dr/Cr</th>
                            <th style="text-align: center">
                              Inter Company Name
                            </th>
                            <th style="text-align: center">
                              Transaction Field Name
                            </th>
                            <th
                              style="text-align: center"
                              *ngFor="
                                let obj of accountingDefinitionColumns
                                  | keyvalue
                              "
                            >
                              {{ obj.value }}
                            </th>
                            <th
                              style="text-align: center"
                              *ngFor="
                                let obj of expenseDetailsParametersColumns
                                  | keyvalue
                              "
                            >
                              {{ obj.value }}
                            </th>
                          </tr>
                        </thead>

                        <tbody class="main_tbody">
                          <tr
                            *ngFor="
                              let dynamic of formArrcontract['controls'];
                              let j = index
                            "
                            [formGroupName]="j"
                          >
                            <td class="col_input" *ngIf="j === 0">
                              <button
                                type="button"
                                class="apply-button"
                                (click)="addNewRow1()"
                              >
                                <i class="fa fa-plus"></i>
                              </button>
                            </td>
                            <td class="col_input" *ngIf="j > 0">
                              <button
                                type="button"
                                class="apply-button-danger"
                                (click)="deleteRow1(j)"
                              >
                                <i class="fa fa-minus"></i>
                              </button>
                            </td>

                            <!-- <td class="col_input" style="vertical-align: top">
                              <div
                                class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                              >
                                <button
                                  type="button"
                                  [disabled]="btnDisable"
                                  class="apply-button"
                                  (click)="addQcParameterDetails(j)"
                                >
                                  Enter Parameter
                                </button>
                              </div>
                            </td> -->
                            <td class="col_input">
                              <mat-form-field class="example-full-width">
                                <mat-label>Transaction Type</mat-label>
                                <mat-select
                                  formControlName="ref_id_1"
                                  (selectionChange)="
                                    TransactionTypeChnage($event.value)
                                  "
                                >
                                  <mat-select-filter
                                    [placeholder]="'Search'"
                                    [displayMember]="'key'"
                                    [array]="TransactionTypedata"
                                    (filteredReturn)="
                                      filterTransactionTypedata = $event
                                    "
                                  ></mat-select-filter>
                                  <mat-option
                                    [value]="obj.id"
                                    *ngFor="
                                      let obj of filterTransactionTypedata
                                    "
                                    >{{ obj.key }}</mat-option
                                  >
                                </mat-select>
                                <mat-error
                                  *ngIf="
                                    formArrcontract.controls[j]
                                      .get('ref_id_1')
                                      ?.hasError('required')
                                  "
                                  >Transaction Type Required.</mat-error
                                >
                              </mat-form-field>
                            </td>

                            <td class="col_input">
                              <mat-form-field class="example-full-width">
                                <mat-label>Select Account Name</mat-label>
                                <mat-select formControlName="account_ref_id">
                                  <mat-select-filter
                                    [placeholder]="'Search'"
                                    [displayMember]="'name'"
                                    [array]="accountdata"
                                    (filteredReturn)="
                                      filteraccountdata[j] = $event
                                    "
                                  ></mat-select-filter>
                                  <mat-option
                                    [value]="obj.id"
                                    *ngFor="let obj of filteraccountdata[j]"
                                    >{{ obj.name }}</mat-option
                                  >
                                </mat-select>
                                <mat-error
                                  *ngIf="
                                    formArrcontract.controls[j]
                                      .get('account_ref_id')
                                      ?.hasError('required')
                                  "
                                  >Account Name Required.</mat-error
                                >
                              </mat-form-field>
                            </td>
                            <td class="col_input">
                              <mat-form-field class="example-full-width">
                                <mat-label>Select Dr/Cr</mat-label>
                                <mat-select formControlName="dr_cr">
                                  <mat-option value="Debit"> Debit </mat-option>
                                  <mat-option value="Credit">
                                    Credit
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </td>

                            <td class="col_input">
                              <mat-form-field class="example-full-width">
                                <mat-label>Select Inter Company Name</mat-label>

                                <mat-select formControlName="ref_id_2">
                                  <mat-select-filter
                                    [placeholder]="'Search'"
                                    [displayMember]="'tenant_name'"
                                    [array]="Companydata"
                                    (filteredReturn)="
                                      filterCompanydata = $event
                                    "
                                  ></mat-select-filter>
                                  <mat-option
                                    [value]="obj.id"
                                    *ngFor="let obj of filterCompanydata"
                                    >{{ obj.tenant_name }}</mat-option
                                  >
                                </mat-select>
                              </mat-form-field>
                            </td>

                            <td class="col_input">
                              <mat-form-field class="example-full-width">
                                <mat-label
                                  >Select Transaction Field Name</mat-label
                                >

                                <mat-select formControlName="ref_id_3">
                                  <mat-select-filter
                                    [placeholder]="'Search'"
                                    [displayMember]="'transaction_value'"
                                    [array]="TransactionFieldName"
                                    (filteredReturn)="
                                      filterTransactionFieldName = $event
                                    "
                                  ></mat-select-filter>
                                  <mat-option
                                    [value]="obj.id"
                                    *ngFor="
                                      let obj of filterTransactionFieldName
                                    "
                                    >{{ obj.transaction_value }}</mat-option
                                  >
                                </mat-select>
                                <!-- <mat-error
                                  *ngIf="
                                    formArrcontract.controls[j]
                                      .get('ref_id_3')
                                      ?.hasError('required')
                                  "
                                  >Transaction Field Name Required.</mat-error
                                > -->
                              </mat-form-field>
                            </td>

                            <td
                              class="col_input"
                              *ngFor="
                                let obj of accountingDefinitionColumns
                                  | keyvalue;
                                let j = index
                              "
                            >
                              <mat-form-field class="example-full-width">
                                <mat-label>{{ obj.value }}</mat-label>
                                <mat-select
                                  formControlName="ref_id_{{ j + 4 }}"
                                  [disabled]="true"
                                  multiple
                                >
                                  <!-- <mat-option value="ALL">All</mat-option> -->
                                  <mat-option
                                    *ngFor="let items of getParameter1(j + 4)"
                                    [value]="items.id"
                                    >{{ items.name }}</mat-option
                                  >
                                </mat-select>
                              </mat-form-field>
                            </td>

                            <td
                              class="col_input"
                              *ngFor="
                                let obj of expenseDetailsParametersColumns
                                  | keyvalue;
                                let j = index
                              "
                            >
                              <mat-form-field class="example-full-width">
                                <mat-label>{{ obj.value }} Name</mat-label>
                                <mat-select
                                  formControlName="parameter_{{ j + 1 }}"
                                  [disabled]="true"
                                >
                                  <mat-option value="ALL">All</mat-option>
                                  <mat-option
                                    *ngFor="let items of getParameter(j + 1)"
                                    [value]="items.id"
                                    >{{ items.name }}</mat-option
                                  >
                                </mat-select>
                              </mat-form-field>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

       
          <div
            class="body"
            style="text-align: center"
            *ngIf="!viewBtn"
            [innerHTML]="myTemplate | safeHtml"
          ></div>
        </form>
      </div>
    </div>
    <div class="footer">
      <div class="left">
        <button class="cancel" (click)="onCancelForm()">Cancel</button>
      </div>
      <div class="right d-flex">
        <button
          *ngIf="submitBtn"
          class="send"
          (click)="onResetForm()"
          [disabled]="showLoader"
        >
          Reset
        </button>
        <button
          class="submit"
          (click)="onSubmit()"
          *ngIf="submitBtn"
          [disabled]="showLoader"
        >
          {{ btnVal }}
          <i class="fa fa-spinner fa-spin" *ngIf="showLoader"></i>
        </button>
      </div>
    </div>
  </div>
</div>
