<section class="content" style="min-height: auto; margin-top: 0">
  <div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="body">
          <div class="header">
            <h2>
              <strong>{{ screenName }}</strong>
            </h2>
          </div>

          <app-dynamic-form
            [fields]="ScreenJsonData"
            *ngIf="showList === false"
            (handleSave)="handleSave($event)"
            [screenName]="screenName"
            [BTN_VAL]="BTN_VAL"
            [submitBtn]="submitBtn"
            [rowData]="rowData"
            (handleCancel)="handleCancel($event)"
            [showLoaderSubmit]="showLoaderSubmit"
          >
          </app-dynamic-form>

          <div class="materialTableHeader" [hidden]="listDiv">
            <div class="left">
              <ul class="header-buttons-left ms-0">
                <li class="tbl-search-box">
                  <label for="search-input"
                    ><i class="material-icons search-icon">search</i></label
                  >
                  <input
                    placeholder="Search"
                    type="text"
                    #filter
                    class="browser-default search-field"
                    aria-label="Search box"
                  />
                </li>
              </ul>
            </div>
            <div class="right">
              <ul class="tbl-export-btn">
                <li class="tbl-header-btn">
                  <button
                    mat-mini-fab
                    class="btn btn-primary"
                    matTooltip="ADD"
                    *ngIf="sidebarData.write_access === 'Y'"
                    (click)="showFormList(false)"
                  >
                    <i class="fa fa-plus"></i>
                  </button>
                </li>
                <li class="tbl-header-btn">
                  <div class="m-l-10" matTooltip="REFRESH">
                    <button
                      mat-mini-fab
                      class="btn btn-primary"
                      (click)="refresh()"
                    >
                      <mat-icon class="col-white">refresh</mat-icon>
                    </button>
                  </div>
                </li>
                <li>
                  <div class="export-button m-l-10" matTooltip="XLSX">
                    <img
                      src="assets/images/icons/xlsx.png"
                      alt=""
                      (click)="exportExcel()"
                    />
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="responsive_table" [hidden]="listDiv">
            <table
              mat-table
              #table
              [dataSource]="dataSource"
              matSort
              class="mat-cell"
            >
              <ng-container
                *ngFor="let col of tableCols; let i = index"
                matColumnDef="{{ col.mat_cell_name }}"
              >
                <ng-container *ngIf="col.mat_cell_name === 'Actions'">
                  <mat-header-cell *matHeaderCellDef mat-sort-header
                    ><strong>Actions</strong></mat-header-cell
                  >
                  <mat-cell *matCellDef="let row">
                    <button
                      *ngIf="sidebarData.read_access === 'Y'"
                      class="btn tblActnBtn h-auto"
                      (click)="editViewRecord(row, false)"
                      matTooltip="VIEW"
                    >
                      <em class="material-icons">visibility</em>
                    </button>
                    <button
                      *ngIf="sidebarData.write_access === 'Y'"
                      class="btn tblActnBtn h-auto"
                      (click)="editViewRecord(row, true)"
                      matTooltip="EDIT"
                    >
                      <em class="material-icons">mode_edit</em>
                    </button>
                    <button
                      *ngIf="
                        sidebarData.write_access === 'Y' &&
                        row['revision_status'] === 'Effective'
                      "
                      class="btn tblActnBtn h-auto"
                      (click)="createVersion(row, true)"
                      matTooltip="create version"
                    >
                      <em class="material-icons">source</em>
                    </button>
                  </mat-cell>
                </ng-container>
                <ng-container *ngIf="col.mat_cell_name !== 'Actions'">
                  <mat-header-cell *matHeaderCellDef mat-sort-header
                    ><strong>{{ col.mat_header_cell }}</strong></mat-header-cell
                  >
                  <mat-cell
                    *matCellDef="let row; let j = index"
                    (contextmenu)="onContextMenu($event, row)"
                  >
                    <span class="mobile-label">
                      {{ row[col.mat_cell_name] }} :</span
                    >
                    {{ row[col.mat_cell_name] }}
                  </mat-cell>
                </ng-container>
              </ng-container>

              <mat-header-row
                *matHeaderRowDef="displayedColumns"
              ></mat-header-row>
              <mat-row
                *matRowDef="let row; columns: displayedColumns"
                [style.cursor]="'pointer'"
                matRipple
              ></mat-row>
            </table>

            <div
              *ngIf="!exampleDatabase?.isTblLoading"
              class="no-results"
              [style.display]="
                dataSource.renderedData.length === 0 ? '' : 'none'
              "
            >
              No results
            </div>
            <mat-paginator
              #paginator
              [length]="dataSource.filteredData.length"
              [pageIndex]="0"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 50, 100]"
            >
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
