<ng-container *ngIf="data === 'Active' || data === 'Inactive'">
  <div
    [ngStyle]="{
      'background-color': getStatusColor(data)
    }"
    class="status-dot"
  ></div>
  {{ data }}
</ng-container>
<ng-container *ngIf="data !== 'Active' && data !== 'Inactive'">
  <span class="mobile-label"> {{ data }} :</span>
  {{ data }}</ng-container
>
