<mat-dialog-content>

 
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <form [formGroup]="payableForm" >
        <div class="card">
          <div class="body">
           
                <div>
                    <div class="row clearfix">
                            <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>Supplier Name</mat-label>
                              <mat-select formControlName="supplier_ref_id" required  >
                                <mat-select-filter [placeholder]="'Search'" [displayMember]="'key'" [array]="SupplierData"
                                  (filteredReturn)="filterSupplierData =$event"></mat-select-filter>
                                <mat-option [value]="obj.key1" *ngFor="let obj of filterSupplierData">{{ obj.key }}</mat-option>
                              </mat-select>
                              <mat-error *ngIf="payableForm.controls['supplier_ref_id'].hasError('required')">Supplier Name
                                Required.</mat-error>
                            </mat-form-field>
                    </div>
                </div>
            </div>
          
        </div>
       
      </form>
    </div>
</div> 
    <!-- Add filter controls here (e.g., checkboxes, text inputs) -->
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-flat-button color="primary" (click)="onSubmit()" [mat-dialog-close]="filterCriteria">Apply</button>
    <!-- <button mat-button mat-flat-button color="warn" (click)="ResetDialog()">Reset</button> -->
    <button mat-button mat-flat-button color="Secondary" (click)="closeDialog()">Cancel</button>


</mat-dialog-actions>