<section class="content">
  <app-screen-header
    [screenName]="screenName"
    (showFormList)="showFormList($event)"
    [showList]="showList"
    [sidebarData]="sidebarData"
  ></app-screen-header>
  <app-federation-details
    *ngIf="listDiv === true"
    [rowData]="rowData"
    (handleSave)="handleSave($event)"
    (handleCancel)="handleCancel($event)"
    [submitBtn]="submitBtn"
  >
  </app-federation-details>

  <div class="row clearfix" [hidden]="listDiv">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="body">
          <div class="materialTableHeader">
            <div class="left">
              <ul class="header-buttons-left ms-0">
                <li class="tbl-search-box">
                  <label for="search-input"
                    ><i class="material-icons search-icon">search</i></label
                  >
                  <input
                    placeholder="Search"
                    type="text"
                    #filter
                    class="browser-default search-field"
                    aria-label="Search box"
                  />
                </li>
              </ul>
            </div>
            <div class="right">
              <ul class="tbl-export-btn">
                <li class="tbl-header-btn">
                  <div class="m-l-10" matTooltip="REFRESH">
                    <button mat-mini-fab color="primary" (click)="refresh()">
                      <mat-icon class="col-white">refresh</mat-icon>
                    </button>
                  </div>
                </li>
                <li>
                  <div class="export-button m-l-10" matTooltip="XLSX">
                    <img
                      src="assets/images/icons/xlsx.png"
                      alt=""
                      (click)="exportExcel()"
                    />
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="responsive_table">
            <table
              mat-table
              #table
              [dataSource]="dataSource"
              matSort
              class="mat-cell"
            >
              <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <button
                    *ngIf="sidebarData.read_access === 'Y'"
                    class="btn tblActnBtn h-auto"
                    (click)="editViewRecord(row, false)"
                  >
                    <em class="material-icons">visibility</em>
                  </button>
                  <button
                    *ngIf="sidebarData.write_access === 'Y'"
                    class="btn tblActnBtn h-auto"
                    (click)="editViewRecord(row, true)"
                  >
                    <em class="material-icons">mode_edit</em>
                  </button>
                </mat-cell>
              </ng-container>
              ID Column
              <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                  >Id</mat-header-cell
                >
                <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="tenant_name">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                  >Tenant Name
                </mat-header-cell>
                <mat-cell
                  *matCellDef="let row"
                  (contextmenu)="onContextMenu($event, row)"
                >
                  <span class="mobile-label">Tenant Name:</span
                  >{{ row.tenant_name }}</mat-cell
                >
              </ng-container>
              <ng-container matColumnDef="district_name">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                  >District Name
                </mat-header-cell>
                <mat-cell
                  *matCellDef="let row"
                  (contextmenu)="onContextMenu($event, row)"
                >
                  <span class="mobile-label">District Name:</span
                  >{{ row.district_name }}</mat-cell
                >
              </ng-container>
              <ng-container matColumnDef="taluka_name">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                  >Taluka Name</mat-header-cell
                >
                <mat-cell
                  *matCellDef="let row"
                  (contextmenu)="onContextMenu($event, row)"
                >
                  <span class="mobile-label">Taluka Name:</span>
                  {{ row.taluka_name }}</mat-cell
                >
              </ng-container>
              <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                  >Status</mat-header-cell
                >
                <mat-cell
                  *matCellDef="let row"
                  (contextmenu)="onContextMenu($event, row)"
                >
                  <span class="mobile-label">Status:</span> {{ row.status }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="actions">
                <mat-header-cell class="pr-0" *matHeaderCellDef
                  >Actions</mat-header-cell
                >
                <mat-cell *matCellDef="let row; let i = index" class="pr-0">
                  <button
                    mat-icon-button
                    (click)="$event.stopPropagation()"
                    class="tbl-action-btn"
                  >
                    <app-feather-icons
                      [icon]="'edit'"
                      [class]="'tbl-fav-edit'"
                    ></app-feather-icons>
                  </button>
                  <button
                    mat-icon-button
                    (click)="$event.stopPropagation()"
                    class="tbl-action-btn"
                  >
                    <app-feather-icons
                      [icon]="'trash-2'"
                      [class]="'tbl-fav-delete'"
                    ></app-feather-icons>
                  </button>
                </mat-cell>
              </ng-container>

              <mat-header-row
                *matHeaderRowDef="displayedColumns"
              ></mat-header-row>
            </table>

            <div
              *ngIf="!exampleDatabase?.isTblLoading"
              class="no-results"
              [style.display]="
                dataSource.renderedData.length === 0 ? '' : 'none'
              "
            >
              No results
            </div>
            <mat-paginator
              #paginator
              [length]="dataSource.filteredData.length"
              [pageIndex]="0"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 50, 100]"
            >
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
