<div [formGroup]="form">
  <div *ngFor="let opt of field.options"> 
        <mat-radio-button value="opt.id" style="margin: 10px;">
          {{opt.field_label}}
        </mat-radio-button>
  </div>
</div>



