<div class="edit_pop_up override_edit_pop_up">
  <div class="big-model">
    <div class="overlay" *ngIf="ViewLoader">
      <div class="loader"></div>
    </div>
    <div class="header">
      <p>{{ screenName }}</p>
      <button (click)="onCancelForm()">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
    <div class="body overflow_model">
      <div class="details-form">
        <form [formGroup]="grnForm">
          <div class="personal">
            <!-- <p class="m-0 p-0">Personal Details</p> -->
            <div class="row d-flex">
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Transaction Date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="transaction_date"
                    id="transaction_date"
                    placeholder="Transaction Date"
                    formControlName="transaction_date"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="transaction_date"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #transaction_date></mat-datepicker>
                  <mat-error
                    *ngIf="
                      grnForm.controls['transaction_date'].hasError(
                        'backdatedEntry'
                      )
                    "
                    >Back Dated Selection not allowed.
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-3" *ngIf="viewEdit === true">
                <mat-form-field class="example-full-width">
                  <mat-label>GRN Number</mat-label>
                  <input
                    matInput
                    formControlName="transaction_ref_no"
                    readonly
                  />
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Supplier Name</mat-label>
                  <mat-select
                    formControlName="supplier_ref_id"
                    required
                    (selectionChange)="supplierNameChange($event)"
                  >
                    <mat-select-filter
                      [placeholder]="'Search'"
                      [displayMember]="'key'"
                      [array]="SearchDataSupplier"
                      (filteredReturn)="SupplierData = $event"
                    ></mat-select-filter>
                    <mat-option
                      *ngFor="let obj of SupplierData"
                      style="padding-top: 8px; padding-bottom: 8px"
                      [value]="obj.id"
                      >{{ obj.key }}</mat-option
                    >
                  </mat-select>
                  <mat-error
                    *ngIf="
                      grnForm.controls['supplier_ref_id'].hasError('required')
                    "
                    >Supplier Name Is Required.
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Gate Pass Number</mat-label>
                  <mat-select
                    formControlName="gate_pass_ref_id"
                    (selectionChange)="gatepassChange($event.value)"
                  >
                    <mat-select-filter
                      [placeholder]="'Search'"
                      [displayMember]="'transaction_ref_no'"
                      [array]="SearchData"
                      (filteredReturn)="gatepassData = $event"
                    ></mat-select-filter>
                    <mat-option
                      *ngFor="let obj of gatepassData"
                      [value]="obj.id"
                      >{{ obj.transaction_ref_no }}</mat-option
                    >
                  </mat-select>
                  <mat-error
                    *ngIf="
                      grnForm.controls['gate_pass_ref_id'].hasError('required')
                    "
                    >Gate Pass Number Is Required.
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label> Purchase Order</mat-label>
                  <mat-select
                    formControlName="po_ref_id"
                    (selectionChange)="purchaseOrderChange($event)"
                  >
                    <mat-select-filter
                      [placeholder]="'Search'"
                      [displayMember]="'transaction_ref_no'"
                      [array]="POSearchData"
                      (filteredReturn)="poData = $event"
                    ></mat-select-filter>
                    <mat-option [value]="">Select Purchase Order</mat-option>
                    <mat-option *ngFor="let obj of poData" [value]="obj.id">{{
                      obj.transaction_ref_no
                    }}</mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="grnForm.controls['po_ref_id'].hasError('required')"
                    >Purchase Order Is Required.
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div>
              <div class="header accordian">
                <p class="fas fa-angle-down example-accordion-item-description">
                  <strong
                    >{{ screenName }} Item Details<span
                      class="fas fa-angle-down example-accordion-item-description"
                    >
                    </span
                  ></strong>
                </p>
              </div>
            </div>
            <div [formGroup]="grnForm">
              <div class="card">
                <div class="body">
                  <div class="row clearfix">
                    <div class="table-responsive" formArrayName="grn_details">
                      <table
                        id="tableExport1"
                        class="display table table-hover table-checkable order-column m-t-20 width-per-100 table-bordered"
                      >
                        <caption></caption>
                        <thead>
                          <tr>
                            <th style="text-align: center">Item</th>
                            <th style="text-align: center">HSN</th>
                            <th style="text-align: center" *ngIf="isPOSelected">
                              PO Quantity
                            </th>
                            <th
                              style="text-align: center"
                              *ngIf="!isPOSelected"
                            >
                              GRN Quantity
                            </th>
                            <th style="text-align: center">UOM</th>
                            <th style="text-align: center">Rate</th>
                            <th style="text-align: center">No. of Bags</th>
                            <th style="text-align: center">
                              Gate Pass Quantity
                            </th>
                            <th style="text-align: center">
                              Accepted Quantity
                            </th>
                            <th style="text-align: center">
                              Rejected Quantity
                            </th>
                            <th
                              style="text-align: center"
                              *ngIf="viewBatchNo === true"
                            >
                              Batch Number
                            </th>
                          </tr>
                        </thead>
                        <tbody class="main_tbody">
                          <tr
                            *ngFor="
                              let dynamic of formArrgate['controls'];
                              let j = index
                            "
                            [formGroupName]="j"
                          >
                            <!-- <td class="col_input">
                                <div
                                  class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                >
                                  <button
                                    type="button"
                                    [disabled]="btnDisable"
                                    class="apply-button"
                                    (click)="addQcParameterDetails(j)"
                                  >
                                    Quality Check
                                  </button>
                                </div>
                              </td> -->

                            <td class="col_input">
                              <mat-form-field class="example-full-width">
                                <mat-label>Item</mat-label>
                                <mat-select
                                  formControlName="item_ref_id"
                                  readonly
                                >
                                  <mat-select-filter
                                    [placeholder]="'Search'"
                                    [displayMember]="'name'"
                                    [array]="ItemSearchData"
                                    (filteredReturn)="itemRefId = $event"
                                  ></mat-select-filter>
                                  <mat-option
                                    *ngFor="let obj of itemRefId"
                                    [value]="obj.id"
                                    >{{ obj.name }}</mat-option
                                  >
                                </mat-select>
                                <mat-error
                                  *ngIf="
                                    formArrgate.controls[j]
                                      .get('item_ref_id')
                                      ?.hasError('required')
                                  "
                                  >Item Is Required.</mat-error
                                >
                              </mat-form-field>
                            </td>

                            <td>
                              <mat-form-field
                                class="example-full-width"
                                appearance="outline"
                              >
                                <mat-label>HSN</mat-label>
                                <mat-select
                                  formControlName="hsn_sac_no"
                                  readonly
                                >
                                  <mat-option
                                    *ngFor="let obj of HsnData"
                                    [value]="obj.id"
                                    >{{ obj.key }}</mat-option
                                  >
                                </mat-select>
                              </mat-form-field>
                            </td>

                            <td class="col_input">
                              <mat-form-field class="example-full-width">
                                <mat-label *ngIf="isPOSelected">
                                  PO Quantity
                                </mat-label>
                                <mat-label *ngIf="!isPOSelected">
                                  GRN Quantity
                                </mat-label>
                                <input
                                  matInput
                                  formControlName="quantity"
                                  type="number"
                                  step="0.01"
                                  min="0"
                                  oninput="validity.valid||(value='');"
                                  readonly
                                  placeholder="Quantity"
                                  required
                                />
                                <mat-error
                                  *ngIf="
                                    formArrgate.controls[j]
                                      .get('quantity')
                                      ?.hasError('pattern')
                                  "
                                  >Negative values not allowed.</mat-error
                                >
                                <mat-error
                                  *ngIf="
                                    formArrgate.controls[j]
                                      .get('quantity')
                                      ?.hasError('required') && isPOSelected
                                  "
                                >
                                  PO Quantity Is Required.</mat-error
                                >
                                <mat-error
                                  *ngIf="
                                    formArrgate.controls[j]
                                      .get('quantity')
                                      ?.hasError('required') && !isPOSelected
                                  "
                                >
                                  GRN Quantity Is Required.</mat-error
                                >
                              </mat-form-field>
                            </td>

                            <td class="col_input">
                              <mat-form-field class="example-full-width">
                                <mat-label>UOM</mat-label>
                                <mat-select formControlName="uom" readonly>
                                  <mat-option
                                    *ngFor="let obj of uomData"
                                    [value]="obj.id"
                                    >{{ obj.key }}</mat-option
                                  >
                                </mat-select>
                              </mat-form-field>
                            </td>

                            <td class="col_input">
                              <mat-form-field class="example-full-width">
                                <mat-label>Rate </mat-label>
                                <input
                                  matInput
                                  formControlName="rate"
                                  (input)="calculateQuantity(grnForm, j)"
                                  type="number"
                                  step="0.01"
                                  min="0"
                                  oninput="validity.valid||(value='');"
                                  placeholder="Rate"
                                  required
                                />
                                <mat-error
                                  *ngIf="
                                    formArrgate.controls[j]
                                      .get('rate')
                                      ?.hasError('pattern')
                                  "
                                  >Negative values not allowed.</mat-error
                                >
                                <mat-error
                                  *ngIf="
                                    formArrgate.controls[j]
                                      .get('rate')
                                      ?.hasError('required')
                                  "
                                  >Rate Is Required.</mat-error
                                >
                              </mat-form-field>
                            </td>

                            <td class="col_input">
                              <mat-form-field class="example-full-width">
                                <mat-label>Number of Bags </mat-label>
                                <input
                                  matInput
                                  formControlName="no_of_bags"
                                  readonly
                                  type="number"
                                  step="0.01"
                                  min="0"
                                  oninput="validity.valid||(value='');"
                                  placeholder="Number of Bags"
                                  required
                                />
                                <!-- <mat-error
                                                                        *ngIf="formArrgate.controls[j].get('no_of_bags')?.hasError('pattern')">Negative
                                                                        values not allowed.</mat-error> -->
                                <mat-error
                                  *ngIf="
                                    formArrgate.controls[j]
                                      .get('no_of_bags')
                                      ?.hasError('pattern')
                                  "
                                  >Decimal values not allowed.</mat-error
                                >
                                <mat-error
                                  *ngIf="
                                    formArrgate.controls[j]
                                      .get('no_of_bags')
                                      ?.hasError('required')
                                  "
                                  >Number of Bags Required.</mat-error
                                >
                              </mat-form-field>
                            </td>

                            <td class="col_input">
                              <mat-form-field class="example-full-width">
                                <mat-label>Gate Pass Quantity </mat-label>
                                <input
                                  matInput
                                  formControlName="received_qty"
                                  (input)="calculateQuantity(grnForm, j)"
                                  placeholder="Received Quantity"
                                  type="number"
                                  readonly
                                  step="0.01"
                                  min="0"
                                  oninput="validity.valid||(value='');"
                                />
                                <mat-error
                                  *ngIf="
                                    formArrgate.controls[j]
                                      .get('received_qty')
                                      ?.hasError('required')
                                  "
                                  >Gate Pass Quantity Is Required.</mat-error
                                >
                                <mat-error
                                  *ngIf="
                                    formArrgate.controls[j]
                                      .get('received_qty')
                                      ?.hasError('pattern')
                                  "
                                  >Negative values not allowed.</mat-error
                                >
                              </mat-form-field>
                            </td>

                            <td class="col_input">
                              <mat-form-field class="example-full-width">
                                <mat-label>Accepted Quantity </mat-label>
                                <input
                                  matInput
                                  formControlName="accepted_qty"
                                  (input)="calculateQuantity(grnForm, j)"
                                  (input)="onAcceptedQtyChange(grnForm, j)"
                                  placeholder="Accepted Quantity"
                                  type="number"
                                  step="0.01"
                                  min="0"
                                  oninput="validity.valid||(value='');"
                                  required
                                />
                                <mat-error
                                  *ngIf="
                                    formArrgate.controls[j]
                                      .get('accepted_qty')
                                      ?.hasError('required')
                                  "
                                  >Accepted Quantity Is Required.</mat-error
                                >
                                <mat-error
                                  *ngIf="
                                    formArrgate.controls[j]
                                      .get('accepted_qty')
                                      ?.hasError('pattern')
                                  "
                                  >Negative values not allowed.</mat-error
                                >
                                <mat-error
                                  *ngIf="
                                    formArrgate.controls[j]
                                      .get('accepted_qty')
                                      ?.hasError('greaterThanPO')
                                  "
                                  >Accepted Quantity Should Not Be Greater Than
                                  PO Quantity.</mat-error
                                >
                                <mat-error
                                  *ngIf="
                                    formArrgate.controls[j]
                                      .get('accepted_qty')
                                      ?.hasError('greaterThanGp')
                                  "
                                  >Accepted Quantity Should Not Be Greater Than
                                  Gate Pass Quantity.</mat-error
                                >
                                <mat-error
                                  *ngIf="
                                    formArrgate.controls[j]
                                      .get('accepted_qty')
                                      ?.hasError('greaterThanZero')
                                  "
                                  >Accepted Quantity Should Be Greater Than Zero
                                  .</mat-error
                                >
                              </mat-form-field>
                            </td>

                            <td class="col_input">
                              <mat-form-field class="example-full-width">
                                <mat-label>Rejected Quantity </mat-label>
                                <input
                                  matInput
                                  formControlName="rejected_qty"
                                  placeholder="Rejected Quantity"
                                  min="0"
                                  oninput="validity.valid||(value='');"
                                  readonly
                                />
                                <!-- <mat-error
                                                                      *ngIf="formArrgate.controls[j].get('rejected_qty')?.hasError('required')">Rejected
                                                                      Quantity Is Required.</mat-error> -->
                                <mat-error
                                  *ngIf="
                                    formArrgate.controls[j]
                                      .get('rejected_qty')
                                      ?.hasError('pattern')
                                  "
                                  >Negative values not allowed.</mat-error
                                >
                              </mat-form-field>
                            </td>

                            <td class="col_input" *ngIf="viewBatchNo === true">
                              <mat-form-field class="example-full-width">
                                <mat-label>Batch Number </mat-label>
                                <input
                                  matInput
                                  formControlName="batch_no"
                                  type="number"
                                  step="0.01"
                                  min="0"
                                  oninput="validity.valid||(value='');"
                                  placeholder="Batch Number"
                                />
                                <mat-error
                                  *ngIf="
                                    formArrgate.controls[j]
                                      .get('batch_no')
                                      ?.hasError('pattern')
                                  "
                                  >Negative values not allowed.</mat-error
                                >
                              </mat-form-field>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <cdk-accordion>
              <cdk-accordion-item
                #accordionItem="cdkAccordionItem"
                tabindex="0"
                [attr.id]="'accordion-header-'"
                [attr.aria-expanded]="accordionItem.expanded"
                [attr.aria-controls]="'accordion-body-'"
              >
                <div (click)="accordionItem.toggle()">
                  <div class="header accordian">
                    <p
                      class="fas fa-angle-down example-accordion-item-description"
                    >
                      <i class="bi bi-chevron-down"></i>
                      <strong
                        >Additional Details<span
                          class="fas fa-angle-down example-accordion-item-description"
                        >
                        </span>
                      </strong>
                    </p>
                  </div>
                </div>
                <div [formGroup]="grnForm">
                  <div
                    role="region"
                    [style.display]="accordionItem.expanded ? '' : 'none'"
                    [attr.id]="'accordion-body-'"
                    [attr.aria-labelledby]="'accordion-header-'"
                    class="row clearfix"
                  >
                    <div class="card">
                      <div class="body">
                        <div class="row clearfix">
                          <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                              <mat-label>Vehicle Receipt Number</mat-label>
                              <input
                                matInput
                                formControlName="vehicle_receipt_no"
                                placeholder="Vehicle Receipt Number"
                              />
                            </mat-form-field>
                          </div>

                          <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                              <mat-label>Vehicle Number</mat-label>
                              <input
                                matInput
                                formControlName="vehicle_no"
                                placeholder="Vehicle Number"
                              />
                            </mat-form-field>
                          </div>

                          <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                              <mat-label>Transporter Name</mat-label>
                              <input
                                matInput
                                formControlName="transporter_name"
                                placeholder="Transporter Name"
                              />
                            </mat-form-field>
                          </div>

                          <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                              <mat-label>Supplier Bill Number</mat-label>
                              <input
                                matInput
                                formControlName="supplier_bill_no"
                                placeholder="Supplier Bill Number"
                              />
                            </mat-form-field>
                          </div>

                          <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                              <mat-label>Supplier Bill Date</mat-label>
                              <input
                                matInput
                                [matDatepicker]="supplier_bill_date"
                                id="supplier_bill_date"
                                placeholder="Supplier Bill Date"
                                formControlName="supplier_bill_date"
                              />
                              <mat-datepicker-toggle
                                matSuffix
                                [for]="supplier_bill_date"
                              ></mat-datepicker-toggle>
                              <mat-datepicker
                                #supplier_bill_date
                              ></mat-datepicker>
                            </mat-form-field>
                          </div>

                          <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                              <mat-label>E Way Bill Number</mat-label>
                              <input
                                matInput
                                formControlName="e_way_bill_no"
                                placeholder="E Way Bill Number"
                              />
                            </mat-form-field>
                          </div>

                          <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                              <mat-label>Bill of Entry Number</mat-label>
                              <input
                                matInput
                                formControlName="bill_of_entry_no"
                                placeholder="Bill of Entry Number"
                              />
                            </mat-form-field>
                          </div>

                          <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                              <mat-label>Remark</mat-label>
                              <input
                                matInput
                                formControlName="remark"
                                placeholder="Remark"
                                type="text"
                              />
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </cdk-accordion-item>
            </cdk-accordion>

            <div class="row clearfix" *ngIf="viewOnSendback">
              <div>
                <div class="header accordian">
                  <p
                    class="fas fa-angle-down example-accordion-item-description"
                  >
                    <strong
                      >SendBack<span
                        class="fas fa-angle-down example-accordion-item-description"
                      >
                      </span
                    ></strong>
                  </p>
                </div>
              </div>
              <hr />
              <div class="row clearfix">
                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <mat-label>SendBack Code</mat-label>
                    <mat-select
                      formControlName="error_code_id"
                      (selectionChange)="sendback()"
                    >
                      <mat-option
                        *ngFor="let obj of errorCodeData"
                        [value]="obj.id"
                        >{{ obj.key }}</mat-option
                      >
                    </mat-select>
                    <mat-error
                      *ngIf="grnForm.controls['error_code_id'].errors?.['required']"
                      >SendBack Code Is Required.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <mat-label>SendBack Remark</mat-label>
                    <input
                      matInput
                      formControlName="workflow_remark"
                      placeholder="Workflow Remark"
                      type="text"
                      (change)="sendback()"
                    />
                    <mat-error
                      *ngIf="grnForm.controls['workflow_remark'].errors?.['required']"
                      >SendBack Remark Is Required.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="big-model">
      <div
        style="text-align: center"
        *ngIf="!viewBtn"
        [innerHTML]="myTemplate | safeHtml"
      ></div>
    </div>
    <div class="footer" *ngIf="viewBtn">
      <div class="left">
        <button class="cancel" (click)="onCancelForm()">Cancel</button>
      </div>
      <div class="right d-flex">
        <button
          class="send"
          *ngIf="submitBtn && showReset"
          (click)="onResetForm()"
          [disabled]="showLoader"
        >
          Reset
        </button>
        <button
          type="submit"
          *ngIf="submitBtn"
          class="submit"
          [disabled]="showLoader"
          name="submit"
          value="Submit"
          (click)="onSubmit(btnVal)"
        >
          {{ btnVal }}
          <i class="fa fa-spinner fa-spin" *ngIf="showLoader"></i>
        </button>
      </div>
    </div>
  </div>
</div>
