<div class="edit_pop_up">
  <div class="big-model">
    <div class="header">
      <p>{{ screenName }}</p>
      <button (click)="onCancelForm()">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
    <div class="body overflow_model">
      <div class="details-form">
        <form [formGroup]="stockAdjForm">
          <div class="personal">
            <div class="row d-flex">
              <div class="col-md-3">
                <mat-form-field class="example-full-width" handleSave>
                  <mat-label>Transaction Date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="transaction_date"
                    [min]="todayDate"
                    readonly
                    id="transaction_date"
                    formControlName="transaction_date"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="transaction_date"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #transaction_date></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width" handleSave>
                  <mat-label>Fiscal Year</mat-label>
                  <input
                    matInput
                    formControlName="fiscal_year"
                    placeholder="Fiscal Year"
                    readonly
                    required
                  />
                  <mat-error
                    *ngIf="
                      stockAdjForm.controls['fiscal_year'].hasError('required')
                    "
                    >Fiscal Year Is Required.</mat-error
                  >
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width" handleSave>
                  <mat-label>Period</mat-label>
                  <input
                    matInput
                    formControlName="period"
                    placeholder="Period"
                    readonly
                    required
                  />
                  <mat-error
                    *ngIf="stockAdjForm.controls['period'].hasError('required')"
                    >Period Is Required.</mat-error
                  >
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width" handleSave>
                  <mat-label>Item Type</mat-label>
                  <mat-select
                    formControlName="item_type_ref_id"
                    (selectionChange)="itemTypeChange($event.value)"
                    required
                  >
                    <mat-option
                      *ngFor="let obj of itenTypeData"
                      [value]="obj.id"
                      >{{ obj.master_value }}</mat-option
                    >
                  </mat-select>
                  <mat-error
                    *ngIf="
                      stockAdjForm.controls['item_type_ref_id'].hasError(
                        'required'
                      )
                    "
                    >Item Type Is Required.</mat-error
                  >
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width" handleSave>
                  <mat-label>Transaction Currency</mat-label>
                  <mat-select formControlName="txn_currency" required>
                    <mat-option
                      *ngFor="let obj of countryData"
                      [value]="obj.id"
                      >{{ obj.currency_code }}</mat-option
                    >
                  </mat-select>
                  <mat-error
                    *ngIf="
                      stockAdjForm.controls['txn_currency'].hasError('required')
                    "
                    >Country Currency Is Required.</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width" handleSave>
                  <mat-label>Total Transaction Amount</mat-label>
                  <input
                    matInput
                    formControlName="txn_currency_amount"
                    placeholder="Total Transaction Amount"
                    readonly
                    required
                  />
                  <mat-error
                    *ngIf="
                      stockAdjForm.controls['txn_currency_amount'].hasError(
                        'required'
                      )
                    "
                    >Total Transaction Amount Is Required.</mat-error
                  >
                </mat-form-field>
              </div>
            </div>

            <div>
              <div class="header accordian">
                <p class="fas fa-angle-down example-accordion-item-description">
                  <strong>Stock Adjestment Details<span> </span></strong>
                </p>
              </div>
            </div>
            <div [formGroup]="stockAdjForm">
              <div class="row clearfix">
                <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> -->
                <div class="card">
                  <div class="body">
                    <div
                      class="table-responsive"
                      formArrayName="stock_adjestment_details"
                    >
                      <table
                        id="tableExport"
                        class="table-hover table-checkable order-column m-t-20 width-per-100 table-bordered"
                      >
                        <caption></caption>
                        <thead>
                          <tr>
                            <th style="text-align: center">Sr No</th>
                            <th style="text-align: center">
                              Is Quality/Rate Adjestment
                            </th>
                            <th style="text-align: center">Item Name</th>
                            <th style="text-align: center">System Stock UOM</th>
                            <th style="text-align: center">
                              System Stock Quantity
                            </th>
                            <th style="text-align: center">
                              Physical Stock UOM
                            </th>
                            <th style="text-align: center">
                              Physical Stock Quantity
                            </th>
                            <th style="text-align: center">Surplus/Shortage</th>
                            <th style="text-align: center">Request For</th>
                            <th style="text-align: center">
                              Damaged Stock UOM
                            </th>
                            <th style="text-align: center">
                              Damaged Stock Quantity
                            </th>
                            <th style="text-align: center">System Rate</th>
                            <th style="text-align: center">System Amount</th>
                            <th style="text-align: center">Rate</th>
                            <th style="text-align: center">Updated Amount</th>
                          </tr>
                        </thead>
                        <tbody class="main_tbody">
                          <ng-container>
                            <tr
                              *ngFor="
                                let dynamic of formArr['controls'];
                                let j = index
                              "
                              [formGroupName]="j"
                            >
                              <td class="col_input" style="vertical-align: top">
                                {{ j + 1 }}
                              </td>

                              <ng-container>
                                <td style="text-align: center">
                                  <!-- <mat-label>Rate</mat-label>
                                  <mat-slide-toggle
                                    formControlName="is_qty_rate_adjustment"
                                    style="
                                      margin-left: 0.5rem;
                                      margin-right: 0.5rem;
                                      margin-top: 0.5rem;
                                    "
                                    (change)="qtyRateChange($event, j)"
                                  >
                                    Quantity
                                  </mat-slide-toggle> -->
                                  <div class="active-switch">
                                    <div class="switch-container">
                                      <label>Rate</label>

                                      <label class="switch">
                                        <input
                                          checked=""
                                          type="checkbox"
                                          formControlName="is_qty_rate_adjustment"
                                          (change)="qtyRateChange($event, j)"
                                        />
                                        <div class="slider">
                                          <div class="circle">
                                            <svg
                                              class="cross"
                                              xml:space="preserve"
                                              style="
                                                enable-background: new 0 0 512
                                                  512;
                                              "
                                              viewBox="0 0 365.696 365.696"
                                              y="0"
                                              x="0"
                                              height="6"
                                              width="6"
                                              xmlns:xlink="http://www.w3.org/1999/xlink"
                                              version="1.1"
                                              xmlns="http://www.w3.org/2000/svg"
                                            >
                                              <g>
                                                <path
                                                  data-original="#000000"
                                                  fill="currentColor"
                                                  d="M243.188 182.86 356.32 69.726c12.5-12.5 12.5-32.766 0-45.247L341.238 9.398c-12.504-12.503-32.77-12.503-45.25 0L182.86 122.528 69.727 9.374c-12.5-12.5-32.766-12.5-45.247 0L9.375 24.457c-12.5 12.504-12.5 32.77 0 45.25l113.152 113.152L9.398 295.99c-12.503 12.503-12.503 32.769 0 45.25L24.48 356.32c12.5 12.5 32.766 12.5 45.247 0l113.132-113.132L295.99 356.32c12.503 12.5 32.769 12.5 45.25 0l15.081-15.082c12.5-12.504 12.5-32.77 0-45.25zm0 0"
                                                ></path>
                                              </g>
                                            </svg>
                                            <svg
                                              class="checkmark"
                                              xml:space="preserve"
                                              style="
                                                enable-background: new 0 0 512
                                                  512;
                                              "
                                              viewBox="0 0 24 24"
                                              y="0"
                                              x="0"
                                              height="10"
                                              width="10"
                                              xmlns:xlink="http://www.w3.org/1999/xlink"
                                              version="1.1"
                                              xmlns="http://www.w3.org/2000/svg"
                                            >
                                              <g>
                                                <path
                                                  class=""
                                                  data-original="#000000"
                                                  fill="currentColor"
                                                  d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z"
                                                ></path>
                                              </g>
                                            </svg>
                                          </div>
                                        </div>
                                      </label>
                                      <label>Quantity</label>
                                    </div>
                                  </div>
                                </td>
                                <td class="col_input">
                                  <mat-form-field
                                    class="example-full-width"
                                    handleSave
                                  >
                                    <mat-label>Item Name</mat-label>
                                    <mat-select
                                      formControlName="item_ref_id"
                                      required
                                    >
                                      <mat-option
                                        *ngFor="let obj of itemData"
                                        [value]="obj.id"
                                        >{{ obj.key }}</mat-option
                                      >
                                    </mat-select>
                                    <mat-error
                                      *ngIf="
                                        formArr.controls[j]
                                          .get('item_ref_id')
                                          ?.hasError('required')
                                      "
                                      >Item Name Is Required.</mat-error
                                    >
                                  </mat-form-field>
                                </td>
                                <td class="col_input">
                                  <mat-form-field
                                    class="example-full-width"
                                    handleSave
                                  >
                                    <mat-label>System Stock UOM</mat-label>
                                    <mat-select formControlName="uom" required>
                                      <mat-option
                                        *ngFor="let obj of uomData"
                                        [value]="obj.id"
                                        >{{ obj.key }}</mat-option
                                      >
                                    </mat-select>
                                    <mat-error
                                      *ngIf="
                                        formArr.controls[j]
                                          .get('uom')
                                          ?.hasError('required')
                                      "
                                    >
                                      System Stock UOM Is Required.</mat-error
                                    >
                                  </mat-form-field>
                                </td>
                                <td class="col_input">
                                  <mat-form-field
                                    class="example-full-width"
                                    handleSave
                                  >
                                    <mat-label>System Stock Quantity</mat-label>
                                    <input
                                      matInput
                                      formControlName="quantity"
                                      required
                                      readonly
                                      placeholder="Enter System Stock Quantity"
                                    />
                                    <mat-error
                                      *ngIf="
                                        formArr.controls[j]
                                          .get('quantity')
                                          ?.hasError('required')
                                      "
                                      >System Stock Quantity Is
                                      Required.</mat-error
                                    >
                                  </mat-form-field>
                                </td>
                                <td class="col_input">
                                  <mat-form-field
                                    class="example-full-width"
                                    handleSave
                                  >
                                    <mat-label>Physical Stock UOM</mat-label>
                                    <mat-select
                                      formControlName="physical_uom"
                                      required
                                    >
                                      <mat-option
                                        *ngFor="let obj of uomData"
                                        [value]="obj.id"
                                        >{{ obj.key }}</mat-option
                                      >
                                    </mat-select>
                                    <mat-error
                                      *ngIf="
                                        formArr.controls[j]
                                          .get('physical_uom')
                                          ?.hasError('required')
                                      "
                                    >
                                      Physical Stock UOM Is Required.</mat-error
                                    >
                                  </mat-form-field>
                                </td>
                                <td class="col_input">
                                  <mat-form-field
                                    class="example-full-width"
                                    handleSave
                                  >
                                    <mat-label
                                      >Physical Stock Quantity</mat-label
                                    >
                                    <input
                                      matInput
                                      formControlName="physical_quantity"
                                      required
                                      (keyup)="changeQty()"
                                      [readonly]="!is_rate_qty[j]"
                                      placeholder="Enter Physical Stock Quantity"
                                    />
                                    <mat-error
                                      *ngIf="
                                        formArr.controls[j]
                                          .get('physical_quantity')
                                          ?.hasError('required')
                                      "
                                    >
                                      Physical Stock Quantity Is
                                      Required.</mat-error
                                    >
                                  </mat-form-field>
                                </td>
                                <td class="col_input">
                                  <mat-form-field
                                    class="example-full-width"
                                    handleSave
                                  >
                                    <mat-label>Surplus/Shortage</mat-label>
                                    <input
                                      matInput
                                      formControlName="surplus_shortage"
                                      required
                                      readonly
                                      placeholder="Enter Surplus/Shortage"
                                    />
                                    <mat-error
                                      *ngIf="
                                        formArr.controls[j]
                                          .get('surplus_shortage')
                                          ?.hasError('required')
                                      "
                                    >
                                      Surplus/Shortage Is Required.</mat-error
                                    >
                                  </mat-form-field>
                                </td>
                                <td class="col_input">
                                  <mat-form-field
                                    class="example-full-width"
                                    handleSave
                                  >
                                    <mat-label>Request For</mat-label>
                                    <input
                                      matInput
                                      formControlName="request_for"
                                      required
                                      readonly
                                      placeholder="Enter Request For"
                                    />
                                    <mat-error
                                      *ngIf="
                                        formArr.controls[j]
                                          .get('request_for')
                                          ?.hasError('required')
                                      "
                                    >
                                      Request For Is Required.</mat-error
                                    >
                                  </mat-form-field>
                                </td>
                                <td class="col_input">
                                  <mat-form-field
                                    class="example-full-width"
                                    handleSave
                                  >
                                    <mat-label>Damaged Stock UOM</mat-label>
                                    <mat-select formControlName="damaged_uom">
                                      <mat-option
                                        *ngFor="let obj of uomData"
                                        [value]="obj.id"
                                        >{{ obj.key }}</mat-option
                                      >
                                    </mat-select>
                                    <mat-error
                                      *ngIf="
                                        formArr.controls[j]
                                          .get('damaged_uom')
                                          ?.hasError('required')
                                      "
                                    >
                                      Damaged Stock UOM Is Required.</mat-error
                                    >
                                  </mat-form-field>
                                </td>
                                <td class="col_input">
                                  <mat-form-field
                                    class="example-full-width"
                                    handleSave
                                  >
                                    <mat-label
                                      >Damaged Stock Quantity</mat-label
                                    >
                                    <input
                                      matInput
                                      formControlName="damaged_quantity"
                                      required
                                      placeholder="Enter Damaged Stock Quantity"
                                    />
                                    <mat-error
                                      *ngIf="
                                        formArr.controls[j]
                                          .get('damaged_quantity')
                                          ?.hasError('required')
                                      "
                                    >
                                      Damaged Stock Quantity Is
                                      Required.</mat-error
                                    >
                                  </mat-form-field>
                                </td>
                                <td class="col_input">
                                  <mat-form-field
                                    class="example-full-width"
                                    handleSave
                                  >
                                    <mat-label>System Rate</mat-label>
                                    <input
                                      matInput
                                      formControlName="system_rate"
                                      required
                                      readonly
                                      placeholder="Enter System Rate"
                                    />
                                    <mat-error
                                      *ngIf="
                                        formArr.controls[j]
                                          .get('system_rate')
                                          ?.hasError('required')
                                      "
                                    >
                                      System Rate Is Required.</mat-error
                                    >
                                  </mat-form-field>
                                </td>

                                <td class="col_input">
                                  <mat-form-field
                                    class="example-full-width"
                                    handleSave
                                  >
                                    <mat-label>System Amount</mat-label>
                                    <input
                                      matInput
                                      formControlName="txn_currency_system_amount"
                                      required
                                      readonly
                                      placeholder="Enter System Amount"
                                    />
                                    <mat-error
                                      *ngIf="
                                        formArr.controls[j]
                                          .get('txn_currency_system_amount')
                                          ?.hasError('required')
                                      "
                                    >
                                      System Amount Is Required.</mat-error
                                    >
                                  </mat-form-field>
                                </td>
                                <td class="col_input">
                                  <mat-form-field
                                    class="example-full-width"
                                    handleSave
                                  >
                                    <mat-label>Rate</mat-label>
                                    <input
                                      matInput
                                      formControlName="changed_rate"
                                      required
                                      [readonly]="is_rate_qty[j]"
                                      placeholder="Enter Rate"
                                      (keyup)="changeQty()"
                                    />
                                    <mat-error
                                      *ngIf="
                                        formArr.controls[j]
                                          .get('changed_rate')
                                          ?.hasError('required')
                                      "
                                    >
                                      Rate Is Required.</mat-error
                                    >
                                  </mat-form-field>
                                </td>
                                <td class="col_input">
                                  <mat-form-field
                                    class="example-full-width"
                                    handleSave
                                  >
                                    <mat-label>Changed Amount</mat-label>
                                    <input
                                      matInput
                                      formControlName="txn_currency_changed_amount"
                                      required
                                      readonly
                                      placeholder="Enter Changed Amount"
                                    />
                                    <mat-error
                                      *ngIf="
                                        formArr.controls[j]
                                          .get('txn_currency_changed_amount')
                                          ?.hasError('required')
                                      "
                                    >
                                      Changed Amount Is Required.</mat-error
                                    >
                                  </mat-form-field>
                                </td>
                              </ng-container>
                            </tr>
                          </ng-container>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

              <div
                class="body"
                style="text-align: center"
                *ngIf="!viewBtn"
                [innerHTML]="myTemplate | safeHtml"
              ></div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="footer">
      <div class="left">
        <button class="cancel" (click)="onCancelForm()">Cancel</button>
      </div>
      <div class="right d-flex">
        <button class="send" (click)="onResetForm()" [disabled]="showLoader">
          Reset
        </button>
        <button
          class="submit"
          (click)="onSubmit()"
          *ngIf="submitBtn"
          [disabled]="showLoader"
        >
          {{ btnVal }}
          <i class="fa fa-spinner fa-spin" *ngIf="showLoader"></i>
        </button>
      </div>
    </div>
  </div>
</div>
