<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form [formGroup]="federationForm" (ngSubmit)="onSubmit()">
            <div class="card">
                <div class="body">
                    <div class="row clearfix">                      
                       <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                            <div class="form-group">
                                <mat-label>Organization Name <i style="color: red;">*</i></mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <input matInput formControlName="tenant_name" placeholder="Organization Name">
                                    <mat-error *ngIf="federationForm.controls['tenant_name'].hasError('required')">Organization Name is Required.</mat-error>
                                    <mat-error *ngIf="federationForm.controls['tenant_name'].hasError('maxlength')">Maximum 30 characters.</mat-error>
                                    <mat-error *ngIf="federationForm.controls['tenant_name'].hasError('pattern')">Special Character(s) are not allowed.</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                            <div class="form-group">                                
                                <mat-label>Organization Short Name <i style="color: red;">*</i></mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <input matInput formControlName="tenant_short_name" placeholder="Short Name">
                                    <mat-error *ngIf="federationForm.controls['tenant_short_name'].hasError('maxlength')">Maximum 30 characters.</mat-error>
                                    <mat-error *ngIf="federationForm.controls['tenant_short_name'].hasError('required')">Short Name is Required.</mat-error>
                                    <mat-error *ngIf="federationForm.controls['tenant_short_name'].hasError('pattern')">Special Character(s) are not allowed.</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8" >
                            <div class="form-group">
                                <mat-label>Ownership Status <i style="color: red;">*</i></mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-select formControlName="ownership_status" required>
                                        <mat-option value="">Select</mat-option>
                                        <mat-option *ngFor="let obj of ownershipStatusData" [value]="obj.id">{{obj.master_key}}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="federationForm.controls['ownership_status'].hasError('required')">Ownership Status is Required.</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                            <div class="form-group">
                                <mat-label>Primary Contact Name <i style="color: red;">*</i></mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <input matInput formControlName="contact_person_name" placeholder="Primary Contact Name">
                                    <mat-error *ngIf="federationForm.controls['contact_person_name'].hasError('required')">Primary Contact Name is Required.</mat-error>
                                    <mat-error *ngIf="federationForm.controls['contact_person_name'].hasError('pattern')">Special Character(s) are not allowed.</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                            <div class="form-group">
                                <mat-label>Primary Email <i style="color: red;">*</i></mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <input matInput formControlName="email_id" type="email_id" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="Email Id" required>
                                    <mat-error *ngIf="federationForm.controls['email_id'].hasError('pattern')">Enter Valid Email.</mat-error>
                                    <mat-error *ngIf="federationForm.controls['email_id'].hasError('required')">Email is Required.</mat-error>
                                    <mat-error *ngIf="federationForm.controls['email_id'].hasError('email')">Email id not valid.</mat-error>
                                    <mat-error *ngIf="federationForm.controls['email_id'].hasError('maxlength')">Maximum 30 characters.</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                            <div class="form-group">
                                <mat-label>Primary Phone <i style="color: red;">*</i></mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <input matInput formControlName="phone_no" type="text" placeholder="Phone No" pattern="^((\\+91-?)|0)?[0-9]{10}$" required>
                                    <mat-error *ngIf="federationForm.controls['phone_no'].hasError('required')">Phone Number is Required.</mat-error>
                                    <mat-error *ngIf="federationForm.controls['phone_no'].hasError('pattern')">Enter Valid Mobile Number.</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8" >
                            <div class="form-group">
                                <mat-label>Transaction Type<i style="color: red;">*</i></mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-select formControlName="transaction_type" required>
                                        <mat-option value="">Select</mat-option>
                                        <mat-option *ngFor="let obj of transactionData" [value]="obj.id">{{obj.master_key}}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="federationForm.controls['transaction_type'].hasError('required')">Ownership Status is Required.</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8" >
                            <div class="form-group">
                                <mat-label>Country <i style="color: red;">*</i></mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-select formControlName="country">
                                        <mat-option value="">Select</mat-option>
                                        <mat-option *ngFor="let obj of countrydata" [value]="obj.id">{{obj.country_name}}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="federationForm.controls['country'].hasError('required')">Country is Required.</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                         <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group" >
                                <mat-label>State <i style="color: red;">*</i></mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">                                            
                                    <mat-select formControlName="state" [disabled]="stateData.length==0 || !submitBtn">
                                        <mat-option value="">Select</mat-option>
                                        <mat-option [value]="obj.id" *ngFor="let obj of stateData">{{obj.state_name}}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="federationForm.controls['state'].hasError('required')">State is Required.</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12" >
                            <div class="form-group">
                                <mat-label>District <i style="color: red;">*</i></mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">                                            
                                    <mat-select formControlName="district" [disabled]="districtData.length==0 || !submitBtn">
                                        <mat-option value="">Select</mat-option>
                                        <mat-option [value]="obj.id" *ngFor="let obj of districtData">{{obj.district_name}}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="federationForm.controls['district'].hasError('required')">District is Required.</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12" >
                            <div class="form-group">
                                <mat-label>Taluka<i style="color: red;">*</i></mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">                                            
                                    <mat-select formControlName="taluka">
                                        <mat-option value="">Select</mat-option>
                                        <mat-option [value]="obj.id" *ngFor="let obj of talukaData">{{obj.sub_district_name}}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="federationForm.controls['taluka'].hasError('required')">Taluka is Required.</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                            <div class="form-group">
                                <mat-label>Address1 <i style="color: red;">*</i></mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <textarea matInput formControlName="address" placeholder="Address1"></textarea>
                                    <mat-error *ngIf="federationForm.controls['address'].hasError('required')">Address is Required.</mat-error>

                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                            <div class="form-group">
                                <mat-label>Address2</mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <textarea matInput formControlName="address1" placeholder="Address2"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                            <div class="form-group">
                                <mat-label>Pin/Zip Code <i style="color: red;">*</i></mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <input matInput formControlName="pin_code" placeholder="Pin/Zip Code">
                                    <mat-error *ngIf="federationForm.controls['pin_code'].hasError('pattern')">Pincode Not Valid.</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                       <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                            <div class="form-group">
                                <mat-label>PAN </mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <input matInput formControlName="pan_no" placeholder="PAN">
                                    <mat-error *ngIf="federationForm.controls['pan_no'].hasError('pattern')">PAN Not Valid.</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                            <div class="form-group">
                                <mat-label>GSTIN</mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <input matInput formControlName="gst_no" placeholder="GST">
                                    <mat-error *ngIf="federationForm.controls['gst_no'].hasError('pattern')">GSTIN Not Valid.</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                            <div class="form-group">
                                <mat-label>TAN</mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <input matInput formControlName="tan_no" placeholder="TAN">
                                    <mat-error *ngIf="federationForm.controls['tan_no'].hasError('pattern')">TAN Not Valid.</mat-error>
                                </mat-form-field>
                            </div>
                        </div> 
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                            <div class="form-group">
                                <mat-label>CIN<i style="color: red;">*</i></mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <input matInput formControlName="cin_no" placeholder="CIN">
                                    <mat-error *ngIf="federationForm.controls['cin_no'].hasError('required')">CIN is Required.</mat-error>
                                    <mat-error *ngIf="federationForm.controls['cin_no'].hasError('pattern')">CIN Not Valid.</mat-error>
                                </mat-form-field>
                            </div>
                        </div>                       
                        
                         
                        
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                            <div class="form-group">
                                <mat-label>Header</mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <textarea matInput formControlName="header_section" placeholder="Header"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                            <div class="form-group">
                                <mat-label>Footer</mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <textarea matInput formControlName="footer_section" placeholder="Footer"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                            <div class="form-group">
                                <mat-label>Import Code</mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <textarea matInput formControlName="import_code" placeholder="Import Code"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                            <div class="form-group">
                                <mat-label>Export Code</mat-label>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <textarea matInput formControlName="export_code" placeholder="Export Code"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                        
                    </div>
                    <br>
                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="card">
                                <div class="body">
                                    <h4 style="text-align: center;"><strong>Federation Contract Details</strong></h4><br>
                                    <div class="table-responsive" formArrayName="contract_details">
                                        <table id="tableExport1"
                                            class="display table table-hover table-checkable order-column m-t-20 width-per-100 table-bordered">
                                            <caption></caption>
                                            <thead>                                        
                                                <tr>
                                                    <th style="text-align:center">Action</th>
                                                    <th style="text-align:center">From Date</th>
                                                    <th style="text-align:center">To Date</th> 
                                                    <th style="text-align:center">Revision Status</th>  
                                                    <th style="text-align:center">Max No of user</th>  
                                                    <th style="text-align:center">oncurrent user</th>  
                                                    <th style="text-align:center">Api Limit</th>  
                                                    <th style="text-align:center">Api Call Block For (min)</th>  
                                                    <th style="text-align:center">Application Block Time (min)</th>  
                                                </tr>
                                            </thead>
        
                                            <tbody class="main_tbody">
                                                <tr *ngFor="let dynamic of formArrcontract['controls']; let i = index" [formGroupName]="i">
                                                    <td>
                                                        <ng-container *ngIf="i==0">
                                                            <td>
                                                                <button type="button" class="btn btn-primary btn-rounded waves-effect" (click)="addNewRow1()">+</button>
                                                            </td>
                                                        </ng-container>
                                                        <ng-container *ngIf="i>0">
                                                            <td>
                                                                <button type="button" class="btn btn-danger btn-rounded waves-effect" (click)="deleteRow1(i)">-</button>
                                                            </td>
                                                        </ng-container>
                                                    </td>  

                                                    <td class="col_input" >
                                                        <mat-form-field class="example-full-width" appearance="outline">
                                                            <input matInput [matDatepicker]="from_date" id="from_date"   formControlName="from_date" >
                                                            <mat-datepicker-toggle matSuffix [for]="from_date" ></mat-datepicker-toggle>                                                           
                                                            <mat-datepicker #from_date></mat-datepicker>
                                                        </mat-form-field>
                                                    </td>
                                                    <td class="col_input" >
                                                        <mat-form-field class="example-full-width" appearance="outline">
                                                            <input matInput [matDatepicker]="to_date"   id="to_date" formControlName="to_date" >
                                                            <mat-datepicker-toggle matSuffix [for]="to_date" ></mat-datepicker-toggle>                                                           
                                                            <mat-datepicker #to_date></mat-datepicker>
                                                        </mat-form-field>
                                                    </td>
                                                    <td class="col_input" >
                                                        <mat-form-field class="example-full-width" appearance="outline" >
                                                            <input matInput placeholder="Revision Status" formControlName="revision_status" type="text" id="revision_status{{i+1}}" >                                                   
                                                        </mat-form-field>
                                                    </td>
                                                    <td class="col_input" >
                                                        <mat-form-field class="example-full-width" appearance="outline" >
                                                            <input matInput placeholder="Max No of Users" formControlName="max_no_of_users" type="number" id="max_no_of_users{{i+1}}" >                                                   
                                                        </mat-form-field>
                                                    </td>
                                                    <td class="col_input" >
                                                        <mat-form-field class="example-full-width" appearance="outline" >
                                                            <input matInput placeholder="concurrent Users" formControlName="concurent_user" type="number" id="concurent_user{{i+1}}" >                                                   
                                                        </mat-form-field>
                                                    </td>
                                                    <td class="col_input" >
                                                        <mat-form-field class="example-full-width" appearance="outline" >
                                                            <input matInput placeholder="Api Limit" formControlName="api_limit" type="text" id="api_limit{{i+1}}" >                                                   
                                                        </mat-form-field>
                                                    </td>
                                                    <td class="col_input" >
                                                        <mat-form-field class="example-full-width" appearance="outline" >
                                                            <input matInput placeholder="api calls blocked for in minutes" formControlName="api_calls_blocked_for_in_minutes" type="text" id="api_calls_blocked_for_in_minutes{{i+1}}" >                                                   
                                                        </mat-form-field>
                                                    </td>
                                                    <td class="col_input" >
                                                        <mat-form-field class="example-full-width" appearance="outline" >
                                                            <input matInput placeholder="application blocking in minutes" formControlName="application_blocking_in_minutes" type="text" id="application_blocking_in_minutes{{i+1}}" >                                                   
                                                        </mat-form-field>
                                                    </td>                    
                                                </tr>
                                            </tbody>                                   
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="card">
                                <div class="body">
                                    <h4 style="text-align: center;"><strong>Fpc Contact Details</strong></h4><br>
                                    <div class="table-responsive" formArrayName="contact_details">
                                        <table id="tableExport1"
                                            class="display table table-hover table-checkable order-column m-t-20 width-per-100 table-bordered">
                                            <caption></caption>
                                            <thead>                                        
                                                <tr>
                                                    <th style="text-align:center">Action</th>
                                                    <th style="text-align:center">Employee/User</th>
                                                    <th style="text-align:center">Employee Id</th>
                                                    <th style="text-align:center">Full Name</th> 
                                                    <th style="text-align:center">Phone Number</th>  
                                                    <th style="text-align:center">Email</th>  
                                                    <th style="text-align:center">Department</th>  
                                                    <th style="text-align:center">Sub Department</th>  
                                                    <th style="text-align:center">Designation</th>  
                                                </tr>
                                            </thead>
        
                                            <tbody class="main_tbody">
                                                <tr *ngFor="let dynamic of formArrcontact['controls']; let i = index" [formGroupName]="i">
                                                    <td>
                                                        <ng-container *ngIf="i==0">
                                                            <td>
                                                                <button type="button" class="btn btn-primary btn-rounded waves-effect" (click)="addNewRow2()">+</button>
                                                            </td>
                                                        </ng-container>
                                                        <ng-container *ngIf="i>0">
                                                            <td>
                                                                <button type="button" class="btn btn-danger btn-rounded waves-effect" (click)="deleteRow2(i)">-</button>
                                                            </td>
                                                        </ng-container>
                                                    </td>  

                                                    <td class="col_input">
                                                        <mat-form-field class="example-full-width" appearance="outline">
                                                            <mat-label>Employee/User</mat-label>
                                                            <mat-select formControlName="emp_user" (selectionChange)="getemployeeuser($event.value,i)">
                                                                <mat-option value="">Select</mat-option>
                                                                <mat-option value="Employee">Employee</mat-option>
                                                                <mat-option value="User">User</mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </td>                                                    

                                                    <td class="col_input">
                                                        <mat-form-field class="example-full-width" appearance="outline">
                                                            <mat-label>Employee Id</mat-label>
                                                            <mat-select formControlName="employee_id" >
                                                                <mat-option [value]="data.id" *ngFor="let data of empuserData"  >
                                                                    {{ data.name }}
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </td>
                                                    <td class="col_input" >
                                                        <mat-form-field class="example-full-width" appearance="outline" >
                                                            <input matInput placeholder="Full Name" formControlName="full_name" type="text" id="full_name{{i+1}}" >                                                   
                                                        </mat-form-field>
                                                    </td>
                                                    <td class="col_input" >
                                                        <mat-form-field class="example-full-width" appearance="outline" >
                                                            <input matInput placeholder="Phone Number" formControlName="phone_no" type="number" id="phone_no{{i+1}}" >                                                   
                                                        </mat-form-field>
                                                    </td>
                                                    <td class="col_input" >
                                                        <mat-form-field class="example-full-width" appearance="outline" >
                                                            <input matInput placeholder="Email" formControlName="email" type="text" id="email{{i+1}}" >                                                   
                                                        </mat-form-field>
                                                    </td>  
                                                    <td class="col_input">
                                                        <mat-form-field class="example-full-width" appearance="outline">
                                                            <mat-label>Select Document Name</mat-label>
                                                            <mat-select formControlName="department">
                                                                <mat-option [value]="data.id" *ngFor="let data of departmentdata"  >
                                                                    {{ data.name }}
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </td>                       
                                                    <td class="col_input">
                                                        <mat-form-field class="example-full-width" appearance="outline">
                                                            <mat-label>Select Document Name</mat-label>
                                                            <mat-select formControlName="sub_department" >
                                                                <mat-option [value]="data.id" *ngFor="let data of subdepartmentdata"  >
                                                                    {{ data.name }}
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </td>                       
                                                    <td class="col_input">
                                                        <mat-form-field class="example-full-width" appearance="outline">
                                                            <mat-label>Select Document Name</mat-label>
                                                            <mat-select formControlName="designation" >
                                                                <mat-option [value]="data.id" *ngFor="let data of designationdata"  >
                                                                    {{ data.name }}
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </td>                                         
                                                </tr>
                                            </tbody>                                   
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                   <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="card">
                                <div class="body">
                                    <h4 style="text-align: center;"><strong>FPC Document</strong></h4><br>
                                    <div class="table-responsive" formArrayName="kyc_details">
                                        <table id="tableExport1"
                                            class="display table table-hover table-checkable order-column m-t-20 width-per-100 table-bordered">
                                            <caption></caption>
                                            <thead>                                        
                                                <tr>
                                                    <th style="text-align:center">Action</th>
                                                    <th style="text-align:center">Document Name</th>
                                                    <th style="text-align:center">Document Number</th> 
                                                    <th style="text-align:center">Attachment</th>  
                                                </tr>
                                            </thead>
        
                                            <tbody class="main_tbody">
                                                <tr *ngFor="let dynamic of formArrkyc['controls']; let i = index" [formGroupName]="i">
                                                    <td>
                                                        <ng-container *ngIf="i==0">
                                                            <td>
                                                                <button type="button" class="btn btn-primary btn-rounded waves-effect" (click)="addNewRow3()">+</button>
                                                            </td>
                                                        </ng-container>
                                                        <ng-container *ngIf="i>0">
                                                            <td>
                                                                <button type="button" class="btn btn-danger btn-rounded waves-effect" (click)="deleteRow3(i)">-</button>
                                                            </td>
                                                        </ng-container>
                                                    </td>  
        
                                                    <td class="col_input">
                                                        <mat-form-field class="example-full-width" appearance="outline">
                                                            <mat-label>Select Document Name</mat-label>
                                                            <mat-select formControlName="document_name" >
                                                                <mat-option [value]="data.id" *ngFor="let data of documentData"  >
                                                                    {{ data.master_key }}
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </td>                                                       
        
                                                    <td class="col_input" >
                                                        <mat-form-field class="example-full-width" appearance="outline" >
                                                            <input matInput placeholder="Document Number" formControlName="document_seq_number" type="number" id="document_seq_number{{i+1}}" >                                                   
                                                        </mat-form-field>
                                                    </td>
        
                                                    <td class="mat-cell" style="padding: 2rem;">
                                                        <ng-container *ngIf="!submitBtn">
                                                            <a *ngIf="dynamic.value['document_path'].value!=''" href="{{dynamic.value['href_attachment_path'].value}}" target="_blank">Click to view </a>
                                                        </ng-container>
                                                        <ng-container *ngIf="submitBtn" class="example-full-width">
                                                            <a *ngIf="dynamic.value['document_path'].value!=''" href="{{dynamic.value['href_attachment_path'].value}}" target="_blank">Click to view </a>
                                                            <br>
                                                            <input #fileInput type="file" (change)="setFile($event,i)" id="upload"/>
                                                            <br>
                                                            <span style="font-size: 1rem">
                                                                ( Formats allowed: .png, .jpg, .pdf )
                                                            </span>
                                                        </ng-container>
                                                    </td>        
                                            </tbody>                                   
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                     
                </div>
            </div>
            <div class="card">
                <div class="body" style="text-align: center;">
                    <div class="button-demo">
                        <button class="btn btn-primary mr5" type="submit" *ngIf="submitBtn"  name="submit" value="Submit">{{btnVal}} </button>
                        <button class="btn btn-danger" type="button" (click)="onCancelForm()">Back</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>