<div class="edit_pop_up">
  <div class="big-model">
    <div class="overlay" *ngIf="ViewLoader">
      <div class="loader"></div>
    </div>
    <div class="header">
      <p>{{ screenName }}</p>
      <button (click)="onCancelForm()">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
    <div class="body overflow_model">
      <div class="details-form">
        <form [formGroup]="salesForm">
          <div class="personal">
            <div class="row d-flex">
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Transaction Date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="transaction_date"
                    id="transaction_date"
                    placeholder="Transaction Date"
                    formControlName="transaction_date"
                    [(ngModel)]="todayDate"
                    required
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="transaction_date"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #transaction_date></mat-datepicker>
                  <mat-error
                    *ngIf="
                      salesForm.controls['transaction_date'].hasError(
                        'required'
                      )
                    "
                    >Transaction Date Is Required.</mat-error
                  >
                </mat-form-field>
              </div>

              <div class="col-md" *ngIf="FederationView && showReset === false">
                <mat-form-field class="example-full-width">
                  <mat-label>SO Number</mat-label>
                  <input
                    matInput
                    formControlName="transaction_ref_no"
                    readonly
                  />
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Sales Order Type</mat-label>
                  <mat-select
                    formControlName="so_type_ref_id"
                    (selectionChange)="soTypeChange($event.value)"
                    required
                  >
                    <mat-option
                      *ngFor="let obj of salesOrderData"
                      [value]="obj.id"
                      >{{ obj.master_value }}</mat-option
                    >
                  </mat-select>
                  <mat-error
                    *ngIf="
                      salesForm.controls['so_type_ref_id'].hasError('required')
                    "
                    >SO Type Is Required.</mat-error
                  >
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Customer Name</mat-label>
                  <mat-select
                    formControlName="customer_ref_id"
                    (selectionChange)="onCustomerName($event.value)"
                    required
                  >
                    <mat-select-filter
                      [placeholder]="'Search'"
                      [displayMember]="'key'"
                      [array]="CustomerData"
                      (filteredReturn)="customerNameData = $event"
                    ></mat-select-filter>
                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of customerNameData"
                      style="padding-top: 8px; padding-bottom: 8px"
                      >{{ obj.key }}</mat-option
                    >
                  </mat-select>
                  <mat-error
                    *ngIf="
                      salesForm.controls['customer_ref_id'].hasError('required')
                    "
                    >Customer Name Is Required.</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-md-3" *ngIf="DisabledSupplierPayment">
                <mat-form-field class="example-full-width">
                  <mat-label>Supplier Payment Type</mat-label>
                  <mat-select formControlName="supplier_payment_type_ref_id">
                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of supplierPaymentData"
                      >{{ obj.master_key }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Customer Contact Name</mat-label>
                  <input
                    matInput
                    formControlName="customer_contact_person_name"
                    placeholder="Enter Customer Contact Name"
                    readonly
                  />
                  <mat-error
                    *ngIf="
                      salesForm.controls[
                        'customer_contact_person_name'
                      ].hasError('required')
                    "
                    >Customer Contact Name Is Required.</mat-error
                  >
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Agent</mat-label>
                  <mat-select
                    formControlName="agent_ref_id"
                    (selectionChange)="agentChange($event.value)"
                  >
                    <mat-select-filter
                      [placeholder]="'Search'"
                      [displayMember]="'agent_name'"
                      [array]="agentData"
                      (filteredReturn)="filterAgentData = $event"
                    ></mat-select-filter>
                    <mat-option [value]="empty_value">Select Agent</mat-option>
                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of filterAgentData"
                      style="padding-top: 8px; padding-bottom: 8px"
                      >{{ obj.agent_name }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <!-- <div class="col-md-3" *ngIf="is_agent_commission">
                <mat-label>Rate</mat-label>
                <mat-slide-toggle
                  formControlName="agent_rate_percentage"
                  (change)="isAgentCommissionRate($event.checked)"
                  style="
                    margin-left: 0.5rem;
                    margin-right: 0.5rem;
                    margin-top: 0.5rem;
                  "
                >
                  Percentage
                </mat-slide-toggle>
              </div> -->

              <div class="active-switch col-md-3" *ngIf="is_agent_commission">
                <mat-label>Is Rate/Percenatge?</mat-label>
                <div class="switch-container">
                  <label>Rate</label>

                  <label class="switch">
                    <input
                      checked=""
                      type="checkbox"
                      formControlName="agent_rate_percentage"
                      (change)="isAgentCommissionRate($event)"
                    />
                    <div class="slider">
                      <div class="circle">
                        <svg
                          class="cross"
                          xml:space="preserve"
                          style="enable-background: new 0 0 512 512"
                          viewBox="0 0 365.696 365.696"
                          y="0"
                          x="0"
                          height="6"
                          width="6"
                          xmlns:xlink="http://www.w3.org/1999/xlink"
                          version="1.1"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <g>
                            <path
                              data-original="#000000"
                              fill="currentColor"
                              d="M243.188 182.86 356.32 69.726c12.5-12.5 12.5-32.766 0-45.247L341.238 9.398c-12.504-12.503-32.77-12.503-45.25 0L182.86 122.528 69.727 9.374c-12.5-12.5-32.766-12.5-45.247 0L9.375 24.457c-12.5 12.504-12.5 32.77 0 45.25l113.152 113.152L9.398 295.99c-12.503 12.503-12.503 32.769 0 45.25L24.48 356.32c12.5 12.5 32.766 12.5 45.247 0l113.132-113.132L295.99 356.32c12.503 12.5 32.769 12.5 45.25 0l15.081-15.082c12.5-12.504 12.5-32.77 0-45.25zm0 0"
                            ></path>
                          </g>
                        </svg>
                        <svg
                          class="checkmark"
                          xml:space="preserve"
                          style="enable-background: new 0 0 512 512"
                          viewBox="0 0 24 24"
                          y="0"
                          x="0"
                          height="10"
                          width="10"
                          xmlns:xlink="http://www.w3.org/1999/xlink"
                          version="1.1"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <g>
                            <path
                              class=""
                              data-original="#000000"
                              fill="currentColor"
                              d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z"
                            ></path>
                          </g>
                        </svg>
                      </div>
                    </div>
                  </label>
                  <label>Percenatge</label>
                </div>
              </div>

              <div
                class="col-md-3"
                *ngIf="is_agent_commission"
                matTooltip="This will be filled automatically"
              >
                <mat-form-field class="example-full-width">
                  <mat-label>Agent Commission</mat-label>
                  <input
                    matInput
                    formControlName="agent_commission"
                    placeholder="Enter Agent Commission"
                    (change)="agentCommission()"
                  />
                </mat-form-field>
              </div>

              <div
                class="col-md-3"
                *ngIf="is_agent_commission"
                matTooltip="This will be filled automatically"
              >
                <mat-form-field class="example-full-width">
                  <mat-label>Agent Commission Amount</mat-label>
                  <input
                    matInput
                    formControlName="agent_commission_amount"
                    placeholder="Enter Agent Commission Amount"
                    readonly
                  />
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Transaction Currency</mat-label>
                  <mat-select formControlName="txn_currency">
                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of CurrencyData"
                      >{{ obj.currency_code }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>

              <div
                class="col-md-3"
                matTooltip="This will be filled automatically"
              >
                <mat-form-field class="example-full-width">
                  <mat-label>Total Transaction Amount</mat-label>
                  <!-- <input matInput formControlName="txn_currency_amount" (input)="transactionAmount(salesForm, -1)" -->
                  <input
                    matInput
                    matInputCommified
                    formControlName="txn_currency_amount"
                    placeholder="Enter Total Transaction Amount"
                    readonly
                  />
                </mat-form-field>
              </div>
              <div
                class="col-md-3"
                *ngIf="CommisionView"
                matTooltip="This will be filled automatically"
              >
                <mat-form-field class="example-full-width">
                  <mat-label>FPC Commission Total Amount</mat-label>
                  <input
                    matInput
                    placeholder="FPC Commission Total Amount"
                    formControlName="fpc_commision_total_amt"
                    readonly
                  />
                  <mat-error
                    *ngIf="
                      salesForm.controls['fpc_commision_total_amt'].hasError(
                        'required'
                      )
                    "
                    >FPC Commission Total Amount Is Required.</mat-error
                  >
                </mat-form-field>
              </div>
              <div
                class="col-md-3"
                *ngIf="CommisionView"
                matTooltip="This will be filled automatically"
              >
                <mat-form-field class="example-full-width">
                  <mat-label>FPC Commission Tax Rate</mat-label>
                  <input
                    matInput
                    placeholder="FPC Commission Tax Rate"
                    formControlName="fpc_commision_tax_rate"
                    readonly
                  />
                  <mat-error
                    *ngIf="
                      salesForm.controls['fpc_commision_tax_rate'].hasError(
                        'required'
                      )
                    "
                    >FPC Commission Tax Rate Is Required.</mat-error
                  >
                </mat-form-field>
              </div>
              <div
                class="col-md-3"
                *ngIf="CommisionView"
                matTooltip="This will be filled automatically"
              >
                <mat-form-field class="example-full-width">
                  <mat-label>FPC Commission Tax Amount</mat-label>
                  <input
                    matInput
                    placeholder="FPC Commission Tax Amount"
                    formControlName="fpc_commision_tax_amount"
                    readonly
                  />
                  <mat-error
                    *ngIf="
                      salesForm.controls['fpc_commision_tax_amount'].hasError(
                        'required'
                      )
                    "
                    >FPC Commission Tax Amount Is Required.</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Division</mat-label>
                  <mat-select formControlName="division_ref_id">
                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of DivisionData"
                      >{{ obj.key }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Department</mat-label>
                  <mat-select formControlName="department_ref_id">
                    <mat-option [value]="">Select Department Name</mat-option>
                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of DepartmentData"
                      >{{ obj.key }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Type Of Sale</mat-label>
                  <mat-select formControlName="sale_type_ref_id">
                    <mat-option [value]="">Select Sale Type</mat-option>

                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of SaleTypeData"
                      >{{ obj.key }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Location</mat-label>
                  <mat-select formControlName="location_ref_id">
                    <mat-option [value]="">Select Location</mat-option>

                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of LocationData"
                      >{{ obj.key }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>

              <div>
                <div class="header accordian">
                  <p
                    class="fas fa-angle-down example-accordion-item-description"
                  >
                    <strong
                      >Customer Details<span
                        class="fas fa-angle-down example-accordion-item-description"
                      >
                      </span
                    ></strong>
                  </p>
                </div>

                <div [formGroup]="salesForm">
                  <!-- <div
                      role="region"
                      [style.display]="accordionItem.expanded ? '' : 'none'"
                      [attr.id]="'accordion-body-'"
                      [attr.aria-labelledby]="'accordion-header-'"
                      class="row clearfix"
                    > -->
                  <div class="card">
                    <div class="body">
                      <div class="row clearfix">
                        <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                            <mat-label>Customer PO Number</mat-label>
                            <input
                              matInput
                              formControlName="customer_po_number"
                              type="text"
                              placeholder="Customer PO Number"
                              required
                            />
                            <mat-error
                              *ngIf="
                                salesForm.controls[
                                  'customer_po_number'
                                ].hasError('pattern')
                              "
                              >Special Character(s) Are Not Allowed.</mat-error
                            >
                            <mat-error
                              *ngIf="
                                salesForm.controls[
                                  'customer_po_number'
                                ].hasError('required')
                              "
                              >Customer PO Number Is Required.</mat-error
                            >
                          </mat-form-field>
                        </div>

                        <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                            <mat-label>Customer PO Date</mat-label>
                            <input
                              matInput
                              [matDatepicker]="po_date"
                              id="po_date"
                              placeholder="PO Date"
                              formControlName="customer_po_date"
                              required
                              [max]="todayDate"
                            />
                            <mat-datepicker-toggle
                              matSuffix
                              [for]="po_date"
                            ></mat-datepicker-toggle>
                            <mat-datepicker #po_date></mat-datepicker>
                            <mat-error
                              *ngIf="
                                salesForm.controls[
                                  'customer_po_number'
                                ].hasError('required')
                              "
                              >Customer PO Date Is Required.</mat-error
                            >
                          </mat-form-field>
                        </div>

                        <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                            <mat-label>Customer Billing Address</mat-label>
                            <mat-select
                              formControlName="customer_bill_from"
                              required
                            >
                              <mat-option
                                [value]="obj.id"
                                *ngFor="let obj of billingData"
                                style="overflow-wrap: anywhere; padding: 10px"
                                >{{ obj.address }}</mat-option
                              >
                            </mat-select>
                            <mat-error
                              *ngIf="
                                salesForm.controls[
                                  'customer_bill_from'
                                ].hasError('required')
                              "
                              >Billing Address Is Required
                            </mat-error>
                          </mat-form-field>
                        </div>

                        <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                            <mat-label>Customer Shipping Address</mat-label>
                            <mat-select
                              formControlName="customer_ship_to"
                              required
                            >
                              <mat-option
                                [value]="obj.id"
                                *ngFor="let obj of shippingData"
                                style="overflow-wrap: anywhere; padding: 10px"
                                >{{ obj.address }}</mat-option
                              >
                            </mat-select>
                            <mat-error
                              *ngIf="
                                salesForm.controls['customer_ship_to'].hasError(
                                  'required'
                                )
                              "
                            >
                              Shipping Address Is Required
                            </mat-error>
                          </mat-form-field>
                        </div>

                        <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                            <mat-label>Payment Terms</mat-label>
                            <mat-select
                              formControlName="payment_terms_ref_id"
                              required
                            >
                              <mat-option
                                [value]="obj.id"
                                *ngFor="let obj of paymentTermData"
                                >{{ obj.master_value }}</mat-option
                              >
                            </mat-select>
                            <mat-error
                              *ngIf="
                                salesForm.controls[
                                  'payment_terms_ref_id'
                                ].hasError('required')
                              "
                              >Payment Terms Is Required
                            </mat-error>
                          </mat-form-field>
                        </div>

                        <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                            <mat-label>Delivery Terms</mat-label>
                            <mat-select
                              formControlName="delivery_terms_ref_id"
                              (selectionChange)="
                                deliveryTypeChange($event.value)
                              "
                            >
                              <mat-option
                                [value]="obj.id"
                                *ngFor="let obj of deliveryTermData"
                                >{{ obj.master_value }}</mat-option
                              >
                            </mat-select>
                            <mat-error
                              *ngIf="
                                salesForm.controls[
                                  'delivery_terms_ref_id'
                                ].hasError('required')
                              "
                              >Delivery Terms Is Required
                            </mat-error>
                          </mat-form-field>
                        </div>

                        <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                            <mat-label>Mode of Delivery</mat-label>
                            <mat-select
                              formControlName="mode_of_delivery_ref_id"
                            >
                              <mat-option
                                [value]="obj.id"
                                *ngFor="let obj of modeOfDeliveryData"
                                >{{ obj.master_value }}</mat-option
                              >
                            </mat-select>
                            <mat-error
                              *ngIf="
                                salesForm.controls[
                                  'mode_of_delivery_ref_id'
                                ].hasError('required')
                              "
                              >Mode Of Delivery Is Required
                            </mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-md-3" *ngIf="isTransportationView">
                          <mat-form-field class="example-full-width">
                            <mat-label>Transportation Charges</mat-label>
                            <input
                              matInput
                              formControlName="transportation_charges"
                              type="Number"
                              oninput="validity.valid||(value='');"
                              placeholder="Transportation Charges"
                            />
                            <mat-error
                              *ngIf="
                                salesForm.controls[
                                  'transportation_charges'
                                ].hasError('required')
                              "
                            >
                              Transportation Charges Is Required
                            </mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div>
              <div class="header accordian">
                <p class="fas fa-angle-down example-accordion-item-description">
                  <strong
                    >Sales order Details<span
                      class="fas fa-angle-down example-accordion-item-description"
                    >
                    </span
                  ></strong>
                </p>
              </div>
            </div>
            <div [formGroup]="salesForm">
              <div class="card">
                <div class="body">
                  <div class="row clearfix">
                    <div class="table-responsive" formArrayName="order_details">
                      <table
                        id="tableExport1"
                        class="display table table-hover table-checkable order-column m-t-20 width-per-100 table-bordered"
                      >
                        <caption></caption>
                        <thead>
                          <tr>
                            <th
                              style="text-align: center"
                              *ngIf="isDisable === false"
                            >
                              Action
                            </th>
                            <th style="text-align: center">
                              Quality Parameter
                            </th>
                            <th style="text-align: center">Item</th>
                            <th style="text-align: center">HSN</th>
                            <th style="text-align: center">UOM</th>
                            <th style="text-align: center">Quantity</th>
                            <th style="text-align: center">Rate</th>
                            <th style="text-align: center">
                              Transaction Amount
                            </th>
                            <th
                              style="text-align: center"
                              *ngIf="CommisionView"
                            >
                              Is FPC Commision Rate/Percentage?
                            </th>
                            <th
                              style="text-align: center"
                              *ngIf="CommisionView"
                            >
                              FPC Commision
                            </th>
                            <th
                              style="text-align: center"
                              *ngIf="CommisionView"
                            >
                              FPC Commission Amount
                            </th>
                            <th style="text-align: center">
                              Expected Delivery Date
                            </th>
                          </tr>
                        </thead>

                        <tbody class="main_tbody">
                          <tr
                            *ngFor="
                              let dynamic of formArrcontact['controls'];
                              let j = index
                            "
                            [formGroupName]="j"
                          >
                            <td
                              class="col_input"
                              *ngIf="j === 0 && isDisable === false"
                            >
                              <button
                                type="button"
                                class="apply-button"
                                (click)="addNewRow()"
                              >
                                <i class="fa fa-plus"></i>
                              </button>
                            </td>
                            <td
                              class="col_input"
                              *ngIf="j > 0 && isDisable === false"
                            >
                              <button
                                type="button"
                                class="apply-button-danger"
                                (click)="deleteRow(j)"
                              >
                                <i class="fa fa-minus"></i>
                              </button>
                            </td>

                            <!-- <td class="col_input" style="vertical-align: top">
                              <div
                                class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                              >
                                <button
                                  type="button"
                                  [disabled]="btnDisable"
                                  class="apply-button"
                                  (click)="addQcParameterDetails(j)"
                                >
                                  Enter Parameter
                                </button>
                              </div>
                            </td> -->
                            <td class="col_input">
                              <div
                                class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                              >
                                <button
                                  type="button"
                                  [disabled]="btnDisable"
                                  class="parameter-button"
                                  (click)="addQcParameterDetails(j)"
                                >
                                  Enter Parameter
                                </button>
                              </div>
                            </td>

                            <td class="col_input">
                              <mat-form-field class="example-full-width">
                                <mat-label>Item</mat-label>
                                <mat-select
                                  formControlName="item_ref_id"
                                  (selectionChange)="ItemNameChange($event, j)"
                                >
                                  <mat-select-filter
                                    [placeholder]="'Search'"
                                    [displayMember]="'key'"
                                    [array]="ItemSearchData"
                                    (filteredReturn)="itemDetailData = $event"
                                  ></mat-select-filter>
                                  <mat-option
                                    [value]="data.id"
                                    *ngFor="let data of itemDetailData"
                                  >
                                    {{ data.key }}
                                  </mat-option>
                                </mat-select>
                                <mat-error
                                  *ngIf="
                                    formArrcontact.controls[j]
                                      .get('item_ref_id')
                                      ?.hasError('required')
                                  "
                                  >Item Is Required.</mat-error
                                >
                              </mat-form-field>
                            </td>

                            <td class="col_input">
                              <mat-form-field
                                class="example-full-width"
                                appearance="outline"
                              >
                                <mat-label>HSN</mat-label>
                                <mat-select formControlName="hsn_sac_no">
                                  <mat-option
                                    *ngFor="let obj of HsnData"
                                    [value]="obj.id"
                                    >{{ obj.key }}</mat-option
                                  >
                                </mat-select>
                              </mat-form-field>
                            </td>

                            <td class="col_input">
                              <mat-form-field class="example-full-width">
                                <mat-label>UOM</mat-label>
                                <mat-select formControlName="uom" readonly>
                                  <mat-option
                                    [value]="data.id"
                                    *ngFor="let data of uomData"
                                  >
                                    {{ data.key }}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </td>

                            <td class="col_input">
                              <mat-form-field class="example-full-width">
                                <mat-label>Quantity</mat-label>
                                <input
                                  matInput
                                  placeholder="Quantity"
                                  type="Number"
                                  step="0.0001"
                                  min="0"
                                  oninput="validity.valid||(value='');"
                                  required
                                  formControlName="quantity"
                                  (keyup)="QuantityChange($event, j)"
                                  (input)="transactionAmount(salesForm, j)"
                                  id="quantity{{ j + 1 }}"
                                />
                                <mat-error
                                  *ngIf="
                                    formArrcontact.controls[j]
                                      .get('quantity')
                                      ?.hasError('required')
                                  "
                                  >Quantity Is Required.</mat-error
                                >
                              </mat-form-field>
                            </td>

                            <td class="col_input">
                              <mat-form-field class="example-full-width">
                                <mat-label>Rate</mat-label>
                                <input
                                  matInput
                                  placeholder="Rate"
                                  formControlName="rate"
                                  (input)="transactionAmount(salesForm, j)"
                                  (keyup)="RateChange($event, j)"
                                  type="Number"
                                  step="0.01"
                                  min="0"
                                  oninput="validity.valid||(value='');"
                                  id="rate{{ j + 1 }}"
                                />
                                <mat-error
                                  *ngIf="
                                    formArrcontact.controls[j]
                                      .get('rate')
                                      ?.hasError('required')
                                  "
                                  >Rate Is Required.</mat-error
                                >
                              </mat-form-field>
                            </td>
                            <td
                              class="col_input"
                              matTooltip="This will be filled automatically"
                            >
                              <mat-form-field class="example-full-width">
                                <mat-label>Transaction Amount</mat-label>
                                <input
                                  matInput
                                  matInputCommified
                                  placeholder="Transaction Amount"
                                  formControlName="txn_currency_amount"
                                  id="txn_currency_amount{{ j + 1 }}"
                                  readonly
                                />
                                <mat-error
                                  *ngIf="
                                    formArrcontact.controls[j]
                                      .get('txn_currency_amount')
                                      ?.hasError('required')
                                  "
                                  >Transaction Amount Is Required.</mat-error
                                >
                              </mat-form-field>
                            </td>
                            <td *ngIf="CommisionView">
                              <div class="col-md-3">
                                <mat-label>Rate</mat-label>
                                <mat-slide-toggle
                                  formControlName="is_fpc_commission_rate_percentage"
                                  style="
                                    margin-left: 0.5rem;
                                    margin-right: 0.5rem;
                                    margin-top: 0.5rem;
                                  "
                                  (change)="agentIsRatePercenatgeChange(j)"
                                >
                                  Percentage
                                </mat-slide-toggle>
                              </div>
                            </td>
                            <td *ngIf="CommisionView">
                              <mat-form-field class="example-full-width">
                                <mat-label>FPC Commision</mat-label>
                                <input
                                  matInput
                                  formControlName="fpc_commision"
                                  type="number"
                                  step="0.01"
                                  min="0"
                                  oninput="validity.valid||(value='');"
                                  (change)="CommisionChange($event, j)"
                                />
                                <mat-error
                                  *ngIf="
                                    formArrcontact.controls[j]
                                      .get('fpc_commision')
                                      ?.hasError('required')
                                  "
                                  >FPC Commission Is Required.</mat-error
                                >
                              </mat-form-field>
                            </td>
                            <td
                              class="col_input"
                              *ngIf="CommisionView"
                              matTooltip="This will be filled automatically"
                            >
                              <mat-form-field class="example-full-width">
                                <mat-label>FPC Commission Amount</mat-label>
                                <input
                                  matInput
                                  placeholder="FPC Commission Amount"
                                  formControlName="fpc_commision_amt"
                                  id="fpc_commision_amt{{ j + 1 }}"
                                  readonly
                                />
                                <mat-error
                                  *ngIf="
                                    formArrcontact.controls[j]
                                      .get('fpc_commision_amt')
                                      ?.hasError('required')
                                  "
                                  >FPC Commission Amount Is Required.</mat-error
                                >
                              </mat-form-field>
                            </td>

                            <td class="col_input">
                              <mat-form-field class="example-full-width">
                                <mat-label>Expected delivery date</mat-label>
                                <input
                                  matInput
                                  [matDatepicker]="from_date"
                                  id="expected_delivery_date{{ j + 1 }}"
                                  placeholder="Expected delivery date"
                                  formControlName="expected_delivery_date"
                                  required
                                />
                                <mat-datepicker-toggle
                                  matSuffix
                                  [for]="from_date"
                                ></mat-datepicker-toggle>
                                <mat-datepicker #from_date></mat-datepicker>
                                <mat-error
                                  *ngIf="
                                    formArrcontact.controls[j]
                                      .get('expected_delivery_date')
                                      ?.hasError('required')
                                  "
                                  >Expected Date Is Required
                                </mat-error>
                                <mat-error
                                  *ngIf="
                                    formArrcontact.controls[j]
                                      .get('expected_delivery_date')
                                      ?.hasError('matDatepickerMin')
                                  "
                                  >Expected Date Cannot Be Earlier Than
                                  Transaction Date</mat-error
                                >
                              </mat-form-field>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="personal" *ngIf="viewOnSendback">
            <div class="row d-flex">
              <div>
                <div class="header accordian">
                  <p
                    class="fas fa-angle-down example-accordion-item-description"
                  >
                    <strong
                      >SendBack<span
                        class="fas fa-angle-down example-accordion-item-description"
                      >
                      </span
                    ></strong>
                  </p>
                </div>
              </div>
            </div>
            <!-- <hr /> -->
            <div class="row clearfix">
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>SendBack Code</mat-label>
                  <mat-select
                    formControlName="error_code_id"
                    (selectionChange)="sendback()"
                  >
                    <mat-option
                      *ngFor="let obj of errorCodeData"
                      [value]="obj.id"
                      >{{ obj.key }}</mat-option
                    >
                  </mat-select>
                  <mat-error
                    *ngIf="salesForm.controls['error_code_id'].errors?.['required']"
                    >SendBack Code Is Required.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>SendBack Remark</mat-label>
                  <input
                    matInput
                    formControlName="workflow_remark"
                    placeholder="Workflow Remark"
                    type="text"
                    (change)="sendback()"
                  />
                  <mat-error
                    *ngIf="salesForm.controls['workflow_remark'].errors?.['required']"
                    >SendBack Remark Is Required.
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="big-model">
      <div
        style="text-align: center"
        *ngIf="!viewBtn"
        [innerHTML]="myTemplate | safeHtml"
      ></div>
    </div>
    <div class="footer" *ngIf="viewBtn">
      <div class="left">
        <button class="cancel" (click)="onCancelForm()">Cancel</button>
      </div>
      <div class="right d-flex">
        <button
          class="send"
          (click)="onResetForm()"
          *ngIf="submitBtn && showReset"
          [disabled]="showLoader"
        >
          Reset
        </button>
        <button
          class="submit"
          (click)="onSubmit($event)"
          *ngIf="submitBtn"
          [disabled]="showLoader"
        >
          {{ btnVal }}
          <i class="fa fa-spinner fa-spin" *ngIf="showLoader"></i>
        </button>
      </div>
    </div>
  </div>
</div>
