<div [formGroup]="form">
  <mat-form-field
    class="example-full-width"
    *ngIf="['password'].includes(field.field_key) && submitBtn == 'Submit'"
  >
    <mat-label>{{ field.field_label }}</mat-label>
    <input
      matInput
      *ngIf="!field.multiline && field.field_type_id == 'text'"
      [attr.type]="field.field_type_id"
      [id]="field.field_key"
      [name]="field.field_label"
      [formControlName]="field.field_key"
      [readonly]="field.is_readonly"
      [attr.disabled]="true ? '' : null"
      (change)="
        field.is_onchange_event == true && clickEvent($event, field.field_key)
      "
  /></mat-form-field>

  <mat-form-field
    class="example-full-width"
    *ngIf="
      (field.field_type_id == 'text' ||
        field.field_type_id == 'integer' ||
        field.field_type_id == 'float') &&
      !['password'].includes(field.field_key)
    "
  >
    <mat-label>{{ field.field_label }}</mat-label>
    <input
      matInput
      *ngIf="
        !field.multiline &&
        field.field_type_id == 'text' &&
        ![
          'ifsc_code',
          'bank_ifsc_code',
          'bank_account_holder_name',
          'account_holder_name',
          'pan_no',
          'branch_code',
          'bank_branch_code',
          'bank_account_no',
          'account_number',
          'email',
          'email_id',
          'pin_code',
          'pincode',
          'mobile_no',
          'phone',
          'pincode_details',
          'commission'
        ].includes(field.field_key)
      "
      [attr.type]="field.field_type_id"
      [id]="field.field_key"
      [name]="field.field_label"
      [formControlName]="field.field_key"
      [readonly]="field.is_readonly"
      [attr.disabled]="true ? '' : null"
      (change)="
        field.is_onchange_event == true && clickEvent($event, field.field_key)
      "
    />

    <input
      matInput
      *ngIf="
        !field.multiline &&
        field.field_type_id == 'float' &&
        ![
          'ifsc_code',
          'bank_ifsc_code',
          'bank_account_holder_name',
          'account_holder_name',
          'pan_no',
          'branch_code',
          'bank_branch_code',
          'bank_account_no',
          'account_number',
          'email',
          'email_id',
          'pin_code',
          'pincode',
          'mobile_no',
          'phone',
          'pincode_details',
          'commission'
        ].includes(field.field_key)
      "
      type="Number"
      step="0.001"
      [formControlName]="field.field_key"
      min="0"
      oninput="validity.valid||(value='');"
      inputTrim
      [id]="field.field_key"
      [name]="field.field_label"
      [readonly]="field.is_readonly"
      [attr.disabled]="true ? '' : null"
    />

    <input
      matInput
      *ngIf="
        !field.multiline &&
        field.field_type_id == 'integer' &&
        ![
          'ifsc_code',
          'bank_ifsc_code',
          'bank_account_holder_name',
          'account_holder_name',
          'pan_no',
          'branch_code',
          'bank_branch_code',
          'bank_account_no',
          'account_number',
          'email',
          'email_id',
          'pin_code',
          'pincode',
          'mobile_no',
          'phone',
          'pincode_details'
        ].includes(field.field_key)
      "
      type="Number"
      [name]="field.field_label"
      [formControlName]="field.field_key"
      [readonly]="field.is_readonly"
      (change)="
        field.is_onchange_event == true && clickEvent($event, field.field_key)
      "
    />

    <input
      matInput
      *ngIf="
        !field.multiline &&
        ['ifsc_code', 'bank_ifsc_code'].includes(field.field_key)
      "
      pattern="^([A-Z]{4}[0][A-Z0-9]{6})$"
      [attr.type]="field.field_type_id"
      [id]="field.field_key"
      [name]="field.field_label"
      [formControlName]="field.field_key"
      [readonly]="field.is_readonly"
      [attr.disabled]="true ? '' : null"
      (change)="
        field.is_onchange_event == true && clickEvent($event, field.field_key)
      "
    />

    <input
      matInput
      *ngIf="
        !field.multiline &&
        ['mobile_no', 'phone', 'alternate_phone'].includes(field.field_key)
      "
      type="number"
      min="0"
      oninput="validity.valid||(value='');"
      pattern="^^[0-9]{10}$"
      [id]="field.field_key"
      [name]="field.field_label"
      [formControlName]="field.field_key"
      [readonly]="field.is_readonly"
      [attr.disabled]="true ? '' : null"
    />

    <input
      matInput
      *ngIf="
        !field.multiline &&
        ['pin_code', 'pincode', 'pincode_details'].includes(field.field_key)
      "
      pattern="^[0-9]{6}$"
      type="number"
      min="0"
      oninput="validity.valid||(value='');"
      [id]="field.field_key"
      [name]="field.field_label"
      [formControlName]="field.field_key"
      [readonly]="field.is_readonly"
      [attr.disabled]="true ? '' : null"
    />

    <input
      matInput
      *ngIf="!field.multiline && ['pan_no'].includes(field.field_key)"
      pattern="[A-Z]{5}[0-9]{4}[A-Z]{1}"
      [attr.type]="field.field_type_id"
      [id]="field.field_key"
      [name]="field.field_label"
      [formControlName]="field.field_key"
      [readonly]="field.is_readonly"
      [attr.disabled]="true ? '' : null"
    />

    <input
      matInput
      *ngIf="
        !field.multiline && ['email', 'email_id'].includes(field.field_key)
      "
      type="email"
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
      [attr.type]="field.field_type_id"
      [id]="field.field_key"
      [name]="field.field_label"
      [formControlName]="field.field_key"
      [readonly]="field.is_readonly"
      [attr.disabled]="true ? '' : null"
    />

    <input
      matInput
      *ngIf="
        !field.multiline &&
        ['account_number', 'bank_account_no'].includes(field.field_key)
      "
      [id]="field.field_key"
      type="Number"
      min="0"
      oninput="validity.valid||(value='');"
      [name]="field.field_label"
      [formControlName]="field.field_key"
      [readonly]="field.is_readonly"
      [attr.disabled]="true ? '' : null"
      (change)="
        field.is_onchange_event == true && clickEvent($event, field.field_key)
      "
    />

    <input
      matInput
      *ngIf="
        !field.multiline &&
        ['bank_account_holder_name', 'account_holder_name'].includes(
          field.field_key
        )
      "
      pattern="[^-,@,!,#,$,%,^,&,*,(,)]+"
      [attr.type]="field.field_type_id"
      [id]="field.field_key"
      [name]="field.field_label"
      [formControlName]="field.field_key"
      [readonly]="field.is_readonly"
      [attr.disabled]="true ? '' : null"
      (change)="
        field.is_onchange_event == true && clickEvent($event, field.field_key)
      "
    />

    <input
      matInput
      *ngIf="
        !field.multiline &&
        ['branch_code', 'bank_branch_code'].includes(field.field_key)
      "
      pattern="[^-,@,!,#,$,%,^,&,*,(,)]+"
      [attr.type]="field.field_type_id"
      [id]="field.field_key"
      [name]="field.field_label"
      [formControlName]="field.field_key"
      [readonly]="field.is_readonly"
      [attr.disabled]="true ? '' : null"
    />

    <input
      matInput
      *ngIf="!field.multiline && ['commission'].includes(field.field_key)"
      type="Number"
      [id]="field.field_key"
      [name]="field.field_label"
      [formControlName]="field.field_key"
      [readonly]="field.is_readonly"
      min="0"
      step="0.01"
      [attr.disabled]="true ? '' : null"
      (change)="
        field.is_onchange_event == true && clickEvent($event, field.field_key)
      "
    />

    <mat-error
      *ngIf="
        ![
          'bank_account_holder_name',
          'account_holder_name',
          'pan_no',
          'branch_code',
          'bank_branch_code',
          'pan_no',
          'bank_account_no',
          'account_number',
          'ifsc_code',
          'bank_ifsc_code',
          'gstin',
          'email',
          'email_id',
          'pin_code',
          'pincode',
          'mobile_no',
          'phone',
          'commission'
        ].includes(field.field_key) && field.is_required == true
      "
    >
      {{ field.field_placeholder }} Is Required
    </mat-error>

    <mat-error
      *ngIf="
        ['mobile_no'].includes(field.field_key) &&
        form.controls['mobile_no'].hasError('required')
      "
    >
      {{ field.field_placeholder }} Is Required
    </mat-error>

    <mat-error
      *ngIf="
        ['mobile_no'].includes(field.field_key) &&
        form.controls['mobile_no'].hasError('pattern')
      "
    >
      Enter Valid Phone Number.
    </mat-error>

    <mat-error
      *ngIf="
        ['phone'].includes(field.field_key) &&
        form.controls['phone'].hasError('required')
      "
    >
      {{ field.field_placeholder }} Is Required
    </mat-error>

    <mat-error
      *ngIf="
        ['phone'].includes(field.field_key) &&
        form.controls['phone'].hasError('pattern')
      "
    >
      Enter Valid Phone Number.
    </mat-error>

    <mat-error
      *ngIf="
        ['pin_code'].includes(field.field_key) &&
        field.is_required == true &&
        form.controls['pin_code'].hasError('required')
      "
    >
      {{ field.field_placeholder }} Is Required
    </mat-error>

    <mat-error
      *ngIf="
        ['pin_code'].includes(field.field_key) &&
        form.controls['pin_code'].hasError('pattern')
      "
    >
      Pincode Not Valid.
    </mat-error>

    <mat-error
      *ngIf="
        ['pincode'].includes(field.field_key) &&
        field.is_required == true &&
        form.controls['pincode'].hasError('required')
      "
    >
      {{ field.field_placeholder }} Is Required
    </mat-error>

    <mat-error
      *ngIf="
        ['pincode'].includes(field.field_key) &&
        form.controls['pincode'].hasError('pattern')
      "
    >
      Pincode Not Valid.
    </mat-error>

    <mat-error
      *ngIf="
        ['pincode_details'].includes(field.field_key) &&
        field.is_required == true &&
        form.controls['pincode_details'].hasError('required')
      "
    >
      {{ field.field_placeholder }} Is Required
    </mat-error>

    <mat-error
      *ngIf="
        ['pincode_details'].includes(field.field_key) &&
        form.controls['pincode_details'].hasError('pattern')
      "
    >
      Pincode Not Valid.
    </mat-error>

    <mat-error
      *ngIf="
        ['email'].includes(field.field_key) &&
        form.controls['email'].hasError('pattern')
      "
      >Enter Valid Email.</mat-error
    >

    <mat-error
      *ngIf="
        ['email'].includes(field.field_key) &&
        field.is_required == true &&
        form.controls['email'].hasError('required')
      "
    >
      {{ field.field_placeholder }} Is Required
    </mat-error>

    <mat-error
      *ngIf="
        ['email'].includes(field.field_key) &&
        form.controls['email'].hasError('email_id')
      "
      >Email is not Valid.</mat-error
    >

    <mat-error
      *ngIf="
        ['email'].includes(field.field_key) &&
        form.controls['email'].hasError('maxlength')
      "
      >Maximum 30 characters.</mat-error
    >

    <mat-error
      *ngIf="
        ['email_id'].includes(field.field_key) &&
        form.controls['email_id'].hasError('pattern')
      "
      >Enter Valid Email.</mat-error
    >

    <mat-error
      *ngIf="
        ['email_id'].includes(field.field_key) &&
        field.is_required == true &&
        form.controls['email_id'].hasError('required')
      "
    >
      {{ field.field_placeholder }} Is Required
    </mat-error>

    <mat-error
      *ngIf="
        ['email_id'].includes(field.field_key) &&
        form.controls['email_id'].hasError('email_id')
      "
      >Email is not Valid.</mat-error
    >

    <mat-error
      *ngIf="
        ['email_id'].includes(field.field_key) &&
        form.controls['email_id'].hasError('maxlength')
      "
      >Maximum 30 characters.</mat-error
    >

    <mat-error
      *ngIf="
        ['gstin'].includes(field.field_key) &&
        form.controls['gstin'].hasError('required')
      "
    >
      {{ field.field_placeholder }} Is Required
    </mat-error>

    <mat-error
      *ngIf="
        ['gstin'].includes(field.field_key) &&
        form.controls['gstin'].hasError('pattern')
      "
    >
      GSTIN Not Valid.
    </mat-error>

    <mat-error
      *ngIf="
        ['ifsc_code'].includes(field.field_key) &&
        form.controls['ifsc_code'].hasError('required')
      "
    >
      {{ field.field_placeholder }} Is Required
    </mat-error>

    <mat-error
      *ngIf="
        ['ifsc_code'].includes(field.field_key) &&
        form.controls['ifsc_code'].hasError('pattern')
      "
    >
      IFSC Code Not Valid.
    </mat-error>
    <mat-error
      *ngIf="
        ['bank_ifsc_code'].includes(field.field_key) &&
        form.controls['bank_ifsc_code'].hasError('required')
      "
    >
      {{ field.field_placeholder }} Is Required
    </mat-error>

    <mat-error
      *ngIf="
        ['bank_ifsc_code'].includes(field.field_key) &&
        form.controls['bank_ifsc_code'].hasError('pattern')
      "
    >
      IFSC Code Not Valid.
    </mat-error>

    <mat-error
      *ngIf="
        ['account_number'].includes(field.field_key) &&
        form.controls['account_number'].hasError('required')
      "
    >
      {{ field.field_placeholder }} Is Required
    </mat-error>

    <mat-error
      *ngIf="
        ['account_number'].includes(field.field_key) &&
        form.controls['account_number'].hasError('pattern')
      "
    >
      Special Characters Not Allowed.
    </mat-error>

    <mat-error
      *ngIf="
        ['bank_account_no'].includes(field.field_key) &&
        form.controls['bank_account_no'].hasError('required')
      "
    >
      {{ field.field_placeholder }} Is Required
    </mat-error>

    <mat-error
      *ngIf="
        ['bank_account_no'].includes(field.field_key) &&
        form.controls['bank_account_no'].hasError('pattern')
      "
    >
      Special Characters Not Allowed.
    </mat-error>

    <mat-error
      *ngIf="
        ['branch_code'].includes(field.field_key) &&
        form.controls['branch_code'].hasError('required')
      "
    >
      {{ field.field_placeholder }} Is Required
    </mat-error>

    <mat-error
      *ngIf="
        ['branch_code'].includes(field.field_key) &&
        form.controls['branch_code'].hasError('pattern')
      "
    >
      Branch Code Not Valid.
    </mat-error>

    <mat-error
      *ngIf="
        ['bank_branch_code'].includes(field.field_key) &&
        form.controls['bank_branch_code'].hasError('required')
      "
    >
      {{ field.field_placeholder }} Is Required
    </mat-error>

    <mat-error
      *ngIf="
        ['bank_branch_code'].includes(field.field_key) &&
        form.controls['bank_branch_code'].hasError('pattern')
      "
    >
      Branch Code Not Valid.
    </mat-error>

    <mat-error
      *ngIf="
        ['pan_no'].includes(field.field_key) &&
        form.controls['pan_no'].hasError('required')
      "
    >
      {{ field.field_placeholder }} Is Required
    </mat-error>

    <mat-error
      *ngIf="
        ['pan_no'].includes(field.field_key) &&
        form.controls['pan_no'].hasError('pattern')
      "
    >
      PAN Not Valid.
    </mat-error>

    <mat-error
      *ngIf="
        ['bank_account_holder_name'].includes(field.field_key) &&
        form.controls['bank_account_holder_name'].hasError('required')
      "
    >
      {{ field.field_placeholder }} Is Required
    </mat-error>

    <mat-error
      *ngIf="
        ['bank_account_holder_name'].includes(field.field_key) &&
        form.controls['bank_account_holder_name'].hasError('pattern')
      "
    >
      Special Characters Not Allowed.
    </mat-error>

    <mat-error
      *ngIf="
        ['account_holder_name'].includes(field.field_key) &&
        form.controls['account_holder_name'].hasError('required')
      "
    >
      {{ field.field_placeholder }} Is Required
    </mat-error>

    <mat-error
      *ngIf="
        ['account_holder_name'].includes(field.field_key) &&
        form.controls['account_holder_name'].hasError('pattern')
      "
    >
      Special Characters Not Allowed.
    </mat-error>

    <mat-error
      *ngIf="
        ['commission'].includes(field.field_key) &&
        form.controls['commission'].hasError('min')
      "
    >
      Negative Values Not Allowed.
    </mat-error>
  </mat-form-field>

  <mat-form-field
    class="example-full-width"
    *ngIf="field.field_type_id == 'textarea'"
  >
    <mat-label>{{ field.field_label }}</mat-label>
    <textarea
      matInput
      [formControlName]="field.field_key"
      [name]="field.field_label"
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="2"
      [readonly]="field.is_readonly"
    ></textarea>
    <mat-error *ngIf="field.is_required == true">
      {{ field.field_placeholder }} Is Required
    </mat-error>
  </mat-form-field>
</div>
