<div class="edit_pop_up override_edit_pop_up">
  <div class="big-model">
    <div class="header">
      <p>{{ screenName }}</p>
      <button (click)="onCancelForm()">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
    <div class="body overflow_model">
      <div class="details-form">
        <div class="details-form">
          <form [formGroup]="JVForm">
            <div class="personal">
              <div class="row d-flex">
                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <mat-label>Transaction Date</mat-label>
                    <input
                      matInput
                      [matDatepicker]="transaction_date"
                      [min]="todayDate"
                      readonly
                      id="transaction_date"
                      [(ngModel)]="todayDate"
                      formControlName="transaction_date"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="transaction_date"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #transaction_date></mat-datepicker>
                  </mat-form-field>
                </div>

                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <mat-label>Fiscal Year</mat-label>
                    <input
                      matInput
                      formControlName="fiscal_year"
                      inputTrim
                      readonly
                    />
                  </mat-form-field>
                </div>

                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <mat-label>Period</mat-label>
                    <input
                      matInput
                      formControlName="period"
                      inputTrim
                      readonly
                    />
                  </mat-form-field>
                </div>

                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <mat-label>Transaction Currency</mat-label>
                    <mat-select formControlName="txn_currency">
                      <mat-option
                        [value]="obj.id"
                        *ngFor="let obj of CurrencyData"
                        >{{ obj.currency_code }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <mat-label>Total Transaction Debit Amount</mat-label>
                    <input
                      matInput
                      formControlName="txn_currency_debit_amount"
                      inputTrim
                      readonly
                    />
                  </mat-form-field>
                </div>

                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <mat-label>Total Transaction Credit Amount</mat-label>
                    <input
                      matInput
                      formControlName="txn_currency_credit_amount"
                      inputTrim
                      readonly
                    />
                  </mat-form-field>
                </div>

                <div class="col-md-3" *ngIf="!submitBtn">
                  <mat-form-field class="example-full-width">
                    <mat-label>Total Base Debit Amount</mat-label>
                    <input
                      matInput
                      formControlName="base_currency_debit_amount"
                      inputTrim
                      readonly
                    />
                  </mat-form-field>
                </div>

                <div class="col-md-3" *ngIf="!submitBtn">
                  <mat-form-field class="example-full-width">
                    <mat-label>Total Base Credit Amount</mat-label>
                    <input
                      matInput
                      formControlName="base_currency_credit_amount"
                      inputTrim
                      readonly
                    />
                  </mat-form-field>
                </div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                <div class="form-group">
                  <mat-checkbox
                    formControlName="is_temporary_flag"
                    (change)="is_temporary_flag_change($event)"
                  >
                    Is Temporary?
                  </mat-checkbox>
                </div>
              </div>
              <!--
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
            <div class="form-group">
                <label>
                    <input type="checkbox" class="form-check-input" formControlName="is_temporary_flag"
                    (change)="is_temporary_flag_change($event)"> Is Temporary?
                </label>
            </div>
          </div> -->
              <div>
                <div class="header accordian">
                  <p
                    class="fas fa-angle-down example-accordion-item-description"
                  >
                    <strong
                      >Journal Voucher Details
                      <span
                        class="fas fa-angle-down example-accordion-item-description"
                      >
                      </span>
                    </strong>
                  </p>
                </div>
              </div>

              <div [formGroup]="JVForm" class="poem">
                <div class="card">
                  <div class="body">
                    <div class="row clearfix">
                      <div
                        class="table-responsive"
                        formArrayName="journal_voucher_details"
                      >
                        <table
                          id="tableExport"
                          class="display table table-hover table-checkable order-column m-t-20 width-per-100 table-bordered"
                        >
                          <caption></caption>
                          <thead>
                            <tr>
                              <th style="text-align: center">Action</th>
                              <th style="text-align: center">Accounts Name</th>
                              <th
                                style="text-align: center"
                                *ngFor="let obj of columnsData | keyvalue"
                              >
                                {{ obj.value }}
                              </th>
                              <th style="text-align: center">Debit/Credit</th>
                              <th style="text-align: center">
                                Transaction Amount
                              </th>
                              <th style="text-align: center">
                                Transaction Debit Amount
                              </th>
                              <th style="text-align: center">
                                Transaction Credit Amount
                              </th>
                              <th style="text-align: center" *ngIf="!submitBtn">
                                Base Debit Amount
                              </th>
                              <th style="text-align: center" *ngIf="!submitBtn">
                                Base Credit Amount
                              </th>
                            </tr>
                          </thead>
                          <tbody class="main_tbody">
                            <tr
                              *ngFor="
                                let dynamic of formArray['controls'];
                                let i = index
                              "
                              [formGroupName]="i"
                            >
                              <td class="col_input" *ngIf="i === 0">
                                <button
                                  type="button"
                                  class="apply-button"
                                  (click)="addNewRow()"
                                >
                                  <i class="fa fa-plus"></i>
                                </button>
                              </td>

                              <td class="col_input" *ngIf="i > 0">
                                <button
                                  type="button"
                                  class="apply-button-danger"
                                  (click)="deleteRow(i)"
                                >
                                  <i class="fa fa-minus"></i>
                                </button>
                              </td>

                              <td class="col_input">
                                <mat-form-field class="example-full-width">
                                  <mat-label>Account Name</mat-label>
                                  <mat-select
                                    formControlName="account_ref_id"
                                    (selectionChange)="
                                      AccountNameChange($event, i)
                                    "
                                  >
                                    <mat-select-filter
                                      [placeholder]="'Search'"
                                      [displayMember]="'key'"
                                      [array]="AccountData"
                                      (filteredReturn)="
                                        filterAccountData = $event
                                      "
                                    ></mat-select-filter>
                                    <mat-option
                                      [value]="obj.id"
                                      *ngFor="let obj of filterAccountData"
                                      >{{ obj.key }}</mat-option
                                    >
                                  </mat-select>
                                  <mat-error
                                    *ngIf="
                                      formArray.controls[i]
                                        .get('account_ref_id')
                                        ?.hasError('required')
                                    "
                                    >Account Name is required.</mat-error
                                  >
                                </mat-form-field>
                              </td>
                              <td
                                class="col_input"
                                *ngFor="
                                  let obj of columnsData | keyvalue;
                                  let i = index
                                "
                              >
                                <mat-form-field class="example-full-width">
                                  <mat-label>{{ obj.value }} Name</mat-label>
                                  <mat-select
                                    formControlName="parameter_{{ i + 1 }}"
                                    [disabled]="true"
                                  >
                                    <mat-option
                                      *ngFor="let items of getParameter(i + 1)"
                                      [value]="items.id"
                                      >{{ items.name }}</mat-option
                                    >
                                  </mat-select>
                                </mat-form-field>
                              </td>
                              <td class="col_input">
                                <mat-form-field class="example-full-width">
                                  <mat-label>Debit/Credit</mat-label>
                                  <mat-select
                                    formControlName="debit_credit_type_id"
                                    (selectionChange)="
                                      DebitCreditChange($event, i)
                                    "
                                  >
                                    <mat-option
                                      [value]="obj.id"
                                      *ngFor="let obj of DebitCreditTypeData"
                                      >{{ obj.master_key }}</mat-option
                                    >
                                  </mat-select>
                                  <mat-error
                                    *ngIf="
                                      formArray.controls[i]
                                        .get('debit_credit_type_id')
                                        ?.hasError('required')
                                    "
                                    >Debit/Credit is required.</mat-error
                                  >
                                </mat-form-field>
                              </td>
                              <td class="col_input">
                                <mat-form-field class="example-full-width">
                                  <input
                                    matInput
                                    formControlName="txn_currency_amount"
                                    type="Number"
                                    step="0.0001"
                                    min="0"
                                    oninput="validity.valid||(value='');"
                                    (change)="TxnAmtChange($event, i)"
                                    inputTrim
                                  />
                                  <mat-error
                                    *ngIf="
                                      formArray.controls[i]
                                        .get('txn_currency_amount')
                                        ?.hasError('required')
                                    "
                                    >Transaction Amount is required.</mat-error
                                  >
                                </mat-form-field>
                              </td>
                              <td class="col_input">
                                <mat-form-field class="example-full-width">
                                  <input
                                    matInput
                                    formControlName="txn_currency_debit_amount"
                                    inputTrim
                                    readonly
                                  />
                                </mat-form-field>
                              </td>
                              <td class="col_input">
                                <mat-form-field class="example-full-width">
                                  <input
                                    matInput
                                    formControlName="txn_currency_credit_amount"
                                    inputTrim
                                    readonly
                                  />
                                </mat-form-field>
                              </td>

                              <td class="col_input" *ngIf="!submitBtn">
                                <mat-form-field class="example-full-width">
                                  <input
                                    matInput
                                    formControlName="base_currency_debit_amount"
                                    inputTrim
                                    readonly
                                  />
                                </mat-form-field>
                              </td>
                              <td class="col_input" *ngIf="!submitBtn">
                                <mat-form-field class="example-full-width">
                                  <input
                                    matInput
                                    formControlName="base_currency_credit_amount"
                                    inputTrim
                                    readonly
                                  />
                                </mat-form-field>
                              </td>
                              <ng-container> </ng-container>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="body"
              style="text-align: center"
              *ngIf="!viewBtn"
              [innerHTML]="myTemplate | safeHtml"
            ></div>
            <!-- <div class="body" style="text-align: center">
              <div class="example-button-row">
                <button
                  mat-flat-button
                  color="primary"
                  type="submit"
                  *ngIf="submitBtn"
                  [disabled]="showLoader"
                  name="submit"
                  value="Submit"
                >
                  {{ btnVal }}
                  <i class="fa fa-spinner fa-spin" *ngIf="showLoader"></i>
                </button>
                <button
                  mat-flat-button
                  style="background-color: gray; color: white"
                  type="button"
                  *ngIf="submitBtn"
                  (click)="onResetForm()"
                  [disabled]="showLoader"
                >
                  Reset
                </button>
                <button
                  mat-flat-button
                  color="warn"
                  type="button"
                  (click)="onCancelForm()"
                >
                  Back
                </button>
              </div>
            </div> -->
          </form>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="left">
        <button class="cancel" (click)="onCancelForm()">Cancel</button>
      </div>
      <div class="right d-flex">
        <button class="send" (click)="onResetForm()" [disabled]="showLoader">
          Reset
        </button>
        <button
          class="submit"
          (click)="onSubmit()"
          *ngIf="submitBtn"
          [disabled]="showLoader"
        >
          {{ btnVal }}
          <i class="fa fa-spinner fa-spin" *ngIf="showLoader"></i>
        </button>
      </div>
    </div>
  </div>
</div>
