.readonly-input {
  color: #333; /* Change the color to the desired text color */
  /* Add any other styles you want to customize the appearance */
}

.override_edit_pop_up {
  height: 100vh;
  position: fixed;
  overflow: hidden;
}

.overflow_model {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}
