<div class="edit_pop_up override_edit_pop_up">
  <div class="big-model">
    <div class="header">
      <p>{{ screenName }}</p>
      <button (click)="onCancelForm()">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
    <div class="body overflow_model">
      <div class="details-form">
        <form [formGroup]="JVForm">
          <div class="personal">
            <div class="row d-flex">
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label class="readonly-input"
                    >Journal Voucher Bookinf Ref Number</mat-label
                  >
                  <input
                    matInput
                    formControlName="transaction_ref_no"
                    class="readonly-input"
                    inputTrim
                    readonly
                  />
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label class="readonly-input">Transaction Date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="transaction_date"
                    readonly
                    id="transaction_date"
                    [(ngModel)]="todayDate"
                    class="readonly-input"
                    formControlName="transaction_date"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="transaction_date"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #transaction_date></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label class="readonly-input">Fiscal Year</mat-label>
                  <input
                    matInput
                    formControlName="fiscal_year"
                    inputTrim
                    class="readonly-input"
                    readonly
                  />
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label class="readonly-input">Period</mat-label>
                  <input
                    matInput
                    formControlName="period"
                    inputTrim
                    class="readonly-input"
                    readonly
                  />
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label class="readonly-input"
                    >Transaction Currency</mat-label
                  >
                  <mat-select
                    formControlName="txn_currency"
                    class="readonly-input"
                  >
                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of CurrencyData"
                      >{{ obj.currency_code }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label class="readonly-input">Conversion Rate</mat-label>
                  <input
                    matInput
                    formControlName="conversion_rate"
                    type="Number"
                    class="readonly-input"
                    inputTrim
                  />
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label class="readonly-input"
                    >Total Debit Transaction Amount</mat-label
                  >
                  <input
                    matInput
                    formControlName="txn_currency_debit_amount"
                    type="Number"
                    class="readonly-input"
                    inputTrim
                    readonly
                  />
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label class="readonly-input"
                    >Total Credit Transaction Amount</mat-label
                  >
                  <input
                    matInput
                    formControlName="txn_currency_credit_amount"
                    type="Number"
                    class="readonly-input"
                    inputTrim
                    readonly
                  />
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label class="readonly-input"
                    >Total Debit Amount</mat-label
                  >
                  <input
                    matInput
                    formControlName="base_currency_debit_amount"
                    type="Number"
                    class="readonly-input"
                    inputTrim
                    readonly
                  />
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label class="readonly-input"
                    >Total Credit Amount</mat-label
                  >
                  <input
                    matInput
                    formControlName="base_currency_credit_amount"
                    type="Number"
                    class="readonly-input"
                    inputTrim
                    readonly
                  />
                </mat-form-field>
              </div>
            </div>

            <div class="card">
              <div class="body">
                <div class="row clearfix">
                  <div
                    class="table-responsive"
                    formArrayName="journal_voucher_details"
                  >
                    <table
                      id="tableExport"
                      class="display table table-hover table-checkable order-column m-t-20 width-per-100 table-bordered"
                    >
                      <thead>
                        <tr>
                          <th style="text-align: center; font-size: 14px">
                            Sr.No.
                          </th>

                          <th style="text-align: center; font-size: 14px">
                            Account
                          </th>
                          <th
                            style="text-align: center; font-size: 14px"
                            *ngFor="let obj of columnsData | keyvalue"
                          >
                            {{ obj.value }}
                          </th>
                          <th style="text-align: center; font-size: 14px">
                            Transaction currency
                          </th>
                          <th style="text-align: center; font-size: 14px">
                            Debit Transaction Amount
                          </th>
                          <th style="text-align: center; font-size: 14px">
                            Credit Transaction Amount
                          </th>
                          <th style="text-align: center; font-size: 14px">
                            Debit Amount
                          </th>
                          <th style="text-align: center; font-size: 14px">
                            Credit Amount
                          </th>
                        </tr>
                      </thead>
                      <tbody class="main_tbody">
                        <tr *ngFor="let dynamic of ItemRow; let i = index">
                          <td
                            style="text-align: center; font-size: 14px"
                            class="col_input"
                          >
                            {{ i + 1 }}
                          </td>

                          <td
                            style="text-align: center; font-size: 14px"
                            class="col_input"
                          >
                            {{ dynamic.account_name }}
                          </td>
                          <td
                            style="text-align: center; font-size: 14px"
                            class="col_input"
                            *ngFor="
                              let obj of columnsData | keyvalue;
                              let i = index
                            "
                          >
                            {{
                              getColumValues(
                                "parameter_" + (i + 1),
                                dynamic["parameter_" + (i + 1)]
                              )
                            }}
                          </td>
                          <td
                            style="text-align: center; font-size: 14px"
                            class="col_input"
                          >
                            {{ dynamic.currency_name }}
                          </td>

                          <td
                            style="text-align: center; font-size: 14px"
                            class="col_input"
                          >
                            {{
                              roundValue(dynamic.txn_currency_debit_amount, 2)
                            }}
                          </td>

                          <td
                            style="text-align: center; font-size: 14px"
                            class="col_input"
                          >
                            {{
                              roundValue(dynamic.txn_currency_credit_amount, 2)
                            }}
                          </td>

                          <td
                            style="text-align: center; font-size: 14px"
                            class="col_input"
                          >
                            {{
                              roundValue(dynamic.base_currency_debit_amount, 2)
                            }}
                          </td>
                          <td
                            style="text-align: center; font-size: 14px"
                            class="col_input"
                          >
                            {{
                              roundValue(dynamic.base_currency_credit_amount, 2)
                            }}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <div class="footer">
              <div class="left">
                <button class="cancel" (click)="onCancelForm()">Cancel</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
