<section class="content">
    <div class="container-fluid">
      <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="card">
            
            <div class="body">
              <table mat-table [dataSource]="data" multiTemplateDataRows matSort >
              
                <ng-container [matColumnDef]="column" *ngFor="let column of columnsToDisplay;let i  = index;" >
                  <th mat-header-cell *matHeaderCellDef style="color: white;"> {{column}}</th>
                   <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
                </ng-container>
              
                <ng-container matColumnDef="expandedDetail">
                  <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                    <div class="example-element-detail" [@detailExpand]="element?.expanded"  *ngIf="element?.expanded">
                      <div style="width: 100%;">
              
                        <table mat-table [dataSource]="element.addresses" multiTemplateDataRows matSort>
                          <ng-container matColumnDef="{{innerColumn}}" *ngFor="let innerColumn of innerDisplayedColumns">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header style="color: white;"> {{innerColumn}} </th>
                            <td mat-cell *matCellDef="let address"> {{address[innerColumn]}} </td>
                          </ng-container>
              
                          
                        
              
                          <tr mat-header-row *matHeaderRowDef="innerDisplayedColumns" style="background-color:#666666;"></tr>
                          <tr mat-row *matRowDef="let address; columns: innerDisplayedColumns;"
                            [class.example-element-row]="address.comments?.length" [class.example-expanded-row]="address?.expanded"
                            (click)="address.expanded = !address?.expanded">
                          </tr>
                          <tr mat-row *matRowDef="let row; columns: ['expandedExpandedDetail']" class="example-detail-row">
                          </tr>
                        </table>
                      </div>
                    </div>
                  </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="columnsToDisplay" style="background-color:#666666;"></tr>
                <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" 
                  [class.example-element-row]="element.addresses?.length" [class.example-expanded-row]="element?.expanded"
                  (click)="element.expanded = !element?.expanded">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
s  