// /* Reduce padding and margin for table headers (th) */
// .approval-container .data_table table tr th {
//   background: var(--grey-100, #f5f5f5);
//   padding: 10px 5px; /* You can adjust these values to your preference */
//   margin: 0; /* Remove any margin */
// }

// /* Reduce padding and margin for buttons in table cells (td) */
// .approval-container .data_table table tr td button {
//   padding: 0px; /* You can adjust these values to your preference */
//   margin: 0; /* Remove any margin */
// }

.approval-container .data_table table tr th {
  background: var(--grey-100, #f5f5f5);
  padding: 10px 0 10px 20px; /* Adjust the left padding value (e.g., 5px) */
  margin: 0;
}

/* Reduce padding and margin for buttons in table cells (td) */
.approval-container .data_table table tr td button {
  padding: 0px;
  margin: 0;
}
.width-2 {
  width: 2%;
}
