<section class="content">
  <div class="approval-container">
    <div class="approval-form">
      <form [formGroup]="federationForm" (ngSubmit)="onSubmit()">
        <div class="row d-flex">
          <br />
          <p style="color: rgb(228, 42, 9)">
            Header, Footer and Contact Details are editable
          </p>

          <div class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2">
            <mat-form-field class="example-full-width">
              <mat-label>Organization Name </mat-label>
              <input
                matInput
                formControlName="tenant_name"
                placeholder="Organization Name"
              />
            </mat-form-field>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2">
            <mat-form-field class="example-full-width">
              <mat-label>Organization Short Name </mat-label>
              <input
                matInput
                formControlName="tenant_short_name"
                placeholder="Short Name"
              />
            </mat-form-field>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2">
            <mat-form-field class="example-full-width">
              <mat-label>Ownership Status </mat-label>
              <mat-select formControlName="ownership_status">
                <mat-option value="">Select</mat-option>
                <mat-option
                  *ngFor="let obj of ownershipStatusData"
                  [value]="obj.id"
                  >{{ obj.master_key }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2">
            <mat-form-field class="example-full-width">
              <mat-label>Country </mat-label>
              <mat-select formControlName="country">
                <mat-option value="">Select</mat-option>
                <mat-option *ngFor="let obj of countrydata" [value]="obj.id">{{
                  obj.country_name
                }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2">
            <mat-form-field class="example-full-width">
              <mat-label>State </mat-label>
              <mat-select formControlName="state">
                <mat-option value="">Select</mat-option>
                <mat-option [value]="obj.id" *ngFor="let obj of stateData">{{
                  obj.state_name
                }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2">
            <mat-form-field class="example-full-width">
              <mat-label>District </mat-label>
              <mat-select formControlName="district">
                <mat-option value="">Select</mat-option>
                <mat-option [value]="obj.id" *ngFor="let obj of districtData">{{
                  obj.district_name
                }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2">
            <mat-form-field class="example-full-width">
              <mat-label>Taluka</mat-label>
              <mat-select formControlName="taluka">
                <mat-option value="">Select</mat-option>
                <mat-option [value]="obj.id" *ngFor="let obj of talukaData">{{
                  obj.sub_district_name
                }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2">
            <mat-form-field class="example-full-width">
              <mat-label>Address1 </mat-label>
              <input
                matInput
                type="text"
                formControlName="address"
                placeholder="Address1"
              />
            </mat-form-field>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2">
            <mat-form-field class="example-full-width">
              <mat-label>Address2</mat-label>
              <input
                matInput
                type="text"
                formControlName="address1"
                placeholder="Address2"
              />
            </mat-form-field>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2">
            <mat-form-field class="example-full-width">
              <mat-label>Pin/Zip Code </mat-label>
              <input
                matInput
                formControlName="pin_code"
                placeholder="Pin/Zip Code"
              />
            </mat-form-field>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2">
            <mat-form-field class="example-full-width">
              <mat-label>PAN </mat-label>
              <input matInput formControlName="pan_no" placeholder="PAN" />
            </mat-form-field>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2">
            <mat-form-field class="example-full-width">
              <mat-label>GSTIN</mat-label>
              <input matInput formControlName="gst_no" placeholder="GST" />
            </mat-form-field>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2">
            <mat-form-field class="example-full-width">
              <mat-label>TAN</mat-label>
              <input matInput formControlName="tan_no" placeholder="TAN" />
            </mat-form-field>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2">
            <mat-form-field class="example-full-width">
              <mat-label>CIN</mat-label>
              <input matInput formControlName="cin_no" placeholder="CIN" />
            </mat-form-field>
          </div>

          <div>
            <cdk-accordion>
              <cdk-accordion-item
                #accordionItem="cdkAccordionItem"
                tabindex="0"
                [attr.id]="'accordion-header-'"
                [attr.aria-expanded]="accordionItem.expanded"
                [attr.aria-controls]="'accordion-body-'"
              >
                <div>
                  <div (click)="accordionItem.toggle()">
                    <div class="header accordian">
                      <p
                        class="fas fa-angle-down example-accordion-item-description"
                      >
                        <strong
                          >Header Details<span
                            class="fas fa-angle-down example-accordion-item-description"
                          >
                          </span
                        ></strong>
                      </p>
                    </div>
                  </div>
                  <div [formGroup]="federationForm">
                    <div
                      role="region"
                      [style.display]="accordionItem.expanded ? '' : 'none'"
                      [attr.id]="'accordion-body-'"
                      [attr.aria-labelledby]="'accordion-header-'"
                      class="row clearfix"
                    >
                      <div class="card">
                        <div class="body">
                          <p style="color: red">Use for Invoicing</p>
                          <div class="row clearfix">
                            <div
                              class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2"
                            >
                              <mat-form-field class="example-full-width">
                                <mat-label>Image Type</mat-label>
                                <mat-select
                                  formControlName="header_image_type"
                                  (selectionChange)="
                                    header_image_type($event.value)
                                  "
                                >
                                  <mat-option value="">Select</mat-option>
                                  <mat-option value="logo">Logo</mat-option>
                                  <mat-option value="full_image"
                                    >Full Image</mat-option
                                  >
                                </mat-select>
                              </mat-form-field>
                            </div>
                            <div
                              class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2"
                            >
                              <mat-form-field class="example-full-width">
                                <mat-label>Image Position</mat-label>
                                <mat-select
                                  formControlName="header_image_position"
                                >
                                  <mat-option value="">Select</mat-option>
                                  <mat-option value="top-center"
                                    >Top Center</mat-option
                                  >
                                  <mat-option value="top-left"
                                    >Top Left</mat-option
                                  >
                                  <mat-option value="top-right"
                                    >Top Right</mat-option
                                  >
                                  <mat-option value="center-center"
                                    >Center Center</mat-option
                                  >
                                  <mat-option value="center-left"
                                    >Center Left</mat-option
                                  >
                                  <mat-option value="center-right"
                                    >Center Right</mat-option
                                  >
                                  <mat-option value="bottom-left"
                                    >Bottom Left</mat-option
                                  >
                                  <mat-option value="bottom-right"
                                    >Bottom Right</mat-option
                                  >
                                  <mat-option value="bottom-center"
                                    >Bottom Center</mat-option
                                  >
                                </mat-select>
                              </mat-form-field>
                            </div>
                            <div
                              class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2"
                            >
                              <mat-form-field class="example-full-width">
                                <mat-label>Header Text</mat-label>
                                <input
                                  matInput
                                  formControlName="header_text_details"
                                  placeholder="Header Text"
                                />
                              </mat-form-field>
                            </div>
                            <div
                              class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2"
                            >
                              <mat-form-field class="example-full-width">
                                <mat-label>Text Position</mat-label>
                                <mat-select
                                  formControlName="header_text_position"
                                >
                                  <mat-option value="">Select</mat-option>
                                  <mat-option value="top-center"
                                    >Top Center</mat-option
                                  >
                                  <mat-option value="top-left"
                                    >Top Left</mat-option
                                  >
                                  <mat-option value="top-right"
                                    >Top Right</mat-option
                                  >
                                  <mat-option value="center-center"
                                    >Center Center</mat-option
                                  >
                                  <mat-option value="center-left"
                                    >Center Left</mat-option
                                  >
                                  <mat-option value="center-right"
                                    >Center Right</mat-option
                                  >
                                  <mat-option value="bottom-left"
                                    >Bottom Left</mat-option
                                  >
                                  <mat-option value="bottom-right"
                                    >Bottom Right</mat-option
                                  >
                                  <mat-option value="bottom-center"
                                    >Bottom Center</mat-option
                                  >
                                </mat-select>
                              </mat-form-field>
                            </div>
                            <div
                              class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2"
                            >
                              <ng-container *ngIf="!submitBtn">
                                <label>Header Image Upload</label><br />
                                <a
                                  *ngIf="previewImage1"
                                  href="{{ previewImage1 }}"
                                  target="_blank"
                                  >Click to view
                                </a>
                              </ng-container>
                              <ng-container
                                *ngIf="submitBtn"
                                class="example-full-width"
                              >
                                <label>Header Upload</label><br />
                                <img
                                  *ngIf="previewImage1 && previewImageType1"
                                  [src]="previewImage1"
                                  alt="image"
                                  style="width: 5rem"
                                />
                                <br
                                  *ngIf="previewImage1 && previewImageType1"
                                />
                                <a
                                  *ngIf="previewImage1 && !previewImageType1"
                                  href="{{ previewImage1 }}"
                                  target="_blank"
                                  >Download<mat-icon>download</mat-icon></a
                                >

                                <mat-icon
                                  matDatepickerToggleIcon
                                  *ngIf="previewImage1"
                                  (click)="removeImage()"
                                  >clear</mat-icon
                                >
                                <br
                                  *ngIf="previewImage1 && !previewImageType1"
                                />
                                {{ fileName }}
                                <i
                                  class="fa fa-spinner fa-spin"
                                  *ngIf="showFileLoader"
                                ></i>
                                <span style="color: aliceblue">{{
                                  uploadStatus
                                }}</span>
                                <br *ngIf="fileName" />
                                <label for="bank_upload" class="clear"
                                  >Choose File</label
                                >
                                <input
                                  #fileInput
                                  type="file"
                                  (change)="setAttachment($event)"
                                  id="bank_upload"
                                  hidden
                                  required
                                />
                                <br />
                                <span style="font-size: 1rem">
                                  ( Formats allowed: .png, .jpg, .pdf )
                                </span>
                              </ng-container>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </cdk-accordion-item>
            </cdk-accordion>
          </div>

          <div>
            <cdk-accordion>
              <cdk-accordion-item
                #accordionItem2="cdkAccordionItem"
                tabindex="0"
                [attr.id]="'accordion-header-'"
                [attr.aria-expanded]="accordionItem2.expanded"
                [attr.aria-controls]="'accordion-body-'"
              >
                <div>
                  <div (click)="accordionItem2.toggle()">
                    <div class="header accordian">
                      <p
                        class="fas fa-angle-down example-accordion-item-description"
                      >
                        <strong
                          >Footer Details
                          <span
                            class="fas fa-angle-down example-accordion-item-description"
                          >
                          </span
                        ></strong>
                      </p>
                    </div>
                  </div>
                  <div [formGroup]="federationForm">
                    <div
                      role="region"
                      [style.display]="accordionItem2.expanded ? '' : 'none'"
                      [attr.id]="'accordion-body-'"
                      [attr.aria-labelledby]="'accordion-header-'"
                      class="row clearfix"
                    >
                      <div class="body">
                        <p style="color: red">Use for Invoicing</p>
                        <div class="row clearfix">
                          <div class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2">
                            <mat-form-field class="example-full-width">
                              <mat-label>Image Type</mat-label>
                              <mat-select
                                formControlName="footer_image_type"
                                (selectionChange)="
                                  footer_image_type($event.value)
                                "
                              >
                                <mat-option value="">Select</mat-option>
                                <mat-option value="logo">Logo</mat-option>
                                <mat-option value="full_image"
                                  >Full Image</mat-option
                                >
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2">
                            <mat-form-field class="example-full-width">
                              <mat-label>Image Position</mat-label>
                              <mat-select
                                formControlName="footer_image_position"
                              >
                                <mat-option value="top-center"
                                  >Top Center</mat-option
                                >
                                <mat-option value="top-left"
                                  >Top Left</mat-option
                                >
                                <mat-option value="top-right"
                                  >Top Right</mat-option
                                >
                                <mat-option value="center-center"
                                  >Center Center</mat-option
                                >
                                <mat-option value="center-left"
                                  >Center Left</mat-option
                                >
                                <mat-option value="center-right"
                                  >Center Right</mat-option
                                >
                                <mat-option value="bottom-left"
                                  >Bottom Left</mat-option
                                >
                                <mat-option value="bottom-right"
                                  >Bottom Right</mat-option
                                >
                                <mat-option value="bottom-center"
                                  >Bottom Center</mat-option
                                >
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2">
                            <mat-form-field class="example-full-width">
                              <mat-label>Footer Text</mat-label>
                              <input
                                matInput
                                formControlName="footer_text_details"
                                placeholder="Footer Text"
                              />
                            </mat-form-field>
                          </div>
                          <div class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2">
                            <mat-form-field class="example-full-width">
                              <mat-label>Text Position</mat-label>
                              <mat-select
                                formControlName="footer_text_position"
                              >
                                <mat-option value="top-center"
                                  >Top Center</mat-option
                                >
                                <mat-option value="top-left"
                                  >Top Left</mat-option
                                >
                                <mat-option value="top-right"
                                  >Top Right</mat-option
                                >
                                <mat-option value="center-center"
                                  >Center Center</mat-option
                                >
                                <mat-option value="center-left"
                                  >Center Left</mat-option
                                >
                                <mat-option value="center-right"
                                  >Center Right</mat-option
                                >
                                <mat-option value="bottom-left"
                                  >Bottom Left</mat-option
                                >
                                <mat-option value="bottom-right"
                                  >Bottom Right</mat-option
                                >
                                <mat-option value="bottom-center"
                                  >Bottom Center</mat-option
                                >
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2">
                            <ng-container *ngIf="!submitBtn">
                              <label>Footer Image Upload</label><br />
                              <a
                                *ngIf="previewImage2"
                                href="{{ previewImage2 }}"
                                target="_blank"
                                >Click to view
                              </a>
                            </ng-container>
                            <ng-container
                              *ngIf="submitBtn"
                              class="example-full-width"
                            >
                              <label>Footer Image Upload</label><br />
                              <img
                                *ngIf="previewImage2 && previewImageType2"
                                [src]="previewImage2"
                                alt="image"
                                style="width: 5rem"
                              />
                              <br *ngIf="previewImage2 && previewImageType2" />
                              <a
                                *ngIf="previewImage2 && !previewImageType2"
                                href="{{ previewImage2 }}"
                                target="_blank"
                                >Download<mat-icon>download</mat-icon>
                              </a>
                              <mat-icon
                                matDatepickerToggleIcon
                                *ngIf="previewImage2"
                                (click)="removeImage1()"
                                >clear</mat-icon
                              >
                              <br *ngIf="previewImage2 && !previewImageType2" />
                              {{ fileName1 }}
                              <i
                                class="fa fa-spinner fa-spin"
                                *ngIf="showFileLoader1"
                              ></i>
                              <span style="color: aliceblue">{{
                                uploadStatus1
                              }}</span>
                              <br *ngIf="fileName1" />
                              <label for="bank_upload1" class="clear"
                                >Choose File</label
                              >
                              <input
                                #fileInput
                                type="file"
                                (change)="setAttachment1($event)"
                                id="bank_upload1"
                                hidden
                                required
                              />
                              <br />
                              <span style="font-size: 1rem">
                                ( Formats allowed: .png, .jpg, .pdf )
                              </span>
                            </ng-container>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </cdk-accordion-item>
            </cdk-accordion>
          </div>

          <div>
            <cdk-accordion>
              <cdk-accordion-item
                #accordionItem1="cdkAccordionItem"
                tabindex="0"
                [attr.id]="'accordion-header-'"
                [attr.aria-expanded]="accordionItem1.expanded"
                [attr.aria-controls]="'accordion-body-'"
              >
                <div>
                  <div (click)="accordionItem1.toggle()">
                    <div class="header accordian">
                      <p
                        class="fas fa-angle-down example-accordion-item-description"
                      >
                        <strong
                          >Primary Contact Details
                          <span
                            class="fas fa-angle-down example-accordion-item-description"
                          >
                          </span
                        ></strong>
                      </p>
                    </div>
                  </div>
                  <div [formGroup]="federationForm">
                    <div
                      role="region"
                      [style.display]="accordionItem1.expanded ? '' : 'none'"
                      [attr.id]="'accordion-body-'"
                      [attr.aria-labelledby]="'accordion-header-'"
                      class="row clearfix"
                    >
                      <div class="body">
                        <p></p>
                        <div class="row clearfix">
                          <div class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2">
                            <mat-form-field class="example-full-width">
                              <mat-label>Primary Contact Name </mat-label>
                              <input
                                matInput
                                formControlName="contact_person_name"
                                placeholder="Primary Contact Name"
                              />
                            </mat-form-field>
                          </div>
                          <div class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2">
                            <mat-form-field class="example-full-width">
                              <mat-label>Primary Email </mat-label>
                              <input
                                matInput
                                formControlName="email_id"
                                type="email_id"
                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                                placeholder="Email Id"
                              />
                            </mat-form-field>
                          </div>
                          <div class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2">
                            <mat-form-field class="example-full-width">
                              <mat-label>Primary Phone </mat-label>
                              <input
                                matInput
                                formControlName="phone_no"
                                type="text"
                                placeholder="Phone No"
                                pattern="^((\\+91-?)|0)?[0-9]{10}$"
                              />
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </cdk-accordion-item>
            </cdk-accordion>
          </div>

          <div>
            <cdk-accordion>
              <cdk-accordion-item
                #accordionItem3="cdkAccordionItem"
                tabindex="0"
                [attr.id]="'accordion-header-'"
                [attr.aria-expanded]="accordionItem3.expanded"
                [attr.aria-controls]="'accordion-body-'"
              >
                <div>
                  <div (click)="accordionItem3.toggle()">
                    <div class="header accordian">
                      <p
                        class="fas fa-angle-down example-accordion-item-description"
                      >
                        <strong
                          >{{ screenName }} Details<span
                            class="fas fa-angle-down example-accordion-item-description"
                          >
                          </span
                        ></strong>
                      </p>
                    </div>
                  </div>
                  <div [formGroup]="federationForm">
                    <div
                      role="region"
                      [style.display]="accordionItem3.expanded ? '' : 'none'"
                      [attr.id]="'accordion-body-'"
                      [attr.aria-labelledby]="'accordion-header-'"
                      class="row clearfix"
                    >
                      <div class="card">
                        <div class="body">
                          <div
                            class="table-responsive"
                            formArrayName="contact_details"
                          >
                            <table
                              id="tableExport1"
                              class="display table table-hover table-checkable order-column m-t-20 width-per-100 table-bordered"
                            >
                              <caption></caption>
                              <thead>
                                <tr>
                                  <th style="text-align: center">Action</th>
                                  <th style="text-align: center">Full Name</th>
                                  <th style="text-align: center">
                                    Phone Number
                                  </th>
                                  <th style="text-align: center">Email</th>
                                  <th style="text-align: center">Department</th>
                                  <th style="text-align: center">
                                    Sub Department
                                  </th>
                                  <th style="text-align: center">
                                    Designation
                                  </th>
                                </tr>
                              </thead>

                              <tbody class="main_tbody">
                                <tr
                                  *ngFor="
                                    let dynamic of formArrcontact['controls'];
                                    let i = index
                                  "
                                  [formGroupName]="i"
                                >
                                  <td style="vertical-align: top">
                                    <button
                                      type="button"
                                      *ngIf="i == 0"
                                      class="apply-button"
                                      (click)="addNewRow2()"
                                    >
                                      <i class="fa fa-plus"></i>
                                    </button>

                                    <button
                                      type="button"
                                      *ngIf="i > 0"
                                      class="apply-button-danger"
                                      (click)="deleteRow2(i)"
                                    >
                                      <i class="fa fa-minus"></i>
                                    </button>
                                  </td>
                                  <td class="col_input">
                                    <div
                                      class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                    >
                                      <mat-form-field
                                        class="example-full-width"
                                      >
                                        <mat-label>Full Name</mat-label>
                                        <input
                                          matInput
                                          placeholder="Full Name"
                                          formControlName="full_name"
                                          type="text"
                                          id="full_name{{ i + 1 }}"
                                        />
                                      </mat-form-field>
                                    </div>
                                  </td>
                                  <td class="col_input">
                                    <div
                                      class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                    >
                                      <mat-form-field
                                        class="example-full-width"
                                      >
                                        <mat-label>Phone Number</mat-label>
                                        <input
                                          matInput
                                          placeholder="Phone Number"
                                          formControlName="phone_no"
                                          type="number"
                                          id="phone_no{{ i + 1 }}"
                                        />
                                      </mat-form-field>
                                    </div>
                                  </td>
                                  <td class="col_input">
                                    <div
                                      class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                    >
                                      <mat-form-field
                                        class="example-full-width"
                                      >
                                        <mat-label>Email</mat-label>
                                        <input
                                          matInput
                                          placeholder="Email"
                                          formControlName="email"
                                          type="text"
                                          id="email{{ i + 1 }}"
                                        />
                                      </mat-form-field>
                                    </div>
                                  </td>
                                  <td class="col_input">
                                    <div
                                      class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                    >
                                      <mat-form-field
                                        class="example-full-width"
                                      >
                                        <mat-label>Department</mat-label>
                                        <input
                                          matInput
                                          placeholder="Department"
                                          formControlName="department"
                                          type="text"
                                          id="department{{ i + 1 }}"
                                        />
                                      </mat-form-field>
                                    </div>
                                  </td>

                                  <td class="col_input">
                                    <div
                                      class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                    >
                                      <mat-form-field
                                        class="example-full-width"
                                      >
                                        <mat-label>Sub Department</mat-label>
                                        <input
                                          matInput
                                          placeholder="Sub Department"
                                          formControlName="sub_department"
                                          type="text"
                                          id="sub_department{{ i + 1 }}"
                                        />
                                      </mat-form-field>
                                    </div>
                                  </td>

                                  <td class="col_input">
                                    <div
                                      class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                    >
                                      <mat-form-field
                                        class="example-full-width"
                                      >
                                        <mat-label>Designation</mat-label>
                                        <input
                                          matInput
                                          placeholder="Designation"
                                          formControlName="designation"
                                          type="text"
                                          id="designation{{ i + 1 }}"
                                        />
                                      </mat-form-field>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </cdk-accordion-item>
            </cdk-accordion>
          </div>
          <div class="row m-0 button-container">
            <div>
              <button
                class="apply"
                color="primary"
                type="submit"
                *ngIf="submitBtn"
                [disabled]="showLoader"
                name="submit"
                value="Submit"
                style="margin-left: 500px"
              >
                {{ btnVal }}
                <i class="fa fa-spinner fa-spin" *ngIf="showLoader"></i>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
