<section class="section-left">
  <app-uom></app-uom>
  <app-uom-conversion></app-uom-conversion>

  <app-designation></app-designation>
  <app-bank></app-bank>
  <app-season></app-season>
  <app-tax-authority></app-tax-authority>
  <app-tax-rate></app-tax-rate>
  <app-with-holding></app-with-holding>
  <app-hsn-sac></app-hsn-sac>
  <app-vehicle-master></app-vehicle-master>
</section>
