<section class="content">
  <div class="approval-container">
    <div class="header">
      <p>
        <strong>{{ screenName }}</strong>
      </p>
      <div class="approval-form">
        <form [formGroup]="inventoryreportForm">
          <div class="row d-flex">
            <div class="col-md-3">
              <mat-form-field class="example-full-width">
                <mat-label>Select Item</mat-label>
                <mat-select formControlName="item_ref_id">
                  <mat-option value="all">ALL</mat-option>
                  <mat-option
                    [value]="obj.id"
                    *ngFor="let obj of productData"
                    >{{ obj.key }}</mat-option
                  >
                </mat-select>
                <mat-error
                  *ngIf="
                    inventoryreportForm.controls['item_ref_id'].hasError(
                      'required'
                    )
                  "
                >
                  Default Route is Required.</mat-error
                >
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="example-full-width">
                <mat-label>Select Item Attribute 1</mat-label>
                <mat-select formControlName="item_attribute1">
                  <mat-option [value]="obj.id" *ngFor="let obj of item1Data">{{
                    obj.key
                  }}</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="
                    inventoryreportForm.controls['item_attribute1'].hasError(
                      'required'
                    )
                  "
                  >Select Item Attribute 1 is Required.</mat-error
                >
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="example-full-width">
                <mat-label>Select Item Attribute 2</mat-label>
                <mat-select formControlName="item_attribute2">
                  <mat-option [value]="obj.id" *ngFor="let obj of item2Data">{{
                    obj.key
                  }}</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="
                    inventoryreportForm.controls['item_attribute2'].hasError(
                      'required'
                    )
                  "
                  >Select Item Attribute 2 is Required.</mat-error
                >
              </mat-form-field>
            </div>
            <div class="row m-0 button-container">
              <button class="clear" (click)="inventoryreportForm.reset()">
                Clear Filter
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="body">
      <div class="top">
        <div class="search">
          <i class="bi bi-search"></i>
          <input type="text" placeholder="Search in table" name="" id="" />
        </div>
        <button (click)="exportExcel()">
          <img src="assets/usedimg/excel_icon.png" alt="" /> Download Excel
        </button>
      </div>
      <div>
        <div class="data_table">
          <table>
            <tr>
              <th>Sr. No</th>
              <th>Product</th>
              <th>Quantity</th>
              <th>Rate</th>
              <th>Alternate Quantity</th>
              <th>Alternate Rate</th>
              <th>Amount</th>
            </tr>
            <tr *ngFor="let dynamic of inventoryReportData; let i = index">
              <td style="color: #212121; font-size: 14px">
                {{ i + 1 }}
              </td>

              <td>
                {{ dynamic.item_name }}
              </td>
              <td>
                {{ dynamic.closing_quantity }}
              </td>
              <td>
                {{ dynamic.weighted_rate }}
              </td>
              <!-- changes an -->
              <!-- <td *ngIf="dynamic.closing_quantity !== 0">
                {{ dynamic.closing_quantity !== 0 ? dynamic.weighted_rate : 0 }}
              </td> -->
              <td>
                {{ dynamic.alternate_closing_qty }}
              </td>
              <td>
                {{ dynamic.alternate_weighted_rate }}
              </td>
              <td>
                {{ dynamic.alternate_amount | number : "1.2-2" }}
              </td>
            </tr>
            <!-- <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><strong>Total Amount :</strong></td>
              <td>{{ sum_amt }}</td>
            </tr> -->
          </table>

          <div class="total-amount">
            <strong style="margin-right: 30px"
              >Total Amount : {{ sum_amt | number : "1.2-2" }}</strong
            >
          </div>
          <div class="paginator">
            <div>
              <span style="font-size: 12px">Items Per Page:</span>&nbsp;
              <select
                id="itemsPerPage"
                [(ngModel)]="pageLimit"
                (change)="onPageSizeSelect()"
                style="
                  font-size: 12px;
                  width: 60px;
                  background: #e6f4fa;
                  height: 40px;
                  border-radius: 5px;
                  border: none;
                "
              >
                <option *ngFor="let size of pageSizes" [value]="size">
                  {{ size }}
                </option>
              </select>
            </div>
            <div class="pagination-text" style="font-size: 12px">
              Page <span id="currentPage">{{ pageNumber }}</span>
            </div>
            <div class="pagination-icons">
              <app-feather-icons
                [icon]="'chevron-left'"
                (click)="prevPageClick()"
                [class]="'color-black'"
              ></app-feather-icons>
              <app-feather-icons
                [icon]="'chevron-right'"
                [class]="'color-black'"
                (click)="nextPageClick()"
              ></app-feather-icons>
            </div>
            <div class="loading-indicator" *ngIf="isLoading"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
