.sidebar .menu .list a {
  // padding: 0.725rem 0.5rem;
}

.sidebar .menu .list .menu-top {
  color: #545454;
  position: relative;
  font-size: 14px;
  display: block;
  align-items: center;
  overflow: hidden;
  padding: 0.525rem 1.5rem;
  margin: 0px 13px 0px 13px;
}

.sidebar .menu .list .ml-menu li a {
  //   padding-left: 36px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.sidebar .menu .list .ml-menu li.active .ml-menu:before {
  transform: translate(-15px, -50%);
}
.sidebar .menu .list .menu-toggle:before {
  // content: "›";
  content: none;
  font-size: 22px;
  font-weight: 700;
  transform: scale(1);
  transition: transform 0.3s;
}

.sidebar .menu .list .menu-toggle:after {
  content: "›";
  font-weight: 700;
  transform: scale(1);
  font-size: 22px;
  transition: transform 0.3s;
}

.sidebar .menu .list .ml-menu li.active .menu-toggle:before {
  content: none;
  transform: scale(0);
}

.sidebar .menu .list .active .menu-toggle:after {
  transform: scale(1) rotate(-90deg);
}

.sidebar .menu .list .active .menu-toggle:before {
  transform: scale(0);
}

.sidebar .menu .list .ml-sub-menu:before {
  content: "›";
  font-size: 22px;
  font-weight: 700;
  transform: scale(1);
  transition: transform 0.3s;
}
.sidebar .menu .list .ml-sub-menu:after {
  content: "›";
  font-weight: 700;
  transform: scale(1);
  font-size: 22px;
  transition: transform 0.3s;
}
.sidebar .menu .list .ml-sub-menu li.active .ml-sub-menu:before {
  transform: scale(0);
}
.sidebar .menu .list .ml-sub-menu li.active .ml-sub-menu:after {
  transform: scale(1) rotate(-90deg);
}
// .sidebar .menu .list .ml-sub-menu li.active .ml-sub-menu:before {
//   transform: scale(0);
// }

.sidebar .menu .list .ml-menu li.active .ml-menu:before {
  transform: translate(-15px, -50%);
}


.menu_light .sidebar .menu .list .ml-menu-2 .ml-menu2{
  font-weight: normal !important;
}
.menu_light .sidebar .menu .list .ml-menu-2 .active .ml-menu2{
  font-weight: 600 !important;
}

.menu_light .sidebar .menu .list .ml-menu-2 .ml-menu2:before {
  content: none !important;

}

.menu_light .sidebar .menu .list .ml-menu-2 .active .ml-menu2:before {
  content: '' !important;
  left: 19%;
  top: 50%;
  transform: translate(-19%, -50%);
}




// level2 menu active dot
.sidebar .menu .list .ml-menu .active .ml-sub-menu:before{
 content: none !important; 
}
.sidebar .menu .list .ml-menu .ml-sub-menu:after{
  content: "›";
  font-weight: 700;
  transform: scale(1);
  font-size: 22px;
  transition: transform 0.3s;
}
.sidebar .menu .list .ml-menu .active .ml-sub-menu:after{
  content: "›";
  font-weight: 700;
  transform: scale(1) rotate(-90deg);
}

