<div class="edit_pop_up override_edit_pop_up">
  <div class="big-model">
    <div class="overlay" *ngIf="ViewLoader">
      <div class="loader"></div>
    </div>
    <div class="header">
      <p>{{ screenName }}</p>
      <button (click)="onCancelForm()">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
    <div class="body overflow_model">
      <div class="details-form">
        <form [formGroup]="qcForm">
          <div class="personal">
            <div class="row d-flex">
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>From Date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="transaction_date"
                    id="transaction_date"
                    placeholder="Date"
                    formControlName="transaction_date"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="transaction_date"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #transaction_date></mat-datepicker>
                </mat-form-field>
              </div>

              <div
                class="col-md-3"
                *ngIf="btnVal !== 'Submit' || submitBtn === false"
              >
                <mat-form-field class="example-full-width">
                  <mat-label>QC Number </mat-label>
                  <input
                    matInput
                    formControlName="transaction_ref_no"
                    readonly
                  />
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Supplier Name</mat-label>
                  <mat-select
                    formControlName="supplier_ref_id"
                    required
                    (selectionChange)="FarmerNameSelected($event.value, false)"
                  >
                    <mat-select-filter
                      [placeholder]="'Search'"
                      [displayMember]="'key'"
                      [array]="SearchData"
                      (filteredReturn)="FarmerData = $event"
                    ></mat-select-filter>
                    <mat-option
                      *ngFor="let obj of FarmerData"
                      style="padding-top: 8px; padding-bottom: 8px"
                      [value]="obj.id"
                      >{{ obj.key }}</mat-option
                    >
                  </mat-select>
                  <mat-error
                    *ngIf="
                      qcForm.controls['supplier_ref_id'].hasError('required')
                    "
                  >
                    Supplier Name Is Required.
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label> Item Type</mat-label>
                  <mat-select
                    formControlName="item_type_ref_id"
                    (selectionChange)="ItemTypeChange($event.value)"
                    required
                  >
                    <mat-option *ngFor="let obj of ItemType" [value]="obj.id">{{
                      obj.master_key
                    }}</mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="
                      qcForm.controls['item_type_ref_id'].hasError('required')
                    "
                    >Item Type Is Required.
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label> Gate Pass</mat-label>
                  <mat-select
                    formControlName="gate_pass_ref_id"
                    required
                    readonly="gatePassReadOnly"
                    (selectionChange)="GatePassSelected($event.value)"
                  >
                    <mat-select-filter
                      [placeholder]="'Search'"
                      [displayMember]="'transaction_ref_no'"
                      [array]="SearchGatePassData"
                      (filteredReturn)="GatePassData = $event"
                    ></mat-select-filter>
                    <mat-option
                      *ngFor="let obj of GatePassData"
                      [value]="obj.id"
                      >{{ obj.transaction_ref_no }}</mat-option
                    >
                  </mat-select>
                  <mat-error
                    *ngIf="
                      qcForm.controls['gate_pass_ref_id'].hasError('required')
                    "
                    >Gate Pass Is Required.
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label> GRN</mat-label>
                  <mat-select
                    formControlName="grn_ref_id"
                    (selectionChange)="selectedgrn($event.value)"
                  >
                    <mat-select-filter
                      [placeholder]="'Search'"
                      [displayMember]="'transaction_ref_no'"
                      [array]="GRNSearchData"
                      (filteredReturn)="GatePassData = $event"
                    ></mat-select-filter>
                    <mat-option *ngFor="let obj of GrnData" [value]="obj.id">{{
                      obj.transaction_ref_no
                    }}</mat-option>
                  </mat-select>
                  <!-- <mat-error *ngIf="qcForm.controls['grn_ref_id'].hasError('required')">Gate Pass Is Required. </mat-error> -->
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label> Sales Order</mat-label>
                  <mat-select formControlName="so_ref_id">
                    <mat-option [value]="empty_value"
                      >Select Sales Order</mat-option
                    >

                    <mat-option *ngFor="let obj of SalesOrder" [value]="obj.id"
                      >{{ obj.transaction_ref_no }}-{{
                        obj.so_type
                      }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Division</mat-label>
                  <mat-select formControlName="division_ref_id">
                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of DivisionData"
                      >{{ obj.key }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Department</mat-label>
                  <mat-select formControlName="department_ref_id">
                    <mat-option [value]="">Select Department Name</mat-option>
                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of DepartmentData"
                      >{{ obj.key }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Type Of Sale</mat-label>
                  <mat-select formControlName="sale_type_ref_id">
                    <mat-option [value]="">Select Sale Type</mat-option>

                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of SaleTypeData"
                      >{{ obj.key }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Location</mat-label>
                  <mat-select formControlName="location_ref_id">
                    <mat-option [value]="">Select Location</mat-option>

                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of LocationData"
                      >{{ obj.key }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Transaction Currency</mat-label>
                  <mat-select formControlName="txn_currency" required>
                    <mat-option
                      *ngFor="let obj of CurrencyData"
                      [value]="obj.id"
                      >{{ obj.currency_code }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3" *ngIf="false">
                <mat-form-field class="example-full-width">
                  <mat-label>Conversion Rate</mat-label>
                  <input
                    matInput
                    formControlName="conversion_rate"
                    placeholder="Conversion Rate"
                  />
                </mat-form-field>
              </div>
              <div
                class="col-md-3"
                matTooltip="This will be filled automatically"
              >
                <mat-form-field class="example-full-width">
                  <mat-label>Total Transaction Amount</mat-label>
                  <input
                    matInput
                    matInputCommified
                    formControlName="total_txn_currency_amount"
                    readonly
                    placeholder="Total Transaction Amount"
                  />
                </mat-form-field>
              </div>
            </div>

            <div>
              <div class="header accordian">
                <p class="fas fa-angle-down example-accordion-item-description">
                  <strong
                    >{{ screenName }} Details<span
                      class="fas fa-angle-down example-accordion-item-description"
                    >
                    </span
                  ></strong>
                </p>
              </div>
            </div>
            <div [formGroup]="qcForm">
              <div class="card">
                <div class="body">
                  <div class="row clearfix">
                    <div class="table-responsive" formArrayName="qc_details">
                      <table
                        id="tableExport1"
                        class="display table table-hover table-checkable order-column m-t-20 width-per-100 table-bordered"
                      >
                        <caption></caption>
                        <thead>
                          <tr>
                            <th style="text-align: center">Sr No</th>
                            <!-- <th style="text-align:center">
                                                          Item Code</th> -->
                            <th style="text-align: center">Item</th>
                            <!-- <th style="text-align:center">
                                                          Batch No</th> -->

                            <th style="text-align: center">No Of Bags</th>

                            <th style="text-align: center">
                              Gate Pass Quantity
                            </th>

                            <th style="text-align: center">
                              Accepted Quantity
                            </th>
                            <!--
                                                      <th style="text-align:center">
                                                          Sample Quantity</th> -->

                            <th style="text-align: center">
                              Rejected Quantity
                            </th>

                            <!-- <th style="text-align:center">
                                                          Empty Bag Weight </th> -->
                            <th style="text-align: center">
                              {{ Base_Rate }}
                            </th>

                            <th style="text-align: center">Deduction(%)</th>
                            <th style="text-align: center">Deduction Rate</th>
                            <th style="text-align: center">QC Rate</th>
                            <th style="text-align: center">Final Rate</th>
                            <th style="text-align: center">
                              Transaction Amount
                            </th>
                            <th style="text-align: center">HSN</th>
                            <th style="text-align: center">UOM</th>
                            <th style="text-align: center">QC Parameter</th>
                          </tr>
                        </thead>
                        <tbody class="main_tbody" *ngIf="GridView">
                          <tr
                            *ngFor="
                              let dynamic of formArrcontact['controls'];
                              let j = index
                            "
                            [formGroupName]="j"
                          >
                            <td>
                              <div class="col_input">
                                {{ j + 1 }}
                              </div>
                            </td>
                            <td>
                              <div class="col_input">
                                <mat-select formControlName="item_ref_id">
                                  <mat-option
                                    [value]="data.id"
                                    *ngFor="let data of itemDetailData"
                                  >
                                    {{ data.key }}
                                  </mat-option>
                                </mat-select>
                              </div>
                            </td>

                            <td class="col_input">
                              {{
                                formArrcontact.controls[j].get("no_of_bags")
                                  ?.value
                              }}

                              <mat-form-field
                                class="example-full-width"
                                [hidden]="true"
                              >
                                <mat-label>No Of Bags</mat-label>
                                <input
                                  matInput
                                  placeholder="No Of Bags"
                                  required
                                  formControlName="no_of_bags"
                                  type="number"
                                  id="no_of_bags{{ j + 1 }}"
                                />
                              </mat-form-field>
                              <mat-error
                                *ngIf="
                                  formArrcontact.controls[j]
                                    .get('no_of_bags')
                                    ?.hasError('pattern')
                                "
                                >Quantity Should be Positive Number.</mat-error
                              >
                            </td>

                            <td class="col_input">
                              {{
                                formArrcontact.controls[j].get("grn_qty")?.value
                              }}
                              <mat-label
                                >({{
                                  formArrcontact.controls[j].get("uom_name")
                                    ?.value
                                }})</mat-label
                              >

                              <mat-form-field
                                class="example-full-width"
                                [hidden]="true"
                              >
                                <mat-label>Gate Pass Quantity</mat-label>
                                <input
                                  matInput
                                  placeholder=""
                                  formControlName="grn_qty"
                                  type="number"
                                  id="grn_qty{{ j + 1 }}"
                                />
                              </mat-form-field>
                            </td>

                            <td class="col_input">
                              <mat-form-field class="example-full-width">
                                <mat-label>Accepted Quantity</mat-label>
                                <!-- <input matInput placeholder="Accepted Quantity"
                          formControlName="accepted_qty" min="0"
                          (change)="accepted_qty_change($event,j)"
                          type="number" id="accepted_qty{{j+1}}"> -->
                                <input
                                  matInput
                                  formControlName="accepted_qty"
                                  required
                                  type="Number"
                                  step="0.0001"
                                  min="0"
                                  oninput="validity.valid||(value='');"
                                  (change)="accepted_qty_change($event, j)"
                                  id="accepted_qty{{ j + 1 }}"
                                  inputTrim
                                />

                                <mat-error
                                  *ngIf="
                                    formArrcontact.controls[j]
                                      .get('accepted_qty')
                                      ?.hasError('required')
                                  "
                                  >Accepted Qty Is Required.</mat-error
                                >
                                <mat-error
                                  *ngIf="
                                    formArrcontact.controls[j]
                                      .get('accepted_qty')
                                      ?.hasError('acceptedQtyGreaterThanGrnQty')
                                  "
                                >
                                  Accepted Qty Can Not Be Greater Than Gate Pass
                                  Qty.
                                </mat-error>
                              </mat-form-field>
                            </td>

                            <td class="col_input" *ngIf="false">
                              <mat-form-field class="example-full-width">
                                <mat-label> Sample Quantity</mat-label>
                                <input
                                  matInput
                                  placeholder="Sample Quantity"
                                  formControlName="sample_qty"
                                  min="0"
                                  (change)="Sample_qty_change($event, j)"
                                  type="number"
                                  id="sample_qty{{ j + 1 }}"
                                />
                              </mat-form-field>
                            </td>

                            <td class="col_input">
                              {{
                                formArrcontact.controls[j].get("rejected_qty")
                                  ?.value
                              }}

                              <mat-form-field
                                class="example-full-width"
                                [hidden]="true"
                              >
                                <mat-label>Rejected Quantity</mat-label>
                                <input
                                  matInput
                                  placeholder="Rejected Quantity"
                                  formControlName="rejected_qty"
                                  type="number"
                                  id="rejected_qty{{ j + 1 }}"
                                />
                              </mat-form-field>
                            </td>

                            <td class="col_input">
                              {{
                                formArrcontact.controls[j].get("base_rate")
                                  ?.value
                              }}

                              <mat-form-field
                                class="example-full-width"
                                [hidden]="true"
                              >
                                <mat-label>Base Rate</mat-label>
                                <input
                                  matInput
                                  readonly
                                  placeholder="Base Rate"
                                  formControlName="base_rate"
                                  type="number"
                                  id="base_rate{{ j + 1 }}"
                                />
                              </mat-form-field>
                            </td>

                            <td class="col_input">
                              {{
                                formArrcontact.controls[j].get(
                                  "qc_deduction_per"
                                )?.value
                              }}

                              <mat-form-field
                                class="example-full-width"
                                [hidden]="true"
                                readonly
                              >
                                <mat-label>Deduction(%)</mat-label>
                                <input
                                  matInput
                                  placeholder="QC  Deduction Percentage"
                                  formControlName="qc_deduction_per"
                                  id="qc_deduction_per{{ j + 1 }}"
                                  step="0.01"
                                />
                              </mat-form-field>
                            </td>

                            <td class="col_input">
                              {{
                                formArrcontact.controls[j].get(
                                  "qc_deduction_rate"
                                )?.value
                              }}

                              <mat-form-field
                                class="example-full-width"
                                [hidden]="true"
                                readonly
                              >
                                <mat-label>Deduction Rate</mat-label>
                                <input
                                  matInput
                                  placeholder="QC Rate"
                                  formControlName="qc_deduction_rate"
                                  type="number"
                                  id="qc_deduction_rate{{ j + 1 }}"
                                />
                              </mat-form-field>
                            </td>

                            <td class="col_input">
                              {{
                                formArrcontact.controls[j].get("net_rate")
                                  ?.value
                              }}

                              <mat-form-field
                                class="example-full-width"
                                [hidden]="true"
                              >
                                <mat-label>QC Rate</mat-label>
                                <input
                                  matInput
                                  placeholder="QC Rate"
                                  formControlName="net_rate"
                                  type="number"
                                  id="net_rate{{ j + 1 }}"
                                />
                              </mat-form-field>
                            </td>

                            <td class="col_input">
                              <mat-form-field class="example-full-width">
                                <mat-label>Final Rate</mat-label>
                                <!-- <input matInput placeholder="Final Rate"
                                                                  formControlName="rate" type="number"
                                                                  (change)="NetRateChange($event,j)" min="0" required inputTrim
                                                                > -->
                                <input
                                  matInput
                                  formControlName="rate"
                                  required
                                  type="Number"
                                  step="0.01"
                                  min="0"
                                  oninput="validity.valid||(value='');"
                                  (change)="NetRateChange($event, j)"
                                  inputTrim
                                />
                                <mat-error
                                  *ngIf="
                                    formArrcontact.controls[j]
                                      .get('rate')
                                      ?.hasError('required')
                                  "
                                  >Final Rate Is Required.</mat-error
                                >
                              </mat-form-field>
                            </td>
                            <td class="col_input">
                              {{
                                formArrcontact.controls[j].get(
                                  "txn_currency_amount"
                                )?.value
                              }}

                              <mat-form-field
                                class="example-full-width"
                                [hidden]="true"
                                readonly
                              >
                                <mat-label>Transaction Amount</mat-label>
                                <input
                                  matInput
                                  placeholder="Transaction Amount"
                                  formControlName="txn_currency_amount"
                                  type="number"
                                  id="txn_currency_amount{{ j + 1 }}"
                                />
                              </mat-form-field>
                            </td>
                            <td class="col_input">
                              <mat-form-field
                                class="example-full-width"
                                appearance="outline"
                              >
                                <mat-label>HSN</mat-label>
                                <mat-select formControlName="hsn_sac_no">
                                  <mat-option
                                    *ngFor="let obj of HsnData"
                                    [value]="obj.id"
                                    >{{ obj.key }}</mat-option
                                  >
                                </mat-select>
                              </mat-form-field>
                            </td>
                            <td class="col_input">
                              <!-- <mat-form-field class="example-full-width"
                                                                > -->
                              <!-- <mat-label>UOM</mat-label> -->
                              <mat-select
                                formControlName="uom"
                                class="mat-select"
                              >
                                <mat-option
                                  [value]="data.id"
                                  *ngFor="let data of uomData"
                                >
                                  {{ data.key }}
                                </mat-option>
                              </mat-select>
                              <!-- </mat-form-field> -->
                            </td>
                            <td class="col_input">
                              <button
                                type="button"
                                class="parameter-button"
                                (click)="addQcParameterDetails(j)"
                              >
                                Enter Parameter
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <cdk-accordion>
              <cdk-accordion-item
                #accordionItem="cdkAccordionItem"
                tabindex="0"
                [attr.id]="'accordion-header-'"
                [attr.aria-expanded]="accordionItem.expanded"
                [attr.aria-controls]="'accordion-body-'"
              >
                <div (click)="accordionItem.toggle()">
                  <div class="header accordian">
                    <p
                      class="fas fa-angle-down example-accordion-item-description"
                    >
                      <i class="bi bi-chevron-down"></i>
                      <strong
                        >Additional Details<span
                          class="fas fa-angle-down example-accordion-item-description"
                        >
                        </span>
                      </strong>
                    </p>
                  </div>
                </div>
                <div [formGroup]="qcForm">
                  <div
                    role="region"
                    [style.display]="accordionItem.expanded ? '' : 'none'"
                    [attr.id]="'accordion-body-'"
                    [attr.aria-labelledby]="'accordion-header-'"
                    class="row clearfix"
                  >
                    <div class="card">
                      <div class="body">
                        <div class="row clearfix">
                          <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                              <mat-label>Remark</mat-label>
                              <input
                                matInput
                                formControlName="remark"
                                placeholder="Remark"
                                type="text"
                              />
                            </mat-form-field>
                          </div>
                          <!-- <div class="col-xl-4 col-lg-6 col-md-4 col-sm-4 mb-2">
                        <ng-container *ngIf="!submitBtn">
                          <label>Attachment</label><br />
                          <a *ngIf="previewImage" href="{{ previewImage }}"
                            target="_blank">Download<mat-icon>download</mat-icon></a>
                        </ng-container>
                        <ng-container *ngIf="submitBtn" class="example-full-width">
                          <label>Document Attachment</label><br />
                          <img *ngIf="previewImage && previewImageType" [src]="previewImage" alt="image"
                            style="width: 5rem" />
                          <br *ngIf="previewImage && previewImageType" />
                          <a *ngIf="previewImage && !previewImageType" href="{{ previewImage }}" target="_blank">
                            Download <mat-icon>download</mat-icon></a>
                          <mat-icon matDatepickerToggleIcon *ngIf="previewImage"
                            (click)="removeImage()">clear</mat-icon>
                          <br *ngIf="previewImage && !previewImageType" />
                          {{ fileName }}
                          <i class="fa fa-spinner fa-spin" *ngIf="showFileLoader"></i>
                          <span style="color: green">{{ uploadStatus }}</span>
                          <br *ngIf="fileName" />
                          <label for="attachment" class="btn btn-primary btn-border-radius waves-effect">Choose
                            File</label>
                          <input #fileInput type="file" id="attachment" hidden [disabled]="isDisable" />
                          <br />
                          <span style="font-size: 1rem">
                            ( Formats allowed: .png, .jpg, .pdf )
                          </span>
                        </ng-container>
                      </div> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </cdk-accordion-item>
            </cdk-accordion>

            <div class="row clearfix" *ngIf="viewOnSendback">
              <div>
                <div class="header accordian">
                  <p
                    class="fas fa-angle-down example-accordion-item-description"
                  >
                    <strong
                      >SendBack<span
                        class="fas fa-angle-down example-accordion-item-description"
                      >
                      </span
                    ></strong>
                  </p>
                </div>
              </div>
              <hr />
              <div class="row clearfix">
                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <mat-label>SendBack Code</mat-label>
                    <mat-select
                      [disabled]="isDisable"
                      formControlName="error_code_id"
                      (selectionChange)="sendback($event.value)"
                    >
                      <mat-option [value]="">Select SendBack Code</mat-option>
                      <mat-option
                        *ngFor="let obj of errorCodeData"
                        [value]="obj.id"
                        >{{ obj.key }}</mat-option
                      >
                    </mat-select>
                    <mat-error
                      *ngIf="qcForm.controls['error_code_id'].errors?.['required']"
                      >SendBack Code Is Required.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <mat-label>SendBack Remark</mat-label>
                    <input
                      matInput
                      formControlName="workflow_remark"
                      placeholder="Workflow Remark"
                      type="text"
                      (change)="sendback1($event.target)"
                      [disabled]="isDisable"
                    />
                    <mat-error
                      *ngIf="qcForm.controls['workflow_remark'].errors?.['required']"
                      >SendBack Remark Is Required.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="big-model">
      <div
        style="text-align: center"
        *ngIf="!viewBtn"
        [innerHTML]="myTemplate | safeHtml"
      ></div>
    </div>
    <div class="footer" *ngIf="viewBtn">
      <div class="left">
        <button class="cancel" (click)="onCancelForm()">Cancel</button>
      </div>
      <div class="right d-flex">
        <button
          class="send"
          *ngIf="submitBtn && showReset"
          (click)="onResetForm()"
          [disabled]="showLoader"
        >
          Reset
        </button>
        <button
          class="submit"
          type="submit"
          *ngIf="submitBtn"
          [disabled]="showLoader"
          name="submit"
          value="Submit"
          (click)="onSubmit($event)"
        >
          {{ btnVal }}
          <i class="fa fa-spinner fa-spin" *ngIf="showLoader"></i>
        </button>
      </div>
    </div>
  </div>
</div>
