.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

.approval-form .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background: var(--blue-50, #e6f4fa);
  height: 48px;
  width: 100%;
}

.mat-mdc-option.mdc-list-item {
  overflow-wrap: anywhere;
  padding: 10px;
}

.override_edit_pop_up {
  height: 100vh;
  position: fixed;
  overflow: hidden;
}

.overflow_model {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}
