<div class="edit_pop_up">
  <div class="big-model">
    <div class="header">
      <p>{{ screenName }}</p>
      <button (click)="onCancelForm()">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
    <div class="body overflow_model">
      <div class="details-form">
        <form [formGroup]="paymentsForm">
          <div class="personal">
            <div class="row d-flex">
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Transaction Date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="transaction_date"
                    readonly
                    id="transaction_date"
                    [(ngModel)]="todayDate"
                    formControlName="transaction_date"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="transaction_date"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #transaction_date></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Receipt Type</mat-label>
                  <mat-select
                    formControlName="payment_type_ref_id"
                    required
                    (selectionChange)="PaymentTypeChnage($event.value)"
                  >
                    <mat-option [value]="">Select Receipt Type</mat-option>
                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of PaymentType"
                      >{{ obj.master_key }}</mat-option
                    >
                  </mat-select>
                  <mat-error
                    *ngIf="
                      paymentsForm.controls['payment_type_ref_id'].hasError(
                        'required'
                      )
                    "
                    >Receipt Type Required.</mat-error
                  >
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Customer Name</mat-label>
                  <mat-select
                    formControlName="customer_ref_id"
                    required
                    (selectionChange)="supplierChnage($event.value)"
                  >
                    <mat-select-filter
                      [placeholder]="'Search'"
                      [displayMember]="'key'"
                      [array]="SupplierData"
                      (filteredReturn)="filterSupplierData = $event"
                    ></mat-select-filter>
                    <mat-option [value]="">Select Customer Name</mat-option>
                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of filterSupplierData"
                      >{{ obj.key }}</mat-option
                    >
                  </mat-select>
                  <mat-error
                    *ngIf="
                      paymentsForm.controls['customer_ref_id'].hasError(
                        'required'
                      )
                    "
                    >Customer Name Required.</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Payment Method</mat-label>
                  <mat-select formControlName="payment_method_ref_id" required>
                    <mat-option [value]="">Select Payment Method</mat-option>
                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of PaymentMethodData"
                      >{{ obj.master_key }}</mat-option
                    >
                  </mat-select>
                  <mat-error
                    *ngIf="
                      paymentsForm.controls['payment_method_ref_id'].hasError(
                        'required'
                      )
                    "
                    >Payment Method Required.</mat-error
                  >
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Company Account Number</mat-label>
                  <mat-select formControlName="tenant_account_ref_id" required>
                    <mat-option [value]="">Select Account Number</mat-option>
                    <mat-option
                      style="overflow-wrap: anywhere; padding: 10px"
                      [value]="obj.id"
                      *ngFor="let obj of BankData"
                      >{{ obj.key }}</mat-option
                    >
                  </mat-select>
                  <mat-error
                    *ngIf="
                      paymentsForm.controls['tenant_account_ref_id'].hasError(
                        'required'
                      )
                    "
                    >Company Account Number Required.</mat-error
                  >
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label class="readonly-input"
                    >Customer Bank Name</mat-label
                  >
                  <input
                    matInput
                    class="readonly-input"
                    formControlName="supplier_bank_name"
                    inputTrim
                  />
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label class="readonly-input"
                    >Customer IFSC Code</mat-label
                  >
                  <input
                    matInput
                    class="readonly-input"
                    formControlName="supplier_ifsc_code"
                    placeholder="Supplier Type"
                    inputTrim
                  />
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label class="readonly-input"
                    >Customer Account No</mat-label
                  >
                  <input
                    matInput
                    class="readonly-input"
                    formControlName="supplier_account_no"
                    placeholder="Supplier Type"
                    inputTrim
                  />
                </mat-form-field>
              </div>
              <div
                class="col-md-3"
                matTooltip="This will be filled automatically"
              >
                <mat-form-field class="example-full-width">
                  <mat-label>Gross Transaction Amount</mat-label>
                  <input
                    matInput
                    formControlName="txn_currency_gross_amount"
                    type="Number"
                    step="0.01"
                    min="0"
                    oninput="validity.valid||(value='');"
                    inputTrim
                    (change)="netAmountChange($event)"
                    readonly
                  />
                  <mat-error
                    *ngIf="
                      paymentsForm.controls[
                        'txn_currency_gross_amount'
                      ].hasError('required')
                    "
                    >Gross Transaction Amount Required.</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Bank Charges</mat-label>
                  <input
                    matInput
                    formControlName="txn_currency_bank_charges"
                    type="Number"
                    step="0.01"
                    min="0"
                    oninput="validity.valid||(value='');"
                    inputTrim
                    (change)="BankChargesAmountChange($event)"
                  />
                </mat-form-field>
              </div>
              <div
                class="col-md-3"
                matTooltip="This will be filled automatically"
              >
                <mat-form-field class="example-full-width">
                  <mat-label>Net Transaction Amount</mat-label>
                  <input
                    matInput
                    formControlName="txn_currency_net_amount"
                    type="Number"
                    step="0.01"
                    min="0"
                    oninput="validity.valid||(value='');"
                    inputTrim
                    readonly
                  />
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Transaction Currency</mat-label>
                  <mat-select formControlName="txn_currency">
                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of CurrencyData"
                      >{{ obj.currency_code }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div>
              <div class="header accordian" *ngIf="ShowAdvanceGrid">
                <p class="fas fa-angle-down example-accordion-item-description">
                  <strong>Advanced Receipt Details<span> </span></strong>
                </p>
              </div>
            </div>

            <div class="row clearfix" *ngIf="ShowAdvanceGrid">
              <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> -->
              <div class="card">
                <div class="body">
                  <div class="table-responsive" formArrayName="advance_details">
                    <table
                      id="tableExport"
                      class="table-hover table-checkable order-column m-t-20 width-per-100 table-bordered"
                    >
                      <thead>
                        <tr>
                          <th style="text-align: center">Action</th>
                          <th style="text-align: center">SO Number</th>
                          <th style="text-align: center">Advance Amount</th>
                        </tr>
                      </thead>
                      <tbody class="main_tbody">
                        <ng-container>
                          <tr
                            *ngFor="
                              let dynamic of formArray1['controls'];
                              let j = index
                            "
                            [formGroupName]="j"
                          >
                            <td class="col_input" *ngIf="j === 0">
                              <button
                                type="button"
                                class="apply-button"
                                (click)="addNewRow()"
                              >
                                <i class="fa fa-plus"></i>
                              </button>
                            </td>

                            <td class="col_input" *ngIf="j > 0">
                              <button
                                type="button"
                                class="apply-button-danger"
                                (click)="deleteRow(j)"
                              >
                                <i class="fa fa-minus"></i>
                              </button>
                            </td>

                            <ng-container>
                              <td style="text-align: center">
                                <mat-form-field class="example-full-width">
                                  <mat-select formControlName="invoice_ref_id">
                                    <mat-option
                                      [value]="obj.id"
                                      *ngFor="let obj of POData"
                                      >{{ obj.transaction_ref_no }}</mat-option
                                    >
                                  </mat-select>
                                </mat-form-field>
                              </td>
                              <td class="col_input">
                                <mat-form-field class="example-full-width">
                                  <input
                                    matInput
                                    id="txn_currency_amount{{ j + 1 }}"
                                    formControlName="txn_currency_amount"
                                    (change)="advance_amt_change($event, j)"
                                  />
                                </mat-form-field>
                              </td>
                            </ng-container>
                          </tr>
                        </ng-container>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <div class="header accordian" *ngIf="ShowPaymentGrid">
              <p class="fas fa-angle-down example-accordion-item-description">
                <strong>Receipt Details<span> </span></strong>
              </p>
            </div>
            <div class="card" *ngIf="ShowPaymentGrid">
              <div class="body">
                <div class="row clearfix">
                  <div class="table-responsive" formArrayName="receipt_details">
                    <table
                      id="tableExport1"
                      class="display table table-hover table-checkable order-column m-t-10 width-per-100 table-bordered"
                    >
                      <thead>
                        <tr>
                          <th
                            style="text-align: center"
                            *ngIf="DisabledCheckbox"
                          >
                            <ng-container *ngIf="!checkAllProcess"
                              >Check All</ng-container
                            >

                            <ng-container *ngIf="checkAllProcess"
                              >Uncheck All</ng-container
                            >
                            <mat-checkbox
                              type="checkbox"
                              (change)="checkAll()"
                              [checked]="checkAllProcess"
                            ></mat-checkbox>
                          </th>
                          <th style="text-align: center">Invoice No.</th>
                          <th style="text-align: center">Invoice Amount</th>
                          <th style="text-align: center">
                            Advance Amount Apply
                          </th>
                          <th style="text-align: center">Amount Receivable</th>
                        </tr>
                      </thead>

                      <tbody class="main_tbody">
                        <tr
                          *ngFor="
                            let dynamic of formArray['controls'];
                            let i = index
                          "
                          [formGroupName]="i"
                        >
                          <td
                            style="text-align: center"
                            *ngIf="DisabledCheckbox"
                          >
                            <mat-checkbox
                              type="checkbox"
                              [checked]="
                                paymentsForm.value['receipt_details'][i][
                                  'isChecked'
                                ]
                              "
                              (change)="toggle($event, i)"
                            ></mat-checkbox>
                          </td>

                          <td class="col_input">
                            <div
                              class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                            >
                              {{
                                formArray.controls[i].get("invoice_ref_name")
                                  ?.value
                              }}

                              <mat-form-field
                                class="example-full-width"
                                [hidden]="true"
                                readonly
                              >
                                <mat-label>Invoice No.</mat-label>
                                <input
                                  matInput
                                  formControlName="invoice_ref_name"
                                  id="invoice_ref_name{{ i + 1 }}"
                                />
                              </mat-form-field>
                            </div>
                          </td>

                          <td class="col_input">
                            <div
                              class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                            >
                              {{
                                formArray.controls[i].get("invoice_amount")
                                  ?.value
                              }}

                              <mat-form-field
                                class="example-full-width"
                                [hidden]="true"
                                readonly
                              >
                                <input
                                  matInput
                                  formControlName="invoice_amount"
                                  id="invoice_amount{{ i + 1 }}"
                                />
                              </mat-form-field>
                            </div>
                          </td>

                          <td class="col_input">
                            <mat-form-field class="example-full-width">
                              <input
                                matInput
                                id="txn_currency_advance_amount_applied{{
                                  i + 1
                                }}"
                                formControlName="txn_currency_advance_amount_applied"
                                (change)="advance_amt_apply_change($event, i)"
                              />
                            </mat-form-field>
                          </td>

                          <td class="col_input">
                            <mat-form-field class="example-full-width">
                              <input
                                matInput
                                id="txn_currency_amount{{ i + 1 }}"
                                formControlName="txn_currency_amount"
                                [attr.disabled]="true"
                                type="Number"
                                step="0.01"
                                min="0"
                                oninput="validity.valid||(value='');"
                                (change)="amt_transaction_change($event, i)"
                              />
                            </mat-form-field>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="body"
              style="text-align: center"
              *ngIf="!viewBtn"
              [innerHTML]="myTemplate | safeHtml"
            ></div>
          </div>
        </form>
      </div>
    </div>
    <div class="footer">
      <div class="left">
        <button class="cancel" (click)="onCancelForm()">Cancel</button>
      </div>
      <div class="right d-flex">
        <button
          *ngIf="submitBtn"
          class="send"
          (click)="onResetForm()"
          [disabled]="showLoader"
        >
          Reset
        </button>
        <button
          class="submit"
          (click)="onSubmit()"
          *ngIf="submitBtn"
          [disabled]="showLoader"
        >
          {{ btnVal }}
          <i class="fa fa-spinner fa-spin" *ngIf="showLoader"></i>
        </button>
      </div>
    </div>
  </div>
</div>
