<section class="content">
  <div class="approval-container">
    <div class="header">
      <p>
        <strong>{{ screenName }}</strong>
      </p>
    </div>

    <app-sales-order-details
      *ngIf="listDiv === true"
      [rowData]="rowData"
      (handleSave)="handleSave($event)"
      (handleCancel)="handleCancel($event)"
      [submitBtn]="submitBtn"
      [showLoader]="showLoader"
      [screenName]="screenName"
    >
    </app-sales-order-details>

    <div class="body" [hidden]="listDiv">
      <div class="interaction">
        <div *ngIf="sidebarData">
          <button
            class="new_employee"
            (click)="showFormList(false)"
            matTooltip="ADD"
            *ngIf="sidebarData.write_access === 'Y'"
          >
            + Add New {{ screenName }}
          </button>
        </div>
        <div class="end">
          <div class="search">
            <i class="bi bi-search"></i>
            <input
              type="text"
              placeholder="Search in table"
              type="text"
              #filter
              class="browser-default search-field"
              aria-label="Search box"
            />
          </div>
          <button
            mat-mini-fab
            class="btn btn-primary small-button"
            style="background-color: #2c5a88 !important"
            (click)="refresh()"
          >
            <mat-icon class="col-white">refresh</mat-icon>
          </button>
          <button (click)="exportExcel()">
            <img src="assets/usedimg/excel_icon.png" alt="" /> Download Excel
          </button>
        </div>
      </div>

      <div class="data_table pb-2">
        <div class="mat-elevation-z8">
          <table
            mat-table
            #table
            [dataSource]="dataSource"
            matSort
            class="mat-cell"
          >
            <caption></caption>
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>
                <strong>View</strong>
              </th>
              <td mat-cell *matCellDef="let row">
                <button
                  *ngIf="sidebarData.read_access === 'Y'"
                  (click)="editViewRecord(row, false)"
                >
                  <i class="bi bi-eye"></i>
                </button>
              </td>
            </ng-container>
            <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef class="width-2">
                <strong>Edit</strong>
              </th>
              <td mat-cell *matCellDef="let row">
                <button
                  *ngIf="
                    sidebarData.write_access === 'Y' &&
                    ['SendBack'].includes(row.workflow_status) &&
                    employee_authority !== 'Checker'
                  "
                  class="btn tblActnBtn h-auto"
                  (click)="editViewRecord(row, true)"
                  matTooltip="EDIT"
                >
                  <i class="bi bi-pencil"></i>
                </button>
                <button
                  *ngIf="
                    sidebarData.write_access === 'Y' &&
                    ['Pending For Approval', 'Initiated'].includes(
                      row.workflow_status
                    ) &&
                    employee_authority !== 'Maker'
                  "
                  class="btn tblActnBtn h-auto"
                  (click)="editViewRecord(row, true)"
                  matTooltip="EDIT"
                >
                  <i class="bi bi-pencil"></i>
                </button>
              </td>
            </ng-container>
            <ng-container matColumnDef="print">
              <th mat-header-cell *matHeaderCellDef>
                <strong>Print</strong>
              </th>
              <td mat-cell *matCellDef="let row">
                <button
                  *ngIf="sidebarData.read_access === 'Y'"
                  (click)="printInvoice(row.id)"
                  matTooltip="Print"
                >
                  <i class="bi bi-printer"></i>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="transaction_date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>Transaction Date</strong>
              </th>
              <td
                mat-cell
                *matCellDef="let row"
                (contextmenu)="onContextMenu($event, row)"
              >
                <span class="mobile-label">Transaction Date:</span
                >{{ row.transaction_date | date : "dd/MM/yyyy" }}
              </td>
            </ng-container>

            <ng-container matColumnDef="order_number">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>SO Number</strong>
              </th>
              <td
                mat-cell
                *matCellDef="let row"
                (contextmenu)="onContextMenu($event, row)"
              >
                <span class="mobile-label">SO Number:</span>
                {{ row.transaction_ref_no }}
              </td>
            </ng-container>
            <!-- <ng-container matColumnDef="po_number">
              <mat-header-cell *matHeaderCellDef mat-sort-header><strong>Po
                  Number</strong></mat-header-cell>
              <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                <span class="mobile-label">Po Number:</span>
                {{ row.customer_po_no }}
              </mat-cell>
            </ng-container> -->
            <ng-container matColumnDef="custumer_name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>Customer Name</strong>
              </th>
              <td
                mat-cell
                *matCellDef="let row"
                (contextmenu)="onContextMenu($event, row)"
              >
                <span class="mobile-label">Customer Name:</span>
                {{ row.customer_name }}
              </td>
            </ng-container>

            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>Amount(Rs.)</strong>
              </th>
              <td
                mat-cell
                *matCellDef="let row"
                (contextmenu)="onContextMenu($event, row)"
              >
                <span class="mobile-label">Amount(Rs.):</span>
                {{ row.amount | number : "2.0-2" }}
              </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>Sales Order Status</strong>
              </th>
              <td
                mat-cell
                *matCellDef="let row"
                (contextmenu)="onContextMenu($event, row)"
              >
                <span class="mobile-label">Sales Order Status:</span>
                <span
                  class="status-dot"
                  [ngStyle]="{
                    'background-color': getColorStatus(row.status)
                  }"
                >
                </span>
                {{ row.status }}
              </td>
            </ng-container>

            <ng-container matColumnDef="workflow_status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>Workflow Status</strong>
              </th>
              <td
                mat-cell
                *matCellDef="let row"
                (contextmenu)="onContextMenu($event, row)"
              >
                <span class="mobile-label">Workflow Status:</span>
                <span
                  class="status-dot"
                  [ngStyle]="{
                    'background-color': getColorStatus(row.workflow_status)
                  }"
                >
                </span>
                {{ row.workflow_status }}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          <div
            *ngIf="!exampleDatabase?.isTblLoading"
            class="no-results"
            [style.display]="dataSource.renderedData.length === 0 ? '' : 'none'"
          >
            No results
          </div>
          <mat-paginator
            #paginator
            [length]="dataSource.filteredData.length"
            [pageIndex]="0"
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 50]"
          >
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</section>
