.spacer {
  height: 0px;
}

.margin-left-table {
  margin-left: 40px;
}
.dashboardtbl {
  background: white;
  color: black;
  font-weight: bold;
}

.border-bottom {
  border-bottom-width: 2px;
  border-bottom-color: black;
}

.paginator {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 10px;
}
.paginator select {
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
  width: 80px;
  border-radius: 5px;

  cursor: pointer;
}
.paginator .pagination-text {
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}
.paginator .pagination-icons {
  font-size: 24px;
  margin-left: 10px;
  margin-right: 10px;
}

#prevPage {
  margin-right: 10px;

  cursor: pointer;
}

#nextPage {
  margin-left: 10px;
  cursor: pointer;
}

.header-buttons-left input.search-field {
  padding: 0;
  padding-left: 10px;
}

.header-buttons-left .search-icon {
  transform: translate(-50px, 2px);
}

.table-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
