<section class="content">
  <div class="approval-container">
    <div class="header">
      <p>
        <strong>{{ screenName }}</strong>
      </p>
    </div>

    <app-credit-note-details
      *ngIf="listDiv === true"
      [rowData]="rowData"
      (handleSave)="handleSave($event)"
      (handleCancel)="handleCancel($event)"
      [submitBtn]="submitBtn"
      [showLoader]="showLoader"
      [screenName]="screenName"
    >
    </app-credit-note-details>

    <div class="body" [hidden]="listDiv">
      <div class="interaction">
        <button
          class="new_employee"
          (click)="showFormList(false)"
          matTooltip="ADD"
          *ngIf="sidebarData.write_access === 'Y'"
        >
          + Add New {{ screenName }}
        </button>
        <div class="end">
          <div class="search">
            <i class="bi bi-search"></i>
            <input
              type="text"
              placeholder="Search in table"
              type="text"
              #filter
              class="browser-default search-field"
              aria-label="Search box"
            />
          </div>
          <button
            mat-mini-fab
            class="btn btn-primary small-button"
            style="background-color: #2c5a88 !important"
            (click)="refresh()"
          >
            <mat-icon class="col-white">refresh</mat-icon>
          </button>
          <button (click)="exportExcel()">
            <img src="assets/usedimg/excel_icon.png" alt="" /> Download Excel
          </button>
        </div>
      </div>

      <div class="data_table pb-2">
        <div class="mat-elevation-z8">
          <table
            mat-table
            #table
            [dataSource]="dataSource"
            matSort
            class="mat-cell"
          >
            <caption></caption>
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>
                <strong>View</strong>
              </th>
              <td mat-cell *matCellDef="let row">
                <button
                  *ngIf="sidebarData.read_access === 'Y'"
                  (click)="editViewRecord(row, false)"
                >
                  <i class="bi bi-eye"></i>
                </button>
              </td>
            </ng-container>
            <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef>
                <strong>Edit</strong>
              </th>
              <td mat-cell *matCellDef="let row">
                <button
                  *ngIf="
                    sidebarData.write_access === 'Y' &&
                    ['SendBack'].includes(row.workflow_status) &&
                    employee_authority !== 'Checker'
                  "
                  class="btn tblActnBtn h-auto"
                  (click)="editViewRecord(row, true)"
                  matTooltip="EDIT"
                >
                  <i class="bi bi-pencil"></i>

                  <!-- <em class="material-icons">mode_edit</em> -->
                </button>
                <button
                  *ngIf="
                    sidebarData.write_access === 'Y' &&
                    ['Pending For Approval', 'Initiated'].includes(
                      row.workflow_status
                    ) &&
                    employee_authority !== 'Maker'
                  "
                  class="btn tblActnBtn h-auto"
                  (click)="editViewRecord(row, true)"
                  matTooltip="EDIT"
                >
                  <i class="bi bi-pencil"></i>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="credit_note_number">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>Credit Note Number</strong>
              </th>
              <td
                mat-cell
                *matCellDef="let row"
                (contextmenu)="onContextMenu($event, row)"
              >
                <span class="mobile-label">Credit Note Number:</span
                >{{ row.transaction_ref_no }}
              </td>
            </ng-container>
            <ng-container matColumnDef="transaction_date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>Transaction Date</strong>
              </th>
              <td
                mat-cell
                *matCellDef="let row"
                (contextmenu)="onContextMenu($event, row)"
              >
                <span class="mobile-label">Transaction Date:</span>
                {{ row.transaction_date | date : "dd/MM/yyyy" }}
              </td>
            </ng-container>
            <ng-container matColumnDef="customer_name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>Customer Name</strong>
              </th>

              <td
                mat-cell
                *matCellDef="let row"
                (contextmenu)="onContextMenu($event, row)"
              >
                <span class="mobile-label">Customer Name:</span>
                {{ row.customer_name }}
              </td>
            </ng-container>
            <ng-container matColumnDef="sales_order_no">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>Sales Order No</strong>
              </th>
              <td
                mat-cell
                *matCellDef="let row"
                (contextmenu)="onContextMenu($event, row)"
              >
                <span class="mobile-label">Invoice Amount (Rs.):</span>
                {{ row.sales_order_no }}
              </td>
            </ng-container>
            <ng-container matColumnDef="invoice_no">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>Invoice No</strong>
              </th>
              <td
                mat-cell
                *matCellDef="let row"
                (contextmenu)="onContextMenu($event, row)"
              >
                <span class="mobile-label">Invoice No:</span>
                {{ row.invoice_no }}
              </td>
            </ng-container>
            <ng-container matColumnDef="total_transaction_amount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>Total Transaction Amount</strong>
              </th>
              <td
                mat-cell
                *matCellDef="let row"
                (contextmenu)="onContextMenu($event, row)"
              >
                <span class="mobile-label">Total Transaction Amount:</span
                >{{ row.purchase_booking_txn_amount }}
              </td>
            </ng-container>
            <ng-container matColumnDef="base_amount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong> Base Amount</strong>
              </th>
              <td
                mat-cell
                *matCellDef="let row"
                (contextmenu)="onContextMenu($event, row)"
              >
                <span class="mobile-label"> Base Amount:</span
                >{{ row.txn_currency_amount }}
              </td>
            </ng-container>
            <ng-container matColumnDef="total_credit_amount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>Total Credit Amount</strong>
              </th>
              <td
                mat-cell
                *matCellDef="let row"
                (contextmenu)="onContextMenu($event, row)"
              >
                <span class="mobile-label">Total Credit Amount :</span
                >{{ row.txn_currency_invoice_amount }}
              </td>
            </ng-container>
            <ng-container matColumnDef="with_quantity">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong> With Quantity </strong>
              </th>
              <td
                mat-cell
                *matCellDef="let row"
                (contextmenu)="onContextMenu($event, row)"
              >
                <span class="mobile-label"> With Quantity :</span
                >{{ row.is_credit_note_with_qty_amt ? "Yes" : "No" }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          <div
            *ngIf="!exampleDatabase?.isTblLoading"
            class="no-results"
            [style.display]="dataSource.renderedData.length === 0 ? '' : 'none'"
          >
            No results
          </div>
          <mat-paginator
            #paginator
            [length]="dataSource.filteredData.length"
            [pageIndex]="0"
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 50]"
          >
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</section>
