
<div [formGroup]="form">
    <mat-form-field class="example-full-width">
      <mat-label>{{field.field_label}}</mat-label>
      <mat-select  [id]="field_id" [formControlName]="field.field_key"  (selectionChange)="field.is_onchange_event==true && onSelectionChange($event)" multiple>
        <mat-option *ngFor="let opt of field.dropdown_raw_query" [value]="opt.id">{{opt.key}}
        </mat-option >
      </mat-select>
      <mat-error *ngIf="field.is_required==true"> 
        {{field.field_placeholder}} Is Required
       </mat-error>
    </mat-form-field>
</div> 
  
