<section
  class="content"
  id="component1"
  #epltable
  style="margin: 0px 18px 0 18px"
>
  <div class="container" style="border: 1px solid black">
    <div class="card" style="page-break-after: always">
      <div class="header">
        <img
          src="{{ previewImage1 }}"
          height="100"
          style="width: 100%"
          alt="background image"
          *ngIf="header_full_image"
        />

        <div style="height: 120px; position: relative" *ngIf="NotFullImage">
          <div style="top: 8px; left: 16px; position: absolute">
            <img
              src="{{ previewImage1 }}"
              height="50"
              width="300px"
              alt="background image"
              *ngIf="header_image_logo && header_text_top_left"
            />
          </div>
          <div style="top: 8px; right: 16px; position: absolute">
            <img
              src="{{ previewImage1 }}"
              height="50"
              width="300px"
              alt="background image"
              *ngIf="header_image_logo && header_text_top_right"
            />
          </div>
          <div style="top: 8px; left: 50%; position: absolute">
            <img
              src="{{ previewImage1 }}"
              height="50"
              width="300px"
              alt="background image"
              *ngIf="header_image_logo && header_text_top_center"
            />
          </div>
          <div style="bottom: 8px; right: 16px; position: absolute">
            <img
              src="{{ previewImage1 }}"
              height="50"
              width="300px"
              alt="background image"
              *ngIf="header_image_logo && header_text_bottom_right"
            />
          </div>
          <div style="bottom: 8px; left: 16px; position: absolute">
            <img
              src="{{ previewImage1 }}"
              height="50"
              width="300px"
              alt="background image"
              *ngIf="header_image_logo && header_text_bottom_left"
            />
          </div>
          <div style="bottom: 8px; left: 50%; position: absolute">
            <img
              src="{{ previewImage1 }}"
              height="50"
              width="300px"
              alt="background image"
              *ngIf="header_image_logo && header_text_bottom_center"
            />
          </div>
          <div style="top: 50%; left: 50%; position: absolute">
            <img
              src="{{ previewImage1 }}"
              height="50"
              width="300px"
              alt="background image"
              *ngIf="header_image_logo && header_text_center_center"
            />
          </div>
          <div style="top: 50%; left: 16px; position: absolute">
            <img
              src="{{ previewImage1 }}"
              height="50"
              width="300px"
              alt="background image"
              *ngIf="header_image_logo && header_text_center_left"
            />
          </div>
          <div style="top: 50%; right: 16px; position: absolute">
            <img
              src="{{ previewImage1 }}"
              height="50"
              width="300px"
              alt="background image"
              *ngIf="header_image_logo && header_text_center_right"
            />
          </div>

          <p
            style="
              width: 400px;
              word-break: break-all;
              bottom: 8px;
              right: 16px;
              position: absolute;
              font-weight: bold;
              text-align: right;
              font-size: 16px;
            "
            *ngIf="headeratextpplicable && bottom_right"
          >
            {{ headerText }}
          </p>
          <p
            style="
              width: 400px;
              word-break: break-all;
              bottom: 8px;
              left: 16px;
              position: absolute;
              font-weight: bold;
              font-size: 16px;
            "
            *ngIf="headeratextpplicable && bottom_left"
          >
            {{ headerText }}
          </p>
          <p
            style="
              width: 400px;
              word-break: break-all;
              bottom: 8px;
              left: 50%;
              transform: translateX(-50%);
              position: absolute;
              font-weight: bold;
              font-size: 16px;
            "
            *ngIf="headeratextpplicable && bottom_center"
          >
            {{ headerText }}
          </p>
          <p
            style="
              width: 400px;
              word-break: break-all;
              top: 50%;
              right: 16px;
              transform: translateY(-50%);
              position: absolute;
              font-weight: bold;
              font-size: 16px;
            "
            *ngIf="headeratextpplicable && center_right"
          >
            {{ headerText }}
          </p>
          <p
            style="
              width: 400px;
              word-break: break-all;
              top: 50%;
              left: 16px;
              transform: translateY(-50%);
              position: absolute;
              font-weight: bold;
              font-size: 16px;
            "
            *ngIf="headeratextpplicable && center_left"
          >
            {{ headerText }}
          </p>
          <p
            style="
              width: 400px;
              word-break: break-all;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              position: absolute;
              font-weight: bold;
              font-size: 16px;
              text-align: center;
            "
            *ngIf="headeratextpplicable && center_center"
          >
            {{ headerText }}
          </p>
          <p
            style="
              width: 400px;
              word-break: break-all;
              top: 8px;
              right: 16px;
              position: absolute;
              font-weight: bold;
              text-align: right;
              font-size: 16px;
            "
            *ngIf="headeratextpplicable && top_right"
          >
            {{ headerText }}
          </p>
          <p
            style="
              width: 400px;
              word-break: break-all;
              top: 8px;
              left: 16px;
              position: absolute;
              font-weight: bold;
              text-align: left;
              font-size: 16px;
            "
            *ngIf="headeratextpplicable && top_left"
          >
            {{ headerText }}
          </p>
          <p
            style="
              width: 400px;
              word-break: break-all;
              top: 8px;
              left: 50%;
              transform: translateX(-50%);
              position: absolute;
              font-weight: bold;
              font-size: 16px;
              text-align: center;
            "
            *ngIf="headeratextpplicable && top_center"
          >
            {{ headerText }}
          </p>
        </div>

        <hr style="border-top: 5px solid #000" *ngIf="headerapplicable" />
        <h4 style="text-align: center">
          <strong>{{ screenName }}</strong>
        </h4>

        <div class="table-container">
          <div class="table">
            <table style="margin-left: 1px common-table">
              <tr>
                <th>Buyer : {{ tenant_name }}</th>
              </tr>
              <tr>
                <td><strong>Address :</strong>{{ byer_adderess }}</td>
              </tr>
              <tr>
                <td><strong>GSTIN/UIN :</strong>{{ byer_gst_no }}</td>
              </tr>
            </table>
            <hr
              style="
                margin-top: 0;
                margin-bottom: 0;
                border-top: 2px solid #000;
              "
            />
            <table style="margin-left: 1px common-table">
              <tr>
                <th>Consignee : {{ tenant_name }}</th>
              </tr>
              <tr>
                <td><strong>Address : </strong>{{ byer_adderess }}</td>
              </tr>
              <tr>
                <td><strong>GSTIN/UIN : </strong>{{ byer_gst_no }}</td>
              </tr>
            </table>
          </div>
          <div class="table">
            <table style="margin-left: 1px common-table">
              <tr class="top-line">
                <td><b>PO No : </b>{{ po_no }}</td>

                <td><b>PO Date :</b>{{ po_date | date : "dd/MM/yyyy" }}</td>
              </tr>
              <tr class="top-line">
                <td><b>GRN No : </b>{{ grn_no }}</td>

                <td><b>GRN Date : </b>{{ grn_date | date : "dd/MM/yyyy" }}</td>
              </tr>
            </table>

            <hr
              style="
                margin-top: 0;
                margin-bottom: 0;
                border-top: 2px solid #000;
              "
            />
            <table style="margin-left: 1px common-table">
              <tr>
                <td><b>Supplier Name : </b>{{ supplier_name }}</td>
              </tr>
              <tr>
                <td><b>GSTIN/UIN : </b>{{ gst }}</td>
              </tr>
              <tr>
                <td><b>Address : </b>{{ supplier_adress }}</td>
              </tr>
              <tr>
                <td><strong>Vehicle No : </strong> {{ vehicle_no }}</td>
              </tr>
            </table>
          </div>
        </div>

        <div>
          <div class="bordered-table-container">
            <table class="bordered-table common-table">
              <thead>
                <tr>
                  <th>S.N.</th>
                  <th style="width: 40%; text-align: center">Item</th>
                  <th>HSN Code</th>
                  <th>UOM</th>
                  <th>Rate</th>
                  <th>PO Qty</th>
                  <th>Gatepass Qty</th>
                  <th>Received Qty</th>
                  <th>Accepted Qty</th>
                  <th>Rejected Qty</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let itemData of itemDataList; let i = index">
                  <td style="border-bottom: 1px solid black">{{ i + 1 }}</td>
                  <td style="text-align: center">{{ itemData.item_name }}</td>
                  <td>{{ itemData.hsn_sac_no }}</td>
                  <td>{{ itemData.uom }}</td>
                  <td style="text-align: right">
                    {{ itemData.rate | number : "1.2-2" }}
                  </td>
                  <td style="text-align: center">
                    {{ itemData.po_qty | number : "1.2-2" }}
                  </td>
                  <td style="text-align: center">
                    {{ itemData.quantity | number : "1.2-2" }}
                  </td>
                  <td style="text-align: center">
                    {{ itemData.received_qty | number : "1.2-2" }}
                  </td>
                  <td style="text-align: center">
                    {{ itemData.accepted_qty | number : "1.2-2" }}
                  </td>
                  <td style="text-align: center">
                    {{ itemData.rejected_qty | number : "1.2-2" }}
                  </td>
                  <td style="text-align: right">
                    {{ itemData.txn_currency_amount | number : "1.2-2" }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <hr style="border-top: 1px solid #000" />
          <p class="terms-conditions">
            <strong
              >Amount in Words :
              {{ convertToWords(getTotalAmountSum(itemDataList)) }}</strong
            >
          </p>
          <hr style="border-top: 1px solid #000" />

          <p class="terms-conditions"><strong>Remark :</strong></p>
          <p class="terms-conditions">{{ remark }}</p>

          <hr style="border-top: 1px solid #000" />

          <br /><br />
          <p style="text-align: right; font-size: 14px">
            <strong>Authorised Signatory</strong>
          </p>
        </div>
      </div>

      <hr style="border-top: 1px solid #000" *ngIf="footerapplicable" />

      <img
        width="100%"
        height="100"
        src="{{ previewImage2 }}"
        alt="background image"
        *ngIf="footer_full_image"
      />

      <div class="footer" *ngIf="NotFullImageFooter">
        <div style="top: 8px; right: 16px; position: absolute">
          <img
            src="{{ previewImage2 }}"
            height="50"
            width="400px"
            alt="background image"
            *ngIf="footer_image_logo && footer_image_top_right"
          />
        </div>
        <div style="top: 8px; left: 16px; position: absolute">
          <img
            src="{{ previewImage2 }}"
            height="50"
            width="300px"
            alt="background image"
            *ngIf="footer_image_logo && footer_image_top_left"
          />
        </div>
        <div style="top: 8px; left: 50%; position: absolute">
          <img
            src="{{ previewImage2 }}"
            height="50"
            width="300px"
            alt="background image"
            *ngIf="footer_image_logo && footer_image_top_center"
          />
        </div>
        <div style="bottom: 8px; right: 16px; position: absolute">
          <img
            src="{{ previewImage2 }}"
            height="50"
            width="300px"
            alt="background image"
            *ngIf="footer_image_logo && footer_image_bottom_right"
          />
        </div>
        <div style="bottom: 8px; left: 16px; position: absolute">
          <img
            src="{{ previewImage2 }}"
            height="50"
            width="300px"
            alt="background image"
            *ngIf="footer_image_logo && footer_image_bottom_left"
          />
        </div>
        <div style="bottom: 8px; left: 50%; position: absolute">
          <img
            src="{{ previewImage2 }}"
            height="50"
            width="300px"
            alt="background image"
            *ngIf="footer_image_logo && footer_image_bottom_center"
          />
        </div>
        <div style="top: 50%; left: 50%; position: absolute">
          <img
            src="{{ previewImage2 }}"
            height="50"
            width="300px"
            alt="background image"
            *ngIf="footer_image_logo && footer_image_center_center"
          />
        </div>
        <div style="top: 50%; left: 16px; position: absolute">
          <img
            src="{{ previewImage2 }}"
            height="50"
            width="300px"
            alt="background image"
            *ngIf="footer_image_logo && footer_image_center_left"
          />
        </div>
        <div style="top: 50%; right: 16px; position: absolute">
          <img
            src="{{ previewImage2 }}"
            height="50"
            width="300px"
            alt="background image"
            *ngIf="footer_image_logo && footer_image_center_right"
          />
        </div>

        <p
          style="
            width: 400px;
            word-break: break-all;
            bottom: 8px;
            right: 16px;
            position: absolute;
            font-weight: bold;
            text-align: right;
            font-size: 16px;
          "
          *ngIf="headeratextpplicable && bottom_right"
        >
          {{ headerText }}
        </p>
        <p
          style="
            width: 400px;
            word-break: break-all;
            bottom: 8px;
            left: 16px;
            position: absolute;
            font-weight: bold;
            font-size: 16px;
          "
          *ngIf="headeratextpplicable && bottom_left"
        >
          {{ headerText }}
        </p>
        <p
          style="
            width: 400px;
            word-break: break-all;
            bottom: 8px;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            font-weight: bold;
            font-size: 16px;
          "
          *ngIf="headeratextpplicable && bottom_center"
        >
          {{ headerText }}
        </p>
        <p
          style="
            width: 400px;
            word-break: break-all;
            top: 50%;
            right: 16px;
            transform: translateY(-50%);
            position: absolute;
            font-weight: bold;
            font-size: 16px;
          "
          *ngIf="headeratextpplicable && center_right"
        >
          {{ headerText }}
        </p>
        <p
          style="
            width: 400px;
            word-break: break-all;
            top: 50%;
            left: 16px;
            transform: translateY(-50%);
            position: absolute;
            font-weight: bold;
            font-size: 16px;
          "
          *ngIf="headeratextpplicable && center_left"
        >
          {{ headerText }}
        </p>
        <p
          style="
            width: 400px;
            word-break: break-all;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            font-weight: bold;
            font-size: 16px;
          "
          *ngIf="headeratextpplicable && center_center"
        >
          {{ headerText }}
        </p>
        <p
          style="
            width: 400px;
            word-break: break-all;
            top: 8px;
            right: 16px;
            position: absolute;
            font-weight: bold;
            text-align: right;
            font-size: 16px;
          "
          *ngIf="headeratextpplicable && top_right"
        >
          {{ headerText }}
        </p>
        <p
          style="
            width: 400px;
            word-break: break-all;
            top: 8px;
            left: 16px;
            position: absolute;
            font-weight: bold;
            text-align: left;
            font-size: 16px;
          "
          *ngIf="headeratextpplicable && top_left"
        >
          {{ headerText }}
        </p>
        <p
          style="
            width: 400px;
            word-break: break-all;
            top: 8px;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            font-weight: bold;
            font-size: 16px;
          "
          *ngIf="headeratextpplicable && top_center"
        >
          {{ headerText }}
        </p>
      </div>
    </div>
  </div>
  <div id="printButtonContainer" style="text-align: center">
    <div class="button-demo">
      <button
        class="btn btn-primary print"
        id="printPageButton"
        type="button"
        (click)="printComponent()"
      >
        Print
      </button>

      <button
        class="btn btn-danger"
        id="backButton"
        type="button"
        (click)="Back()"
      >
        Back
      </button>
    </div>
  </div>
</section>
