<form [formGroup]="qcParameterdetails">
  <div class=".big-model">
    <mat-dialog-content>
      <div class="header accordian">
        <p class="fas fa-angle-down example-accordion-item-description">
          <strong
            >Quality Details<span
              style="margin-left: 30px"
              class="fas fa-angle-down example-accordion-item-description"
            >
            </span
          ></strong>
        </p>
      </div>

      <div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" role="region">
          <div class="row clearfix">
            <div class="card">
              <div class="body">
                <div
                  class="table-responsive"
                  formArrayName="purchase_booking_sub_details"
                >
                  <table
                    id="tableExport1"
                    class="display table table-hover table-checkable order-column m-t-20 width-per-100 table-bordered"
                  >
                    <caption></caption>
                    <thead>
                      <tr>
                        <th style="text-align: center">Action</th>
                        <th style="text-align: center">No of Bags</th>
                        <th style="text-align: center">
                          Quantity ({{ uomName }})
                        </th>
                      </tr>
                    </thead>

                    <tbody class="main_tbody">
                      <tr
                        *ngFor="
                          let dynamic of formArrQcp['controls'];
                          let j = index
                        "
                        [formGroupName]="j"
                      >
                        <ng-container *ngIf="j === 0">
                          <td>
                            <button
                              type="button"
                              class="apply-button"
                              (click)="addNewRow()"
                              [disabled]="DisabledAdd"
                            >
                              <i class="fa fa-plus"></i>
                            </button>
                          </td>
                        </ng-container>
                        <ng-container *ngIf="j > 0">
                          <td>
                            <button
                              type="button"
                              class="apply-button-danger"
                              (click)="deleteRow(j)"
                            >
                              <i class="fa fa-minus"></i>
                            </button>
                          </td>
                        </ng-container>

                        <td class="col_input">
                          <mat-form-field class="example-full-width">
                            <mat-label>No of Bags </mat-label>
                            <input
                              matInput
                              formControlName="no_of_bags"
                              required
                              type="number"
                              step="0.01"
                              min="0"
                              oninput="validity.valid||(value='');"
                            />
                            <mat-error
                              *ngIf="
                                formArrQcp.controls[j]
                                  .get('no_of_bags')
                                  ?.hasError('required')
                              "
                              >No of Bags Required.</mat-error
                            >
                          </mat-form-field>
                        </td>

                        <td class="col_input">
                          <mat-form-field class="example-full-width">
                            <mat-label>Quantity</mat-label>
                            <input
                              matInput
                              required
                              formControlName="quantity"
                              type="number"
                              step="0.0001"
                              min="0"
                              oninput="validity.valid||(value='');"
                            />
                            <mat-error
                              *ngIf="
                                formArrQcp.controls[j]
                                  .get('quantity')
                                  ?.hasError('required')
                              "
                              >Quantity is Required.</mat-error
                            >
                          </mat-form-field>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="body" style="text-align: center">
        <div class="example-button-row">
          <button class="submit" (click)="onSubmit()" *ngIf="submitBtn">
            Submit
          </button>

          <button class="cancel" (click)="onCancelForm()">Close</button>
        </div>
      </div>
      <mat-dialog-content> </mat-dialog-content
    ></mat-dialog-content>
  </div>
</form>
