<section class="content">
  <div class="approval-container">
    <div class="header">
      <p>
        <strong>{{ capitalize(checkLastWord()) }} Report</strong>
      </p>
    </div>

    <div class="body">
      <div class="top">
        <div class="search">
          <i class="bi bi-search"></i>
          <input
            type="text"
            placeholder="Search in table"
            type="text"
            #filter
            (click)="searchIconClick()"
            class="browser-default search-field"
            aria-label="Search box"
          />
        </div>
        <button
          mat-mini-fab
          class="btn btn-primary small-button"
          style="background-color: #2c5a88 !important"
          (click)="refresh()"
        >
          <mat-icon class="col-white">refresh</mat-icon>
        </button>

        <!-- <div class="m-l-10" matTooltip="REFRESH">
          <button
            mat-mini-fab
            class="btn btn-primary small-button"
            style="background-color: #2c5a88 !important"
            (click)="refresh()"
          >
            <mat-icon class="col-white">refresh</mat-icon>
          </button>
        </div> -->

        <button (click)="exportExcel()">
          <img src="assets/usedimg/excel_icon.png" alt="" /> Download Excel
        </button>
      </div>
      <div class="data_table">
        <table class="table table-hover dashboard-task-infos">
          <thead>
            <tr>
              <th style="text-align: center; font-size: 14px; color: black">
                Sr. No
              </th>
              <th
                *ngIf="checkLastWord() === 'payable'"
                style="text-align: center; font-size: 14px; color: black"
              >
                Supplier/Agent Name
              </th>
              <th
                *ngIf="checkLastWord() !== 'payable'"
                style="text-align: center; font-size: 14px; color: black"
              >
                Customer Name
              </th>
              <th style="text-align: center; font-size: 14px; color: black">
                Mobile Number
              </th>
              <th style="text-align: center; font-size: 14px; color: black">
                Currency
              </th>
              <!-- <th class="dashboardtbl" style="text-align: center">
                      Transaction Amount
                    </th> -->
              <th
                *ngIf="checkLastWord() === 'payable'"
                style="text-align: center; font-size: 14px; color: black"
              >
                Payable Amount
              </th>
              <th *ngIf="checkLastWord() !== 'payable'">Outstanding Amount</th>
            </tr>
          </thead>

          <tbody>
            <ng-container *ngFor="let dynamic of reportData; let i = index">
              <tr>
                <td
                  style="text-align: center; color: #000; font-size: 14px"
                  (click)="dynamic.isExpand = !dynamic.isExpand"
                >
                  {{ i + 1 + (pageNumber - 1) * pageLimit }}
                  <i *ngIf="!dynamic.isExpand" class="fas fa-angle-right"></i>
                  <i *ngIf="dynamic.isExpand" class="fas fa-angle-down"></i>
                </td>
                <td style="text-align: center; color: #000; font-size: 14px">
                  {{ reportData[i]["supplier_name"] }}
                </td>
                <td style="text-align: center; color: #000; font-size: 14px">
                  {{ reportData[i]["mobile"] }}
                </td>
                <td style="text-align: center; color: #000; font-size: 14px">
                  {{ reportData[i]["currency_code"] }}
                </td>
                <!-- <td style="text-align: center">
                        <div>
                          {{ reportData[i]["txn_amount"] }}
                        </div>
                      </td> -->

                <td style="text-align: center; color: #000; font-size: 14px">
                  <div>
                    {{ reportData[i]["payable_amount"] | number }}
                  </div>
                </td>
              </tr>
              <tr *ngIf="dynamic.isExpand">
                <td colspan="6" class="margin-left-table">
                  <table class="table table-sm">
                    <thead>
                      <th
                        style="
                          text-align: center;
                          font-size: 14px;
                          color: black;
                          font-weight: 500;
                        "
                      >
                        Transaction Date
                      </th>

                      <th
                        style="
                          text-align: center;
                          font-size: 14px;
                          color: black;
                          font-weight: 500;
                        "
                        *ngIf="checkLastWord() === 'payable'"
                      >
                        Purchase/Expense/Payment Ref No
                      </th>
                      <th
                        style="
                          text-align: center;
                          font-size: 14px;
                          color: black;
                          font-weight: 500;
                        "
                        *ngIf="checkLastWord() !== 'payable'"
                      >
                        Invoice Ref No
                      </th>
                      <!-- <th class="dashboardtbl" style="text-align: center">
                              Mobile Number
                            </th> -->
                      <th
                        style="
                          text-align: center;
                          font-size: 14px;
                          color: black;
                          font-weight: 500;
                        "
                      >
                        Currency
                      </th>
                      <th
                        style="
                          text-align: center;
                          font-size: 14px;
                          color: black;
                          font-weight: 500;
                        "
                      >
                        Transaction Amount
                      </th>
                      <th
                        style="
                          text-align: center;
                          font-size: 14px;
                          color: black;
                          font-weight: 500;
                        "
                      >
                        Payable By
                      </th>
                      <!-- <th class="dashboardtbl" style="text-align: center">
                              Payable Amount
                            </th> -->
                    </thead>
                    <tbody>
                      <tr *ngFor="let row2 of dynamic.addresses; let i = index">
                        <td
                          style="
                            text-align: center;
                            font-size: 14px;
                            color: #000;
                          "
                        >
                          {{ row2.transaction_date }}
                        </td>
                        <!-- <td style="text-align: center">{{ i + 1 }}</td> -->
                        <td
                          style="
                            text-align: center;
                            color: #000;
                            font-size: 14px;
                          "
                        >
                          {{ row2.transaction_ref_no }}
                        </td>
                        <!-- <td style="text-align: center">
                                {{ row2.mobile }}
                              </td> -->
                        <td
                          style="
                            text-align: center;
                            color: #000;
                            font-size: 14px;
                          "
                        >
                          {{ row2.currency_code }}
                        </td>
                        <td
                          style="
                            text-align: center;
                            color: #000;
                            font-size: 14px;
                          "
                        >
                          {{ row2.txn_amount | number }}
                        </td>
                        <td
                          *ngIf="row2.payable_by === 'Payable By End Customer'"
                          style="text-align: center"
                        >
                          {{ row2.payable_by }}
                        </td>
                        <td
                          *ngIf="row2.payable_by !== 'Payable By End Customer'"
                          style="text-align: center"
                        ></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>

        <div class="no-data-found" *ngIf="isReportDataEmpty">
          <p>No data found.</p>
        </div>
        <div class="total-amount">
          <strong style="margin-right: 30px"
            >Total Amount : {{ sum_all }}</strong
          >
        </div>

        <div class="paginator">
          <div>
            <span style="font-size: 12px">Items Per Page:</span>&nbsp;
            <select
              id="itemsPerPage"
              [(ngModel)]="pageLimit"
              (change)="onPageSizeSelect()"
              style="
                font-size: 12px;
                width: 60px;
                background: #e6f4fa;
                height: 40px;
                border-radius: 5px;
                border: none;
              "
            >
              <option *ngFor="let size of pageSizes" [value]="size">
                {{ size }}
              </option>
            </select>
          </div>
          <div class="pagination-text" style="font-size: 12px">
            Page <span id="currentPage">{{ pageNumber }}</span>
          </div>
          <div class="pagination-icons">
            <app-feather-icons
              [icon]="'chevron-left'"
              (click)="prevPageClick()"
              [class]="'color-black'"
            ></app-feather-icons>
            <app-feather-icons
              [icon]="'chevron-right'"
              [class]="'color-black'"
              (click)="nextPageClick()"
            ></app-feather-icons>
          </div>
          <div class="loading-indicator" *ngIf="isLoading"></div>
        </div>
      </div>
    </div>
  </div>
</section>
