<section class="content" id="component1" #epltable style="margin: 0px 18px 0 18px">
    <div class="container" style="border: 1px solid black">
        <div class="card" style="page-break-after: always">
            <div class="header">
                <img src="{{ previewImage1 }}" height="100" style="width: 100%" alt="background image"
                    *ngIf="header_full_image" />

                <div style="height: 100px; position: relative" *ngIf="NotFullImage">
                    <div style="top: 8px; left: 16px; position: absolute">
                        <img src="{{ previewImage1 }}" height="50" width="300px" alt="background image"
                            *ngIf="header_image_logo && header_text_top_left" />
                    </div>
                    <div style="top: 8px; right: 16px; position: absolute">
                        <img src="{{ previewImage1 }}" height="50" width="300px" alt="background image"
                            *ngIf="header_image_logo && header_text_top_right" />
                    </div>
                    <div style="top: 8px; left: 50%; position: absolute">
                        <img src="{{ previewImage1 }}" height="50" width="300px" alt="background image"
                            *ngIf="header_image_logo && header_text_top_center" />
                    </div>
                    <div style="bottom: 8px; right: 16px; position: absolute">
                        <img src="{{ previewImage1 }}" height="50" width="300px" alt="background image"
                            *ngIf="header_image_logo && header_text_bottom_right" />
                    </div>
                    <div style="bottom: 8px; left: 16px; position: absolute">
                        <img src="{{ previewImage1 }}" height="50" width="300px" alt="background image"
                            *ngIf="header_image_logo && header_text_bottom_left" />
                    </div>
                    <div style="bottom: 8px; left: 50%; position: absolute">
                        <img src="{{ previewImage1 }}" height="50" width="300px" alt="background image"
                            *ngIf="header_image_logo && header_text_bottom_center" />
                    </div>
                    <div style="top: 50%; left: 50%; position: absolute">
                        <img src="{{ previewImage1 }}" height="50" width="300px" alt="background image"
                            *ngIf="header_image_logo && header_text_center_center" />
                    </div>
                    <div style="top: 50%; left: 16px; position: absolute">
                        <img src="{{ previewImage1 }}" height="50" width="300px" alt="background image"
                            *ngIf="header_image_logo && header_text_center_left" />
                    </div>
                    <div style="top: 50%; right: 16px; position: absolute">
                        <img src="{{ previewImage1 }}" height="50" width="300px" alt="background image"
                            *ngIf="header_image_logo && header_text_center_right" />
                    </div>

                    <p style="
                  width: 400px;
                  word-break: break-all;
                  bottom: 8px;
                  right: 16px;
                  position: absolute;
                  font-weight: bold;
                  text-align: right;
                  font-size: 16px;
                " *ngIf="headeratextpplicable && bottom_right">
                        {{ headerText }}
                    </p>
                    <p style="
                  width: 400px;
                  word-break: break-all;
                  bottom: 8px;
                  left: 16px;
                  position: absolute;
                  font-weight: bold;
                  font-size: 16px;
                " *ngIf="headeratextpplicable && bottom_left">
                        {{ headerText }}
                    </p>
                    <p style="
                  width: 400px;
                  word-break: break-all;
                  bottom: 8px;
                  left: 50%;
                  transform: translateX(-50%);
                  position: absolute;
                  font-weight: bold;
                  font-size: 16px;
                " *ngIf="headeratextpplicable && bottom_center">
                        {{ headerText }}
                    </p>
                    <p style="
                  width: 400px;
                  word-break: break-all;
                  top: 50%;
                  right: 16px;
                  transform: translateY(-50%);
                  position: absolute;
                  font-weight: bold;
                  font-size: 16px;
                " *ngIf="headeratextpplicable && center_right">
                        {{ headerText }}
                    </p>
                    <p style="
                  width: 400px;
                  word-break: break-all;
                  top: 50%;
                  left: 16px;
                  transform: translateY(-50%);
                  position: absolute;
                  font-weight: bold;
                  font-size: 16px;
                " *ngIf="headeratextpplicable && center_left">
                        {{ headerText }}
                    </p>
                    <p style="
                  width: 400px;
                  word-break: break-all;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  position: absolute;
                  font-weight: bold;
                  font-size: 16px;
                  text-align: center;
                " *ngIf="headeratextpplicable && center_center">
                        {{ headerText }}
                    </p>
                    <p style="
                  width: 400px;
                  word-break: break-all;
                  top: 8px;
                  right: 16px;
                  position: absolute;
                  font-weight: bold;
                  text-align: right;
                  font-size: 16px;
                " *ngIf="headeratextpplicable && top_right">
                        {{ headerText }}
                    </p>
                    <p style="
                  width: 400px;
                  word-break: break-all;
                  top: 8px;
                  left: 16px;
                  position: absolute;
                  font-weight: bold;
                  text-align: left;
                  font-size: 16px;
                " *ngIf="headeratextpplicable && top_left">
                        {{ headerText }}
                    </p>
                    <p style="
                  width: 400px;
                  word-break: break-all;
                  top: 8px;
                  left: 50%;
                  transform: translateX(-50%);
                  position: absolute;
                  font-weight: bold;
                  font-size: 16px;
                  text-align: center;
                " *ngIf="headeratextpplicable && top_center">
                        {{ headerText }}
                    </p>
                </div>

                <hr style="border-top: 5px solid #000" *ngIf="headerapplicable" />
                <h4 style="text-align: center">
                    <strong>{{ screenName }}</strong>
                </h4>
                <div class="body" class="over_flow">
                    <div class="card">
                        <div class="table-container">
                            <div class="table ;">
                                <table class="darker-border-table">
                                    <tr>
                                        <td><strong>Bill No : </strong>{{supplier_bill_no}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Date : </strong>{{date | date:'dd/MM/yyyy'}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Supplier Name : </strong>{{supplier_name}} </td>
                                    </tr>
                                    <tr>
                                        <td><strong>Supplier ID : </strong>{{supplier_id}}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="table">
                                <table class="darker-border-table">
                                    <tr>
                                        <td><strong>District : </strong>{{district_name}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Taluka : </strong>{{taluka_name}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Village : </strong>{{village_name}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Mobile No : </strong>{{phone_number}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div *ngFor="let itemData of itemDataList; let i=index;">
                            <hr style="border-top: 2px solid #090101" />
                            <table class="table table-bordered ; darker-border-table">
                                <thead>
                                    <tr>
                                        <th>UOM</th>
                                        <th>Total Qty </th>
                                        <th>Empty Bags Weight </th>
                                        <th>Net Qty </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>{{itemData.uom}} </td>
                                        <td>{{ itemData.quantity }}</td>
                                        <td>{{ itemData.empty_bag_weight }}</td>
                                        <td>{{ itemData.net_quantity }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-bordered ; darker-border-table">
                                <thead>
                                    <tr>
                                        <th>UOM</th>
                                        <th *ngFor="let detailsData of itemData.quality_details">{{detailsData.parameter
                                            }} </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>%</td>
                                        <td *ngFor="let detailsData of itemData.quality_details">
                                            {{detailsData.actual_value }}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="bordered-table-container">
                                <table class="bordered-table">
                                    <thead>
                                        <tr>
                                            <th>Sr. No.</th>
                                            <th style="width: 40%;">Item</th>
                                            <th style="width: 10%;">UOM</th>
                                            <th>Net Quantity</th>
                                            <th>Final Rate</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="border-bottom: 1px solid black;">{{i+1}}</td>
                                            <td style="text-align: left;">{{ itemData.name }}</td>
                                            <td style="text-align: left;">{{itemData.uom}}</td>
                                            <td style="text-align: right;">{{itemData.net_quantity | number:'1.4-4'}}
                                            </td>
                                            <td style="text-align: right;">{{ itemData.rate | number:'1.2-2' }}</td>
                                            <td style="text-align: right;">{{ (itemData.net_quantity * itemData.rate) | number:'1.2-2' }}</td>
                                        </tr>
                                        <tr style="height: 10px;">
                                            <td style="text-align: right;"></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td style="text-align: left;"><strong>Labour Charges</strong></td>
                                            <td style="text-align: right;"><strong>-{{itemData.labour_charges | number:'1.2-2'}}</strong></td>
                                        </tr>
                                        <tr style="height: 10px;">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td style="text-align: left;"><strong>Total</strong></td>
                                            <td style="text-align: right;"><strong>{{ (itemData.net_quantity * itemData.rate)-itemData.labour_charges | number:'1.2-2'}}</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="bordered-table invoice-border-table">
                                    <thead>
                                        <tr>
                                            <th rowspan="2">Item</th>
                                            <th rowspan="2">HSN/SAC</th>
                                            <th colspan="2">IGST </th>
                                            <th colspan="2">CGST</th>
                                            <th colspan="2">SGST</th>
                                            <th rowspan="2">Tax Amount</th>
                                            <th rowspan="2">Grand Total</th>
                                        </tr>
                                        <tr>
                                            <th>Rate</th>
                                            <th>Amount</th>
                                            <th>Rate</th>
                                            <th>Amount</th>
                                            <th>Rate</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{ itemData.name }}</td>
                                            <td>{{ itemData.hsn_sac_no }}</td>
                                            <td>{{ (itemData.txn_currency_igst_rate)  }}</td>
                                            <td>{{ itemData.txn_currency_igst_amount | number:'1.2-2' }}</td>
                                            <td>{{ itemData.txn_currency_cgst_rate }}</td>
                                            <td>{{ itemData.txn_currency_cgst_amount | number:'1.2-2' }}</td>
                                            <td>{{ itemData.txn_currency_sgst_rate }}</td>
                                            <td>{{ itemData.txn_currency_sgst_amount | number:'1.2-2' }}</td>
                                            <td>{{ itemData.txn_currency_tax_amount | number:'1.2-2' }}</td>
                                            <td><strong>{{ ((itemData.net_quantity * itemData.rate) - itemData.labour_charges) + itemData.txn_currency_tax_amount | number:'1.2-2' }}</strong></td>
                                        </tr>
                                    </tbody>
                                </table>  
                                <!-- <div>
                                    <p><strong>Amount in Words :</strong> {{ convertToWords((itemData.net_quantity * itemData.rate) - itemData.labour_charges + itemData.txn_currency_tax_amount) }}.</p>
                                </div>-->
                            </div>
                        </div>
                        <div style="margin-top: 2%;">
                            <p><strong>Amount in Words :</strong> {{ grand_total !== undefined ? convertToWords(grand_total) : 'N/A' }}</p>
                        </div> 
                    </div>
     
                    <br/><br/><br/><br/>

                    <div style="display: flex; align-items: center ;text-align: center;">
                        <div style="width: 350px; padding-right: 10px">
                            <hr style="border-top: 1px solid #000" />
                            <strong>Supplier Signature</strong>
                        </div>
                        <div style="width: 20px"></div>
                        <div style="width: 350px; padding-right: 10px">
                            <hr style="border-top: 1px solid #000" />
                            <strong>Authorised Signatory</strong>
                        </div>
                        <div style="width: 20px"></div>
                    </div>
                </div>
            </div>

            <hr style="border-top: 1px solid #000" *ngIf="footerapplicable" />

            <img width="100%" height="100" src="{{ previewImage2 }}" alt="background image" *ngIf="footer_full_image" />

            <div class="footer" *ngIf="NotFullImageFooter">
                <div style="top: 8px; right: 16px; position: absolute">
                    <img src="{{ previewImage2 }}" height="50" width="400px" alt="background image"
                        *ngIf="footer_image_logo && footer_image_top_right" />
                </div>
                <div style="top: 8px; left: 16px; position: absolute">
                    <img src="{{ previewImage2 }}" height="50" width="300px" alt="background image"
                        *ngIf="footer_image_logo && footer_image_top_left" />
                </div>
                <div style="top: 8px; left: 50%; position: absolute">
                    <img src="{{ previewImage2 }}" height="50" width="300px" alt="background image"
                        *ngIf="footer_image_logo && footer_image_top_center" />
                </div>
                <div style="bottom: 8px; right: 16px; position: absolute">
                    <img src="{{ previewImage2 }}" height="50" width="300px" alt="background image"
                        *ngIf="footer_image_logo && footer_image_bottom_right" />
                </div>
                <div style="bottom: 8px; left: 16px; position: absolute">
                    <img src="{{ previewImage2 }}" height="50" width="300px" alt="background image"
                        *ngIf="footer_image_logo && footer_image_bottom_left" />
                </div>
                <div style="bottom: 8px; left: 50%; position: absolute">
                    <img src="{{ previewImage2 }}" height="50" width="300px" alt="background image"
                        *ngIf="footer_image_logo && footer_image_bottom_center" />
                </div>
                <div style="top: 50%; left: 50%; position: absolute">
                    <img src="{{ previewImage2 }}" height="50" width="300px" alt="background image"
                        *ngIf="footer_image_logo && footer_image_center_center" />
                </div>
                <div style="top: 50%; left: 16px; position: absolute">
                    <img src="{{ previewImage2 }}" height="50" width="300px" alt="background image"
                        *ngIf="footer_image_logo && footer_image_center_left" />
                </div>
                <div style="top: 50%; right: 16px; position: absolute">
                    <img src="{{ previewImage2 }}" height="50" width="300px" alt="background image"
                        *ngIf="footer_image_logo && footer_image_center_right" />
                </div>

                <p style="
                width: 400px;
                word-break: break-all;
                bottom: 8px;
                right: 16px;
                position: absolute;
                font-weight: bold;
                text-align: right;
                font-size: 16px;
              " *ngIf="headeratextpplicable && bottom_right">
                    {{ headerText }}
                </p>
                <p style="
                width: 400px;
                word-break: break-all;
                bottom: 8px;
                left: 16px;
                position: absolute;
                font-weight: bold;
                font-size: 16px;
              " *ngIf="headeratextpplicable && bottom_left">
                    {{ headerText }}
                </p>
                <p style="
                width: 400px;
                word-break: break-all;
                bottom: 8px;
                left: 50%;
                transform: translateX(-50%);
                position: absolute;
                font-weight: bold;
                font-size: 16px;
              " *ngIf="headeratextpplicable && bottom_center">
                    {{ headerText }}
                </p>
                <p style="
                width: 400px;
                word-break: break-all;
                top: 50%;
                right: 16px;
                transform: translateY(-50%);
                position: absolute;
                font-weight: bold;
                font-size: 16px;
              " *ngIf="headeratextpplicable && center_right">
                    {{ headerText }}
                </p>
                <p style="
                width: 400px;
                word-break: break-all;
                top: 50%;
                left: 16px;
                transform: translateY(-50%);
                position: absolute;
                font-weight: bold;
                font-size: 16px;
              " *ngIf="headeratextpplicable && center_left">
                    {{ headerText }}
                </p>
                <p style="
                width: 400px;
                word-break: break-all;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                position: absolute;
                font-weight: bold;
                font-size: 16px;
              " *ngIf="headeratextpplicable && center_center">
                    {{ headerText }}
                </p>
                <p style="
                width: 400px;
                word-break: break-all;
                top: 8px;
                right: 16px;
                position: absolute;
                font-weight: bold;
                text-align: right;
                font-size: 16px;
              " *ngIf="headeratextpplicable && top_right">
                    {{ headerText }}
                </p>
                <p style="
                width: 400px;
                word-break: break-all;
                top: 8px;
                left: 16px;
                position: absolute;
                font-weight: bold;
                text-align: left;
                font-size: 16px;
              " *ngIf="headeratextpplicable && top_left">
                    {{ headerText }}
                </p>
                <p style="
                width: 400px;
                word-break: break-all;
                top: 8px;
                left: 50%;
                transform: translateX(-50%);
                position: absolute;
                font-weight: bold;
                font-size: 16px;
              " *ngIf="headeratextpplicable && top_center">
                    {{ headerText }}
                </p>
            </div>
        </div>
    </div>
    <div id="printButtonContainer" style="text-align: center">
        <div class="button-demo">
            <button class="btn btn-primary print" id="printPageButton" type="button" (click)="printComponent()">
                Print
            </button>

            <button class="btn btn-danger" id="backButton" type="button" (click)="Back()">
                Back
            </button>
        </div>
    </div>
</section>
