<div class="edit_pop_up">
  <div class="big-model">
    <div class="header">
      <p>{{ screenName }}</p>
      <button (click)="onCancelForm()">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
    <div class="body overflow_model">
      <div class="details-form">
        <form [formGroup]="invoiceForm">
          <div class="personal">
            <div class="row d-flex">
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Transaction Date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="transaction_date"
                    id="transaction_date"
                    placeholder="Transaction Date"
                    formControlName="transaction_date"
                    [(ngModel)]="todayDate"
                    required
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="transaction_date"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #transaction_date></mat-datepicker>
                  <mat-error
                    *ngIf="
                      invoiceForm.controls['transaction_date'].hasError(
                        'required'
                      )
                    "
                    >Transaction Date Is Required.</mat-error
                  >
                </mat-form-field>
              </div>

              <div class="col-md-3" *ngIf="viewEdit">
                <mat-form-field class="example-full-width">
                  <mat-label>Invoice Number</mat-label>
                  <input
                    matInput
                    id="transaction_ref_no"
                    placeholder="Enter Invoice Number"
                    formControlName="transaction_ref_no"
                    readonly
                  />
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Customer Name</mat-label>
                  <mat-select
                    formControlName="customer_ref_id"
                    id="customer_ref_id"
                    placeholder="Select Customer Name"
                    (selectionChange)="customerChange($event.value)"
                    required
                  >
                    <mat-select-filter
                      [placeholder]="'Search'"
                      [displayMember]="'key'"
                      [array]="customerData"
                      (filteredReturn)="filterCustomerData = $event"
                    ></mat-select-filter>
                    <mat-option
                      *ngFor="let data of filterCustomerData"
                      [value]="data.id"
                      style="padding-top: 8px; padding-bottom: 8px"
                    >
                      {{ data.key }}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="
                      invoiceForm.controls['customer_ref_id'].hasError(
                        'required'
                      )
                    "
                    >Customer name Is Required.</mat-error
                  >
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Sales Order</mat-label>
                  <mat-select
                    formControlName="so_ref_id"
                    id="so_ref_id"
                    placeholder="Select Sales Order"
                    (selectionChange)="soChange($event.value)"
                    required
                  >
                    <mat-select-filter
                      [placeholder]="'Search'"
                      [displayMember]="'transaction_ref_no'"
                      [array]="soData"
                      (filteredReturn)="filterSoData = $event"
                    ></mat-select-filter>
                    <mat-option
                      *ngFor="let data of filterSoData"
                      [value]="data.id"
                      style="padding-top: 8px; padding-bottom: 8px"
                    >
                      {{ data.transaction_ref_no }}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="
                      invoiceForm.controls['so_ref_id'].hasError('required')
                    "
                    >Sales Order Is Required.</mat-error
                  >
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Dispatch Note</mat-label>
                  <mat-select
                    formControlName="dispatch_note_ref_id"
                    id="dispatch_note_ref_id"
                    placeholder="Select Dispatch Note"
                    (selectionChange)="dispatchNoteChange($event.value)"
                    required
                  >
                    <mat-select-filter
                      [placeholder]="'Search'"
                      [displayMember]="'transaction_ref_no'"
                      [array]="dispatchNoteData"
                      (filteredReturn)="filterDispatchNoteData = $event"
                    ></mat-select-filter>
                    <mat-option
                      *ngFor="let data of filterDispatchNoteData"
                      [value]="data.id"
                      style="padding-top: 8px; padding-bottom: 8px"
                    >
                      {{ data.transaction_ref_no }}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="
                      invoiceForm.controls['dispatch_note_ref_id'].hasError(
                        'required'
                      )
                    "
                    >Dispatch Note Is Required.</mat-error
                  >
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Customer Bill To</mat-label>
                  <mat-select
                    formControlName="customer_bill_to"
                    id="customer_bill_to"
                    placeholder="Select Customer Bill To"
                  >
                    <mat-option
                      *ngFor="let data of billAddress"
                      [value]="data.id"
                      style="padding-top: 8px; padding-bottom: 8px"
                    >
                      {{ data.address }}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="
                      invoiceForm.controls['customer_bill_to'].hasError(
                        'required'
                      )
                    "
                    >Customer Billing Address Is Required.</mat-error
                  >
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Customer Ship To</mat-label>
                  <mat-select
                    formControlName="customer_ship_to"
                    id="customer_ship_to"
                    placeholder="Select Customer Ship To"
                  >
                    <mat-option
                      *ngFor="let data of shipAddress"
                      [value]="data.id"
                      style="padding-top: 8px; padding-bottom: 8px"
                    >
                      {{ data.address }}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="
                      invoiceForm.controls['customer_ship_to'].hasError(
                        'required'
                      )
                    "
                    >Customer Shipping Address Is Required.</mat-error
                  >
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Sales Order Type</mat-label>
                  <mat-select
                    formControlName="so_type_ref_id"
                    id="so_type_ref_id"
                    placeholder="Select Sales Order Type"
                  >
                    <mat-option
                      *ngFor="let data of soTypeData"
                      [value]="data.id"
                    >
                      {{ data.master_value }}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="
                      invoiceForm.controls['so_type_ref_id'].hasError(
                        'required'
                      )
                    "
                    >Sales Order Type Is Required.</mat-error
                  >
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Agent Name</mat-label>
                  <mat-select
                    formControlName="agent_ref_id"
                    id="agent_ref_id"
                    placeholder="Select Agent Name"
                    (selectionChange)="agentChange($event.value)"
                  >
                    <mat-select-filter
                      [placeholder]="'Search'"
                      [displayMember]="'key'"
                      [array]="agentData"
                      (filteredReturn)="filterAgentData = $event"
                    ></mat-select-filter>
                    <mat-option [value]="empty_value"
                      >Select Agent Name</mat-option
                    >
                    <mat-option
                      *ngFor="let data of filterAgentData"
                      [value]="data.id"
                      style="padding-top: 8px; padding-bottom: 8px"
                    >
                      {{ data.key }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div
                class="col-md-3"
                matTooltip="This will be filled automatically"
              >
                <mat-form-field class="example-full-width">
                  <mat-label>Grand Total Amount</mat-label>
                  <input
                    matInput
                    id="txn_currency_grand_total_amount"
                    placeholder="Enter Grand Total Amount"
                    formControlName="txn_currency_grand_total_amount"
                    required
                    readonly
                  />
                  <mat-error
                    *ngIf="
                      invoiceForm.controls[
                        'txn_currency_grand_total_amount'
                      ].hasError('required')
                    "
                  >
                    Grand Total Amount Is Required.</mat-error
                  >
                </mat-form-field>
              </div>
              <div
                class="col-md-3"
                *ngIf="is_commission"
                matTooltip="This will be filled automatically"
              >
                <mat-form-field class="example-full-width">
                  <mat-label>FPC Commission Total Amount</mat-label>
                  <input
                    matInput
                    placeholder="FPC Commission Total Amount"
                    formControlName="fpc_commision_total_amt"
                    readonly
                  />
                  <mat-error
                    *ngIf="
                      invoiceForm.controls['fpc_commision_total_amt'].hasError(
                        'required'
                      )
                    "
                    >FPC Commission Total Amount Is Required.</mat-error
                  >
                </mat-form-field>
              </div>

              <div
                class="col-md-3"
                *ngIf="is_commission"
                matTooltip="This will be filled automatically"
              >
                <mat-form-field class="example-full-width">
                  <mat-label>FPC Commission Tax Rate</mat-label>
                  <input
                    matInput
                    placeholder="FPC Commission Tax Rate"
                    formControlName="fpc_commision_tax_rate"
                    readonly
                  />
                  <mat-error
                    *ngIf="
                      invoiceForm.controls['fpc_commision_tax_rate'].hasError(
                        'required'
                      )
                    "
                    >FPC Commission Tax Rate Is Required.</mat-error
                  >
                </mat-form-field>
              </div>

              <div
                class="col-md-3"
                *ngIf="is_commission"
                matTooltip="This will be filled automatically"
              >
                <mat-form-field class="example-full-width">
                  <mat-label>FPC Commission Tax Amount</mat-label>
                  <input
                    matInput
                    placeholder="FPC Commission Tax Amount"
                    formControlName="fpc_commision_tax_amount"
                    readonly
                  />
                  <mat-error
                    *ngIf="
                      invoiceForm.controls['fpc_commision_tax_amount'].hasError(
                        'required'
                      )
                    "
                    >FPC Commission Tax Amount Is Required.</mat-error
                  >
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Division</mat-label>
                  <mat-select formControlName="division_ref_id">
                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of DivisionData"
                      >{{ obj.key }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Department</mat-label>
                  <mat-select formControlName="department_ref_id">
                    <mat-option [value]="">Select Department Name</mat-option>
                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of DepartmentData"
                      >{{ obj.key }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Type Of Sale</mat-label>
                  <mat-select formControlName="sale_type_ref_id">
                    <mat-option [value]="">Select Sale Type</mat-option>

                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of SaleTypeData"
                      >{{ obj.key }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Location</mat-label>
                  <mat-select formControlName="location_ref_id">
                    <mat-option [value]="">Select Location</mat-option>

                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of LocationData"
                      >{{ obj.key }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Transaction Currency</mat-label>
                  <mat-select formControlName="txn_currency">
                    <mat-option
                      [value]="obj.id"
                      *ngFor="let obj of CurrencyData"
                      >{{ obj.currency_code }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>

              <cdk-accordion>
                <cdk-accordion-item
                  #accordionItem="cdkAccordionItem"
                  tabindex="0"
                  [attr.id]="'accordion-header-'"
                  [attr.aria-expanded]="accordionItem.expanded"
                  [attr.aria-controls]="'accordion-body-'"
                >
                  <div (click)="accordionItem.toggle()">
                    <div class="header accordian">
                      <p
                        class="fas fa-angle-down example-accordion-item-description"
                      >
                        <i class="bi bi-chevron-down"></i>
                        <strong
                          >Additional Details<span
                            class="fas fa-angle-down example-accordion-item-description"
                          >
                          </span>
                        </strong>
                      </p>
                    </div>
                  </div>
                  <div [formGroup]="invoiceForm">
                    <div
                      role="region"
                      [style.display]="accordionItem.expanded ? '' : 'none'"
                      [attr.id]="'accordion-body-'"
                      [attr.aria-labelledby]="'accordion-header-'"
                      class="row clearfix"
                    >
                      <div class="card">
                        <div class="body">
                          <div class="row clearfix">
                            <div class="col-md-3">
                              <mat-form-field class="example-full-width">
                                <mat-label>E-way Bill Number</mat-label>
                                <input
                                  matInput
                                  id="e_way_bill_no"
                                  placeholder="Enter E-way Bill Number"
                                  formControlName="e_way_bill_no"
                                />
                                <mat-error
                                  *ngIf="
                                    invoiceForm.controls[
                                      'e_way_bill_no'
                                    ].hasError('required')
                                  "
                                  >E-way Bill Number Is Required.</mat-error
                                >
                              </mat-form-field>
                            </div>

                            <div class="col-md-3">
                              <mat-form-field class="example-full-width">
                                <mat-label>Packaging Charges</mat-label>
                                <input
                                  matInput
                                  id="txn_currency_packaging_charges"
                                  placeholder="Enter Packaging Charges"
                                  formControlName="txn_currency_packaging_charges"
                                  (change)="chargesChange()"
                                />
                              </mat-form-field>
                            </div>

                            <div class="col-md-3">
                              <mat-form-field class="example-full-width">
                                <mat-label>Insurance Charges</mat-label>
                                <input
                                  matInput
                                  id="txn_currency_insurance_charges"
                                  placeholder="Enter Insurance Charges"
                                  formControlName="txn_currency_insurance_charges"
                                  (change)="chargesChange()"
                                />
                              </mat-form-field>
                            </div>

                            <div class="col-md-3" *ngIf="isTransportationView">
                              <mat-form-field class="example-full-width">
                                <mat-label>Transportation Charges</mat-label>
                                <input
                                  matInput
                                  id="txn_currency_freight_charges"
                                  placeholder="Enter Transportation Charges"
                                  formControlName="txn_currency_freight_charges"
                                  (change)="chargesChange()"
                                />
                              </mat-form-field>
                            </div>

                            <div
                              class="col-md-3"
                              matTooltip="This will be filled automatically"
                            >
                              <mat-form-field class="example-full-width">
                                <mat-label>Sub Total Amount</mat-label>
                                <input
                                  matInput
                                  id="txn_currency_sub_total_amount"
                                  placeholder="Enter Sub Total Amount"
                                  formControlName="txn_currency_sub_total_amount"
                                  required
                                  readonly
                                />
                                <mat-error
                                  *ngIf="
                                    invoiceForm.controls[
                                      'txn_currency_sub_total_amount'
                                    ].hasError('required')
                                  "
                                  >Sub Total Amount Is Required.</mat-error
                                >
                              </mat-form-field>
                            </div>

                            <div
                              class="col-md-3"
                              matTooltip="This will be filled automatically"
                            >
                              <mat-form-field class="example-full-width">
                                <mat-label>Tax Rate</mat-label>
                                <input
                                  matInput
                                  id="tax_rate"
                                  placeholder="Enter Tax Rate"
                                  formControlName="tax_rate"
                                  required
                                  readonly
                                />
                                <mat-error
                                  *ngIf="
                                    invoiceForm.controls['tax_rate'].hasError(
                                      'required'
                                    )
                                  "
                                  >Tax Rate Is Required.</mat-error
                                >
                              </mat-form-field>
                            </div>

                            <div
                              class="col-md-3"
                              matTooltip="This will be filled automatically"
                            >
                              <mat-form-field class="example-full-width">
                                <mat-label>Tax Amount</mat-label>
                                <input
                                  matInput
                                  id="txn_currency_tax_amount"
                                  placeholder="Enter Tax Amount"
                                  formControlName="txn_currency_tax_amount"
                                  required
                                  readonly
                                />
                                <mat-error
                                  *ngIf="
                                    invoiceForm.controls[
                                      'txn_currency_tax_amount'
                                    ].hasError('required')
                                  "
                                >
                                  Tax Amount Is Required.</mat-error
                                >
                              </mat-form-field>
                            </div>

                            <div
                              class="col-md-3"
                              matTooltip="This will be filled automatically"
                            >
                              <mat-form-field class="example-full-width">
                                <mat-label>Total Transaction Amount</mat-label>
                                <input
                                  matInput
                                  id="txn_currency_total_transaction_amount"
                                  placeholder="Enter Total Transaction Amount"
                                  formControlName="txn_currency_total_transaction_amount"
                                  required
                                  readonly
                                />
                                <mat-error
                                  *ngIf="
                                    invoiceForm.controls[
                                      'txn_currency_total_transaction_amount'
                                    ].hasError('required')
                                  "
                                >
                                  Total Transaction Amount Is
                                  Required.</mat-error
                                >
                              </mat-form-field>
                            </div>
                            <div class="col-md-3" *ngIf="is_agent">
                              <div class="active-switch">
                                <mat-label>Agent Commission?</mat-label>
                                <div class="switch-container">
                                  <label>Rate</label>

                                  <label class="switch">
                                    <input
                                      checked=""
                                      type="checkbox"
                                      formControlName="agent_rate_percentage"
                                      (change)="isAgentCommissionRate($event)"
                                    />
                                    <div class="slider">
                                      <div class="circle">
                                        <svg
                                          class="cross"
                                          xml:space="preserve"
                                          style="
                                            enable-background: new 0 0 512 512;
                                          "
                                          viewBox="0 0 365.696 365.696"
                                          y="0"
                                          x="0"
                                          height="6"
                                          width="6"
                                          xmlns:xlink="http://www.w3.org/1999/xlink"
                                          version="1.1"
                                          xmlns="http://www.w3.org/2000/svg"
                                        >
                                          <g>
                                            <path
                                              data-original="#000000"
                                              fill="currentColor"
                                              d="M243.188 182.86 356.32 69.726c12.5-12.5 12.5-32.766 0-45.247L341.238 9.398c-12.504-12.503-32.77-12.503-45.25 0L182.86 122.528 69.727 9.374c-12.5-12.5-32.766-12.5-45.247 0L9.375 24.457c-12.5 12.504-12.5 32.77 0 45.25l113.152 113.152L9.398 295.99c-12.503 12.503-12.503 32.769 0 45.25L24.48 356.32c12.5 12.5 32.766 12.5 45.247 0l113.132-113.132L295.99 356.32c12.503 12.5 32.769 12.5 45.25 0l15.081-15.082c12.5-12.504 12.5-32.77 0-45.25zm0 0"
                                            ></path>
                                          </g>
                                        </svg>
                                        <svg
                                          class="checkmark"
                                          xml:space="preserve"
                                          style="
                                            enable-background: new 0 0 512 512;
                                          "
                                          viewBox="0 0 24 24"
                                          y="0"
                                          x="0"
                                          height="10"
                                          width="10"
                                          xmlns:xlink="http://www.w3.org/1999/xlink"
                                          version="1.1"
                                          xmlns="http://www.w3.org/2000/svg"
                                        >
                                          <g>
                                            <path
                                              class=""
                                              data-original="#000000"
                                              fill="currentColor"
                                              d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z"
                                            ></path>
                                          </g>
                                        </svg>
                                      </div>
                                    </div>
                                  </label>
                                  <label>Percenatge</label>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-3" *ngIf="is_agent">
                              <mat-form-field class="example-full-width">
                                <mat-label>Agent Commission</mat-label>
                                <input
                                  matInput
                                  id="agent_commission"
                                  placeholder="Enter Agent Commission"
                                  formControlName="agent_commission"
                                  required
                                  (change)="agentCommission()"
                                />
                                <mat-error
                                  *ngIf="
                                    invoiceForm.controls[
                                      'agent_commission'
                                    ].hasError('required')
                                  "
                                >
                                  Agent Commission Is Required.</mat-error
                                >
                              </mat-form-field>
                            </div>
                            <div
                              class="col-md-3"
                              *ngIf="is_agent"
                              matTooltip="This will be filled automatically"
                            >
                              <mat-form-field class="example-full-width">
                                <mat-label>Agent Commission Amount</mat-label>
                                <input
                                  matInput
                                  id="agent_commission_amount"
                                  placeholder="Enter Agent Commission Amount"
                                  formControlName="agent_commission_amount"
                                  required
                                  readonly
                                />
                                <mat-error
                                  *ngIf="
                                    invoiceForm.controls[
                                      'agent_commission_amount'
                                    ].hasError('required')
                                  "
                                >
                                  Agent Commission Amount Is
                                  Required.</mat-error
                                >
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </cdk-accordion-item>
              </cdk-accordion>

              <div>
                <div class="header accordian">
                  <p
                    class="fas fa-angle-down example-accordion-item-description"
                  >
                    <strong
                      >Invoice Details<span
                        class="fas fa-angle-down example-accordion-item-description"
                      >
                      </span
                    ></strong>
                  </p>
                </div>
              </div>
              <div [formGroup]="invoiceForm">
                <div class="card">
                  <div class="body">
                    <div class="row clearfix">
                      <div
                        class="table-responsive"
                        formArrayName="invoice_details"
                      >
                        <table
                          id="tableExport1"
                          class="display table table-hover table-checkable order-column m-t-20 width-per-100 table-bordered"
                        >
                          <caption></caption>
                          <thead>
                            <tr>
                              <th style="text-align: center">Item Name</th>
                              <th style="text-align: center">UOM</th>
                              <th style="text-align: center">Order Quantity</th>
                              <th style="text-align: center">
                                Dispatch Quantity
                              </th>
                              <th style="text-align: center">
                                Invoice Quantity
                              </th>
                              <th style="text-align: center">
                                Dispatch No Of Bags
                              </th>
                              <th style="text-align: center">Rate</th>
                              <th style="text-align: center">Amount</th>
                              <th style="text-align: center">Tax Rate</th>
                              <th style="text-align: center">Tax Amount</th>
                              <th
                                style="text-align: center"
                                *ngIf="is_commission"
                              >
                                Is FPC Commision Rate/Percentage?
                              </th>
                              <th
                                style="text-align: center"
                                *ngIf="is_commission"
                              >
                                FPC Commision
                              </th>
                              <th
                                style="text-align: center"
                                *ngIf="is_commission"
                              >
                                FPC Commission Amount
                              </th>
                              <th style="text-align: center">Total Amount</th>
                            </tr>
                          </thead>
                          <tbody class="main_tbody">
                            <tr
                              *ngFor="
                                let dynamic of formArr['controls'];
                                let j = index
                              "
                              [formGroupName]="j"
                            >
                              <td class="col_input">
                                <mat-form-field class="example-full-width">
                                  <mat-label>Item Name</mat-label>
                                  <mat-select
                                    formControlName="item_ref_id"
                                    id="item_ref_id{{ j + 1 }}"
                                    placeholder="Select Item Name"
                                  >
                                    <mat-option
                                      *ngFor="let data of itemData"
                                      [value]="data.id"
                                    >
                                      {{ data.name }}
                                    </mat-option>
                                  </mat-select>
                                  <mat-error
                                    *ngIf="
                                      formArr.controls[j]
                                        .get('item_ref_id')
                                        ?.hasError('required')
                                    "
                                    >Item Name Is Required.</mat-error
                                  >
                                </mat-form-field>
                              </td>

                              <td class="col_input">
                                <mat-form-field class="example-full-width">
                                  <mat-label>UOM</mat-label>
                                  <mat-select
                                    formControlName="uom"
                                    id="uom{{ j + 1 }}"
                                    placeholder="Select UOM"
                                  >
                                    <mat-option
                                      *ngFor="let data of uomData"
                                      [value]="data.id"
                                    >
                                      {{ data.uom_code }}
                                    </mat-option>
                                  </mat-select>
                                  <mat-error
                                    *ngIf="
                                      formArr.controls[j]
                                        .get('uom')
                                        ?.hasError('required')
                                    "
                                    >UOM Is Required.</mat-error
                                  >
                                </mat-form-field>
                              </td>

                              <td
                                class="col_input"
                                matTooltip="This will be filled automatically"
                              >
                                <mat-form-field class="example-full-width">
                                  <mat-label>Order Quantity</mat-label>
                                  <input
                                    matInput
                                    id="order_qty{{ j + 1 }}"
                                    placeholder="Enter Order Quantity"
                                    formControlName="order_qty"
                                    required
                                    readonly
                                  />
                                  <mat-error
                                    *ngIf="
                                      formArr.controls[j]
                                        .get('order_qty')
                                        ?.hasError('required')
                                    "
                                    >Order Quantity Is Required.</mat-error
                                  >
                                </mat-form-field>
                              </td>

                              <td
                                class="col_input"
                                matTooltip="This will be filled automatically"
                              >
                                <mat-form-field class="example-full-width">
                                  <mat-label>Dispatch Quantity</mat-label>
                                  <input
                                    matInput
                                    id="dispatch_qty{{ j + 1 }}"
                                    placeholder="Enter Dispatch Quantity"
                                    formControlName="dispatch_qty"
                                    required
                                    readonly
                                  />
                                  <mat-error
                                    *ngIf="
                                      formArr.controls[j]
                                        .get('dispatch_qty')
                                        ?.hasError('required')
                                    "
                                    >Dispatch Quantity Is Required.</mat-error
                                  >
                                </mat-form-field>
                              </td>
                              <td class="col_input">
                                <mat-form-field class="example-full-width">
                                  <mat-label>Invoice Quantity</mat-label>
                                  <input
                                    matInput
                                    id="invoice_qty{{ j + 1 }}"
                                    placeholder="Enter Invoice Quantity"
                                    formControlName="invoice_qty"
                                    required
                                    readonly
                                  />
                                  <mat-error
                                    *ngIf="
                                      formArr.controls[j]
                                        .get('invoice_qty')
                                        ?.hasError('required')
                                    "
                                    >Invoice Quantity Is Required.</mat-error
                                  >
                                </mat-form-field>
                              </td>

                              <td class="col_input">
                                <mat-form-field class="example-full-width">
                                  <mat-label>Dispatch No Of bags</mat-label>
                                  <input
                                    matInput
                                    id="dispatch_no_of_bags{{ j + 1 }}"
                                    placeholder="Enter Dispatch No Of bags"
                                    formControlName="dispatch_no_of_bags"
                                    required
                                    readonly
                                  />
                                  <mat-error
                                    *ngIf="
                                      formArr.controls[j]
                                        .get('dispatch_no_of_bags')
                                        ?.hasError('required')
                                    "
                                    >Dispatch No Of bags Is Required.</mat-error
                                  >
                                </mat-form-field>
                              </td>

                              <td class="col_input">
                                <mat-form-field class="example-full-width">
                                  <mat-label>Rate</mat-label>
                                  <input
                                    matInput
                                    id="rate{{ j + 1 }}"
                                    placeholder="Enter Rate"
                                    formControlName="rate"
                                    required
                                    readonly
                                  />
                                  <mat-error
                                    *ngIf="
                                      formArr.controls[j]
                                        .get('rate')
                                        ?.hasError('required')
                                    "
                                  >
                                    Rate is Required.</mat-error
                                  >
                                </mat-form-field>
                              </td>

                              <td class="col_input">
                                <mat-form-field class="example-full-width">
                                  <mat-label>Amount</mat-label>
                                  <input
                                    matInput
                                    id="txn_currency_amount{{ j + 1 }}"
                                    placeholder="Enter Amount"
                                    formControlName="txn_currency_amount"
                                    required
                                    readonly
                                  />
                                  <mat-error
                                    *ngIf="
                                      formArr.controls[j]
                                        .get('txn_currency_amount')
                                        ?.hasError('required')
                                    "
                                    >Amount Is Required.</mat-error
                                  >
                                </mat-form-field>
                              </td>

                              <td class="col_input">
                                <mat-form-field class="example-full-width">
                                  <mat-label>Tax Rate</mat-label>
                                  <input
                                    matInput
                                    id="tax_rate{{ j + 1 }}"
                                    placeholder="Enter Tax Rate"
                                    formControlName="tax_rate"
                                    required
                                    readonly
                                  />
                                  <mat-error
                                    *ngIf="
                                      formArr.controls[j]
                                        .get('tax_rate')
                                        ?.hasError('required')
                                    "
                                    >Tax Rate is Required.</mat-error
                                  >
                                </mat-form-field>
                              </td>

                              <td class="col_input">
                                <mat-form-field class="example-full-width">
                                  <mat-label>Tax Amount</mat-label>
                                  <input
                                    matInput
                                    id="txn_currency_tax_amount{{ j + 1 }}"
                                    placeholder="Enter Tax Amount"
                                    readonly
                                    formControlName="txn_currency_tax_amount"
                                    required
                                  />
                                  <mat-error
                                    *ngIf="
                                      formArr.controls[j]
                                        .get('txn_currency_tax_amount')
                                        ?.hasError('required')
                                    "
                                    >Tax Amount is Required.</mat-error
                                  >
                                </mat-form-field>
                              </td>

                              <td *ngIf="is_commission">
                                <div
                                  class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                >
                                  <mat-label>Rate</mat-label>
                                  <mat-slide-toggle
                                    formControlName="is_fpc_commission_rate_percentage"
                                    style="
                                      margin-left: 0.5rem;
                                      margin-right: 0.5rem;
                                      margin-top: 0.5rem;
                                    "
                                  >
                                    Percentage
                                  </mat-slide-toggle>
                                </div>
                              </td>
                              <td *ngIf="is_commission">
                                <mat-form-field class="example-full-width">
                                  <mat-label>FPC Commision</mat-label>
                                  <input
                                    matInput
                                    formControlName="fpc_commision"
                                    type="number"
                                    step="0.01"
                                    min="0"
                                    readonly
                                  />
                                  <mat-error
                                    *ngIf="
                                      formArr.controls[j]
                                        .get('fpc_commision')
                                        ?.hasError('required')
                                    "
                                    >FPC Commission Is Required.</mat-error
                                  >
                                </mat-form-field>
                              </td>
                              <td class="col_input" *ngIf="is_commission">
                                <mat-form-field class="example-full-width">
                                  <mat-label>FPC Commission Amount</mat-label>
                                  <input
                                    matInput
                                    placeholder="FPC Commission Amount"
                                    formControlName="fpc_commision_amt"
                                    id="fpc_commision_amt{{ j + 1 }}"
                                    readonly
                                  />
                                  <mat-error
                                    *ngIf="
                                      formArr.controls[j]
                                        .get('fpc_commision_amt')
                                        ?.hasError('required')
                                    "
                                    >FPC Commission Amount Is
                                    Required.</mat-error
                                  >
                                </mat-form-field>
                              </td>

                              <td class="col_input">
                                <mat-form-field class="example-full-width">
                                  <mat-label>Total Amount</mat-label>
                                  <input
                                    matInput
                                    id="txn_currency_transaction_amount{{
                                      j + 1
                                    }}"
                                    placeholder="Enter Total Amount"
                                    readonly
                                    formControlName="txn_currency_transaction_amount"
                                    required
                                  />
                                  <mat-error
                                    *ngIf="
                                      formArr.controls[j]
                                        .get('txn_currency_transaction_amount')
                                        ?.hasError('required')
                                    "
                                    >Total Amount is Required.</mat-error
                                  >
                                </mat-form-field>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="footer">
      <div class="left">
        <button class="cancel" (click)="onCancelForm()">Cancel</button>
      </div>
      <div class="right d-flex">
        <button
          class="send"
          (click)="onResetForm()"
          *ngIf="submitBtn"
          [disabled]="showLoader"
        >
          Reset
        </button>
        <button
          class="submit"
          (click)="onSubmit()"
          *ngIf="submitBtn"
          [disabled]="showLoader"
        >
          {{ btnVal }}
          <i class="fa fa-spinner fa-spin" *ngIf="showLoader"></i>
        </button>
      </div>
    </div>
  </div>
</div>
