<section class="content">
  <div class="approval-container">
    <div class="header">
      <p>
        <strong>{{ screenName }}</strong>
      </p>
      <div class="approval-form">
        <form [formGroup]="ledgerenquiryForm">
          <div class="row d-flex">
            <div class="col-md-3">
              <mat-form-field class="example-full-width">
                <mat-label>Select Account</mat-label>
                <mat-select formControlName="account_ref_id">
                  <mat-option
                    [value]="obj.id"
                    *ngFor="let obj of accountData"
                    >{{ obj.key }}</mat-option
                  >
                </mat-select>
                <mat-error
                  *ngIf="
                    ledgerenquiryForm.controls['account_ref_id'].hasError(
                      'required'
                    )
                  "
                >
                  Account Name is Required.</mat-error
                >
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="example-full-width">
                <mat-label>From Date</mat-label>
                <input
                  matInput
                  [matDatepicker]="from_date"
                  id="from_date"
                  placeholder="From Date"
                  formControlName="from_date"
                  [(ngModel)]="currentDate"
                  [min]="minDate"
                  [max]="maxDate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="from_date"
                ></mat-datepicker-toggle>
                <mat-datepicker #from_date></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="example-full-width">
                <mat-label>To Date</mat-label>
                <input
                  matInput
                  [matDatepicker]="to_date"
                  id="to_date"
                  placeholder="To Date"
                  formControlName="to_date"
                  [(ngModel)]="today"
                  [min]="minDate"
                  [max]="maxDate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="to_date"
                ></mat-datepicker-toggle>
                <mat-datepicker #to_date></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="row m-0 button-container">
              <button class="apply" (click)="onSubmit()">Apply</button>
              <button class="clear" (click)="ledgerenquiryForm.reset()">
                Clear Filter
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="body">
      <div class="top">
        <div class="search">
          <i class="bi bi-search"></i>
          <input type="text" placeholder="Search in table" name="" id="" />
        </div>
        <button (click)="exportExcel()">
          <img src="assets/usedimg/excel_icon.png" alt="" /> Download Excel
        </button>
      </div>
      <div>
        <div class="data_table">
          <table>
            <tr>
              <th>Sr. No</th>
              <th>Transaction Date</th>
              <th>Source</th>
              <th>Debit Amount (Dr.)</th>
              <th>Credit Amount (Cr.)</th>
            </tr>

            <tr *ngFor="let dynamic of ledgerEnquiryData; let i = index">
              <td style="color: #212121; font-size: 14px">
                {{ i + 1 }}
              </td>

              <td>
                {{ dynamic.transaction_date }}
              </td>
              <td>
                {{ dynamic.transaction_ref_no }}
              </td>
              <td>
                {{ dynamic.base_currency_debit_amount }}
              </td>
              <td>
                {{ dynamic.base_currency_credit_amount }}
              </td>
            </tr>
          </table>

          <div class="paginator">
            <div>
              <span style="font-size: 12px">Items Per Page:</span>&nbsp;
              <select
                id="itemsPerPage"
                [(ngModel)]="pageLimit"
                (change)="onPageSizeSelect()"
                style="
                  font-size: 12px;
                  width: 60px;
                  background: #e6f4fa;
                  height: 40px;
                  border-radius: 5px;
                  border: none;
                "
              >
                <option *ngFor="let size of pageSizes" [value]="size">
                  {{ size }}
                </option>
              </select>
            </div>
            <div class="pagination-text" style="font-size: 12px">
              Page <span id="currentPage">{{ pageNumber }}</span>
            </div>
            <div class="pagination-icons">
              <app-feather-icons
                [icon]="'chevron-left'"
                (click)="prevPageClick()"
                [class]="'color-black'"
              ></app-feather-icons>
              <app-feather-icons
                [icon]="'chevron-right'"
                [class]="'color-black'"
                (click)="nextPageClick()"
              ></app-feather-icons>
            </div>
            <div class="loading-indicator" *ngIf="isLoading"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
