.approval-container .data_table {
  display: flex;
  flex-direction: column;
  position: relative;
}
.approval-container .data_table table {
  width: 100%;
  border-collapse: collapse;
  color: var(--grey-900, #212121);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}

//paginator css//
.approval-container .paginator {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  margin-right: 10px;
}
.approval-container .paginator div {
  margin-right: 20px;
}

.approval-container .paginator .pagination-icons {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.approval-container .paginator .pagination-icons span:hover {
  color: #101011;
}

.approval-container .row.d-flex {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.approval-container .button-container button.apply,
.approval-container .button-container button.clear {
  font-size: 15px;
  padding: 6px 16px;
  margin-right: -12px;
  height: 40px;
  min-width: 40px;
  margin-left: 14px;
}

.approval-container .col-md-3 .example-full-width {
  margin-bottom: 24px;
}
.mat-form-field {
  width: 100%;
  box-sizing: border-box;
}

.mat-label {
  transform: translateY(0);
  font-size: 14px;
  padding: 0 8px;
}
.mat-form-field.your-custom-class {
  width: 100%;
  box-sizing: border-box;
}

.approval-container .paginator .loading-indicator {
  width: 40px;
  height: 40px;
  border: 3px solid #ccc;
  border-radius: 50%;
  border-top: 3px solid #3498db;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
