* {
  margin: 0;
  padding: 0;
  font-family: "Mukta", sans-serif;
}
body {
  // background-color: #f5f5f5;
}

@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import "node_modules/ngx-toastr/toastr.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.status-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}
.mat-mdc-option.mdc-list-item {
  background: var(--blue-50, #e6f4fa);
}
.mat-filter {
  background-color: var(--blue-50, #e6f4fa) !important;
  position: sticky !important;
  top: -15px !important;
}

.mat-filter-input {
  border: 1px solid var(--blue-50, #e6f4fa) !important;
  top: -1px !important;
}
.color-black {
  color: black;
}
.theme-green .card .header h2 strong {
  color: #000000 !important;
}

.approval-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}
.approval-container .header {
  border-bottom: 1px solid var(--grey-300, #e0e0e0);
}
.approval-container p {
  padding: 16px 20px;
  color: var(--grey-900, #212121);
  margin: 0;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}
.approval-container .interaction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px;
}
.approval-container .interaction .new_employee {
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  background: var(--blue-800, #3d79a9);
  color: var(--grey-0, #fff);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 137.5% */
  border: none;
  outline: none;
}
.approval-container .interaction .new_employee1 {
  display: flex;
  padding: 10px 16px;
}
.approval-container .interaction .search {
  border-radius: 8px;
  background: var(--blue-50, #e6f4fa);
  display: flex;
  width: 233px;
  padding: 8px 12px;
  align-items: center;
  gap: 8px;
}
.approval-container .interaction .search .bi-search {
  color: gray;
  font-size: 18px;
  //   height: 20px;
  margin: 0;
  padding: 0;
}
.approval-container .interaction .search input {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--grey-700, #666);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.approval-container .interaction .end {
  align-items: center;

  display: flex;
  gap: 20px;
}
.approval-container .interaction .end button {
  color: var(--blue-900, #2c5a88);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  margin: 0;
  padding: 0;
  font-weight: 700;
  outline: none;
  border: none;
  background-color: transparent;
}

.approval-container .interaction .end button img {
  height: 20px;
  width: 20px;
}
.approval-form {
  padding: 16px 20px;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}
.approval-form form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.approval-form form .button-container {
  padding: 8px 0;
  display: flex;
  gap: 16px;
}
.approval-form form .apply {
  display: flex;
  width: 81px;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--blue-800, #3d79a9);
  color: var(--grey-0, #fff);
  text-align: center;
  font-family: Mukta;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  border: none;
  outline: none;
}

.approval-container .data_table {
  display: flex;
  flex-direction: column;
  position: relative;
}
.approval-container .data_table table {
  width: 100%;
  border-collapse: collapse;
  color: var(--grey-900, #212121);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}

//paginator css//
.approval-container .paginator {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  margin-right: 10px;
}
.approval-container .paginator div {
  margin-right: 20px;
}

.approval-container .paginator .pagination-icons {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.approval-container .paginator .pagination-icons span:hover {
  color: #101011;
}

.approval-container .row.d-flex {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.approval-container .button-container button.apply,
.approval-container .button-container button.clear {
  font-size: 15px;
  padding: 6px 16px;
  margin-right: -12px;
  height: 40px;
  min-width: 40px;
  margin-left: 14px;
}

.apply-button {
  display: flex;
  width: 81px;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--blue-800, #3d79a9);
  color: var(--grey-0, #fff);
  text-align: center;
  font-family: Mukta;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  border: none;
  outline: none;
}

.approval-form form .clear {
  width: 126px;
  display: flex;
  //   padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border: none;
  outline: none;
  border-radius: 8px;
  border: 1.6px solid var(--blue-800, #3d79a9);
  background: var(--blue-50, #e6f4fa);
  color: var(--blue-800, #3d79a9);
  text-align: center;
  font-family: Mukta;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}
.approval-form
  .mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined)
  .mat-mdc-form-field-infix {
  padding-top: 11px;
}
.approval-form .mat-mdc-form-field-subscript-wrapper {
  display: none;
}
.approval-form .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background: var(--blue-50, #e6f4fa);
  height: 48px;
  width: 100%;
}

.approval-form .mdc-text-field--disabled .mdc-text-field__input {
  color: #5f4747;
}

.approval-form .mat-mdc-select-disabled .mat-mdc-select-value {
  color: #5c4242;
}

.approval-form
  .mat-mdc-form-field:not(.mat-form-field-no-animations)
  .mdc-floating-label {
  margin-top: -3px;
}
.approval-container .body {
  width: 100%;
}
.approval-container .body .top {
  width: 100%;
  padding: 16px 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}
.approval-container .body button {
  color: var(--blue-900, #2c5a88);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  margin: 0;
  padding: 0;
  font-weight: 700;
  background-color: transparent;
  border: none;
  outline: none;
}
.approval-container .body .parameter-button {
  display: flex;
  width: 81px;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--blue-800, #3d79a9);
  color: var(--grey-0, #fff);
  text-align: center;
  font-family: Mukta;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  border: none;
  outline: none;
}

.approval-container .body .apply-button {
  display: flex;
  width: 45px;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--blue-800, #3d79a9);
  color: var(--grey-0, #fff);
  text-align: center;
  font-family: Mukta;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  border: none;
  outline: none;
}

.approval-container .body .apply-button-danger {
  display: flex;
  width: 81px;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--blue-800, #c51d17);
  color: var(--grey-0, #fff);
  text-align: center;
  font-family: Mukta;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  border: none;
  outline: none;
}
.approval-container .body button img {
  height: 20px;
  width: 20px;
}
.approval-container .body .search {
  border-radius: 8px;
  background: var(--blue-50, #e6f4fa);
  display: flex;
  width: 233px;
  padding: 8px 12px;
  align-items: center;
  gap: 8px;
}
.approval-container .body .search .bi-search {
  color: gray;
  font-size: 18px;
  //   height: 20px;
  margin: 0;
  padding: 0;
}
.approval-container .body .search input {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--grey-700, #666);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.approval-container .body {
}

.approval-container .data_table {
  display: flex;
  flex-direction: column;
}
.approval-container .data_table table {
  width: 100%;
  border-collapse: collapse;
  color: var(--grey-900, #212121);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  box-shadow: none;
}
.mat-elevation-z8,
.mat-mdc-elevation-specific.mat-elevation-z8 {
  box-shadow: none;
}
.approval-container .data_table .mat-mdc-text-field-wrapper {
  width: 100%;
  background: var(--blue-50, #e6f4fa);
  border: none;
  outline: none;
}
.approval-container .mdc-text-field--disabled .mdc-text-field__input {
  color: #5f4747;
}

.approval-container .mat-mdc-select-disabled .mat-mdc-select-value {
  color: #5c4242;
}

.approval-container .data_table .mdc-notched-outline {
  display: flex;
  position: absolute;
  top: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  /* box-sizing: border-box; */
  /* width: 100%; */
  /* max-width: 100%; */
  height: 1px;
  background-color: #2c5a88;
  text-align: left;
  pointer-events: none;
}
.approval-container .data_table table thead {
  // height: 60px;
  // border-top: 1px solid var(--grey-300, #e0e0e0);
  // border-bottom: 1px solid var(--grey-300, #e0e0e0);
  // background: var(--grey-100, #000000);
}
.approval-container .data_table table tr {
  height: 60px;
  border-bottom: 1px solid var(--grey-300, #e0e0e0);
}

.approval-container .data_table table tr th {
  background: var(--grey-100, #f5f5f5);
  // text-align: center;
}
.approval-container .data_table table tr td:nth-child(1),
.approval-container .data_table table .bi {
  font-size: 20px;
  color: #2c5a88;
}

// edit_pop_up
.col-md-3 {
  margin-bottom: 16px;
}
.edit_pop_up {
  width: 100%;
  // height: 100vh;
  // position: fixed;
  // overflow: hidden;
  // height: 300%;
  padding: 40px 0;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;

  left: 50%;
  transform: translate(-50%);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.big-model {
  display: flex;
  flex-direction: column;
  //   padding: 20px;
  width: 1120px;
  // height: 522px;
  background-color: white;
  border-radius: 8px;
}
.big-model .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  width: 100%;
  border-bottom: 1px solid var(--grey-300, #e0e0e0);
  padding: 0 20px;
}
.big-model .accordian {
  padding: 0px;
}
.fa-angle-down:before {
  content: none;
}
.big-model .header p {
  color: var(--grey-900, #212121);
  font-family: Mukta;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
  padding: 0;
}
.big-model .header button {
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
}
.big-model .header .bi {
  font-size: 20px;
  display: inline-block;
  height: 20px;
  color: #2c5a88;
}

.big-model .body {
  // padding: 16px 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.big-model .body .bank,
.big-model .body .personal,
.big-model .body .commodity,
.big-model .body .farmerdocument,
.big-model .body .land_details,
.big-model .body .address,
.big-model .body .sent_back {
  padding: 16px 20px;
  background: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.big-model .body .farmerdocument .content,
.big-model .body .land_details .content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.big-model .body .farmerdocument .content button,
.big-model .body .land_details .content button {
  display: flex;
  padding: 6px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: var(--blue-900, #2c5a88);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  background: transparent;
  outline: none;
  border: none;
}

.big-model .body .bank p,
.big-model .body .personal p,
.big-model .body .address p,
.big-model .body .commodity p,
.big-model .body .farmerdocument p,
.big-model .body .land_details p,
.big-model .body .sent_back p {
  color: var(--grey-900, #212121);
  font-family: Mukta;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 137.5% */
}

// farmer document table
.big-model .body .farmerdocument table th:nth-child(1) {
  width: 72px;
}
.big-model .body .farmerdocument table tr td:nth-child(1) {
  text-align: center;
}
.big-model .body .farmerdocument table th:nth-child(2),
.big-model .body .farmerdocument table th:nth-child(3),
.big-model .body .farmerdocument table th:nth-child(4) {
  width: 336px;
  padding: 12px 16px;
}
.big-model .body .farmerdocument table tr {
  border-top: 1px solid var(--grey-300, #e0e0e0);
}
.big-model .body .farmerdocument table tr td:nth-child(2),
.big-model .body .farmerdocument table tr td:nth-child(3),
.big-model .body .farmerdocument table tr td:nth-child(4) {
  width: 336px;
  padding: 12px 16px;
}
.big-model .body .farmerdocument table tr:nth-child(1) {
  // display: flex;
  height: 42px;
  padding: 12px 16px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  border-bottom: 1px solid var(--grey-300, #e0e0e0);
  border-top: 1px solid var(--grey-300, #e0e0e0);
  background: var(--grey-100, #f5f5f5);
}

// land details table
.big-model .body .land_details table tr:nth-child(1) {
  // display: flex;
  height: 42px;
  padding: 12px 16px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  border-bottom: 1px solid var(--grey-300, #e0e0e0);
  border-top: 1px solid var(--grey-300, #e0e0e0);
  background: var(--grey-100, #f5f5f5);
}
.big-model .body .land_details table tr {
  border-top: 1px solid var(--grey-300, #e0e0e0);
}
.big-model .body .land_details table tr:nth-child(1) th:nth-child(1) {
  width: 72px;
  padding: 12px 16px;
}
.big-model .body .land_details table tr td:nth-child(1) {
  width: 72px;
  text-align: center;
  padding: 12px 16px;
}

.big-model .body .land_details table tr:nth-child(1) th:nth-child(2) {
  width: 90px;
  padding: 12px 16px;
}
.big-model .body .bi-dash-square-fill {
  color: #ab2d25;
  font-size: 13.5px;
}

.big-model
  .body
  .land_details
  table
  tr
  td:nth-child(2)
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background: var(--blue-50, #e6f4fa);
  height: 48px;
  width: 48px;
}
.big-model .body .land_details table tr td:nth-child(2) {
  width: 90px;
  padding: 12px 16px;
}

.big-model .body .land_details table tr:nth-child(1) th:nth-child(3),
.big-model .body .land_details table tr:nth-child(1) th:nth-child(4) {
  width: 293.5px;
  padding: 12px 16px;
}

.big-model .body .land_details table tr td:nth-child(3),
.big-model .body .land_details table tr td:nth-child(4) {
  width: 293.5px;
  padding: 12px 16px;
}

.big-model .body .land_details table tr:nth-child(1) th:nth-child(5) {
  width: 331px;
  padding: 12px 16px;
}

.big-model .body .land_details table tr td:nth-child(5) {
  width: 331px;
  padding: 12px 16px;
}

// commodity table
.big-model .body .commodity table tr:nth-child(1) {
  padding: 12px 16px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  border-bottom: 1px solid var(--grey-300, #e0e0e0);
  border-top: 1px solid var(--grey-300, #e0e0e0);
}
.big-model .body .commodity table tr th {
  color: var(--grey-900, #212121);
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
.big-model .body .commodity table tr td {
  color: var(--grey-900, #212121);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.big-model .body .commodity table tr {
  border-top: 1px solid var(--grey-300, #e0e0e0);
}
.big-model .body .commodity table tr th:nth-child(1) {
  width: 201px;
  padding: 12px 16px;
}
.big-model .body .commodity table tr th:nth-child(2),
.big-model .body .commodity table tr th:nth-child(3),
.big-model .body .commodity table tr th:nth-child(4) {
  width: 293px;
  padding: 12px 16px;
}

.big-model .body .commodity table tr td:nth-child(1) {
  width: 201px;
  padding: 12px 16px;
}

.big-model .body .commodity table tr td:nth-child(2),
.big-model .body .commodity table tr td:nth-child(3),
.big-model .body .commodity table tr td:nth-child(4) {
  width: 293px;
  padding: 12px 16px;
}

.big-model .body .file-container {
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  align-items: center;
  margin-right: 8px;
}
.big-model .body .file-container button {
  height: 48px;
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  border: 1.6px solid var(--blue-800, #3d79a9);
  background: var(--blue-50, #e6f4fa);
  color: var(--blue-800, #3d79a9);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}
.big-model .body .status-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0;
}
.file-container {
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  align-items: center;
}
.big-model .body .file-upload-text {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  color: #212121;
}
.big-model .body .uploaderror {
  color: #c53e37;
}
.big-model .body .added {
  color: #469c4c;
}
.big-model .body .status-para {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  color: #666;
}
.big-model .body .intraction-container {
  display: flex;
  gap: 10px;
}
.intraction {
  display: flex;
  align-items: center;
  justify-content: center;
}
.big-model .body .intraction button {
  color: #2c5a88;
  font-size: 13px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}
.big-model .body .intraction .vline {
  width: 2px;
  height: 20px;
  background: #e0e0e0;
  margin: 0 10px;
}
.big-model .body .status-text p:nth-child(1) {
  color: var(--grey-900, #212121);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.big-model .body .status-text p:nth-child(2) {
  color: var(--grey-700, #666);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.big-model .body button .bi {
  font-size: 20px;
  font-weight: bold;
}
.big-model .body ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.big-model .body ul li {
  padding: 12px;
}
.big-model .body ul li:nth-child(odd) {
  background: var(--grey-50, #fafafa);
}
.big-model .body ul li .name {
  color: var(--grey-900, #212121);
  font-family: Mukta;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding: 0;
  margin: 0;
  line-height: 22px; /* 137.5% */
}
.big-model .body ul li .status {
  color: var(--grey-700, #666);
  padding: 0;
  margin: 0;
  font-family: Mukta;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 138.462% */
}

.big-model .body .vertical_line {
  height: 360px;
  width: 1px;
  background: var(--grey-300, #e0e0e0);
}
.big-model .body form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.big-model
  .body
  .mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined)
  .mat-mdc-form-field-infix {
  padding-top: 16px;
}
.big-model .body .mat-mdc-form-field-subscript-wrapper {
  display: none;
}
.big-model .body .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background: var(--blue-50, #e6f4fa);
  height: 48px;
}
///p///

.big-model .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #e6f4fa;
}
.big-model .mdc-text-field--disabled .mdc-text-field__input {
  color: #5f4747;
}

.big-model .mat-mdc-select-disabled .mat-mdc-select-value {
  color: #5c4242;
}

.big-model
  .body
  .mat-mdc-form-field:not(.mat-form-field-no-animations)
  .mdc-floating-label {
  margin-top: 1px;
  font-size: 17px;
}

.big-model .footer {
  height: 74px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 16px 20px;
  gap: 16px;
  border-top: 1px solid var(--grey-300, #e0e0e0);
}
.big-model .footer .right {
  display: flex;
  gap: 16px;
}
.big-model .footer .cancel {
  height: 42px;
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  border: 1.6px solid var(--blue-800, #3d79a9);
  background: var(--blue-50, #e6f4fa);
  color: var(--blue-800, #3d79a9);
  text-align: center;
  font-family: Mukta;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}
.big-model .footer .send {
  height: 42px;
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  border: 1.6px solid var(--red-900, #ab2d25);
  background: var(--red-50, #fcecee);
  color: var(--red-900, #ab2d25);
  text-align: center;
  font-family: Mukta;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}
.big-model .footer .submit {
  height: 42px;
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--blue-800, #3d79a9);
  color: var(--grey-0, #fff);
  text-align: center;
  font-family: Mukta;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  border: none;
  outline: none;
}

.status-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}
.approval-container .body .apply-button-danger {
  display: flex;
  width: 45px;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--blue-800, #c51d17);
  color: var(--grey-0, #fff);
  text-align: center;
  font-family: Mukta;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  border: none;
  outline: none;
}
.pop-up-form {
  width: 100%;
  height: 1000%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.pop-up-form .add-container {
  display: flex;
  flex-direction: column;
  //   padding: 20px;
  width: 653px;
  height: 522px;
  background-color: white;
  border-radius: 8px;
}
.pop-up-form .add-container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  width: 100%;
  border-bottom: 1px solid var(--grey-300, #e0e0e0);
  padding: 0 20px;
}
.pop-up-form .add-container .header p {
  color: var(--grey-900, #212121);
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
  padding: 12px 0px;
}
.pop-up-form .add-container .header button {
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
}
.pop-up-form .add-container .header .bi {
  font-size: 20px;
  display: inline-block;
  height: 20px;
  color: #2c5a88;
}
.pop-up-form .add-container .body {
  display: flex;
  justify-content: space-between;
  padding: 16px 20px;
}
.pop-up-form .add-container .body .left {
  width: 260px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.pop-up-form .add-container .body .left button {
  width: 100%;
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  background: var(--blue-800, #3d79a9);
  color: var(--grey-0, #fff);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  border: none;
  outline: none;
}
.pop-up-form .add-container .body .left button .bi {
  font-size: 20px;
  font-weight: bold;
}
.pop-up-form .add-container .body .left ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  height: 295px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.pop-up-form .add-container .body .left ul::-webkit-scrollbar {
  width: 0; /* Width of the scrollbar */
}
.pop-up-form .add-container .body .left ul::-webkit-scrollbar-thumb {
  background-color: transparent; /* Color of the thumb (the moving part) */
}
.pop-up-form .add-container .body .left ul li {
  padding: 12px;
  height: 59px;
  cursor: pointer;
}
.pop-up-form .add-container .body .left ul li:nth-child(odd) {
  //background: var(--grey-50, #fafafa);
  background: var(--grey-100, #f5f5f5);
}
.pop-up-form .add-container .body .left ul li .name {
  color: var(--grey-900, #212121);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding: 0;
  margin: 0;
  line-height: 22px; /* 137.5% */
}
.pop-up-form .add-container .body .left ul li .status {
  color: var(--grey-700, #666);
  padding: 0;
  margin: 0;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 138.462% */
}
.pop-up-form .add-container .body .vertical_line {
  height: 360px;
  width: 1px;
  background: var(--grey-300, #e0e0e0);
}
.pop-up-form .add-container .body .right {
  width: 328px;
}
.pop-up-form .add-container .body .right form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.pop-up-form .add-container .body .right form .active-switch {
  display: flex;
  //justify-content: space-between;
  align-items: center;
  //  padding: 8px 16px;
}
.pop-up-form .add-container .body .right form .active-switch p {
  color: #414244;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.pop-up-form
  .add-container
  .body
  .right
  .mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined)
  .mat-mdc-form-field-infix {
  padding-top: 11px;
}
.pop-up-form .add-container .body .right .mat-mdc-form-field-subscript-wrapper {
  display: none;
}
.pop-up-form
  .add-container
  .body
  .right
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background: var(--blue-50, #e6f4fa);
  height: 48px;
}

.pop-up-form
  .add-container
  .body
  .right
  .mdc-text-field--disabled
  .mdc-text-field__input {
  color: #5f4747;
}

.pop-up-form
  .add-container
  .body
  .right
  .mat-mdc-form-field:not(.mat-form-field-no-animations)
  .mdc-floating-label {
  margin-top: -3px;
}
.pop-up-form .add-container .footer {
  height: 74px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 16px 20px;
  gap: 16px;
  border-top: 1px solid var(--grey-300, #e0e0e0);
}
.pop-up-form .add-container .footer .cancel {
  height: 42px;
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  border: 1.6px solid var(--blue-800, #3d79a9);
  background: var(--blue-50, #e6f4fa);
  color: var(--blue-800, #3d79a9);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}
.pop-up-form .add-container .footer .submit {
  height: 42px;
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--blue-800, #3d79a9);
  color: var(--grey-0, #fff);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  border: none;
  outline: none;
}

.pop-up-form .add-container .footer .send {
  height: 42px;
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  border: 1.6px solid var(--red-900, #ab2d25);
  background: var(--red-50, #fcecee);
  color: var(--red-900, #ab2d25);
  text-align: center;
  font-family: Mukta;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}

.popup-section {
  height: calc(100vh + 100px);
  // width: 100%;
  overflow: hidden;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.switch {
  /* switch */
  --switch-width: 46px;
  --switch-height: 24px;
  --switch-bg: #e0e0e0;
  --switch-checked-bg: #3d79a9;
  --switch-offset: calc((var(--switch-height) - var(--circle-diameter)) / 2);
  --switch-transition: all 0.2s cubic-bezier(0.27, 0.2, 0.25, 1.51);
  /* circle */
  --circle-diameter: 18px;
  --circle-bg: #fff;
  --circle-shadow: 1px 1px 2px rgba(146, 146, 146, 0.45);
  --circle-checked-shadow: -1px 1px 2px rgba(163, 163, 163, 0.45);
  --circle-transition: var(--switch-transition);
  /* icon */
  --icon-transition: all 0.2s cubic-bezier(0.27, 0.2, 0.25, 1.51);
  --icon-cross-color: var(--switch-bg);
  --icon-cross-size: 6px;
  --icon-checkmark-color: var(--switch-checked-bg);
  --icon-checkmark-size: 10px;
  /* effect line */
  --effect-width: calc(var(--circle-diameter) / 2);
  --effect-height: calc(var(--effect-width) / 2 - 1px);
  --effect-bg: var(--circle-bg);
  --effect-border-radius: 1px;
  --effect-transition: all 0.2s ease-in-out;
}

.switch input {
  display: none;
}

.switch {
  display: inline-block;
}

.switch svg {
  -webkit-transition: var(--icon-transition);
  -o-transition: var(--icon-transition);
  transition: var(--icon-transition);
  position: absolute;
  height: auto;
}

.switch .checkmark {
  width: var(--icon-checkmark-size);
  color: var(--icon-checkmark-color);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.switch .cross {
  width: var(--icon-cross-size);
  color: var(--icon-cross-color);
}

.slider {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: var(--switch-width);
  height: var(--switch-height);
  background: var(--switch-bg);
  border-radius: 999px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-transition: var(--switch-transition);
  -o-transition: var(--switch-transition);
  transition: var(--switch-transition);
  cursor: pointer;
  border: 1.6px solid var(--grey-700, #666);
}

.slider .circle {
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  background: #666;
  border-radius: inherit;
  -webkit-box-shadow: var(--circle-shadow);
  box-shadow: var(--circle-shadow);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: var(--circle-transition);
  -o-transition: var(--circle-transition);
  transition: var(--circle-transition);
  z-index: 1;
  position: absolute;
  left: var(--switch-offset);
}

.slider::before {
  content: "";
  position: absolute;
  width: var(--effect-width);
  height: var(--effect-height);
  left: calc(var(--switch-offset) + (var(--effect-width) / 2));
  background: var(--effect-bg);
  border-radius: var(--effect-border-radius);
  -webkit-transition: var(--effect-transition);
  -o-transition: var(--effect-transition);
  transition: var(--effect-transition);
}

/* actions */

.switch input:checked + .slider {
  background: var(--switch-checked-bg);
  border: none;
}
.switch input:checked + .slider .circle {
  background: #fff;
}

.switch input:checked + .slider .checkmark {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.switch input:checked + .slider .cross {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.switch input:checked + .slider::before {
  left: calc(
    100% - var(--effect-width) - (var(--effect-width) / 2) -
      var(--switch-offset)
  );
}

.switch input:checked + .slider .circle {
  left: calc(100% - var(--circle-diameter) - var(--switch-offset));
  -webkit-box-shadow: var(--circle-checked-shadow);
  box-shadow: var(--circle-checked-shadow);
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: var(--blue-50, #e6f4fa);
}

.toast-success {
  background-color: #fff !important;
}

.toast-success::after {
  content: "\f00c" !important;
  font-family: "FontAwesome" !important;
  position: absolute !important;
  top: 14px !important;
  left: 15px !important;
  color: #333 !important;
  font-size: 1.5em !important;
}

.toast-title {
  color: purple !important;
  font-size: 16px !important;
}

.toast-message {
  color: #171616 !important;
}
