.card .body {
  display: flex;
  flex-direction: column;
  float: right;
  padding-top: 0;
  margin-top: -25px;
}
.apply-button-danger {
  display: flex;
  width: 81px;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--blue-800, #c51d17);
  color: var(--grey-0, #fff);
  text-align: center;
  font-family: Mukta;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  border: none;
  outline: none;
}
.example-button-row {
  display: flex;
  justify-content: center;
  align-self: center;
}
.submit {
  height: 42px;
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--blue-800, #3d79a9);
  color: var(--grey-0, #fff);
  text-align: center;
  font-family: Mukta;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  border: none;
  outline: none;
}
.cancel {
  height: 42px;
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  border: 1.6px solid var(--blue-800, #3d79a9);
  background: var(--blue-50, #e6f4fa);
  color: var(--blue-800, #3d79a9);
  text-align: center;
  font-family: Mukta;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}
.big-model {
  width: 1000px;
}
.margin_615 {
  margin-left: 615px;
}
