<form [formGroup]="qcParameterdetails">
  <div class="big-model">
    <mat-dialog-content>
      <div class="header accordian">
        <p class="fas fa-angle-down example-accordion-item-description">
          <strong
            >Quality Parameter Details<span
              class="fas fa-angle-down example-accordion-item-description"
            >
            </span
          ></strong>
        </p>
      </div>

      <div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" role="region">
          <div class="row clearfix">
            <div class="card">
              <div class="body">
                <div
                  class="table-responsive"
                  formArrayName="qc_parameter_details"
                >
                  <table
                    id="tableExport1"
                    class="display table table-hover table-checkable order-column m-t-20 width-per-100 table-bordered"
                  >
                    <caption></caption>
                    <thead>
                      <tr>
                        <th style="text-align: center">Quality Parameter</th>

                        <th style="text-align: center" *ngIf="range">Range</th>

                        <th style="text-align: center">Actual Value</th>
                      </tr>
                    </thead>
                    <tbody class="main_tbody">
                      <tr
                        *ngFor="
                          let dynamic of formArrQcp['controls'];
                          let j = index
                        "
                        [formGroupName]="j"
                      >
                        <td class="col_input">
                          <mat-form-field class="example-full-width">
                            <mat-label>Quality Parameter</mat-label>
                            <mat-select
                              formControlName="item_quality_parameter_ref_id"
                            >
                              <mat-option
                                *ngFor="let obj of qualityData"
                                [value]="obj.item_quality_parameter_ref_id"
                                >{{ obj.master_key }}</mat-option
                              >
                            </mat-select>
                          </mat-form-field>
                        </td>
                        <td
                          class="col_input"
                          *ngIf="formArrQcp.controls[j].get('range')?.value"
                        >
                          <mat-form-field class="example-full-width">
                            <mat-label>Range </mat-label>
                            <input
                              matInput
                              formControlName="range"
                              placeholder="Range"
                            />
                          </mat-form-field>
                        </td>

                        <td class="col_input">
                          <mat-form-field class="example-full-width">
                            <mat-label>Actual Value </mat-label>
                            <input
                              matInput
                              formControlName="actual_value"
                              min="0"
                              (change)="actual_value_change()"
                              required
                              type="number"
                              placeholder="Actual Value"
                            />
                            <mat-error
                              *ngIf="
                                formArrQcp.controls[j]
                                  .get('actual_value')
                                  ?.hasError('pattern')
                              "
                              >Actual Value Should Be Positive Number
                            </mat-error>
                            <mat-error
                              *ngIf="
                                formArrQcp.controls[j]
                                  .get('actual_value')
                                  ?.hasError('required')
                              "
                              >Actual Value is Required.</mat-error
                            >
                          </mat-form-field>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <form [formGroup]="qcParameterdetails">
                <div class="row clearfix">
                  <div class="col-md-3">
                    <div class="body" *ngIf="range">
                      <tr class="margin_615">
                        <td></td>
                        <td></td>
                        <td
                          class="col_input"
                          style="width: 310px; padding-right: 10px"
                        >
                          <mat-form-field class="example-full-width">
                            <mat-label>Total Weight Of Sample </mat-label>
                            <input
                              matInput
                              formControlName="total_weight_sample"
                              readonly
                              type="number"
                              placeholder="Total Weight Of Sample"
                            />
                          </mat-form-field>
                        </td>
                      </tr>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="body" style="text-align: center">
        <div class="example-button-row">
          <button class="submit" *ngIf="submitBtn" (click)="onSubmit()">
            Ok
            <i class="fa fa-spinner fa-spin" *ngIf="showLoader"></i>
          </button>

          <button class="cancel" (click)="onCancelForm()">Cancel</button>
        </div>
      </div>
      <mat-dialog-content> </mat-dialog-content
    ></mat-dialog-content>
  </div>
</form>
