<ng-container *ngIf="!submitBtn">
  <div style="margin-left: 10px">
    <button *ngIf="previewImage1" (click)="openImage(lrAttachmentUrl)">
      Download<mat-icon>download</mat-icon>
    </button>
  </div>
</ng-container>

<div class="d-flex" *ngIf="submitBtn">
  <label class="custom-file-upload mx-8">
    <div class="file-container">
      <div class="btn-container">
        <button type="button" mat-raised-button (click)="fileInput.click()">
          {{ Fileplaceholder }} {{ field.field_label }}
          <br />
        </button>
        <input
          hidden
          (change)="setAttachment($event)"
          #fileInput
          type="file"
          id="file"
          accept=".png, .jpg, .pdf"
        />
      </div>
    </div>
  </label>
  <div class="status-text">
    <div>
      <div class="intraction-container">
        <p class="file-upload-text m-0 p-0">
          <span *ngIf="!previewImage1 && !previewImageType1"
            >No File Uploaded</span
          >
          <span *ngIf="previewImage1 && previewImageType1">{{ fileName }}</span>
        </p>
        <div class="intraction">
          <button
            *ngIf="previewImage1 && previewImageType1"
            (click)="openImage(lrAttachmentUrl)"
          >
            View
          </button>
          <span class="vline" *ngIf="previewImage1 && previewImageType1"></span>
          <button
            *ngIf="previewImage1 && previewImageType1"
            (click)="removeImage()"
          >
            Remove
          </button>
        </div>
      </div>
    </div>

    <p class="m-0 status-para p-0">
      <span class="added" *ngIf="uploadStatus">File uploaded successfully</span>
      <span *ngIf="!fileName">Formats allowed: .png, .jpg, .pdf</span>
    </p>
  </div>
</div>
