<section class="content">
  <div class="approval-container">
    <div class="header">
      <p>
        <strong>{{ screenName }}</strong>
      </p>
    </div>

    <app-calendar-details
      *ngIf="showList === false"
      [rowData]="rowData"
      (handleSave)="handleSave($event)"
      (handleCancel)="handleCancel($event)"
      [submitBtn]="submitBtn"
      [showLoader]="showLoader"
      [screenName]="screenName"
    >
    </app-calendar-details>

    <div class="body" [hidden]="listDiv">
      <div class="interaction">
        <button
          class="new_employee"
          *ngIf="sidebarData.write_access === 'Y'"
          (click)="showFormList(false)"
          matTooltip="ADD"
        >
          + Add New {{ screenName }}
        </button>
        <div class="end">
          <div class="search">
            <i class="bi bi-search"></i>
            <input
              type="text"
              placeholder="Search in table"
              type="text"
              #filter
              class="browser-default search-field"
              aria-label="Search box"
            />
          </div>
          <button
            mat-mini-fab
            class="btn btn-primary small-button"
            style="background-color: #2c5a88 !important"
            (click)="refresh()"
          >
            <mat-icon class="col-white">refresh</mat-icon>
          </button>
          <button (click)="exportExcel()">
            <img src="assets/usedimg/excel_icon.png" alt="" /> Download Excel
          </button>
        </div>
      </div>
    </div>
    <div class="data_table pb-2" [hidden]="listDiv">
      <div class="mat-elevation-z8">
        <table
          mat-table
          #table
          [dataSource]="dataSource"
          matSort
          class="mat-cell"
        >
          <ng-container matColumnDef="view">
            <th mat-header-cell *matHeaderCellDef class="width-2">
              <strong>View</strong>
            </th>
            <td mat-cell *matCellDef="let row">
              <button
                *ngIf="sidebarData.read_access === 'Y'"
                class="btn tblActnBtn h-auto"
                (click)="editViewRecord(row, false)"
                matTooltip="VIEW"
              >
                <i class="bi bi-eye"></i>
              </button>
            </td>
          </ng-container>
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>
              <strong>Edit</strong>
            </th>
            <td mat-cell *matCellDef="let row">
              <button
                *ngIf="sidebarData.write_access === 'Y'"
                class="btn tblActnBtn h-auto"
                (click)="editViewRecord(row, true)"
              >
                <i class="bi bi-pencil"></i>
              </button>
            </td>
          </ng-container>
          <ng-container matColumnDef="calendar_type_id_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <strong>Calendar Type</strong>
            </th>
            <td
              mat-cell
              *matCellDef="let row"
              (contextmenu)="onContextMenu($event, row)"
            >
              <span class="mobile-label">Calendar Type:</span
              >{{ row.master_key }}
            </td>
          </ng-container>
          <ng-container matColumnDef="fiscal_year">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <strong>Fiscal Year</strong>
            </th>
            <td
              mat-cell
              *matCellDef="let row"
              (contextmenu)="onContextMenu($event, row)"
            >
              <span class="mobile-label">Fiscal Year:</span
              >{{ row.fiscal_year }}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <div
          *ngIf="!exampleDatabase?.isTblLoading"
          class="no-results"
          [style.display]="dataSource.renderedData.length === 0 ? '' : 'none'"
        >
          No results
        </div>
        <mat-paginator
          #paginator
          showFirstLastButtons
          [length]="dataSource.filteredData.length"
          [pageIndex]="0"
          [pageSize]="10"
          [pageSizeOptions]="[5, 10, 25, 50, 100]"
          aria-label="Select page of periodic elements"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</section>
