.switch-container {
  display: flex; /* Use flexbox to arrange children in a row by default */
  align-items: center; /* Center children vertically within the container */
  //margin-top: 10px; /* Add some top margin for spacing, adjust as needed */
}

.switch-container label {
  //  margin: 0 10px; /* Add some horizontal margin to the labels for spacing, adjust as needed */
}

.switch-container .switch {
  margin: 0 10px; /* Add some horizontal margin to the switch for spacing, adjust as needed */
}
