.marquee {
  background-color: #eaf7ec;
  height: 52px;
  color: #212121;
  font-size: 19px;
}

.farmers {
  border-radius: 8px;
  background: linear-gradient(283deg, #59abdd 0%, #5cbe63 100%);
}
.fpc {
  border-radius: 8px;
  background: linear-gradient(100deg, #458abc 0.01%, #66b7e1 100%);
}

.commodity {
  border-radius: 8px;
  background: linear-gradient(100deg, #469c4c 0.01%, #8cd392 100%);
}
.purchase {
  border-radius: 8px;
  background: linear-gradient(
    100deg,
    #c53e37 0%,
    #e35140 0%,
    #d6483d 0.01%,
    #d87975 100%
  );
}
.shortcut {
  border-radius: 8px;
  width: calc((100% - 32px) / 3);
  background-color: white;
  padding: 12px;
  gap: 4px;
}
.shortcut .img {
  // height: 36px;
  // width: 36px;
  // background-color: #e6f4fa;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.shortcut .text p:nth-child(1) {
  color: #2c5a88;
  font-size: 19px;
  font-weight: bold;
}
.shortcut .text p:nth-child(2) {
  font-size: 13px;
}

.footer {
  padding: 20px 0;
  background-color: white;
  gap: 16px;
  border-radius: 8px;
}

.footer .bi {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  height: 48px;
  width: 48px;
  color: black;
  background-color: #d9d9d9;
  padding: 8px;
  border-radius: 50%;
}
.footer p:nth-child(1) {
  font-size: 16px;
  font-weight: 400;
}
.footer p:nth-child(2) {
  font-size: 16px;
  font-weight: 700;
}
.footer p:nth-child(3) {
  font-size: 13px;
}

.content .registered {
  border-radius: 8px;
  background: linear-gradient(283deg, #59abdd 0%, #5cbe63 100%);
}
.content .approved {
  border-radius: 8px;
  background: linear-gradient(100deg, #458abc 0.01%, #66b7e1 100%);
}
.content .verified {
  border-radius: 8px;
  background: linear-gradient(100deg, #469c4c 0.01%, #8cd392 100%);
}
.content .sent-back {
  border-radius: 8px;
  background: linear-gradient(
    100deg,
    #c53e37 0%,
    #e35140 0%,
    #d6483d 0.01%,
    #d87975 100%
  );
}
.content .registered h6,
.content .approved h6,
.content .verified h6,
.content .sent-back h6 {
  color: #fff;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
  padding: 0;
}
.content .registered h2,
.content .approved h2,
.content .verified h2,
.content .sent-back h2 {
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 125% */
  margin: 0;
  padding: 0;
}
