<section class="content pb-3">
  <div class="hero">
    <img src="../../../assets/usedimg/homebg.png" alt="" />
    <div class="marquee d-flex align-items-center mt-2">
      <marquee direction="right"
        >Your Subscription will be renewed on 1st of November, you can change
        the plan or terminate the subscription.
      </marquee>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-sm-6">
      <div class="info-box7 order-info-box7 registered">
        <div class="info-box7-block">
          <h6 class="m-b-20">Total Orders</h6>
          <h2>
            <span
              >₹ {{ total_orders }}
              <span style="font-size: 14px" *ngIf="total_stock !== 0"
                >Lacs</span
              >
            </span>
          </h2>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-sm-6">
      <div class="info-box7 order-info-box7 approved">
        <div class="info-box7-block">
          <h6 class="m-b-20">Total Stock</h6>
          <h2>
            <span
              >₹ {{ total_stock }}
              <span style="font-size: 14px" *ngIf="total_stock !== 0"
                >Lacs</span
              ></span
            >
          </h2>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-sm-6">
      <div class="info-box7 order-info-box7 sent-back">
        <div class="info-box7-block">
          <h6 class="m-b-20">Total Sales</h6>
          <h2>
            <span
              >₹ {{ total_sales }}
              <span style="font-size: 14px" *ngIf="total_sales !== 0"
                >Lacs</span
              ></span
            >
          </h2>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-sm-6">
      <div class="info-box7 order-info-box7 verified">
        <div class="info-box7-block">
          <h6 class="m-b-20">Total Purchase</h6>
          <h2>
            <span
              >₹ {{ total_purchase }}
              <span style="font-size: 14px" *ngIf="total_purchase !== 0"
                >Lacs</span
              >
            </span>
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex flex-wrap" style="gap: 16px">
    <a class="shortcut d-flex align-items-center" href="/#/farmer">
      <div class="img">
        <i-feather name="user" class="sidebarIcon"></i-feather>
      </div>
      <div
        class="text d-flex justify-content-center align-items-center flex-column"
      >
        <p class="m-0 p-0">Farmer Registration</p>
      </div>
    </a>
    <a
      class="shortcut d-flex align-items-center"
      href="/#/purchase/purchase-order"
    >
      <div class="img">
        <i-feather name="shopping-cart" class="sidebarIcon"></i-feather>
      </div>
      <div
        class="text d-flex justify-content-center align-items-center flex-column"
      >
        <p class="m-0 p-0">Purchase Order</p>
      </div>
    </a>
    <a
      class="shortcut d-flex align-items-center"
      href="/#/report/finance/payable"
    >
      <div class="img">
        <i-feather name="file-text" class="sidebarIcon"></i-feather>
      </div>
      <div
        class="text d-flex justify-content-center align-items-start flex-column"
      >
        <p class="m-0 p-0">Payable Report</p>
        <p class="m-0 p-0">B2B Reports/FPC/FPO/Finance</p>
      </div>
    </a>
  </div>
  <div
    class="footer d-flex flex-column justify-content-center align-items-center mt-4"
  >
    <i class="bi bi-telephone"></i>
    <p class="m-0 p-0">Agdi India Helpline: 18006043021</p>
    <p class="m-0 p-0">
      Feel free to call us every Monday to Friday 9:00 AM to 7:00 PM (Toll Free)
    </p>
    <p class="m-0 p-0">© 2023, Agdi. All Rights Reserved</p>
  </div>
</section>
