<section class="content">
  <div class="approval-container">
    <div class="header">
      <p>
        <strong>{{ screenName }}</strong>
      </p>
    </div>

    <app-employee-details
      *ngIf="listDiv === true"
      [rowData]="rowData"
      (handleSave)="handleSave($event)"
      (handleCancel)="handleCancel($event)"
      [submitBtn]="submitBtn"
      [showLoader]="showLoader"
    >
    </app-employee-details>

    <div class="body">
      <div class="interaction" [hidden]="listDiv">
        <button
          class="new_employee btn-primary"
          style="background-color: #2c5a88 !important; padding: 8px"
          (click)="showFormList(false)"
          matTooltip="ADD"
          *ngIf="sidebarData.write_access === 'Y'"
        >
          + Add New {{ screenName }}
        </button>

        <div class="end">
          <div class="search">
            <i class="bi bi-search"></i>
            <input
              type="text"
              placeholder="Search in table"
              type="text"
              #filter
              class="browser-default search-field"
              aria-label="Search box"
            />
          </div>

          <div class="m-l-10" matTooltip="REFRESH">
            <button
              mat-mini-fab
              class="btn btn-primary"
              style="background-color: #2c5a88 !important"
              (click)="refresh()"
            >
              <mat-icon class="col-white">refresh</mat-icon>
            </button>
          </div>

          <button (click)="exportExcel()">
            <img src="assets/usedimg/excel_icon.png" alt="" /> Download Excel
          </button>
        </div>
      </div>
      <div class="data_table pb-2" [hidden]="listDiv">
        <div class="mat-elevation-z8">
          <table
            mat-table
            #table
            [dataSource]="dataSource"
            matSort
            class="mat-cell"
          >
            <ng-container matColumnDef="View">
              <th mat-header-cell *matHeaderCellDef class="width-2">
                <strong>view</strong>
              </th>
              <td mat-cell *matCellDef="let row">
                <button
                  *ngIf="sidebarData.read_access === 'Y'"
                  (click)="editViewRecord(row, false)"
                >
                  <i class="bi bi-eye"></i>
                </button></td
            ></ng-container>

            <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef>
                <strong>Edit</strong>
              </th>
              <td mat-cell *matCellDef="let row">
                <button
                  *ngIf="sidebarData.write_access === 'Y'"
                  class="btn tblActnBtn h-auto"
                  (click)="editViewRecord(row, true)"
                  matTooltip="EDIT"
                >
                  <i class="bi bi-pencil"></i>
                </button>
              </td>
            </ng-container>
            <ng-container matColumnDef="emp_name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>Employee Name</strong>
              </th>
              <td
                mat-cell
                *matCellDef="let row"
                (contextmenu)="onContextMenu($event, row)"
              >
                <span class="mobile-label">Employee Name:</span
                >{{ row.emp_name }}
              </td>
            </ng-container>
            <ng-container matColumnDef="designation">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>Designation</strong>
              </th>
              <td
                mat-cell
                *matCellDef="let row"
                (contextmenu)="onContextMenu($event, row)"
              >
                <span class="mobile-label">Designation:</span>
                {{ row.designation_name }}
              </td>
            </ng-container>
            <ng-container matColumnDef="department">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>Department</strong>
              </th>
              <td
                mat-cell
                *matCellDef="let row"
                (contextmenu)="onContextMenu($event, row)"
              >
                <span class="mobile-label">Department:</span>
                {{ row.department_name }}
              </td>
            </ng-container>
            <ng-container matColumnDef="phone">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>Mobile Number</strong>
              </th>
              <td
                mat-cell
                *matCellDef="let row"
                (contextmenu)="onContextMenu($event, row)"
              >
                <span class="mobile-label">Mobile Number:</span>
                {{ row.phone }}
              </td>
            </ng-container>
            <ng-container matColumnDef="role_name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>Maker/Checker</strong>
              </th>
              <td
                mat-cell
                *matCellDef="let row"
                (contextmenu)="onContextMenu($event, row)"
              >
                <span class="mobile-label">Maker/Checker:</span>
                {{ row.role_name }}
              </td>
            </ng-container>
            <!-- <ng-container matColumnDef="active">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>Status</strong>
              </th>
              <td
                mat-cell
                *matCellDef="let row"
                (contextmenu)="onContextMenu($event, row)"
              >
                <span class="mobile-label">Is Active:</span>
                {{ row.active }}
              </td>
            </ng-container> -->
            <ng-container matColumnDef="active">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>Status</strong>
              </th>
              <td
                mat-cell
                *matCellDef="let row"
                (contextmenu)="onContextMenu($event, row)"
              >
                <span class="mobile-label">Is Active:</span>
                <span
                  class="status-dot"
                  [ngStyle]="{
                    'background-color': getColorStatus(row.active)
                  }"
                >
                </span>
                {{ row.active }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedColumns"
              [style.cursor]="'pointer'"
              matRipple
            ></tr>
          </table>

          <mat-paginator
            #paginator
            showFirstLastButtons
            [length]="dataSource.filteredData.length"
            [pageIndex]="0"
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 50, 100]"
            aria-label="Select page of periodic elements"
          >
          </mat-paginator>
          <div
            *ngIf="!exampleDatabase?.isTblLoading"
            class="no-results"
            [style.display]="dataSource.renderedData.length === 0 ? '' : 'none'"
          >
            No results
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
