@media print {
    html, body {
      margin: 0;
      padding: 0;
      background: #FFF; 
      font-size: 7.5pt;
      margin-left: 50px;

    }
    #printButtonContainer {
        display: none;
    }


    
    .template { overflow: hidden; }
    img { width: 100%; }
    
    @page{
        size: A3
    }
  }

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

h2 {
    text-align: center;
    margin: 10px 0;
    color: #333;
    font-size: 24px;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    
}

table td, table th {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.side-by-side-tables {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}



.payment-modes {
    border-collapse: collapse;
    border: 1px solid #ccc;
    width: 100%;
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
}

.payment-modes td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.payment-modes td:not(:last-child) {
    margin-right: 10px;
}


table.one .label {
    width: 30%; 
    font-weight: bold;
    padding-right: 10px; 
    text-align: right; 
}

table.one .value {
    width: 20%; 
    padding: 5px;
}

table.one td {
    border: none;
    padding: 5px;
    margin-right: 20px; 
}

table.one tr {
    border: none;
    margin-bottom: 10px;
}

.table-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.small-table {
    width: 48%; 
    border-collapse: collapse;
}

.small-table td {
    padding: 5px; 
    border: 1px solid #ccc;
}



table.table-bordered td:nth-child(1) {
    width: 25%;
}

table.table-bordered td:nth-child(2) {
    width: 25%; 
}

table.table-bordered td:nth-child(3) {
    width: 25%; 
}
table.table-bordered td:nth-child(4) {
    width: 25%; 
}

.payment-details-table th:nth-child(1),
.payment-details-table td:nth-child(1) {
    width: 40%; 
}

.payment-details-table th:nth-child(2),
.payment-details-table td:nth-child(2) {
    width: 30%; 
}

.payment-details-table th:nth-child(3),
.payment-details-table td:nth-child(3) {
    width: 30%; 
}
////////////////////////////////////

.bordered-table {
    border-collapse: collapse;
    width: 100%;
    height: 200px; 
}

.bordered-table th,
.bordered-table td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}

.bordered-table th {
    background-color: #f0f0f0;
    font-weight: bold;
}
.bottom-line{
    height: 10px;
}

.invoice-border-table{
    height: 10px; 
    font-size: 12px;
    width: 50%;
    float: right;

}
.darker-border-table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #090101; 
  }

  .darker-border-table th, .darker-border-table td {
    border: 1px solid #090101; 
    padding: 8px;
    text-align: left;
  }

  .darker-border-table th {
    background-color: #f0f0f0;
    font-weight: bold;
  }