<section class="content">
  <div class="dashboard-container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2 col-sm-6">
          <div
            class="info-box7 order-info-box7 registered"
            style="
              height: 85%;
              width: 100%;
              display: flex;
              flex-direction: column;
            "
          >
            <div class="info-box7-block">
              <h6 class="m-b-20">Total Orders</h6>
              <h2>
                <span
                  >₹ {{ total_orders }}
                  <span style="font-size: 14px" *ngIf="total_stock !== 0"
                    >Lacs</span
                  >
                </span>
              </h2>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-sm-6">
          <div
            class="info-box7 order-info-box7 approved"
            style="
              height: 85%;
              width: 100%;
              display: flex;
              flex-direction: column;
            "
          >
            <div class="info-box7-block">
              <h6 class="m-b-20">Total Stock</h6>
              <h2>
                <span
                  >₹ {{ total_stock }}
                  <span style="font-size: 14px" *ngIf="total_stock !== 0"
                    >Lacs</span
                  ></span
                >
              </h2>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-sm-6">
          <div
            class="info-box7 order-info-box7 sent-back"
            style="
              height: 85%;
              width: 100%;
              display: flex;
              flex-direction: column;
            "
          >
            <div class="info-box7-block">
              <h6 class="m-b-20">Total Sales</h6>
              <h2>
                <span
                  >₹ {{ total_sales }}
                  <span style="font-size: 14px" *ngIf="total_sales !== 0"
                    >Lacs</span
                  ></span
                >
              </h2>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-sm-6">
          <div
            class="info-box7 order-info-box7 verified"
            style="
              height: 85%;
              width: 100%;
              display: flex;
              flex-direction: column;
            "
          >
            <div class="info-box7-block">
              <h6 class="m-b-20">Total Purchase</h6>
              <h2>
                <span
                  >₹ {{ total_purchase }}
                  <span style="font-size: 14px" *ngIf="total_purchase !== 0"
                    >Lacs</span
                  >
                </span>
              </h2>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-sm-6">
          <div
            class="info-box7 order-info-box7 approved"
            style="
              height: 85%;
              width: 100%;
              display: flex;
              flex-direction: column;
            "
          >
            <div class="info-box7-block">
              <h6 class="m-b-20">Farmer Registered</h6>
              <h2>
                <span>{{ farmer_count }}</span>
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <form [formGroup]="form">
      <div class="row d-flex">
        <div class="col-lg-6">
          <app-sales-purchase
            title="Sales"
            (filterClick)="togglePopup2($event)"
            (zoomClick)="togglePopup()"
            [legendData]="salesLegendData"
            [chartOptions]="bar_chart"
          ></app-sales-purchase>
        </div>
        <div class="col-lg-6">
          <app-sales-purchase
            title="Purchase"
            (filterClick)="togglePopup3($event)"
            (zoomClick)="togglePopup1()"
            [legendData]="purchaseLegendData"
            [chartOptions]="bar_chart1"
          ></app-sales-purchase>
        </div>
      </div>

      <div class="card farmer-status">
        <div class="header">
          <p>Gross Margin Analysis</p>
          <div class="icons">
            <div class="approval-container">
              <div class="body">
                <div class="interaction" style="padding: 0px 0px">
                  <div class="end">
                    <button (click)="exportExcel('GMA')">
                      <img src="assets/usedimg/excel_icon.png" alt="" />
                      Download Excel
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <h2>
                <strong class="col-orange" style="margin-top: 4%"
                  >Gross Margin Analysis</strong
                >
                <span class="right">
                  <i
                    class="fa fa-download fa-lg"
                    style="color: green"
                    aria-hidden="true"
                    (click)="exportExcel('GMA')"
                    matTooltip="XLSX"
                  ></i>
                </span>
              </h2>
            </div> -->
          <!--
            <div class="col-lg-4 col-md-2 col-sm-2 col-xs-2">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Select Item</mat-label>
                <mat-select
                  formControlName="route_ref_id"
                  (selectionChange)="onChange($event)"
                >
                  <mat-option [value]="type.id" *ngFor="let type of itemData">{{
                    type.key
                  }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div> -->
        </div>

        <div class="approval-container">
          <div class="data_table pb-2">
            <div>
              <table mat-table [dataSource]="dataSource2">
                <ng-container matColumnDef="sr.no">
                  <th mat-header-cell *matHeaderCellDef>
                    <strong style="font-size: 12px">Sr. No</strong>
                  </th>
                  <td mat-cell *matCellDef="let data; let i = index">
                    {{ i + 1 }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef>
                    <strong>Commodity Name</strong>
                  </th>
                  <td mat-cell *matCellDef="let data; let i = index">
                    {{ data.name }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="sales">
                  <th mat-header-cell *matHeaderCellDef>
                    <strong>Sales</strong>
                  </th>
                  <td mat-cell *matCellDef="let data; let i = index">
                    {{ getConvertedTo2Decimal(data.sales) }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="purchase_amount">
                  <th mat-header-cell *matHeaderCellDef>
                    <strong>Purchase</strong>
                  </th>
                  <td mat-cell *matCellDef="let data; let i = index">
                    {{ getConvertedTo2Decimal(data.purchase_amount) }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="closing_amount">
                  <th mat-header-cell *matHeaderCellDef>
                    <strong>Closing Stock</strong>
                  </th>
                  <td mat-cell *matCellDef="let data; let i = index">
                    {{ getConvertedTo2Decimal(data.closing_amount) }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="gross_marigin">
                  <th mat-header-cell *matHeaderCellDef>
                    <strong>Gross Margin</strong>
                  </th>
                  <td mat-cell *matCellDef="let data; let i = index">
                    {{ getConvertedTo2Decimal(data.gross_marigin) }}
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns1"
                ></tr>
              </table>
              <div
                class="no-results"
                [style.display]="dataSource2.data.length === 0 ? '' : 'none'"
              >
                No results
              </div>
              <mat-paginator
                [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons
                aria-label="Select page of periodic elements"
                [pageSize]="5"
                [length]="dataSource2.data.length"
              ></mat-paginator>
            </div>
          </div>
        </div>
      </div>
      <!-------- ----------------------------------------------------------------PURCHASE-TABLE------------------------------------------------------ -->

      <!-- <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="card">
            <div class="header">
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <h2>
                  <strong style="margin-top: 14%" class="font-18"
                    >Purchase</strong
                  >
                </h2>
              </div>
              <br />
              <div class="row clearfix">
                <div class="col-lg-4 col-md-2 col-sm-2 col-xs-2">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>Select Customer</mat-label>
                    <mat-select
                      formControlName="customer_ref_id"
                      (selectionChange)="onChange($event.value)"
                    >
                      <mat-option
                        [value]="type.id"
                        *ngFor="let type of customerData"
                        >{{ type.key }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-2 col-sm-2 col-xs-2">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>Select Item</mat-label>
                    <mat-select formControlName="item_ref_id">
                      <mat-option
                        [value]="type.id"
                        *ngFor="let type of itemData"
                        >{{ type.key }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="tableBody">
                <table class="table table-hover dashboard-task-infos">
                  <thead>
                    <tr>
                      <th class="dashboardtbl" style="text-align: center">
                        Sr. No
                      </th>
                      <th class="dashboardtbl" style="text-align: center">
                        Type
                      </th>
                      <th class="dashboardtbl" style="text-align: center">
                        Count
                      </th>
                      <th class="dashboardtbl" style="text-align: center">
                        Amount
                      </th>
                       <th class="dashboardtbl" style="text-align: center">
                        Trend (Compared with yesterday)
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let dynamic of dashboardTableSalesData; let i = index"
                      style="height: 70px"
                    >
                      <td
                        style="text-align: center; height: max-content"
                        class="font-15"
                      >
                        {{ i + 1 }}
                      </td>

                      <td style="text-align: center" class="font-15">
                        {{ dashboardTableSalesData[i]["type"] }}
                      </td>
                      <td style="text-align: center" class="font-15">
                        {{ dashboardTableSalesData[i]["count"] }}
                      </td>
                      <td style="text-align: center" class="font-15">
                        <div>
                          {{ dashboardTableSalesData[i]["amount"] }}
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="card">
            <div class="header">
              <div class="row">
                <h2 style="margin-left: 5px">Farmers</h2>

                <div class="body">
                  <div class="recent-report__chart" style="height: 370px">
                    <canvas
                      baseChart
                      class="chart"
                      [data]="pieChartData"
                      [type]="pieChartType"
                      [options]="pieChartsOption"
                    >
                    </canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </form>
  </div>
</section>

<div class="invoice_popup_modal override_edit_pop_up" *ngIf="ispopupOpened">
  <div class="invoice_popup_data">
    <div class="col-lg-12 invoices">
      <div class="card farmer-status">
        <div class="header">
          <p>Sales</p>
          <div class="icons">
            <!-- <div class="filter">
              <i class="bi bi-funnel"></i>
              <p class="p-0 m-0">Filters</p>
            </div> -->
            <!-- <span></span> -->
            <div class="approval-container">
              <div class="body">
                <div class="interaction" style="padding: 0px 0px">
                  <div class="end">
                    <button (click)="exportExcel('Sales')">
                      <img src="assets/usedimg/excel_icon.png" alt="" />
                      Download Excel
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <span></span>
            <div class="zoom">
              <button (click)="togglePopup()">
                <i class="bi bi-x-lg"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="custom-legend">
          <div class="legend-item d-flex flex-column">
            <div class="data">
              <div class="blue-color"></div>
              <div class="status">Count</div>
            </div>
          </div>
          <div class="legend-item d-flex flex-column">
            <div class="data">
              <div class="green-color"></div>
              <div class="status">Amount</div>
            </div>
          </div>
        </div>

        <div class="body overflow_model">
          <div echarts [options]="bar_chart" class="echart-height"></div>
        </div>
        <div class="data_table pb-2">
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
              <!-- Position Column -->
              <!-- <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let data">
                  <button (click)="togglePopup()">
                    <i class="bi bi-eye"></i>
                  </button>
                </td>
              </ng-container> -->

              <!-- Name Column -->
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef>
                  <strong>Type</strong>
                </th>
                <td mat-cell *matCellDef="let data">{{ data.type }}</td>
              </ng-container>

              <ng-container matColumnDef="count">
                <th mat-header-cell *matHeaderCellDef>
                  <strong>Count</strong>
                </th>
                <td mat-cell *matCellDef="let data">{{ data.count }}</td>
              </ng-container>

              <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef>
                  <strong>Amount</strong>
                </th>
                <td mat-cell *matCellDef="let data">{{ data.amount }}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>

            <!-- <mat-paginator
              [pageSizeOptions]="[5, 10, 20]"
              showFirstLastButtons
              aria-label="Select page of periodic elements"
              [pageSize]="5"
              [length]="dataSource.data.length"
            ></mat-paginator> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="invoice_popup_modal override_edit_pop_up" *ngIf="ispopupOpened1">
  <div class="invoice_popup_data">
    <div class="col-lg-12 invoices">
      <div class="card farmer-status">
        <div class="header">
          <p>Purchase</p>
          <div class="icons">
            <!-- <div class="filter">
              <i class="bi bi-funnel"></i>
              <p class="p-0 m-0">Filters</p>
            </div>
            <span></span>-->
            <div class="approval-container">
              <div class="body">
                <div class="interaction" style="padding: 0px 0px">
                  <div class="end">
                    <button (click)="exportExcel('Purchase')">
                      <img src="assets/usedimg/excel_icon.png" alt="" />
                      Download Excel
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <span></span>
            <div class="zoom">
              <button (click)="togglePopup1()">
                <i class="bi bi-x-lg"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="custom-legend">
          <div class="legend-item d-flex flex-column">
            <div class="data">
              <div class="blue-color"></div>
              <div class="status">Count</div>
            </div>
          </div>
          <div class="legend-item d-flex flex-column">
            <div class="data">
              <div class="green-color"></div>
              <div class="status">Amount</div>
            </div>
          </div>
        </div>

        <div class="body overflow_model">
          <div echarts [options]="bar_chart1" class="echart-height"></div>
        </div>
        <div class="data_table pb-2">
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource1">
              <!-- Position Column -->
              <!-- <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let data">
                  <button (click)="togglePopup1()">
                    <i class="bi bi-eye"></i>
                  </button>
                </td>
              </ng-container> -->

              <!-- Name Column -->
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef><strong>Type</strong></th>
                <td mat-cell *matCellDef="let data">{{ data.type }}</td>
              </ng-container>

              <ng-container matColumnDef="count">
                <th mat-header-cell *matHeaderCellDef>
                  <strong>Count</strong>
                </th>
                <td mat-cell *matCellDef="let data">{{ data.count }}</td>
              </ng-container>

              <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef>
                  <strong>Amount</strong>
                </th>
                <td mat-cell *matCellDef="let data">{{ data.amount }}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>

            <!-- <mat-paginator
              [pageSizeOptions]="[5, 10, 20]"
              showFirstLastButtons
              aria-label="Select page of periodic elements"
              [pageSize]="5"
              [length]="dataSource1.data.length"
            ></mat-paginator> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="" *ngIf="ispopupOpened2">
  <div
    class="filter_popup_modal"
    [style.left.px]="popupPosition.x"
    [style.top.px]="popupPosition.y"
  >
    <p>Filters</p>
    <button (click)="togglePopup2($event)">
      <i class="bi bi-x-lg"></i>
    </button>
  </div>
  <div
    class="filter_data1"
    [style.left.px]="popupPosition.x"
    [style.top.px]="popupPosition.y"
  >
    <form [formGroup]="form">
      <div class="form-field">
        <div class="approval-form">
          <mat-form-field>
            <mat-label>Select Customer</mat-label>
            <mat-select
              formControlName="customer_ref_id"
              (selectionChange)="onChange($event.value)"
            >
              <mat-select-filter
                [placeholder]="'Search'"
                [displayMember]="'key'"
                [array]="customerData"
                (filteredReturn)="filterCustomerData = $event"
              ></mat-select-filter>
              <mat-option
                [value]="type.id"
                *ngFor="let type of filterCustomerData"
                >{{ type.key }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field style="margin-top: 20px">
            <mat-label>Select Item</mat-label>
            <mat-select formControlName="s_item_ref_id">
              <mat-option [value]="'all'">All</mat-option>
              <mat-option [value]="type.id" *ngFor="let type of itemData">{{
                type.key
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>
    <div class="line"></div>
    <div class="row">
      <button class="clear margin-left-10" (click)="ClearFilter()">
        <i class="text">Clear all</i>
      </button>
      <button class="apply margin-left-10" (click)="ApplyFilter()">
        <i class="text1">Apply</i>
      </button>
    </div>
  </div>
</div>

<div class="" *ngIf="ispopupOpened3">
  <div
    class="filter_popup_modal"
    [style.left.px]="popupPosition1.x"
    [style.top.px]="popupPosition1.y"
  >
    <p>Filters</p>
    <button (click)="togglePopup3($event)">
      <i class="bi bi-x-lg"></i>
    </button>
  </div>

  <div
    class="filter_data1"
    [style.left.px]="popupPosition1.x"
    [style.top.px]="popupPosition1.y"
  >
    <form [formGroup]="form">
      <div class="form-field">
        <div class="approval-form">
          <mat-form-field>
            <mat-label>Select Supplier</mat-label>
            <mat-select
              formControlName="supplier_ref_id"
              (selectionChange)="onChange1($event.value)"
            >
              <mat-select-filter
                [placeholder]="'Search'"
                [displayMember]="'key'"
                [array]="supplierData"
                (filteredReturn)="filterSupplierData = $event"
              ></mat-select-filter>
              <mat-option
                [value]="type.id"
                *ngFor="let type of filterSupplierData"
                >{{ type.key }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field style="margin-top: 20px">
            <mat-label>Select Item</mat-label>
            <mat-select formControlName="p_item_ref_id">
              <mat-option [value]="type.id" *ngFor="let type of itemData">{{
                type.key
              }}</mat-option>
              <mat-option [value]="'all'">All</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>
    <div class="line"></div>
    <div class="row">
      <button class="clear margin-left-10" (click)="ClearFilter1()">
        <i class="text">Clear all</i>
      </button>
      <button class="apply margin-left-10" (click)="ApplyFilter1()">
        <i class="text1">Apply</i>
      </button>
    </div>
  </div>
</div>
