.dashboardtbl {
  text-align: left;
  // background-color: #00ac9ede;
  border: #029d4a;
  background-color: #029d4a;

  color: white;
}
.row {
  display: flex;
  justify-content: space-between;
}

.col-lg-2 {
  flex: 1;
  margin: 2px;
}

.dashboard-container .blue-color,
.invoice_popup_modal .blue-color {
  background-color: #66b7e1;
  height: 14px;
  width: 14px;
  border-radius: 50%;
}

.dashboard-container .green-color,
.invoice_popup_modal .green-color {
  background-color: #73c87a;
  height: 14px;
  width: 14px;
  border-radius: 50%;
}

.dashboard-container .red-color,
.invoice_popup_modal .red-color {
  background-color: #e05e56;
  height: 14px;
  width: 14px;
  border-radius: 50%;
}

.dashboard-container .registered {
  border-radius: 8px;
  background: linear-gradient(283deg, #59abdd 0%, #5cbe63 100%);
}
.dashboard-container .approved {
  border-radius: 8px;
  background: linear-gradient(100deg, #458abc 0.01%, #66b7e1 100%);
}
.dashboard-container .verified {
  border-radius: 8px;
  background: linear-gradient(100deg, #469c4c 0.01%, #8cd392 100%);
}
.dashboard-container .sent-back {
  border-radius: 8px;
  background: linear-gradient(
    100deg,
    #c53e37 0%,
    #e35140 0%,
    #d6483d 0.01%,
    #d87975 100%
  );
}
.dashboard-container .registered h6,
.dashboard-container .approved h6,
.dashboard-container .verified h6,
.dashboard-container .sent-back h6 {
  color: #fff;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
  padding: 0;
}
.dashboard-container .registered h2,
.dashboard-container .approved h2,
.dashboard-container .verified h2,
.dashboard-container .sent-back h2 {
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 125% */
  margin: 0;
  padding: 0;
}

.dashboard-container .farmer-status,
.invoice_popup_modal .farmer-status {
  display: flex;
  min-height: 50px;
  // height: 440px;
  padding: 16px;
  flex-direction: column;
  gap: 16px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--grey-0, #fff);
}
.dashboard-container .farmer-status .header,
.invoice_popup_modal .farmer-status .header {
  display: flex;
  padding: 4px 0px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.dashboard-container .farmer-status .header p,
.invoice_popup_modal .farmer-status .header p {
  color: var(--grey-900, #212121);
  font-family: Mukta;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
  padding: 0;
}

.dashboard-container .farmer-status .header .icons,
.invoice_popup_modal .farmer-status .header .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.dashboard-container .farmer-status .header .icons span,
.invoice_popup_modal .farmer-status .header .icons span {
  height: 20px;
  width: 2px;
  background-color: #9e9e9e;
}
.dashboard-container .farmer-status .header .icons .filter,
.dashboard-container .farmer-status .header .icons .zoom,
.invoice_popup_modal .farmer-status .header .icons .filter,
.invoice_popup_modal .farmer-status .header .icons .zoom {
  display: flex;
  color: var(--blue-900, #2c5a88);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  gap: 4px;
  padding: 6px;
  cursor: pointer;
}

.dashboard-container .farmer-status .header .icons .filter button,
.dashboard-container .farmer-status .header .icons .zoom button,
.invoice_popup_modal .farmer-status .header .icons .filter button,
.invoice_popup_modal .farmer-status .header .icons .zoom button {
  display: flex;
  color: var(--blue-900, #2c5a88);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  gap: 4px;
  padding: 6px;
  background-color: transparent;
  border: none;
  outline: none;
}

.dashboard-container .farmer-status .header .icons .filter p,
.dashboard-container .farmer-status .header .icons .zoom p,
.invoice_popup_modal .farmer-status .header .icons .filter p,
.invoice_popup_modal .farmer-status .header .icons .zoom p {
  display: flex;
  color: var(--blue-900, #2c5a88);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 137.5% */
}
// .dashboard-container .farmer-status .body{
//   height: 244px;
//   width: 244px;
// }

.dashboard-container .custom-legend,
.invoice_popup_modal .custom-legend {
  display: flex;
  align-items: center;
  gap: 24px;
}
.dashboard-container .custom-legend .data,
.invoice_popup_modal .custom-legend .data {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.dashboard-container .custom-legend .number,
.invoice_popup_modal .custom-legend .number {
  color: var(--grey-900, #212121);
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
}

.dashboard-container .custom-legend .legend-item:nth-child(1) .data .color,
.invoice_popup_modal .custom-legend .legend-item:nth-child(1) .data .color {
  border-radius: 50%;
  background-color: #66b7e1;
}
.dashboard-container .custom-legend .legend-item:nth-child(2) .data .color,
.invoice_popup_modal .custom-legend .legend-item:nth-child(2) .data .color {
  border-radius: 50%;
  background-color: #73c87a;
}

.dashboard-container .invoices .card,
.invoice_popup_modal .invoices .card {
  padding: 11px 20px;
}
.dashboard-container .invoices .card .button_filter,
.invoice_popup_modal .invoices .card .button_filter {
  display: flex;
  padding: 4px 0px;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}
.dashboard-container .invoices .card .button_filter span,
.invoice_popup_modal .invoices .card .button_filter span {
  height: 30px;
  width: 2px;
  background-color: #9e9e9e;
}
.dashboard-container .invoices .card .button_filter button,
.invoice_popup_modal .invoices .card .button_filter button {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 50px;
  border: 1px solid var(--blue-800, #3d79a9);
  outline: none;
  background: var(--blue-50, #e6f4fa);
}
.dashboard-container .invoices .card .button_filter .switch,
.invoice_popup_modal .invoices .card .button_filter .switch {
  color: var(--blue-800, #3d79a9);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  background: var(--blue-50, #e6f4fa);
  cursor: pointer;
  transition: background-color 0.3s;
}
.dashboard-container .invoices .card .button_filter .switch-on,
.invoice_popup_modal .invoices .card .button_filter .switch-on {
  color: var(--blue-50, #e6f4fa);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  background: var(--blue-800, #3d79a9);
}
.dashboard-container .procurement-data .footer .need {
  color: var(--grey-700, #666);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
}
.dashboard-container .procurement-data .footer .final {
  display: flex;
  align-items: center;
}
.dashboard-container .procurement-data .footer .final p:nth-child(1) {
  color: #353535;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}
.dashboard-container .procurement-data .footer .final p:nth-child(2) {
  color: #353535;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.dashboard-container .procurement-data .body p {
  width: auto;
  margin: 0;
  padding: 0;
  color: #353535;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.dashboard-container .procurement-data .body form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.dashboard-container .procurement-data .body .row {
  align-items: center;
}
.dashboard-container
  .procurement-data
  .body
  .row
  .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

// events carousel started
.dashboard-container .events {
  display: flex;
  // width: 316px;
  width: 100%;
  height: 100%;
  // padding: 16px;
  flex-direction: column;
  align-items: center;
  // gap: 16px;
  // flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
  position: relative;
}
.dashboard-container .events .body {
  padding: 16px;
}

.dashboard-container .events .carousel .controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
  position: absolute;
  bottom: 13px;
  left: 0;
}
.dashboard-container .events .carousel .carousel-control-prev,
.dashboard-container .events .carousel .carousel-control-next {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  // height: 50px;
  background-color: green;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: 1;
  transition: opacity 0.15s ease;
}

.dashboard-container .events .carousel .carousel-control-next-icon,
.dashboard-container .events .carousel .carousel-control-prev-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}
.dashboard-container .events .carousel .carousel-control-next-icon {
  background-image: url(../../../assets/usedimg/right.png);
}
.dashboard-container .events .carousel .carousel-control-prev-icon {
  background-image: url(../../../assets/usedimg/left.png);
}

.dashboard-container
  .events
  .carousel
  .carousel-inner
  .carousel-item
  .carousel_number {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.dashboard-container .events .carousel .carousel-inner .carousel-item .card {
  display: flex;
  gap: 16px;
  align-items: center;
  align-self: stretch;
}
.dashboard-container .events .header p {
  color: var(--grey-900, #212121);
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  padding-top: 16px;
  padding-left: 16px;
}
.dashboard-container
  .events
  .carousel
  .carousel-inner
  .carousel-item
  .top-details {
  width: 100%;
  display: flex;
  padding: 8px 16px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 8px;
  background: var(--grey-50, #fafafa);
}
.dashboard-container
  .events
  .carousel
  .carousel-inner
  .carousel-item
  .top-details
  .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dashboard-container
  .events
  .carousel
  .carousel-inner
  .carousel-item
  .top-details
  .column
  .name {
  color: var(--grey-900, #212121);
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  padding: 0;
}
.dashboard-container
  .events
  .carousel
  .carousel-inner
  .carousel-item
  .top-details
  .column
  .number {
  color: var(--grey-900, #212121);
  text-align: center;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
  padding: 0;
}

.dashboard-container
  .events
  .carousel
  .carousel-inner
  .carousel-item
  .bottom-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.dashboard-container
  .events
  .carousel
  .carousel-inner
  .carousel-item
  .bottom-details
  .title {
  color: var(--grey-900, #212121);
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

.dashboard-container
  .events
  .carousel
  .carousel-inner
  .carousel-item
  .bottom-details
  .description {
  color: var(--m-3-ref-neutral-neutral-35, #505354);
  text-align: left;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.dashboard-container
  .events
  .carousel
  .carousel-inner
  .carousel-item
  .bottom-details
  .datetime {
  display: flex;
  gap: 8px;
}
.dashboard-container
  .events
  .carousel
  .carousel-inner
  .carousel-item
  .bottom-details
  .datetime
  p {
  color: var(--blue-900, #2c5a88);
  text-align: left;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
.dashboard-container
  .events
  .carousel
  .carousel-inner
  .carousel-item
  .bottom-details
  .location {
  color: var(--blue-900, #2c5a88);
  text-align: left;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}

// invoice popup modal
.invoice_popup_modal {
  width: 100%;
  // height: 100%;
  padding: 40px 0;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.invoice_popup_modal .invoice_popup_data {
  display: flex;
  flex-direction: column;
  //   padding: 20px;
  width: 1120px;
  // height: 522px;
  background-color: white;
  border-radius: 8px;
}
.invoice_popup_modal .invoice_popup_data .data_table table {
  width: 100%;
  border-collapse: collapse;
  color: var(--grey-900, #212121);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  box-shadow: none;
}

.invoice_popup_modal .invoice_popup_data .data_table table thead {
  height: 60px;
  border-top: 1px solid var(--grey-300, #e0e0e0);
  border-bottom: 1px solid var(--grey-300, #e0e0e0);
  background: var(--grey-100, #f5f5f5);
}

.invoice_popup_modal .invoice_popup_data .data_table table th {
  height: 60px;
  border-top: 1px solid var(--grey-300, #e0e0e0);
  border-bottom: 1px solid var(--grey-300, #e0e0e0);
  background: var(--grey-100, #f5f5f5);
}
.invoice_popup_modal .invoice_popup_data .data_table table th strong {
  color: var(--grey-900, #212121);
  font-family: Mukta;
  font-style: normal;
  font-weight: 700;
  line-height: 11.031px; /* 138.462% */
}
.dashboard-container .farmer-status .data_table table {
  width: 100%;
  border-collapse: collapse;
  color: var(--grey-900, #212121);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  box-shadow: none;
}

.dashboard-container .farmer-status .data_table table thead {
  height: 60px;
  border-top: 1px solid var(--grey-300, #e0e0e0);
  border-bottom: 1px solid var(--grey-300, #e0e0e0);
  background: var(--grey-100, #f5f5f5);
}

.dashboard-container .farmer-status .paginator {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  margin-right: 10px;
}
.dashboard-container .farmer-status .data_table .mat-mdc-text-field-wrapper {
  height: auto;
  flex: auto;
  background: var(--blue-50, #e6f4fa);
}
.dashboard-container .farmer-status .paginator div {
  margin-right: 20px;
}

.dashboard-container .farmer-status .paginator .pagination-icons {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.dashboard-container .farmer-status .paginator .pagination-icons span:hover {
  color: #101011;
}

.dashboard-container .farmer-status .data_table table th {
  height: 60px;
  border-top: 1px solid var(--grey-300, #e0e0e0);
  border-bottom: 1px solid var(--grey-300, #e0e0e0);
  background: var(--grey-100, #f5f5f5);
}
.dashboard-container .farmer-status .data_table table th strong {
  color: var(--grey-900, #212121);
  font-family: Mukta;
  font-style: normal;
  font-weight: 700;
  line-height: 11.031px; /* 138.462% */
}

.invoice_popup_modal .invoice_popup_data .data_table table button {
  border: none;
  outline: none;
  background: transparent;
  color: #2c5a88;
}

.popup-section {
  height: calc(100vh + 100px);
  // width: 100%;
  overflow: hidden;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}
.mat-elevation-z8,
.mat-mdc-elevation-specific.mat-elevation-z8 {
  box-shadow: none;
}

.override_edit_pop_up {
  height: 100vh;
  position: fixed;
  overflow: hidden;
}

.overflow_model {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

.filter_popup_modal {
  //   display: flex;
  // width: 248.765px;
  // padding: 11.481px 15.309px;
  // justify-content: space-between;
  // align-items: center;
  display: flex;
  width: 248.765px;
  padding: 11.481px 15.309px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  // top: 12%;
  // right: 0%;
  // transform: translate(-20%, -80%);
  //background-color: white;
  border-bottom: 0.957px solid var(--grey-300, #e0e0e0);
  background: var(--grey-0, #fff);
  border: 1px solid #ccc;
  // z-index: 1000;
}

.filter_data1 {
  display: flex;
  width: 248.765px;
  padding: 11.481px 15.309px 15.309px 15.309px;
  flex-direction: column;
  align-items: flex-start;
  gap: 15.309px;
  align-self: stretch;
  position: fixed;
  margin-top: 3%;
  // right: 0%;
  border-bottom: 0.957px solid var(--grey-300, #e0e0e0);
  background: var(--grey-0, #fff);
  border: 1px solid #ccc;
}

.filter_popup_modal p {
  color: var(--grey-900, #212121);
  font-family: Mukta;
  font-size: 18.179px;
  font-style: normal;
  font-weight: 700;
  line-height: 24.877px; /* 136.842% */
}

.filter_popup_modal button {
  background-color: transparent;
  //color: white;
  border: none;
  //outline: none;
}

.filter_data1 .form-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 11.481px;
  align-self: stretch;
}

.approval-form {
  padding: 0px 0px;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}
.filter_data1 .line {
  width: 217.191px;
  height: 0.957px;
  background: var(--grey-300, #e0e0e0);
}

.filter_data1 .clear {
  display: flex;
  width: 103.333px;
  padding: 9.568px 15.309px;
  justify-content: center;
  align-items: center;
  gap: 3.827px;
  border-radius: 7.654px;
  border: 1.531px solid var(--blue-800, #3d79a9);
  background: var(--blue-50, #e6f4fa);
}

.filter_data1 .clear .text {
  color: var(--blue-800, #3d79a9);
  text-align: center;

  /* m b */
  font-family: Mukta;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 137.5% */
}

.filter_data1 .apply {
  display: flex;
  width: 103.333px;
  padding: 9.568px 15.309px;
  justify-content: center;
  align-items: center;
  gap: 7.654px;
  border-radius: 7.654px;
  background: var(--blue-800, #3d79a9);
}

.filter_data1 .apply i {
  color: var(--grey-0, #fff);
  text-align: center;
  /* m b */
  font-family: Mukta;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 137.5% */
}

.margin-left-10 {
  margin-left: 10px;
}
.filter_data1 .form-field .dropdown {
  display: flex;
  padding: 0px 15.309px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 3.827px 3.827px 0px 0px;
  background: var(--blue-50, #e6f4fa);
}

.filter_data1 .form-field .dropdown .height {
  display: flex;
  height: 38.272px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1 0 0;
}
