.unpost_btn {
  margin: 0;
  display: flex;
  padding: 9px 12px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  border: 1.6px solid var(--red-900, #ab2d25);
  background: var(--red-50, #fcecee);
  color: var(--red-900, #ab2d25);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: 22px;
  border: none;
}
