<section class="content">
  <div class="approval-container">
    <div class="header">
      <h2>
        <p>{{ screenName }}</p>
      </h2>
    </div>

    <app-employee-expense-details
      *ngIf="listDiv === true"
      [rowData]="rowData"
      (handleSave)="handleSave($event)"
      (handleCancel)="handleCancel($event)"
      [submitBtn]="submitBtn"
      [showLoader]="showLoader"
      [screenName]="screenName"
    >
    </app-employee-expense-details>

    <div class="body" [hidden]="listDiv">
      <div class="interaction">
        <button
          class="new_employee"
          *ngIf="sidebarData.write_access === 'Y'"
          (click)="showFormList(false)"
          matTooltip="ADD"
        >
          + Add New {{ screenName }}
        </button>
        <div class="end">
          <div class="search">
            <i class="bi bi-search"></i>
            <input
              type="text"
              placeholder="Search in table"
              type="text"
              #filter
              class="browser-default search-field"
              aria-label="Search box"
            />
          </div>
          <button
            mat-mini-fab
            class="btn btn-primary small-button"
            style="background-color: #2c5a88 !important"
            (click)="refresh()"
          >
            <mat-icon class="col-white">refresh</mat-icon>
          </button>
          <button (click)="exportExcel()">
            <img src="assets/usedimg/excel_icon.png" alt="" /> Download Excel
          </button>
        </div>
      </div>
    </div>

    <div class="data_table pb-2" [hidden]="listDiv">
      <div class="mat-elevation-z8">
        <table
          mat-table
          #table
          [dataSource]="dataSource"
          matSort
          class="mat-cell"
        >
          <ng-container matColumnDef="view">
            <th mat-header-cell *matHeaderCellDef class="width-2">
              <strong>View</strong>
            </th>
            <td mat-cell *matCellDef="let row">
              <button
                *ngIf="sidebarData.read_access === 'Y'"
                (click)="editViewRecord(row, false)"
                class="btn tblActnBtn h-auto"
                matTooltip="VIEW"
              >
                <i class="bi bi-eye"></i>
              </button>
            </td>
          </ng-container>
          <ng-container matColumnDef="unpost">
            <th mat-header-cell *matHeaderCellDef>
              <strong>Unpost</strong>
            </th>
            <td mat-cell *matCellDef="let row">
              <button
                class="unpost_btn"
                (click)="Unpost(row)"
                *ngIf="
                  row.posting_status === 'Post' && row.is_user_generated == true
                "
              >
                Unpost
              </button>
            </td>
          </ng-container>

          <!-- <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef class="width-2">
              <strong>Edit</strong>
            </th>
            <td mat-cell *matCellDef="let row">
              <button
                *ngIf="sidebarData.write_access === 'Y'"
                class="btn tblActnBtn h-auto"
                (click)="editViewRecord(row, true)"
                matTooltip="EDIT"
              >
                <i class="bi bi-pencil"></i>
              </button>
            </td>
          </ng-container> -->

          <ng-container matColumnDef="transaction_date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <strong>Transaction Date</strong>
            </th>
            <td
              mat-cell
              *matCellDef="let row"
              (contextmenu)="onContextMenu($event, row)"
            >
              <span class="mobile-label">Transaction Date:</span>
              {{ row.transaction_date | date : "dd/MM/yyyy" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="transaction_ref_no">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <strong>Expense Booking Number</strong>
            </th>
            <td
              mat-cell
              *matCellDef="let row"
              (contextmenu)="onContextMenu($event, row)"
            >
              <span class="mobile-label">JV Number:</span>
              {{ row.transaction_ref_no }}
            </td>
          </ng-container>
          <ng-container matColumnDef="supplier_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <strong>Employee Name</strong>
            </th>
            <td
              mat-cell
              *matCellDef="let row"
              (contextmenu)="onContextMenu($event, row)"
            >
              <span class="mobile-label">Employee Name</span>
              {{ row.supplier_name }}
            </td>
          </ng-container>
          <ng-container matColumnDef="total_txn_amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <strong>Total Amount</strong>
            </th>
            <td
              mat-cell
              *matCellDef="let row"
              (contextmenu)="onContextMenu($event, row)"
            >
              <span class="mobile-label">Total Amount:</span>
              {{ row.total_txn_amount }}
            </td>
          </ng-container>
          <ng-container matColumnDef="posting_status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <strong>Posting Status</strong>
            </th>
            <td
              mat-cell
              *matCellDef="let row"
              (contextmenu)="onContextMenu($event, row)"
            >
              <span class="mobile-label">Posting Status:</span
              >{{ row.posting_status }}
            </td>
          </ng-container>
          <!-- <ng-container matColumnDef="txn_currency">
                   <mat-header-cell *matHeaderCellDef mat-sort-header
                     ><strong>Currency Name</strong>
                   </mat-header-cell>
                   <mat-cell
                     *matCellDef="let row"
                     (contextmenu)="onContextMenu($event, row)"
                   >
                     <span class="mobile-label">Currency Name:</span
                     >{{ row.currency_name }}</mat-cell
                   >
                 </ng-container>
                 
                  <ng-container matColumnDef="txn_currency_debit_amount">
                   <mat-header-cell *matHeaderCellDef mat-sort-header
                     ><strong>Total Transaction Debit Amount</strong>
                   </mat-header-cell>
                   <mat-cell
                     *matCellDef="let row"
                     (contextmenu)="onContextMenu($event, row)"
                   >
                     <span class="mobile-label">Total Transaction Debit Amount:</span
                     >{{ row.txn_currency_debit_amount }}</mat-cell
                   >
                 </ng-container>
 
                 <ng-container matColumnDef="txn_currency_credit_amount">
                   <mat-header-cell *matHeaderCellDef mat-sort-header
                     ><strong>Total Transaction Credit Amount</strong>
                   </mat-header-cell>
                   <mat-cell
                     *matCellDef="let row"
                     (contextmenu)="onContextMenu($event, row)"
                   >
                     <span class="mobile-label">Total Transaction Credit Amount:</span
                     >{{ row.txn_currency_credit_amount }}</mat-cell
                   >
                 </ng-container>
   
                   <ng-container matColumnDef="base_currency_debit_amount">
                   <mat-header-cell *matHeaderCellDef mat-sort-header
                     ><strong>Total Base Debit Amount</strong>
                   </mat-header-cell>
                   <mat-cell
                     *matCellDef="let row"
                     (contextmenu)="onContextMenu($event, row)"
                   >
                     <span class="mobile-label">Total Base Debit Amount:</span
                     >{{ row.base_currency_debit_amount }}</mat-cell
                   >
                 </ng-container>
 
                 <ng-container matColumnDef="base_currency_credit_amount">
                   <mat-header-cell *matHeaderCellDef mat-sort-header
                     ><strong>Total Base Credit Amount</strong>
                   </mat-header-cell>
                   <mat-cell
                     *matCellDef="let row"
                     (contextmenu)="onContextMenu($event, row)"
                   >
                     <span class="mobile-label">Total Base Credit Amount:</span
                     >{{ row.base_currency_credit_amount }}</mat-cell
                   >
                 </ng-container>
 
                 <ng-container matColumnDef="posting_status">
                   <mat-header-cell *matHeaderCellDef mat-sort-header
                     ><strong>Posting Status</strong>
                   </mat-header-cell>
                   <mat-cell
                     *matCellDef="let row"
                     (contextmenu)="onContextMenu($event, row)"
                   >
                     <span class="mobile-label">Posting Status:</span
                     >{{ row.posting_status }}</mat-cell
                   >
                 </ng-container> -->

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <div
          *ngIf="!exampleDatabase?.isTblLoading"
          class="no-results"
          [style.display]="dataSource.renderedData.length === 0 ? '' : 'none'"
        >
          No results
        </div>
        <mat-paginator
          #paginator
          showFirstLastButtons
          [length]="dataSource.filteredData.length"
          [pageIndex]="0"
          [pageSize]="10"
          [pageSizeOptions]="[5, 10, 25, 50]"
          aria-label="Select page of periodic elements"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</section>
