<section class="content">
  <div class="approval-container">
    <div class="header">
      <p>
        <strong>{{ screenName }}</strong>
      </p>
    </div>
    <div>
      <app-journal-voucher-details
        *ngIf="listDiv === true"
        [rowData]="rowData"
        (handleCancel)="handleCancel($event)"
        [submitBtn]="submitBtn"
        [showLoader]="showLoader"
        [screenName]="screenName"
      >
      </app-journal-voucher-details>
    </div>

    <div class="body" [hidden]="listDiv">
      <div class="top">
        <div class="search">
          <i class="bi bi-search"></i>
          <input
            type="text"
            placeholder="Search in table"
            name=""
            id=""
            (input)="searchField($event)"
          />
        </div>

        <div class="m-l-10" matTooltip="REFRESH">
          <button
            mat-mini-fab
            class="btn btn-primary"
            style="background-color: #2c5a88 !important"
            (click)="refresh()"
          >
            <mat-icon class="col-white">refresh</mat-icon>
          </button>
        </div>

        <button (click)="exportExcel()">
          <img src="assets/usedimg/excel_icon.png" alt="" /> Download Excel
        </button>
      </div>
      <div class="table-container">
        <div class="data_table">
          <table class="table table-hover dashboard-task-infos">
            <thead>
              <tr>
                <th style="text-align: center; font-size: 14px; color: black">
                  Actions
                </th>
                <th style="text-align: center; font-size: 14px; color: black">
                  Journal Voucher Booking Ref. No
                </th>
                <th style="text-align: center; font-size: 14px; color: black">
                  Transaction Date
                </th>
                <th style="text-align: center; font-size: 14px; color: black">
                  Ledger Group
                </th>
                <th style="text-align: center; font-size: 14px; color: black">
                  Fiscal Year
                </th>
                <th style="text-align: center; font-size: 14px; color: black">
                  Period
                </th>
                <th style="text-align: center; font-size: 14px; color: black">
                  Transaction Currency
                </th>
                <th style="text-align: center; font-size: 14px; color: black">
                  Conversion Rate
                </th>
                <th style="text-align: center; font-size: 14px; color: black">
                  Total Debit Transaction Amount
                </th>
                <th style="text-align: center; font-size: 14px; color: black">
                  Total Credit Transaction Amount
                </th>
                <th style="text-align: center; font-size: 14px; color: black">
                  Total Debit Amount
                </th>
                <th style="text-align: center; font-size: 14px; color: black">
                  Total Credit Amount
                </th>
                <th style="text-align: center; font-size: 14px; color: black">
                  Posting Status
                </th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let dynamic of reportData; let i = index">
                <tr>
                  <td class="actions-cell">
                    <button
                      style="text-align: center"
                      *ngIf="sidebarData.read_access === 'Y'"
                      class="btn tblActnBtn h-auto"
                      (click)="editViewRecord(dynamic, false)"
                      matTooltip="VIEW"
                    >
                      <!-- <em class="material-icons">visibility</em> -->
                      <i class="bi bi-eye"></i>
                    </button>
                  </td>

                  <td style="text-align: center; color: #000; font-size: 14px">
                    {{ reportData[i]["transaction_ref_no"] }}
                  </td>
                  <td style="text-align: center; color: #000; font-size: 14px">
                    {{ reportData[i]["transaction_date"] }}
                  </td>
                  <td style="text-align: center; color: #000; font-size: 14px">
                    <div>
                      {{ reportData[i]["ledger_group_name"] }}
                    </div>
                  </td>

                  <td style="text-align: center; color: #000; font-size: 14px">
                    <div>
                      {{ reportData[i]["fiscal_year"] }}
                    </div>
                  </td>
                  <td style="text-align: center; color: #000; font-size: 14px">
                    <div>
                      {{ reportData[i]["period"] }}
                    </div>
                  </td>
                  <td style="text-align: center; color: #000; font-size: 14px">
                    <div>
                      {{ reportData[i]["currency_name"] }}
                    </div>
                  </td>
                  <td style="text-align: center; color: #000; font-size: 14px">
                    <div>
                      {{ reportData[i]["conversion_rate"] }}
                    </div>
                  </td>
                  <td style="text-align: center; color: #000; font-size: 14px">
                    <div>
                      {{ reportData[i]["txn_currency_debit_amount"] | number }}
                    </div>
                  </td>
                  <td style="text-align: center; color: #000; font-size: 14px">
                    <div>
                      {{ reportData[i]["txn_currency_credit_amount"] | number }}
                    </div>
                  </td>
                  <td style="text-align: center; color: #000; font-size: 14px">
                    <div>
                      {{ reportData[i]["base_currency_debit_amount"] | number }}
                    </div>
                  </td>
                  <td style="text-align: center; color: #000; font-size: 14px">
                    <div>
                      {{
                        reportData[i]["base_currency_credit_amount"] | number
                      }}
                    </div>
                  </td>
                  <td style="text-align: center; color: #000; font-size: 14px">
                    <div>
                      {{ reportData[i]["posting_status"] }}
                    </div>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
      <div class="paginator">
        <div>
          <span style="font-size: 12px">Items Per Page:</span>&nbsp;
          <select
            id="itemsPerPage"
            [(ngModel)]="pageLimit"
            (change)="onPageSizeSelect()"
            style="
              font-size: 12px;
              width: 60px;
              background: #e6f4fa;
              height: 40px;
              border-radius: 5px;
              border: none;
            "
          >
            <option *ngFor="let size of pageSizes" [value]="size">
              {{ size }}
            </option>
          </select>
        </div>
        <div class="pagination-text" style="font-size: 12px">
          Page <span id="currentPage">{{ pageNumber }}</span>
        </div>
        <div class="pagination-icons">
          <app-feather-icons
            [icon]="'chevron-left'"
            (click)="prevPageClick()"
            [class]="'color-black'"
          ></app-feather-icons>
          <app-feather-icons
            [icon]="'chevron-right'"
            [class]="'color-black'"
            (click)="nextPageClick()"
          ></app-feather-icons>
        </div>
        <div class="loading-indicator" *ngIf="isLoading"></div>
      </div>
    </div>
  </div>
</section>
